[2016-05-25 18:36] phet-steele opened #444 "Isolated button on large screens"
@mattpen Large screens reveal a long lost button, hidden on the far left of the screen while submitting activities:

![strandbutton](https://cloud.githubusercontent.com/assets/5863899/15551871/27c9968a-2275-11e6-8490-9895ecaf4f12.PNG)

[2016-05-25 22:23] alynne-phet commented on #442
@mattpen I found another broken link on the same page:
- Inservice science teachers' views of a professional development workshop and their learning of force and motion concepts, Ramlo, S., Teaching and Teacher Education, 28(7), pp 928-935, 2012.
http://dx.doi.org/10.1016/j.tate.2012.04.002.

There is an extra "." at the end of the link: "002.". It should just be "002".

[2016-05-26 17:42] mattpen opened #445 "Send notification to Trusted Translators when new sim is published."
```ON: would it be possible to send an automatic email to trusted translators when a new sim is published to notify them? This might be easier that notifying via Rosetta?```

We could modify the simulation notifications to check if the user is a trusted translator rather than using the outdated receive-simulation-notifications field.

[2016-05-26 18:57] jonathanolson opened #446 "Discuss potential website "backup" based on httrack rip"
Let's discuss the feasibility of this approach sometime.

[2016-05-26 19:56] phet-steele opened #447 "Broken java licensing link"
This link for "Creative Commons....3.0 United State Licensing" and the link on the image below it should both be http://creativecommons.org/licenses/by/3.0/us/. Located here on the http://phet.colorado.edu/en/licensing/java page:
<img width="615" alt="screen shot 2016-05-26 at 1 53 50 pm" src="https://cloud.githubusercontent.com/assets/5863899/15588050/50f2a66c-2349-11e6-839c-07aa0abcbaf3.png">

[2016-05-26 20:00] mattpen commented on #447
The link has been fixed and is ready for the next deploy

[2016-06-01 04:31] mattpen commented on #445
@ariel-phet - Can you please assign a priority?

[2016-06-01 04:34] ariel-phet commented on #445
I am going with medium. This seems like a nice feature, and my impression was that it would not be too difficult to implement.

[2016-06-01 05:07] mattpen commented on #443
@jonathanolson - Do you have an opinion on how the field should be initialized?  Would this work?
[code]
Or should everyone be null for now?

[2016-06-01 05:15] mattpen commented on #430
The videos and links have been removed from the new server.  [Example](https://phet-new.colorado.edu/en/teaching-resources)

@ariel-phet Do we need to apply these changes to figaro as well, or is it ok to close this issue?

[2016-06-01 05:29] mattpen commented on #445
@jonathanolson - I changed the query for sim notification recipients to search for trusted translators.  Is there any way to test this from simian without sending out mass emails?

[2016-06-01 05:50] ariel-phet commented on #430
No need to apply to figaro as well. Closing

[2016-06-01 05:50] #430 closed

[2016-06-01 17:30] phet-steele opened #448 "Update website translation instructions"
This paragraph found at https://phet.colorado.edu/en/for-translators/website that reads:
<img width="935" alt="screen shot 2016-06-01 at 10 19 05 am" src="https://cloud.githubusercontent.com/assets/5863899/15718881/a3fe57a2-27ea-11e6-9e08-3bf9828ca160.png">

Change this *entire* sentence: "If you wish to make further changes or improvements, please create a new....."

To this: "If you wish to make

[2016-06-01 18:47] arouinfar commented on #303
@phet-steele here's the relevant issue.

[2016-06-01 20:14] phet-steele commented on #399
@mattpen I've emailed you some videos to upload :smile:, .ogv files coming later, but I'd like to get @ariel-phet's opinion when they are on phet-dev.

[2016-06-01 21:07] mattpen commented on #399
@phet-steele - Can you please send over the jpg's too please? We use these as a fallback as the videos are loading and for iphones/ipods.

[2016-06-01 21:31] phet-steele commented on #399
@mattpen jpg's sent.

[2016-06-02 04:05] jonathanolson commented on #419
@mattpen, this looks to still be an issue. It would be good to fix this when we sanitize things.

Additionally, the partial fix went live between February 24th and 28th according to history. For sanitization, we won't need an end-date for when to apply this fix for now.

[2016-06-02 05:41] jonathanolson commented on #445
The only way I've tested equivalent things has been overriding the list of emails (usually just me) and running it from figaro (email tests ideally should be done from there).

[2016-06-02 05:42] jonathanolson commented on #443
Presumably everyone would be null at the start.

[2016-06-02 06:01] jonathanolson commented on #416
@kathy-phet, just noticed that the year1 and year2plus fields were intended for meaning "first year of undergraduate university" and "after first year of undergraduate university".

Since these aren't visible in the current website interface, and I didn't see documentation, I (very incorrectly) assumed it was talking about age, and grouped them in the "elementary" category.

For the sanitization,

[2016-06-02 15:33] mattpen commented on #443
OK, I'll add this field to phet-dev today

[2016-06-02 18:10] mattpen commented on #399
@ariel-phet @phet-steele - The new videos are up on the home page at [phet-dev](http://phet-dev.colorado.edu).  Can you please check and let me know if anything needs to be changed?

Steele noticed the black bars on ESPB already and is working on re-recording

[2016-06-02 21:02] mattpen commented on #419
@jonathanolson - Line 718 has been fixed in this [feature branch](https://github.com/phetsims/website/tree/profile-updated-date-master), which is currently deployed to phet-dev.

[2016-06-02 21:06] mattpen commented on #443
@jonathanolson - This has been added in [this branch](https://github.com/phetsims/website/tree/profile-updated-date-master) and has been deployed to phet-dev.

[2016-06-03 17:24] ariel-phet commented on #399
Looking good except one minor tweak.

For most of the videos the phet logo is cutoff in the navbar slightly for example

![clip](https://cloud.githubusercontent.com/assets/4051174/15787103/a0e67c04-297d-11e6-9345-872890fc86a9.PNG)

it should look more like this (for some reason only ESPB is correct, and only on Chrome)

![clip 2](https://cloud.githubusercontent.com/assets/4051174/15787120/b4b80cc0

[2016-06-03 21:26] phet-steele commented on #399
@mattpen Videos remade and sent, along with jpg's.

[2016-06-04 03:43] mattpen commented on #416
@jonathanolson - "Romainia" and "Czeck" were corrected and Serbia, Kosovo, and Palestine were added.  This has been commited to master but not yet deployed.

[2016-06-04 03:59] mattpen commented on #416
@kathy-phet @ariel-phet - When we run the script to clean up the phet database, there is a chance that some of the changes we make could be erased or corrupted if one of the users whose account is being corrected logs in and tries to edit their profile at the same time.

Would it be ok to disable logins on the main site while we run the sanitization script? It would likely be a 1-2 hour period whi

[2016-06-04 04:07] mattpen commented on #416
@jonathanolson - There were 73 remaining users whose dateRegistered field was null.  I updated these to 2015-10-12

[2016-06-04 04:49] kathy-phet commented on #416
Definitely ok.

Sent from my iPhone

On Jun 3, 2016, at 9:59 PM, Matt Pennington <notifications@github.com<mailto:notifications@github.com>> wrote:

@kathy-phet<https://github.com/kathy-phet> @ariel-phet<https://github.com/ariel-phet> - When we run the script to clean up the phet database, there is a chance that some of the changes we make could be erased or corrupted if one of the users whose acc

[2016-06-04 05:26] mattpen commented on #399
@phet-steele - the new jpgs/mp4s are up on phet-dev.

[2016-06-06 14:10] ariel-phet commented on #416
@mattpen as to https://github.com/phetsims/website/issues/416#issuecomment-223734614 yes, you can definitely disable logins to run this script to avoid corrupt data, I would say doing this on an evening would be fine. Weekend evening preferable, but plain old evening this time of year should not be a big deal.

[2016-06-06 22:37] alynne-phet opened #449 "License spelled wrong on HTML5 licensing page"
In second paragraph, first sentence.
![image](https://cloud.githubusercontent.com/assets/19288972/15840089/bb8e4cd8-2c04-11e6-971e-8414ce700a04.png)

[2016-06-07 19:25] oliver-phet opened #450 "Hide comments and 'Comment on this Activity'"
@mattpen Can you please "hide" all comments and the 'Comment on this Activity' section on all activity pages? We have been getting a lot of flagrant comments recently and since this isn't a particularly helpful portion of the site we would like to remove it.

I'm assuming we can do this by just "hiding" all of that content from the site, without permanently removing it.
<img width="902" alt="scree

[2016-06-08 19:53] mattpen commented on #450
@oliver-phet - I applied this change on phet-dev.  See https://phet-dev.colorado.edu/en/contributions/view/3660 for an example.  If all looks good I can push this to figaro on the next deploy..

[2016-06-08 20:16] oliver-phet commented on #450
Thanks Matt, all looks good!

[2016-06-08 21:59] oliver-phet opened #451 "Help Center links not working?"
The video link in this question is not directing to youtube: http://phet.colorado.edu/en/help-center/running-sims/mac#q16-header

Is there something I'm doing wrong?

[2016-06-09 01:17] mattpen commented on #451
There was a missing equals sign.  It should be working now.

[2016-06-09 16:36] mattpen commented on #449
This has been fixed and is ready for deploy.

[2016-06-09 19:18] mattpen opened #452 "Facebook is using Hewlett logo as default image for some web pages"
We should set og:image to be the phet logo.  See http://phet.colorado.edu/en/licensing for example.

[2016-06-12 16:57] mattpen commented on #447
This was pushed to figaro today.  Closing.

[2016-06-12 16:58] mattpen commented on #450
@oliver-phet - This was deployed to figaro today.  Closing.

[2016-06-12 16:58] #450 closed

[2016-06-12 16:59] #447 closed

[2016-06-12 17:00] mattpen commented on #449
This was deployed today.  Closing.

[2016-06-12 17:00] #449 closed

[2016-06-12 17:02] mattpen commented on #437
@emily-phet - these changes were deployed to figaro today.  For now, if updates are every month or two we shouldn't need a separate admin page.  It would probably be good to add when this page is made translatable.

[2016-06-12 17:02] #437 closed

[2016-06-12 17:13] mattpen commented on #448
This was deployed to figaro, closing.

[2016-06-12 17:13] #448 closed

[2016-06-12 17:14] mattpen commented on #443
@jonathanolson - This was deployed to figaro today immediately before the sanitization script ran.

[2016-06-12 17:14] #443 closed

[2016-06-12 17:15] mattpen commented on #419
@jonathanolson - The second line has been fixed and deployed to figaro as of today.

[2016-06-12 17:15] #419 closed

[2016-06-12 17:18] mattpen commented on #416
@jonathanolson - The sanitization script was run today on figaro.

[2016-06-13 19:08] #451 closed

[2016-06-13 20:15] ariel-phet commented on #420
@mattpen pinging on this issue, seems like something we should address

[2016-06-14 04:50] mattpen commented on #420
The problem was caused by an incompatibility between edge and the version of jquery we are using.  I found a work around, but it would be nice to migrate to the latest version of jquery soon.

The work-around is ready for the next deploy.

[2016-06-14 20:31] oliver-phet commented on #438
To add information about Safari 10: http://www.macrumors.com/2016/06/14/safari-macos-sierra-plugins-disabled-default/

[2016-06-15 15:37] phet-steele commented on #399
@mattpen I like it, your turn @ariel-phet

[2016-06-15 16:42] ariel-phet commented on #399
I like it, looking good!

[2016-06-15 17:34] mattpen commented on #399
Alright,  I'll push the videos over when I deploy the changes to the rotator script.

[2016-06-15 21:21] oliver-phet opened #453 "Registration email has invalid link to blog"
Hello, [name]!

Thank you for creating an account on PhET's website! Your account is now active.

You can now submit activities, comment on activities, and translate the website.

For updates on PhET activities:
[Read our blog,](http://blog/)
[Join us on Facebook,](http://www.facebook.com/pages/PhET-Interactive-Simulations/161503243888932?v=wall) or
[Follow us on Twitter](http://twitter.com/PhETSi

[2016-06-16 16:35] mattpen commented on #453
Should the link to the blog just be removed since we are removing it from the new server?

[2016-06-16 16:36] ariel-phet commented on #453
Yes

[2016-06-16 17:11] mattpen commented on #453
Its been removed and is ready for the next deploy.

[2016-06-21 04:58] mattpen commented on #399
The new videos and category links were deployed to figaro tonight.

[2016-06-21 04:58] #399 closed

[2016-06-21 04:59] mattpen commented on #420
The fix was deployed to figaro tonight.  Due to caching, it will take some time for the functionality to start working over http, but it should be working over https now.

[2016-06-21 04:59] #420 closed

[2016-06-21 04:59] mattpen commented on #453
This was deployed to figaro tonight.

[2016-06-21 04:59] #453 closed

[2016-06-21 05:16] mattpen commented on #452
@ariel-phet - This should be fixed now.  You can check the new image and force Facebook to recrawl the page at the [Facebook OG debugger](https://developers.facebook.com/tools/debug/)

[2016-06-21 05:18] mattpen commented on #426
@ariel-phet - I posted twitter cards for the home page, a11y pages , and new/HTML5 sims pages.  If you want to change the images or text, it should be fairly easy now.  Please let me know.

[2016-06-28 04:07] mattpen commented on #297
Metadata API is in a stable state.  Further improvements will require versioning to maintain compatability with the phet-app.

[2016-06-30 17:13] amanda-phet commented on #149
This issue is no longer relevant. Closing.

[2016-06-30 17:13] #149 closed

[2016-06-30 18:16] mattpen opened #454 "Setup rosetta on phet-server-dev"
Install rosetta for testing on phet-server-dev, should point to the babel test branch.

[2016-07-01 15:32] ariel-phet commented on #426
@mattpen we should definitely tweak a few images, for instance, the homepage image looks like this:

![capture](https://cloud.githubusercontent.com/assets/4051174/16526345/03277688-3f6e-11e6-921f-26881d104a2d.PNG)

It would be good to use an image where the logo is fully visible (perhaps the image for the card just needs some negative space padding?) or needs to be resized?

I also think the follo

[2016-07-01 18:28] mattpen commented on #454
Rosetta is installed and running, but access is blocked because the server does not have a domain name yet

[2016-07-05 19:18] amanda-phet commented on #174
This does not seem to be an issue anymore. In the past week it seems that videos no longer open full-screen and instead open in a custom popup:
<img width="1090" alt="screen shot 2016-07-05 at 1 17 31 pm" src="https://cloud.githubusercontent.com/assets/7852916/16596826/de3738ac-42b2-11e6-90cb-e1f1ed2ab69c.png">

While we probably want to come up with a new design, this issue is no longer relevant.

[2016-07-05 19:18] #174 closed

[2016-07-07 16:02] mattpen commented on #426
@ariel-phet - I've uploaded the new images, they'll be available to test on the next deploy.

[2016-07-07 16:11] mattpen commented on #452
The images are still being refined in #426, but the default image has been replaced on most of the common pages and is working on FB and twitter.

[2016-07-07 16:11] #452 closed

[2016-07-12 00:14] amanda-phet commented on #228
Now that @zepumph is going to work with us again, perhaps he can work on this item?

I looked into [google search] (https://support.google.com/customsearch/answer/4513751?hl=en&ref_topic=4513742) a bit and it seems really easy to [implement] (https://support.google.com/customsearch/answer/4513903?hl=en&ref_topic=4513742).

[Try some searches] (https://cse.google.com/cse/publicurl?cx=01151296377103

[2016-07-12 06:00] mattpen commented on #228
@amanda-phet - I implemented the original request tonight using our existing toolset.  You can see it in action at https://phet-new.colorado.edu.  This is our new server that will be going online soon.  It should match the query "Frac" with "Build a Fraction" and the query "Base" with "Acid-Base Solutions"

Is this sufficient, or would you prefer to have the full Google search implemented instead?

[2016-07-12 16:07] ariel-phet commented on #228
@mattpen and @amanda-phet I think we would also want to discuss with @jonathanolson - he might have reasons for/against

[2016-07-12 17:56] arouinfar commented on #228
@amanda-phet I noticed that the Google custom search retrieves results that we wouldn't necessarily want displayed (like directories). These results were at the top of the 2nd page of results when I searched "fraction".

![image](https://cloud.githubusercontent.com/assets/8419308/16777620/763c8df4-4827-11e6-8ece-15e038d76c2f.png)

[2016-07-12 18:00] amanda-phet commented on #228
The thing that prompted me to think about this was when I was adding keywords for a new sim. The fact that these are "hard coded" just seems a little bit strange when a true search engine should mine the text on a sim page and the metadata. So, while there might be good reasons not to use Google, it might be difficult to make an equally powerful search engine ourselves.

Since @mattpen already wor

[2016-07-12 18:01] amanda-phet commented on #228
@arouinfar good point.

[2016-07-12 19:00] kathy-phet commented on #228
Just to chime in. Keywords are good to have as metadata though, for companies.

[2016-07-12 19:06] amanda-phet commented on #228
@kathy-phet of course.

Our current search functionality just treats "Line" and "Lines" (for example) as two different keywords when they should give the same search results.

[2016-07-12 19:57] amanda-phet commented on #385
@mattpen do you have time to look at this issue?

[2016-07-12 20:33] kathy-phet commented on #228
Ah, yes, I see.

[2016-07-12 21:58] phet-steele commented on #431
@mattpen the existing Java/Flash sims have been correctly sorted in phetsims/tasks/issues/642. If it doesn't take too long, can you see if what originally caused this might be repeated (bug) or if this was a one time occurrance? I'm mostly concerned about:

[2016-07-13 02:16] ariel-phet commented on #228
@mattpen said

Here are the top twenty search terms for the last 4 full weeks of May.  I used May because school was still in session.  This is counts of hits to the /search page according to Google Analytics.  If you need a more formal report, let me know.  The top search term is intentionally empty.

Here are the top twenty search terms for the last 4 full weeks of May.  I used May because schoo

[2016-07-14 20:18] mattpen commented on #385
@amanda-phet @phet-steele

I deployed a fix to [phet-new](https://phet-new.colorado.edu/en/simulation/area-builder).  I have blocked legacy sims from being displayed as related sims if there is a related HTML sim.  We will need to retain the relation between the legacy sims.  When viewing the page in a non-english locale, the website looks first for a translated HTML sim in the locale, then a tran

[2016-07-14 20:48] mattpen commented on #431
@phet-steele - I couldn't find any code that automatically adds categories when sims are deployed to figaro.  I tested adding and removing categories in various order from related HTML/Legacy sims and could not find a way to recreate this problem.  It appears to me to be an error that is not likely to reoccur, although we should double check the next time a ported sim is deployed.

[2016-07-15 03:07] mattpen commented on #454
Rosetta is now running and accessible via http.  It appears to be configured for use with the babel tests branch. The "babelBranch" value in `/home/phet-admin/.phet/build-local.json` is "tests".  This should be ready for testing, but it would be good if @jbphet could confirm first.

[2016-07-15 15:20] ariel-phet commented on #454
Also assigning myself to make sure this is on @jbphet radar

[2016-07-18 17:39] phet-steele opened #455 "HelpCenter could use a space"
@mattpen could you please put a space between "HelpCenter"?

![needaspace](https://cloud.githubusercontent.com/assets/5863899/16924352/13fdbcda-4cdc-11e6-908b-54a279e05289.PNG)

[2016-07-18 23:29] jbphet commented on #454
@mattpen - I think I know why translations are not being successfully submitted to babel, and why trying to submit them results in Not Found (404) errors.  When the user submits strings, the strings are sent to Rosetta using an HTTP post method, not a get method.  It looks like get methods are being forwarded to the IP port associated with Rosetta (16372 I believe), which is why we can log in and

[2016-07-19 02:18] mattpen commented on #454
@jbphet - That looks correct.  The varnish rule for passing the `/translate` route to rosetta was preceded by a rule that sent any POST request to tomcat.

I tried to change a string in chains, and in the web interface it appears successful:
![image](https://cloud.githubusercontent.com/assets/11747676/16936551/bcecc988-4d24-11e6-9a83-1553bfffc7d7.png)

But I instantly received an email regarding a

[2016-07-19 02:20] mattpen commented on #454
However, it appears the commit was successful: https://github.com/phetsims/babel/commit/00070672889a711484998d02aa84b5e6af3b19bf

[2016-07-19 03:57] mattpen commented on #426
@ariel-phet - The new images are now available for the twitter cards.  The logo image now fits within the borders of the image, however it does look a little pixelated.  Is it acceptable now?  If not, do we have a higher resolution copy of this image?  There isn't one stored on the website anywhere.

[2016-07-19 03:58] mattpen commented on #455
I fixed this on figaro.

[2016-07-19 03:58] #455 closed

[2016-07-19 15:26] ariel-phet commented on #426
@mattpen the accessibility card looks great.

Agreed about the PhET logo, and we should probably use black text for the tagline.

I would suggest this image

![phet_registered_logo](https://cloud.githubusercontent.com/assets/4051174/16955697/dd330978-4d92-11e6-8cd9-65800ce05811.png)

[2016-07-19 15:31] jbphet commented on #454
Definitely a step in the right direction.  Not that the POST issue is resolved, I'll see if I can figure out why the build fails.

[2016-07-19 15:32] ariel-phet commented on #426
And one odd thing. On the a11y card the text "moreabout" is one word instead of "more about"

![capture](https://cloud.githubusercontent.com/assets/4051174/16955938/b383631a-4d93-11e6-83b0-68faf6d5ae94.PNG)

[2016-07-19 19:30] amanda-phet commented on #228
@mattpen can we go ahead and deploy this? Seems to be working well.

[2016-07-19 19:53] amanda-phet commented on #228
Yes, we do want to continue to look into it, but we are still in the process of investigating whether we can qualify for non-profit pricing.

[2016-07-19 19:57] jbphet commented on #454
I fixed one of the reasons why the build was failing by doing a pull and restarting the build-server.

However, there is another issue related to permissions.  The problem is that if I do a pull from my account on phet-server, any new files are created with the ```facstaff``` group.  The build server runs under the phet-admin user, and phet-admin is not part of this group.  I looked on figaro to s

[2016-07-19 20:12] mattpen commented on #454
@jbphet - You are a member of the phet group but it appears that facstaff is your default on phet-server for some reason.  You will need to change your default group by adding the following line to your .bash_profile or .bashrc:

`newgrp phet`

I don't think there is a way to automatically do this for all PhET team members.  Alternatively I can add a cronjob for the root user that rewrites file ow

[2016-07-20 04:20] mattpen commented on #228
@amanda-phet - The new autocomplete function has been deployed to figaro.

[2016-07-20 04:21] mattpen commented on #426
@ariel-phet - The new image and the text for the A11Y pages should be fixed now.

[2016-07-20 17:53] amanda-phet commented on #228
Great! I'll keep myself assigned as we continue to investigate google search.

[2016-07-20 18:28] jbphet commented on #454
I tried ```newgrp phet```, but it didn't work as I expected.  In the ```.bashrc``` file it seems to have no effect.  In ```.bash_profile``` it appears to start a new shell without my usual shell commands.  I'll do some more investigating.

[2016-07-20 20:18] ariel-phet commented on #426
This is all looking good, and hitting all primary targets for twitter cards. Thanks @mattpen closing!

[2016-07-20 20:18] #426 closed

[2016-07-20 21:57] emily-phet opened #456 "Addition of New Teacher PD Videos"
There is a new suite of videos - designed specifically for middle school teachers - that will soon be completed. These will need to find a home on the PhET website, in the Teacher Resources area. @schasteen will be the contact for the videos. Is there someone she should be working with to figure out how they can best be incorporated into the existing Teacher Resources structure?

Also, there is a

[2016-07-20 22:37] ariel-phet commented on #456
@emily-phet is there a timeline by which these videos need to appear after completion?

[2016-07-20 22:43] emily-phet commented on #456
@ariel-phet - ideally they would be up in early August, allowing for folks a chance to find them as they prep for the school year. Also, we're not expecting anything fancy. As long as they are findable and it's obvious they are a suite of videos (some of the videos directly reference others in the same suite), that will probably be plenty good enough.

[2016-07-20 22:59] ariel-phet commented on #456
@schasteen please contact me when these are ready.

As for the Chemistry PD video I think we are going to find a way to feature this video.

[2016-07-21 04:39] mattpen commented on #454
Excerpts from email chain with @markmorlino  and Dylan Canfield (OIT - Unix)

On Wed, Jul 20, 2016 at 12:57 PM, Matthew Pennington <Matthew.Pennington@colorado.edu> wrote:
Is it possible to change the primary group on phet-server to be phet if a user is a member of that group?

On Wed, Jul 20, 2016 at 1:47 PM, Dylan Canfield <dylan.canfield@colorado.edu> wrote:
Your primary group ID is determined

[2016-07-21 04:40] mattpen commented on #454
I applied the group sticky bit to `/data/share/phet/phet-repos` using the method Dylan provided above.  As long as everyone sets their umask in .bashrc, this should work now.

[2016-07-21 22:00] jbphet commented on #454
I tested a submission of strings and a build with the updated permissions and it seems to have worked.  I think we are probably good on this for now, and then will do some final testing as soon as the cutover happens.

[2016-07-25 17:32] phet-steele commented on #385
@mattpen the legacy fix is working great, thanks! But the real stickler of this issue remains (I just tried on phet-new) and here's a flowchart of what happened. The underlined sim is the sim page, with the sims listed below being which sims appear in the "Related Simulations" header:
<img width="657" alt="screen shot 2016-07-25 at 11 25 53 am" src="https://cloud.githubusercontent.com/assets/58638

[2016-07-27 16:34] mattpen commented on #454
@jbphet - Do we need to have more extensive testing done by the QA team before the switch?

[2016-07-27 16:46] schasteen commented on #456
The videos are up, in a single playlist at https://www.youtube.com/playlist?list=PLU4AnY00Zrzq8bAwj9neZBWSrhvoYI8Bx.  Note that the "overview" video and "designing activities" are in this playlist, but are already on the PhET site.  That said, it might make sense to group together all the "PhET with K12 activities" videos.
Eventually we will also have a downloadable two-pager to go with each video

[2016-07-27 17:31] schasteen opened #457 "Subtitle new teacher PD videos in Amara"
There is a set of 9 new teacher PD videos that need to be subtitled in Amara.
The videos are up, in a single playlist at https://www.youtube.com/playlist?list=PLU4AnY00Zrzq8bAwj9neZBWSrhvoYI8Bx.

Here is the list that we have used for ensuring all videos are subtitled in Amara:
https://docs.google.com/spreadsheets/d/1nerH7pvMlq1PlL6a_tGA44svdjSI98JWRWHbXQWBncw/edit#gid=0
This also has some guideli

[2016-07-27 17:46] schasteen commented on #457
An addendum to this issue:  We have scripts that can be used as templates for the transcription (Amy H. has done this for the Primer transcriptions).  They are in the Phet-Storage account, Produced Videos / 3-Activities in K12 / Development files.  There is a folder for each video which has the final script.  The transcription is not perfectly exact but it is very close.

[2016-07-27 18:02] jbphet opened #458 "get build server fully operational on phet-server"
This is part of the effort to migrate from figaro to phet-server.

[2016-07-27 18:29] jbphet commented on #458
I did a little testing of this by virtue of working on the translation utility (see #454), and building a simulation worked.

[2016-07-27 19:07] mattpen commented on #458
One error discovered is that the npm install appears to be completing succesfully, but the node_modules directory is not actually created.

[2016-07-27 21:37] ariel-phet commented on #456
@schasteen thanks for having them up on youtube. We will take it from there!

[2016-07-27 21:38] ariel-phet commented on #228
Also assigning myself to check in with @jonathanolson if he sees any downsides to the google search option

[2016-07-27 22:23] jbphet commented on #458
Okay, I think I've figured out what's going on with ```npm install``` appearing to run but nothing being installed.  All of our ```package.json``` files use```devDependencies``` instead of ```dependencies``` to define the dependencies.  I tried temporarily changing these keys to ```dependencies``` instead, and it worked, i.e. the ```npm install``` actually installed the dependencies.  After lookin

[2016-07-27 22:51] jbphet commented on #458
After further investigation, the ```--only=dev``` flag wasn't working after all.  I thought that this may be because we have an older npm installation, so I tried using the previous flag, which is ```--dev```, and that caused issues with recursion in trying to install packages.  I think the real solution is to unset ```$NODE_ENV``` for the build server process.

[2016-07-27 22:55] jbphet commented on #458
The line:

is in the build-server.service file, so it looks like this was done intentionally.  @mattpen - what do we know about the history of this file?

[2016-07-27 23:14] jbphet commented on #458
I removed the line from the ```build-server.service``` file, and it made the ```npm install``` command work for perennial and chipper, but it got stuck part way through the process of installing in example-sim.  @mattpen said he may look at it tonight, so that's the next thing to investigate.  Otherwise, we'll pick it up here tomorrow.

[2016-07-28 02:45] mattpen commented on #458
@jbphet - The build-server init script on figaro also sets `NODE_ENV` to `'production'`.  It has the following notes in it regarding its creation:
[code]

I think Jake may be a member of the OIT unix team?

[2016-07-28 04:08] mattpen commented on #458
One of the errors stated that we had buffer overflow due to the -dd option on `npm install`.  I backed out that change and started to receive errors on missing grunt dependencies.  I purged the npm folders twice in the perennial, chipper and example-sim directories and afterward the deploy-rc build worked successfully.

[2016-07-28 15:16] jbphet commented on #458
@mattpen - What was experiencing the buffer overflow and how did you notice it?  I'd like to know for future reference if we ever have similar issues in the future.

[2016-07-28 15:31] mattpen commented on #458
It was from the email sent by build-server at 4:37PM yesterday:

`Build failed with error: error running command npm install -dd: Error: stderr maxBuffer exceeded..`

[2016-07-28 15:41] jbphet commented on #458
In response to https://github.com/phetsims/website/issues/458#issuecomment-235785837, I'm a little surprised that $NODE_ENV is set on figaro too, since we never ran into the problem with ```npm install``` there.  I may investigate this so that we're sure we've fully addressed this problem.

[2016-07-28 15:50] schasteen commented on #456
An addendum to this task.  I discussed with Kathy, and she recommends that we link the individual  Expert Recommendations on PhysPort to the appropriate pages in the Teacher area.  I know this area is being redesigned so perhaps these will be placeholders for the moment.  These are aimed at physics, primarily college but not exclusively.

Here are all the ER's:  https://www.physport.org/recommenda

[2016-07-28 15:51] jbphet commented on #454
I would say no, since there isn't much more that they can test.

[2016-07-28 16:14] mattpen opened #459 "Automated server reboots"
New Servers:
phet-server: Mon, Aug 8, 2016 at 11:00:00 PM
phet-cache1: Mon, Aug  8, 2016 at 11:00:00 PM
phet-cache2: Mon, Aug  8, 2016 at 11:00:00 PM

Old Servers:
figaro: Wed, Aug 10, 2016 at 11:00:00 PM
figaro-dev: Sun, Aug  7, 2016 at 11:00:00 PM

EDIT: Updated date for phet-cache1.

[2016-07-28 19:25] jbphet commented on #458
@mattpen and I did some testing on figaro and found that ```$NODE_ENV``` is definitely set for the build server process, but the behavior is different here than on phet-server: ```devDependencies``` are installed on figaro.  We tested this by removing the ```node_modules``` directory in example-sim, setting the ```-dd``` flag on the ```npm install``` command within build server (in order to see mo

[2016-07-28 19:42] jbphet commented on #458
After looking into this a bit, $NODE_ENV **should** be set to ```production``` for live applications in order to get the best performance (see https://expressjs.com/en/advanced/best-practice-performance.html).  So, ideally, we'd like to have it set for the build server, but setting it currently breaks the ```npm install``` step of the build process.

One alternative way to solve this problem is to

[2016-07-28 19:45] jbphet commented on #458
@samreid, @pixelzoom, and @jonathanolson - do you know why we use ```devDependencies``` instead of ```dependencies``` in our ```package.json``` files?

[2016-07-31 21:01] samreid commented on #458
According to http://stackoverflow.com/questions/18875674/whats-the-difference-between-dependencies-devdependencies-and-peerdependencies

dependencies are required to run, devDependencies only to develop

Since things like grunt are required to build our sims but not run our sims, I think this is why we came down on the side of devDependencies.

[2016-08-01 15:50] jbphet commented on #458
I think that makes sense in the context of what npm is usually used for, which is to install packages that are then used by NodeJS.  In that case, users don't want to have to install additional packages that they don't need to use the package that they want.  In our case, we have no intention of having people use npm to do anything other than set up the simulation in a way that it can be built.

O

[2016-08-01 15:54] jbphet commented on #458
Another alternative is to use an ```npm install``` command that explicitly specifies that ```devDependencies``` should be installed.  There is supposed to be a ```--dev``` flag, and I tried that, but ran into issues with it.  I found some articles on line about this, and apparently the flag is outdated, and the ```--only``` flag should be used now, but that didn't seem to work either.  The version

[2016-08-03 01:26] mattpen commented on #385
@phet-steele - I could not recreate this behavior on phet-new.  Which server did you try this on?  I'm assuming you mean the HTML5 version of pH: Scale, but please specify.

[2016-08-03 01:27] mattpen commented on #428
No new mixed content warnings have arisen.  Closing.

[2016-08-03 01:27] #428 closed

[2016-08-03 01:56] phet-steele commented on #385
Yes phet-new, and yes HTML5 of everything.

[2016-08-03 04:14] mattpen opened #460 "Use NCES data for School/Organization on Registration page"
From: Kathy Perkins
Date: Wed, Jul 13, 2016 at 11:42 AM
Subject: Fwd: Re: Demographic profile - still participating

As we consider what to do with the Profiles and data we ask from teachers, we should consider leveraging this database for US schools from NCES to tie teachers better to exact schools. This Demographic profiling team isn't going to be able to do a great job of matching up with schoo

[2016-08-03 04:17] mattpen commented on #460
I found sources for the NCES data, it appears that the private schools and public schools are separated into different reports.

[Private Schools](https://nces.ed.gov/surveys/pss/pssdata.asp)
[Public Schools](https://nces.ed.gov/ccd/pubschuniv.asp)

[2016-08-04 16:56] mattpen opened #461 "Make sure varnish health checks and notifications are running on the new servers"

[2016-08-04 16:58] mattpen opened #462 "Check performance changes between figaro and phet-server before and after switch."
Kathy recommended using NewRelic metrics.

[2016-08-04 17:41] jbphet commented on #458
Discussed in 8/4/2016 development meeting and decided that it's okay to run build-server in dev mode.  I should see if I can put comments in the systemd file to prevent someone from turning on production mode in the future.

[2016-08-08 17:04] mattpen commented on #461
I copied the scripts over to phet-cache1, removed the -u flag and adjusted the absolute paths as neccessary.  I also added Mark Morlino to email recipients.

Mark is going to add a systemd service and enable it so these will run automatically after reboots.

[2016-08-08 17:52] mattpen opened #463 "Automate update of low/high grade levels."
Currently, when new grade level categories are added on the Admin Sim page, the high/low grade level values in the database are not updated.  To update these values you have to press a link on the main page ( see image ).  This should be automated, especially in light of the use of these values by the phet-app, see phetsims/phet-app#139.

![image](https://cloud.githubusercontent.com/assets/1174767

[2016-08-09 03:42] mattpen commented on #463
The reset function on the admin page appears to be a result of complications in changing the grade level values during a hibernate session where the category set is changed.  As a work around, I added a reset function to the scheduler service, so that the metadata is never more than 6 hours out of date with the website.

This was deployed to phet-server, and should be in production by tomorrow.

[2016-08-09 03:42] #463 closed

[2016-08-09 05:20] mattpen commented on #459
figaro-dev reboot completed on Sunday evening.  Postgresql did not restart correctly and caused tomcat to fail, this was corrected by OIT.

phet-server, phet-cache1, and phet-cache2 were restart on Monday, all systems restarted automatically without error after the reboot.

[2016-08-09 05:20] mattpen commented on #461
The unit files were added and enabled tonight by Mark Morlino

[2016-08-09 05:20] #461 closed

[2016-08-09 22:57] mattpen commented on #459
NFS mount on phet-server did not mount correctly:

From `/var/log/messages`:
[code]

[2016-08-10 02:47] mattpen opened #464 "Activities using foreign alphabets not accessible."
Activitiy files with filenames in alternative alphabets are not accessible.  For example, activity 4004, https://phet.colorado.edu/services/download-servlet?filename=%2Factivities%2F4004%2FSENARIO-orfanos-%CE%B5%CF%80%CE%B9%CF%84%CE%AC%CF%87%CF%85%CE%BD%CF%83%CE%B7.doc.

Website error:
An error occured. The requested file was not found or you were not logged in. Try logging in and see if that fixe

[2016-08-10 03:42] kathy-phet commented on #464
Hi Matt, It seems like this could cause problems for the user. Are you just changing how we store it or are you changing what file name looks like on the activity webpage?
Kathy

Sent from my iPhone

On Aug 9, 2016, at 8:47 PM, Matt Pennington <notifications@github.com<mailto:notifications@github.com>> wrote:

Activitiy files with filenames in alternative alphabets are not accessible. For example,

[2016-08-10 14:37] mattpen commented on #464
@kathy-phet - I plan on only changing the name of the files as they are put in storage.  The database would still keep a record of the original name of the activity and would display that on the website.

The main difference from the users perspective is that when they download the activity files, the files themselves would have the new name.  Will this be a problem? If so I can look into rewritin

[2016-08-10 15:37] mattpen opened #465 "Vimeo primers are being cached as unavailable"
The vimeo primers are being cached and displayed as unavailable even if the user is signed in.  They should be converted to an ESI component built in varnish or enabled/disabled with client-side JS.

[2016-08-10 15:46] mattpen commented on #465
Some of the primers are available to users who are not signed in also, BASE for example.

[2016-08-10 15:50] phet-steele opened #466 "Licensing link returns a page that can't be found"
On https://phet.colorado.edu/en/licensing/java, the indicated link is either broken or dead:
<img width="620" alt="screen shot 2016-08-10 at 9 46 09 am" src="https://cloud.githubusercontent.com/assets/5863899/17560561/c65a4550-5edf-11e6-853b-4bf93cb50dba.png">

For phetsims/tasks/issues/670.

[2016-08-10 15:51] phet-steele commented on #466
It redirects to https://phet.colorado.edu/licensing/java.php

[2016-08-10 16:23] phet-steele opened #467 "Vietnamese translation credits are incorrect"
@mattpen, @samreid is credited for a Vietnamese translation of Bending Light. I'm willing to bet this incorrect, also since there is an actual translation credit for BL right above his in this screenshot:
<img width="651" alt="screen shot 2016-08-10 at 10 13 10 am" src="https://cloud.githubusercontent.com/assets/5863899/17561564/e5eada70-5ee3-11e6-9e00-8cbbd570d9a8.png">

For phetsims/tasks/issues

[2016-08-10 16:32] phet-steele opened #468 "Translation credits should check for visibility"
Hence this on the HTML5 translation credits page:
<img width="617" alt="screen shot 2016-08-10 at 10 22 16 am" src="https://cloud.githubusercontent.com/assets/5863899/17561951/ad59cb6a-5ee5-11e6-879d-f294c9c7a2df.png">

For phetsims/tasks/issues/670.

[2016-08-10 16:34] samreid commented on #467
I'm not too handy with Vietnamese at the moment, so this seems like an error.  I'm having a vague recollection that @jonathanolson and I used my account to test something for translations 10+ months ago and that something went wrong and @jonathanolson had to manually edit database entries.  That is about all I remember and I'm not sure if it is about this sim or not.

[2016-08-10 16:37] samreid commented on #467
I wonder if this might resolve itself when we deploy a new Bending Light in https://github.com/phetsims/bending-light/issues/351

[2016-08-10 17:50] mattpen commented on #465
I added some client-side JS code to check if the log-in-out ESI component is showing a username or not.  I've deployed the fix to ox-dev.colorado.edu and it appears to be working.

@phet-steele - Can you please confirm?

[2016-08-10 18:13] phet-steele commented on #465
@mattpen looks to be working for me. I can successfully unlock the primer when signing in, and it locks back up when signing out.

[2016-08-10 18:26] mattpen commented on #465
Thanks, I'll publish the fix tonight.

[2016-08-10 18:43] phet-steele opened #469 "RTL languages in the combo box are left aligned"
The language select combo box used to display RTL languages as right aligned. Now everything is left aligned. Should this be changed? The one that's highlighted should be right aligned:
<img width="263" alt="screen shot 2016-08-10 at 12 39 34 pm" src="https://cloud.githubusercontent.com/assets/5863899/17566218/c183ffae-5ef7-11e6-8737-d5fb92ed9295.png">

For phetsims/tasks/issues/670.

[2016-08-10 20:53] jbphet opened #470 "get installer builder working on phet-server"
The cutover from figaro to phet-server has occurred, and I am now working to get the installer builder working on the new server.  I have run into an issue with this: The installer-builder relies on being able to see the page at https://phet.colorado.edu/sims/html/, but that page is currently returning a 403 (forbidden) error.  This will need to be fixed for the installer to work.

[2016-08-10 21:18] mattpen commented on #470
I added `Options +Indexes` to `/sims/.htaccess`, it should be accessible now

[2016-08-10 21:43] phet-steele commented on #469
@mattpen says he has no control over this (without spending an eternity making his own combo box). It is browser and device dependent whether the text will be right or left aligned. The text above is right aligned on Win/Chrome, but not Mac/Chrome. Closing as won't fix.

[2016-08-10 21:43] #469 closed

[2016-08-10 22:10] samreid commented on #470
@jbphet said:

I can't think of anything.

[2016-08-10 22:10] samreid commented on #470
@jbphet can this issue be closed?

[2016-08-11 15:16] mattpen commented on #464
This is also affecting the installer-builder: https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/3705

[2016-08-11 15:36] jbphet commented on #470
I'm going to use this to track any issue that come up as I get the installer working, the one about the visibility of the links was just the first one I ran into.  So no, not ready to close this until the installer builder is fully tested and operational on the new server.

[2016-08-11 16:31] mattpen opened #471 "Sim "Report a problem" link is not decoding content"
@phet-steele  reported the following bug.

If you click on "Report a problem" in an HTML sim menu on phet.colorado.edu, the content is desplayed in http encoded format.

For example:
[code]

It should be showing up decoded, as follows:

[code]

[2016-08-11 17:19] jbphet opened #472 "Java sims not launching through JNLP"
After the switch to the new server, it appears that Java sims are not launching via the JNLP links.  On my Win 10 machine, I see the following dialog:

![jnlp-err](https://cloud.githubusercontent.com/assets/3082831/17597980/875fb2fa-5fb5-11e6-8883-cd20e8ff88dd.PNG)

[2016-08-11 17:29] oliver-phet commented on #472
MP is going to write an exception so that .jnlp paths aren’t redirected to https

[2016-08-11 17:49] jbphet commented on #472
After looking at the exceptions - specifically the part that mentions an "illegal redirect" - it looks like the issue is probably that the JNLP references an http location and the website currently redirects everything to https.

Below are screenshots of the exceptions, which can be seen when the user presses the "Details" button in the dialog above:

![jnlp-excp1](https://cloud.githubusercontent.

[2016-08-11 17:50] jbphet commented on #472
Assigning to @mattpen to set up an exception so that the references to the JNLP files aren't redirected.

[2016-08-11 18:28] mattpen commented on #472
We have added an exception that allows the .jnlp files over http, but the jnlp launches are now failing for the same reason for the .jar file itself.  We'll add .jar files to the SSL redirect exception too.

[2016-08-11 19:06] jbphet commented on #472
Over Skype, @jonathanolson said:

[2016-08-11 19:18] mattpen commented on #472
I added a rule to allow http access to the entire /sims directory, and the sims are now launching correctly.

[2016-08-11 19:38] mattpen commented on #472
Just my two cents .... It might not be a bad idea to go ahead and change the jnlp files so that they point https now, at least if the development effort required is not preventative.  Even if we leave the http exception in place for the foreseeable future, we may eventually want to require https for the entire site.

[2016-08-11 19:41] kathy-phet commented on #472
I agree with this, especially if it development effort is minimal -- e.g. run a script over the posted .jnlp files and change http to https?

[2016-08-11 20:47] jbphet commented on #472
Changing it on the existing .jnlp files is part of the solution, but we should keep in mind that the build tools for the Java sims, which are still in use for publishing translations, will also need to be updated to generate the correct links in the .jnlp files.  Probably not a huge deal, but we need to be sure that we don't neglect this.  We can potentially do it as part of the effort to make the

[2016-08-11 20:54] mattpen opened #473 "Duplicate ContributionFile entries"
There are some activities, such as https://phet.colorado.edu/en/contributions/view/3004, which have duplicate file entries.

![image](https://cloud.githubusercontent.com/assets/11747676/17604520/65c7ea04-5fd3-11e6-8dd5-43c078ee959e.png)

There are 2 entries in the database for the same filename.  There is only one file with that name on the server.  These DB entries should be cleaned up.

[2016-08-11 20:58] mattpen commented on #473
This needs to be fixed before proceeding with #464

[2016-08-11 21:11] jbphet commented on #472
Also, if we make the changes to the .jnlp files, we will need to look at the installer builder and see if it needs to be changed too, since it interprets and modifies the .jnlp files as part of the process of creating the installers.

[2016-08-11 22:07] phet-steele opened #474 "Can't check for sim updates in the installer"
@mattpen, HTML5 sims can't check for updates in the installer due to this error:

[code]

Not a huge problem, but I wanted to point it out.

[2016-08-11 22:12] kathy-phet commented on #474
I suspect this applies to any offline sim - including those individually downloaded. Can you test, Steele?

[2016-08-11 22:29] phet-steele commented on #474
@kathy-phet this error does not appear to be tied to offline sims. In fact, it only occurs when connected to the internet. I tried downloading an individual sim, and it worked just fine.

[2016-08-11 22:53] kathy-phet opened #475 "Language selection sorts alphabetically by English name, but displays translated name"
On the website front page (drop down menu). I think the language selection would be more intuitive if it sorted alphabetically by the translated language name. So espanol was under "E" not "S". Thoughts?

[2016-08-12 00:59] mattpen commented on #473
Duplicate entries:
[code]

[2016-08-12 01:17] mattpen commented on #473
I checked through the file storage for each of these activities and determined that they are all single files with duplicate DB entries.  I have removed the duplicated entries in the DB on phet-server.

[2016-08-12 01:22] mattpen opened #476 "DiskPageStore is occuring once every 1-5 seconds"
[code]

I'm investigating now.

[2016-08-12 04:14] mattpen commented on #472
Do we want to enforce https on the `/sims/html` directory?

[2016-08-12 04:24] mattpen commented on #476
This appears to have been caused by low disk space on /var.  Mark Morlino and reduced the verbosity of /var/log/messages and added additional disk space.  Afterwards, the DiskPageStore errors discontinued, but I'll leave this open to keep an eye on it for the next few days.

[2016-08-12 07:07] kathy-phet commented on #472
Will it redirect automatically if folks type http? If so, then I think yes, unless there is a downside I don't understand.

Some companies have said they require us to work with https.

Sent from my iPhone

On Aug 11, 2016, at 10:14 PM, Matt Pennington <notifications@github.com<mailto:notifications@github.com>> wrote:

Do we want to enforce https on the /sims/html directory?

-
You are receiving t

[2016-08-12 15:20] jbphet commented on #472
Marking for discussion in developer meeting to decide whether to make the java sims launch from https and, if so, who will do the work and when.

[2016-08-12 17:04] kdessau-PhET opened #477 "Add Promethean to Sponsor and Featured Sponsor at Gold Level"
@mattpen We need to add Promethean to our Gold Sponsor and in our Featured Sponsor Group. I will believe that the URL should be http://www.prometheanplanet.com/ but I will confirm.
Thanks.
![promethean logo](https://cloud.githubusercontent.com/assets/10424210/17630334/1ccfd100-607c-11e6-80cb-836fd894a25e.png)

[2016-08-12 20:08] mattpen opened #478 "Admin control panel is being cached on Contribution View pages"
This is similar to the caching issue in #465, although this needs to be solved with an ESI component instead of clientside JS.

[2016-08-12 20:11] mattpen commented on #478
Example: https://phet.colorado.edu/en/contributions/view/3286

![image](https://cloud.githubusercontent.com/assets/11747676/17635767/982d4656-6096-11e6-9d2c-04137b133f01.png)

[2016-08-13 04:42] mattpen commented on #473
Investigating this further, I found that there are no errors, warnings, or otherwise if you upload a file with a duplicate name.  So even though I've cleared the existing duplicates, there is nothing preventing more from being created.  Currently, the old file will get overwritten but a duplicate database entry will be created, so the website will show two links that both point to the new file.

[2016-08-13 12:53] oliver-phet commented on #473
Thanks Matt. Will put it on the list for website meeting.

[2016-08-16 02:40] samreid commented on #467
@mattpen or @jonathanolson can you report on this?  I'll be working on the Bending Light republishing shortly.

[2016-08-16 16:03] mattpen commented on #476
This error has not recurred.  Closing.

[2016-08-16 16:03] #476 closed

[2016-08-16 16:25] jonathanolson commented on #467
Presumably there's still an entry (or something) marking that translation. We should get rid of it.

I don't know the details of how that information is stored in the DB, I'll wait for @mattpen to respond.

[2016-08-16 16:26] jbphet commented on #470
There was an issue with the cron job that caused it to fail over the weekend.  I've fixed this and set it up to run overnight.

[2016-08-16 16:30] mattpen commented on #471
The strings appear to be URI encoded twice.  For example:

[code]

[2016-08-16 16:36] mattpen commented on #464
Regarding the encoding of the filename, `server.xml` on phet-server is missing `URIEncoding="UTF-8"` in the `connector`s.  This parameter is present on figaro, and appears to have been overlooked in the migration.  Adding this to the config on phet-server will require a reboot, and will solve the activity accessibility from the website itself, but not from the installer.

[2016-08-16 16:44] jonathanolson commented on #471
As noted in Skype chat, it looks like the server HTTP => HTTPS redirection is incorrectly adding an extra layer of escaping (url encoding).

[2016-08-16 16:56] jbphet commented on #470
The cron job last night succeeded, and @phet-steele downloaded and tested the OSX version and it worked fine and the date in the installer was correct.  However, the rebuild date on the web site itself wasn't updated.  Here is an annotated screenshot:

![installer-date](https://cloud.githubusercontent.com/assets/3082831/17707870/995df62c-639f-11e6-85dc-29e30c466f58.PNG)

In order to set this date,

[2016-08-16 17:03] oliver-phet commented on #475
This would be consistent with the [Translation Credits page](https://phet.colorado.edu/en/for-translators/translation-credits/by-locale) and [Translated sims page](https://phet.colorado.edu/en/simulations/translated)

[2016-08-16 17:52] mattpen commented on #471
I added the `NE` flag to the mod_rewrite rule for SSL redirection and restarted httpd.  The problem reports are no longer being encoded.

[2016-08-16 17:52] #471 closed

[2016-08-16 18:07] phet-steele commented on #134
@amanda-phet @ariel-phet sims should now have correctly related simulations. You can take a pass to make sure everything is correct, but I do not think there is anything left to do here.

Thanks @alynne-phet for doing this.

[2016-08-16 18:16] amanda-phet commented on #134
I looked at a number of sim pages and it seems like the related sims section is looking good. Thanks!

[2016-08-16 18:16] #134 closed

[2016-08-16 18:18] mattpen commented on #467
There is an entry for a vietnamese localized sim by Sam Reid.  I can remove the DB entry, does anything need to be changed in rosetta/babel?

[2016-08-16 18:28] mattpen commented on #467
Sam's entry has been removed from the database.

[2016-08-16 18:29] samreid commented on #467
Thanks!

[2016-08-16 18:30] mattpen commented on #467
The [Vietnamese Bending Light](https://phet.colorado.edu/sims/html/bending-light/latest/bending-light_vi.html) appears to still be working, so I'm going to close the issue.

[2016-08-16 18:30] #467 closed

[2016-08-16 18:52] mattpen commented on #385
@phet-steele - I don't think it is possible to achieve the starting state that you proposed in the diagram any longer, this must have been a legacy flaw.  Since our current state is accurate (according to https://github.com/phetsims/website/issues/134), then any changes you make will leave us in a correct state. Closing.

[2016-08-16 18:52] #385 closed

[2016-08-16 18:58] mattpen commented on #470
@jbphet - The time update request now requires an authorization code.  Previously, it was required that the request operate locally, but due to the new server architecture we have no way of safely detecting if the request comes from localhost.  Let's discuss authentication methods offline.

[2016-08-16 19:14] oliver-phet commented on #473
@mattpen we discussed in web meeting today - please go ahead with your plan: If a new file is uploaded, test for duplicate filenames. If duplicate: prompt user to Overwrite or Cancel.

When a user deletes the files, remove it from our database and storage.

[2016-08-16 19:24] mattpen commented on #477
@kdessau-PhET - Thanks.  I'll try to get this up by next week.

[2016-08-16 19:25] mattpen commented on #459
All reboots complete.

[2016-08-16 19:25] #459 closed

[2016-08-16 19:27] mattpen commented on #454
Rosetta is working after the switch.

[2016-08-16 19:27] #454 closed

[2016-08-16 19:29] mattpen commented on #475
I agree with sorting alphabetically.  This should be easy to implement and be ready to deploy by next week.

[2016-08-16 22:12] phet-steele commented on #473
@mattpen the last part of your table has these:
[code]
The contribution page found at https://ox-dev.colorado.edu/en/contributions/view/2857 doesn't even have one of those activities. Is this just a typo in the table, or did the wrong files get deleted? It would make sense if the "1" at the end of the file name was supposed to be a "2".

[2016-08-16 22:16] mattpen commented on #473
It's missing from phet-server too, I'll recreate it from figaro.

[2016-08-16 22:17] phet-steele commented on #473
I believe it can also be found at https://phet.colorado.edu/en/contributions/view/3004. I'm willing to say they are the same activity.

[2016-08-17 15:00] phet-steele opened #479 "No icon for .xls activity files"
But there is an icon for .xlsx and everything else (mostly)!

<img width="156" alt="screen shot 2016-08-17 at 8 59 21 am" src="https://cloud.githubusercontent.com/assets/5863899/17741309/f59ec97a-6458-11e6-9e92-dd00276cadbd.png">

[2016-08-17 15:11] jbphet commented on #454
Also, I've been keeping tabs on Rosetta after the switch to make sure that translations are being successfully submitted by translators and published to the web site.  I've seen at least 10 new translations submitted in the last several days, so it seems to be working well.

[2016-08-17 15:35] amanda-phet commented on #479
Strange. The .xls icons should be the same as the .xlsx icon (you probably knew that but it wasn't stated).

[2016-08-17 16:20] mattpen commented on #475
I have a solution deployed to https://ox-dev.colorado.edu.  It looks like it is working, but the languages that use non-english alphabets but start with english-like letters are sorted at the bottom.  Is this OK?  For example, should čeština be sorted before Church Slavic, or is it ok as is?

![image](https://cloud.githubusercontent.com/assets/11747676/17744119/93b1c5f4-6463-11e6-991c-c06473005aa0

[2016-08-17 16:52] mattpen commented on #473
https://phet.colorado.edu/en/contributions/view/2857?test

The file should be back now and will not be deleted again.

[2016-08-17 17:30] kathy-phet commented on #475
I would check out Khan Academy and try to match their order. They put cestina up with the regular alphabet because it basically uses a roman alphabet but with accents, then puts others below.
https://www.khanacademy.org/

[2016-08-17 20:22] mattpen commented on #479
@phet-steele @amanda-phet - there was a missing css rule for xls.  I added the rule, but it will take some time to appear on the website due to caching.

[2016-08-17 20:22] #479 closed

[2016-08-17 20:30] jbphet commented on #458
@mattpen - the URL for adding translation credits doesn't appear to be working.  I saw this error in the build server's log:

Can you check into this?  I can provide you details on the URL if you need them.

[2016-08-17 21:23] mattpen commented on #458
@jbphet - Can you send details on the request that was sent to that URL?  There have been 10 bad queries to that url since the 14th.  The error indicates that either 1. the sim, the translation, or the user do not exist, or 2. that the translation credit has already been added. I'm thinking 2 is more likely.

Perhaps we should change the response from 400 to 201 if its simply a duplicate translati

[2016-08-17 21:35] mattpen commented on #458
For the latest request that failed the credit exists in the database.

Request: `/services/add-html-translator?simName=example-sim&locale=da&userId=130982l`...

This request will return 400 status code, but this query shows that this credit exists (example-sim credits won't show up on the website):
[code]

[2016-08-18 15:49] jbphet commented on #458
So does this mean that a return code of 400 is normal if the credits already exist?  Or that something in the website code thought it failed but it didn't really?  Or something else?

[2016-08-18 16:18] mattpen commented on #458
Yes, that's correct.  A return code of 400 is the expected behavior because the website currently considers an attempt to upload a duplicate credit as an error. ` 201 Created` will be returned if the website creates a new credit.

Would it help if we return `200 OK` for duplicate entries? This could indicate that there was not an error, but no new record was created either.

[2016-08-18 16:25] mattpen commented on #462
I'll take action this week.

[2016-08-18 16:36] mattpen opened #480 "Check that logs from phet-server are being backed up in peta"

[2016-08-18 16:55] jbphet commented on #458
Yes, returning ```200 OK``` in that situation would be great.

[2016-08-18 17:01] mattpen opened #481 "Possible UX issue with cached activity pages"
[10:53:35 AM] Steele Dalton: is having contribution pages being cached actually the best? It would be REALLY confusing for someone to edit their contribution, get the “Update Success…Continue to Activity”, then not see the activity be updated
[10:54:37 AM] Matt Pennington: They are only cached for 15 minutes.  In the edit success page we could put some very obvious message about having to wait to

[2016-08-18 17:14] amanda-phet commented on #481
Hm, I don't want to give an exact number of minutes... What about something like this?

Thank you! Your contribution has successfully been updated. The changes may not appear immediately due to browser caching but should be visible after refreshing or restarting your browser.

[2016-08-18 17:35] mattpen commented on #481
@amanda-phet - This isn't due to browser caching, refreshing and restarting the browser won't have an effect.  The activity pages are cached on the varnish servers on our side, and the caches invalidate after 15 minutes, so 20 minutes should be a safe bet (although at that point there could be browser caching issues as well)

[2016-08-18 17:43] mattpen commented on #458
@jbphet - I think I've got this working.  I'm going to deploy it on Friday night and we can test on Monday.

[2016-08-18 17:51] amanda-phet commented on #481
I see. How about:

Thank you! Your contribution has successfully been updated. The changes may take up to 20 minutes to appear.

[2016-08-18 17:55] mattpen commented on #481
That works for me.

[2016-08-18 18:56] jbphet commented on #472
This was discussed at the 8/18/2016 meeting and it was decided that @mattpen will do a prelim investigation and provide an estimate but we will probably wait until @jonathanolson is available before taking action on this.

[2016-08-19 03:00] mattpen commented on #475
I implemented a sorting algorithm that includes accents, this is ready for deploy.

[2016-08-19 03:02] mattpen commented on #477
| Featured Sponsor Group

@kdessau-PhET - Does this mean it should be in the sponsor rotator on the front page and sim pages with the highest weight?

[2016-08-19 03:25] kdessau-PhET commented on #477
@mattpen - It should be the second highest weight. (Platinum sponsors are the highest.)

[2016-08-19 17:12] samreid opened #482 "Enable gzip compression"
When I used Chrome Dev Tools to audit Rutherford Scattering 1.0.1 from phet.colorado.edu, it identified that gzip was not enabled.  Here is the report from Chrome:

![image](https://cloud.githubusercontent.com/assets/679486/17817825/c7f40f02-65fd-11e6-8fbe-1c24251fb0d2.png)

I was under the impression that gzip compression was enabled previously, I'm wondering if it needs to be enabled for our new

[2016-08-19 18:43] jonathanolson commented on #482
Potentially. It looks like to blanket-enable gzip/deflate compression for HTTPS, we'd need to check to make sure https://en.wikipedia.org/wiki/BREACH_(security_exploit) wouldn't be a problem.

[2016-08-19 19:35] jonathanolson commented on #480
I'll look into what is currently getting backed up to the petalibrary, as I have access.

[2016-08-22 03:20] mattpen commented on #480
The cronjob for the peta script appears to be commented out.  Should this be enabled?

[code]

[2016-08-22 03:53] mattpen commented on #475
This was deployed to figaro tonight.  I tested it in several locales, it appears to be working.  Please reopen if needed.

[2016-08-22 03:53] #475 closed

[2016-08-22 03:56] mattpen commented on #465
This was deployed to figaro tonight.  The primers are still cached from before the fix, so I'll check again tomorrow.

[2016-08-22 05:41] kathy-phet commented on #480
Please check in with JO on this. thx.

[2016-08-22 15:12] mattpen commented on #477
@kdessau-PhET - Promethean has been added to the About page and the rotator at the Gold sponsor weight.

[2016-08-22 15:46] kdessau-PhET commented on #477
Hi Matt,
I tried the logo and it looks good on the sponsor page, but when I did the "reload" for the front page, I had a bad link to the image?
<img width="822" alt="screen shot 2016-08-22 at 9 43 49 am" src="https://cloud.githubusercontent.com/assets/10424210/17861170/3c569bfc-684d-11e6-8b89-aab81a6378c0.png">

[2016-08-22 16:23] mattpen commented on #477
@kdessau-PhET - This is caused by the varnish cache.  The images are cached for 30 days, so I'll have to rename the file tonight and then it will show up.

[2016-08-23 03:06] mattpen commented on #458
@jbphet - The new response code should be working now.

[2016-08-23 03:08] mattpen commented on #465
This appears to be working now.  Closing.

[2016-08-23 03:08] #465 closed

[2016-08-23 03:10] mattpen commented on #464
I updated server.xml on phet-server and the activities in greek and korean are accessible now.  I am continuing work on changing the names of files in storage in order to get the installer working.

[2016-08-23 05:18] mattpen commented on #477
@kdessau-PhET - The image for the rotator was updated tonight.

[2016-08-23 05:18] #477 closed

[2016-08-23 14:03] kdessau-PhET commented on #477
Thanks Matt!

On Aug 22, 2016, at 11:18 PM, Matt Pennington <notifications@github.com<mailto:notifications@github.com>> wrote:

@kdessau-PhET<https://github.com/kdessau-PhET> - The image for the rotator was updated tonight.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/phetsims/website/issues/477#issuecomment-241629485>, or

[2016-08-23 17:24] phet-steele opened #483 "Encapsulate error messages within a red box"
A suggestion from @oliver-phet, we should put the site's error messages within the red text box so users are more easily directed to read them:

Current:
<img width="375" alt="screen shot 2016-08-23 at 11 12 52 am" src="https://cloud.githubusercontent.com/assets/5863899/17902014/cafa31ea-6922-11e6-9872-84b2f166d848.png">

Suggested:
<img width="375" alt="screen shot 2016-08-23 at 11 12 52 am" src=

[2016-08-23 17:26] jbphet commented on #458
I just checked the log, and this case hasn't been hit yet.  The last attempt to add credits was on  Aug 21 2016 20:34:17 MDT.  I'll set a reminder and watch the logs to make sure that the next time an update is done the returned code is 200.

By the way, it looks like an attempt that is successful in adding a new record returns a 201 code, which makes sense, because that code is defined at https:/

[2016-08-23 19:15] oliver-phet commented on #473
<img width="69" alt="screen shot 2016-08-23 at 1 11 40 pm" src="https://cloud.githubusercontent.com/assets/5090275/17906213/a3dd6350-6933-11e6-8a41-38a15a99364a.png">

[2016-08-23 19:16] amanda-phet opened #484 "Known issue: activity file alignment is off for team members"
When team members sign in to the phet site and view an activity page, the admin control panel does something funny to the list of files. The first two will be aligned but any following activities are shifted over.

![screen shot 2016-08-23 at 1 02 48 pm](https://cloud.githubusercontent.com/assets/7852916/17906233/b534dd72-6933-11e6-99a6-87fc4ead259f.png)
![screen shot 2016-08-23 at 1 03 28 pm](htt

[2016-08-23 19:23] mattpen commented on #484
I checked a this activity with a non-team member account and it is affected but only after 6 or more files are added.  I think it may be wrapping around the left side navigation menu.

![image](https://cloud.githubusercontent.com/assets/11747676/17906467/b13e38e8-6934-11e6-80c9-5dff352c51a9.png)

[2016-08-23 21:19] amyh-phet opened #485 "Changes to website with PhET app release"
To promote the release of the ipad app, changes need to be made to the website in three places.

1. Homepage - add a "Download at the app store" button to the table under Teaching Resources.
![front_page_ipad_app](https://cloud.githubusercontent.com/assets/13650180/17910139/d75f93a4-6944-11e6-9d18-1793cfda4cae.png)

2. Footer - add "Download at the app store" button to the footer.
![footer_app_pus

[2016-08-23 22:14] oliver-phet opened #486 "Change Help Center to open on Getting Started"
Can we change the Help Center so that the default starting page is https://phet.colorado.edu/en/help-center/getting-started

(Effectively removing the page with the 5 larger icons)

I think all that needs to be updated is the footer link and removing the original page.

[2016-08-24 01:10] mattpen commented on #486
@oliver-phet - Should `/locale/help-center` redirect to `/locale/help-center/getting-started` or vis versa, i.e. should the Getting Started page keep the same url or should it just use `/locale/help-center`?

[2016-08-24 01:18] oliver-phet commented on #486
We can just use /locale/help-center/getting-started no need to have /locale/help-center for anything. So we'll have:
/locale/help-center/getting-started
/locale/help-center/running-sims
/locale/help-center/offline
etc.

[2016-08-24 01:20] mattpen commented on #482
It looks like the safest way to prevent BLEACH is using CSRF protection.  Tomcat 7 provides a [built-in CSRF filter](https://help.hana.ondemand.com/help/frameset.htm?e5be9994bb571014b575a785961062db.html) but it appears it might add a nonce to protected URLS.  If so it would essentially break the caching mechanism in varnish.  Adding the CSRF filter and adapting the varnish configuration to ignore

[2016-08-24 01:21] mattpen commented on #486
So no redirect needed?  It's ok for `/locale/help-center` to go to the 404 error page?

[2016-08-24 01:26] mattpen commented on #481
The message was updated on phet-server tonight.

[2016-08-24 01:26] #481 closed

[2016-08-24 01:36] oliver-phet commented on #486
As long as when a user clicks 'Help Center' in the footer they are given /l`ocale/help-center/getting-started`, I don't see a reason to have `/locale/help-center`. Do you?

[2016-08-24 15:14] amanda-phet commented on #486
Please make sure `/locale/help-center` redirects to `/locale/help-center/getting-started`.

I think it's even fine to keep the `/locale/help-center` page, we just wouldn't have a link to it from the footer (or anywhere on the site). It's not uncommon for this page to exist in case a user decided to delete the "getting-started" part of the link. But a redirect would be fine.

[2016-08-24 17:14] mattpen commented on #486
I added a redirect for /locale/help-center to /locale/help-center/getting-started and changed the links in the footer panel.  This should be ready for the next deploy.

[2016-08-24 17:18] mattpen commented on #473
@oliver-phet - is it ok to use those icons for the website? Or are those just examples?

[2016-08-24 17:20] mattpen commented on #483
This is not trivial to implement.  These are separate components in wicket and it will be difficult to write css rules that would achieve this effect.  I'll try to take a look at this early in September.

[2016-08-24 17:25] oliver-phet commented on #473
Those are just examples. We'll mock up an 'update' button and get that to you.

[2016-08-24 17:33] mattpen commented on #484
This should be fixed, it will be deployed to phet-server with the rest of the contribution changes.

[2016-08-24 17:55] amanda-phet commented on #473
Can we use a fontawesome trash icon and draw an update icon to match the style?

Either http://fontawesome.io/icon/trash/ or http://fontawesome.io/icon/trash-o/

I couldn't find a good icon to represent update/edit/replace/etc. but you can use the file icon http://fontawesome.io/icon/file-o/ as a starting place for general style.

[2016-08-24 18:27] oliver-phet commented on #473
How about this for an icon?
https://drive.google.com/open?id=0B5JSfRAuRHDzMDJjSVNHM0xPajg

[2016-08-25 02:15] mattpen commented on #483
@phet-steele - I found a quick fix for this:

![image](https://cloud.githubusercontent.com/assets/11747676/17954307/4f2d63dc-6a37-11e6-8d7d-2708ad922991.png)

This is ready for the next deploy.

[2016-08-25 03:52] mattpen commented on #464
This was deployed to phet-server tonight.

@jbphet or @phet-steele - Can you check if [the installer issue](https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/3705) is resolved the next time the installer runs on phet-server?

[2016-08-25 03:53] mattpen commented on #478
This was deployed to phet-server tonight.  I'll check tomorrow and make sure that the admin panel is no longer cached.

[2016-08-25 03:54] mattpen commented on #473
The temporary solution was deployed to phet-server tonight and I confirmed that all duplicates had been removed.  I'll start work on the new solution for replacing files tomorrow.

[2016-08-25 03:55] mattpen commented on #483
This was deployed to phet-server tonight.  @phet-steele can you please confirm?

[2016-08-25 03:57] mattpen commented on #484
@amanda-phet This should be fixed now on the live site.  https://phet.colorado.edu/en/contributions/view/3990

Please reopen if I missed anything.

[2016-08-25 03:57] #484 closed

[2016-08-25 04:00] mattpen commented on #486
This was deployed to phet-server tonight.  The Footer link is now directing to Getting Started and `/locale/help-center` is redirecting to Getting Started.  However, `/locale/help-center/` is not being redirected and goes to a 404 page instead. See https://phet.colorado.edu/en/help-center/   Does this need to be corrected @oliver-phet or @amanda-phet?  Thanks.

[2016-08-25 14:56] amanda-phet commented on #486
The difference is the additional `/`? I'm not sure what the usual protocol is for links like that. When I play with a few different pages, the addition of a `/` at the end always seems to go to a 404 page, so this page doesn't seem to behave any differently.

[2016-08-25 15:15] mattpen commented on #486
@amanda-phet - Yes, that was the difference I noticed.  I didn't realize it was a general pattern on the website.  I thought that trailing `/`'s were usually ignored, but I checked a few popular websites and this only applies to home pages.

If that doesn't need to be fixed I think this can be closed.  Please reopen if needed.

[2016-08-25 15:15] #486 closed

[2016-08-25 15:17] phet-steele commented on #483
@mattpen It's working (yay!), @oliver-phet if you approve you may close.

[2016-08-25 16:26] oliver-phet commented on #483
Looks good to me!

[2016-08-25 16:26] #483 closed

[2016-08-25 18:28] mattpen commented on #464
Discussed in dev meeting on 8/25.  This change will be reverted for the moment leaving the bug in the installer.

[2016-08-25 21:15] phet-steele opened #487 "Filter Teacher Primers from the installer"
Por favor, @mattpen. Installers currently display the primers, but are eternally locked. There is no way to sign in from the installer. Allowing users to view the primers from local host would be a nightmare with Vimeo permissions. It's best to just filter these out of the installer.

[2016-08-25 21:22] jbphet commented on #458
I just looked through the build server log and can see that at Aug 25 06:38:51 a response of 200 was received from an attempt to add translation credits.  By looking at babel commits, I was able to verify that the submission was an update to a previously submitted translation, so indeed, this would be a redundant submission of translation credits info.  The bottom line is that the web site is now

[2016-08-25 21:24] jbphet commented on #458
Also, I monitored this server when @jessegreenberg did the production deployment of Rutherford Scattering, and everything worked correctly.  I think that may be everything.  @mattpen - anything else to do here?  If not, you can go ahead and close this issue.

[2016-08-26 16:32] mattpen commented on #458
It looks like it has been successfully migrated.  If we see any new problems pop-up we should just open a new issue.  Closing.

[2016-08-26 16:32] #458 closed

[2016-08-26 16:42] mattpen commented on #478
The panel is no longer being cached.

[2016-08-26 16:42] #478 closed

[2016-08-26 17:16] mattpen commented on #464
I added a filename rewrite to the servlet that checks login-status for activity files.  It is only adding a minimal amount of processing work to tomcat, and delivers files in the original name to users over the internet and the standardized names to users on the installer version.

The one difference is that the filenames have spaces replaced with + signs, due to encoding issues.  However, they st

[2016-08-26 17:25] mattpen commented on #487
This is ready for deploy, it *might* be ready to test on monday.

[2016-08-26 17:26] mattpen commented on #462
Performance metrics of figaro in April:
![2016-08-25 10_39_17-tomcat figaro - new relic](https://cloud.githubusercontent.com/assets/11747676/18014384/f4af291e-6b7f-11e6-861c-3bfc1474d896.png)

[2016-08-26 17:27] mattpen commented on #462
Performance metrics for phet-server from the last week:

![2016-08-25 10_38_57-my application - new relic](https://cloud.githubusercontent.com/assets/11747676/18014402/01c33d70-6b80-11e6-889a-b7b35b1ed2f1.png)

[2016-08-26 17:38] mattpen commented on #462
As seen in the two previous charts, when looking at a weekly average phet-server is showing a 59% decrease in average transaction time over figaro, despite a 55% increase in requests per minute.  The additional requests are necessary due to using an ESI component for the logon button on every page.

I checked average CPU consumption as well, which would indicate room for growth in terms of tomcat

[2016-08-26 17:57] mattpen commented on #468
@phet-steele - I've deployed a fix for this to ox-dev.  It appears to be working, I'll publish on phet-server on the next deploy.

[2016-08-26 18:06] mattpen commented on #466
This isn't working on phet-old (figaro) either.  I'm not quite sure where this is supposed to link.  Do you know @phet-steele?

[2016-08-26 18:49] kathy-phet commented on #462
Thanks. Seems good to me. Great work!

[2016-08-26 19:00] ariel-phet commented on #462
@mattpen a few quick comments

1. Yes, great work!
2. You might ask @markmorlino if there are any performance metrics he recommends looking at
3. We should look at these number again at the end of September.

[2016-08-26 19:01] ariel-phet commented on #462
Actually I might ask @markmorlino to chime in directly

[2016-08-26 19:23] ariel-phet commented on #464
@mattpen that seems acceptable, and appears to be working for English submissions

However, when I try something like https://ox-dev.colorado.edu/en/contributions/view/3348 I get a title that looks like this:

%CE%93%CE%95%CE%9D%CE%99%CE%9A%CE%9F%CE%A3+%CE%9F%CE%94%CE%97%CE%93%CE%9F%CE%A3+%CE%BF%CF%81%CE%B3%CE%AC%CE%BD%CF%89%CF%83%CE%B7%CF%82+%CE%B4%CE%B9%CE%B4%CE%B1%CF%83%CE%BA%CE%B1%CE%BB%CE%AF%

[2016-08-26 19:29] phet-steele commented on #464
The activity above looks fine for me on Mac OSX 10.11.6 Chrome and Win 10 Chrome in all contexts (downloading, viewing, etc...).

[2016-08-26 19:32] jbphet opened #488 "there are what looks like some old and unneeded backup directories for two sims"
While looking through the installer builder logs in the process of working on another issue, I came across a couple of errors where it was trying to pull something out of what looks like some backup directories.  The errors in the log look like this:
[code]

If I go to the URL that the installer uses to obtain a list of sims, these two directories indeed show up, see https://phet.colorado.edu/sims

[2016-08-26 19:37] ariel-phet commented on #464
Ah, interesting, works in chrome for me as well

[2016-08-26 19:37] ariel-phet commented on #464
@mattpen can you at least take a gander as to why this might be an issue in firefox?

[2016-08-26 20:15] markmorlino commented on #462
Response time is probably my favorite metric as an indicator of overall health. At one point, @mattpen, I think you showed me something that hits the server externally (through the cache servers). While this would lack the jvm/postgres breakdown provided by newrelic, I think tracking trends on something like that would be useful.
System memory and JVM heap stats might be useful to have. As would p

[2016-08-26 20:56] mattpen commented on #464
It is probably not decoding the URI correctly, I'll check tonight.

[2016-08-26 21:49] phet-steele opened #489 "nb locale looks weird on the website"
Similar to phetsims/chipper/issues/329. This issue applies to the website translation table:

<img width="898" alt="screen shot 2016-08-26 at 3 37 44 pm" src="https://cloud.githubusercontent.com/assets/5863899/18021402/6d7eeb6c-6ba4-11e6-8eb5-1c4fbea71365.png">

[2016-08-27 00:02] jbphet opened #490 "multi-language installer being messed up by redirects"
I am trying to get the multi-language installer working on phet-server due to a request for a zh_CN version.  The main index page of the resulting installed version looks like this:

![web-site-redirect](https://cloud.githubusercontent.com/assets/3082831/18023472/b27b2084-6bb6-11e6-878e-198d84320aed.PNG)

This made me think that perhaps it was having issues with redirects to https from http, since

[2016-08-27 00:03] jbphet commented on #490
We made a commitment to deliver a zh_CN installer by September 1, so I'm marking this as high priority and assigning to @mattpen.

[2016-08-27 03:54] mattpen commented on #490
@jbphet - I thought we left the links underneath this dropdown in for use with the installer.  It's not actually clicking the dropdown box right?  These links should be relative, so there shouldn't be any 301 redirect that the installer needs to follow.

![image](https://cloud.githubusercontent.com/assets/11747676/18024959/6b7d1cf8-6bd6-11e6-9eb7-8417c52541bc.png)

 If I make one of these links vi

[2016-08-27 04:41] mattpen commented on #489
The name of the locale is being stored in hard code as `Norwegian Bokm�l`.  The � should either be an `å` or an `a`. On the [translated sims page](https://phet.colorado.edu/en/simulations/translated/nb) for `nb`, it is listed as plain ol' `a` in the english version:

![image](https://cloud.githubusercontent.com/assets/11747676/18025136/bef04d14-6bdc-11e6-843a-ddf422407c76.png)

Instead of changing

[2016-08-27 05:05] mattpen commented on #462
@markmorlino - thanks for the detailed suggestions.

| At one point, @mattpen, I think you showed me something that hits the server externally (through the cache servers)

I think this might have been BlazeMeter?  We just cancelled our subscription to this, although it was essentially a distributed environment for running Apache JMeter scripts.  We could use JMeter or `ab` from a single host to co

[2016-08-27 05:17] mattpen commented on #490
@jbphet - what is the content of the "Click here" link?

[2016-08-29 16:17] jbphet commented on #490
The content of the link is:
[code]
...which makes it a circular link.

[2016-08-29 19:38] mattpen commented on #464
Additionally in Safari, all files are saved as `download-servlet`.

[2016-08-29 20:21] mattpen commented on #464
Apparently treatment of the Content-Disposition header, where I'm setting the filename, is pretty messy.  See http://stackoverflow.com/questions/93551/how-to-encode-the-filename-parameter-of-content-disposition-header-in-http.  I'll see if I can find a solution that fits our needs.

[2016-08-30 04:37] mattpen commented on #485
@amyh-phet @phet-steele - Could you please send a screenshot of the app for # 3?  There is about 324x220px worth of space there, the HTML5 video is 324x184px for comparision.  I've already downloaded the official download badge from the [developer's website](https://developer.apple.com/app-store/marketing/guidelines/#downloadOnAppstore).

Is the copy in the 3rd screenshot final?

[2016-08-30 05:38] mattpen commented on #464
@ariel-phet - This should be working properly now, I even fixed the issue with the `+` signs.  It's deployed to ox-dev.

I've checked Chrome and Safari on OSX, and Chrome, FF, Edge, and IE 11 on Win10.  There may be some compatibility issues with old versions of IE (like 7 and earlier), do we need to support these?  The UTF-8 filenames may not be possible in the current configuration.

[2016-08-30 05:58] mattpen commented on #489
@phet-steele - this should be fixed now.  Anything else to do before deploy?

![image](https://cloud.githubusercontent.com/assets/11747676/18077655/6e894f14-6e44-11e6-93b9-50b93b5e29f6.png)

[2016-08-30 14:38] ariel-phet commented on #464
@mattpen We don't support IE10 or earlier for our HTML5 sims so I think that is fine (and IE use is fairly small on our website these days - chrome has become the dominant browser).

[2016-08-30 14:39] ariel-phet commented on #464
@mattpen feel free to close if all is good.

[2016-08-30 15:11] phet-steele commented on #489
@mattpen probably nothing else to do, thanks for the fix.

[2016-08-30 15:23] phet-steele commented on #466
Not a clue, @kathy-phet care to chime in if you know?

[2016-08-30 16:18] amyh-phet commented on #485
@mattpenn   I can provide a screen shot for the app for #3.  I will verify that copy is final at website meeting today.  Should have an answer to you before 2 pm.

[2016-08-30 17:15] mattpen commented on #464
This still needs to be deployed to phet-server, and the installer will need to be tested afterwards.

[2016-08-30 17:19] mattpen commented on #488
I'm not aware of any uses for these folders, tagging for developer meeting to see if anyone else knows if they are still used.

[2016-08-30 17:47] mattpen commented on #490
@jbphet - Is the initial link for httrack pointing to https?  It might be getting blocked by the initial 301 redirect.

I tested a rip with httrack today, pointing to the initial location `https://ox-dev.colorado.edu/zh_CN` and using the user-agent `httrack-web-offline-activities`.  It built a local copy of the website with a working locale dropdown menu.

I think this might be an issue with the h

[2016-08-30 18:04] samreid opened #491 "Update JetBrains logo"
On 8/30/16 1:58 AM, JetBrains asked us to update the logo on our page:

Tagging @mattpen to put it on his radar and assigning to @ariel-phet to prioritize.  Also, @ariel-phet the rest of the context is in the email I forwarded with the subject line `[JetBrains] Re: Open Source License Questions`

[2016-08-30 18:20] mattpen commented on #491
I can upload the new image with the next deploy.

[2016-08-30 18:28] ariel-phet commented on #491
Sounds good @mattpen, next deploy would work well for priority

[2016-08-30 19:46] amanda-phet opened #492 "Sim page title structure"
Currently, the page title structure for a sim page appears to be

SimName - Keyword1, keyword2, keyword3 - PhET

Many sims have keyword1 = SimName, so this seems redundant. Instead, we propose that the page title structure be in the form

SimName - Topic1 | Topic2 | Topic3 - PhET Interactive Simulations

unless there was a specific reason for using keywords instead of topics. If we stick with keyw

[2016-08-30 19:59] amyh-phet commented on #485
@mattpen   Looks like we will be making changes to the screenshot/copy for the ipad/tablet page.   Currently working on this and will update once design is complete.

[2016-08-30 20:09] amyh-phet commented on #485
@mattpen   We will be using an image that matches the artwork from the email campaign about the app release.  No copy needed - we will just give you an image to use that would fill the space in the mock up that is currently filled with the screenshot/copy.  What image size do you need?

[2016-08-30 20:14] mattpen commented on #485
The same section on the NewSims page is 580x219px.  The height is a soft limit, but the width will be difficult to increase.

[2016-08-30 20:17] amyh-phet commented on #485
Thanks.  The attached file gives you an idea but is not the final version of the image.  We will update once we know what the email will look like.    The text will be part of the image and doesn't need to be translatable.
![ipad_tablet_page_artwork](https://cloud.githubusercontent.com/assets/13650180/18105389/71940c62-6ebc-11e6-84e6-aa2151841a8b.png)

Also, since the app only has English sims, we

[2016-08-31 01:53] mattpen commented on #485
Looks nice!  Let me know when you have the final image.

[2016-08-31 03:10] mattpen commented on #491
![image](https://cloud.githubusercontent.com/assets/11747676/18114561/3ab6bd50-6ef5-11e6-9178-be35c8ef182f.png)

![image](https://cloud.githubusercontent.com/assets/11747676/18114650/047f2afa-6ef6-11e6-8446-2769f6ead40d.png)

Do these look ok @ariel-phet @samreid ?  If so, they are ready for deploy.

[2016-08-31 03:49] ariel-phet commented on #491
That looks good to me

[2016-08-31 05:43] samreid commented on #491
Looks great, thanks!

[2016-08-31 15:16] jbphet commented on #490
I've done some investigation on this, and the details can be seen in https://github.com/phetsims/installer-builder/issues/22#issuecomment-243584145 and subsequent comments.  To summarize, HTTrack is trying to follow the links inside the language selector as http, not https.  I don't know why it would do this, and am open to suggestions if anyone has any.  For now, I'm trying a rip with an addition

[2016-08-31 17:52] oliver-phet commented on #485
Here's a slightly updated mockup. I'm also going to send this to DU to see if he can put his touch on it!

Feedback?
![app_promotion_screen](https://cloud.githubusercontent.com/assets/5090275/18140112/547c1920-6f71-11e6-9c41-697dc7f30066.gif)

[2016-08-31 18:20] amanda-phet commented on #485
I really like this version!!

[2016-08-31 19:03] mattpen commented on #485
Just a few thoughts, fwiw.

It would be reasonably easy to detect if the user is browsing from an ipad and show this banner on other category pages for ipad users only.  I think it could work well on the new sims page and/or the html5 sims page since users are more likely to hit these pages before the by-device page.

It might also be nice to have the download button here: https://phet.colorado.ed

[2016-08-31 21:30] oliver-phet commented on #485
I don't think we need to detect technology - some teacher use their computers to find sims for their classroom ipads. I think we will want to only show this in the _en locale, however.

I do like the idea of including it on the offline and help center pages! (Maybe only text for the help center)

Latest:
![app_website](https://cloud.githubusercontent.com/assets/5090275/18146947/af4adc1a-6f8f-11e6-

[2016-09-01 05:01] mattpen commented on #487
@phet-steele - this should be blocked now, please confirm in the installer built over the weekend.

[2016-09-01 05:04] mattpen commented on #464
This was deployed to the phet-server tonight.  The files are cached in varnish for some time, I'll test functionality tomorrow.

@phet-steele - Can you please check that the activities installer built this weekend is still downloading files using the standardized names?

[2016-09-01 05:06] mattpen commented on #468
The fix was deployed to phet-server tonight.

[2016-09-01 05:06] #468 closed

[2016-09-01 05:09] mattpen commented on #490
@jbphet - I deployed the change for the dropdown menu at ~11PM.  I'll check again at 12PM and make sure that the cached entries have https links.

[2016-09-01 05:11] mattpen commented on #489
This was deployed to phet-server.

[2016-09-01 05:11] #489 closed

[2016-09-01 05:13] mattpen commented on #491
The new images were deployed to phet-server tonight.  @samreid Is this ok to close, or do we need to keep it open for:

[2016-09-01 05:14] samreid commented on #491
Looks great, we will discuss the rest in dev meeting, closing.

[2016-09-01 05:14] #491 closed

[2016-09-01 06:14] mattpen commented on #490
The dropdown links are now in https on phet.colorado.edu.  This part should be g2g at least.

[2016-09-01 17:25] oliver-phet commented on #485
Notes from status meeting:

1. Add gif to rotating image on homepage
2. Add promo image (when user detected on iPad) to 'New Sims', 'HTML5'
3. Always on 'iPad/Tablet'
4. Offline
5. Help Center (text)

[2016-09-01 18:10] oliver-phet commented on #485
Here's a quick mockup for the homepage:
![app_website_homepage](https://cloud.githubusercontent.com/assets/5090275/18178771/eb5628b0-703c-11e6-90ac-7a6e97d1097d.gif)

[2016-09-01 18:14] jessegreenberg commented on #488
Asked at dev meeting 9/1/16 - determined that it was safe to remove.  @mattpen will remove these.

[2016-09-01 18:17] mattpen commented on #485
@oliver-phet - Did you intentionally remove the navigation bar?  It will take some time to implement a solution for one rotator item that is allowed to exceed the image bounds.  Its currently implemented by compiling one long image of all rotator items and hiding everything that isn't positioned above the nav bar.

[2016-09-01 18:22] oliver-phet commented on #485
See updated screenshot above.

[2016-09-01 18:26] mattpen commented on #488
I moved these directories to `/tmp` so they can be recovered if needed.

[2016-09-01 18:26] #488 closed

[2016-09-02 18:06] jonathanolson opened #493 "Get Matt access to the Peta library"
Should involve getting a Research Computing account and a two-factor authentication dongle (details on https://www.rc.colorado.edu/support/getting-started.html).

Please contact me for more details.

[2016-09-06 15:01] oliver-phet opened #494 "User request: allow URL links for Google doc activity"
Thank you for providing such a wonderful resource for science teachers!

I've created several resources to guide students through various lessons utilizing PhET simulations, however they are in Google Docs format.   I could, of course, convert these to Word formats to upload to the PhET site, however think it would be valuable if the ability to hyperlink to publicly accessible Google Doc would be

[2016-09-06 15:19] oliver-phet commented on #494
We've had a similar request before. And we decided not to pursue due to the risk of allowing users to upload any URL. Could it be possible to only allow URL's that are from a Google doc?

[2016-09-06 17:49] mattpen commented on #494
Yes, we could filter based on the whether the URL starts with "https://docs.google.com", although there may be a possibility of cross-site-scripting.

[2016-09-06 17:53] ariel-phet commented on #494
Well, we want them in word format (ideally) from the teacher. Many other users that do not use google docs will appreciate the activity in Word.

Can we explain this to the user and also let them know they are certainly welcome to put the link in the word doc (something like..."I created this activity in google docs, to see that document directly go here"

[2016-09-06 17:57] ariel-phet commented on #494
I think if we did allow this functionality we would need to vet people...just as we mark "trusted translators" we would need to view activities and verify the link is good, then mark "trusted contributor" or such

[2016-09-06 18:18] amanda-phet commented on #494
I agree with Ariel that they need to have a word version, but if they want to also share the google doc link somewhere we should make that a possibility.

How would we do this? How could we verify the link is good without clicking it ourselves?

[2016-09-06 18:31] oliver-phet commented on #494
All of those Word-only users can still view and download a google doc as a word file. In fact, it might be a better experience than having to download a Word file.

How would a user know there is a google doc version? Is this the best user experience for Chromebook and tablet users?

This would also help alleviate version issues. The google teacher can update their activity without having to remem

[2016-09-06 18:36] oliver-phet commented on #494
What is the current policy on viewing activity contributions? Couldn't a malicious user upload an insecure file on the site right now?

[2016-09-06 18:55] ariel-phet commented on #494
Well, usually @amyh-phet looks over every contribution each week

[2016-09-06 19:33] oliver-phet commented on #494
I'll mockup a new design of the submission page that includes a google doc URL.
@mattpen Any idea if we could tell, based on the URL, if a google doc is set to 'View Only'? We'd like to ensure that users upload as 'View Only' setting to avoid others modifying the doc.

[2016-09-06 20:22] phet-steele commented on #487
I do not see any primers in the Win w/activities installer. Thanks @mattpen!!!!

[2016-09-06 20:22] #487 closed

[2016-09-07 23:03] ariel-phet commented on #485
Removing my assignment currently since I think I am happy with everything here

[2016-09-08 03:20] jonathanolson opened #495 "Location for various server backup scripts?"
Should we store website backup scripts in source control, and if so, do they belong in the website repo, or somewhere (new?) else?

[2016-09-08 03:53] jonathanolson commented on #495
Current (out of date) documentation in https://github.com/phetsims/special-ops/blob/master/phet-admin.md, it will need to be updated.

[2016-09-08 04:38] samreid commented on #495
Yes

Does it contain private or sensitive information?  If so, it shouldn't be in the public `website` repo.  If not, it seems reasonable to store it in the website repo, but details about how it is implemented, how the website is deployed, etc may make that suboptimal.  @mattpen and @jonathanolson seem best suited to judge based on the details.

[2016-09-08 04:44] jonathanolson commented on #495
Currently no (credentials are handled by ~/.ssh/*, ~/.pgpass and ~/.my.cnf on phet-admin, all with the proper permissions), although a list of emails to send backup notification success/failure to is in the files (some people have been reluctant to have their email checked in).

I was considering (briefly) a specific script-like repo that could be checked out on the relevant servers (don't need al

[2016-09-08 04:46] samreid commented on #495
That sounds like a good reason to not use the website repo.

[2016-09-08 05:07] jonathanolson opened #496 "Document peta backup scripts"
Pending on https://github.com/phetsims/website/issues/495 for location of where the code should be checked in.

[2016-09-08 05:10] jonathanolson opened #497 "Verify peta log cronjobs are functioning"
Backing up some things only happens monthly (as it's over 10GB), so I'll need to verify that the 4 different cron scripts (2 on simian, 2 on phet-server) are functioning as intended. They should send success emails when complete.

[2016-09-08 05:23] jonathanolson commented on #480
Peta backups should now be set up and will run on a schedule:

Daily:

- Incremental backups of our main website and phet-io document roots (all sim files, activities, etc.) Will be able to pull up snapshots from arbitrary days easily.
- Snapshot of production website database.

Weekly:

- Snapshot of offline statistics database (lives on phet-server)
- Incremental backups of phet-cacheX Varnish/A

[2016-09-08 05:24] jonathanolson commented on #480
Additionally, any preferred changes to the backup schedule? Offline statistics DB snapshots are currently ~400MB, which seemed suitable at a weekly level, and the log files are only moved to simian weekly (currently).

[2016-09-08 05:27] jonathanolson commented on #482
Due to the complications, I'm removing my assignment as I don't have short-term plans to work on this issue.

[2016-09-08 16:07] jonathanolson commented on #413
Don't think so, closing.

[2016-09-08 16:07] #413 closed

[2016-09-08 17:59] mattpen commented on #495
If these scripts need to run on phet-cache1/2, then we should definitely use a new repo instead of `website`.

[2016-09-08 21:02] kathy-phet commented on #297
@mattpen - Please do make a markdown file with documentation for API use. Thanks!
Medium priority.

[2016-09-09 22:20] oliver-phet commented on #485
Here's a new design incorporating some of Dave's feedback. This would go on:
2. Add promo image (when user detected on iPad) to 'New Sims', 'HTML5'
3. Always on 'iPad/Tablet'

Any feedback on this design? I think we may want to rework the text so that it can fit into the 'sim column'.
![app_promotion_ipad](https://cloud.githubusercontent.com/assets/5090275/18404657/203f8ac2-76a9-11e6-9b33-2e50c793

[2016-09-12 15:44] jonathanolson commented on #495
@mattpen, any preferences on a repo name, and/or a directory structure?

[2016-09-12 20:30] mattpen opened #498 "Password resets are getting redirected to Error page"
@oliver-phet has noticed that a lot of users are getting redirected to the Internal Error page when attempting to reset their passwords.  I was getting the same error today and resolved it by restarting the tomcat service.

I noticed in ResetPasswordRequestPanel that checkSecurity() is throttling the number of reset attempts per host per hour.  My initial hypothesis is that due to the new architec

[2016-09-12 20:42] mattpen opened #499 "Change calls to getRemoteHost and getRemoteAddr"
There are several calls in the website code to HttpServletRequest.getRemoteHost() and .getRemoteAddr().  Because of the change in architecture, these are both set to 127.0.0.1 (localhost) by the time the request reaches tomcat.  These calls need to be updated to accurately read the host name and address.

This should fix the errors in #498, although there are other functions affected as well.

[2016-09-12 20:53] mattpen commented on #498
This appears to be a pretty common occurence:

[code]

[2016-09-13 03:54] mattpen commented on #499
I've changed getRemoteHost() to use the X-Forwarded-For header and changed references to `HttpServletRequest.getRemoteHost` and `.getRemoteAddr()` to `PhetRequestCycle.getRemoteHost()`

[2016-09-13 04:35] mattpen commented on #495
I don't have any strong preference on repo name, perhaps `website-toolkit`?

As far as directory structure I think grouping by topic/function and then subdirectories grouped by types of files might work.  This is not a strong preference.  For example:
[code]

I'm not really clear what the scope of the scripts in the repo would be.  Is there anything beyond backup and database sanitization that mig

[2016-09-13 16:54] amanda-phet commented on #485
I think the bullets could be rephrased so that they each have a similar flow:
* Natively designed for iPad
* Ideal for offline use
* Includes favorites, filtering, and automatic updates
* Proceeds support development of new HTML5 sims

If they are too long, could they just go on to the next line?

[2016-09-13 21:38] kathy-phet commented on #485
Shorter versions ...

Native iPad experience
Ideal for offline use
Includes favorites and filtering
Proceeds fund new HTML5 sims

(apps usually update -- so perhaps automatic updates can just be presumed?)

[2016-09-13 22:04] jonathanolson commented on #466
Should be showing the LicensingJavaPanel's StaticPage (https://phet.colorado.edu/en/licensing/java) it seems.

[2016-09-13 22:07] jonathanolson commented on #466
There's a redirection:
[code]
and /en/about/licensing redirects properly, however earlier in the process (later in RedirectionStrategy), there's:
[code]
which seems to shortcut things, from https://github.com/phetsims/website/commit/d6bf0623c900254bec35ea10deb594ae9b7d8834 related to https://github.com/phetsims/website/issues/80

[2016-09-13 22:29] ariel-phet commented on #466
I understand now more... @phet-steele and @mattpen

This page is basically an HTML page shipped with the java sims as shown here

![java](https://cloud.githubusercontent.com/assets/4051174/18493658/e6e084e2-79ce-11e6-97d4-6336fb281799.PNG)

So that link should redirect to https://phet.colorado.edu/en/licensing/java (since the link currently exists in the java sims) but the link should be removed f

[2016-09-14 19:03] mattpen commented on #466
@jonathanolson - Do the java sims pull the content for the licensing page from wicket, or is that duplicated in the svn code somewhere?

In other words, is there some condition I would need to catch to display this link in the wicket code, or can it just be statically removed?

[2016-09-14 23:41] jonathanolson commented on #466
Pretty sure there's a checked-in version.

Feel free to modify the website version (I presume).

[2016-09-14 23:48] jonathanolson commented on #495
The varnish up/down notification scripts (presumably), and maybe things like the apache status scripts. Might add things over time?

[2016-09-15 18:39] mattpen commented on #446
Let's discuss implementing this on simian soon so that we have a disaster recovery solution in place.

[2016-09-16 18:04] mattpen commented on #498
A fix was deployed to phet-server last night.

[2016-09-16 18:04] mattpen commented on #499
This was deployed on phet-server.

[2016-09-16 18:04] #499 closed

[2016-09-16 18:05] #498 closed

[2016-09-16 18:12] mattpen commented on #429
The first error appears to be due to a missing chrome extension on my local installation and is not causing problems.

@phet-steele - Your error looks like it may be due to an Ad blocking chrome extension, do you have anything like that installed?

[2016-09-16 18:35] phet-steele commented on #429
@mattpen yes I do, and I recall a long past Skype conversation between us where we decided that was the cause of my error. It's AdBlock.

[2016-09-16 18:50] mattpen commented on #429
OK, I think both of these errors are chrome errors and not problems with the website.  Closing as wont-fix.

[2016-09-16 18:50] #429 closed

[2016-09-16 19:03] mattpen commented on #466
This was fixed on phet-server

[2016-09-16 19:03] #466 closed

[2016-09-16 19:13] mattpen commented on #493
I got an RC account and applied for the authenticator today.

[2016-09-16 19:15] phet-steele commented on #464
@mattpen Win 10 Chrome, FF, and Edge are all correctly using the standardized names of some Greek files I tried (in the installer).

[2016-09-16 19:26] mattpen commented on #485
@amyh-phet

I just wanted to confirm that this was still the plan.

[2016-09-16 19:48] mattpen commented on #485
@oliver-phet - Could you send pngs or svgs for the rotator image and the banner image for the ipad page (even if they aren't finalized so I can put up placeholders on ox-dev)?

The rotator should be exactly 326x214px.  The banner image should be close to 520px in width, there isn't a hard limit on height.

[2016-09-16 19:51] amyh-phet commented on #485
@mattpenn. As far as I know, that is the plan.

[2016-09-16 20:04] mattpen commented on #464
Thanks Steele, this is working properly on the website too.

[2016-09-16 20:04] #464 closed

[2016-09-16 22:06] oliver-phet commented on #485
@mattpen I'll send you the artwork shortly!

[2016-09-16 22:35] oliver-phet commented on #485
Here are the 2 draft images.
![app_homepage](https://cloud.githubusercontent.com/assets/5090275/18603057/89fe2afe-7c2b-11e6-8630-592fec13d4b1.png)
![app_website](https://cloud.githubusercontent.com/assets/5090275/18603056/89fdf55c-7c2b-11e6-8eb0-24aa967c4a61.png)

[2016-09-19 23:29] ariel-phet opened #500 "Help center pages using Hewlett logo in Open Graph Protocol"
@mattpen when answering a question on our facebook account I noticed that all help center pages are using the Hewlett logo in the open graph protocol.

We should change that to be consistent. It seems the rule should be that unless otherwise specified (such as for sim pages) the default image is always the PhET logo as for the homepage and such.

[2016-09-20 23:27] ariel-phet commented on #500
@zepumph this might be something nice for you to tackle once you have things set up on your computer

[2016-09-20 23:30] ariel-phet commented on #431
@phet-steele since some ported sims (charges and fields notably) have been deployed, can you check and close?

[2016-09-20 23:39] ariel-phet opened #501 "Using Simian for disaster recovery (and enumerating its other responsibilities)"
It sounds like @kathy-phet is on board with the idea of using Simian as a disaster recovery (as we have in the past when OIT is down for various reasons) and serving up a static version of the latest installer.

We should discuss a few things:
1. What are all the services running on simian currently?
2. Would simian benefit from some upgrades (scavenging ram from figaro for instance)?
3. What woul

[2016-09-21 04:32] mattpen commented on #485
@oliver-phet - What should be displayed on the Offline Access page?  Just the download badge or one of the larger images?

[2016-09-21 04:55] mattpen opened #502 "Retire master branch to figaro branch"
When figaro is retired, the code in the master branch will not be able to be deployed to a production context and the major architecture changes in phet-server branch should be merged in.

[2016-09-21 13:39] oliver-phet commented on #485
I would use the same iPad page image at the top of the Offline>iPad section.

[2016-09-21 16:29] oliver-phet commented on #485
@mattpen It might make sense to try write parts of the iPad/Offline image in HTML. Do you think if we had images for the "the all new iPad app" and the iPad image, could you write the bullet points in HTML5. This would allow an actual button, rather than using the whole image as a button.

Thoughts?

[2016-09-21 16:32] mattpen commented on #485
@oliver-phet - We could do the "the all new iPad app" text in html too.  This would allow us also to implement translatability once the app is internationalized.

If the goal is simply making certain regions of the image clickable, we could use an image map instead.

[2016-09-21 21:38] ariel-phet commented on #485
@oliver-phet @mattpen one opinion here. For the "the all new iPad app!" my preference would be "our all new iPad app!"

I feel like that tone just seem to fit us a bit better. But just my preference.

[2016-09-22 21:16] oliver-phet commented on #485
@mattpen Here's a new png.
![app_website](https://cloud.githubusercontent.com/assets/5090275/18766429/7445f3d0-80d7-11e6-9848-8f902e513e93.png)

[2016-09-22 21:22] oliver-phet commented on #485
Also a few other questions @mattpen:

1. The images on the site look a little pixelated... would it make sense to send you double resolution images? (I sent images of the exact resolution you specified).
2. Can we extend the duration for the iPad app rotator image? Maybe add 2 more seconds? (Not change the duration of the other Discipline gifs) If so, can we both remove the 'Download on the App St

[2016-09-23 04:53] mattpen commented on #485
@oliver-phet
1. Yes, it is ok to exceed the exact dimensions.
2. Yes, I can implement this.

[2016-09-23 17:47] oliver-phet commented on #485
Some proposed text:

_Offline-access>iPad:_
We offer an iPad app that allows native offline use of all the HTML5 sims. Find it on the app store here.

In order to 'Download' an individual sim to use on an iPad (offline), you'll need to add it to the iPad reading list.

_Help Center>Running Sims>Tablet:_
**How do I run an HTML5 sim offline on an iPad?**
We offer an iPad app that allows native offli

[2016-09-23 17:56] oliver-phet commented on #485
@mattpen here's a double resolution version of the images
![app_rotator](https://cloud.githubusercontent.com/assets/5090275/18795994/7e9b6d94-8184-11e6-81f7-0a1edd934268.png)
![app_website](https://cloud.githubusercontent.com/assets/5090275/18796049/ba86d0fa-8184-11e6-8dc5-98fae53a701a.png)

[2016-09-23 18:29] amanda-phet commented on #485
For the help center questions can  the text

be phrased in a more positive way: you *can* add it to your iPad reading list.
?

Also, do we normally post the same question in two different places?

[2016-09-23 18:34] oliver-phet commented on #485
I think it would be odd to phrase as "In order to... you can add it".

Maybe "You _can_ 'Download' an individual sim to use on an iPad (offline) _by adding_ it to the iPad reading list."

This is the only question (I believe) that is in two different places, but I thought it seemed so relevant to both?

[2016-09-26 16:34] jonathanolson opened #503 "Peta backups started failing"
Looks like it's due to a networking error (or something). Sent the following to rc-help:

[2016-09-26 16:37] jonathanolson commented on #503
SSH routing failure: (now), Monday 10:36
phet-server daily backup failure at Sun Sep 25 01:00:01 MDT 2016
simian weekly backup failure at Sun Sep 25 06:00:16 MDT 2016
phet-server daily backup OK at Mon Sep 26 01:35:06 MDT 2016
phet-server weekly backup OK at Sun Sep 25 03:13:16 MDT 2016

[2016-09-26 22:22] jbphet opened #504 "make translations open in same tab"
Back in https://github.com/phetsims/website/issues/374 we decided to change the web site so that translations didn't open in a new tab.  I was doing some testing related to translations today, and noticed that the translations still open in a new tab.  I discussed this with @ariel-phet, and we think that this was just omitted when #374 was done, not a conscious choice, so the behavior should be ch

[2016-09-26 22:34] jonathanolson opened #505 "Improper HTML sim version comparison"
It looks like in Project.java, getLatestHTMLDirectory sorts alphabetically, improperly saying "1.1.10" is a lower version number than "1.1.9" (see https://github.com/phetsims/rosetta/issues/137).

The correct way is to separate the version number into major/minor/maintenance and compare each in turn.

[2016-09-27 16:47] ariel-phet commented on #500
@zepumph why don't you tackle this one

[2016-09-27 19:35] amyh-phet commented on #485
@mattpen    After looking at the changes to the homepage to promote the iPad app, we would like to remove the download badge from the Teaching Resources part of the table as the badge is also in the footer and rotating screenshots/video.

[2016-09-27 19:53] oliver-phet commented on #485
_Help Center>Getting Started:_
**Do you have an app?**
We offer an iPad app that allows native offline use of all the HTML5 sims. Find it on the App Store here. Our app is $0.99 and proceeds fund more HTML5 sim development.

We currently do not offer an Android app.

[2016-09-27 20:13] mattpen opened #506 "Internal error on search page after activity is deleted"
The search page will error if the search index has not been rebuilt after deleting a contribution.  The search index is rebuilt regularly throughout the day but should be called automatically after deleting a contribution.

[2016-09-28 03:21] mattpen commented on #485
@oliver-phet - Should the help-center strings be shown in the english locale only?

On the offline-access page, should the current text be shown in the english locale?  In the non-english locales?

[2016-09-28 03:40] mattpen commented on #485
@amyh-phet @oliver-phet @amanda-phet - The latest changes are published to https://ox-dev.colorado.edu.

The help center questions are not up yet, those will need to be added through the admin tool once we put this in production.

[2016-09-28 14:11] oliver-phet commented on #485
@mattpen Would it be easy to limit the help-center strings to English only? If that's the case, I think we only show them in the English locale.

If it's a lot of work to do that, I think we might just modify the help-center strings to state that the app is 'English only'.

Eventually, when the app includes all translations, we'll want to include the app info on other website locales, however.

[2016-09-28 20:31] mattpen commented on #485
@oliver-phet - It would be difficult to restrict help-center strings to one locale, I don't think it could be ready in time for the app store release.

[2016-09-28 21:57] ariel-phet commented on #504
@zepumph kicking this one to you

[2016-09-28 22:01] ariel-phet commented on #462
I think at this point that certainly compared to the old setup things are working well. So time to close this issue, and we will open performance specific issues as they arise

[2016-09-28 22:01] #462 closed

[2016-09-28 22:05] ariel-phet opened #507 "Pages with many images could be "snappier" on FF"
@zepumph the current website architecture is running nicely but when pages have many images they can be a little slow to load on Firefox.

I believe @mattpen mentioned to me some kind of limitation on FF in terms of number of connections or such.

Please talk with him, it would be good to improve this performance.

[2016-09-28 22:09] ariel-phet commented on #492
@zepumph we will have you make this change but first I am going to double check with @jonathanolson if there is anything this change will unintentionally mess up (some kind of meta data or such)

[2016-09-28 22:12] jonathanolson commented on #492
I'm fine with this change, particularly if it makes better titles for Google search pages.

[2016-09-28 22:44] ariel-phet commented on #25
This issue seems way stale, and several services has used our metadata. Closing

[2016-09-28 22:44] #25 closed

[2016-09-28 22:46] ariel-phet commented on #81
Seems time to close this issue. We have fixed plate tectonics with an individual page solution, and eventually we will have filtering enabled on the website.

[2016-09-28 22:46] #81 closed

[2016-09-28 22:49] ariel-phet commented on #125
Pretty sure this is no longer an issue, closing

[2016-09-28 22:49] #125 closed

[2016-09-28 22:50] ariel-phet commented on #191
We probably leave this page until we have re-skinned the site. It is a pain to make the changes and the current configuration is good enough

[2016-09-28 22:50] #191 closed

[2016-09-28 22:55] ariel-phet commented on #253
@zepumph please review this issue and see where things are at (for instance I do not see an accessibility category yet), and make a list of the outstanding items so we can work on them.

[2016-09-28 22:55] ariel-phet commented on #276
A stale issue, closing

[2016-09-28 22:55] #276 closed

[2016-09-28 22:57] ariel-phet commented on #304
I believe this is no longer an issue, closing

[2016-09-28 22:57] #304 closed

[2016-09-28 23:01] ariel-phet commented on #252
@zepumph this issue is a bit more complicated than some of the small ones, but now that the new server architecture is working it would be good to handle.

[2016-09-29 15:38] jonathanolson commented on #503
Improved routing for phet-server, waiting to see for next week on the simian backup.

[2016-09-29 17:45] phet-steele commented on #431
Legacy sims are retaining their own categories!

[2016-09-29 17:45] #431 closed

[2016-09-29 18:38] mattpen commented on #277
Removing assignment due to low priority

[2016-09-29 19:01] mattpen commented on #402
phetsims/perennial#11 was deferred because the state of the DB appears to be fine.  Removing assignment.

[2016-09-29 19:03] mattpen commented on #142
This issue appears to be stale, removing assignment.

[2016-09-29 21:33] mattpen commented on #414
I think it would be much harder to write a script to do this than for someone to parse the website manually and create a list.  This issue is stale, removing assignment.

[2016-09-29 21:46] mattpen commented on #412
This issue is stale, removing assignment

[2016-09-30 04:19] mattpen commented on #433
Reassigning to @zepumph to check if the problem exists with the new installer.

[2016-09-30 04:23] mattpen commented on #440
@phet-steele - This should be working now.  Can you please confirm and close/reassign?

[2016-09-30 04:23] mattpen commented on #439
@phet-steele - This should be working now.  Can you please confirm and close/reassign?

[2016-09-30 04:25] mattpen commented on #444
This issue is stale, removing assignment.

The extra button is needed for the Ajax call I believe, which may not be necessary on the new server as AjaxFallbackLinks are defaulting to Fallback (POST) behavior.

[2016-09-30 04:26] mattpen commented on #442
@zepumph - this would probably be an easy website issue to tackle if you have time.

[2016-09-30 04:28] mattpen commented on #445
This appears to be complete. Closing.

[2016-09-30 04:28] #445 closed

[2016-09-30 04:33] mattpen commented on #474
@zepumph - can you see if this bug is replicable in the new installer? Let me know if we need to work together on fixing this on the website.

[2016-09-30 04:34] mattpen commented on #472
@ariel-phet - Can you please assign a priority? Should @jonathanolson and I work on this soon?

[2016-09-30 04:36] mattpen commented on #473
Unassigning until @zepumph or I have time to work on this.

[2016-09-30 04:37] mattpen commented on #470
The installer-builder is working well enough for now and the new installer is in active development.  Closing.

[2016-09-30 04:37] #470 closed

[2016-09-30 04:39] mattpen commented on #472
This should ideally be tackled alongside #672

[2016-09-30 04:42] mattpen commented on #490
@jbphet @phet-steele - Can you confirm if these links are working now?

[2016-09-30 04:45] mattpen commented on #482
Removing assignment until I have time to work on this.

[2016-09-30 04:49] mattpen opened #508 "Create documentation for Metadata API for external use"
Documentation should be based on original specs in #297 and actual implementation of v1.0.

[2016-09-30 04:49] mattpen commented on #297
New issue was created for documentation, closing.

[2016-09-30 04:49] #297 closed

[2016-09-30 04:52] mattpen commented on #446
Conversation moved to phetsims/special-ops#36

[2016-09-30 04:52] #446 closed

[2016-09-30 04:53] mattpen commented on #493
I received the authenticator today.  I'll test access to peta ASAP.

[2016-09-30 05:03] mattpen commented on #502
master should be ready for a test-deploy, the old figaro state has been moved to the figaro-historical branch.

[2016-09-30 05:07] mattpen commented on #380
Removing assignment until work is prioritized.

[2016-09-30 05:07] mattpen commented on #381
Removing assignment until work is prioritized.

[2016-09-30 05:08] mattpen commented on #355
Removing assignment until work is prioritized.

[2016-09-30 15:27] phet-steele commented on #439
@mattpen they have certainly been working for awhile now.

[2016-09-30 15:27] #439 closed

[2016-09-30 15:44] phet-steele commented on #440
Works!

[2016-09-30 15:44] #440 closed

[2016-09-30 15:47] jbphet commented on #490
We were able to create a multi-language installer and provide it to the requester.  We've only done one, so I wouldn't call it an exhaustive test, but I think we can safely close this for now.

[2016-09-30 15:47] #490 closed

[2016-09-30 17:42] phet-steele commented on #436
@zepumph these three items might be good to work on for now.

[2016-09-30 18:03] phet-steele commented on #199
You cannot enter your email on the Newsletter page anymore. This issue is now largely irrelevant.

[2016-09-30 18:03] #199 closed

[2016-10-01 04:33] mattpen commented on #505
The comparison was corrected in the previous commit.  This is ready for deploy.

[2016-10-01 05:53] mattpen commented on #502
Test deploy was successful, closing.

[2016-10-01 05:53] #502 closed

[2016-10-03 20:07] zepumph commented on #507
After talking with @mattpen about possible solutions it seems that Firefox limits the number of connections between the browser and an http-server to 6. So only 6 images can be loaded at a time. Probably will need to talk to @markmorlino about this.

[2016-10-04 04:26] ariel-phet commented on #472
@mattpen yes this would be good to work on in the next month. Fixing the build tools also makes sense since it is at least possible some action will need to be taken once we have our new certificate.

[2016-10-04 16:51] oliver-phet commented on #252
We had a few requests to delete accounts in the past week (perhaps triggered by email communications).

[2016-10-04 17:08] oliver-phet opened #509 "User reported issue: United Kingdom registration country/state behavior"
Hi, I've just signed up for an account at https://phet.colorado.edu/?wicket:interface=:0:2::: but I noticed that your (required) drop-down menu for State/Province seems to have only English council areas! It would be more normal for a box with those headings to just list England, Wales, Scotland and maybe Isle of Man and some of the smaller islands! In fact, what you've done - I only realised half

[2016-10-04 17:10] oliver-phet commented on #509
Can @mattpen or @zepumph verify what lists/database we are currently using for the Country and State/Province lists?

[2016-10-04 17:37] mattpen commented on #509
@oliver-phet - These are hard-coded into the dropdown panel and no source is given. See [this file](https://github.com/phetsims/website/blob/master/src/java/edu/colorado/phet/website/authentication/panels/CountryStateDropdownPanel.java) for the complete list.  I can edit as needed.  Using some open source resource would probably be better, but this is a difficult thing to handle as borders are fre

[2016-10-04 18:32] zepumph commented on #504
Hey could I get a little more info on what exactly is meant by a 'Translation' . Perhaps a link where I can see the problem. Thanks!

[2016-10-04 18:58] mattpen commented on #504
@zepumph If you go to a sim page, such as https://phet.colorado.edu/en/simulation/plinko-probability, then expand the Translations section, and click on one of the links in the "Download or run" column, these should open in the same tab, not a new tab.

[2016-10-04 19:03] mattpen commented on #485
Links were added, deployment is on hold due to delay in publication of the app.

[2016-10-04 19:22] markmorlino commented on #507
@zepumph I believe that 6 is the default for both firefox and chrome. Are there big differences in load times between browsers? The limit seems to be implemented within most browsers as max connections per host, so accessing the images using different dns cnames for the server in the url might be a way to get around the limit.

[2016-10-04 21:27] mattpen commented on #507
I think we have phet-downloads.colorado.edu for this purpose, but it seems that the image requests may not be getting redirected to there.

[2016-10-06 06:01] mattpen commented on #506
This was deployed to phet-server tonight.

[2016-10-06 06:01] #506 closed

[2016-10-06 06:02] mattpen commented on #505
This was deployed to phet-server tonight.

[2016-10-06 06:02] #505 closed

[2016-10-06 06:03] mattpen commented on #485
@oliver-phet - The changes should all be live on phet-server now.  Can you review and let me know if we need anything else?  Also, can you please add the help center strings if they are finalized?

[2016-10-06 06:09] mattpen commented on #508
@jonathanolson - I put up a first draft of the documentation for version 1.0 at https://ox-dev.colorado.edu/en/services/metadata/1.0/documentation, can you please review when you have a chance?

[2016-10-06 06:42] jonathanolson commented on #508
- "Query Parameters" instead of "Options" would be nice
- Having the example URL closer to the top (and possibly linked) would be helpful, so people can copy-paste or click to try a request.
- The "Full Object" and "Summary Object" parts are a bit hard to read, since it is hard to tell what parts get replaced in API requests. "id" is Number, but "timestamp" is 0. Both noting the type (number) and

[2016-10-06 07:50] jonathanolson commented on #503
Resolved.

[2016-10-06 07:50] #503 closed

[2016-10-06 14:29] oliver-phet commented on #485
Help center strings have been added but not all have updated yet.

[2016-10-06 14:49] oliver-phet commented on #485
All strings are visible. Closing for now!

[2016-10-06 14:49] #485 closed

[2016-10-06 16:54] mattpen commented on #508
As of today, phet-io versions are not added to the website database so the API would not know about them.  Perhaps we could add this in a new version of the Metadata if we start tracking the phet-io sims in the DB.

[2016-10-06 17:36] oliver-phet commented on #509
I searched around a bit for some country/city lists but there doesn't seem to be a solid, open source option.

Perhaps something like this: https://github.com/hiiamrohit/Countries-States-Cities-database

[2016-10-06 22:16] zepumph commented on #509
I just found out that the un maintains some pretty detailed lists here:
http://www.unece.org/cefact/codesfortrade/codes_index.html

Download the .txt or .csv and look at the "2016-1 SubdivisionCodes" and it gives a list of every province/state:
"US","AL","Alabama","State"
"US","AR","Arkansas","State"
"US","AS","American Samoa (see also separate entry under AS)","Outlying area"
"US","AZ","Arizona",

[2016-10-06 23:43] oliver-phet commented on #509
This sounds like a great option - but how would we handle changes to user records?

[2016-10-07 00:10] zepumph commented on #509
@oliver-phet can you be a little more specific on  what you mean by updating user records? Also there is also an index of cities if we want to go that far like these from the UAE:
,"AE",,".UNITED ARAB EMIRATES",,,,,,,,
,"AE","ABU","Abu al Bukhoosh","Abu al Bukhoosh",,"1-------","RL","0307",,"2529N 05308E",
,"AE","AUH","Abu Dhabi","Abu Dhabi","AZ","1-345---","AI","1101",,"2428N 05422E",""
,"AE","AM

[2016-10-07 00:25] zepumph commented on #433
Just in the past few days this has started happening. I'm going to try and crack down on it and make it more reproducible.

[2016-10-07 03:39] oliver-phet commented on #509
Wouldn't we want to update the existing user records to this new list? ie: A Scotland user would be converted to United Kingdom.

I'm also wondering about the salesforce integration - @mattpen may need to comment if this change will affect that.

[2016-10-07 20:13] zepumph commented on #433
Last night I successfully installed a without activities rip with installer jars.

[2016-10-10 16:24] oliver-phet commented on #509
A report of this from a second user:

[2016-10-10 20:03] amanda-phet opened #510 "Should we get rid of the newletter page?"
https://phet.colorado.edu/en/about/news

The last posted newsletter is from spring 2015. We've definitely sent some since then.

This page is also missing the "subscribe" entry box. (https://github.com/phetsims/website/issues/87#issuecomment-79353159) So there is currently no way to subscribe (other than through signing up, but that is not clear).

I am wondering if we should get rid of this page

[2016-10-10 21:16] mattpen opened #511 "HTTPD errors"
@markmorlino - We are getting the following error 2-10 times/minute on phet-server, reported in /var/log/httpd/phet-new.colorado.edu-error.log.  It looks like something is trying to contact a service in port 9009, but nothing is listening on port 9009.  Any idea what might be causing this, or if it could cause problems?

[code]

[code]

[2016-10-10 21:30] ariel-phet commented on #511
@mattpen when did this error begin occurring

[2016-10-10 21:31] markmorlino commented on #511
@mattpen
/etc/httpd/conf.d/phet-new.colorado.edu.conf:  RewriteRule "^/statistics/submit_message(\.php)?" "fcgi://localhost:9009/data/web/htdocs/phet/statistics/submit_message.php" [P,L]
not sure exactly what is supposed to listen on 9009 but this is where it is configured

[2016-10-10 21:35] markmorlino commented on #511
@ariel-phet I've been able to see it in the error logs going as far back as August 9th

[2016-10-10 21:42] ariel-phet commented on #510
I would be fine with killing this page (it is currently not navigable from the site I believe). If we keep it, we should perhaps update the archive to only include our modern format newsletters and figure out a place to put a navigation link.

[2016-10-10 21:44] ariel-phet commented on #511
Seems yotta related no?

[2016-10-10 21:44] amanda-phet commented on #510
It is navigable from the footer - the envelope icon.

[2016-10-10 21:45] kdessau-PhET commented on #510
I'm fine with killing it especially since we use the new format. We'd have to make up a dummy newsletter to link it though. @oliver-phet What do you think? Or are the links from the footer active and not subscriber specific?

[2016-10-10 21:49] ariel-phet commented on #510
@amanda-phet - oh right!

[2016-10-10 21:52] oliver-phet commented on #510
@kdessau-PhET I'm not following. The latest newsletters could be rendered in a browser (since they are written in HTML) so it would be doable to convert a newsletter into a webpage.

What did you mean by this comment?

[2016-10-10 22:21] kdessau-PhET commented on #510
If you think it will work then we should be fine. But one question is is it worthwhile. I am not sure if it is necessary. The newsletters are so much shorter in the new format. Did anyone really use this page?

[2016-10-10 22:25] markmorlino commented on #511
it seems related to the php-fpm service not running

[2016-10-10 22:31] markmorlino commented on #511
php-fpm had 2 configuration files in /etc/php-fpm.d/ a statistics.conf file and a www.conf file. statistics.conf appears to be what should be running (it listens on port 9009). www.conf appears to be a default config file that gets installed with the php-fpm package. www.conf has a configuration setting to listen on port 9000. Stunnel is already listening on this port so the php-fpm service was no

[2016-10-11 04:15] mattpen opened #512 "Alignment links are broken"
The alignments for simulations are pointing to broken links, at some point they apperently held.  For example: http://purl.org/ASN/resources/S11435AA.  The alignments are only used in the IQity export and in meta tags on the sim pages.  The alignments [are hardcoded](https://github.com/phetsims/website/blob/master/src/java/edu/colorado/phet/website/metadata/InitializeMathCommonCore.java) into the

[2016-10-11 15:30] jonathanolson commented on #512
Looks like one URL that still works is http://asn.jesandco.org/resources/S11435AA (instead of http://purl.org/ASN/resources/S11435AA), of which maybe http://www.corestandards.org/Math/Content/HSS/IC/B/3/ is a better URL.

Reaching out to people who use the alignments is probably best to figure out what they want to see.

[2016-10-11 17:31] amanda-phet commented on #512
I don't know who uses the alignments so I'm not sure how helpful I can be. Trish was the one who would've known. Perhaps @amyh-phet or @arouinfar know?

I would LIKE to align math sims to CCSS-M standards and display these alignments on the sim page, but that seems like a different issue.

[2016-10-11 18:01] arouinfar commented on #512
@amanda-phet I am not familiar with iQity, but maybe KP knows?  It seems strange to me that we have links to a 3rd-party host of CCSS-M standards hardcoded into our sims.

[2016-10-11 18:48] mattpen commented on #511
Thanks @markmorlino.  The errors appear to have stopped, this looks great.

[2016-10-11 18:48] #511 closed

[2016-10-11 18:51] amyh-phet commented on #512
@amanda-phet  I'm also not familiar with iQity.  It does seem strange that we would link to a 3rd party host for alignment to CCSS-M.  I like the idea to display the alignments on the sim page.  Other than teachers, I imagine some of our partners (e.g. Brainpop) would use alignments, but I'm not sure why this is hardcoded in the sim.

[2016-10-11 18:56] kathy-phet commented on #512
I don't think its hardcoded in the sim, I think its available in the sim metadata associated with each sim that lives on the website. I will ping Trish to recall the context. I believe this was recommended as a way to index the standards to allow others to have our sims aligned.

[2016-10-11 19:18] ariel-phet commented on #512
At some point, we need to prioritize searching by Standards and redo things on the website.

The right thing to do at the moment would probably be to wipe this out, and start from scratch. Especially since these are broken, lets just scorch the earth of them, and we will deal with this properly.

[2016-10-11 19:22] kathy-phet commented on #512
I would like to understand the history. They aren't causing any issues at the moment.

[2016-10-11 22:09] ariel-phet commented on #512
Unassigning myself and others in that case. Leaving up to @kathy-phet to check with Trish and reassign as necessary

[2016-10-12 05:20] mattpen commented on #508
v1.0 documentation was delivered to Jamie.

[2016-10-12 05:20] #508 closed

[2016-10-12 15:56] patricialoeblein commented on #512
My memory of the math correlation work that was done a few years ago was by Karina K  and I did some verifying and discussions with her. I have a folder of some work from 2012 that I have attachedT there is also some files with science standards. in the folder, but I renamed the folder for this conversation. I see that we used NDSL links some; at that time NDSL included math standards. It is proba

[2016-10-13 18:33] zepumph commented on #436
Closing, to be tracked in phetsims/installer-builder#34

[2016-10-13 18:33] #436 closed

[2016-10-13 19:05] zepumph commented on #442
I fixed all of the links, they should be up on the next deployment.

[2016-10-13 19:17] zepumph opened #513 "Add *.iml to .gitignore"

[2016-10-13 19:22] amanda-phet commented on #510
Discussed further at 10/11/16 meeting and decided to get rid of this page (as well as the link from the footer).

I assume reworking the footer is the nontrivial part of this request, so assigning to @mattpen to give an ballpark on the difficulty and @ariel-phet to assign priority.

[2016-10-13 19:53] mattpen commented on #510
@amanda-phet -- I think removing the internal links to the newsletter pages should be relatively easy, even in the footer.  Removing the routes will be more difficult, and it's not clear what the new behavior should be.  If some requests one of the newsletter pages, should it show the 404 not found page or redirect to something else?

[2016-10-13 19:55] zepumph commented on #492
@ariel-phet I fixed this issue, although it isn't pushed or deployed yet, and in working on it I realized that sometimes the Topics include the sim name as well. Correct me if I'm wrong, I don't really understand the keyword/topic differentiation or what they are used for separately.

For example look at [faraday's law](https://phet.colorado.edu/en/simulation/faradays-law)
It has Faraday's law in

[2016-10-13 19:57] mattpen commented on #500
Merged changes with master

[2016-10-13 22:56] zepumph commented on #492
On closer look perhaps Faraday's Law's keywords and topics may just be the same? Anyways I changed the look of title page and it references topics not keywords. @mattpen and I are deploying to production tonight if we want this to be added.

[2016-10-14 04:08] zepumph commented on #442
Deployed these changes this evening and all looks good. Closing

[2016-10-14 14:50] #442 closed

[2016-10-14 14:50] zepumph commented on #492
@ariel-phet changes are deployed, see what you think

[2016-10-14 14:51] zepumph commented on #500
Deployed changes last night, closing

[2016-10-14 14:51] #500 closed

[2016-10-14 14:53] zepumph commented on #504
Deployed on the main website last night. Closing

[2016-10-14 14:53] #504 closed

[2016-10-14 19:04] ariel-phet commented on #510
@mattpen @amanda-phet I think if someone requests one the newsletter pages perhaps just redirect to the "about PhET" page. Eventually we will tidy that page up, and perhaps it will have a portion on it that is an archive of the latest news we have put up on the homepage (in the new design).

[2016-10-14 19:08] mattpen commented on #480
@jonathanolson - Is there anything else to check here? I should have peta access now, can we find a time to work on this together?
<hr/>
Also,

I thought the log files were being written to simian in real time (plus network delay)?

[2016-10-14 19:10] mattpen commented on #472
@jonathanolson - Are you available to pair on this task, sometime in the next 2 weeks?

[2016-10-14 19:17] ariel-phet commented on #492
@zepumph where this has taken effect, it looks good. However, I seem to be seeing places where the new format is not showing:

Example:
https://phet.colorado.edu/en/simulation/legacy/balloons-and-buoyancy
https://phet.colorado.edu/en/simulation/isotopes-and-atomic-mass
https://phet.colorado.edu/en/simulation/legacy/calculus-grapher

I did not look extensively but these seem to all be sims that hav

[2016-10-14 22:09] jonathanolson commented on #480
Does the above schedule sound good?

We can have a call sometime to discuss if it's easier. I can add documentation once it's checked in (https://github.com/phetsims/website/issues/495).

[2016-10-14 22:11] jonathanolson commented on #472
Yes, should be available, let me know when is convenient.

[2016-10-18 19:27] jessegreenberg opened #514 "Update accessible balloons and static electricity links"
From https://github.com/phetsims/balloons-and-static-electricity/issues/174, for the Assets conference, it would be nice if the links to accessible balloons and static electricity are updated to the latest version.  The following links would need to be updated:
1.2.0-accessible-instance.16
![base1](https://cloud.githubusercontent.com/assets/6396244/19493024/331b036e-9536-11e6-9312-16737af67bb6.PNG

[2016-10-19 03:26] mattpen commented on #514
@jessegreenberg - Yes, this shouldn't be a problem.  Please post where these links should now point and what the new text should be.  Please let me know before 10/21.

[2016-10-19 15:25] zepumph commented on #474
@mattpen  it does seem to be happening on the new installer also. I'm getting the same error with html5 sims. On many flash sims there is an error checking for updates as well. This is interesting because I individually download each html sim after the rip of the whole website is complete. Do you think it is a bug on my side or the sim side? I just tested the individual downloads of html5 and flas

[2016-10-19 15:52] zepumph commented on #253
@ariel-phet  I agree with you, an accessibility section would be nice. I also think that this page would be easy to make pretty with help center like header toggles. It would make the whole page much less unwieldy, and smaller. It wouldn't be so difficult I think.

In terms of organization, I briefly reviewed and it looked like everything was still organized well in terms of date (newest highest).

[2016-10-19 16:02] zepumph commented on #252
I can get started on this but I would love to decide what the best thing to do would be. I think it makes sense to delete an account if they ask of that. So perhaps having one account we create—called PhET Activity Master, or something more real—would be a nice way to factor the activities out of the account to be deleted.

As for the contact info that would be displayed on those activities. We co

[2016-10-19 16:03] ariel-phet commented on #253
@zepumph all sounds good to me. I would say run with your thoughts on the dev site, and @emily-phet and I can review when you feel you have some good changes. The help center header toggles sound reasonable to me and would make the navigation a bit more seamless/modern.

[2016-10-19 17:51] mattpen commented on #252
@zepumph This approach sounds great.  phethelp@colorado.edu already has an account that we could use for this purpose.  We would probably want to bring it up to date first, it looks like there is no name or anything associated.

[2016-10-19 17:54] mattpen commented on #474
@zepumph - I'm not quite sure how the html checks work from the sim side.  Let's pair on this when you get back so I can see how the website is behaving when it receives a request from a sim from the installer.

[2016-10-19 17:59] kathy-phet commented on #252
Just a quick thought - we would want to keep the name associated with the activity, because attribution is important. Not sure how that would work!

[2016-10-19 22:55] ariel-phet commented on #252
@zepumph a few things
- putting phethelp as the contact in these cases would be fine, queries are unlikely to be overwhelming
- As @kathy-phet mentioned we will want to retain the original author as the "author" and would only want to change the contact info
- In the activities database it seems we could decouple the contact info from the author (in most cases it would be the same but these two fi

[2016-10-20 16:43] ariel-phet commented on #492
@zepumph did you see my comment above?

[2016-10-20 16:45] oliver-phet commented on #509
@ariel-phet Priority for this issue?

[2016-10-20 16:52] ariel-phet commented on #509
@oliver-phet lets say medium and see if @zepumph can get to this next week

[2016-10-20 17:40] jessegreenberg commented on #514
Thanks @mattpen, I will have the link posted in this issue by the end of today 10/20.

[2016-10-20 19:11] mattpen opened #515 "Write API for updating translate time of a sim"
We should add an API to the website code that takes a date, sim-name, and locale from a POST request and changes the translateTime for that localized sim with that date.  This is needed for https://github.com/phetsims/phet-app/issues/234, and after it is complete changes will need to be made to the build-server/rosetta.

[2016-10-20 19:13] mattpen commented on #515
This data should also be added to v1.1 (new) of the Metadata API.

[2016-10-21 00:42] emily-phet commented on #253
Just a note - in case this wasn't clear - the publications under the accessibility section would be the same publications listed on the "research and design" portion of PhET's accessibility section of the website.
Also, I spoke with @amanda-phet yesterday about some of the research page design, and possible icons (similar to the help page icons). Sounds like these icons are still being designed, b

[2016-10-21 02:57] mattpen commented on #515
Perhaps instead of implementing an API, `Project.synchronizeProject` should be changed so that it updates the translateTime rather than updateTime, if it detects that it was called because of a translation publication.  In this case, the build-server would need to know if it has been called by rosetta, and it should pass that information to the website.

@jonathanolson - Do you foresee any issues

[2016-10-21 03:33] mattpen commented on #515
@jonathanolson @jbphet -- I have made changes to build-server, rosetta, and the synchronizeProject call on the website, so that the website is notified if a synchronize project call was originated from a rosetta translation and what locale was translated.  I think this is ready to test on ox-dev, but I would like to get your input on if you think this is a good approach or not.  I made the changes

[2016-10-21 20:28] jessegreenberg commented on #514
@mattpen here is the destination which both links should now point to:
http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.2.0-reader.7/balloons-and-static-electricity_en.html

Could you also please rename both links to ```1.2.0-reader.7```?  Thanks!  Please let me know if you need any more information.

[2016-10-22 03:10] mattpen commented on #514
@jessegreenberg - These should be up on the main website now.  Please confirm and close if it looks ok.

[2016-10-24 15:23] zepumph commented on #492
Yeah I did, I'm still working on a change that incorporates less topics. I haven't had time to do much with it yet. I'll keep you posted.

[2016-10-24 15:50] zepumph commented on #253
Sounds great guys. I'll get a draft going and use placer icons, @emily-phet let me know when you have those set.

[2016-10-24 16:50] ariel-phet commented on #493
@mattpen have you tested access yet? Might be good to do and close this issue

[2016-10-24 16:58] ariel-phet opened #516 "Make Chemistry PD video featured video on Teacher Resources page"
@amyh-phet please work with @zepumph to get the main video on the teacher resources page changed to the one featuring Tim. You might need to get @oliver-phet to put it up on youtube for you first.

With this change lets go ahead and remove the "happy speak" of "Welcome. in these pages..."

Might be good to give the video a brief title and description, something that conveys "college example but wi

[2016-10-24 16:59] ariel-phet commented on #516
Labeling high priority since this should be a relatively speedy change and would be good to do in the near future, so at least the main video on the page is more relevant/useful

[2016-10-24 17:01] ariel-phet commented on #516
After this issue is tackle it would be good to consider how to deal with https://github.com/phetsims/website/issues/456

[2016-10-24 17:02] jessegreenberg commented on #514
Thanks @mattpen, the links are working great.  It sounds like there are a couple more things that we would like to add to the accessibility page:
- A link to an accessible version of the poster that @terracoda is using to present at the assets conference.
- A link to an accessible document describing screen reader compatibility of Balloons and Static Electricity.

We will post links to the content

[2016-10-24 17:02] ariel-phet commented on #456
@amyh-phet kicking over to you now that we have some bandwidth on the web dev side to take care of this issue. Lets deal with replacing the main teaching resources video first, and feel free to bring this issue up at a website meeting if you feel like it could use additional input.

[2016-10-24 19:10] jbphet commented on #515
I'm not too keen on this approach.  It seems like it forces some tight coupling and some implicit assumptions that could easily get broken in the future.  Assuming I understand this correctly, the code has been changed such that Rosetta identifies itself to the build server when a build request is made, and the build-server assumes that this means that a translation is being requested, so the buil

[2016-10-24 20:11] emily-phet commented on #253
@zepumph I gave feedback on the designs, but the person in charge of the icons is @amanda-phet, she can let you know when they're ready to go.

[2016-10-24 21:26] terracoda commented on #514
@jessegreenberg and @mattpen, FYI, the poster PDF is not an accessible PDF. The word document version is the only accessible content at the moment.

[2016-10-24 23:10] jessegreenberg commented on #514
@mattpen if you have time, here is the list of requested changes:
- [ ] Under 'Auditory Descriptions', under the compatibility table for Balloons and Static Electricity, can you please add the following note:  ```'Note:  This prototype is also compatible with VoiceOver using the Chrome browser."```
- [ ] Add a link to the PDF of the poster, and then a link to the accessible Word version to the lis

[2016-10-25 02:09] mattpen commented on #514
@jessegreenberg - These were deployed to the website tonight.  Please let me know if any further changes are needed.

[2016-10-25 14:19] terracoda commented on #514
Hi @mattpen, I saw a content issue (not critical) in the list of keys for BASE. The H key only bring up help when the user has the balloon grabbed. We could change:

Press 'H' anywhere to pull up a keyboard help dialog.
to
Once balloon is grabbed, the 'H' key is pressed to pull up a keyboard help dialog.

[2016-10-25 14:26] emily-phet commented on #514
@mattpen - Here's a tweak to the wording @terracoda suggests above:

Instead of "Press 'H' anywhere to pull up a keyboard help dialog." replace with:
"Once balloon is grabbed, press 'H' key to access the keyboard help dialog."

To make this consistent across the other instructions also replace "Once a balloon is picked up, it can be dragged with the 'WASD' keys" with:
"Once a balloon is picked up,

[2016-10-25 15:59] amanda-phet commented on #253
What are the top-level categories that we want icons for? I'm trying to parse the comments above, and I think they should be:

* About
* Publications and Presentations

Under "About" is where you'll find the FAQ and Immediate Interests sections, and under "Publications and Presentations" is where you'll find sections for

    Important features for effective simulation design (predominantly interv

[2016-10-25 16:09] mattpen commented on #515
@jbphet and I discussed this issue today.  We are going to remove the changes from rosetta, and change build-server so that it passes on the list of locales that it has built.  The Synchronize project will update the translate time of all locales in the list, and change update time for the simulation to return the translate time of the English locale.

[2016-10-25 16:13] amanda-phet commented on #510
I'm fine with @ariel-phet 's suggestion to redirect to the "about PhET" page.

If there's nothing else to discuss, let's move forward with remove the newsletter page from the site and the footer.

[2016-10-25 16:15] kdessau-PhET commented on #510
I agree.

[2016-10-25 17:55] oliver-phet opened #517 "Edits to Help Center 'Running Sims' sub categories"
@zepumph Could you make the following edits? You may need to consult @mattpen since he was the original dev of the Help Center.
1. Change 'Tablet' to 'iOS'
2. Change 'Mac' to 'macOS'
3. Create 'Android' and position 6th (between 'Chromebook' and 'Linux')

Once these are done, I'll fix up the individual questions!

[2016-10-26 03:02] mattpen commented on #515
I committed the changes in above and in this perennial commit: https://github.com/phetsims/perennial/commit/311d2cb0675a96a0452344027cedb831a027f9d6.  This is ready for deploy/testing on ox-dev.

[2016-10-26 19:07] zepumph commented on #516
@amyh-phet what is the status of this video? Is it on youtube or do we still need to do something more?

[2016-10-26 19:25] amyh-phet commented on #516
@zepumph   Working on this this afternoon.  I didn't see it on our youtube channel.  We will also need to make small changes to the text on the page that goes with the video.

[2016-10-26 19:40] zepumph commented on #516
@amyh-phet should @oliver-phet put it on youtube, or is there another way to get that done? I can change the text simply, just let me know what you think we do instead of the "happy speak".

[2016-10-26 19:49] oliver-phet commented on #516
I believe this is the video: https://www.youtube.com/watch?v=UypdZe2Wv9A&feature=youtu.be

It is currently "unlisted".

[2016-10-26 20:00] amyh-phet commented on #516
@zepumph   Here's a mockup for the new video and text on the Teaching Resources page.  In addition to replacing the 'Teachers and Students Speak about PhET' video, the text above the video should be replaced with the text shown on the mockup.

![herzog_video](https://cloud.githubusercontent.com/assets/13650180/19742945/765c507a-9b84-11e6-9941-6f5effaccf70.png)

Let me know if you need anything els

[2016-10-26 21:23] zepumph commented on #516
In updating this page, I'm noticing that it isn't translatable. @ariel-phet is this purposeful or an oversight?

[2016-10-26 21:26] ariel-phet commented on #516
I would say an oversight

[2016-10-26 21:29] zepumph commented on #516
Alright ill use this issue to also make the Teaching Resources page translatable.

[2016-10-26 23:51] emily-phet commented on #253
@amanda-phet - I apologize.  I realize I was misremembering our conversation about icons. We didn't discuss icons for this page, it was for the accessibility page. Sorry for any confusion!

Yes, I think the top level categories would be "About" and "Publications and Presentations" as you list above. I think it would be more clear, and consistent with common phrasing, to change the sections under "

[2016-10-27 17:29] mattpen opened #518 "Add phet-cache1/2 to newrelic monitoring, remove figaro"

[2016-10-27 17:34] zepumph commented on #516
@amyh-phet Would I have a draft on my local machine right now and I make the 'Teacher Feature' a bit bigger on accident, and I kinda like it. Also this is the thumbnail for the video that youtube is giving me. Would you rather this:

![image](https://cloud.githubusercontent.com/assets/6856943/19778272/36bcb30a-9c39-11e6-8bff-f0da4990dfb9.png)

Or your original small and black 'Teacher Feature'.

[2016-10-27 17:36] oliver-phet opened #519 "Licensing form link change"
Moved to @colorado.edu drive. Please modify the link on the page https://phet.colorado.edu/en/licensing

New link:
If your use includes redistribution of the simulations, please let us know with [this form](https://docs.google.com/forms/d/e/1FAIpQLScJLU-T_z-0BnIEH3TekDdxBdMZ8cKboKNeZ-ftF1vqyn6zcA/viewform).

[2016-10-27 17:36] oliver-phet commented on #519
Fixing something just a sec.

[2016-10-27 17:39] amyh-phet commented on #516
@zepumph  I like the version above.

[2016-10-27 17:43] zepumph commented on #516
To be explicit, @amyh-phet the one I just showed you?

[2016-10-27 18:08] amyh-phet commented on #516
@zepumph   Yes, the version you just showed me.  Sorry to be so vague!

[2016-10-27 18:39] zepumph commented on #516
Changes are now on maser

[2016-10-27 21:12] zepumph commented on #519
I updated the href, but it is not on any server yet.

[2016-10-27 21:26] amyh-phet commented on #516
@zepumph   Any chance I can take a look at this on ox-dev before it goes live in the website?

[2016-10-27 21:45] zepumph commented on #516
Definitely, I'll tell you when it is on oxdev

[2016-10-28 16:10] zepumph commented on #517
We are close on this one, I have everything working, but the background blue svg isn't dynamic, it's a picture that is loaded as a background. Should be an easy fix, someone will just need to upload a new copy of it, slightly extended to the same url:
`https://phet.colorado.edu/images/icons/help-center/Running_sims_box.svg`

Here is what it looks like now:

![image](https://cloud.githubusercontent

[2016-10-28 16:14] zepumph commented on #517
Assigning to ON to assign the right person for the job

[2016-10-28 16:25] zepumph commented on #492
So the two topic title is now fixed:
![image](https://cloud.githubusercontent.com/assets/6856943/19813814/8cc6ecc4-9cf8-11e6-9f50-be325aafc203.png)

and so is the problem with sims' first topic being the name of the sim in the title:

![image](https://cloud.githubusercontent.com/assets/6856943/19813856/cab27454-9cf8-11e6-8030-ec23cab6578c.png)

How does that look @ariel-phet?

[2016-10-28 16:29] oliver-phet commented on #517
I think this should do the job! https://drive.google.com/open?id=0B3aB5oT9c4e0WkJCMVVNZjhVYzQ

[2016-10-28 16:31] zepumph commented on #517
Also, just a note, because of how the admin panel is instrumented in indexing in a list, as soon as we push this change, the single linux question will be under android, which will need to be manually moved if that isn't too much of a problem.

[2016-10-28 16:32] oliver-phet commented on #517
Yep, not a problem.

[2016-10-28 16:43] zepumph commented on #517
Thanks for that! it is looking good!!

![image](https://cloud.githubusercontent.com/assets/6856943/19814430/643a6af8-9cfb-11e6-9826-9536be21cba6.png)

 I'll let you know when it is deployed

[2016-10-28 16:47] zepumph commented on #456
Unassigning until @amyh-phet has something for me.

[2016-10-28 16:48] oliver-phet commented on #517
Can you recenter the icons in the rectangle? It looks like they are shifted slightly to the right?

[2016-10-28 16:50] zepumph commented on #517
Hows that?

![image](https://cloud.githubusercontent.com/assets/6856943/19814652/55eaeb5c-9cfc-11e6-9645-4cca37acaba3.png)

[2016-10-28 17:30] oliver-phet commented on #517
Yep, that looks great!

[2016-10-28 18:11] ariel-phet commented on #492
@zepumph looks good, can you deploy to dev so I can test it out?

[2016-10-28 18:40] zepumph commented on #517
Have a look here: https://ox-dev.colorado.edu/en/help-center/running-sims

And you'll find that the pointing to 'running sims' is off because we made the svg bigger, I'm not sure how to debug on my end. . .

[2016-10-28 18:40] zepumph commented on #519
This is on phet-dev now if you want to make sure all is good

[2016-10-28 18:41] zepumph commented on #492
Have a look on phet-dev now @ariel-phet.

[2016-10-28 18:42] zepumph commented on #516
@amyh-phet it's on ox-dev now: https://ox-dev.colorado.edu/en/teaching-resources

[2016-10-28 18:44] ariel-phet commented on #492
Looking great! I would say ready for the next website deploy

[2016-10-28 18:46] ariel-phet commented on #516
I see two typos @zepumph "howhe uses" should be "how he uses" and "that arerelevant" should be "that are relevant"

[2016-10-28 18:50] zepumph commented on #516
Thanks for that! The line wraps in the code took away spaces. All fixed now in the code base.

[2016-10-28 19:06] ariel-phet commented on #516
@zepumph pleases also change the text to say "relevant across grade levels and disciplines."

[2016-10-28 19:15] oliver-phet commented on #517
Yeah and it looks like the image got scaled a little too:
https://ox-dev.colorado.edu/en/help-center/running-sims
vs
https://phet.colorado.edu/en/help-center/running-sims

When I edited the image I kept the "pointer" in the same absolute location and just added width (hoping to avoid this problem).

[2016-10-28 19:17] oliver-phet commented on #517
Can you try fixing the scaling to see if it aligns the "pointer" properly?

[2016-10-28 19:20] zepumph commented on #517
Yeah I'll be able to make it pretty in my end, for some reason I was stuck
in the 'editing the svg directly'  mode, it will be simple css

On Oct 28, 2016 13:17, "Oliver Nix" <notifications@github.com> wrote:

[2016-10-28 20:13] amyh-phet commented on #516
@zepumph looks good with the changes requested above by @ariel-phet

[2016-10-28 20:22] emily-phet opened #520 "Suggestion: Decrease number of sims under "New Sims""
I was just looking for Build an Atom, and it took me a minute to remember there's a "New Sims" list and an "HTML" list. The "New Sims" list contains so many sims that it seems like the complete list. There's enough on the "New Sims" list that I think people could just interpret it as "a lot" and perhaps not recognize that there's actually another list of HTML sims.
A small tweak that might help th

[2016-10-28 21:07] zepumph commented on #516
Thanks guys!

[2016-10-28 21:20] ariel-phet commented on #516
@zepumph let me know when you have pushed changes to ox-dev

In the lower sections there are also a few typos where line breaks appear not to have given spaces (inmany ways) (writtenresources) (otherteachers) (asimulations) (scrolldown) etc.

[2016-10-28 21:23] ariel-phet commented on #520
@emily-phet thanks for the suggestion. I think it is easy to tweak these days.

One obvious way to go might be to on a normal size page not go beyond "scrolling" for new sims.

Adding to the agenda for website meeting

[2016-10-28 21:40] zepumph commented on #509
I found this url: https://blueprints.launchpad.net/openobject-server/+spec/countries-states-and-provinces, that has states and provinces that I am going to use for the drop downs. It's in xml which will make it nice and easy. @mattpen where should the `countries.xml` and `provences.xml` go?

[2016-10-28 22:27] amyh-phet commented on #456
@zepumph    I've got this item on the agenda for our website design meeting on 11/1.  I'll update in this issue once we discuss options for these videos.

[2016-10-28 22:44] ariel-phet opened #521 "SEO for "STEM""
@kathy-phet writes:

@mattpen @zepumph perhaps we could automatically add STEM (shorthand these days for Science Technology Engineering and Mathematics) as a keyword/metadata tag to most pages on the site? Certainly the homepage, all sim pages, and all sim category pages? Or is there a better way to accomplish SEO in this case?

[2016-10-28 22:45] ariel-phet commented on #521
Marking medium priority, because, well, when the boss brings it up, it ain't low priority :smiley_cat:

[2016-10-31 15:13] mattpen commented on #518
I installed NewRelic on the caches and removed figaro from monitoring this morning.  NewRelic is already collecting data.

[2016-10-31 15:13] #518 closed

[2016-10-31 16:16] mattpen commented on #521
I'm a bit confused why we are even showing up there because we don't have the word "STEM" anywhere in our pages.  We should probably add it to the meta tags in the header.

[2016-10-31 16:19] ariel-phet commented on #521
@mattpen interesting - meta tags in the header sounds good

[2016-10-31 16:20] mattpen commented on #521
We probably need to look into managing our search properties in google a bit more closely, the current description for our site if you search Google for PhET is "A set of simulations covering diverse key topics designed by the University of Colorado, USA, in English and Spanish."  This seems out of date, as the description has been updated to "Free educational simulations covering a diverse topics

[2016-10-31 16:45] mattpen commented on #521
I added our https site to the search console.  Previously we were only monitoring the http site, which was only 301 redirect pages since August.

[2016-10-31 23:15] zepumph commented on #521
Unassigning myself. Let me know if you need anything @mattpen.

[2016-11-01 17:48] zepumph commented on #509
Update, I think that https://github.com/hiiamrohit/Countries-States-Cities-database may be a really good option, after diving into an implementation myself, perhaps it would be easiest to export it. This github repo isn't tremendously popular, but it seems good enough option, and it's dynamically loaded, unsure how we would work wicket into that.

[2016-11-01 19:20] arouinfar commented on #520
Discussed in the 11/1/16 website meeting. We've decided that 12 sims seems like a reasonable number of new sims to display.

@mattpen can you reduce the number of sims that is shown on the "New Sims" page to 12 sims?

[2016-11-01 21:37] amyh-phet commented on #516
@zepumph   Can we make a few more changes to the Teaching Resources page before pushing to the live site.  We'd like to eliminate the orange buttons and make the three headings below the videos function as links to the three pages.  The descriptions below the page titles should also be removed.
![teaching_resources_content_changes_11_01_16](https://cloud.githubusercontent.com/assets/13650180/19908

[2016-11-02 17:58] amanda-phet commented on #253
No worries! Dave designed two icons for this page. Let me know if you would like any other design work done.
<img width="239" alt="screen shot 2016-11-02 at 11 56 33 am" src="https://cloud.githubusercontent.com/assets/7852916/19940875/af768ec4-a0f3-11e6-902f-51fc9b2326e8.png">

The "About" icon will be used in a few other places on the website as well, but this is the first instance of it so if yo

[2016-11-02 18:12] emily-phet commented on #253
@amanda-phet - these look great!

[2016-11-02 18:41] mattpen commented on #515
@jonathanolson - The synchronizeProject command does not appear to be changing the update time on new releases of html simulations, only when new simulations or new translations are published.  Should updateTime change when we publish a new version of a sim?

[2016-11-02 19:06] oliver-phet commented on #519
Looks good! Please publish.

[2016-11-02 19:31] mattpen commented on #521
@ariel-phet - It looks like Google doesn't read meta tags anymore to determine search ranking, other than the description tag.  Options to include this keyword on our page include the title, description, headers, paragraph text, or image alt tags.  Maybe we could add an alt tag to the phet logo with a couple keywords?

[2016-11-02 19:32] mattpen commented on #521
On second thought, this might cause problems with screen readers.  Maybe we could add it to the description text.  The current text is:

"Free educational simulations covering a diverse topics designed by the University of Colorado available in various languages."

[2016-11-02 20:17] ariel-phet commented on #521
Well that text should change regardless perhaps:
"Free educational science and math simulations covering STEM topics produced at the University of Colorado Boulder and available in multiple languages"

[2016-11-02 20:22] zepumph commented on #521
I can update that string easily from the admin panel.

[2016-11-02 20:23] zepumph commented on #521
Ha that sounds like I don't like it, just want to be sure of a final draft.

[2016-11-02 20:44] ariel-phet commented on #521
@zepumph lets mark for status meeting, bring it up in your report tomorrow and we can have @kathy-phet take a look

[2016-11-02 23:17] zepumph commented on #517
@oliver-phet can you comment on the look of this up on ox-dev https://ox-dev.colorado.edu/en/help-center/running-sims

[2016-11-03 01:41] oliver-phet commented on #517
Looks Great. Some of the text on my phone is a little odd... Windows and Mac questions are a larger font size than the rest of the categories.

Get Outlook for Android<https://aka.ms/ghei36>

On Wed, Nov 2, 2016 at 5:17 PM -0600, "Michael Kauzmann" <notifications@github.com<mailto:notifications@github.com>> wrote:

@oliver-phet<https://github.com/oliver-phet> can you comment on the look of this up

[2016-11-03 16:51] mattpen opened #522 "Monitor that apache logs on simian are getting updated regularly"
We should add a script or monitor on simian that ensures that the Apache httpd log files copied from the production servers are always being updated.  We could potentially add a startup script, or perhaps Nagios can be customized for this purpose.

@markmorlino - Do you have any suggestions on how to monitor the logs?  We want to make sure that there is are frequent updates, anywhere from every 5

[2016-11-03 19:34] zepumph commented on #516
You will have to pardon me as I just got camtasia today!!!!! So I'm sending you unnecessary gifs! How does this look @amyh-phet?

![teacherresources](https://cloud.githubusercontent.com/assets/6856943/19982063/1f622276-a1ca-11e6-9c23-0426aceb3ad6.gif)

[2016-11-03 19:36] amyh-phet commented on #516
@zepumph   Looks great, but I think we still have issues with missing spaces between words in the description above the video.  Can we also end the sentence with  "relevant across grade levels and disciplines."

[2016-11-03 19:39] zepumph commented on #516
Yes sorry that is only happening on my local machine, sorry that isn't clear at all.

[2016-11-03 20:01] zepumph commented on #516
This is how it actually looks:

![image](https://cloud.githubusercontent.com/assets/6856943/19983046/fb7eb7b2-a1cd-11e6-8c2b-81bb0d33271a.png)

[2016-11-03 20:21] amyh-phet commented on #516
@zepumph    Awesome!  Looks great.

[2016-11-03 23:01] zepumph commented on #507
@mattpen how does phet-downloads.colorado.edu work, is it set up to redirect downloads, or would we need to do some work on it.

[2016-11-04 03:31] markmorlino commented on #522
We can monitor the log files on simian. I've had to do something very similar before (for slightly different reasons) and it ends up being a very simple shell script. The problem I see with this method is that by the time it alerts us, we would most likely be losing log information already. Also, In the past, doing this has resulted in false alerts but that was for a site that really only had traf

[2016-11-04 16:15] mattpen commented on #522
This sounds great, thanks!

@markmorlino We have disk space alerts setup with NewRelic, would this work just as well?  I added you as a user, the url is https://rpm.newrelic.com/accounts/649073/servers.  If you go to the [server alerts policy](https://rpm.newrelic.com/accounts/649073/server_alert_policies) and click edit, you can change your email preferences for the alert.

[2016-11-04 16:42] markmorlino commented on #522
@mattpen thanks, NewRelic should work just fine. I've got that script running in my home directory and emailing me. Once I'm satisfied that it isn't going to turn into a spambot I will move it to a different directory and add you and @jonathanolson to the recipient list

[2016-11-08 07:23] mattpen opened #523 "Add translateTime to Metadata API"
We need to specify which locales have been changed to add internationalization to the app phetsims/phet-app/#234.

[2016-11-08 17:47] mattpen commented on #523
This has been added but the value is omitted if the column is null.

@jonathanolson - Should we initialize translateTime to some value?  Say today, or perhaps `localizedSimulation.getSimulation().updateTime`?

[2016-11-08 18:14] jonathanolson commented on #523
Initializing makes sense, since we mainly care about when it gets updated in the future.

[2016-11-08 21:09] oliver-phet opened #524 "Change Development overview link"
Migrating to @colorado.edu

Please update the link here https://phet.colorado.edu/en/about/source-code

to: https://docs.google.com/document/d/1Ys1EiwnqQGYuzGOcQSr4uXDes35mF1v1XhMZIl10nk8/edit

[2016-11-09 15:34] zepumph commented on #524
Will you have a link in the future for the 'legacy source code' document at the bottom as well?

[2016-11-09 15:48] oliver-phet commented on #524
Thanks for the reminder. New link for 'legacy source code': https://docs.google.com/document/d/1O0ykIapy866yVIkgezgXD0lFf5Gb-WsKskym3GDhWQY/edit?usp=sharing

[2016-11-09 16:05] zepumph commented on #524
Those are all staged in master for the next deploy. Do you think there will be many of these link changes, because if so we could just make 1 issue for it, kinda like how we do #123, and whenever you have a new link I'll just commit it there. Just a thought, you do it however you think is best.

[2016-11-09 20:25] mattpen opened #525 "Ipad user agents are not being cached separately in varnish"
@zepumph and I had added caching behavior for ipad user agents as part of the ipad app promotion to phet-cache1/2, but it appears that the change is no longer present on the servers.  This should be readded during off-peak hours to minimize effects of restarting varnish.

[2016-11-09 20:57] mattpen commented on #523
I initialized all values of the column to today.  The new API appears to be working as planned, and will be deployed soon.

[2016-11-09 20:57] #523 closed

[2016-11-10 05:59] mattpen commented on #525
The varnish script was updated tonight, and the ipad user-agent behavior is being cached correctly.

[2016-11-10 05:59] #525 closed

[2016-11-10 15:21] zepumph commented on #517
I see that, I'll get that fixed, in the mean time the change is up on the real site, so you should add your questions to them.

[2016-11-10 16:12] zepumph commented on #524
@oliver-phet I would love your opinion on the previous comment, and then we can close this issue, the links were deployed last night.

[2016-11-10 16:14] zepumph commented on #513
Closing

[2016-11-10 16:14] #513 closed

[2016-11-10 16:15] oliver-phet commented on #524
Let's close this one. Other links that come up will be lumped into 1 issue!

[2016-11-10 16:15] #524 closed

[2016-11-10 16:16] zepumph commented on #492
Changes have been deployed. Closing

[2016-11-10 16:16] #492 closed

[2016-11-10 16:17] zepumph commented on #519
Changes have been published. Closing

[2016-11-10 16:17] #519 closed

[2016-11-10 16:19] zepumph commented on #516
Changes have been deployed. Thanks for your patience on this issue. Closing

[2016-11-10 16:19] #516 closed

[2016-11-10 16:35] zepumph commented on #517
After poking around it didn't seem obvious why those two tabs were rendering larger. I'm going to close this issue and create a new one for the text size.

[2016-11-10 16:35] #517 closed

[2016-11-10 16:37] zepumph opened #526 "Make question text size consistent across the Running sims tabs for display on phones"
Discovered in correlation with #517. The windows and macOS tabs on phones don't display the same size text as the other tabs. It is noticeably larger.

[2016-11-10 16:38] zepumph commented on #526
@oliver-phet this is sort of annoying, but would you mind seeing if deleting the questions and reentering them changes anything?

[2016-11-10 16:47] zepumph commented on #438
@oliver-phet how would you like to update the running sims entry for safari 10, I think it may be possible to just add 'including Google Chrome and Safari 10' to the answer from above.

[2016-11-10 16:57] zepumph commented on #472
When you guys do this, could I be involved too, I'd love to get a little more understanding on this part of the project.

[2016-11-10 17:13] ariel-phet commented on #472
Adding @zepumph to assignee list since he is expressing interest

[2016-11-10 18:01] samreid commented on #521
Maybe a quick google search for "SEO i18n" to make sure that would work as expected?

[2016-11-10 18:02] zepumph commented on #521
From status meeting 11/10 group edit:
Make it translatable
"Free educational science and math simulations for K-12 and college, teaching STEM topics produced at the University of Colorado Boulder"

or

Free math and science simulations for teaching STEM topics, including physics, chemistry, biology, and math, from University of Colorado Boulder.

@samreid: we should do some research on other websi

[2016-11-10 19:22] jbphet opened #527 "re-sign JAR files with new code signing certificate"
PhET's previous code signing certificate expires on Jan 7, 2016, so we have secured a new one.  The current JAR files should be re-signed with this before the expiration of the old cert.  We should also move the new cert into the appropriate place on the server so that it can be used for JAR signing for builds that occur on the server.

In the 11/10/2016 dev meeting we decided to work on this at t

[2016-11-10 21:49] mattpen opened #528 "Create HelpCenter string with User-Agent"
@oliver-phet - If you add a string into the helpcenter with the token {{USER_AGENT}}, I can replace it dynamically with the actual user-agent string.

[2016-11-10 21:58] oliver-phet commented on #528
I added that to this question, but formatting seems odd?
https://phet.colorado.edu/en/help-center/running-sims#q39-header

[2016-11-10 22:39] mattpen commented on #528
Oh, I need to do a deploy before this will work, sorry!  I should be able to get something working by this weekend.

[2016-11-11 16:40] zepumph commented on #433
The js port is getting these, I'll reopen if this stops happening.

[2016-11-11 16:40] #433 closed

[2016-11-11 16:54] zepumph commented on #114
@oliver-phet do you think that this page could do well with our newer triangle help center esque expanding text on click format? I can do this when I do #253 in a similar manner.

[2016-11-11 17:02] zepumph commented on #142
@phet-steele seems to have a work around in place, so this isn't pressing, I'm going to close this issue and combine this into the phetsims/tasks#672. It seems like it could be a relatively simple addition while they are working on the build tools anyways.

[2016-11-11 17:02] #142 closed

[2016-11-11 17:02] oliver-phet commented on #114
The design of this page might want to wait for the rollout of the bigger website design changes. Alternatively, we could use this page as a "test" for the look of the new design (headers, expandable sections, etc.) @amanda-phet what do you think?

[2016-11-11 18:46] jbphet commented on #433
This shouldn't be re-opened.  I had forgotten when I originally opened this issue that the installer-builder explicitly grabs the version of the JAR files with the "all permissions" setting.  The web site, to date, hasn't supplied them to the installer builder.  If we decide that the web site should start doing this, it should be a separate issue.

[2016-11-11 21:04] mattpen commented on #528
@oliver-phet - I see there were some other problems with formatting, it looks like a bunch of extra <br> tags were added, and some of the <p> and <li> tags were not properly closed.  Can you check https://phet.colorado.edu/en/help-center/running-sims?someRandomQueryParameter#q39 and see if it looks better?

[2016-11-11 21:13] oliver-phet commented on #528
I wonder if I am seeing different code in my admin panel than you? The entry you cleaned up looks really similar to what I had in before. I'll keep an eye on it next time I do an edit.
`<p>Submitting a detailed system report by opening a working HTML5 sim, copy/paste the 'report a problem', and send the information in an email to phethelp@colorado.edu: </p><ol><li>Click the PhET Menu (3 horizontal

[2016-11-11 21:20] mattpen commented on #528
@oliver-phet - When I checked it, there were `<br>` tags where the `</p>` and `</li>` tags should have been.

[2016-11-11 23:14] oliver-phet commented on #438
Done. Thanks for the suggestion!

[2016-11-11 23:30] zepumph commented on #438
We updated our help center to accommodate this issue. Closing

[2016-11-11 23:30] #438 closed

[2016-11-14 17:59] ariel-phet opened #529 "Optimizing size of PhET logo for Open Graph Protocol (facebook)"
@zepumph it looks at though in certain circumstances when posting to facebook our logo gets cut off. This certainly happens in messages and Kathy mentioned a circumstance posting to a group.

![capture](https://cloud.githubusercontent.com/assets/4051174/20276418/61b9193a-aa59-11e6-9abe-ab6f584a00f3.PNG)

I assume than in the Open Graph Protocol there might be a way of specifying/optimizing the siz

[2016-11-14 19:18] mattpen commented on #515
The translateTime logic appears to be working.  All sims were initialized to translateTime of `2016-11-09 20:28:01.31058` (the current date/time when I ran the initialization).  Here are the sims sorted by date descending today:
[code]

The simulation updatetime appears to still be working as well:
[code]

[2016-11-14 19:34] #515 closed

[2016-11-14 21:57] mattpen commented on #520
@arouinfar - This is ready for the next deploy.  We should probably do a quick check to make sure the list of 12 most recent sims is still correct:

[code]

[2016-11-14 22:56] phet-steele commented on #520
👍

[2016-11-15 01:19] zepumph commented on #521
@ariel-phet how do you think would be a good way to proceed from here?

[2016-11-15 01:58] zepumph commented on #529
https://www.h3xed.com/web-and-internet/how-to-use-og-image-meta-tag-facebook-reddit

This website demonstrates says that it would be best to use an image that is 1200px X 1200px or larger, with a square aspect ratio. It seems like we aren't using a square aspect ratio, so I bet that if we did, then it wouldn't crop it out. @ariel-phet do we a have a logo that is  square in nature, spirit, and stat

[2016-11-15 02:42] ariel-phet commented on #521
@zepumph please go with

Free science and math simulations for teaching STEM topics, including physics, chemistry, biology, and math, from University of Colorado Boulder

[2016-11-15 06:34] ariel-phet commented on #529
@zepumph we can make one happen.

[2016-11-15 17:21] zepumph commented on #521
I changed it onto the website. @mattpen, I'm going to assign you because we had were going to look into why certain parts of our website were being prioritized. Also because currently the description under phet is still: A set of simulations covering diverse key topics designed by the University of Colorado, USA, in English and Spanish.

[2016-11-15 17:21] zepumph commented on #521
Let's pair on these soon, as I'm curious about it myself.

[2016-11-15 19:23] zepumph commented on #529
Sounds great. Unassigning until we have something for me to put up on the site.

[2016-11-15 21:03] zepumph opened #530 "Discussion for Wicket Alternatives"
From a conversation with @mattpen

Should new pages in the website continue to be written in wicket? Or should we add new architecture that is  more geared towards the future.

Is express scalable enough? If we went with node would we have many applets powering different parts of the site, or would there be a centralized server, is express powerful enough for that?

Tomcat has been good for our pu

[2016-11-15 21:38] samreid commented on #530
What features website require above and beyond static HTML+CSS?

[2016-11-15 22:17] ariel-phet commented on #529
@oliver-phet said he will take care of this, we are going to switch to a black background to be more consistent with our github, facebook, twitter presence

[2016-11-15 23:41] oliver-phet commented on #529
Does this work?
![phet-logo-registered_1200_square](https://cloud.githubusercontent.com/assets/5090275/20328855/418b0d40-ab52-11e6-90d9-4d8532509849.png)

[2016-11-16 16:22] mattpen commented on #521
https://moz.com/blog/why-wont-google-use-my-meta-description

It looks like Google may (or may not) be using the [Open Directory Project description](http://www.dmoz.org/search?q=phet.colorado.edu), which is out of date.  I submitted a request today to update it.

[2016-11-16 16:26] mattpen commented on #521
One other problem we may need to investigate is duplicate meta description tags, I think most of our pages use the default description.  We should investigate either automating descriptions based on the content of pages or having someone generate copy for most of the commonly linked pages.

[2016-11-16 17:09] kathy-phet opened #531 "Small Bug: Ohm's Law appears twice on Math page"
Just saw this by chance. Ohm's Law Flash and HTML5 both appear on this page. Not sure why. Seems fine on all sims page:
https://phet.colorado.edu/en/simulations/category/math

[2016-11-16 17:11] kathy-phet commented on #531
No rush here - but seems worth understanding why this bug occurs since I didn't think it was supposed to be possible.

[2016-11-16 18:14] amanda-phet commented on #531
Looking at the admin side, Ohm's Law (HTML5) is not listed here, only Ohm's Law is.
![screen shot 2016-11-16 at 11 12 38 am](https://cloud.githubusercontent.com/assets/7852916/20359572/c1d2c2b8-abed-11e6-9be9-fe4d872054a2.png)

I expect that if I add Ohm's Law (HTML5) this will be taken care of, but we may want to change the way sims are displayed so that it doesn't rely on manual actions like thi

[2016-11-16 19:58] zepumph commented on #509
The dropdowns for country and state have been updated. We did this by writing a script that polls the open source website geonames.org. See loadCountryStateDropdown.js for more information. That script finishes by manually overwriting the static arrays in CountryStateDropDownPanel.java.

So the options are up to date now, and whenever we want to update it, we just have to run the script and then r

[2016-11-16 20:12] zepumph commented on #509
@oliver-phet, after looking with @mattpen, all of the problems that you were being emailed about are now fixed. I'm going to unassign myself and add the waiting to be deployed flag. ( @mattpen thanks for all the help on this one).?

 @oliver-phet I will post it to ox-dev so you can take a look at it.

[2016-11-16 20:27] zepumph commented on #509
Take a look here: https://ox-dev.colorado.edu/en/register?dest=%2F

[2016-11-16 20:54] oliver-phet commented on #509
This is looking good to me! When do we expect this to be deployed?

[2016-11-16 21:22] zepumph commented on #474
It looks like in joist the line that checks for updates looks like:
e.open("post",u+"//phet.colorado.edu/services/check-html-updates",!0)

but for the installer it is:
e.open("post.html",u+"//phet.colorado.edu/services/check-html-updates",!0)

@mattpen and I think that this is a result of httrack, and we aren't sure why. @jbphet perhaps we thought that httrack wasn't messing with the file when jus

[2016-11-16 21:24] zepumph commented on #509
We were thinking sunday if that's good for you.

[2016-11-16 23:36] zepumph commented on #456
@amyh-phet do you have any updates for this issue?

[2016-11-17 00:58] amyh-phet commented on #456
@zepumph   We will need to add a link to the Tips for Using PhET page under the Tips and Resources for Using PhET and to the list of links on the right side of the page in the gray panel.   The link should read "Video Series: Facilitating PhET Activities in the K12 Classroom". Let's make it the 7th link/bullet point in teh list.  Here's a mockup of changes for the Tips for Using PhET page.

![tips

[2016-11-17 08:45] jonathanolson commented on #530
I'm assuming this would mean generating static pages for the entire website, and updating those whenever sims/translations change.

- Interactive interfaces for users/administrators (e.g. upload an activity, translating, changing keywords dynamically, etc.)
- APIs provided for internal/third-party use (e.g. metadata, build-server/rosetta hooks, etc.)

Dealing with sim/keyword/translation changes C

[2016-11-17 16:15] jbphet commented on #474
+1 for trying something other than HTTrack, such as curl, for downloading the HTML5 simulations.  The only reason I didn't do this in the PHP version was that HTTrack appeared to work, and I figured that a consistent method of getting the files was easier to maintain.  I would suggest experimenting with alternative methods and if you find that the files aren't altered (which would indicate that th

[2016-11-17 16:15] emily-phet commented on #456
@zepumph - I believe others have taken on the updates to the teacher resources, so I will defer to the rest of the team.

[2016-11-17 17:06] samreid commented on #530
I'm not voting to generate static HTML, but let's keep in mind that we want to support static HTML (which we currently support via the ripper anyways).  It would be pretty awesome if we could get rid of httrack as part of our deployment process.

[2016-11-17 17:09] zepumph commented on #530
We are there currently, that's part of the reason that I made this issue, @mattpen and I had a meeting/ briefing a few weeks ago about the design to come in the near future. It would be nice (and probably unrealistic)  if we didn't have to do this with the framework that's on the way out.

[2016-11-17 18:29] zepumph commented on #530
Consensus from dev meeting:
Do some research, talk to friends, what are others using? @ariel-phet firmly believes that anything we do will involved piece by piece porting from wicket over to the new framework. So we will still be using wicket for the foreseeable future.

[2016-11-17 18:30] mattpen commented on #530
Discussed at dev meeting.  We discussed next steps for choosing a framework.

- Start investigating different frameworks and build a list of pros/cons.
- We should contact our friends/consultants and get their opinions on what would fit best with the project
- Identify relatively decoupled components that would be eligible for testing new frameworks.

[2016-11-17 18:42] samreid commented on #530
And provide a top-level document that clearly delineates which framework/strategy is used for which parts of the website.

[2016-11-18 00:39] emily-phet opened #532 "Updates to Accessibility "Research and Design" Page"
Please update the accessibility reseach and design page with the following:

**Upcoming Presentations:**
February 27-March 4, 2017 - Taliesin L. Smith, Clayton Lewis, and Emily B. Moore. Description strategies to make an interactive science simulation accessible. 32nd CSUN Assistive Technology Conference. San Diego, CA.

**Past Presentations:**

"Upcoming Presentation" from October down into "Past

[2016-11-18 02:25] terracoda commented on #532
Recent presentation in St. John's at the Teaching with Technology Community Conference:
- November 14 & 15, 2016, Taliesin L. Smith, Clayton Lewis, and Emily Moore. Inclusive Interaction: Description Strategies for a Complex Interactive Science Simulation. [Teaching with Technology Community Conference](http://www.teachwithtechcommunitynl.ca). St. John's, Canada. [Show 'n Tell Presentation](http:/

[2016-11-18 20:21] ariel-phet commented on #532
@zepumph could you make these updates?

Also, in the long run, how difficult would it be to make this page editable through the admin interface much like the FAQ page? It seems inefficient to make an issue every time we want a change if there were instead a pretty bare bones interface for editing.

[2016-11-18 20:22] ariel-phet commented on #532
Marking as medium priority mainly because this should be a relatively quick task (the update itself)

If and admin interface seems like a good idea, please make a separate issue @zepumph and we can discuss, but lets make these updates regardless if there is a longer term solution.

[2016-11-21 17:04] zepumph commented on #474
We will continue this over on in phetsims/installer-builder#45. Closing

[2016-11-21 17:04] #474 closed

[2016-11-21 23:21] zepumph commented on #456
Alright thanks @amyh-phet that's great. Just to be clear I will put this link: https://www.youtube.com/playlist?list=PLU4AnY00Zrzq8bAwj9neZBWSrhvoYI8Bx
into that new video series link and make sure it shows up to the right as well.

What would you like to be done with https://www.physport.org/recommendations/Entry.cfm?T=PhET%20Interactive%20Simulations as I think that that also plays into this iss

[2016-11-21 23:25] zepumph commented on #521
Unassigning for now. @mattpen let me know if you need anything from me.

[2016-11-22 00:09] zepumph commented on #532
I updated the links, I think that the admin panel update may be a really nice upgrade. Let's ask @mattpen what he thinks because he wrote the help center one I think. Is this a reasonably easy task to add (see above two comments)?

[2016-11-22 04:23] mattpen commented on #532
@zepumph @ariel-phet - These pages are totally static so it should be relatively easy as long as Taliesin and/or Emily are comfortable editing simple html tags.  It sounds like Taliesin has prior experience with web development so I'm thinking that is fine.  It may be slighty time consuming adding each of the strings as key/value pairs in the DB, but I think that would ultimately save time in the

[2016-11-22 05:49] ariel-phet commented on #532
@zepumph please make a separate issue, something like "Admin interface for editing accessibility page?" and assign it to @emily-phet and @terracoda to see if they are OK with that idea and then if so track progress.

[2016-11-22 07:01] mattpen commented on #532
@emily-phet @terracoda - The changes to the research page should be up now on phet.colorado.edu.  Can you please check that it is appearing correctly?

[2016-11-22 07:02] mattpen commented on #528
@oliver-phet - This should be working now on phet.colorado.edu.

[2016-11-22 07:02] #528 closed

[2016-11-22 07:02] mattpen commented on #520
We should be showing the 12 most recent sims on the New sims page now.

[2016-11-22 07:02] #520 closed

[2016-11-22 07:03] mattpen commented on #509
@oliver-phet - This should be live on phet.colorado.edu now.

[2016-11-22 07:03] #509 closed

[2016-11-22 13:47] terracoda commented on #532
@mattpen, there are a few adjustments to make. It's a little confusing as some items are both presentations and publications.

__Under past presentations__
Please add the link to the presentation slides for my HCII presentation. It's the third item under the past presentations heading:

Just add the following link to the end
```<a href="http://terracoda.ca/research/hcii-presentation/"><abbr>HTML</

[2016-11-22 13:51] terracoda commented on #532
@emily-phet, is there a reason you listed yourself as first author on the joint SNOW article - maybe for contact purposes? Please post correction if you want it corrected.

[2016-11-22 14:02] terracoda commented on #532
@mattpen, @emily-phet, @zepumph, @ariel-phet, I am very capable at writing HTML and CSS.

In the process of an upgrade we could improve the accessibility of these pages, too. There are some low hanging fruit that would be easy to improve:

1. Using titles of works to create unique links, instead on non-unique words like "paper, presentation, etc."
2. Adding ARIA attributes to make the collapsible

[2016-11-22 14:08] terracoda commented on #532
@mattpen, @emily-phet, @zepumph, @ariel-phet, I think my previous comment, should be part of the new issue about creating the admin interface, sorry.

[2016-11-22 15:58] zepumph opened #533 "Admin interface for editing accessibility page?"
Carried from #532, if would be nice if the admin panel had an ability to change this constantly fluctuating page.

Some key comments from the previous issue:
@mattpen on implementation:

@terracoda on making it more accessible:

Adding ARIA attributes to make the collapsible areas more accessible to keyboard users and screen reader users.

[2016-11-22 16:48] emily-phet commented on #532
@mattpen - please change author order for the publication:
Emily B. Moore and Taliesin Smith. The PhET Interactive Simulations Project: Working to Increase Access to Interactive STEM Simulations [Part 2 of 2]. SNOW, Education, Access and You! Paper.

It should be: Taliesin L. Smith and Emily B. Moore.

@terracoda - sorry about that, you're correct that this was just a mistake. I probably copied fr

[2016-11-22 17:31] terracoda commented on #533
@zepumph, thanks for copying over my comments from the other issue.

[2016-11-22 17:32] zepumph commented on #532
@terracoda I only saw this,

in the presentations category so I also added it to the publications page, as you can see in the above commit. Is this what you wanted?

[2016-11-22 17:44] emily-phet commented on #532
For the first listing under "Past Presentations", please change the title from "Inclusive Interaction: Description Strategies for a Complex Interactive Science Simulation" to "Inclusive interaction: Description strategies for a complex interactive science simulation".

[2016-11-22 19:33] zepumph commented on #532
@terracoda said in a comment above:

And I agree. This issue looks good enough to close. Work will be carried on in #533. @emily-phet @terracoda  let me know if there is anything else that I can do before we get the admin page up. You can just reopen this issue, or send a carrier pigeon, or anything else you feel up to.

[2016-11-22 19:33] #532 closed

[2016-11-23 18:05] mattpen commented on #510
This should be ready for deploy, I'll publish the changes to [ox-dev](https://ox-dev.colorado.edu) shortly to check.

[2016-11-23 19:23] mattpen opened #534 "Remove TeachWithPhet page"
I discovered [this page](https://phet.colorado.edu/en/teachwithphet) when working on phetsims/special-ops#44.  @ariel-phet said it would not be used and could be removed from the production website.