[2016-01-06 19:00] mattpen commented on #347
@amanda-phet - the following tables are currently not using either of the standard formats.  Should we include any of these in the list above?

- simulation/sim-name: Credits
- simulation/sim-name: Software Requirements
- simulations/translated/locale: untranslated table
- teaching-resources/manage-activities: main table
- for-translators/website

[2016-01-06 21:16] mattpen commented on #298
@ariel-phet - who should this be reassigned to?  I can do the resizing if needed.

[2016-01-06 22:36] amanda-phet commented on #358
Discussed with the team on 1/6 and we came up with the following solution:

If a user logs in who has a bad email, they will be redirected to a page to change their email. This is exactly like the current change email page but with slightly different wording:
<img width="601" alt="screen shot 2016-01-06 at 3 33 19 pm" src="https://cloud.githubusercontent.com/assets/7852916/12156849/ac469cd6-b48a-1

[2016-01-06 22:38] amanda-phet opened #360 "Add a "confirm email" line to change email page"
The current page that allows a user to change their email asks for the new email and password. https://phet.colorado.edu/en/change-email

However, when making a new account, the email is entered a second time (which is typical on websites). We should change the current change email page to force users to confirm their new email address:

<img width="608" alt="screen shot 2016-01-06 at 3 37 55 pm"

[2016-01-06 22:41] amanda-phet opened #361 "Add a resend option for confirmation emails"
Currently, if a user changes their email, they get a message saying an email has been sent. However, if a user never gets this email, they must email phethelp. Instead, we would like users to be able to resend a confirmation email. The page would look like this:

<img width="447" alt="screen shot 2016-01-06 at 3 42 56 pm" src="https://cloud.githubusercontent.com/assets/7852916/12157033/0490a2c8-b4

[2016-01-06 22:42] amanda-phet commented on #358
After #360 is addressed, the prompt would change to:

<img width="621" alt="screen shot 2016-01-06 at 3 41 20 pm" src="https://cloud.githubusercontent.com/assets/7852916/12157009/caa1f92c-b48b-11e5-9528-6f41c5285367.png">

After #361 is addressed, the confirmation message would change to:

<img width="447" alt="screen shot 2016-01-06 at 3 42 56 pm" src="https://cloud.githubusercontent.com/assets/7

[2016-01-06 22:44] amanda-phet commented on #358
Assigned to @kathy-phet for review.

[2016-01-07 00:06] oliver-phet opened #362 "Plate Tectonics - Windows Only"
@mattpen We'd like to add a new badge/button to on Plate Tectonics what says "WINDOWS ONLY". This badge/button could be clickable and it would scroll the user to the System Requirements, open the System Requirements which would say:

*This simulation is incompatible with Macs
due to an incompatibility between the graphics
hardware on those systems and the 3D graphics library (LWJGL) used in the si

[2016-01-07 01:10] amanda-phet commented on #347
I'm not sure what you mean by teaching-resources/manage-activities: main table. Is this the table that lists the activities? If so, it should definitely be added to the list as it already uses the purple table. Or is it the table that allows you to select the sim, type, etc. before clicking browse? If that's the case, do not include it. Either way, we should probably add the table that displays th

[2016-01-07 01:28] kdessau-PhET commented on #298
@mattpen @ariel-phet the Spectroscopy Society of Pittsburgh (Pittcon conference people) have generously donated $2000. We need to add them to our sponsors list and also on the featured sponsor weighted as 1.
Let me know when this is done so that I can let John from Piton know it's up.
![ssprainbowlogo](https://cloud.githubusercontent.com/assets/10424210/12159832/fc6564d2-b4a2-11e5-83f4-4803c66c1e8

[2016-01-07 01:42] ariel-phet commented on #298
@mattpen can you create an issue in "tasks" for the re-sizing and assign it to me for now.

Please include relevant info (where to find the logo files, or if you need to upload them to google drive or such), and the approximate resolution (pixel x pixel) to which they should be changed,

[2016-01-07 04:45] mattpen commented on #347
Sorry I meant the table at https://phet.colorado.edu/en/teaching-resources/manage-activities
Its not currently formatted, should we just leave it in the list style?

[2016-01-07 04:53] amanda-phet commented on #347
Thank you for clarifying. I think we can just leave that one as is.

[2016-01-07 05:06] mattpen commented on #347
OK, I'm going to go ahead and tackle this one next, using the format agreed upon in #306

[2016-01-07 05:19] amanda-phet commented on #347
To make your job a little easier, we are leaning toward just one table at this point instead of two. The universal color for the title row and line separators should be #49597A, the titles should be all-caps and not bold. The only variations should be number of columns, number of columns that have a gray background, and whether or not the columns are sortable.

Here is a mockup:
<img width="798" a

[2016-01-07 05:40] mattpen commented on #347
Excellent, thanks.  I'll get started tonight

[2016-01-07 06:40] mattpen commented on #349
@jonathanolson - I implemented most of the items we discussed yesterday.  The only one that I wasn't able to get was using an API key rather than OAuth.  It doesn't look like this is possible for the Gmail API do to the interaction with a user account.  That said, the script should only need user interaction the first time it is run.  The script ran as expected on my VM (it flagged ~7000 users fro

[2016-01-07 17:28] amanda-phet opened #363 "Modify translated sims table"
@kathy-phet has requested that we add a column to tables of translated sims that indicates whether a sim is HTML5, Java, or Flash. The website team discussed this 1/6 and decided on the following table:
<img width="815" alt="screen shot 2016-01-07 at 10 27 24 am" src="https://cloud.githubusercontent.com/assets/7852916/12177391/1dc0e666-b529-11e5-927e-e45508f213a3.png">

The changes from the curren

[2016-01-07 19:06] arouinfar commented on #324
@mattpen's mention of his work on this during status got me thinking about this issue.  Currently, we have two translated teacher tips living in the activities -- Under Pressure (Java) and Balancing Chemical Equations (HTML5). Under Pressure has a Translations table to move the tips to, but BCE does not since it hasn't been redeployed yet. I have a few questions...
* What happens if someone submit

[2016-01-07 20:00] amanda-phet commented on #324
@arouinfar good questions. Since we aren't meeting for 2 weeks, let's discuss over email in the meantime.

[2016-01-08 03:37] mattpen commented on #362
I've added the button, behavior and requirements text.  I'll deploy this to phet-dev soon.

[2016-01-08 04:48] mattpen commented on #346
This was discussed in the developer meeting today.  The consensus was that the New Sims page should display the 30 most recently published version 1.0.0 sims, and the newest sims box will contain the 3 most recently published.

[2016-01-08 04:50] amanda-phet commented on #346
That's great news that it can be automated!

[2016-01-08 04:54] mattpen commented on #346
@ariel-phet, @amanda-phet, or @oliver-phet  - Where should the html sims video and the "Future of PhET" blurb go?  Should they both go on the HTML5 category page?  In a skype call over the break, Amanda suggested that it should go there as there will be a new video/blurb coming soon for the New Sims page and that the old video/blurb would still be relevant to the HTML5 sims (if I'm remembering cor

[2016-01-08 05:02] mattpen commented on #346
Should the thumbnails view of the New Sims page be ordered by publication date or alphabetically?

[2016-01-08 06:34] ariel-phet commented on #346
@mattpen Yes they should both go on the HTML5 category page and on the new sims page. We will eventually have a donation video that replaces this video.

I think we had discussed having the "newest" 3 sims be in order of publication, and the rest be in alphabetical order.

[2016-01-08 08:19] mattpen commented on #301
I published the latest version to phet-dev tonight.  At the dev meeting today we decided to make the newest sims box pulled automatically by date rather than by a manual checkbox.

There is still some pixel polish that needs to be done.  Also, the new sims category has dropped to the bottom of the nav menu, I'm still trying to figure out why.

[2016-01-08 08:20] mattpen commented on #346
This was published to phet-dev tonight.  There are still some issues to be fixed - see #301.

[2016-01-08 08:21] mattpen commented on #362
This was published on phet-dev tonight.

[2016-01-08 08:23] mattpen commented on #351
This was published to phet-dev tonight.  The statistics are off because the database has not been synced with figaro recently.

[2016-01-08 08:30] kathy-phet commented on #351
Looks good to me! Thanks.

[2016-01-08 18:01] oliver-phet opened #364 "Page not found: Vector Addition Italian"
Via phethelp:

*I'm getting a "Page not found" error at the following link about vector math:
*https://phet.colorado.edu/sims/vector-addition/vector-addition_it.html

I was just able to reproduce.

[2016-01-08 18:48] oliver-phet commented on #362
@mattpen Can you remove the 'Macintosh' section of the system requirements (only show Windows and Linux)?

Everything else looks good!

[2016-01-11 02:24] mattpen commented on #359
This should be fixed on phet-dev now.  I'll deploy the change to figaro this week.

[2016-01-11 05:29] mattpen commented on #347
@amanda-phet - Should the colors of the "Share an Activity!" and "Translate this Sim" buttons change to #49597A also?

![image](https://cloud.githubusercontent.com/assets/11747676/12227415/82339c2a-b7e9-11e5-8596-8f97d7bef133.png)
![image](https://cloud.githubusercontent.com/assets/11747676/12227418/8f7e11b2-b7e9-11e5-9f9b-4d3fea4fd454.png)

[2016-01-11 14:46] mattpen commented on #347
@amanda-phet - I refactored the style for the tables listed above and posted them on phet-dev.  I applied the styles to the tables as they are currently posted on the main site.  If these look good, the next step can be (a) post the new style on the main site, (b) apply the styles to the structural changes from #363, #306, and #324 and post on phet-dev, or both (a) and (b).  The structure and the

[2016-01-11 19:08] mattpen commented on #364
This sim is missing from `/data/web/htdocs/phet/sims/vector-addition`.  I'm not up to speed yet on how the translated sims are deployed, @jonathanolson would you be able to help on this one?

[2016-01-12 06:52] mattpen commented on #349
I ran this script tonight on figaro.  The database on figaro now has a column called "delivery_failures" which is equal to 1 if they had an email returned as undeliverable in the last 30 days (as of today).  This should include all emails returned from the last mailer up until today.

Concerns:
+ It's possible we could still receive more emails returned from the last mailer although this number sh

[2016-01-12 06:52] #349 closed

[2016-01-12 17:48] mattpen commented on #362
@oliver - I removed the Mac requirements list and tested it on a variety of browsers.  I'll push this to figaro tonight.

[2016-01-12 17:50] jonathanolson commented on #364
Not sure what happened. Did a translation deployment for it and it's there now. If it happens again, I can look into it further.

[2016-01-12 17:50] #364 closed

[2016-01-12 18:52] jonathanolson opened #365 "Create zh_HK (Hong Kong Chinese) locale"
As requested by a translator.

I'll take care of the HTML and Java/Flash/Website side. @mattpen, you'll want to SVN update after I do this, so that future website deployments will include the new locale. Additionally, we may need to create an English translated string for the locale after we do a deployment.

[2016-01-12 18:53] jonathanolson commented on #365
Also, before this can be done, we'll need the name of the locale translated into it. E.g.:

For Simplified Chinese, we have 中文 (中国)
For Traditional Chinese, we have 中文 (台灣)

@oliver-phet, what would the translator like for this new locale?

[2016-01-12 21:33] amanda-phet commented on #347
These tables look really really nice. The only thing missing right now is the arrow indicator on sortable tables. Without it the tables look too similar and users won't know they can sort.

Yes, that is a good idea. I hadn't thought of that.

What do you think is a good route? I think we need to make the minor adjustment I mentioned above before (a), so for now let's just do (b) so we can see all

[2016-01-13 06:16] mattpen commented on #362
Pushed to figaro, closing.

[2016-01-13 06:16] #362 closed

[2016-01-13 06:18] mattpen commented on #359
I pushed the fix to figaro, but the character is still there.  I'm going to check again tomorrow, as the panel could be cached by varnish.

[2016-01-13 06:25] mattpen commented on #351
@kathy-phet - These changes to the statistics page are now live on figaro, including the results from the script to flag users whose emails have bounced.

Are there any other changes to be made here? Is this ok to close?

[2016-01-13 06:31] mattpen commented on #298
@kdessau-PhET The SSP info is now up on the About Sponsors page and in the Featured Sponsor rotating banner on the main site.  Does it look ok to you?

[2016-01-13 16:14] mattpen commented on #359
I just checked, the odd character is gone now on figaro.

[2016-01-13 16:14] #359 closed

[2016-01-13 16:17] oliver-phet opened #366 "Energy Skate park Internal Error"
Multiple users are emailing about ESP (Java) sim page yielding 'Internal Error'
http://phet.colorado.edu/en/simulation/energy-skate-park

[2016-01-13 16:33] mattpen commented on #366
It seems to be working correctly now.  End users can try again.  I'll keep an eye on it throughout the day.  I may need to do a redeploy to apply a fix this afternoon.

[2016-01-13 20:32] mattpen opened #367 "Sync website database to simian"
Assigning to self to complete in the near future.

[2016-01-13 21:49] oliver-phet commented on #365
@jonathanolson The user replied
"For Chinese, Hong Kong, it should be 中文 (香港)."

[2016-01-13 23:19] mattpen commented on #361
I discussed this with @oliver-phet today. This function currently exists on the Login popup panel.  I can add a button that does the same thing on the "Awaiting Email Confirmation" page.

One thing that I noticed is that if a user tries to login without confirming their email they get a message that states

Should we improve this?   My suggestion would be that if a user tries to logon and they hav

[2016-01-13 23:26] amanda-phet commented on #361
This is relatively new because we had this discussion recently and no one mentioned this. I also know it was not part of the original design of that panel (which now needs some redesigning... there are too many scattered links).

If it's possible to know that the user's email is invalid *because they have not yet confirmed*, then your message sounds great. I assume it is a generic message because

[2016-01-13 23:30] oliver-phet commented on #361
I mentioned that the 'Resend' function already exists... but only on the login popup. I think it should be added to the "Awaiting Email Confirmation" page.

Users can get to this page three ways (that I can think of):
1. Just completed registration
2. Just changed email address
3. Attempt to login with an unconfirmed email

[2016-01-13 23:34] oliver-phet commented on #361
Maybe the only change to @amanda-phet 's original design would be to add a line about whitelisting:

*If you do not receive the confirmation email, please add phethelp@gmail.com to your whitelist.*

[2016-01-13 23:35] mattpen commented on #361
This currently isn't implemented.  I think it should be possible, I can take a stab at it tonight.  Personally, I like this solution better than my suggestion above.

[2016-01-14 01:37] ariel-phet commented on #366
This appears to be fixed. Closing

[2016-01-14 01:37] #366 closed

[2016-01-14 04:51] kathy-phet commented on #361
Just quick note. It should be email phethelp@colorado.edu<mailto:phethelp@colorado.edu>.

We should not have the gmail address public anywhere on the website or in messages we send.

Hope all is well at the Homefront!
K

Sent from my iPhone

On Jan 13, 2016, at 3:34 PM, Oliver Nix <notifications@github.com<mailto:notifications@github.com>> wrote:

Maybe the only change to @amanda-phet<https://gith

[2016-01-14 19:20] mattpen opened #368 "Change the link in the embed option"
The link to sims in the embed link should be https not http to improve compatibility with LMS systems.

HTML5 sims are the priority.

[2016-01-14 22:55] jonathanolson commented on #297
We should also use this API for build-server to determine what the currently published translations of an HTML5 sim are.

[2016-01-14 23:09] phet-steele opened #369 "Line breaks prevent an ellipsis from appearing"
@mattpen is aware: Line breaks ("br" tag) prevent an ellipsis from appearing if the break is within the first line of the answer:

![no ellipse](https://cloud.githubusercontent.com/assets/5863899/12340584/f6652860-bad8-11e5-9d5a-5de0a074a142.PNG)

[2016-01-15 00:39] ariel-phet commented on #261
Assigning to @amyh-phet to consider in updates to the teaching resources

[2016-01-15 01:46] mattpen commented on #361
I changed all instances of phethelp@gmail to phethelp@colorado

@amanda-phet and @oliver-phet  I've posted a working draft of this change on phet-dev.  Can please check it out and see if it is working as intended?

@ariel-phet - This required a significant change to the login procedure.  It would probably be good to have Steele or someone test out all the edge/corner use cases.  I've tested the ca

[2016-01-15 16:12] oliver-phet commented on #361
A few things I noticed:
1. https://phet-dev.colorado.edu/en/resend-email-confirmation This page has the title "Reset Your Password" it should be "Resend Email Confirmation"
2. On the 'Awaiting Email Confirmation' page:
- Resend should be a blue button (centered)
- put the "If you do not receive the confirmation email, please add phethelp@colorado.edu to your whitelist." below the Resend button (br

[2016-01-15 19:11] mattpen commented on #369
I made an improvement on the current behavior and posted it to phet-dev.  The design was discussed with @oliver-phet  and @phet-steele and deferred to design meeting.

[2016-01-15 19:11] mattpen commented on #361
1. This appears to have fixed itself.  I'm not sure what happened here.   The title is now "Awaiting Email Confirmation".  We can change it by changing the translatable string "newsletter.confirmEmailSent.title"
2. (a) - This should be fixed now too, it was not showing up because the old CSS was cached by varnish.
2 (b) - I fixed this today and it is live on phet-dev now.

[2016-01-15 19:22] oliver-phet commented on #361
Looks good, but the Resend button doesn't look centered? I'm guessing it is just due to the length of the text above the button?
<img width="1280" alt="screen shot 2016-01-15 at 12 20 16 pm" src="https://cloud.githubusercontent.com/assets/5090275/12362786/69644a2c-bb82-11e5-8fac-d87e7a1d8129.png">

[2016-01-15 20:21] amanda-phet commented on #361
Looking good! I would just request a little more white space below the resend button.

@oliver-phet the button is centered in the body of the page, but since each line is short it doesn't appear centered. It's fine with me but if it bothers you then I'm fine if it gets changed.

[2016-01-15 20:32] phet-steele commented on #333
Working great @mattpen.

[2016-01-15 20:32] #333 closed

[2016-01-16 04:38] kathy-phet commented on #361
Matt, I don't know what all the instances of phethelp@gmail were in
    the code. The ones that are/were important to change were the
    user-facing ones where the email was visible to the user/teacher. We
    want the project to be perceived as a University of Colorado Boulder
    project so that is why the user facing instances need to show phethelp@colorado.edu even
    though those automatica

[2016-01-16 06:07] ariel-phet commented on #361
@amanda-phet @oliver-phet @mattpen I would suggest either left aligning the Resend button or centering it under the last line of text above it. It looks a little buggy in this layout.

@mattpen please create a task for @phet-steele and assign it to me for prioritization.

[2016-01-18 21:00] mattpen commented on #369
@oliver-phet and @phet-steele - I've encountered a problem when trying to implement the expandable text feature.  Because the text must be translatable and accept html tags but not necessarily have html tags, its extremely difficult to create the one line preview followed by an ellipsis.  There are too many edge cases to create a function that will work in every situation.

Some potential solution

[2016-01-18 21:42] phet-steele commented on #369
@mattpen those Question titles were just me experimenting, not necessarily what's going to happen.

[2016-01-19 15:15] mattpen opened #370 "Test login functionality for #361"
In order to implement the change requested in #361, I needed to change some code that may potentially have other side effects.  If a user logs in and has not confirmed their email, instead of getting a password error they now get redirected to the Awaiting Email Confirmation page.  We should test to make sure this happens when it is supposed to and does not happen if they have indeed confirmed the

[2016-01-19 15:19] mattpen commented on #361
@kathy-phet - There were never any instances of phethelp@gmail in a public facing location on the website in relation to this issue.  It was simply a typo in Github on my part.  Thanks for clarifying the reasoning!

[2016-01-19 16:21] ariel-phet commented on #370
@mattpen I assume this behavior is currently available on phet-dev?

[2016-01-19 16:24] mattpen commented on #370
@ariel-phet - yes, this functionality is up on phet-dev

[2016-01-19 16:40] ariel-phet commented on #370
moved to a task: https://github.com/phetsims/tasks/issues/480

@mattpen generally good to put tasks in the tasks repo, and reference the relevant issue. This workflow has worked well for us.

closing this issue

[2016-01-19 16:40] #370 closed

[2016-01-19 18:05] phet-steele opened #371 "Registration prematurely completed"
While registering for an account:

1. Don't fill in a required field. For example, fill in everything except first name.
2. Click Register, but then be redirected to the registration page with errors (because you missed a field).
3. Fill in the field. Notice that now the site wants you to re-enter your password (but doesn't make it obvious as only the field you missed in step 1 is red, not the pas

[2016-01-19 19:35] phet-steele commented on #361
@mattpen, some of the logic to the Resend Email Confirmation page doesn't make sense (the page incorrectly showing Reset Your Password is what I'm talking about). It doesn't seem quite like it works when trying to change an email address with an already existing account. Here's some steps:

1. Have an account with Email A, and go to edit your profile.
2. Scroll down to change your email address.
3

[2016-01-19 20:22] phet-steele opened #372 "Page refresh subscribes to the newsletter"
So this is really weird. After clicking on the link in your email to verify an email address, the user gets brought to a simple website page stating the email was successfully confirmed. Well, refreshing this page states I've subscribed to the newsletter. Sure enough an email is sent confirming a newsletter subscription. This is happening even when the check box for the newsletter in the user prof

[2016-01-19 22:15] phet-steele opened #373 "DocumentRoot problems"
@jonathanolson no new activities have been appearing on phet-dev since 11/13, and the 12 activities on and before that date aren't working (only on phet-dev):

Guía de consejos para docentes: balanceando ecuaciones químicas 11/13/15
Guía de consejos para profesores: bajo presión 11/13/15
Wave Basics for Middle Schoolers 11/12/15
States of Matter - Lab Simulation - student procedures and questions

[2016-01-19 22:15] phet-steele commented on #372
Related to phetsims/tasks/issues/480

[2016-01-19 22:16] phet-steele commented on #371
Related to phetsims/tasks/issues/480

[2016-01-20 16:35] mattpen commented on #371
This behavior is not related to the change in that task.  I could recreate this behavior on phet.  That said, it was an easy fix.  I'll deploy to phet-dev ASAP.

[2016-01-20 21:29] oliver-phet commented on #288
@mattpen We discussed at the web meeting. Can you design the 'Running Sims' page to have the design below? (We only want to institute this on one page to minimize development time)
This is modeled after the design for the offline access page: https://drive.google.com/open?id=0Bz7jTh2s-5L5cFJRYzQxcWhqNXc

<img width="1144" alt="screen shot 2016-01-20 at 2 21 43 pm" src="https://cloud.githubusercont

[2016-01-20 21:40] mattpen commented on #361
@amanda-phet @oliver-phet - In response to @phet-steele's comments I changed the page slightly.  If the page is reached in response to an email change request, there are now two fields, one for Current Email and one for New Email, I attached a screenshot below.  Does this sound reasonable?  I'll post to phet-dev shortly.

I also added behavior that will auto-fill the email address if the user ente

[2016-01-21 02:44] mattpen commented on #361
This was discussed at the 1/20/16 web design meeting with @amanda-phet @oliver-phet @amyh-phet @phet-steele @arouinfar.  We discovered a plethora of corner cases and there was some disagreement about how to best handle them.  I started a [process document](https://docs.google.com/document/d/1upfPYU_ahKsCjpuQ8UdwvTVfbRtr3SElVSXfUPCbb2E/edit?usp=sharing) to delineate the various use cases and the ex

[2016-01-21 03:42] mattpen commented on #372
@phet-steele I'll take a look at this behavior.  I confirmed that you have indeed NOT been registered for the newsletter, even though you got an email saying you had.

[2016-01-21 03:54] mattpen commented on #288
The development time to institute this on all pages instead of just one is basically negligible.  It's just copy/paste at that point.

Yes, it is possible. It should be easy to match the behavior on the FAQ page.

[2016-01-21 04:16] amanda-phet commented on #301
This is looking great. The only pixel-polishes seem to be
* When the user hovers over the inactive one, it should highlight black
* There should be more space under the New Sims title so that the newest sims rectangle does not overlap the icons.

[2016-01-21 04:22] amanda-phet commented on #324
The consensus for the edge cases that @arouinfar brought is to hold on to translated teacher tips for sims that have not yet been translated (waiting on redeployment, for example) and upload translated teacher tips to the translated sims table *even if the sim is not translated in that locale* (there won't be a link to download/run the sim in that locale, but the tips document will be available an

[2016-01-21 04:26] amanda-phet commented on #357
@arouinfar suggested that we modify the blurb to say that the tips will not be uploaded until the sim has been redeployed. I recommend that we edit the blurb to be:

*The Teacher Tips associated with every sim can be translated by editing the original .pdf document and emailing a .pdf to phethelp@colorado.edu for publication on the website. Please send .pdf documents only. Note that for some simul

[2016-01-21 05:22] mattpen commented on #368
@ariel-phet - These links have been updated to https on phet-dev.  Do we need to do any testing, or is it ok to push this to figaro on the next deploy?

[2016-01-21 05:23] mattpen commented on #361
I changed the behavior of the AwaitingEmailConfirmation page so it now redirects to itself.  This has been posted to phet-dev.

[2016-01-21 05:24] mattpen commented on #360
@amanda-phet This has been posted to phet-dev.  If it looks ok I can deploy it to figaro.

[2016-01-21 05:26] mattpen commented on #288
@oliver-phet - both of these requests have been posted to phet-dev.  See https://phet-dev.colorado.edu/en/help-center/running-sims/general#q30-header

[2016-01-21 05:29] mattpen commented on #288
@oliver-phet - The font/colors of the questions on the running sims page have the same style as the FAQ page.  Should the triangles be blue instead? Should the right-facing triangles have a different color from the downward-facing triangles?

[2016-01-21 05:32] mattpen commented on #298
This has been deployed to figaro.  Closing.

[2016-01-21 05:32] #298 closed

[2016-01-21 06:06] mattpen commented on #367
This was completed tonight.

[2016-01-21 06:06] #367 closed

[2016-01-21 16:20] phet-steele commented on #373
@jonathanolson this was probably fixed by phetsims/website/issues/367. Wasn't this an automated procedure @mattpen?

[2016-01-21 16:36] oliver-phet commented on #288
@mattpen Both of the triangles (right and down) should be the same blue as the font.

[2016-01-21 16:41] amanda-phet commented on #288
@mattpen it might be helpful to model the design after the Offline Access page, not the FAQ/Troubleshooting pages. We decided to go with the <h2> headings here but with a little more spacing between each question.

[2016-01-21 17:06] mattpen commented on #373
@phet-steele I think this was automated at one time but was causing problems with some testing on phet-dev due to the database being synced with figaro.  I'll have to check the script and see if those are automatically copied over.  It sounds like I'll need to add these in.

[2016-01-21 17:55] arouinfar commented on #357
Sounds great @amanda-phet.

[2016-01-21 18:44] mattpen commented on #288
@oliver-phet, @amanda-phet - I sent an email requesting new artwork for the blue triangles.

Do you want to try this behavior on the other pages (Getting Started, etc.) as well?

[2016-01-21 22:33] jonathanolson commented on #373
@mattpen, could we then use the script manually (when you want) to copy over both the DB contents and the document root files?

[2016-01-22 03:43] mattpen commented on #373
@jonathanolson I manually ran a script written by Aaron, apparently its not pulling over the teacher's guide.  Its pulling some of the document root as the new sims are all there.  By automated I meant run it as a cron job, apparently Aaron had it set up to run at regular intervals but stopped for some reason.  I'll take some time to look at the script and see if we can use it to copy the teacher'

[2016-01-22 16:57] ariel-phet commented on #368
@mattpen - lets have @phet-steele do a little testing before we make that change. Did you change this for only HTML5 sims or did it get changed for Flash/Java?

Also...in general, best to just reassign issues to me for a quick response. Sometimes simply mentioning slips through the cracks.

[2016-01-22 18:12] mattpen commented on #368
@ariel-phet @phet-steele - this has been changed for all sims regardless of technology.  Assigning to Steele for testing.

[2016-01-22 18:14] mattpen commented on #373
@phet-steele - the new activities should be working now.  Please confirm or let me know if you find anything else that is missing.

[2016-01-22 18:26] ariel-phet commented on #368
Making a testing issue for this in tasks

[2016-01-22 23:32] phet-steele commented on #373
@mattpen recent activities are working.

[2016-01-23 01:32] mattpen commented on #373
I updated the script to automatically copy the activities and put it back on a crontab schedule.

[2016-01-23 01:32] #373 closed

[2016-01-23 16:00] #351 closed

[2016-01-23 16:00] #350 closed

[2016-01-25 18:45] mattpen commented on #368
Testing is complete - I'll push this to figaro on the next deploy.

[2016-01-25 20:42] mattpen commented on #301
@amanda-phet - I deployed fixes for the above comment to phet-dev. There is now an HTML5 category page as well.  Is there anything else to be done here? Is it ok to deploy to figaro?

[2016-01-25 20:48] mattpen commented on #324
@amanda-phet @arouinfar I deployed the latest version of the table to phet-dev today.  I have not yet implemented the behavior to add a row for locale that do not have a translated sim but have a translated teacher's guide.  This will be somewhat difficult to implement, but I'll see what I can do.

[2016-01-25 20:48] mattpen commented on #354
@amanda-phet This was deployed to phet-dev today.

[2016-01-25 20:50] mattpen commented on #306
@amanda-phet I've mixed in the new style of table in the offline-access page and added the additional requests from your comment above.  This was posted to phet-dev today.  Is there anything else we need to implement here?

[2016-01-25 20:58] mattpen commented on #347
@amanda-phet I automated the arrow indicator so that they will be added to any new sortable table. I also changed the color for the buttons (using #7f90b3 for the hover color).  These changes are now up on phet-dev.

I've set it up so we can deploy the format to figaro first and then start adding the new table configurations, or we can wait and do it all at once.  Either is easy for me.

[2016-01-25 21:21] mattpen commented on #371
@phet-steele - This should be fixed now on phet-dev.  Let me know if it looks ok and I'll deploy it to figaro.

[2016-01-25 21:26] mattpen commented on #330
It appears this was caused by a poorly translated string in ar_SA.  I deployed a fix to figaro and it appears to be working. Closing.

[2016-01-25 21:26] #330 closed

[2016-01-25 21:41] phet-steele commented on #371
@mattpen it certainly is fixed.

[2016-01-26 15:44] mattpen commented on #363
@amanda-phet - should there be any link behavior for the code icons? Are they just static images?

[2016-01-26 17:58] mattpen commented on #291
I configured the VM today to deliver static content over https.  I've also synced the DB and part of the Doc Root with figaro. @jonathanolson should we update the saved copy of the VM image?  I'm not sure where its stored.

[2016-01-26 21:33] erudat commented on #297
@jonathanolson the address Aaron provided for the API does not seem to be working.

[2016-01-27 03:35] ariel-phet commented on #297
@mattpen since you have been doing lots on phet-dev is it possible for you to track down the address for the API?

[2016-01-27 04:13] mattpen commented on #297
@ariel-phet The URL is correct but Aaron removed it from publication for the following issues (see above):

(2) Is really the only concern for publication on phet-dev.  If its OK to publish it please confirm and reassign to me.

[2016-01-27 04:51] ariel-phet commented on #297
@mattpen please go ahead and publish on phet-dev, we can figure out an alternative later if @kathy-phet decides for this not to be public in the long run, but I think there is low risk for the moment on phet-dev and the app teams needs access to make progress.

[2016-01-27 05:01] mattpen commented on #363
@amanda-phet - Can you clarify the sortable behavior for the code column? Alphabetic/numeric sorting doesn't seem to make sense here.  Should the sort function group the sims by code-baseand then cycle through which one appears first?

[2016-01-27 05:09] ariel-phet commented on #363
@mattpen I think I can answer a few questions here:
- no link behavior for code icons, merely static images
- Yes the sort function on code base would group the sims by code base. So for instance, all HTML5 first, then Java, then Flash. I think we felt it did not need to cycle, but either group or not. So if sorting group by HTML5, then Java, then Flash, and order alphabetically within a code base

[2016-01-27 05:26] mattpen commented on #363
@ariel-phet - Would subsequent clicks on the same column keep the grouping by code-base and reverse the alphabetic order?  Or just leave it as is?

[2016-01-27 06:11] mattpen commented on #363
Discussed with Ariel via skype.  A second click on the CODE column will return the table to the default sort (alphabetical a-to-z by untranstlated sim name).

[2016-01-27 06:25] arnopoulos commented on #297
@mattpen We can work on ways to decrease timeout too. If you want we can meet up sometime this week, or next week, to talk about how we can improve load times.

[2016-01-27 06:28] kathy-phet commented on #297
We discussed it last week, and decided OK to have this API public.
K

[2016-01-27 07:08] jonathanolson commented on #291
Sounds great to update it. See /data2/phet-vm/ under simian (figaro-dev).

[2016-01-27 18:57] jonathanolson commented on #297
Yes, publishing to phet-dev sounds good. It's also on my list to review, and try to figure out how to handle (1) nicely.

[2016-01-27 19:09] mattpen commented on #297
This has been published on phet-dev.  The URL above may take a long time to load, this one has a much shorter load time if you want to verify that it is working.  http://phet-dev.colorado.edu/services/metadata-api?format=json&type=html&summary=true&locale=en

[2016-01-27 20:41] mattpen commented on #363
@amanda-phet @ariel-phet This was deployed to phet-dev today.  Please let me know if anything needs to be improved.

[2016-01-27 21:15] amanda-phet commented on #363
@ariel-phet thanks for responding to @mattpen 's questions. I would agree for both.

[2016-01-27 21:21] amanda-phet commented on #347
Looking great!!

I don't see any reason not to do all of the tables at once. I noticed the change also affects the activity page, but I think it still looks readable.

[2016-01-27 21:24] amanda-phet commented on #306
It looks great.

I would just make the download icon/technology spacing consistent. It looks good in the chromebook table (the icon and HTML5 text spaced apart and also aligned along the same horizontal center), so I'd do the same to the laptop/desktop table.

<img width="606" alt="screen shot 2016-01-27 at 2 23 27 pm" src="https://cloud.githubusercontent.com/assets/7852916/12628695/a2391908-c501-

[2016-01-27 21:25] amanda-phet commented on #354
Looks great. I'll leave it for you to close this issue once this is deployed.

[2016-01-27 21:28] amanda-phet commented on #324
I don't think we need to wait on that functionality to deploy this change. What do you think @arouinfar ?

[2016-01-27 21:31] arouinfar commented on #324
@amanda-phet I agree. Now that BCE has been redeployed, we don't currently have the problem of translated tips for not-yet-translatable sims.

[2016-01-27 21:32] amanda-phet commented on #301
It looks really good to me. I like how the thumbnail/list icons are in all sim categories now as well.

Also to clarify, the 3 newest sims are populated automatically by date? And the rest of the "new sims" are still by category, or is that also automatic now?

@ariel-phet @arouinfar @amyh-phet @oliver-phet want to also take a look since we all worked on the design?

[2016-01-27 21:36] amanda-phet commented on #324
@arouinfar I think Matt is saying the sim would still need to be translated into that locale for the tips to be visible. Don't we have a translated tips document for a sim that is not translated into that locale? In that case, the tips doc would still not be in the table.

[2016-01-27 21:48] amyh-phet commented on #301
@amanda-phet  and @mattpen  I think this looks really good.  I like having the HTML5 category page too!

[2016-01-27 21:56] ariel-phet commented on #306
One tweak I would make is that when I click technology I like how it sorts the first time, but the second time I click it took me a little while that it was doing reverse alphabetical order within the technology sort. I think this is unnecessary...I would just go with clicking "HTML5" sorts the html5 to the top with alphabetical order within that group, clicking again goes to unsorted (for each co

[2016-01-27 22:00] amanda-phet commented on #306
I think that what this does is actually more standard than what we are doing in the translated sims table, but I agree that we should make it consistent since it is the same type of information.

[2016-01-27 22:08] arnopoulos commented on #297
@mattpen Is there a way to specify multiple locales? If not is there any particular reason why the value for "localizedSimulations" is an array rather than just an object? Also could you provide the route that will allow us to gather the metadata for a particular simulation?

[2016-01-27 22:18] arouinfar commented on #324
Got it @amanda-phet. The teacher tips for BCE has been translated into Spanish (possibly Colombian Spanish given the author's affiliation). There is no Spanish or Colombian Spanish translation of the sim, though there is a Peruvian Spanish translation. How picky should we be when it comes to sub-locales?

I would think that unless there is a Peruvian Spanish version of the teacher tips, ANY Spanis

[2016-01-27 22:24] oliver-phet commented on #301
On my machine, Index/list view is showing *all* sims under the 'New SIms' category instead of only the new sims.

[2016-01-27 22:24] amanda-phet commented on #324
Sounds good to me! I couldn't remember exactly which tips we had, but given the current situation it sounds like we can just use our discretion.

[2016-01-27 22:28] arouinfar commented on #324
I think the only translated tips we have are the Java version of Under Pressure and the HTML5 version of Balancing Chemical Equations. Both are in Spanish (possibly Colombian Spanish). Under Pressure has es and es_PE translations, and BCE has just a es_PE translation.

[2016-01-27 23:05] oliver-phet commented on #288
@mattpen The blue triangles look great. Let's do that on the other pages as well.

[2016-01-27 23:59] mattpen commented on #301
@amanda-phet - The sims are all selected automatically by date of publication of v1.  The 3 newest sims for the blue box and the 30 newest sims on the page.

@oliver-phet Good catch, I'll fix that ASAP.

[2016-01-28 04:44] mattpen commented on #324
@amanda-phet @arouinfar  Are there any instances where we received a guide for a locale where there was no sim translated into a related sub-locale?

You can select the locale when you upload the guide, would it be problematic to just upload it in the locale for the sim with the closest sub_locale? In the BCE example, you could just select es_PE as the locale instead of es_CO.

If we've only recei

[2016-01-28 04:53] mattpen commented on #361
Tagging developer-meeting to follow up on email discussion with @ariel-phet and @oliver-phet.

[2016-01-28 04:55] mattpen commented on #363
Is there anything else to add here?  Is it ok to deploy to figaro?

[2016-01-28 05:02] ariel-phet commented on #361
@mattpen @oliver-phet

There was a suggestion that perhaps we should also request multiple email addresses (for instance an alternative personal email address) - this suggestion came from Edmodo that has literally millions of teacher users.

[2016-01-28 05:34] ariel-phet commented on #363
:+1:  @mattpen , OK to deploy

[2016-01-28 06:14] mattpen commented on #297
@arnopoulos As of today, you can only request one locale.  If you omit the argument you will receive all of them, which is why its stored in an array.

As of now, there is no parameter for requesting a particular sim.  The simulation=simName route has not been implemented yet.

[2016-01-28 06:23] arnopoulos commented on #297
@mattpen That makes sense. I just wanted to make sure that there was a justification for it.

[2016-01-28 09:56] jonathanolson commented on #297
I'll be reviewing the code soon, and I'll be able to flesh out the implementation (like that feature) and also work in improving performance (it seems quite slow).

[2016-01-28 17:10] arnopoulos commented on #297
@jonathanolson In terms of the application, I don't believe that there will be a time where we will need access to more than one localization at a time.

[2016-01-28 17:48] arouinfar commented on #324
@mattpen As far as I know, we don't have any translated tips for sims that haven't been translated into a related sub-locale. I don't think we need to worry about any automated procedures for now. We can just use our best judgement when manually uploading the teacher tips.

[2016-01-28 19:29] mattpen commented on #291
I uploaded the VM image to that location and saved the previous one as .old.

[2016-01-28 19:29] #291 closed

[2016-01-28 19:47] mattpen commented on #361
We can delay dev-meeting discussion till next week.

[2016-01-28 20:19] oliver-phet commented on #329
This issue is now being worked on in https://github.com/phetsims/website/issues/361

[2016-01-28 20:19] #329 closed

[2016-01-29 02:52] mattpen commented on #369
@phet-steele In #288 we decided to replace all of the toggle behavior with the triangles.  Closing this issue.

[2016-01-29 02:52] #369 closed

[2016-01-29 18:19] amanda-phet commented on #301
Date of publication of v1? Is it possible to see these dates anywhere? I'm curious why Area Builder is not listed here when many of these were published before that point. That sim is still considered very new.

[2016-01-29 19:01] mattpen commented on #306
@amanda-phet @ariel-phet Are we in agreement that the sorting should be like in the translated table?     Or is this still under discussion?

[2016-01-29 19:07] mattpen commented on #301
@amanda-phet - The actual ordering is based on the id # in the database, as the created date is missing from some of the database records.  This was discussed at a dev meeting and the consensus was that this should be identical to the publication date of v1.  It sounds like this might be a flawed assumption.  Is there a record somewhere of publication dates that I can use to double check?

[2016-01-29 19:14] mattpen commented on #167
Discussed with @oliver-phet on 1/28/2016.  We had a user who had two accounts created with identical emails with different case structure.  Because the emails looked the same in a case-insensitive search, the user could not logon.

We decided to increase the priority of this issue.  We decided that the email address in all user activity should be checked in a case-insensitive format (logon, regist

[2016-01-30 18:16] ariel-phet opened #374 "On iPad why have sim open in "new tab"?"
I think this is a good question to discuss with the dev team as a whole, but I noticed that currently, on the iPad when you open a sim from the website it opens up in a new tab. In my opinion this behavior diminishes the user experience since screen real estate is at a premium. If you only have the PhET site opened, and clicking the run button on the sim opened the sim without opening a new tab, y

[2016-01-30 19:58] mattpen commented on #374
@ariel-phet Yes, we can detect the browser version in JavaScript.  We can also detect specifically if the device is an iPad from the user agent string. From there we can change the target tag in the link.

[2016-01-30 22:30] pixelzoom commented on #374
It's a tradeoff. It gains more screen real estate (if the PhET site was the only tab open in the browser to begin with), but requires navigating back to the PhET site.  I have no strong opinion, sounds like a management decision to me.

[2016-01-31 03:59] samreid commented on #374
No strong preference from me, here are my $0.04:

* keeping things consistent across platforms is nice (keeps code simple, etc)
* whatever reason we have for opening a separate tab on desktop probably also applies to iPad
* A future version of mobile safari could change how the tabs and vertical space works (I think a few versions ago it was different, always keeping the same vertical space for N=

[2016-01-31 17:28] pixelzoom commented on #374
Thinking about this more... -1 for doing something different on iPad.  It complicated things (see @samreid comments above).  And if someone really needs the additional space, they can close the PhET website tab.

[2016-01-31 17:35] ariel-phet commented on #374
Well I think there is a general question then maybe as well...usually links *internal* to a site do not open in separate tabs, general practice is to only open external links in a new tab. Sims seem to fall in a bit of a gray area...do we really consider these external links?

[2016-01-31 17:41] pixelzoom commented on #374
I'm not sure what "usually" is referring to - PhET convention? general websites?  But the general wisdom is that you open a new tab/window when the user is leaving your site or beginning a task that is likely to occupy them for many minutes (eg, reviewing statements on a banking site.)

[2016-01-31 17:41] pixelzoom commented on #374
I'm not sure what "usually" is referring to - PhET convention? general websites?  But the general wisdom is that you open a new tab/window when the user is leaving your site or beginning a task that is likely to occupy them for many minutes (eg, reviewing statements on a banking site.)  Sims clear fall into the latter category.

[2016-01-31 17:44] pixelzoom commented on #374
Another thought... Opening sims in a new tab increases the likelihood that they will inadvertently have multiple sims open.  And on iPad, that has a good chance of crashing the browser.  If sims did *not* open in a new tab, then it's more likely that only 1 sim at a time would be open.

[2016-01-31 17:46] pixelzoom commented on #374
So now I'm leaning towards not opening sims in a new tab on mobile devices, so that we're less likely to crash the browser by having multiple sims running.

[2016-02-01 16:53] samreid commented on #374
To me, that seems like the most important concern in this thread.  Perhaps before acting on it, we should do a modern test of how many sims can be open in different tabs before they start crashing?  @ariel-phet is this something @phet-steele can test, say on iPad2?

[2016-02-01 21:59] amanda-phet commented on #306
Yes, @ariel-phet and I would like the sorting to mimic what you've done with the code column in the translated table.

[2016-02-01 23:19] amanda-phet commented on #301
Why yes, there is! Steele just made this spreadsheet for us: https://docs.google.com/spreadsheets/d/1WfYjEWBv5bdoelxZrCnQDd5OtSd7RrbXplWPWMV-pq8/edit#gid=0

[2016-02-01 23:23] jonathanolson commented on #374
Also, if crashing is a symptom, we can work at minimizing memory usage.

It also is fairly annoying for me every time we start a sim in a new tab, and it seems like people would use the back button to navigate back if they want to go back.

[2016-02-02 04:08] mattpen commented on #297
Discussed with the phet-app team on 2/1/2016.  It was requested to implement a method of requesting the full data for a single sim by id.  My suggestion was to add an additional query parameter, Andrew suggested to add a separate URI route.

@jonathanolson - Do you forsee any performance concerns implementing this in tomcat?  The reason they requested it is to improve performance of the app on the

[2016-02-02 15:22] arnopoulos commented on #297
@mattpen @jonathanolson To add to that we are only planning on updating the simulations every 24 hours. I've never used varnish but you should be able to set the cache invalidation time to be 24 hours.

[2016-02-02 17:22] pixelzoom commented on #361
2/2/16 dev meeting: This is a conversation that @mattpen needs to have with @oliver-phet.

[2016-02-02 17:36] pixelzoom commented on #374
2/2/16 dev meeting: Deferred to 2/4/16 when @jonathanolson and @ariel-phet are available.

@jbphet @jessegreenberg @mattpen please weigh in before the next meeting.

[2016-02-02 17:43] jessegreenberg commented on #374
This is especially true for accessibility.  Browsers are very bad at telling AT when a new tab opens.  Unless we tell the user that a new tab is opening in the markup, screen reader users will navigate to 'back' at first.

[2016-02-02 17:53] mattpen commented on #374
I don't have a strong opinion either way.  Personally, I feel like the site flows better if we open the sim in the same tab on mobile devices.  This seems to align with the performance and accessibility concerns mentioned above.

[2016-02-02 18:19] jbphet commented on #374
I think opening them in the same tab on mobile devices would be a good way to prevent excessive memory use.

[2016-02-03 06:20] mattpen commented on #297
Tagging developer meeting to discuss whether this can be deployed to figaro (possibly hidden with robots.txt?).  As this is currently deployed to phet-dev, it will be unavailable whenever I am using phet-dev to test the master branch.

The performance concerns mentioned above also warrant further discussion.

[2016-02-03 15:10] ariel-phet commented on #374
OK, seems like opening in the same tab is the way to go, especially given the accessibility concerns. Going to make the management call here...opening in the same tab it shall be.

@mattpen make it so (I assume this only applies to flash and HTML5 sims since they are the only ones that open in the browser)

Removing developer meeting label. Not a rush in terms of priority but I am guessing this is

[2016-02-03 17:06] jonathanolson commented on #297
Sounds good, presumably the locale query parameter has been implemented?

I suggested the query parameter for specifying a simulation in my original specification (below). What of these query parameters are implemented?

It seems fine, but we'll probably want to investigate how many DB queries the process is making. Ideally it should just have a few, so performance wouldn't be a concern either way

[2016-02-03 17:06] pixelzoom commented on #374
@ariel-phet please clarify whether this change is for iPad only, or for all mobile devices.  That was an unanswered question at 2/2/16 developer meeting.

[2016-02-03 17:18] ariel-phet commented on #374
@pixelzoom @mattpen to clarify, when I say all platforms, I mean everything. If you open an HTML5 or Flash sim it should open in the same tab, regardless of device (not just mobile). As was mentioned, if possible best to have it consistent instead of specialized code per device. And the accessibility argument was the tipping point for me.

[2016-02-04 05:05] mattpen commented on #301
Excellent, thanks Amanda, I've uploaded these dates to the database.  I'll switch the sorting to these dates later this week.

[2016-02-04 05:19] mattpen commented on #368
Deployed to figaro - closing.

[2016-02-04 05:19] #368 closed

[2016-02-04 05:19] mattpen commented on #363
Deployed to figaro - closing.

[2016-02-04 05:19] #363 closed

[2016-02-04 05:19] mattpen commented on #360
Deployed to figaro - closing.

[2016-02-04 05:19] #360 closed

[2016-02-04 05:20] mattpen commented on #354
Deployed to figaro - closing.

[2016-02-04 05:20] #354 closed

[2016-02-04 05:22] mattpen commented on #347
This was deployed to figaro tonight.  There are still pending changes for the Translated Sims table on the main sim pages and for the Offline Access tables.  They are addressed in other issues, so I'm closing this one.

[2016-02-04 05:22] #347 closed

[2016-02-04 08:05] jonathanolson commented on #335
Completed review of code, syntax and used features. PHP code in use:
1. The blog (Wordpress).
2. Offline statistics collection
3. Installer builder

We're on PHP 5.3.28 currently. For the blog, this was pretty easy to check (latest Wordpress supports PHP 5.6+, so we must be running an end-of-life'd Wordpress that might be missing security fixes).

For the others, I went through the breaking change

[2016-02-04 08:05] #335 closed

[2016-02-04 19:08] jonathanolson commented on #311
@mattpen, can we replace every occurrence of "UA-5033010-1" with "UA-5033010-35" in the website code? It looks like this will require bumping the version in the JS filename.

Also @kathy-phet, the blog is currently set up with a plugin that only supports using one tracker (currently ours), so I can't update that. Let me know if we should remove that plugin and manually add the Google Analytics cod

[2016-02-04 19:54] pixelzoom commented on #297
2/4/16 dev meeting: @mattpen and @jonathanolson will discuss this.

[2016-02-05 18:44] mattpen commented on #311
@jonathanolson The change has been applied to the master branch.  The commit is posted above.  Does any testing need to be done, or can this be deployed to figaro?

[2016-02-05 18:46] jonathanolson commented on #311
Was the JS filename version bumped? If it has, I can test once it's been deployed to production (low chance of breaking anything).

[2016-02-05 18:49] kathy-phet commented on #311
I think we can forgo the Hewlett tracker for the blog. It is not a main resource and I don't think Hewlett will miss it.

K

Sent from my iPhone

On Feb 4, 2016, at 12:08 PM, Jonathan Olson <notifications@github.com<mailto:notifications@github.com>> wrote:

@mattpen<https://github.com/mattpen>, can we replace every occurrence of "UA-5033010-1" with "UA-5033010-35" in the website code? It looks lik

[2016-02-05 18:56] mattpen commented on #311
@jonathanolson - I usually don't bump the css/js filenames until immediately before I deploy to figaro.  I'll bump the js version and deploy tonight.

[2016-02-05 19:07] jonathanolson commented on #311
Sounds great, thanks!

[2016-02-05 20:46] mattpen commented on #301
@amanda-phet - I published the changes to phet-dev.  I confirmed that Build an Atom, Resistance in a Wire, and Ohms Law were indeed dropped from the list.  Is there anything else to be done here?

[2016-02-05 20:52] amanda-phet commented on #134
I think we might need to revisit this issue and have an undergrad go through sims and re-add the related sims. It looks like this functionality works moving forward, but does not make any changes to previously added related sims. @ariel-phet what do you think?

[2016-02-05 20:55] mattpen commented on #371
This was pushed to figaro.  Closing.

[2016-02-05 21:02] mattpen commented on #324
@oliver-phet @arouinfar @amanda-phet This should be in a final state now on phet-dev. I opened a separate issue to test it out.

[2016-02-05 21:04] mattpen commented on #306
@amanda-phet @ariel-phet - The new sortable behavior is up on phet-dev.  Is this OK to deploy to figaro now?

(Note: It will need to wait until after the helpcenter #288 is fully deployed)

[2016-02-05 21:07] mattpen commented on #288
The triangle toggle behavior is now applied to all the pages on phet-dev.

[2016-02-05 21:39] mattpen commented on #374
@ariel-phet - I applied this change.  It's ready to deploy to figaro tonight.  Do we need to do any testing? I don't think it will break anything.

[2016-02-05 22:27] phet-steele opened #375 "Can't follow links that are close to the header"
@mattpen If a link in an answer is too close to the header and arrow, the link cannot be clicked. Instead the question is just collapsed.

Link that is too close:
![closelink](https://cloud.githubusercontent.com/assets/5863899/12860895/65e237fe-cc14-11e5-8481-a5567a16b706.PNG)

When hovering over "here", I'm being directed to the link for the header. Clicking just closes the question.

[2016-02-05 22:30] phet-steele commented on #288
@mattpen all strings look good on my end. I edited things on phet-dev, so check after midnight to see any changes :smile:.
One small problem though phetsims/website/issues/375.

[2016-02-06 06:23] mattpen commented on #374
This was deployed to figaro tonight.  I tested launching Java, Flash and HTML sims on FF, Chrome, and IE on Win 7 and everything seems to be fine, @ariel-phet tested iPad.

[2016-02-06 06:23] #374 closed

[2016-02-06 19:10] kdessau-PhET commented on #325
I think this is done now so I will close it.

[2016-02-06 19:10] #325 closed

[2016-02-08 16:55] mattpen commented on #311
@jonathanolson - This was deployed to figaro on Friday night.

[2016-02-08 16:55] #311 closed

[2016-02-08 19:47] phet-steele opened #376 "Login for installer"
@ariel-phet we require users to log in to access activities, teacher tips, etc..., so shouldn't it follow that we require a log in to download the installer with activities?...maybe?

[2016-02-08 22:41] ariel-phet commented on #376
An interesting question @phet-steele - I think this will best be answered by @kathy-phet

Assigning to her and marking for status-meeting in case it does not get addressed before then

[2016-02-08 23:41] ariel-phet commented on #134
I know just the man for this task....

@phet-steele - batter up! :baseball:

[2016-02-09 16:06] mattpen commented on #375
@phet-steele - I deployed the fix to phet-dev this morning.  Please confirm and reassign if it's not working.

[2016-02-09 16:09] phet-steele commented on #375
@mattpen it's good! :football:

[2016-02-09 16:09] #375 closed

[2016-02-09 19:47] jbphet commented on #275
The installer-builder has been stable for a while now, and the installers are being tested on a weekly basis by @phet-steele.  Since we've decided not to take any immediate action on this, I'm going to close the issue and will reopen if we start having problems again.

[2016-02-09 19:47] #275 closed

[2016-02-10 00:17] mattpen commented on #357
This is now up on phet-dev.  It is branched with the translated teacher guide code, so it will be deployed at the same time as #324

[2016-02-10 16:18] mattpen opened #377 "Duplicate emails/accounts"
@oliver-phet @ariel-phet

We currently have ~150 duplicated email addresses in the website database.  Apparently at some point in the history of site we allowed people to register with the same email twice if they used case differently.  When this happens, tomcat refuses to allow either address to logon with the correct password.

The behavior is being fixed as part of #167, I opened this issue to

[2016-02-10 17:20] ariel-phet commented on #377
Back to you @mattpen, please summarize the plan in this issue

[2016-02-10 17:21] ariel-phet commented on #377
@mattpen said

[2016-02-10 18:00] ariel-phet opened #378 ""About" section in HTML5 sim translation credits not currently available"
In our http://phet.colorado.edu/en/for-translators/translation-credits the "about" section does not currently appear to be active.

It seems we should have a few changes:
- trusted translators should have an "about" field option in their profile
- trusted translators should have an option to display their email address or not on the credits page

@mattpen and I should discuss a bit, but this work

[2016-02-11 00:19] oliver-phet opened #379 "New fields in database"
**New fields in user profile (users will be prompted to complete):**
- Twitter handle? [optional]
- Zip-code (US only) [required]
- Secondary email (with confirm/unconfirmed button) [optional]
- Birth month and year [optional]
We like the Edmodo design:
<img width="719" alt="screen shot 2016-02-10 at 4 12 35 pm" src="https://cloud.githubusercontent.com/assets/5090275/12965124/24e0564a-d011-11e5-80

[2016-02-11 07:34] mattpen commented on #377
All duplicates were deleted from the database tonight.  In the case where one of the accounts was a teammember or trustedtranslator, I deleted the less privileged account.  In the case where both accounts had activity (contribution or translation), I copied all the activities to the more complete profile and deleted the other. There were 152 users removed overall.

[2016-02-11 07:34] #377 closed

[2016-02-11 17:38] jessegreenberg commented on #376
KP: Lets defer this for now, it is not a high priority.

[2016-02-11 17:42] jonathanolson opened #380 "Track activity (Contribution) views in new table"
We'll want a table where (effectively) the rows are "user X viewed activity Y". Presumably, this will include the user who views the activity, the activity reference itself, and a timestamp.

This will be needed for the Salesforce integration, so we can report things like "user X has viewed # activities", and "user X's activities has been viewed # times", etc.

Feel free to talk to me about detail

[2016-02-11 19:07] oliver-phet commented on #365
@jonathanolson Any update on this?

[2016-02-11 23:01] mattpen commented on #380
@jonathanolson Does this schema look correct?  If so I can start writing code to track the views.

website_production=# \d contribution_view
           Table "public.contribution_view"
   Column    |            Type             | Modifiers
-------------+-----------------------------+-----------
 contrib_id  | integer                     |
 phetuser    | integer                     |
 time_viewed |

[2016-02-11 23:35] mattpen commented on #361
@oliver-phet - The user is now directed to this page if they are logging in without a confirmed email, both in the case of a new user and in the case of a user who has submitted a password reset request.  I've published the change to phet-dev.  Is there anything else that needs to be done as part of this issue?

(The secondary email will be handled as part of #379)

[2016-02-11 23:51] mattpen commented on #167
@oliver-phet - Case-insensitive login should be live now on phet-dev.  I also cleaned up the duplicate accounts in #377, and it is not possible to create duplicate accounts with the new procedures.  I've opened a task to test the changes - phetsims/tasks#512

[2016-02-12 03:35] oliver-phet commented on #361
I just tested on phet-dev and it looks good. I think that is all for this issue now.

[2016-02-12 05:34] mattpen commented on #361
Great.  I'll go ahead and publish to figaro as long as nothing comes up in testing.

[2016-02-12 05:39] mattpen commented on #380
@jonathanolson - Do we want to track whether the ContributionMainPanel page was viewed, or whether they clicked the download link for the activity file itself?

[2016-02-12 07:05] jonathanolson commented on #380
Good question, I'd ask @kathy-phet or @oliver-phet.

Was in generated via a combined ContributionView.java and Contribution.hbm.xml? It seems to be missing the typical id field (primary key) that Hibernate would include. What Hibernate mappings would be in place, and is it significantly different than ContributionComment (besides the fact that ContributionComment has text and an update timestamp)?

[2016-02-12 15:31] mattpen commented on #380
@jonathanolson - It was not, I'll drop the table and create it that way.

[2016-02-12 17:05] oliver-phet commented on #380
I think we would only want to track whether they clicked the download link for the activity file itself. (Actual amount of downloads, not just views of the activity page). But we should confirm with @kathy-phet

[2016-02-12 18:14] #371 closed

[2016-02-12 18:30] phet-steele opened #381 "More registration errors"
@mattpen it seems the fix for phetsims/website/issues/371 isn't applied correctly. It looks like no matter what error I have while creating an account will always delete my passwords and outline them in red. The below screenshot reveals two things:

1. (already mentioned) The password fields are incorrectly marked as incomplete, every time.
2. The email entry fields are not outlined with a red box

[2016-02-12 18:41] phet-steele commented on #372
@mattpen this issue has an ugly twin! Clicking "Resend" on the Awaiting Email Confirmation page AFTER successfully registering shows this:

![websiteregistrationnews](https://cloud.githubusercontent.com/assets/5863899/13016678/700b33e8-d17d-11e5-8551-c6702126b873.PNG)

Notice it's talking about my newsletter subscription.

[2016-02-12 19:01] phet-steele opened #382 ""I am a..." profile field is behaving strangely"
@mattpen this occurs after registering, and going to the edit profile page. If my profile has me checked as a "Parent" after registering, I can go to the edit profile page and see that the website has changed me from being a "Parent" to being a "Teacher educator / Coach". Clicking "Update", then going back a second time to the edit profile page will reveal that the website removed me from being a

[2016-02-12 19:14] phet-steele commented on #382
Note that other check boxes in this category don't behave this way.

[2016-02-12 19:19] phet-steele opened #383 "Error message can't be found on email change page"
@mattpen I hope this screenshot makes this issue self-explanatory. I simply came to this page and clicked "Change Email" without entering anything. Also there is no error for leaving the email fields empty:

![websiteregistrationlost](https://cloud.githubusercontent.com/assets/5863899/13017650/7db5f91a-d182-11e5-9551-9b8e2165bf8c.PNG)

[2016-02-15 18:25] mattpen opened #384 "NewsletterEntity not available"
As described in an email to phethelp, when translators attempt to open the NewsletterEntity they are receiving an Internal Error.  The root cause is that we are passing a generic user to ConfirmEmailPanel but failing to initialize the phetUser.id.

@oliver-phet - This should be fixed the next time I deploy the website, probably by the end of the week.

[2016-02-15 20:27] phet-steele commented on #134
@amanda-phet @ariel-phet should I remove any related legacy sims if they have an HTML5 version, then add the HTML5 version? I'm going to assume the answer is yes and will be moving forward with removing.

[2016-02-15 20:33] phet-steele commented on #134
Well never mind, for some reason I can't add legacy sims to the Related Sims category. @ariel-phet can I have @mattpen look into this real quick?

[2016-02-15 20:43] ariel-phet commented on #134
@phet-steele - if an HTML5 version exists, we should **NOT** add the legacy version to related sims. So for instance, pH Scale (HTML5) should be added, but the legacy version should not be in related sims.

It appears a legacy sim can be added if no HTML5 version exists (such as sugar and salt solutions in the screenshot above). Is that correct

[2016-02-15 20:47] phet-steele commented on #134
@ariel-phet yes, but I just want to make sure we are absolutely clear here. My question is refering to the actual legacy sim page of Acid-Base Solutions (there are two pages for ABS, HTML5 and the older legacy one). They can have separate related simulations, and I was proposing we add legacy versions to legacy pages only, not to the HTML5 page.

[2016-02-15 21:04] ariel-phet commented on #134
@phet-steele on legacy pages, we still want to add HTML5 sims when they exist. The reasoning behind this strategy is we want to continue to drive all traffic to the HTML5 versions. So even on the ABS Java page we want to add related java/flash sims only when an HTML5 version does not exist.

[2016-02-15 21:04] phet-steele commented on #134
@ariel-phet 10-4

[2016-02-15 21:34] mattpen commented on #380
@oliver-phet - Some activities have multiple files, such as [Build an Atom: Introduction](http://phet.colorado.edu/en/contributions/view/3341).  If we are tracking downloads, how should we handle this situation?  In this case, the end user may potentially download 10 files for a single activity "view".  If we increment the count for every download, then it would be problematic to compare view coun

[2016-02-15 23:26] phet-steele opened #385 "Endless loop of entering and deleting Related Sims"
@mattpen please read this issue and if it's a quick fix, can you do it? It's currently blocking me from completing #134, and I'd like to get it done soon.

As is, the website has logic for the "Related Sims" category where if two sims are related to each other, removing one as being related will remove the other as being related. So right now, as an example, Area Builder and Arithmetic are related

[2016-02-16 05:36] mattpen commented on #301
@ariel-phet - This is looking complete to me and I'm guessing Amanda may be out for a while. Is there any additional pixel-polish or QA to be done?  If not, I can deploy this to figaro this week.

[2016-02-16 05:59] ariel-phet commented on #301
Hmm...something is not right, on the new sims page on phet-dev, a bunch of non HTML5 sims are showing up...

Back to you @mattpen

[2016-02-16 06:34] mattpen commented on #301
@ariel-phet - The DB was out of sync, sorry about that!  It's fixed now.

The sims that are dropped from the page are currently not the same as Amanda's list. There is some ambiguity because there were 5 sims published on 8/16/2013.  It looks like Amanda's choice was removing the oldest and alphabetically greatest?  The list that is currently dropped is below.  Is this acceptable?

Sim-name (publi

[2016-02-16 16:16] ariel-phet commented on #301
@mattpen that list seems good.

One issue that seems odd, on the "new sims" page not every single sim has the "new" sash on it. for instance Least Squares Regression, Ph-Scale: Basics, and Area Builder.

That does not seem correct.

[2016-02-16 19:09] jonathanolson commented on #380
In the database, then we could store a reference to the ContributionFile that was viewed, instead of the Contribution itself (as the ContributionFile has a reference to the Contribution).

[2016-02-17 02:38] mattpen commented on #380
@jonathanolson - That can work, I didn't realize ContributionFile had its own table.  This would then cause an issue for what to do if they download the zip file, as it currently doesn't have a reference in the database.  Would we add a view for each of the files is the download the zip package?

[2016-02-17 06:15] mattpen commented on #288
@oliver-phet @phet-steele - Is the help-center ready to go?  Is there anything else I need to fix before we publish it?

[2016-02-17 17:24] oliver-phet commented on #288
Take the red pill, Matt!

[2016-02-17 17:26] oliver-phet commented on #288
Which also means make the 'Troubleshooting' and 'FAQs' hidden/removed.

[2016-02-17 18:03] mattpen commented on #301
@ariel-phet - I updated the algorithm that adds the sash to reuse the method that adds the sims to this page, so they should be the same now.  Is this good to go?

[2016-02-17 20:02] ariel-phet commented on #301
Not quite...

If you check in another locale, it looks like the "list" and "grid" view icons are not aligned properly (see below)

![new sims](https://cloud.githubusercontent.com/assets/4051174/13122930/bfa1742e-d576-11e5-82a9-698c9140feb9.PNG)

[2016-02-17 20:05] ariel-phet commented on #301
Some different funkiness in arabic/RTL locales.

[2016-02-17 22:07] ariel-phet commented on #306
Yes, looks good!

[2016-02-18 06:16] mattpen commented on #357
Setting status:on-hold - pending completion of #324

[2016-02-18 06:17] mattpen commented on #346
Setting status:on-hold - pending completion of #301

[2016-02-18 06:58] mattpen commented on #361
This was deployed to figaro tonight.  Closing.

[2016-02-18 06:58] #361 closed

[2016-02-18 07:00] mattpen commented on #288
This was deployed to figaro tonight!  Closing this issue, I'll consider any further work to be bug fix or improvements and should be discussed in a new issue.

[2016-02-18 07:00] #288 closed

[2016-02-18 07:04] mattpen commented on #306
This was deployed to figaro tonight.

As of 12PM MST, about 30 minutes after the deploy, we were still receiving several requests for the old get-phet pages.  I can add a redirect if needed.

Tagging @jonathanolson so he is aware.

[2016-02-18 07:07] mattpen commented on #167
The changes were deployed to figaro tonight.  Users now have the ability to change their email and login is case-insensitive ( we are retaining the user-provided case for outgoing mail ).

[2016-02-18 07:07] #167 closed

[2016-02-18 07:09] mattpen commented on #384
The fix was deployed to figaro.  The newsletter page is now accessible for translation.

[2016-02-18 07:09] #384 closed

[2016-02-18 07:11] jonathanolson commented on #306
It's been my policy that if we are moving a page (roughly equivalent), it should have a redirection. If the content no longer exists (and there is no equivalent), a 404 is appropriate.

Currently https://phet.colorado.edu/en/get-phet is showing an internal server error. Redirection sounds best here, particularly so we can avoid having our server logs get filled.

[2016-02-18 07:29] ariel-phet opened #386 "A bit more negative space before help center items"
I took a quick look at the help center, great work getting this up!

However, it could use a slight design tweak. The items with blue triangles are all very tight to the selection icons. There needs to be a bit more breathing room as shown in the mockup below:

![help center](https://cloud.githubusercontent.com/assets/4051174/13136428/a91a82bc-d5d6-11e5-9484-de101636f781.PNG)

[2016-02-18 07:30] ariel-phet commented on #386
@mattpen this seems like an easy adjustment on the help center pages, would be nice to make the adjustment soon

[2016-02-18 17:10] oliver-phet commented on #384
This was also verified by the translator.

[2016-02-18 17:16] oliver-phet commented on #114
Assigning to @amyh-phet incase this is useful for reworking the teacher resources.

[2016-02-18 19:29] jonathanolson commented on #365
@jbphet, it looks like Rosetta uses localeInfo.js from chipper, is that correct? If so, once the website has it in its locale list, we'll want to add:
[code]

@mattpen, first we'll want to modify phetcommon-locales.properties. Can you add the equivalent entry there, and let us know when it's deployed to figaro?

[2016-02-19 18:10] mattpen commented on #383
@phet-steele - I published a fix to phet-dev.  Please test and reassign to me for changes or deployment.

[2016-02-19 18:20] mattpen commented on #381
@phet-steele - If there is an error in the form validation, it is working as designed if it deletes the password.  We should not be sending the password from figaro back to the user or saving the password on the users computer without asking their permission.  This behavior is pretty common on site registration.

The other problems with differences in error highlighting are due to the form being v

[2016-02-21 05:55] mattpen commented on #306
@jonathanolson - The redirects are now live on phet-dev.  I'll test them on Monday and publish to figaro if all goes well.

[2016-02-22 17:34] mattpen commented on #365
@jonathanolson - I've made the change and I'll deploy to figaro tonight.  However, I don't think I have credentials to push these changes to SVN.

[2016-02-22 20:37] phet-steele opened #387 "Swahili translation to be removed"
@mattpen rutherford-scattering_sw.jnlp does not exist, nor has ever existed, and should be deleted.

[2016-02-22 23:33] ariel-phet commented on #315
It seems most of the fallback will be handled by the new server setup and cached content. not sure this issue is relevant anymore. Closing

[2016-02-22 23:33] #315 closed

[2016-02-22 23:37] ariel-phet commented on #303
It seems with the "new sims" page redesign almost up, as well as the new front page design coming, we can revisit what screen casts to have when we redo the front page. Plenty of other higher priority issues, so closing this one.

[2016-02-22 23:37] #303 closed

[2016-02-22 23:39] ariel-phet commented on #244
This server has been ordered, and will soon be setup (in March 2016). Closing

[2016-02-22 23:39] #244 closed

[2016-02-22 23:42] ariel-phet commented on #24
One day we will revisit the blog. Currently it gets almost no traffic, closing.

[2016-02-22 23:42] #24 closed

[2016-02-22 23:47] jonathanolson commented on #341
@mattpen, do you see any current reason to keep this enabled, or has it been disabled already?

Probably want to ensure it's disabled due to disk space.

[2016-02-22 23:50] ariel-phet commented on #323
This change probably makes sense to revisit when we have completed https://github.com/phetsims/tasks/issues/476

However, if we do make this change we probably will want to have some logic that assures that in the locale being viewed you only go to new sims if some threshold of HTML5 sims have been translated into the locale (perhaps 15 or so)?

[2016-02-22 23:54] ariel-phet opened #388 "Remove green triangle in side bar navigation"
@mattpen please remove the green triangle from the sidebar navigation, this should be a quick tweak.

![green](https://cloud.githubusercontent.com/assets/4051174/13236916/f9355f40-d984-11e5-8268-2d289955e6e9.png)

[2016-02-23 01:10] mattpen commented on #341
@jonathonolson The request issues on Figaro seem to have cleared up so I'll disable this script as well as the other two we put into place for this issue.

[2016-02-23 02:48] ariel-phet opened #389 "Consider changing accordion menu icons in redesign"
@amanda-phet mentioned the following

We should take into consideration for the website redesign/reskinning after the server change has been made.

Currently leaving unassigned

[2016-02-23 03:12] ariel-phet opened #390 "New Footer"
The next piece of design work to be done on the website (after the new sims page and a few other minor tweaks are finished) will be to implement a new footer. The design is shown below:

![footer](https://cloud.githubusercontent.com/assets/4051174/13240423/b8dee662-d99f-11e5-97ed-f649c53a495f.PNG)

This project will involve several important tweaks:

- [x] Social media icons will be B&W using font

[2016-02-23 03:15] ariel-phet commented on #390
Self-assigning to discuss these points with @amanda-phet to make sure I am clear on the details

- I assume we are removing the sidebar "About PhET" category with this change?
- Should the various pages (such as source code) still be under the "about" hierarchy?
- What intermediate tweaks will we make to the current front page "table"?
 - now many links will be covered in the footer?

[2016-02-23 04:23] mattpen commented on #390
Will the sponsor logos and the PhET logo be links to their respective web pages or just static images?

[2016-02-23 04:59] jonathanolson commented on #305
@mattpen, it seems like the VM has been working well (and has been updated at least once) since this was raised.

Anything else we need to do here?

[2016-02-23 05:04] mattpen commented on #305
Yes, the VM is working well for me.  It's in a stable state so I'll close this issue and open a new one if we need to make further updates.

[2016-02-23 05:04] #305 closed

[2016-02-23 06:52] mattpen commented on #386
I added some additional padding to the navigation icons and published it to figaro tonight.  I'm closing the issue as the pages appear to match the mockup above.

[2016-02-23 06:52] #386 closed

[2016-02-23 06:59] mattpen commented on #306
@jonathanolson - The redirects for FAQ, get-phet and troubleshooting pages were deployed to figaro tonight and are working as designed.  This task appears to be complete, closing.

[2016-02-23 06:59] #306 closed

[2016-02-23 07:04] mattpen commented on #387
The rutherford-scattering_sw.jnlp and rutherford-scattering_sw.jar files did not exist on figaro or phet-dev.  The translated name also  appeared to be the same as the swedish translated name, so this translation appears to have been published in error.  I removed it from the database.

[2016-02-23 07:04] #387 closed

[2016-02-23 07:11] mattpen commented on #341
@jonathanolson - Is it OK to delete the logfiles for these scripts, or should they remain in place?  They are using up about 15GB of space.

I stopped the netstat and apache monitoring scripts, the tomcat script will be stopped on the next deploy.

[2016-02-23 07:45] ariel-phet commented on #386
Looks good, thanks!

[2016-02-23 16:47] mattpen commented on #365
The changes to  phetcommon-locales.properties were deployed to figaro, the locale is now available for translation.

[2016-02-23 19:59] jonathanolson commented on #365
Pushed chipper change to include this.

@jbphet, can you (at your convenience) test/update rosetta with this new locale?

[2016-02-23 20:00] jonathanolson commented on #341
I'd say they can either be moved to figaro-dev (if you want) or deleted. No preference.

[2016-02-23 20:26] mattpen commented on #301
@ariel-phet - I deployed a fix to phet-dev.  I tested the changes on Chrome, FF, and IE in en, pt_BR, and ar_SA locales.  Does everything look ok now?

[2016-02-23 20:27] mattpen commented on #388
@ariel-phet - This change was deployed to phet-dev. I'll go ahead and push it to figaro on the next deploy.

[2016-02-23 20:30] ariel-phet commented on #388
excellent thanks!

[2016-02-23 22:06] phet-steele commented on #383
@mattpen looks fixed.

[2016-02-23 23:01] ariel-phet commented on #301
Looking good, but there are several small tweaks that should be made shown in the mockup below:

- more negative space underneath video
- sims in the "new sims" box have been more vertically centered in the box
- The video has been left aligned with the "N" in New Sims
- "New Sims" and the grid/list icons have been moved slightly tighter to the box
- more horizontal spacing between the video and t

[2016-02-23 23:33] ariel-phet commented on #390
Discussion with Amanda:

- when we hover over icons get color (ie facebook blue, youtube red)
- yes sponsors should be links
- PhET logo should link to the homepage
- "about" category removed from sidebar navigation
- "for translators" category removed from sidebar navigation
- "about" category removed from sidebar navigation
- "for translators" category removed from sidebar navigation
- Need a wa

[2016-02-23 23:37] ariel-phet commented on #390
Note - ultimately "Help Center" and "offline access" will also be removed from side bar navigation.

[2016-02-24 00:36] ariel-phet commented on #301
HTML5 Sims page needs similar tweaks

- for all pages that are not the "new sims" page I would right align the list view icon with the right edge formed by the code base icons on the right side of the columns (shown with a red line added to the mockup below)
- similar tweaks of negative space and such are shown below

![htmlsims](https://cloud.githubusercontent.com/assets/4051174/13271714/0552f7e0

[2016-02-24 00:40] ariel-phet commented on #301
@mattpen let me know if you have any questions about the above tweaks, hopefully they are all pretty minor adjustments.

[2016-02-24 00:44] ariel-phet commented on #301
Oh...and it would be ideal if the "blurb" next to the video had a word or two more per line...it is very choppy reading at the moment. For instance, I think if the paragraph were such that the first line could fit "The PhET Interactive Simulations" that would be enough to make the whole blurb a bit less choppy.

[2016-02-24 01:19] ariel-phet commented on #390
@mattpen we should discuss priority of this project on Thursday, but for the moment no work needs to be done. Do however add any further questions/clarifications to this issue in the meantime.

[2016-02-24 02:38] mattpen commented on #390
Thanks, I won't start coding yet.  Here are some additional questions:

- Does the speech bubble icon point to the blog?
- Will these colors work for the social media icons? The first four are ripped from their homepages.
    - Facebook: #3b5998
    - Twitter: #1da1f2
    - YouTube: #cc181e
    - Pinterest: #BD081C
    - Blog: PhET-orange maybe (#d36a04)?
    - Newsletter: PhET-blue maybe (#2a326a

[2016-02-24 02:40] mattpen commented on #383
Thanks @phet-steele I'll post this on the next deploy.

[2016-02-24 02:48] ariel-phet commented on #390
- Yes, speech bubble is for blog
- Links should be all upper case
- blue banner should wrap edge to edge like the header
- seems easy to try the rules in HTML first
- I think the arrows in the locale selection are mimicking what you see on safari (these look very different in different browsers) I think we can use a standard element.
- The colors you propose  are probably fine, for the PhET colors

[2016-02-24 03:13] mattpen commented on #381
Discussed with @ariel-phet. This will be deferred until the sales force profile updates are in the implementation phase.

[2016-02-24 03:18] ariel-phet commented on #252
Changing this deferred priority, should be done at some point, but not until we are receiving regular requests for account deletion

[2016-02-24 03:42] mattpen commented on #372
Updated priority per request from @ariel-phet

[2016-02-24 03:57] mattpen opened #391 "Figaro performance issues"
@ariel-phet @jonathanolson - This issue is being created to document recent troubleshooting on figaro in collaboration with OIT.

In December, it was noticed that the figaro server would repeatedly go sick and healthy during prime use times and certain website functions would not respond in a timely manner.  There were three scripts written to troubleshoot the problem: one is part of #341, the oth

[2016-02-24 03:57] #391 closed

[2016-02-24 05:41] mattpen commented on #301
@ariel-phet - I made the requested changes and posted this to phet-dev.  Anything else to change?

[2016-02-24 05:52] mattpen commented on #382
@phet-steele - Can you recreate this behavior for any value other than "Parent"?  It appears the parent column is missing from the database!

[2016-02-24 07:13] mattpen commented on #372
@phet-steele I changed the page so that if they click on a confirmation link a second time or refresh the page, it will send them to the sign on page instead.

This fix has been posted to phet-dev.  Please let me know if you find any way to recreate the same behavior.

[2016-02-24 07:14] mattpen commented on #372
I just noticed similar behavior when hitting "Resend" on the Awaiting Email Confirmation page.  I'll try to fix this tomorrow.

[2016-02-24 16:08] phet-steele commented on #382
No, except in the original comment my profile went from Parent --> Coach --> null, but I get the same result if I exclude Parent and start from Coach --> null.

[2016-02-24 16:28] mattpen commented on #382
[code]

This might be the problem!

[2016-02-24 16:39] mattpen commented on #356
@ariel-phet - Can you comment on the priority of this issue?

It's not clear to me if this is a bug or is working as designed.

[2016-02-24 16:42] mattpen commented on #341
I removed the logfiles but retained the scripts so we can gather similar data in the future if the problems arise again.

[2016-02-24 17:04] oliver-phet commented on #356
I'm also not sure how this should behave. This translation was setup before I was with PhET.

[2016-02-24 17:08] mattpen commented on #324
@ariel-phet @amanda-phet - Letting the columns have dynamic width on this table is not working out so well -- [expand the Translation section here](https://phet-dev.colorado.edu/en/simulation/arithmetic).  The best solution IMO is to choose a fixed width in either percentage or pixels for the columns, although I'm open to suggestion.  Setting a minimum width is another option but is more difficult

[2016-02-24 17:11] ariel-phet commented on #301
Hey @mattpen looking good! It appears that one of my requests was not clear:

For the 3 newest sims highlighted in the blue round box they should be a bit more veritcally centered in the box:
![newsimbox](https://cloud.githubusercontent.com/assets/4051174/13293911/ed79465c-dade-11e5-9e4c-2ae0cf02a7b8.png)

[2016-02-24 17:31] ariel-phet commented on #356
@mattpen if I had to venture a guess I would say that since this is Saudi Arabic it was special at the time...I was not here but we had a large collaboration with King Saud University to get our website and many sims translated into arabic. So for reasons at the time it may have made sense to structure things differently.

Anyhow, I would say whether it is working as was designed in the past, we s

[2016-02-24 17:39] ariel-phet commented on #324
@mattpen as a first step can we change "All sims in" to "All" that will tight things up a bit, plus if someone translates that string it could get very long, ie french....(tout le simulations dans...), then lets take a closer look

[2016-02-24 17:44] ariel-phet commented on #324
@mattpen also once you have changed to "all" I would try the fixed width like in acid base-solutions but a little tighter (less width) in the language section (since we will have saved some space) which will leave a little more room for the teacher tips column. 5 percent or so more room in the teacher tips column might be nice

[2016-02-24 19:25] jbphet commented on #365
This required a restart of Rosetta, but the zh_HK locale is now appearing in the locale list.  Back to @jonathanolson in case there is anything more to do on this.

[2016-02-24 20:05] jonathanolson commented on #365
I can't think of anything. @oliver-phet, is this resolved?

[2016-02-24 20:23] mattpen commented on #382
Tagged the wrong issue - ignore https://github.com/phetsims/website/commit/52468ce2f4c9d67218c00db5de350f960235ed56

[2016-02-24 20:24] mattpen commented on #372
I fixed the behavior on the "Awaiting ..." page also - https://github.com/phetsims/website/commit/52468ce2f4c9d67218c00db5de350f960235ed56

This will be deployed to phet-dev soon.

[2016-02-24 21:25] mattpen commented on #382
@phet-steele - The fix has been deployed to phet-dev.  Does it look ok now?

[2016-02-24 21:26] mattpen commented on #372
The fix was deployed to phet-dev. @phet-steele, can you check?

[2016-02-24 21:27] mattpen commented on #301
@ariel-phet - Sorry I missed that one.  I deployed a fix to phet-dev.  Can you please check?

[2016-02-24 21:32] oliver-phet commented on #365
Appears to be translatable on the site. Closing for now!

[2016-02-24 21:32] #365 closed

[2016-02-24 21:59] phet-steele commented on #372
@mattpen in both cases I was directed to the home page. This correct?

[2016-02-24 21:59] phet-steele commented on #382
@mattpen fixed, sir!

[2016-02-24 22:18] mattpen commented on #372
If you were already signed in and didn't have a destination in the URL parameters, then yes that's correct.

[2016-02-25 00:13] ariel-phet commented on #301
@mattpen just one last thing (I think), and very minor

If you are on the "new sims" page and switch to "list view" the New Sims label goes away.

The "HTM5" sims page works properly, and retains the HTML5 label

Other than that all looking great!

[2016-02-25 02:30] mattpen commented on #161
@amanda-phet @ariel-phet - I published a fix for this to phet-dev.  Does this look ok to publish to figaro?

[2016-02-25 02:42] mattpen commented on #324
@ariel-phet - I published a first attempt to phet-dev.  Do the column widths look ok? I was thinking that the Translated Sim Title column could be moved a little further over to the right, but the headers are pretty tight as is in some locales, pt_BR for example:
![image](https://cloud.githubusercontent.com/assets/11747676/13308173/62d81244-db2e-11e5-8097-08b357b01b13.png)

The "Teacher Tips" head

[2016-02-25 02:50] ariel-phet commented on #324
@mattpen agreed the title column should be moved to the right, actually a fair bit it looks like (at least 15 percent or so?)

Is there a way to enforce a maximum heading size the way we do i18n in sims? So that if the heading goes beyond a certain width the font size shrinks down? That would likely be more aesthetically pleasing than titles overlapping.

[2016-02-25 02:54] ariel-phet commented on #324
Perhaps we go with something like this? And simplify "teacher tips" in the table to just "tips"? In English it definitely helps with the alignment and such since the word Tips matches the size of the pdf icon so much better.

![table](https://cloud.githubusercontent.com/assets/4051174/13308410/3a5f1bda-db30-11e5-8dcc-03b2a9e9913e.PNG)

[2016-02-25 03:00] mattpen commented on #324
| Is there a way to enforce a maximum heading size the way we do i18n in sims? So that if the heading goes beyond a certain width the font size shrinks down? That would likely be more aesthetically pleasing than titles overlapping.

Agreed that long term this is probably a better solution, but this would take some time to implement as this style doesn't exist with an HTML/CSS solution.  It would r

[2016-02-25 05:44] mattpen commented on #301
@ariel-phet - The New Sims header is back on phet-dev.  Anything else to change?

[2016-02-25 05:46] mattpen commented on #324
@ariel-phet I widened the "All sims in" column and changed the String for teacher tips.  This is published on phet-dev.  Thoughts?

[2016-02-25 05:53] ariel-phet commented on #324
Looks good to me in English.

Is there a way to "reset" the word to "tips" so in other languages we don't get this sort of thing happening?

![tips](https://cloud.githubusercontent.com/assets/4051174/13311175/6bd1ee40-db49-11e5-9790-1861aa417d3b.PNG)

[2016-02-25 05:54] ariel-phet commented on #324
basically so translators are forced to restranslate that word?

[2016-02-25 05:55] ariel-phet commented on #301
Nope, I think this is good to go!

[2016-02-25 14:15] mattpen commented on #324
Yes, I can change the key for the string so that it doesn't have any translations.

[2016-02-25 14:46] ariel-phet commented on #324
OK, lets change the key for "teacher tips" and also for "all the sim in" so they become just "tips" and "all"

[2016-02-25 17:54] mattpen commented on #324
@ariel-phet - I reset the keys for the "All sims in" and "Teacher Tips" strings, so they should now be one word in all languages.  This change was pushed to phet-dev.

[2016-02-25 23:02] jessegreenberg opened #392 "Add download button back for Balloons and Static Electricity"
Balloons and Static Electricity 1.1.0 has been deployed, and the download button should be added back.  It was removed since the download file on 1.0.0 was broken.  I am unfamiliar with the website, would you mind helping with this @mattpen?

[2016-02-26 03:11] ariel-phet commented on #324
@mattpen I think this change is good to go!

[2016-02-26 03:18] ariel-phet commented on #324
Hmm, actually one thing (sorry...) I see in the mockups above the font was smaller and the letters all lowercases. I like them all uppercase, it seems aesthetically a good choice, but could we try it with the font down by 1 pt size to save a little room?

[2016-02-26 04:04] mattpen commented on #324
@ariel-phet - The mockups in this issue are from before we completed the table standardization in #347.  The font is now controlled in the one place across all the tables on the website.  Should I (1) add an exception for this table or (2) change the font size on tables site wide?  If we choose (1) this table may ignore site-wide changes later or and if we choose (2) the change would require a lit

[2016-02-26 05:07] ariel-phet commented on #324
No, go ahead and deploy as is, we can revisit sometime if we are seeing a major problem, but everything appears to be OK in different locales and the current font size works well in terms of legibility and such.

[2016-02-26 18:26] mattpen commented on #324
OK, thanks.  I'm planning to deploy tonight.

[2016-02-26 18:55] mattpen commented on #392
@jessegreenberg - I readded the link on phet-dev.  Can you please test and reassign to me afterwards?

[2016-02-26 19:12] jessegreenberg commented on #392
Thanks @mattpen, the download for balloons-and-static-electricity is working on phet-dev.  But it looks like balloons-and-static-electricity is missing from the list of HTML5 sims on phet-dev.

[2016-02-26 19:36] mattpen commented on #392
@jessegreenberg - The entire HTML5 category page is missing because I just synced the DB with figaro, this is related to another change that will be deployed tonight.  BASE will not show up on the New Sims page because of its publication date, but once I re-add the HTML5 category it will appear there.

[2016-02-26 19:45] jessegreenberg commented on #392
I see, thanks for clarifying @mattpen!

[2016-02-27 03:34] ariel-phet commented on #355
reassigning to @mattpen

[2016-02-27 05:57] mattpen opened #393 "Translate the Website link is being hidden in non-english locales"
Currently, if you view the website in any non-english locale, the link to "Translate the website" does not appear.  This doesn't seem intuitive to me, should we display this link in all locales?

Example - link is missing in bottom-left:

![image](https://cloud.githubusercontent.com/assets/11747676/13371153/273af3c8-dcdc-11e5-9666-8cb3d5fed8c3.png)
![image](https://cloud.githubusercontent.com/asse

[2016-02-27 06:12] ariel-phet commented on #393
Yes, we should display in all locales.

The obvious use case is if someone uses the website in a non-english locale and thinks "hey I would like to help translate the site!"

[2016-02-29 03:53] mattpen commented on #392
This was deployed to figaro tonight.

[2016-02-29 03:53] #392 closed

[2016-02-29 03:53] mattpen commented on #388
This was deployed to figaro tonight.

[2016-02-29 03:53] #388 closed

[2016-02-29 03:54] mattpen commented on #383
This was deployed to figaro tonight.

[2016-02-29 03:54] #383 closed

[2016-02-29 03:55] mattpen commented on #382
This was deployed to figaro tonight.

[2016-02-29 03:55] #382 closed

[2016-02-29 03:55] mattpen commented on #372
This was deployed to figaro tonight.

[2016-02-29 03:55] #372 closed

[2016-02-29 03:55] mattpen commented on #357
This was deployed to figaro tonight.

[2016-02-29 03:55] #357 closed

[2016-02-29 03:55] mattpen commented on #346
This was deployed to figaro tonight.

[2016-02-29 03:55] #346 closed

[2016-02-29 03:56] mattpen commented on #324
This was deployed to figaro tonight.

[2016-02-29 03:56] #324 closed

[2016-02-29 03:56] mattpen commented on #301
This was deployed to figaro tonight.

[2016-02-29 03:57] mattpen commented on #341
The remaining tomcat log on figaro was stopped tonight.

[2016-02-29 03:57] #341 closed

[2016-02-29 18:32] pixelzoom commented on #301
I was stumbled across the "NEW!" label for the first time when I went to http://phet.colorado.edu/en/simulations/category/html, where I was surprise to see sims that are 2.5+ years old marked as new.  Apparently the newest 30 sims are labeled as "NEW!" and added to the "New Sims" page http://phet.colorado.edu/en/simulations/category/new.  Since PhET rarely publishes more than 10 new sims per year,

[2016-02-29 18:37] ariel-phet commented on #301
@pixelzoom yes, this is what was decided, that the 30 "newest" would be our new sims. I think we can always bump that number down, but for the moment, we still wanted the bulk of our HTML5 sims highlighted on that page (since it has been only since the summer since the new sims page was our HTML5 sims).

In the past "new" sims were decided completely ad hoc, basically people would just say "hey th

[2016-02-29 18:37] #301 closed

[2016-02-29 18:37] pixelzoom commented on #301
Imo, the problem here is that you're using a quota, where N sims are always marked as "NEW!".  Newest is a temporal quality - a time (eg, first published in the past N days) would make more sense, and be more useful to the end user.

[2016-02-29 18:41] ariel-phet commented on #301
@pixelzoom we will take that into consideration when we do the next iteration of the website design, a that point, "new" will be a filter and this page as such might no longer exist. However, "new probably makes sense to have "new for 2015" or such...many end users only visit the site once or twice per year, so I think we will likely consider new as in new in the last academic year.

[2016-02-29 20:54] ariel-phet commented on #161
@mattpen something is a bit messed up with the parentheses in a RTL language.

Notice correct for the chosen language, but funky for most others.

![dropdown](https://cloud.githubusercontent.com/assets/4051174/13408589/e79afb2a-deeb-11e5-912d-e474589578d2.PNG)

[2016-03-01 02:43] mattpen opened #394 "Punctuation in RTL untranslated string"
Currently on the website, if you view a page in an RTL language trailing punctuation is adjusted to the left side of a sentence.  This occurs whether or not a string is translated, and this causes an odd appearance for untranslated strings.  This issue is to investigate whether we can and should change this behavior so that punctuation is adjusted only for translated strings.

@ariel-phet or @oliv

[2016-03-01 02:44] mattpen commented on #161
@ariel-phet - I think this problem is occurring site-wide - #394

[2016-03-01 02:44] mattpen commented on #394
Example:
![image](https://cloud.githubusercontent.com/assets/11747676/13416041/e1346b32-df1c-11e5-875d-7550e7a131b5.png)

[2016-03-01 02:52] jonathanolson commented on #394
You'd probably need to wrap every translated string in a span element, with dir="ltr" or dir="rtl". Right now we do this once at the page level (and I think once more in translation previews).

I'll be available to help/consult with this.

[2016-03-01 03:34] ariel-phet commented on #394
assigning to @arouinfar to ask her husband to comment (he is bilingual and speaks Farsi)

[2016-03-01 07:14] arouinfar commented on #394
@ariel-phet, I ran this past Mo and he commented that the strings like those in @mattpen's screenshot are hard to interpret with the punctuation to the left of the sentence (even as an native RTL-speaker). He also expressed difficulty in reading right-aligned LTR text.

It would be great if @mattpen can adjust the punctuation so only translated strings are affected. I also wonder if it's possible

[2016-03-02 03:56] mattpen commented on #297
@jonathanolson

Yes, Aaron implemented this.

This was the only query parameter that had not been implemented by Aaron.  I implemented a query parameter by project id, as in the current structure the project is basically a wrapper for the simulation and contains information which is probably useful, type for example.

It was making upwards of 27,000 queries and was taking 38 minutes to complete in

[2016-03-02 05:09] jonathanolson commented on #297
Lots of our code only knows "it's an HTML sim called molarity", and doesn't know about its project ID. How would that code query the API to get data for that sim?

Sounds great! Let me know if there are things I can help with.

[2016-03-02 05:50] mattpen commented on #297
@jonathanolson

As the project is wrapping the simulation, this seems difficult with the current structure.  Does the project name always contain what the sim thinks it's name is, or are there exceptions?

If so, I could change the query from `project.id = :id` to ```project.name like '%:name%' ```

[2016-03-02 06:33] mattpen commented on #297
If a request is received for a specific sim, should we limit the contents of category, keyword, and alignment to only the objects relevant to the sim?

[2016-03-02 15:22] mattpen commented on #356
@oliver-phet - The # of website translations is available in the statistics page and ar_SA is now updatable on the admin page.  @jonathanolson and I fixed it last Friday. Can this be closed?

[2016-03-02 16:37] oliver-phet commented on #356
Yep, this looks good. Closing.

[2016-03-02 16:37] #356 closed

[2016-03-02 16:40] jonathanolson commented on #297
Project and sim names can look totally different, and I wouldn't try substring comparisons. We would want to filter simulations by their name, e.g.:

- http://phet.colorado.edu/metadata/v1/simulations?format=json&type=html&simulation=molarity would just show the entry for HTML Molarity. The category/keyword/alignment entries shouldn't include extras not used by the simulation data returned.
http:/

[2016-03-02 22:32] oliver-phet commented on #379
Assigning to @kathy-phet to verify these fields look good:

**New fields in user profile** (users will be prompted to complete):
- Twitter handle? [optional]
- Zip-code (US only) [required]
- Secondary email (with confirm/unconfirmed button) [optional]
- Birth month and year [optional

Additional New fields in **Tell us about your classroom environment...**
- What devices does your school use? Che

[2016-03-03 05:58] mattpen commented on #297
I implemented the query by simulation name, as well as cleaned up some of the other queries.  The full request is now down to ~1500 queries served by tomcat in about 4 seconds.  I removed the "pretty printing" from the response which reduced the size from 6.2MB to 4.7MB.  The original view is still available with the query parameter `debug`, but I assume we'll want to disable this if/when it is de

[2016-03-03 16:42] mattpen commented on #393
This was deployed to phet-dev.  I checked a handful of locales and it appears to be working normally.  I'll publish it on figaro with the next deploy.

[2016-03-03 17:47] jonathanolson commented on #297
Assigned for code review.

[2016-03-04 17:46] mattpen commented on #390
@ariel-phet - All of the text links appear to be black instead of the normal blue link color.  Should they change color on hover?  What about after being visited?

[2016-03-04 18:40] mattpen commented on #390
Also, will there be a translation credits line for non-english locales? (As in phet.colorado.edu/de)
![image](https://cloud.githubusercontent.com/assets/11747676/13536553/c795faae-e1fd-11e5-95b4-b790d50844ff.png)

[2016-03-04 19:19] ariel-phet commented on #390
Yes, we should have that translation credit line, plan to put it below the locale drop down.

[2016-03-05 17:37] ariel-phet opened #395 "HTML5 translation credits "by locale" should be in alphabetical order"
@mattpen currently if you go to http://phet.colorado.edu/en/for-translators/translation-credits/by-locale the list of locales is not alphabetical. That seems odd (for instance Albanian is near the bottom).

Not a high priority, but I imagine this is an easy fix.

[2016-03-05 17:39] ariel-phet opened #396 "Why is Oliver showing up as credited for an Albanian translation?"
@oliver-phet it seems you are being credited for the Albanian translation of Acid Base Solutions

![capture](https://cloud.githubusercontent.com/assets/4051174/13549229/90d3e7bc-e2be-11e5-9124-834aa3bb9e1f.PNG)

Any insight as to why that might be?

[2016-03-07 15:09] oliver-phet commented on #396
I think this was a test submission that was supposed to go to phet-dev - is there a way for us to easily delete this translation? @jbphet @mattpen

[2016-03-07 15:50] jbphet commented on #396
@mattpen and I can work together during core hours today to get this removed.

[2016-03-07 16:02] mattpen commented on #395
It looks like the current sort is alphabetical by locale code (Albanian is "sq").  I should be able to get this done before we start working on ox as its an easy fix.

[2016-03-07 16:23] oliver-phet opened #397 "Translations of 'About' section are not being published."
The es_PE translator notified us that the 'About' section is not showing translated strings even when all of the section's strings have been translated. See:

http://phet.colorado.edu/es_PE/about

[2016-03-07 16:34] mattpen commented on #390
@ariel-phet - Two more questions.

1. All of the text links appear to be black instead of the normal blue link color. Should they change color on hover? What about after being visited?

2. How should the translation select box be translated?  Should all languages (a) always be translated into their own locale (e.g. in /en/  English, Espanol, Deutsch...) , or (b) be translated into the locale being

[2016-03-07 18:49] jbphet commented on #396
I just looked at the translated file in babel and the translated version of the sim, and it looks fairly legit, meaning that there are a lot of translated words that don't look like random entries.  I'm therefore not sure that this was really a "test submission" as @oliver-phet says above.  @oliver-phet - are you sure that we should just delete this?

[2016-03-07 18:59] jbphet commented on #396
After a little more examination, the user ID in the translated Albanian file does indeed match @oliver-phet's.  This is kind of mysterious.  Was this done with Google translate or something?  Or supplied to us and then submitted by @oliver-phet?  I'd like to make sure that we understand what's going on before just deleting this.

[2016-03-07 19:45] ariel-phet commented on #390
@mattpen

1. Let's just do change color and get underlined on hover for the moment. No change after being visited (this follows the convention in footers on sites like Amazon)

2. (a) seems correct. That is in essence the way the site works now and it seems correct. If you visit the main site and are looking for say the "french" translation, it makes most sense to see the name of your language cor

[2016-03-07 20:31] oliver-phet commented on #396
I was testing an HTML5 translation of a sim that already has a Java translation - it pulled the strings in from the Java sim.

[2016-03-07 21:08] oliver-phet commented on #396
@ariel-phet Assigning this back to you. @jbphet and I discussed and this was just a resubmission of an Albanian Java translation and most of the strings are correct. @jbphet wondered if we could just leave it?

[2016-03-07 22:49] ariel-phet commented on #396
@oliver-phet I am fine leaving it, but can credit be given to the original translator in that case?

[2016-03-07 22:52] oliver-phet commented on #396
That would be a question for @jbphet. I have the original translator's information, but I'm not sure if we have a procedure for inserting/rebuilding the translation with that info. @jbphet can you comment?

[2016-03-07 22:54] jbphet commented on #396
If he has a user ID we could probably just modify the strings file(s) in babel, rebuild, and work with the web site guys to republish the same version.

[2016-03-07 22:56] oliver-phet commented on #396
The translator does have a user ID. I'll send an email with that info.

[2016-03-08 15:21] mattpen commented on #397
@oliver-phet - Is the translator able to reach the About section of the tranlsate utility?  It looks like he's translated nearly everything except the About page:

![image](https://cloud.githubusercontent.com/assets/11747676/13605831/acdf7b5c-e506-11e5-8b20-088f30284e3a.png)

I can't even get to the translate page for About, I'm getting an error.

```Mixed Content: The page at 'https://phet.colora

[2016-03-08 15:52] mattpen commented on #397
Also, most of the strings on this page are not using the translatable versions, but are just plain text.  I'm assuming that is not by design?

[2016-03-08 16:11] oliver-phet commented on #397
I would assume the translator was able to reach the About section since most of the strings are translated.

I don't know what you mean here by translatable versions. Do you mean the website isn't using the translated string when displaying the About page in another locale?

[2016-03-08 16:32] mattpen commented on #397
@oliver-phet - The main About page is basically not translatable, whenever the last update was made it was implemented with plain text instead of translatable strings.  Do you know if this was a design choice?

[2016-03-08 16:37] oliver-phet commented on #397
I don't remember that being the design choice. I know that the team page was not to be translated. @ariel-phet Do you know why the 'About' section of the site is not translatable?

[2016-03-08 16:45] ariel-phet commented on #397
There is no reason for the "About" section to not be translatable -- it is pretty rare we do not make something translatable (such as licensing).

[2016-03-08 20:00] jbphet commented on #396
I manually updated the file in babel with the correct ID for the Albanian translator and have pulled it on Figaro.  I'm not sure where the web site gets the translation credit information, but I don't think it's directly from the published simulations because I examined the source code of a sim and didn't see the translator ID in there.  The website is probably pulling the data from another table

[2016-03-08 21:04] mattpen commented on #396
I updated the user_localized_simulation_mapping so that the website is now showing the correct value.  Closing.

![image](https://cloud.githubusercontent.com/assets/11747676/13616317/a62e1cac-e536-11e5-8645-4ee24c79b57e.png)

[2016-03-08 21:04] #396 closed

[2016-03-09 04:13] mattpen commented on #397
@oliver-phet - The translatable About page has been published on phet-dev.  I can publish this on figaro on the next deploy.  Does everything look ok now?

[2016-03-09 04:33] mattpen commented on #395
The fix has been published to phet-dev.  The Albanian translation hasn't been synced yet, but Chinese(Traditional) and Spanish(Peru) are now in the alphabetically correct places.

@ariel-phet - If this looks ok I can publish to figaro in the next deploy.

[2016-03-09 05:07] ariel-phet commented on #395
Looks good!

[2016-03-09 05:28] mattpen commented on #390
@ariel-phet - I think the majority of the requirements specified above have been implemented and published to phet-dev.  The only thing that I could find that is missing is the updated artwork for the sponsors.  Do you have any comments or additional requirements at this time?

[2016-03-09 07:21] ariel-phet commented on #390
@mattpen a few minor tweaks at this point:

1. When I open on chrome at a wide aspect ratio the left side of the footer cuts off (see screenshot below)

2. I think the icons in the footer need to be increased in size (facebook, twitter etc) The "Youtube" one is a bit hard to read. Maybe lets try increasing those by about 20% (that might also require some more vertical negative space below them onc

[2016-03-09 07:24] ariel-phet commented on #390
Perhaps try the icons on the sim page in grayscale so as not to be so stark

![capture](https://cloud.githubusercontent.com/assets/4051174/13628194/43a834e4-e58d-11e5-9e14-fb30eb887594.PNG)

[2016-03-09 07:29] ariel-phet commented on #390
Actually now that I see that...

Here is what I am going to recommend for those icons:

1. Change the order so facebook and twitter are first and second respectively (keeping the circles)
2. Have facebook and twitter in their normal colors
3. do the other 4 icons in black and withe (but with the circles)

Lets see how that looks

[2016-03-09 07:30] ariel-phet commented on #390
TED talks uses that style

![capture](https://cloud.githubusercontent.com/assets/4051174/13628286/294671a0-e58e-11e5-9004-e6330ef20f1f.PNG)

[2016-03-09 14:50] oliver-phet commented on #397
I'm looking on phet-dev, but none of the sections on the About page are translated, so it doesn't appear to be fixed?

[2016-03-09 16:24] mattpen commented on #397
@oliver-phet - I deployed a different branch after posting this, sorry.  I'll put it up on phet-dev later today.

[2016-03-09 19:13] mattpen commented on #390
@ariel-phet - I can use the existing artwork for Facebook and Twitter and use FA icons for Pinterest, StumbleUpon, and Reddit.  YouTube provides a black icon in 48px that I can use.

Its worth noting that Pinterest and StumbleUpon appear to be particular about the use of color of their icons.
+ https://business.pinterest.com/en/brand-guidelines
+ http://www.stumbleupon.com/press/stumbleupon-image-

[2016-03-09 19:37] ariel-phet commented on #390
Yeah....true but a google image search of "pinterest black white icon" makes me think they are not crazy picky.

Can you put Pinterest in color above youtube and lets see what that would look like.

[2016-03-09 19:42] mattpen commented on #390
How does this look?  (Aside from some minor differences in size and horizontal alignment)

![image](https://cloud.githubusercontent.com/assets/11747676/13648080/329928e0-e5f4-11e5-9257-82571a61097c.png)

[2016-03-09 19:44] ariel-phet commented on #390
I think that looks pretty good.

I think for consistency lets next try making the black white icons use the color of the download and embed buttons.

[2016-03-09 20:21] amanda-phet commented on #390
Something you may want to consider with respect to different icons (order, color, etc.)... some of these share a link to the sim page and others just bring you to the respective phet page. Not sure if we care or not, though! In the future I imagine we'll want all of these icons to do some sort of sharing action that is specific to the sim.

Sent from Outlook Mobile<https://aka.ms/blhgte>

On Wed,

[2016-03-09 20:26] mattpen commented on #397
@oliver-phet - It should be back up now.

[2016-03-09 21:14] oliver-phet commented on #397
@mattpen I'm still seeing quite a few untranslated strings. See this: http://phet-dev.colorado.edu/es_PE/about

It seems like some of the strings on that page aren't able to be translated. Translation es_PE #971 has almost all of the strings translated, but there is a lot of English still showing up on that page?

[2016-03-09 21:25] mattpen commented on #397
@oliver-phet  Translation #971 has 2 out-of-date and 39 untranslated strings for the About page on phet-dev. Are you looking at the translation on figaro?  The only two that should be translated are the first paragraph and the main video header. The rest are new and aren't available to translators on figaro yet.  I could sub in some Google translate strings (on phet-dev only) if you want to see ho

[2016-03-09 21:29] oliver-phet commented on #397
Ah, understood. In that case this is OK to push!

[2016-03-10 02:24] mattpen commented on #390
@ariel-phet - Fixes for 1, 2, and 3 from your [previous comment](https://github.com/phetsims/website/issues/390#issuecomment-194149564) have been published to phet-dev.  Is there anything else to be improved for now?

[2016-03-10 06:29] ariel-phet commented on #390
@mattpen -- apologies this may take a few iterations...a few more tweaks:

1. For the icons can we have a hover behavior (so youtube, stumble upon, reddit have their respective hover colors?)

2. The "donate" button on the sim pages now feels very clashy in that orange. Can we try making it the same color scheme as the download and embed buttons?

3. And then lets try the bottom three icons on the

[2016-03-10 16:49] jonathanolson opened #398 "Figaro scheduled reboot"
[code]

There are some things that will need to be restarted (varnish up/down scripts).

Assigned for dev meeting to identify if there are any other things we'll need to handle (hopefully 11pm won't be a problem for the installer builds?)

[2016-03-10 17:17] jonathanolson commented on #25
@ariel-phet, should I review how our metadata is working?

[2016-03-10 18:27] ariel-phet opened #399 "New Videos and Video Labels for the Front Page"
At status meeting 3/10/2016 it was discussed that perhaps our scrolling video player should label each video by category ie

Physics, Chemistry, Math, Biology, Earth Science

And clicking on the video brings you to that category

The idea would be to better highlight the range of subjects we cover.

[2016-03-10 19:23] mattpen commented on #394
This was discussed informally at dev meeting on 3/10.  There are a few possible solutions but they will take upwards of 100 hours to implement.

This issue is fixed when the strings are translated, so deferring priority for now.

[2016-03-10 19:26] ariel-phet commented on #399
@phet-steele you and I should game plan this a bit

[2016-03-10 21:33] oliver-phet opened #400 "Make the Dutch translation #94 hidden and #1694 published."
@mattpen and @jonathanolson Can we please make translation #1694 the currently published Dutch translation (and make #94 hidden)?

[2016-03-11 04:33] samreid opened #401 "Have we registered phet.colorado.edu with the Google Search Console?"
While I was testing the robots.txt for phet-io.colorado.edu I was sent this email from Google:

![image](https://cloud.githubusercontent.com/assets/679486/13693362/b0158444-e707-11e5-8769-4ab47668ee99.png)

I'm wondering if we have done that for phet.colorado.edu, or if we should.

@ariel-phet and @mattpen can you take a look and make a recommendation?

[2016-03-11 05:48] jonathanolson opened #402 "How to handle buggy translations"
It looks like https://github.com/phetsims/perennial/issues/11 has now triggered failures in the website, and it's worth investigation to see what the state of the DB is.

I ran into this when trying to create a copy of a translation. It LOOKS like it did create a copy, but failed out when it tried to add me as a translator (or a synchronization had that part fail). Not sure exactly what happened.

[2016-03-11 05:49] jonathanolson commented on #400
Done.

[2016-03-11 05:49] #400 closed

[2016-03-11 06:27] kathy-phet commented on #398
Let's put up the notification on the website in about 7 days. OK?

[2016-03-11 06:35] ariel-phet commented on #398
@kathy-phet this is a very minimal downtime and we discussed at the developer meeting, downtime notification is not needed.

[2016-03-11 14:46] kdessau-PhET opened #403 "Add in New Bronze Sponsor De Agostini Scuola"
Need to add a new sponsor ($3K) to the Bronze sponsorship
The URL is
http://deascuola.it/

![dea_logo](https://cloud.githubusercontent.com/assets/10424210/13705229/1bb0b00c-e75d-11e5-97c8-9133b95e8a43.png)

[2016-03-11 16:14] ariel-phet commented on #403
@mattpen marking this medium priority since it should be quick and easy

[2016-03-11 16:16] ariel-phet commented on #25
@jonathanolson this seems like a question for @kathy-phet, marking for next status meeting. As far as I know everything is smooth for the moment.

[2016-03-13 05:16] mattpen commented on #393
Published to figaro.

[2016-03-13 05:16] #393 closed

[2016-03-13 05:16] mattpen commented on #395
This was published to figaro tonight.

[2016-03-13 05:16] #395 closed

[2016-03-13 05:18] mattpen commented on #397
@oliver-phet - This was deployed to figaro tonight.  Can you check with the es_PE translator and make sure that he is able to edit this page now?

[2016-03-14 14:57] mattpen commented on #403
@kdessau-PhET Should this also be added to the rotating sponsors on the home page and sim pages?

[2016-03-14 15:54] oliver-phet commented on #397
Translator contacted. Will re-open if needed.

[2016-03-14 16:17] kdessau-PhET commented on #403
@mattpen Yes. Please also add this to the rotating Featured Sponsor slot weighted as a Bronze sponsorship. Thanks.

[2016-03-14 20:24] phet-steele opened #404 "Font awesome css directory"
Discovered with consequences reported in https://github.com/phetsims/installer-builder/issues/12. The the reference for font awesome that the website uses is "/font-awesome-4.4.0/css/font-awesome.min.css" which is different than the reference the site uses here: "/css/phet-v49-min.css". This is causing any font awesome icons to be filtered out of the installer since it is not included in the css d

[2016-03-14 20:49] mattpen commented on #404
@phet-steele There is more to that directory than just a CSS file, so it doesn't seem like it belongs in the CSS directory.  Why wouldn't the entire Font awesome directory be included in the installer? I think if you move the CSS over we're still going to be missing the Font files.

[2016-03-14 21:44] phet-steele commented on #404
tagging @jbphet

[2016-03-15 16:56] jbphet commented on #404
The installer builder is explicitly told which directories to package up into the installers, and the font-awesome directory isn't currently on the list, but can be added.  Since it was a CSS file that was missing, I wanted to check to make sure that there was some good reason that it wasn't in the same directory with the rest of the CSS files.  @mattpen - you said, "There is more to that director

[2016-03-15 17:15] mattpen commented on #404
There are 4 sub-directories with configuration files that are needed for the font-awesome tags to work.  This is a third party package and I'm not familiar with the inner structure or what the effects of changing the directory for the css file would be.  The files can be seen [here](https://github.com/phetsims/website/tree/master/root/font-awesome-4.4.0)  It's not very large - total size of the di

[2016-03-15 17:42] jbphet commented on #404
Okay, I'll look into adding the directory to the rip.

[2016-03-15 20:14] jbphet commented on #404
I've added the directory to those that are packaged into the installer, this should be verified during the next installer test.  Assigning to @phet-steele.

[2016-03-16 03:00] mattpen commented on #401
phet.colorado.edu is registered and setup in the search console.  You can access the dashboard by using the phetadmin@gmail account.

I browsed through the various analytics.  The biggest issue appears to be a lack of mobile support.

@samreid - Anything else to do here for now?

[2016-03-16 03:17] mattpen opened #405 "Password issue"
Moved to phetsims/special-ops#20

[2016-03-16 07:56] samreid commented on #401
Sounds good, thanks!

[2016-03-16 07:56] #401 closed

[2016-03-16 16:01] mattpen commented on #390
Additional requirements discussed via skype with @ariel-phet:

- [x] Index panel table links should underline on hover.
- [x] The footer panel navigation links should highlight in link-blue on hover.
- [x] Use #f0f0f0 for the highlight background
- [x] The phetlogo and copyright should be in black
- [ ] The higlight background should be slightly shorter after the new images are added
- [ ] Replace

[2016-03-16 16:47] mattpen commented on #390
@ariel-phet - a few questions:

- Should the Sidebar navigation links turn blue and highlight on hover?
- The horizontal rule on the sim pages is still orange, should this change to blue or grey?

[2016-03-16 17:06] ariel-phet commented on #390
@mattpen

- Yes, lets try blue and highlight on hover for now
- Lets try black and thinner for the rule (more like the footer rule)

[2016-03-16 18:57] mattpen commented on #390
@ariel-phet - The changes should be live on phet-dev now.

[2016-03-16 21:36] oliver-phet commented on #358
@kathy-phet said this looks good. @mattpen Can we move ahead with making this live on the site so that if a user has a "bad" email they are redirected to the 'update' page Amanda mocked up above?

We would like to get this integrated soon so that when we map our database contacts to salesforce, we are able to send as many correct contact records as possible.

[2016-03-16 23:05] #397 closed

[2016-03-17 03:42] mattpen opened #406 "Sims in "By Grade Level" should be sorted alphabetically by title"

[2016-03-17 16:32] mattpen opened #407 "Problem with Social Media link alignment on Tech Award page"
The social media links on this page are aligned on top of the video.  They should probably be adjusted to the right a bit.  This could be fixed as part of #390.

@ariel-phet - please comment on the priority.

![image](https://cloud.githubusercontent.com/assets/11747676/13853189/4092e692-ec2b-11e5-96a2-7788699f24cd.png)

[2016-03-17 17:21] ariel-phet commented on #25
Office of Ed tech has a central server with LRMI compliant metadata and we need a way to get our resources up to data.

There might be a way for the Learning Registry to pull this data, but we might need to set up some service for this to happen.

Priority after server switch, after PhET-iO website, after LTI compliance...

Goal might be end of summer.

[2016-03-17 17:26] ariel-phet commented on #407
Looks close on phet-dev, but appears like the video just needs to move down a tad.

seems easy to address with the other changes

![capture](https://cloud.githubusercontent.com/assets/4051174/13854835/0ab2b680-ec33-11e5-8c5c-9cd52ac9f4cd.PNG)

[2016-03-17 19:11] jbphet opened #408 "remove old versions of HTML5 translations"
The installer builder is currently running into problems with the size of the installers it generates due to the fact that all historic versions of simulations and their translations are currently being retained on figaro (our main server).  Issue: https://github.com/phetsims/installer-builder/issues/10.  This was discussed during the 3/17/2016 developer meeting and we decided that we should remov

[2016-03-17 19:38] kathy-phet commented on #408
I realize these are archived on spot in the full directory, but for security - since this subset of sims are our actual published versions - can we archive these under a "published" subdirectory on spot.

[2016-03-17 20:42] ariel-phet commented on #408
@kathy-phet was not clear this was only HTML5 sims, disregard comment above

[2016-03-18 02:30] ariel-phet commented on #405
@mattpen This seems like it would be good to fix in the nearish future. Tagging medium priority

[2016-03-18 15:23] mattpen commented on #407
@ariel-phet

Does this look OK?

![image](https://cloud.githubusercontent.com/assets/11747676/13882445/09fcc376-eceb-11e5-97ac-fac654eab464.png)

[2016-03-18 16:39] mattpen commented on #403
@kdessau-PhET - This is now live on phet-dev.  I'll publish it on the main site on the next deploy.

[2016-03-18 16:49] ariel-phet commented on #407
@mattpen yes, for now...the about and awards and such section could use a layout overhaul, but this certainly looks fine for now.

[2016-03-18 19:31] amyh-phet commented on #390
New table format and contents.

![table_front_page-01](https://cloud.githubusercontent.com/assets/13650180/13889629/389ded5a-ed0d-11e5-915f-7f835e1e2ae1.png)

Text for table:
Founded in 2002 by Nobel Laureate Carl Wieman, the PhET Interactive Simulations project at the University of Colorado Boulder provides over 130 free interactive math and science simulations.  PhET sims are based on extensive

[2016-03-19 00:58] mattpen commented on #161
This has been published on phet-dev and appears to be working.  I'll deploy it to figaro next week.

[2016-03-19 03:01] ariel-phet commented on #399
Here is what I am thinking:

1. Physics: use ESPB after it is redeployed with energy representations opened (probably just the bar graph is fine)

2. Chemistry: Use concentration, shaking in some particles adjust faucet and evaporation slider

3. Math: Show finishing a cool challenge on the game of Area Builder

4. Biology: Use Neuron showing stimulating the neuron (options checked, but

5. Earth

[2016-03-19 18:08] mattpen commented on #406
@ariel-phet - I toggled the sort alphabetically function on the Admin > Categories > (Grade Level) pages.  The actual order that shows up on the page is cached in varnish, so this may not show up immediately.  As this is not an urgent fix I don't recommend restarting varnish to test.  The High School and University pages are now in a-z order, the Elementary and Middle pages should be soon.

[2016-03-19 18:08] #406 closed

[2016-03-21 15:25] phet-steele commented on #399
@ariel-phet but what? And only five videos? We have 7 currently on the site. I think we could sneak in another Physics video (we have plenty) like WoaS or M&L. Unless there's some reason I'm not thinking of to not double up on a category?
I do like the choices you have, though.

[2016-03-21 15:34] phet-steele commented on #404
The awesome font awesome fonts are there! (3/20 build)

[2016-03-21 15:34] #404 closed

[2016-03-21 15:35] ariel-phet commented on #399
@phet-steele

- edited Neuron above, thanks for reminding me to finish my thought!
- I think 5 is all we need, since the will now be representing categories, most people will probably not hang on the home page very long, so I think one representative sim for each category is fine.

[2016-03-21 16:15] phet-steele commented on #399
Well then I guess I shall wait for ESPB and UP to be redeployed.

[2016-03-21 16:39] ariel-phet commented on #399
@phet-steele - it might be good for you to make a few of the vids, so we can test them out on phet-dev. You might recall that we tried putting a new video up (hooke's law) and had some issues.

[2016-03-21 17:02] phet-steele commented on #399
@ariel-phet certainly. I recall a few exchanged words with this where we said gifs are okay?

[2016-03-21 18:14] ariel-phet commented on #399
gifs might be nice if we can make them nice high resolution

[2016-03-21 18:38] mattpen commented on #390
@ariel-phet - All changes that were discussed have been published on phet-dev.  Any more tweaks before I deploy to figaro?

[2016-03-21 19:00] ariel-phet commented on #390
@mattpen I believe you and I just skyped amount my final polish suggestion. All is looking really good, and a very nice improvement. Go ahead and deploy after that one front page paragraph tweak is incoroprated

[2016-03-22 05:31] mattpen commented on #390
The new footer was deployed to figaro tonight.  Closing.

[2016-03-22 05:31] #390 closed

[2016-03-22 05:32] mattpen commented on #403
@kdessau-PhET - Dea Scuola has been added to the sponsor page and roating feature on the main site.

[2016-03-22 05:32] #403 closed

[2016-03-22 05:33] mattpen commented on #161
The temporary fix was deployed to figaro tonight.  Permanent fix will be addressed as part of #394.

[2016-03-22 05:33] #161 closed

[2016-03-22 05:33] mattpen commented on #407
Deployed to figaro tonight with the footer. Closing.

[2016-03-22 05:33] #407 closed

[2016-03-22 22:47] phet-steele opened #409 "Chinese Simplified & Traditional headers share the same link"
Hey @mattpen, came across this with dumb luck. The locale headers on the HTML5 Translation Credit page for "Chinese (Simplified)" and "Chinese (Traditional)" both use the same href="#zh-header". Because of this, only the "Chinese (Simplified)" header can be expanded. Clicking "Chinese (Traditional)" only affects the expansion of "Chinese (Simplified)".
Auxiliary note: every header has a style attr

[2016-03-22 22:50] phet-steele commented on #409
Page I'm talking about: http://phet.colorado.edu/en/for-translators/translation-credits/by-locale

[2016-03-22 23:59] ariel-phet opened #410 "Add HTML5 sim translation credits on "For Translators" page"
@mattpen, on the For Translators page we should probably have a link to the HTML5 Translation Credits.

Perhaps right under where it says

Add a line break and then have a link that says "HTML5 simulation translation credits" that links to http://phet.colorado.edu/en/for-translators/translation-credits

Otherwise this link is only reachable from the sims themselves, and it seem like one should be

[2016-03-23 00:00] ariel-phet commented on #410
Marking medium priority, only because this should be a very minor and easy change.

[2016-03-23 18:57] mattpen commented on #410
@ariel-phet - I've deployed the change to phet-dev.  If it looks ok I'll stage it for deployment to figaro.

[2016-03-23 19:00] mattpen commented on #409
@phet-steele - The headers now use the full locale instead of just the country code.  This may have potentially broken links to translation-credits#zh.  Can you check it out and let me know if there is anything else to fix here?

[2016-03-23 19:01] mattpen commented on #409
The fix is up on phet-dev now

[2016-03-23 19:15] mattpen commented on #142
@oliver-phet - Is this issue still occurring?  Do you need me to look at it anytime soon?

[2016-03-23 20:42] phet-steele commented on #409
@mattpen where would I run into a potentially broken link? I can't think of a URL ending with "translation-credits#zh", do you mean "translation-credits/by-locale#zh-header"? What you've fixed looks great, thanks!

[2016-03-23 20:46] ariel-phet commented on #410
Yes, looks good!

[2016-03-23 20:47] phet-steele commented on #142
@mattpen yea this still occurs; I don't mind it (I'm responsible for translating these days). I have my workaround of just waiting to see when they appear on the site, but it would be a nice enhancement. Personally I do not have a "need" for you to look into it.

[2016-03-23 21:03] mattpen commented on #409
Yes, that's correct. If someone linked directly to https://phet.colorado.edu/en/for-translators/translation-credits/by-locale#zh-header it wouldn't scroll to the correct spot on the page.  It doesn't seem like that big of a deal as you get to the credits page anyway, so I'll deploy as is.

[2016-03-28 17:11] kathy-phet opened #411 "Add NewSchools logo to Platinum Level Contributors ($100k+) and rotation"
Matt - Can you add NewSchools logo to the platinum level contributors.

Order for platinum should be:
- Hewlett
- NSF
- Moore
- NewSchools
- O'Donnell
- CU
- JILA
- King Saud (2 logos)
- Kavli
- Carl and Sarah

Thanks!

[2016-03-29 20:59] mattpen commented on #411
@kathy-phet - I've deployed the requested changes to phet-dev and I'll publish them to figaro on the next deploy.

[2016-03-30 19:36] amyh-phet opened #412 "Accessibility page modifications for main website"
Reorder side bar navigation:

Simulations
Teaching Resources
Research
Accessibility
Donate

[2016-03-30 19:42] amyh-phet commented on #412
Main page - video
Prototyes
Documentation

Deadline: updated by April 8.  Video finished by April 11.

[2016-03-30 19:46] amyh-phet commented on #412
Need to shorten link to main accessibility page:

phet.colorado.edu/accessibility   should redirect to phet.colorado.edu/en/accessibility.

Redirect for phet.colorado.edu/en/about/accessibility  to phet.colorado.edu/en/accessibility.

[2016-03-31 05:58] mattpen commented on #358
@oliver-phet - I deployed this to phet-dev tonight.  I'm going to do some testing, but this should be ready for the next deploy, hopefully before the switch to ox.

[2016-03-31 13:57] ariel-phet commented on #410
@mattpen ping on this issue?

[2016-03-31 14:32] mattpen commented on #410
I was delaying the deploy because there weren't any high-priority fixes, but I can get this done before 5pm tomorrow.

[2016-04-01 23:31] jonathanolson commented on #398
Everything looks ok, I've started up the other check scripts.

[2016-04-01 23:31] #398 closed

[2016-04-05 05:47] emily-phet commented on #412
Just providing an update: The majority of the new web page content has been sent to Amy R, and she's begun creating mockups. Should be ready to hand off to a software developer EOD April 5th, or on April 6th.

[2016-04-05 05:58] ariel-phet commented on #410
Hey @mattpen looks like this was not deployed yet?

[2016-04-05 17:36] jessegreenberg commented on #336
This is being handled along with other updates in #412, closing.

[2016-04-05 17:36] #336 closed

[2016-04-05 18:10] ariel-phet opened #413 "Removing blog for server switchover"
Currently our blog requires wordpress and is going to complicate the server switch over. In addition, the blog is mainly a repeat of posts we have on facebook, and get negligible viewing or engagement. It seems the prudent course of action would be to remove the blog for now, and in the future come up with a plan to make the blog more robust and meaningful for our web presence.

[2016-04-05 18:14] kathy-phet commented on #413
Sounds OK to me - but certainly retain copy of the blog entries and history so that we can leverage that going forward as needed. @kdessau-PhET, work for you?

[2016-04-05 18:17] kdessau-PhET commented on #413
sure. will it be going back up or are we removing and just having FB, Twitter, etc..

On Apr 5, 2016, at 12:14 PM, kathy-phet <notifications@github.com<mailto:notifications@github.com>> wrote:

Sounds OK to me - but certainly retain copy of the blog entries and history so that we can leverage that going forward as needed. @kdessau-PhET<https://github.com/kdessau-PhET>, work for you?

—
You are rec

[2016-04-05 18:20] ariel-phet commented on #413
I think the plan would be to just have FB, Twitter, etc for the moment

And then in the future when a few other things are settled revamping the blog and coming up with a communication plan to get more engagement (Kate has a bunch of ideas around this), and my guess is it might be a great place in the future to talk about PhET-iO/accessibility stuff in more depth.

[2016-04-05 18:23] kdessau-PhET commented on #413
Sounds fine to me. I also have just downloaded the backup of the blog:

[2016-04-05 18:24] kdessau-PhET commented on #413
Where do you want the backup?

[2016-04-05 18:36] ariel-phet opened #414 "Alt text for images on our website"
As we continue to improve the accessibility of our website we should do a review of images on our site and seeing about adding (quality) alt text to all of them.

@mattpen is there an easy way to generate a list off all images on the website that need alt text?

Currently labeling as low priority since we have several pressing projects (iO website, server switch etc), but I think this would be a g

[2016-04-05 18:40] ariel-phet commented on #414
As a note, I think the ideal would be if we had a simple interface for adding alt-text, so that it would not have to flow through the web developer (much like we can update the team page or such). Again, a longer term goal, but noting here.

[2016-04-05 18:41] ariel-phet commented on #413
We will discuss at status meeting (I think your backup can just be on google drive or such for the moment @kdessau-PhET)

[2016-04-05 18:52] oliver-phet commented on #243
@mattpen If you have time, could you look into this? I seem to be the only one that gets this behavior, but it would be problematic if this happened to users.

[2016-04-05 18:52] mattpen commented on #410
I had to delay this because of the server switch-over for the outage last weekend. I'll deploy it early next week.

[2016-04-05 19:54] mattpen commented on #243
@oliver-phet - does this happen when you logon from any computer, or just your own?  Can you try logging on from a separate computer and let me know if it happens?  I've never seen this behavior and can't recreate it to try to troubleshoot it.

[2016-04-05 19:56] oliver-phet commented on #243
Ah I should have tested that earlier. I just logged in without issue on another Mac. Any ideas on what could be happening on my machine?

[2016-04-05 20:00] mattpen commented on #243
@oliver-phet - It's hard to tell. I would start with clearing cookies and cache for phet.colorado.edu.  It would probably be easiest to call and share your screen over Skype.

[2016-04-05 20:24] oliver-phet commented on #243
After a little investigation, it looks like it has something to do with my password program. Closing this for now and I'll try to figure it out on my own!

[2016-04-05 20:24] #243 closed

[2016-04-05 22:12] jbphet opened #415 "support for multi-language installer seems to have gone away"
About four years ago, @jonathanolson and I worked together to make it possible to create versions of the installers that include translated versions of the web site.  Information about the implementation of the feature can be found here: https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/3331 (you'll need a PhET Unfuddle account).  The web site used information in the user agent field to

[2016-04-05 22:28] jbphet commented on #415
When this feature was originally implemented, the intent was to be able to support installers with multiple languages, for example, English, Spanish, and Arabic.  We haven't had such a request for a while, so if it is easier to support ripping for a particular single locale, that would be acceptable.  For instance, it may work to build the installer using a starting point of, say, ```http://phet.c

[2016-04-06 03:46] mattpen commented on #415
Marking this as priority 3 for now, but I plan to work on it as soon as the phet-io and accessibility pages are complete.

[2016-04-06 16:32] kathy-phet opened #416 "Clean up and prep the phet database for import into Salesforce"
- [ ] Make unique fields for first name, last name, and first plus last where first plus last is the full original name for those with original accounts and the concatenated for those with new accounts. Take original full names and deduce first and last name from that field.

- [ ] Clean up "Description" field - see below

(I will keep adding to-dos here as they come up.)

[2016-04-06 16:36] kathy-phet commented on #416
PhET's "Description" field currently has the unique values below. Remove all of the http:// values entirely. How did they get there anyway?

I am a student interested in using PhET in the future
Teacher using PhET
I am a teacher interested in using PhET in the future
I am just interested in physics
I am a student who uses PhET
I am a teacher who uses PhET in my classes
Other
EXPERIENCED_USER
OCCAS

[2016-04-06 16:46] kathy-phet commented on #416
For old profiles, use PhET's Description text to populate the following fields.

IF Description is:
Teacher using PhET
I am a teacher interested in using PhET in the future
I am a teacher who uses PhET in my classes
THEN
change new profile "teacher" to "t" in database

IF Description is:
I am a student interested in using PhET in the future
I am a student who uses PhET
THEN
change new profile "stu

[2016-04-06 20:50] kathy-phet commented on #416
Clean up country field. Lots of bad characters here ... not sure if it is the export or the database itself.

for all varients of United States replace with USA
US --> USA
us --> USA
United States --> USA
usa --> USA
United States --> USA
united states --> USA
United States of Americal --> USA

Here are all the unique values in this country column (in my spreadsheet). Compare with allowed values (

[2016-04-06 21:23] kathy-phet commented on #416
If "USA" then check the "State" field. Here are all unique values under for US phet users.

First fix all of the obvious values to match the current drop down field ... e.g. Alabama. After this, then remove "state" entries for users who are USA that are not within our current drop down options for USA entries.

Ad Dawhah
Adjumani
AL
Alabama
Alagoas
Alaska
Amazonas
Andaman and Nicobar Islands
ar
Ar

[2016-04-06 21:36] kathy-phet commented on #416
By "fix", it could mean remove other entries that are not in our current drop down menu. These should all be old style profiles.

[2016-04-06 21:41] kathy-phet commented on #416
For "City" column, clean up some by deleting non-sense entries, if possible. e.g. in excel I see many entries that are all numeric. And I see other non-sense entries.

[2016-04-07 04:53] mattpen opened #417 "New Video for New Sims and HTML5 Sims pages"
URL:  https://www.youtube.com/watch?v=zsTFNkVnbOY&feature=youtu.be

New Text:

Also add the donate button from the sim page.

[2016-04-07 05:29] mattpen commented on #417
@ariel-phet - This is up on phet-dev now.  Any comments?

[2016-04-07 16:29] mattpen commented on #417
@ariel-phet - The pixel polishes from last night have been published on phet-dev.

[2016-04-07 17:06] jonathanolson commented on #416
Tagged myself for the issue (wasn't mentioned/assigned earlier, so I didn't see the updates here until now).

[2016-04-07 19:10] emily-phet commented on #412
Here's the latest version of the Technical Implementation documentation - this has the four pieces of text that correspond to the four links on the new accessibility Technical Implementation page.
http://www.colorado.edu/physics/phet/dev/accessibility/accessibility-challenges.html

[2016-04-07 19:53] jonathanolson commented on #416
Old code wasn't validating, so malicious bots could submit a non-preset value.

[2016-04-07 20:01] jbphet commented on #415
We discussed this in the 4/7/2016 developer meeting and decided to revisit in two weeks, since the web developers have a ton of other stuff on their plate right now, and we don't have any hard commitments on delivering alternate-language installers.  Unassigning for now, will reassign then.

[2016-04-07 20:05] arouinfar commented on #412
@mattpen here are the mockups, text, and design graphic for the Accessibility pages.

[accessibility_page_v4.pdf](https://github.com/phetsims/website/files/209109/accessibility_page_v4.pdf)
[accessibility_page_text.docx](https://github.com/phetsims/website/files/209106/accessibility_page_text.docx)
[accessibility_design.png](https://cloud.githubusercontent.com/assets/8419308/14364920/52819274-fcc8

[2016-04-07 20:44] jonathanolson commented on #416
@mattpen, website has 'Romania' incorrectly spelled as 'Romainia'? I didn't see a source for the country/state data in CountryStateDropdownPanel, do you know where it came from?

[2016-04-07 20:51] jonathanolson commented on #416
Also curious how that list updates, and about the entries. For instance, it includes "District of Columbia", but not other territories like "American Samoa" (found as I was looking to turn CO => Colorado, etc.)

[2016-04-07 22:33] jonathanolson commented on #416
Also "Czech Republic" recommended instead of "Czeck Republic".

[2016-04-07 22:35] jbphet opened #418 "balancing act should be updated in carousel"
The carousel that scrolls through animations of various sims on our home page includes the Balancing Act simulation.  The artwork for this sim has been updated, so the animation is now out of date.  It should probably be updated using a version of the sim that includes the new and improved artwork (v1.1.0 or later).

[2016-04-07 22:36] jbphet commented on #418
Assigning to @ariel-phet to prioritize and assign.

[2016-04-07 22:38] jonathanolson commented on #416
Missing Serbia (has it as a state of Yugoslavia?)

[2016-04-07 22:50] ariel-phet commented on #418
This issue is covered in #399 Closing

[2016-04-07 22:50] #418 closed

[2016-04-08 00:24] jonathanolson commented on #416
I'm going to exclude non-confirmed emails for now, but it would be good to confirm.

[2016-04-08 00:26] jonathanolson commented on #416
@kathy-phet, should I filter out profiles like user 257644?

[2016-04-08 01:25] ariel-phet commented on #417
@mattpen this is looking good to me. However, do not push just yet. I want to try to get a few things fixed on our donation page before we deploy.

[2016-04-08 05:51] kathy-phet commented on #416
Is their email for 257644 actually confirmed then!?

[2016-04-08 06:08] kathy-phet commented on #416
I reviewed with f***, and I think we should not import any of them regardless of whether email is confirmed or not.

[2016-04-08 16:09] mattpen commented on #416
@jonathanolson - It looks like Aaron and zepumph added the countries and states last spring, I don't know what their source was.  Presumably there is an publicly available dataset we could access programatically instead? Maintaining this list looks difficult.  [This source](http://data.okfn.org/data/core/un-locode) looks promising.

[2016-04-08 16:13] jonathanolson opened #419 "Buggy line in RegisterPanel"
[code]
should be
[code]

and has the following implications for our current data:
1. The teacher educator field (since this line was added) is filled with what the parent values should be, and I believe we've lost values about whether they are teacher educators.
2. We don't know whether people have updated their profiles before/after the "parent" field was added. Thus we can't distinguish whether

[2016-04-08 16:16] jonathanolson commented on #419
Looks like this was partially fixed (line 825) in https://github.com/phetsims/website/issues/382, but missed the fix for line 718.

[2016-04-08 16:22] jonathanolson commented on #419
Timeline from my impression:

July 15th, 2015: Commit (buggy) to add parent field made, noted will deploy soon (https://github.com/phetsims/website/issues/249 and https://github.com/phetsims/website/commit/d19f05556e5bf6b8ff55d54e36d20236afeb7c50)
July 20th, 2015: Note about checking it live on Figaro, so has been deployed by now.
February 28th, 2016: Partial-fix commit applied to Figaro.

So we m

[2016-04-08 18:35] phet-steele opened #420 "Edge users get no sign-in form"
While on our website in Edge, clicking "Sign-in" in the top right does nothing (on any page).

[2016-04-08 18:36] phet-steele commented on #420
Have a console error I think:
[code]

[2016-04-08 19:35] mattpen commented on #412
@arouinfar @emily-phet - Should the Technical Implementation page have the content from http://www.colorado.edu/physics/phet/dev/accessibility/accessibility-challenges.html or just link ot this page?

[2016-04-08 19:51] arouinfar commented on #412
@mattpen I believe the Technical Implementation page should just link to the content, but I think it would be good for @emily-phet to confirm.

[2016-04-08 19:51] emily-phet commented on #412
@mattpen - each of the four links on the "Technical Implementation" page corresponds to one of the four headings on the documents page you're asking about. Each link should go to the corresponding content on the page.

[2016-04-08 20:18] mattpen commented on #412
Thanks. Two more questions for @arouinfar and @emily-phet

1. Is there a link yet for the video on the main page?
2. Do we have an image yet for the "Awesome picture of
students using accessible sims!"

[2016-04-08 20:24] kathy-phet commented on #419
JO - Would there have been more than one way to get "teacher educator" marked as t? e.g. by checking either teacher educator or parent ... and if so, wouldn't some of those teacher educators be truly teacher educators and not parents?

[2016-04-08 20:29] emily-phet commented on #412
@mattpen - The link for the video should be ready by end of day Monday.
Regarding "Awesome pic of students using accessible sims" - I'm emailing with @arouinfar about this now. Will get back to you soon.

[2016-04-08 20:55] arouinfar commented on #412
Here's an image you can use @mattpen. The photo was cropped, so it won't match the aspect ratio of the mockup. Please match the width of the mockup -- it's okay that this image will be a bit taller than what was mocked up.

[img_6008.jpg](https://cloud.githubusercontent.com/assets/8419308/14397267/a56b18f8-fd99-11e5-9b51-5cb26907a646.JPG)

[2016-04-08 21:05] mattpen commented on #412
@arouinfar, should the text wrap beneath the image, or should it be in a fixed width column as in the mock-up?

[2016-04-08 21:08] arouinfar commented on #412
Great question @mattpen! I'm leaning towards wrapping the text. What do you think @emily-phet?

![image](https://cloud.githubusercontent.com/assets/8419308/14397615/9b1248a2-fd9b-11e5-9317-3ec73cf0eda1.png)
![image](https://cloud.githubusercontent.com/assets/8419308/14397622/aa78e260-fd9b-11e5-9b41-dad177b888b2.png)

[2016-04-08 21:13] emily-phet commented on #412
@arouinfar - agree, I think the wrapped text looks best.

[2016-04-08 22:15] jonathanolson commented on #419
Before July 20th, 2015: Register / edit profile will correctly mark teacher educator as true when it is selected.

After July 20th, 2015: Register / edit profile will write whatever the user marked as "parent" (true/false) into the "teacher educator" field in the DB. Whatever they mark as "teacher educator" in the UI is completely ignored.

This means if a user created their profile before the bug

[2016-04-09 05:48] kathy-phet commented on #419
So if you changed all "teacher educator" to parent in the script for post 7/20 registration date.

Shouldn't all the remaining blanks for post 7/20/15 registrations be teacher educators?

[2016-04-09 06:56] jonathanolson commented on #419
Yes, seems the validation would make them enter at least one type. Thus if they have no other type, they SHOULD be a teacher educator.

Let me know if I should regenerate the spreadsheet with that assumption made (just for users with profileupdated = true).

[2016-04-11 18:59] mattpen commented on #412
@arouinfar @emily-phet - How much of the research page needs to be translatable?  Specifically there is a long list of citations, should these all be translatable?

[2016-04-11 19:04] ariel-phet commented on #412
@mattpen at least for the Tuesday deadline, remember, being translatable is not a concern. But for future, my instinct tells me that none of the citations should be translatable.

[2016-04-11 19:30] arouinfar commented on #412
@mattpen I agree with @ariel-phet when it comes to the citations -- I don't think they should be translatable.

[2016-04-11 20:40] mattpen commented on #412
@arouinfar @emily-phet @jessegreenberg - There are no anchor or id tags that I can find in the [ technical implementation document](http://www.colorado.edu/physics/phet/dev/accessibility/accessibility-documentation.html) in order to link to a section in the middle of it.

Is it difficult to edit that document?

[2016-04-11 20:59] mattpen commented on #412
I fixed the issue in the previous comment with @jessegreenberg.

[2016-04-11 20:59] mattpen commented on #412
Current status:  I almost have all of the content uploaded and running on my local machine.  I expect to be able to deploy it to figaro dev later tonight.

[2016-04-11 22:01] emily-phet commented on #412
@arouinfar @mattpen - I agree, the list of references shouldn't need to be translated. I'm happy to hear it's so far along, I'm looking forward to seeing it!
I'm working on getting an time for completion of the video that needs to be included. I'll let you know when I find out. I had requested that it be completed today, but I'm not 100% that will happen.

[2016-04-11 23:23] oliver-phet opened #421 "Should we continue to offer a newsletter-only subscription"
Currently we offer a newsletter-only subscription - are we planning to continue this? It might be helpful to encourage a full registration rather than newsletter-only.

[2016-04-11 23:26] oliver-phet commented on #421
<img width="903" alt="screen shot 2016-04-11 at 5 22 17 pm" src="https://cloud.githubusercontent.com/assets/5090275/14445489/91ac65ce-000a-11e6-8ebd-6309513d3b5b.png">

[2016-04-12 02:43] mattpen commented on #412
Additional question: should this content be linked from the front page somewhere, perhaps in the table?

[2016-04-12 02:57] ariel-phet commented on #412
@mattpen when this was discussed as a team @emily-phet mentioned that nothing needed to be linked from the front page yet. (but down the road that will be a goal to the best of my knowledge)

[2016-04-12 03:02] emily-phet commented on #412
@arouinfar - can you tackle the missing alt text? These should just be short, tweet-like descriptions. Here's a quick and simple guide if you've not made alt text before: https://www.phase2technology.com/blog/no-more-excuses-the-definitive-guide-to-the-alt-text-field/

[2016-04-12 03:05] emily-phet commented on #412
@mattpen - you can remove the link for the Super Seven presentation slides, and you're correct that there should be no link (yet) for Emily Randall's thesis. I'm working on poster links right now.

[2016-04-12 03:20] emily-phet commented on #412
@mattpen - Here are the links for the posters:
- Link for poster for Opportunity: Inclusive design for interactive simulations: https://drive.google.com/open?id=0B44Uycdx6JGdZm5ZYVdjeDhCMHM
- Link for poster for Expanding beyond visual: Multimodal interactive visualizations: https://drive.google.com/file/d/0B44Uycdx6JGdTDVBWDdONVdSZnc/view?usp=sharing
- Link for poster for Designing Accessible Int

[2016-04-12 03:43] mattpen commented on #412
@arouinfar @emily-phet @ariel-phet - The accessibility pages are now posted at https://phet-dev.colorado.edu/en/accessibility.  The latest changes to links have not been posted yet.  Please let me know if anything needs to be adjusted.

[2016-04-12 04:38] emily-phet commented on #412
@mattpen - It's great to see this live! Here are some edits:

General:
- [ ] Some of the links appear purple rather than blue (like they've already been clicked) when I haven't clicked them yet. Not sure if this is an issue or just something happening on my end.

Main Accessibility Page
- [ ] Remove "designed with their needs in mind" from first sentence of body text.
- [ ] Remove the last full se

[2016-04-12 05:16] mattpen commented on #412
@emily-phet

This is probably because they are in your browser history.  They will be purple if you've been to that page before, even if you didn't reach it from a link on the phet page.  Let me know if they are showing up as purple but you haven't been to the links.  I would imagine that most of them would be purple for you.

I'm work on the changes to text right now, it should be up on phet-dev

[2016-04-12 05:23] mattpen commented on #412
@emily-phet - does this look ok for the header?

![image](https://cloud.githubusercontent.com/assets/11747676/14450523/52283b4e-003c-11e6-96f4-69985745ce75.png)

[2016-04-12 05:51] emily-phet commented on #412
@mattpen - yes, this looks great. Thanks!

[2016-04-12 14:52] mattpen commented on #412
@emily-phet - The changes have been made to the [technical document](http://www.colorado.edu/physics/phet/dev/accessibility/accessibility-challenges.html) online.

[2016-04-12 15:32] jessegreenberg commented on #412
@mattpen here are links to the accessibility prototypes:

**BASE:** http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.2.0-accessible-instance.16/balloons-and-static-electricity_en.html

**CL:B** http://www.colorado.edu/physics/phet/dev/html/capacitor-lab-basics/1.0.0-accessible-instance.1/capacitor-lab-basics_en.html

**FAMB:** http://www.colorado.edu/physics/phet/dev

[2016-04-12 17:24] arouinfar commented on #412
It's looking good @mattpen! The text wrapping on the main page looks a bit strange to me, as there's only one line of text that goes under the image. Can you switch to a fixed column width?

![image](https://cloud.githubusercontent.com/assets/8419308/14469211/cac6ecbc-00a0-11e6-9f72-8f9bd3b35e9d.png)

@emily-phet I'm working on the alt-text now.

[2016-04-12 20:53] arouinfar commented on #412
@emily-phet what about this? I'm not entirely sure how to write alt-text for the video, but I took a stab at at.

 <b>Alt text for video</b>

PhET's goal is to support all students in learning math and science, including students with disabilities. This video highlights the work we are doing to make PhET simulations accessible, and includes demonstrations of simulations utilizing keyboard navigati

[2016-04-13 03:31] mattpen commented on #410
This was published to figaro today.

[2016-04-13 03:31] #410 closed

[2016-04-13 03:32] mattpen commented on #409
This was deployed to figaro tonight.

[2016-04-13 03:32] #409 closed

[2016-04-13 03:32] mattpen commented on #405
This fix was deployed to figaro tonight.

[2016-04-13 03:32] #405 closed

[2016-04-13 03:34] mattpen commented on #411
The new schools sponsor was deployed to figaro tonight,

[2016-04-13 03:34] #411 closed

[2016-04-13 04:09] emily-phet commented on #412
@arouinfar t - I'm assuming these are already implemented, but just wanted to let you know they look good to me! I think in general you want to keep them pretty concise, like a Tweet in length, but I think these hit the right content and though a little long aren't problematic in length.

[2016-04-13 15:41] jessegreenberg commented on #412
@mattpen do you still need this? It should be the same link as the FAMB keyboard navigation prototype.

Also, I notice that the link text for all of the prototypes is '1.2.0-accessible-instance.141'.  Is it possible to change this text to reflect the sim name or version number?

[2016-04-13 15:47] samreid opened #422 ""Balloons and Static Electricity" is listed as a Biology simulation"
"Balloons and Static Electricity" is listed as a Biology simulation.  The learning goals are described as:

* Static Electricity
* Electric Charges
* Electric Force

While I agree that biological systems do have charges, it seem a bit odd (buggy?) that Balloons and Static Electricity is listed at the top of the "Biology" simulations.  It could throw off Biology teachers.

Tagging @kathy-phet @jona

[2016-04-13 19:48] mattpen commented on #412
@jessegreenberg - Thanks, I'll make those adjustments tonight

[2016-04-13 21:21] jessegreenberg commented on #412
@mattpen here is a list of interaction instructions for each sim.  This is meant to be added with Keyboard Navigation prototypes.  I am not exactly sure where this is supposed to be on the page, or how it is supposed to be styled.  Perhaps it is already in the mockup or @arouinfar or @emily-phet have a design in mind.

Balloons and Static Electricity:
- Press 'H' anywhere to pull up a keyboard hel

[2016-04-13 22:12] arouinfar commented on #412
@mattpen I think it would look best if you insert these descriptions as a bulleted list beneath the header with the link (appropriately re-named) at the bottom.

[2016-04-14 04:09] mattpen commented on #331
Website translation links were replaced with a dropdown menu, closing

[2016-04-14 04:09] #331 closed

[2016-04-15 02:46] mattpen commented on #412
The additional descriptions and updated links are now live on the main site.  I believe the only item still remaining is to embed the video once we have a publishable version.

[2016-04-15 02:56] arouinfar commented on #412
Looks great @mattpen! One last thing-- I noticed that the Capacitor Lab: Basics link text within Auditory Descriptions also needs to be updated to 1.0.0-dev.14. The target is correct, but the text should be updated to match. This can probably wait until you push the video to the site.

[2016-04-15 19:21] kdessau-PhET opened #423 "Deactivate the CCK ask pop-up"
@mattpen we want to re-purpose the donation page for CCK and so we need to remove all instances of the CCK ask pop-up.

[2016-04-15 20:07] kathy-phet commented on #423
@mattpen - Please do not delete code, just comment out or otherwise deactivate the pop-up.

[2016-04-18 14:15] kdessau-PhET opened #424 "Add in New Bronze Sponsor for MyTrendyPhone"
@mattpen We have another Bronze donor that needs to be added on the Sponsor page and in the Featured Sponsor spot with weighting of 1

![mtpdk_logo](https://cloud.githubusercontent.com/assets/10424210/14607151/4383ced4-0535-11e6-8b0c-83af0dcc5366.png)

 MyTrendyPhone

 http://www.mytrendyphone.dk/shop/frontpage.html

[2016-04-18 15:39] emily-phet commented on #412
@arouinfar - the video is complete (I'll send you an invite to the completed version which can be downloaded. Can you caption this and set it up in Vimeo for @mattpen ?

[2016-04-18 16:04] arouinfar commented on #412
@emily-phet do you want this up on Vimeo or YouTube? I believe we are only hosting private videos that require login to access, like primers, on our Vimeo account.

I was able to find our Vimeo login information, but I believe our YouTube account is attached to phethelp or some other google account that only @oliver-phet has access to.

[2016-04-18 16:06] emily-phet commented on #412
@arouinfar - I don't have a preference as to where it's hosted. Captioning may be easier in YouTube (I don't know about captioning in Vimeo).

[2016-04-18 16:08] arouinfar commented on #412
I don't actually have any experience with uploading our videos to a hosting platform or captioning them. I believe it's relatively straight forward in YouTube, so I think I can figure it out.

[2016-04-18 16:12] emily-phet commented on #412
@arouinfar - Thanks! Do you know who has done this before? Perhaps @ariel-phet or @oliver-phet know it works in YouTube, or how to access our YouTube account.

[2016-04-18 16:19] kathy-phet commented on #412
Stephanie and perhaps Kathy D will know how to access the YouTube
    account.
    Kathy

    On 4/18/2016 10:12 AM, emily-phet
      wrote:

      @arouinfar - Thanks! Do you know who
        has done this before? Perhaps @ariel-phet
        or @oliver-phet
        know it works in YouTube, or how to access our YouTube account.
      —
        You are receiving this because you are subscribed to

[2016-04-18 16:27] amyh-phet commented on #412
@arouinfar   I send you an invitation to a document on drive for captioning in Vimeo if you decide to go that route.  Let me know if I can help at all with captioning.

[2016-04-18 16:40] mattpen commented on #412
@emily-phet @arouinfar - It looks like the YouTube videos are hosted with the phetadmin account.  I have access to upload the video to this account once it is finished.  Right now we are just using the Vimeo account for the Teacher Primers.

[2016-04-18 16:43] kathy-phet commented on #412
Stephanie can help you with uploading videos, etc on YouTube.

On Apr 18, 2016, at 9:19 AM, Kathy Perkins <perkinsk@colorado.edu<mailto:perkinsk@colorado.edu>> wrote:

Stephanie and perhaps Kathy D will know how to access the YouTube account.
Kathy

On 4/18/2016 10:12 AM, emily-phet wrote:

@arouinfar<https://github.com/arouinfar> - Thanks! Do you know who has done this before? Perhaps @ariel-phet

[2016-04-18 17:06] arouinfar commented on #412
Thanks @mattpen! I am now able to access the phetadmin account. We discussed this a little bit more over email, and I'll be taking care of uploading and captioning the video.

[2016-04-18 19:07] mattpen commented on #297
<h4>Summary of differences from initial specification</h4>

Not Implemented Yet:
- Varnish caching
- Simulation.relatedSimulationIds

Changed:
- URL: changed from /metadata/v1/simulations to /services/metadata-api
- Query parameter: "simulation=simName", changed to "name=simName"
- Option 1 was used ( nested projects > simulations > localizedSimulations rather than parallel )
- Project.simulationI

[2016-04-18 19:19] arouinfar commented on #412
@mattpen the video has been uploaded and captioned, and is now live on our YouTube channel at https://youtu.be/ITknNEVJfQw

[2016-04-18 20:52] mattpen commented on #417
Discussed with @ariel-phet in a Skype call.  This is now ok to publish.  It should be published on figaro tonight.

[2016-04-19 05:16] mattpen commented on #424
@kdessau-PhET - This was deployed to figaro tonight.

[2016-04-19 05:16] #424 closed

[2016-04-19 05:17] mattpen commented on #417
@ariel-phet @kathy-phet This was deployed to figaro tonight.

[2016-04-19 05:17] #417 closed

[2016-04-19 05:22] mattpen commented on #423
@kdessau-PhET @kathy-phet I disabled this functionality on figaro tonight.  I didn't delete any code so we can re-enable the popup at any time.

[2016-04-19 05:22] #423 closed

[2016-04-19 05:24] mattpen commented on #412
The video is now live on the main site, and I fixed the text for the CL:B Auditory Descriptions link.

Is there any thing else missing or that needs to be fixed?

[2016-04-19 05:30] mattpen commented on #297
@arnopoulos @jonathanolson - The metadata API is now available on the main site, so it should be up with near-100% reliability.  There were a few breaking changes made tonight that may affect the code for the phet-app.

1. The URL will now be: https://phet.colorado.edu/services/metadata/1.0/simulations?
2. The `name` parameter has been changed to the `simulation` parameter.
3. The structure of the

[2016-04-19 16:17] emily-phet opened #425 "New International Reference for Research Page"
Under the "Publications on PhET Simulations by Other Researchers" section:

Wickham, C. M., Girvan, C., & Tangney, B. Constructionism and microworlds as part of a 21st century learning activity to impact student engagement and confidence in physics. (2016, Feb.) Sipitakiat, A., & Tutiyaphuengprasert, N. (Eds.) _Proceedings of Constructionism 2016_. Paper presented at Constructionism 2016, Bangkok

[2016-04-19 16:20] emily-phet commented on #412
@mattpen - looks great to me...and the old accessibility page even redirects correctly!
One useful addition that hasn't been talked about before - being able to type "accessibility" into the PhET search bar and getting a link to the accessibility page(s). Is this possible?

[2016-04-19 16:38] mattpen commented on #412
It seems odd that the search bar is not already working, I'll take a look into it.

[2016-04-20 05:56] ariel-phet opened #426 "Adding meta tags for "twitter cards" to mutiple site pages"
I am curious how difficult it would be to add "twitter cards" to several of our prominent pages

https://dev.twitter.com/cards/types/summary-large-image

This would provide a much richer user experience as I continue to grow our twitter following (and would be nice for the "share this on twitter" button on sim pages for instance)

My thoughts were these cards would be especially nice on:
- all HTM

[2016-04-20 06:00] ariel-phet commented on #426
Ideally I would also really like to have a "player card" for our donation video

https://dev.twitter.com/cards/types/player

[2016-04-20 06:28] mattpen opened #427 "CSS minified file is in non-deterministic order"
In the WebsiteBuildCommand in the SVN repository, the minified css file is built by concatenating all the css files in the root/css directory.  The command to iterate over this directory does not return the files in deterministic order, which can cause conflicts with specificity between builds of the website on different platforms.  On the version currently checked out at mendeleev@phettest:~/webs

[2016-04-20 06:42] mattpen commented on #425
@emily-phet - This was added to the research page tonight.

[2016-04-20 06:42] #425 closed

[2016-04-20 15:28] mattpen opened #428 "Fix mixed content warnings on phet-new"
@jonathanolson said:

The first place I've found these warnings is on SimulationDisplayPanel, seems to be related to the StaticImage objects.

[2016-04-20 16:49] jonathanolson commented on #427
Not sure, we can work through it today when we're both around?

[2016-04-20 17:20] mattpen commented on #428
It looks like this could be the culprit for the mixed content errors in StaticImage:

[code]

[2016-04-20 17:40] mattpen commented on #413
I'm going to begin removing references in the branch for the new server

[2016-04-20 17:58] mattpen opened #429 "Video embed errors in chrome on phet-new New Sims page"
[code]

[2016-04-20 18:15] mattpen commented on #413
@ariel-phet - What should we replace the blog with on the footer panel?

[2016-04-20 18:16] ariel-phet commented on #413
Nothing for the moment....eventually (in a couple of months) we will put the "app store" icon there.

[2016-04-21 15:39] mattpen commented on #297
Requested changes from phet-app team:

Within the simulation object, categories and grade levels should be embedded directly in the simulation   as arrays.  Categories are currently stored as an array of reference ids.  Grade level is currently stored as a lowest/highest values and within the category ID .

Ostensibly the simulation object would be changed as follows:

[code]
@jonathanolson - Do y

[2016-04-21 17:45] mattpen commented on #297
Discussed at dev meeting on 4/21.

I can make the categories object more easily accessible by changing it from an array to an object accessed by id, as follows:

[code]

The grade level changes can be put off for now as its not a high priority.

I'll contact the phet-app team to follow up.

[2016-04-21 18:17] samreid commented on #426
@mattpen will work with @ariel-phet on this.

[2016-04-21 18:17] mattpen commented on #426
High priority cards:

1. Accessibility page
2. Single sim page (BAA or ESP)
3. Donation Video (player card)

[2016-04-22 05:45] mattpen commented on #297
The changes in categories object were implemented and published on figaro.

Here is the new structure:
[code]

This is to enable faster lookup for categories by id, i.e. `categories['categoryId']`

[2016-04-25 17:29] oliver-phet commented on #415
Our Chinese translator is now requesting having a zh_TW specific installer by "mid May" for the beta release of their Ezgo system.
@jbphet Do we think we'll have a way to build locale-specific installers by then?

[2016-04-26 15:11] jbphet commented on #415
@mattpen have started working on this, so yes, I think we will be able to deliver this by mid-May.  I'll bump the priority up a bit and make sure that we get it done.

[2016-04-26 15:14] jbphet commented on #415
@mattpen and I looked at this yesterday and concluded that the main web page will need to have hidden links to the translations requested by the installer (via the user agent) in order to allow the installer builder to include the translations.  @mattpen says that he can have this change deployed by Thursday, April 28th.  Assigning this issue to him, he can assign back once the changes are deploye

[2016-04-26 15:37] mattpen commented on #415
I plan on deploying the hidden links to figaro tonight.

[2016-04-27 04:43] mattpen commented on #415
@jbphet - The hidden links are now live on figaro.  Can you test the installer again and let me know if anything else needs to change on the website?

[2016-04-27 05:04] mattpen commented on #427
@jonathanolson pushed the changes to Unfuddle.  Closing.

[2016-04-27 05:04] #427 closed

[2016-04-27 05:17] mattpen commented on #413
@jonathanolson - I removed references to the blog from the wicket code.  Is there anything else to be done for this issue?

[2016-04-28 18:00] mattpen opened #430 "We should not be hosting videos on figaro or phet-server"
Remove any videos stored on our servers and remove "download video" links.  All videos should be hosted on YouTube or Vimeo.

[2016-04-29 17:19] phet-steele commented on #429
An error I get coupled with the above error:

[code]

[2016-04-29 19:21] phet-steele opened #431 "Legacy sims sorted into By Device"
@mattpen old legacy Java/Flash sims are sorted into **both** "By Device" categories. They are not visible on these web pages at first. If their corresponding HTML5 sim is removed from either category via the admin pages, then the legacy sims will appear in their stead. This causes old java sims to be listed as runnable on tablets and Chromebook.

Certainly no one would remove HTML5 sims from eithe

[2016-05-03 15:11] mattpen commented on #426
@ariel-phet - Here is a preview of how the card will look.  This is taken from a copy of the site hosted at locally at my house, we can't test these on phet-dev or phet-new because of the robots.txt configuration.  The image appears pretty blurry, twitter for some reason is converting the 600x400 image I'm providing to be more like 280x150, then blowing it up again.  They don't make it clear why.

[2016-05-03 16:01] jbphet opened #432 "installer rip is getting all website translations"
As part of the process of switching over from figaro to phet-server, I'm working to get the installer builder fully operational.  Yesterday I tried running a full rip-and-rebuild test, but the ripper ended up getting all of the translated versions of the website instead of just English.

[2016-05-03 16:02] jbphet commented on #432
@mattpen said:

[2016-05-03 16:03] jbphet commented on #432
Skype dialog that happened just prior to the creation of this issue:

[9:52:49 AM] John Blanco: The user agent used for the rip was httrack-web-offline-en, so I think the "aggressive caching" theory is looking likely.  I'm going to log an issue on this so that we can track it.
[9:53:44 AM] Matt Pennington: That's odd.  I browsed the website with the user-agent switcher last night and the locale li

[2016-05-03 16:28] jbphet commented on #432
On Skype, @mattpen said:

[2016-05-03 16:38] ariel-phet commented on #426
@mattpen I think that looks good as a start. Pretty low risk I think to do for all sim pages, and then I can do some test tweets.

[2016-05-03 17:11] mattpen commented on #426
OK, I can deploy it to figaro tonight.

[2016-05-03 20:11] mattpen commented on #430
@ariel-phet - I've removed the download links for any videos that are hosted on YouTube in the code.  I plan on deploying this to phet-server soon.  I'm not planning on trying to fix this on figaro before the switch as its not currently causing problems with performance.

Should we remove the videos from disk?  Or do you want to keep them there for now?

[2016-05-03 21:08] ariel-phet commented on #430
They are all up on youtube, I see no reason to keep them on disk

[2016-05-03 22:18] jbphet commented on #432
Looks fixed on the latest rip, leaving open and assigned to me so that I can continue checking, will close once the installer is fully operational on phet-server.

[2016-05-03 22:19] jbphet opened #433 "phet-server is not providing alternate "_all" jar to installer"
There is an alternate version of the JAR files for the Java sims that should be supplied to the installer when it is performing the rip.  This doesn't appear to be happening.  Java files in the most recent installer built on phet-server have the 'sandbox' setting for permissions, which is incorrect.

[2016-05-04 05:01] mattpen commented on #426
@ariel-phet - Twitter cards have been deployed to sim pages on figaro.  Should I aim for the donation video next?

[2016-05-04 18:08] kathy-phet opened #434 "Update PhET Usage"
As of end of April 2016, we have "delivered" = "online run plus downloads" over  363,305,259.

Let's update the front page to read, over 360 million.

Thanks! K

[2016-05-05 17:50] mattpen commented on #252
Discussed again at dev meeting on 5/5.  We will revisit the discussion of how to delete users and handle any detached activities or contributions after the new server goes live.

[2016-05-05 17:56] mattpen commented on #426
Discussed at dev meeting on 5/5.

- The player cards are not necessary because the sharing function on YouTube automatically creates one.
- @ariel-phet said that the sim summary cards are showing up as intended when actually added to a tweet.

[2016-05-05 18:51] oliver-phet commented on #421
@kathy-phet - this is a question for you. @mattpen mentioned that this subscription is currently not working on the new server (non-trivial fix) and it would be good to decide if this is behavior we will want in the future.

Another option could be to require users to sign-in to subscribe to the newsletter (or create an account).

[2016-05-06 15:59] mattpen commented on #426
@ariel-phet - The summary cards should be using the larger screenshot now.  Can you take a look and see if they are showing up as expected for you?  They might take a while to show up, if the cards are not showing up then try putting the url in the card validator first: https://cards-dev.twitter.com/validator.

I noticed an issue where if you share the URL using https the cards are not showing up.

[2016-05-06 16:09] ariel-phet commented on #426
Will check it out!

[2016-05-06 20:39] ariel-phet commented on #426
@mattpen there was a little funkiness, but as long as I do a tweet using the share on twitter button on a sim page first, all twitter cards for that page work seamlessly thereafter with just the URL. Nice screenshots appearing

See for example
https://twitter.com/PhETsims/status/728682565431746560

My next priorities (though not super high but would be nice) would be
- summary card for New Sims pa

[2016-05-09 16:45] mattpen opened #435 "Outage caused by deadlocks"
Tomcat went sick between 3:28am and 8:06am on May 9th.  Restarting tomcat restored service.

Newrelic APM reported the following errors:

May 9, '16 2:24 am	Deadlocked thread: ajp-apr-8009-exec-167	figaro.colorado.edu

[code]

[2016-05-09 16:46] mattpen commented on #435
@jonathanolson Discovered that removing the blocking call to Autocomplete.invalidate from SimulationCache.invalidate, which should eliminate the case of the deadlock.

I'll deploy this fix to figaro tonight.

[2016-05-09 17:28] mattpen commented on #434
@kathy-phet - I've updated the number and I'll make the change on figaro tonight.

[2016-05-09 18:47] phet-steele opened #436 "Content to omit from future installer builds"
@jbphet @mattpen Some things that may be a good idea to filter out of the installer at some point:

- The registration form (accessed via "Teachers Register Here" button, maybe also get rid of the entire button?)
- Offline Access page
- All the search result documents with the name searchXXXX.html (a few aren't html). You can't use the search bar anyway....

Not an exhaustive list for sure, but so

[2016-05-09 18:51] mattpen commented on #430
@ariel-phet @jbphet - I'm not entirely sure, but I'm guessing if we remove this link that this will remove the videos from the installer as well.  If the installer is run with network access, it will be able to embed the youtube videos, but if its offline the videos won't be available.  Should these videos be available on the installer?  If not, should we remove the youtube videos as well (when th

[2016-05-09 18:53] ariel-phet commented on #430
@mattpen I believe the installer already rejects videos from being ripped and included. tagging for dev meeting to verify

[2016-05-09 18:58] mattpen commented on #430
@phet-steele checked the installer this morning and it has both the youtube iframe and the "(download video)" link.

[2016-05-09 19:00] ariel-phet commented on #430
@mattpen yes, but I think if you try to run the installed version without an internet connection, neither of these will work. @jbphet and I looked at some point and it appeared that those links in the installer were not pointing to a local location.

[2016-05-09 19:03] phet-steele commented on #430
@mattpen running offline has no video and the link IS there (but doesn't link to anything).

![offlineteaching](https://cloud.githubusercontent.com/assets/5863899/15124668/69ac5470-15e6-11e6-82c8-088a1c75b550.PNG)

[2016-05-09 19:08] mattpen commented on #430
Do we want to either (a) setup the videos so they work with the installer or (b) remove the video section entirely on the installer?

[2016-05-09 19:11] ariel-phet commented on #430
The videos should most definitely NOT work on the installer when offline, they would bloat the installer, and these videos get very little viewership as is. As for removing entirely....it is nice to have the ability to have access if your run the installed site while online.

[2016-05-09 19:15] mattpen commented on #430
OK, thanks for the clarification.  I'll leave the embedded videos as-is and continue with removing the videos from the new server.

[2016-05-09 22:41] emily-phet opened #437 "Updates to Accessibility "Research and Design" Page"
Updates/corrections/additions to Publication List:

- New Reference for top of "Accessible Interactive PhET Simulations" list:
Taliesin L. Smith. Access, action, & agency: Inclusive design for the non-visual use of a highly interactive science simulation. Masters in Inclusive Design, Major Research Project. OCAD University, Toronto, Canada. In Press.

- Existing Reference:
Emily Randall. Making sc

[2016-05-10 02:23] ariel-phet commented on #437
@mattpen assigning to you at medium priority - seems like fairly quick changes/additions and we will be showing off our accessibility pages to many groups going forward

[2016-05-11 05:39] mattpen commented on #435
This has been deployed to figaro and the new server.  Closing.

[2016-05-11 05:39] #435 closed

[2016-05-11 05:42] mattpen commented on #434
This was deployed to figaro tonight.

[2016-05-11 05:42] #434 closed

[2016-05-11 05:50] mattpen commented on #437
@emily-phet - Should the text in brackets [] be copied as is, or are these instructions about the link?

[2016-05-11 13:35] emily-phet commented on #437
@mattpen - the info in brackets are instructions regarding the link. If there aren't any bracketed instructions, then please leave the link info as it currently is on the website. Thanks!

[2016-05-11 15:30] emily-phet commented on #437
@mattpen - one addition change:
- I noticed the link for the presentation slides for the 2016 presentation:
February 23, 2016 – Emily B. Moore. Increasing the accessibility of PhET Simulations: Challenges, progress, and potential.

Should be the link below:
http://www.colorado.edu/csl/sites/default/files/attached-files/2016_02_23_dber-share.pdf

Right now the link just takes you to the PhET main s

[2016-05-11 15:32] mattpen commented on #437
[link: 10.1145/2851581.2890385]
[link: 10.1021/acs.jchemed.5b00795]
[link: 10.1021/acs.jchemed.5b00795]

Should this text just be posted as is? I'm not sure what these items mean.

[2016-05-11 15:40] emily-phet commented on #437
@mattpen - Yes, that is confusing. For these, rather than having a link to the paper, add:
"DOI: 10.1145/2851581.2890385" to the end of each reference (with the DOI number being the corresponding 10.whatever from above). These are like pre-prints, so they don't quite have a permanent web location yet - but should be findable using the DOI number.

[2016-05-12 02:41] mattpen commented on #437
@emily-phet - The changes have been deployed to phet-dev.  Can you please take a look and let me know if this is how they should appear?  Thanks!

[2016-05-12 19:43] oliver-phet commented on #421
Discussed at status meeting 5/12: will "hide" this from the new server so only registered users will be able to subscribe to newsletter.

[2016-05-12 19:43] mattpen commented on #421
Discussed at status meeting on 5/12.  @kathy-phet and @ariel-phet said it is ok to remove the option to subscribe to the newsletter only for now.  It will be revisited when we discuss updates to the registration process.

[2016-05-13 21:48] emily-phet commented on #437
@mattpen - can you send a link?

[2016-05-16 16:02] jbphet opened #438 "Prepare for Chrome to block Flash by default"
According to this article, Chrome is going to block Flash by default starting somewhere around Q4 2016.

http://www.zdnet.com/article/googles-chrome-to-block-flash-this-year-except-for-10-top-websites/

We should probably be prepared for this, and have some information on our site about it.

[2016-05-16 18:22] phet-steele opened #439 "phet-server emails to phethelp during translation"
I've tried in the context of a translator creating a new translation, submitting a new translation, and a translation being updated. None of these events resulted in an email to phethelp. Additionally, creating/updating a translation failed to send an email to the collaborator.

For phetsims/tasks#584.

[2016-05-16 18:30] phet-steele commented on #439
Emails I expected to see, by subject line:

- PhET Website Translation #### created
- PhET Website Translation #### created based on ####
- PhET Website Translation #### submitted
- PhET Website Translation #### deleted

[2016-05-16 19:02] phet-steele opened #440 "request to collaborate email not being sent"
phet-server does not send an email to a collaborator when someone requests access to a website translation. The person trying to request access is stuck on this screen:
![request2](https://cloud.githubusercontent.com/assets/5863899/15300485/284d62d2-1b66-11e6-89d9-7a23649978c2.PNG)

and never reaches this screen:
![request](https://cloud.githubusercontent.com/assets/5863899/15300433/eabd8df2-1b65-

[2016-05-16 21:00] ariel-phet commented on #438
Marking for developer meeting. Lets come up with a list of some actions. Some thoughts

- Make a clear note in the help center (probably the earliest action item)
- Make a note in the "by device" chromebook category
- include in a newsletter email at some point?

[2016-05-16 21:28] phet-steele opened #441 "How do I translate the language name?"
@mattpen I've translated two strings I would expect to be the native word for a locale:

The "Common" string: language.name
The "Languages" string: language.names.cu

But both of these do not change the name of the language in the combo box. Am I missing a string? Church Slavic should be translated, but those strings are not working.
![nogluub](https://cloud.githubusercontent.com/assets/5863899/15

[2016-05-17 02:09] mattpen commented on #438
We could also display a message on the sim pages for flash sims, like we do for plate tectonics now.

[2016-05-17 02:16] mattpen commented on #441
@phet-steele - The language names are translated automatically by Java itself.  It looks like Church Slavic is not supported by the Java locale class - see full list of locales [here](http://www.oracle.com/technetwork/java/javase/javase7locales-334809.html).

As of now, there is no method or need to translate the language names, as all of the website supported locales are also supported by Java.

[2016-05-17 03:18] pixelzoom commented on #438
Not surprising, since even Adobe has been telling people to stop using Flash:
http://www.theverge.com/2015/12/1/9827778/stop-using-flash

[2016-05-17 14:57] emily-phet commented on #437
@mattpen - just checking in on this. Is it possible to send a link to the phet-dev updated site? I don't know how to access this otherwise. Thanks!

[2016-05-17 15:08] phet-steele commented on #437
@emily-phet :smiley: http://phet-dev.colorado.edu/en/accessibility :smiley:

[2016-05-17 15:10] emily-phet commented on #437
@phet-steele - thanks! I figured it was something simple...and it was even simpler than I thought.

[2016-05-17 15:12] phet-steele commented on #441
@mattpen so what you are telling me is that the long list of languages that can be chosen from on https://phet-new.colorado.edu/en/for-translators/website are not necessarily supported by Java? And yes, totally just a test case used for testing the new server.

[2016-05-17 15:26] emily-phet commented on #437
Thanks @mattpen - the changes you made look great. Here are a few additions that have come up since last week:

- The Emily Randall paper below now has a permanent link. Please replace the DOI number with the link: http://dl.acm.org/citation.cfm?id=2890385&CFID=786634772&CFTOKEN=31771063

Emily Randall. Making science simulations accessible for students with vision impairments. (2016) Proceedings

[2016-05-17 16:29] pixelzoom commented on #438
5/17/16 moved to Thursday 5/19/16 dev meeting, when @ariel-phet and @oliver-phet are around.

[2016-05-17 21:55] brroberts1231 opened #442 "Broken links on Research page"
I've found a few broken links and one pair of duplicate links, from poking around on phet-new for phetsims/tasks#584.

From the top of the page down:

- _Blending Implicit Scaffolding and Games in PhET Interactive simulations_, links to a 404 page. From what I can find, the article it refers to is on page 3 of this larger article: https://ccl.northwestern.edu/papers/2014/ICLS14_ScienceGames_publis

[2016-05-18 03:12] mattpen commented on #441
@phet-steele - That's how its currently setup. If we need to publish a translation in a locale that is not supported I can build a custom solution.

[2016-05-18 03:12] #441 closed

[2016-05-18 13:23] emily-phet commented on #437
@mattpen: can you add this one to the "Past Presentations" list?

May 4-8, 2016 - Taliesin L. Smith. Access, action, agency: Inclusive design for the non-visual use of a higher interactive simulation. OCAD University Graduate Exhibition (GradEx). Poster. [link: https://drive.google.com/file/d/0B44Uycdx6JGdNmVnbmFoOGJKTWs/view?usp=sharing]

[2016-05-18 14:57] jbphet commented on #415
I was recently able to build a set of installers that included Chinese and English versions of the web site.  The installers were tested here, then delivered to the user who requested them.  That user reports that the installers are working well.  I think our work here is done, closing.  Thanks @mattpen!

[2016-05-18 14:57] #415 closed

[2016-05-18 15:24] phet-steele commented on #399
@ariel-phet I'll do this eventually...have to find a high resolution screen to record on.

[2016-05-18 17:12] mattpen commented on #437
@emily-phet - All of the above changes are published at https://phet-dev.colorado.edu/en/accessibility/research

Does this look ok to publish on the main site?

Also, how often do you foresee needing to make changes to this page?  If its going to be relatively frequent we could setup an admin page so you can easily add/remove/edit entries.

[2016-05-19 03:55] ariel-phet commented on #399
@phet-steele I think within the next month would be good (so by mid June).

I believe there is a retina macbook or two....inquire with @oliver-phet

[2016-05-19 16:27] emily-phet commented on #437
@mattpen - Thanks!
I found one error that need correcting:

- The second listing under "Past Presentations" should have the title: "Access, action, agency: Inclusive design for the non-visual use of a highly interactive simulation" [right now it reads "high" instead of "higher"]

This page will need to be updating probably once every month or two. If it's pretty straightforward to set up an admin

[2016-05-19 16:54] jonathanolson opened #443 "Add "profile updated" field to PhetUser"
Exclude "sanitization". As discussed during status meeting. Set when they hit "Save", presumably null for users who haven't updated since this was added.

[2016-05-19 19:02] pixelzoom commented on #438
5/19/16 dev meeting notes:

Definitely add something to the Help Center.

There are 20 Flash sims that have not been ported.

Firefox currently blocks Flash by default (http://money.cnn.com/2015/07/14/technology/flash-firefox-facebook). Do we need similar Help Center support for Firefox?

[2016-05-19 19:07] pixelzoom commented on #438
This article details how Google plans to disable Flash:
http://www.wired.co.uk/news/archive/2016-05/16/google-chrome-adobe-flash-html5

• If HTML5 is offered by a website Chrome will automatically default to this
• If Flash Player is needed a user will be prompted
• When a user accepts the page will be refreshed and Flash will appear on any following visits to the domain

[2016-05-20 15:31] oliver-phet commented on #438
Added the following entry to Running Sims:

**What if my browser blocks Flash?**

Several internet browsers, including Google Chrome, will begin blocking Flash by default by the end of 2016. Flash will still be bundled with Chrome, but users will be prompted to accept the page. Once a page has been accepted, all pages that display Flash content at that domain (phet.colorado.edu) will be allowed.