[2014-09-30 18:07] orejolaphet opened #14 "Updating About PhET Team Page?"
Testing https://github.com/phetsims/tasks/issues/83
I am under the impression that this is known, but thought to make a note. This page is not up-to date.
http://phet-dev.colorado.edu/en/about/team

[2014-10-03 14:28] aaronsamuel137 opened #16 "Front page redesign"
Redesign the front page according to this mockup:

![phet website mockup4](https://cloud.githubusercontent.com/assets/3193912/4507101/8874706c-4b09-11e4-805b-13d9845d495e.png)

[2014-10-03 14:34] aaronsamuel137 opened #17 "Add pages for HTML5 sims"
With the release of Area Builder, there is now a need for HTML5 sims to get their own pages so that HTML sims without Java equivalents can be searched for, sorted, have content uploaded, etc.

[2014-10-04 02:19] ariel-phet opened #19 "How to Handle Sim Pages for HTML5 sims that have a "Legacy" Verision"
This issue is to track discussion of how to handle HTML5 sim pages where a "legacy" (flash/java) of the sim exists.

We want to start forefronting our HTML5 sims, but still allowing access to the older versions (and translations). However my personal feeling is that we want to push the HTML5 version pretty hard as they often incorporate much of our latest knowledge and research about sim design.

[2014-10-08 16:40] aaronsamuel137 opened #20 "Searching by category with html sims"
Working on adding the Area Builder page, I noticed the following when looking under the "Math" category:

![screen shot 2014-10-08 at 10 34 32 am](https://cloud.githubusercontent.com/assets/3193912/4562966/32348cce-4f09-11e4-934e-50c5098411af.png)

Clearly, the size used for the html thumbnails is quite different from the sizes used in the past.

This brings up other questions around how we want t

[2014-10-23 17:43] aaronsamuel137 opened #24 "Blog comments"
You should be able to post blog comments with a captcha instead of a wordpress account.

[2014-10-30 16:20] ariel-phet opened #25 "Metadata for HTML5 pages for Learning Repositories"
@jonathanolson lets work together (@ariel-phet) to get in touch with the learning repository people for changes we are going to make related to HTML5 sim pages

[2014-11-01 20:41] jonathanolson opened #26 "Troubleshooting item or page for enabling WebGL"
At least, enabling WebGL if possible. We need to link to instructions from Molecule Shapes if we have to fall back to Canvas (see https://github.com/phetsims/molecule-shapes/issues/4).

[2014-11-13 18:56] aaronsamuel137 opened #28 "'navigation' portion of website translation gives Internal Server Error"
Unfuddle ticket: #3661 User reported issue: cannot access 'navigation' portion of website translation

[2014-11-18 16:19] jonathanolson opened #29 "Simian sends weekly activity change notifications"
Only Figaro should send notification emails.

[2014-11-26 22:31] kathy-phet opened #35 "Add a "Research" Link under "About"?"
With this re-design, we lost a link to the Research page from the homepage.

My suggestion is to add a "Research" link under the "About" category on the homepage ... maybe between "What's New?" and "About PhET". No strong feelings about order here -- just that it should still be linked from the homepage somewhere.

So

@ariel-phet , @schasteen  - Thoughts?

[2014-11-26 22:35] ariel-phet opened #36 "Alignment of frontpage not conisisted with the rest of the PhET site"
@aaronsamuel137 the alignment of the front page is shifted slightly to the right compared to the rest of the site (this problem actually currently exists on the live site).

To easily reproduce, look at the PhET logo when you click the "Play with Sims" button, you will see the logo shift slightly left. If after that point you use any of the sidebar navigation the alignment of the banner remains co

[2014-12-01 16:32] jbphet opened #38 "Scrolling carousel on home page partially blanks out"
Not sure when I first noticed this, but it's been at least a few weeks.  The carousel that displays the scrolling sims is turning gray in places, is blocky, and changes as the animation changes.  Several screen shots below.

May be a known issue, but I didn't see anything obvious in the issue list.  If so, feel free to close.

I'm seeing it on Chrome 38, Win 7.

![website-carousel-issue](https://c

[2014-12-02 20:27] bryo5363 opened #39 "Videos do not play while cycling through carousel on Safari 6.1.6"
While scrolling through the carousel on Safari 6.1.6 (8537.78.2) w/ 10.8.5 the videos would not load. The initial video will play when refreshing the site but when cycling through, the videos will not play.

[2014-12-03 20:17] aaronsamuel137 opened #40 "Videos don't play automatically on iOS"
The carousel will appear to be just a carousel of images on iOS, unless the user actually clicks the buttons to scroll left or right, at which point the video will begin playback.

There is nothing we can do to fix this since it is a feature of iOS designed to save mobile data:

"In Safari on iOS (for all devices, including iPad), where the user may be on a cellular network and be charged per data

[2014-12-04 21:03] aaronsamuel137 opened #41 "Keyboard navigation on PhET webpage"
During 12/4 developer meet it was brought up that accessibility for the PhET webpage should be addressed. For now, @ariel-phet has asked that the new front-page be reviewed with accessibility concerns in mind. I'll do a pass over the code with this in mind and then assign to @jonathanolson for review.

A question for @ariel-phet first:

Do we care about the visible highlighting of links (i.e. the

[2014-12-04 23:31] schasteen opened #44 "Additions to Virtual Workshop page"
Some changes and additions Workshop pages.

A.   Virtual Workshop page; http://phet.colorado.edu/en/for-teachers/virtualWorkshop

1.  Add a subtitle:  K12 teacher workshop
Have all existing content appear below that.

2. Below that content, have a new subtitle:  College physics teacher workshop
Embed the YouTube video at https://www.youtube.com/watch?v=Aw1HT9hMqIw&index=2&list=PLx_woo78JX4myOgPUll

[2014-12-05 05:22] kathy-phet opened #45 "Internationalization of "Over 200 million simulations delivered""
I noticed that many of the translations include an older number since that depends on the translator updating it. Perhaps we should consider restructuring this string to include a variable for the "200" that we can update as we want? And then all the translations will stay in sync?

@jonathanolson , @aaronsamuel137 - Would that make sense?

[2014-12-05 19:26] jbphet opened #46 "Special code for sponsors on installer version of home page is broken"
The main page has a bit of JavaScript that is used to select and display an image from one of PhET's sponsors.  This code is modified a bit for the installed version in order to make the images paths correctly specified on the local file system.  It appears that this little bit of specialized code is currently broken because it refers to an image id (green-arrow-image) that doesn't exist.  It prob

[2014-12-09 16:35] jbphet opened #47 "New main web page, which is due to be released soon, has issues when used in conjunction with installer"
I tested a build of the installers using the prototype of the new main page as the root.  The rip process started with phet-dev.colorado.edu and proceeded from there.  For the most part, it all worked great, but if I click on the carousel on the locally installed version, the sim can't be found, and the URL looks funky.  Here is an example:

file:///C:/Program%20Files%20(x86)/PhET/index.htmlsimula

[2014-12-11 18:16] aaronsamuel137 opened #49 "Remove changes section from about news page"
Git rid of "Website and Simulation Updates" section under about news, as discussed in 12/11/14 dev meeting, as part of phasing out the changes.txt file.

[2014-12-11 18:58] oliver-phet opened #50 "Create page with WebGL enabling instructions"
Here is the Google doc link. It sounds like for now, we can just either embed this or turn it into text. (Translation not high-priority)
https://docs.google.com/document/d/1hHJqbvqiC608Xoz9qo8YH85GTsZIXEs2ubeEz9b3LJs/edit?usp=sharing

[2014-12-18 18:05] schasteen opened #53 "Add Facilitating Activities overview video"
Let me know if I should be posting things like this somewhere other than "issues" (is this a "task"?)

We have a new YouTube video ready, and need to make a new page to hold it.

At http://phet.colorado.edu/en/for-teachers/tipsForUsingPhet, we need a new subpage:
Facilitating PhET Activities for the K12 Classroom

Details:
- This should appear underneath the "Designing" video
- Add to the sidebar,

[2014-12-25 18:36] emily-phet opened #54 "Header Focus Color Change"
Can the outline be a light color (like white) for focus objects in the blue header area? For example, it’s hard to tell when the PhET logos are focused, and impossible to tell when the “search” button is focused (for me at least).

[2014-12-31 21:53] amanda-phet opened #55 "Stay Connected page needs some work"
We should redesign this page:
![screen shot 2014-12-31 at 2 52 55 pm](https://cloud.githubusercontent.com/assets/7852916/5590774/b9c11f38-90fc-11e4-88f6-74d60519cf48.png)

[2015-01-07 23:04] amanda-phet opened #56 "Jump to top link broken?"
I was just looking at the FAQs page on our website (http://phet.colorado.edu/en/faqs) and noticed that when you scroll down there is a jump back to the top. I tried the first few and none of them worked (http://phet.colorado.edu/en/faqs#faq_top).

Firefox 33.1.1
Mac 10.9.5

[2015-01-07 23:24] amanda-phet commented on #56
They don't seem to work in Chrome, either.

[2015-01-13 23:26] oliver-phet opened #57 "Homepage missing a few translatable strings"
A translator pointed out that a few strings aren't translatable on the home page right now.
![phet--frie-online-fysikk---kjemi---biologi---geofag--og-mattesimuleringer](https://cloud.githubusercontent.com/assets/5090275/5731468/f60cb4ae-9b40-11e4-831e-6550bd738900.png)

[2015-01-14 19:22] amanda-phet opened #58 ""find us" on facebook should be "like us""
The primary focus of a facebook page is "likes" so I think it would be more appropriate to have the phrase "like us" replace "find us" for all occurrences on the website, such as the hover text on the icon and the text in the website footer.

[2015-01-14 23:29] amanda-phet commented on #58
Let me clarify; the other social media icons use a verb that implies what we want the user to do once they visit the page ("follow us" on twitter, "pin us" on pinterest), so I thought it would be more consistent to similarly say "like us" on facebook.

I don't think it is a big deal either way, but it might be nice to be consistent. Perhaps the others could be changed to say "find us" as well?

@s

[2015-01-15 21:09] jonathanolson opened #59 "Add Floe "Show Display Preferences" widget for accessibility"
See http://www.floeproject.org/index.html for the example. If we can add it without any major changes, it would be nice to have it integrated soon before other design work.

[2015-01-20 20:33] schasteen commented on #58
I personally think it's fine as it is -- I like the "find us" on Facebook, because it makes it clearer that clicking that link will bring you to our Facebook page, rather than automatically "liking" us per se.  But that said, I also don't think it's a really big deal, because I do see Amanda's point that the other icons give such an action (e.g., "Follow us on Twitter" doesn't automatically Follow

[2015-01-20 20:37] kdessau-PhET commented on #58
I agree with your “find” us versus “like” us although I think the accepted term is “like” us.

As for the Pinterest. Share or maybe Follow us on pinterest is better since that is what people are doing. However, if they can “Pin” the sim on their board, then they should be able to do that too

On Jan 20, 2015, at 1:21 PM, Pinterest <pinbot@pinterest.com<mailto:pinbot@pinterest.com>> wrote:

[cid:0D

[2015-01-22 04:24] pixelzoom opened #60 "implement "HTML5 licensing" page"
For quite awhile, the HTML5 sims have had a "Terms, Privacy & Licensing" link in the About dialog. Clicking that link currently takes you to a page on the PhET website that says "Information coming soon, please contact phethelp@colorado.edu."  The page is http://phet.colorado.edu/en/html-terms-privacy-and-licensing

[2015-01-28 22:12] oliver-phet commented on #58
I would vote for the text being standardized, so "Like us on Facebook" rather than "Find". Find isn't a common term on facebook.

[2015-01-29 20:30] ariel-phet commented on #60
I have been nagging @kathy-phet about this issue, and will continue to push the priority

[2015-01-30 02:26] #35 closed

[2015-01-30 02:30] ariel-phet opened #61 "Change default settings so users are subscribed to the newsletter when creating an account"
@kathy-phet requested that when the users create accounts on the PhET website the default check box state for the newsletter is "checked"

[2015-01-30 02:31] ariel-phet commented on #61
@jonathanolson please comment on the complexity of this change, and if easy please go ahead and make the change, if not, please reassign to @aaronsamuel137

[2015-01-30 02:37] ariel-phet commented on #40
Team settled on static images, closing.

[2015-01-30 02:39] ariel-phet commented on #55
Current thought is to remove this page and category altogether now with the prominence of our social media icons. We also plan to implement a more modern global footer for the website which should also eliminate the need for this category.

[2015-01-30 17:51] jonathanolson commented on #61
It should be fairly easy, I'll take care of it.

[2015-01-31 04:19] jonathanolson commented on #61
Tested and should be complete.

[2015-01-31 04:19] #61 closed

[2015-02-02 15:12] aaronsamuel137 commented on #47
I think this has been confirmed to be fixed on the latest installer versions. Closing.

[2015-02-02 15:12] #47 closed

[2015-02-02 15:13] aaronsamuel137 commented on #46
This was fixed. Closing.

[2015-02-02 15:13] #46 closed

[2015-02-02 20:10] aaronsamuel137 commented on #57
OK I've made these strings translatable. The strings in the video player were a little more complicated since they are dynamically changed with javascript. However, I think it is working now.

I've made so the video player strings always stay blue instead of changing to purple when they are clicked. I was running into weird behavior where the browser would change from black to blue to purple at di

[2015-02-02 23:58] aaronsamuel137 commented on #55
@ariel-phet, just want to confirm, should I go ahead and remove this page from the website now?

[2015-02-03 01:03] ariel-phet commented on #55
@aaronsamuel137, not yet, let's plan to discuss with @kathy-phet during status meeting on Thursday. Please put this issue as one of your agenda items.

[2015-02-03 14:51] aaronsamuel137 commented on #58
OK I've changed "Find us" to "Like us". It's easy to change back if people don't like it.

I've also changed "Pinterest" to "Share this on Pinterest" on the non-homepage pinterest icons, which is consistent with the other mouseovers on those pages.

[2015-02-03 15:00] ariel-phet commented on #58
The rollovers all work nicely, but for consistency now the footer should say "Like us" whereas it still says "Find us"

[2015-02-03 15:11] aaronsamuel137 commented on #57
Never mind the last comment, I've fixed the link colors act normally. This will be fixed on the next deploy.

[2015-02-03 15:34] aaronsamuel137 commented on #58
Good call. I've updated this string to say "like us"

[2015-02-03 15:41] aaronsamuel137 commented on #40
@kathy-phet had a good thought to use animated gif images for iPhone. After looking into it a bit, I think it will work just fine. I'll work on this.

[2015-02-03 15:44] aaronsamuel137 commented on #39
The new front page is tested and deployed, so I am closing this issue.

[2015-02-03 15:44] #39 closed

[2015-02-04 14:52] aaronsamuel137 commented on #38
This has to do with the old front page. Closing

[2015-02-04 14:52] #38 closed

[2015-02-04 14:53] aaronsamuel137 commented on #44
These changes have been made. Closing

[2015-02-04 14:53] #44 closed

[2015-02-04 14:53] aaronsamuel137 commented on #16
New front page has been finished. Closing

[2015-02-04 14:53] #16 closed

[2015-02-04 17:14] ariel-phet commented on #58
Closing

[2015-02-04 17:14] #58 closed

[2015-02-04 17:17] ariel-phet commented on #55
@alexklinger said

I would recommend using font awesome social icons in the footer of the entire site, rather than having a stay connected page. http://fontawesome.io/icons/

[2015-02-04 17:30] ariel-phet commented on #50
Duplicate of #26, closing

[2015-02-04 17:30] #50 closed

[2015-02-04 17:35] ariel-phet commented on #49
Also file size of sim download can be removed

[2015-02-04 17:40] aaronsamuel137 commented on #41
Good enough for now. If you need enhancements to this please make a separate, specific issue. Closing.

[2015-02-04 17:40] #41 closed

[2015-02-04 17:42] aaronsamuel137 opened #62 "Â character on frontpage"
There is an Â character on the front page next to the copyright info. As of now, I have no idea what is causing this. It's not on phet-dev, which should have the same code...

I'll look into it some more.

[2015-02-04 17:43] ariel-phet commented on #59
@aaronsamuel137 will get a dev version to look at so we can decide on placement, and will comment on any complications.

We will likely need to tweak the banner and may want to use a smaller version of the CU logo that has a more horizontal aspect ratio.

http://www.colorado.edu/brand/logo/logo-variations

[2015-02-04 17:47] aaronsamuel137 commented on #45
OK this is implemented. The translators have the option to add a {0} where the number will get filled in automatically. The change won't take effect until this has been updated by translators.

[2015-02-04 17:47] #45 closed

[2015-02-04 17:55] ariel-phet commented on #40
Try getting @orejolaphet to send you gif's made from camtasia original files with highest quality possible.

[2015-02-04 18:00] aaronsamuel137 commented on #28
The internal server error is fixed, so I am closing this.

[2015-02-04 18:00] #28 closed

[2015-02-04 18:08] #14 closed

[2015-02-04 18:10] ariel-phet commented on #19
Subsumed into #17

[2015-02-04 18:10] #19 closed

[2015-02-04 18:11] ariel-phet commented on #20
Will be part of #17

[2015-02-04 18:11] #20 closed

[2015-02-04 19:39] aaronsamuel137 commented on #53
@schasteen, I've added the page to phet-dev for you to review: http://phet-dev.colorado.edu/en/for-teachers/facilitatingActivities

The only things I need are an image for the right hand menu and the video for the download link.

Assigning to @schasteen for review.

[2015-02-05 04:34] aaronsamuel137 commented on #26
The webGL page has been created at http://phet.colorado.edu/webgl-disabled-page

As of now, it is not translatable but can be made so if it needs to be. Assigning to @ariel-phet for review.

[2015-02-05 04:52] aaronsamuel137 commented on #56
This has been fixed. Closing

[2015-02-05 04:52] #56 closed

[2015-02-05 04:54] aaronsamuel137 commented on #57
Deployed and appears to be working. Closing

[2015-02-05 04:54] #57 closed

[2015-02-05 06:01] jonathanolson commented on #26
Additionally, if it is made translatable in the future, I would imagine it would turn into a redirection to the best locale?

Now sims are loading the URL with a query parameter for their locale, e.g. ?simLocale=en

[2015-02-05 14:46] aaronsamuel137 commented on #62
This seems to be fixed since the last deploy. Closing

[2015-02-05 14:46] #62 closed

[2015-02-05 18:28] aaronsamuel137 commented on #59
Doesn't appear to be working properly out of the box. The documentation at http://wiki.fluidproject.org/display/docs/Tutorial+-+Adding+a+Basic+Preferences+Editor+to+a+Site doesn't seem to apply totally to the current master.

I'll look for someone to contact on their project.

[2015-02-05 18:30] ariel-phet opened #63 "Change Old PhET Logo to New PhET Logo for Activities on Sim Pages"
On any given sim page with activities that have the "from PhET" stamp the old PhET logo is being used, we want to change it to the new PhET logo. On blue background matched to banner (and no "Interactive Simulations" text).

Work with @amanda-phet if you need a specific version of the logo

High priority since it should be a pretty easy

[2015-02-06 14:32] aaronsamuel137 commented on #55
During status meeting on 2/5/15 we decided to get rid of this page.

[2015-02-09 02:37] aaronsamuel137 commented on #54
I've updated the focus to be white on the phet and CU logos, as well as the sign-in text. The search box and submit button didn't look very good with white outlines, since they are already white and it was difficult to tell where the outline began and they ended. I decided to go with orange, since it seemed like it had reasonably good contrast with both the white and the blue. I'm open to other id

[2015-02-09 02:37] aaronsamuel137 commented on #55
This page is gone now. Closing.

[2015-02-09 02:37] #55 closed

[2015-02-09 02:38] aaronsamuel137 commented on #63
This is done. Assigning to @ariel-phet for review.

[2015-02-09 02:39] aaronsamuel137 commented on #26
@ariel-phet mentioned that this page should be translatable during status meeting on 2/5/15. I'll work on adding that functionality.

[2015-02-09 04:42] ariel-phet commented on #63
Looks good to me!

[2015-02-09 04:42] #63 closed

[2015-02-09 05:14] ariel-phet opened #64 "Footer on pages has 2013 as copyright date"
Now that we have the copyright as 2015 on the front page, its seems that should be consistent across all website pages. Pretty minor, but probably worth fixing if it is a quick adjustment.

[2015-02-09 16:35] aaronsamuel137 commented on #59
Sent an email to their mailing list. I'll wait and see if I hear back before spending too much time on this.

[2015-02-09 16:54] amanda-phet opened #65 "Typo on home page"
Just a minor typo, but the sim identified in this video should be labelled "park" and not "part".

![screen shot 2015-02-09 at 9 52 18 am](https://cloud.githubusercontent.com/assets/7852916/6110789/71ceb42e-b041-11e4-8aa7-1a989136a761.png)

[2015-02-09 17:14] ariel-phet commented on #65
We definitely don't want that typo...lets fix soon

[2015-02-09 17:17] aaronsamuel137 commented on #65
I've updated the string in the database, it'll appear as soon as tomcat's cache is refreshed.

[2015-02-09 17:47] aaronsamuel137 commented on #65
This has been fixed. Closing.

[2015-02-09 17:47] #65 closed

[2015-02-10 15:01] aaronsamuel137 commented on #64
This has been updated. Assigning to @ariel-phet for review.

[2015-02-10 15:04] aaronsamuel137 commented on #26
OK I've made this page translatable and redirect to the locale given in the simLocale query parameter. @jonathanolson, let me know if this is what you were expecting.

http://phet.colorado.edu/webgl-disabled-page?simLocale=ar_SA
http://phet.colorado.edu/webgl-disabled-page

[2015-02-10 16:37] ariel-phet commented on #64
Not showing up on HTML5 temp page, but otherwise looks good

[2015-02-10 17:52] aaronsamuel137 commented on #59
OK I've made some adjustment after talking with Justin at Infusion. The editor seems to be working more or less as expected at this point. However, to make it really "play-nice" with the phet page it will take some work going through every setting of the editor and making sure it is doing what we want.

Some of the changes it requires to our site could be useful overall in making our page more res

[2015-02-10 18:01] jonathanolson commented on #26
Yes, looks good to me!

[2015-02-10 18:13] emily-phet commented on #54
@aaronsamuel137: Looks good! I find it a little odd that the outline color is changing so much. Here's some ideas of how to help that.
- Can the order of tabbing go PhET Logo, CU logo, Sign in/Register, then Search box? That way you go through all the white outlined options before the orange.
- Can you make a white outline for all focus items with the blue and green border in the center of the pag

[2015-02-10 18:15] aaronsamuel137 commented on #54
Sounds good. I'll work on that. What browser are you using when you look at the page? I just want to make sure I am looking at the same thing you are when I am making adjustments.

[2015-02-11 00:16] emily-phet commented on #54
Safari.

[2015-02-12 05:13] aaronsamuel137 commented on #64
Good catch. I've updated it on the HTML5 page too. Assigning to @ariel-phet for review

[2015-02-12 05:14] aaronsamuel137 commented on #49
OK I've removed the changelog link and the file size. Assigning to @ariel-phet for review.

[2015-02-12 15:45] aaronsamuel137 commented on #54
OK I've made these changes. Assigning to @emily-phet for review.

[2015-02-12 15:51] aaronsamuel137 commented on #53
@schasteen, the page is up on phet-dev now for your review.

[2015-02-12 18:15] aaronsamuel137 commented on #26
One more change is needed: add category headers for Windows, Mac, Mobile.

[2015-02-12 18:48] ariel-phet commented on #64
Looks good, closing!

[2015-02-12 18:48] #64 closed

[2015-02-12 21:07] jbphet opened #66 "Possible to login in from http://, makes session cookie visible"
While working on the translation utility, I ran across a case where the JSESSIONID cookie appears in the URL.  This happens when a user logs into to the web site from http instead of https.  @jonathanolson pointed out that if someone sniffed this over an unencrypted wireless link, they could use the cookie value to log in as that user.  We should probably set things up so that users can’t log in f

[2015-02-13 00:31] emily-phet commented on #54
Looks wonderful. Thanks!

[2015-02-13 02:13] aaronsamuel137 commented on #54
Sounds great. I'm going to close this issue for now. Feel free to reopen or start a new issue if other accessibility things come up.

[2015-02-13 02:13] #54 closed

[2015-02-13 19:07] aaronsamuel137 commented on #66
As far as I can tell, this has been an unnoticed issue on the website for awhile now. It seems like anytime that a user is redirected to the login page instead of going there themselves the JSESSIONID appears in the url AND the site is browsed over http instead of https.

I'll see if I can figure out a way to prevent this from happening.

[2015-02-16 22:40] schasteen commented on #53
Looks good to me, but would like @emily-phet to review before it goes live since this is her area.  Emily, check out the new http://phet-dev.colorado.edu/en/for-teachers/facilitatingActivities, and make sure it looks good to you.  You might want to look at what is on this page, versus the Designing Activities page, and see that their titles in the sidebars look good to you.  They are a bit long, I

[2015-02-17 20:53] emily-phet commented on #53
Looks good. I'm fine with shorting to "X for K12" as Stephanie suggested.

[2015-02-18 15:29] aaronsamuel137 commented on #66
This issue has been fixed. However, a new issue was introduced where the nav locations are no longer preserved on the login page before the redirect happens. Since this is a more minor issue, the decision was made to go ahead and push the security fix and worry about addressing this later. I'll create a new issue to track this.

[2015-02-18 15:29] #66 closed

[2015-02-18 15:32] aaronsamuel137 opened #67 "Nav locations don't appear when being redirected through login page"
The nav locations for the page you are heading for used to appear on the login page when you needed to login before getting to the destination page. This feature was removed when addressing security issue #66, but could be added back if we think it's worth spending some time on. It's not as straightforward to implement as it was previously, but could be done.

Assigning to @ariel-phet for prioriti

[2015-02-18 17:58] aaronsamuel137 commented on #26
I've added the category headers. Since no other suggestions were given during status meeting I am closing this issue.

[2015-02-18 17:58] #26 closed

[2015-02-18 17:59] aaronsamuel137 commented on #53
I've updated titles and deployed to the main website. @schasteen, let me know if there are any other adjustments needed or close the issue.

[2015-02-18 21:39] schasteen commented on #53
Thanks Aaron!

[2015-02-18 21:39] #53 closed

[2015-02-19 19:35] aaronsamuel137 opened #68 "Update requirements page"

[2015-02-19 19:39] aaronsamuel137 opened #69 "admin page redirects don't work since fixing http security issue"
Since fixing #66, the redirects for admin page links don't work. We get the link "/en/null" instead of "/admin/deploy-translation" for instance.

[2015-02-19 21:56] oliver-phet opened #70 "Search bar is throwing out internal error"
Type "build" in the search bar and hit enter. Receiving:

Internal error occurred

Please contact us at phethelp@colorado.edu for assistance or to report the error.

Seems like words that are included in a sim name cause the error. But the text "buil" will not error.

[2015-02-19 23:24] aaronsamuel137 commented on #70
It looks like this error has to do with a missing row in the contributions database. The logs complain about a missing row for contribution id 3870. Interestingly, this works fine on phet-dev, but not on phet.

http://phet-dev.colorado.edu/en/contributions/view/3870

http://phet.colorado.edu/en/contributions/view/3870

I can't figure out why this may be, even when I sync the phet-dev database to t

[2015-02-19 23:37] aaronsamuel137 commented on #70
The page on phet-dev has a comment from 12/13/14, so theoretically it must have been appearing properly at that point on figaro.

[2015-02-20 04:59] aaronsamuel137 commented on #69
Should be fixed. Closing

[2015-02-20 04:59] #69 closed

[2015-02-20 05:00] aaronsamuel137 commented on #70
I still have no idea why the contribution 3870 is mysteriously missing from the database, but the search issue should be fixed now.

Assigning to @oliver-phet for review.

[2015-02-20 06:18] jonathanolson commented on #70
Users have permission to delete their own activities. Maybe that happened?

[2015-02-20 15:21] oliver-phet commented on #70
I think 3870 may have been my activity. Ariel had requested I delete it since we now have the ‘By Device’ category on the site.
Also, it may be messing up the search because the activity had every sim listed – so almost any search would find that activity.

From: Jonathan Olson [mailto:notifications@github.com]
Sent: Thursday, February 19, 2015 11:19 PM
To: phetsims/website
Cc: Oliver Pascal Nix
S

[2015-02-20 16:54] aaronsamuel137 commented on #70
I'm going to close this issue since the search bar error has been fixed by catching an ObjectNotFoundException.

There is still a potential issue here involving the fact that the code or database was still looking for a contribution that had been deleted. I'll start up another issue to track this.

[2015-02-20 16:54] #70 closed

[2015-02-20 16:56] aaronsamuel137 opened #71 "Contribution 3870 still being referenced for some reason after it was deleted"
This was discovered in looking at #70.

[2015-02-24 03:55] jonathanolson commented on #60
I've uploaded a word document that contains what we'll want as HTML in the page: http://www.colorado.edu/physics/phet/dev/olsonjb/PhET_SoftwareAgreement_ForHTML5Sims_v1_KP_02112015.docx

This should be HTML-ified and put into the page.

[2015-02-24 04:23] aaronsamuel137 commented on #60
I've given this task to @thejakey. I am expecting it will be done very soon, but if not I may end up doing it.

[2015-02-24 06:54] thejakey commented on #60
Heya, the html is done but I'm having a hard time fitting it into the src. I know we went over it but I unfortunately had to reinstall my OS since then and lost the skype call transcript.

[2015-02-24 14:50] aaronsamuel137 commented on #60
No problem. The file you want to modify is: /website/src/java/edu/colorado/phet/website/content/about/HTMLLicensingPanel.html. Let me know if you have any questions. Thanks for doing this!

[2015-02-24 23:43] pixelzoom opened #73 "create a "Third-Party Contributors" page"
See https://github.com/phetsims/joist/issues/75

[2015-02-25 19:13] aaronsamuel137 commented on #73
I may save this task for the new web-dev intern Brian since it is pretty straightforward to hand over to someone new. @ariel-phet mentioned starting the hiring paperwork for him today.

[2015-02-25 19:27] oliver-phet commented on #68
Aaron, I just sent you a Gdoc that has some updated FAQ's (that include the system requirements). Can these be merged into the existing? (and maintain the URL #qXX behavior).

[2015-02-25 19:30] oliver-phet opened #74 "Update 'Troubleshooting' pages with #qXX URL behavior (like FAQ page)"
@aaronsamuel137 Can you add the URL behavior for each of the 3 troubleshooting pages (Mac, Windows, Tablets) so that when a question is clicked it adds the q# to the url. I can then send specific links to users that address the issue they are encountering.

[2015-02-25 19:33] oliver-phet commented on #68
related to #74

[2015-02-25 19:40] aaronsamuel137 commented on #68
Yep they can be merged no problem. And I can add that behavior to the troubleshooting pages. Right now on the faq page the urls are little random, the number skip around and sometimes it is a description instead of a number, such as "#sourceCode". Is this a problem, or it doesn't matter if you have the link?

Would you prefer numbers or descriptions on the troubleshooting pages?

[2015-02-25 19:41] oliver-phet commented on #68
I don't think it matters much as long as the links are unique so that I can send a URL to a specific issue.

[2015-02-25 22:38] aaronsamuel137 commented on #68
Do we want to change the FAQ page to use expandable text too? Also, what do you think about replacing the troubleshooting expandable text with the style used in the new sim pages, such as the ones used here: http://phet-dev.colorado.edu/en/simulation/area-builder?

We could probably also set it up so that when you visit a url with "#q2" or something it will automatically expand that portion of the

[2015-02-25 22:58] oliver-phet commented on #68
Yes, if possible, it would be great to have the FAQ in expandable text. I like the style used on new sim pages. Let's go with that.

[2015-02-25 23:00] aaronsamuel137 commented on #68
Sounds great. If it's not too urgent, I may wait until the new web-dev intern is here (@ariel-phet mentioned staring the paperwork today), since this would be a good project to either pair with him on or just assign to him.

[2015-02-25 23:01] oliver-phet commented on #68
Sounds good. Brian should be starting Monday.

[2015-02-27 17:04] ariel-phet commented on #60
@aaronsamuel137 let me know if you want to look over this page on phet-dev together at some point (for cleaning up alignment and fonts and such)

[2015-02-27 17:17] ariel-phet commented on #36
Front page will probably have changes before this ever gets looked at, closing.

[2015-02-27 17:17] #36 closed

[2015-02-27 17:21] ariel-phet commented on #67
@aaronsamuel137 - when you say the "nav locations" - do you mean in the side bar?

Our of curiosity, one possibility would be to have a login dialog that overlays the current window, so that you never really "leave" the page you are on. This seems to be done on many modern websites such as:

https://www.pinterest.com/

Thoughts?

[2015-02-27 19:34] aaronsamuel137 commented on #67
Yeah I mean the side bar. It used to have the little arrows and highlights for the page you were heading too. Now it doesn't anymore, but it still redirects you there after signing in.

![screen shot 2015-02-27 at 12 31 26 pm](https://cloud.githubusercontent.com/assets/3193912/6419694/96171418-be7c-11e4-8143-ba9885678432.png)

I think the idea of a popup instead is nice, but it could take a bit of

[2015-02-27 20:09] ariel-phet commented on #67
OK, lets close this issue for the moment. I will open for creating a dialog, and when we design it we can implement it. No big rush for the moment.

[2015-02-27 20:09] #67 closed

[2015-02-27 20:13] ariel-phet opened #75 "Dialog for login (overlay instead of taking user to a separate window)"
We have discussed having a login dialog appear on the site instead of taking the user to a separate window (so the dialog is overlayed on the page, and the page opacity is reduced) much like on pintrest or other modern sites.

This would be good to work on as a project for the design team. @aaronsamuel137 said it would be around a 5-10 hour implementation project (plus pixel polishing).

@amanda-p

[2015-02-28 22:10] ariel-phet opened #76 "Purge "Under Construction" Symbol from Website"
@aaronsamuel137 on several places on the website you will see sims with an "under construction" symbol, I am not sure why this symbol was ever used, but it seems outdated and odd.

If you click on the symbol it will take you to this page:
http://phet.colorado.edu/en/for-teachers/legend

I will make a separate issue for the "legend" page since it is outdated as well. Might make a quick little proje

[2015-02-28 22:16] ariel-phet opened #77 "For Teachers "Legend" page needs updating/fixing"
@amanda-phet - this page seems very out of date:

http://phet.colorado.edu/en/for-teachers/legend

You can get to this page by clicking on one of these symbols, for instance the "under construction" symbol that can be found on the capacitor lab page:

http://phet.colorado.edu/en/simulation/capacitor-lab

I am going to get the "under construction" symbol purged from the website, see #76

I am not s

[2015-03-02 19:21] amanda-phet commented on #77
I agree that this a very odd page.

If we want a legend for the star and the PhET logo, both of which apply to activities, we should include after the list of activities on a sim page. Another option would be to simply have some mouseover text for those two symbols.

[2015-03-04 17:57] aaronsamuel137 commented on #60
@BrianNewsom is going to work on making this translatable.

[2015-03-06 17:51] aaronsamuel137 commented on #73
Should this page have an entry for every file in Sherpa licenses?

How does /third-party-contributors sound for a url?

[2015-03-06 18:11] aaronsamuel137 commented on #73
Assigning to @BrianNewsom.

Feel free to start making the page at /third-party-contributors and add one or two entries from Sherpa. Once we get verification that it is looking good from the rest of the team, we can add the rest.

[2015-03-06 18:15] aaronsamuel137 commented on #68
Assigning to @BrianNewsom.

We want the troubleshooting and FAQ pages to behave like the new sim pages drop down menus. Each link should be accessible by a url with a hash. See http://phet-dev.colorado.edu/en/simulation/area-builder for an example. Code is in SimulationMainPanel.html and expandable-text-v1.js on html5-sim-pages branch.

Let me know if you have questions.

[2015-03-06 18:17] aaronsamuel137 commented on #76
I haven't looked into this at all yet, but I am assigning to @BrianNewsom just so there are some things in the your queue if you finish up your other tasks. Feel free to ask if you have questions, I am not totally sure how complicated this will be.

[2015-03-06 18:18] aaronsamuel137 commented on #49
This was done awhile ago, I'm closing the issue.

[2015-03-06 18:18] #49 closed

[2015-03-06 19:48] ariel-phet commented on #60
We discussed at status meeting yesterday and we will also want to add in some sort of disclaimer when the license is being viewed in another language. We will need to figure out the exact verbiage, but something clear and up at the top when viewing in different locale (much like our temp html5 sims page) to the effect of

Disclaimer: The text of the license information is only legally valid for th

[2015-03-06 19:51] aaronsamuel137 commented on #60
OK good to know. The licensing page is finished aside from this, and can be viewed on phet-dev. I'll wait to deploy until I hear back about this.

[2015-03-06 20:19] ariel-phet commented on #60
OK, lets put in the following text:

Disclaimer: The text of the licensing information below is only legally valid for the English version. Any translations of the licensing information are not legally binding, but instead are provided for the convenience of non-English users.

Follow the same paradigm used on the temp HTML5 page, where this disclaimer only appears when viewing the site in a non E

[2015-03-06 20:20] ariel-phet commented on #60
@aaronsamuel137 when you have outfitted the disclaimer, send me an email so I can check things out carefully on phet-dev.

[2015-03-07 02:31] ariel-phet commented on #60
All looking good. Just one more tweak. The cc by image is low quality and sort of pixelated. Perhaps replace with this one (but scaled down as needed):

http://mirrors.creativecommons.org/presskit/buttons/88x31/png/by.png

After that you can make it live. Please send an email to @kathy-phet and I to say you have made it live on the website (that will be the surest way to have her review it :) )

[2015-03-07 02:37] ariel-phet opened #79 ""By Grade Level" category images could use some work"
The "By Grade Level" link brings you to a page that has pictures that may not be very meaningful to teachers

http://phet-dev.colorado.edu/en/simulations/category/by-level

It would be good to replace these four pictures of pictures more representative of these grade levels (perhaps pictures of people in classrooms).

@amanda-phet - we can discuss as a small group sometime, and it would be good to

[2015-03-09 21:25] amanda-phet commented on #79
While the current images might not be "meaningful", the screenshots change a lot in complexity. The younger sims have more whitespace and primary colors, while the college level look dauntingly advanced with gray and graphs.

However, I agree that some photos of students is the way to go. We have some really nice images of classroom use. I'm imagining an elementary student on an iPad, middle schoo

[2015-03-09 21:28] ariel-phet commented on #79
Those sounds like great suggestions to me. Do you want to choose a candidate photo for each?

[2015-03-09 21:58] ariel-phet commented on #60
Up, working, and approved by @kathy-phet - closing!

[2015-03-09 21:58] #60 closed

[2015-03-09 22:07] ariel-phet opened #80 "Disambiguate Java/Flash and HTML5 Licensing"
Now that we have a live page for our HTML5 licensing, we need to disambiguate between licensing our Java/Flash sims and our HTML5 licensing.

Currently, the only way to navigate to the HTML5 licensing page is via the about dialog in one of the sims.

However, we have licensing information under our "About" sidebar navigation

http://phet.colorado.edu/en/about/licensing

We need decide if there are

[2015-03-09 22:12] ariel-phet opened #81 "Adding a "PC/Mac" subcategory for the By Device category"
@oliver-phet has mentioned that is might be nice to have a "PC/Mac" subcategory in our "By Device" category.

I think this change makes most sense to implement when we have the new HTML5 sim pages up. (Since all screenshots will then be uniform, and each will have a badge with the code base). Not a major priority, but I wanted to get an issue started.

[2015-03-10 19:33] amanda-phet commented on #79
@ycarpenterphet Do you have any photos of a sim being used in a lecture? Ideally Carl or Mike or Kathy (I think I've seen a photo like this somewhere!) standing in front of a projected sim in a lecture setting, maybe some students looking at them.

@kathy-phet We do not have a great elementary-age photo. Can we use your children to pose a photo? It would be great to show young kids using a sim on

[2015-03-10 19:37] kathy-phet commented on #79
Tonight happens to be science night at Bear Creek Elementary, and there is a PhET station. I can bring my camera and take some photos - and then I can work on contacting the parents to get releases.

[2015-03-10 20:04] amanda-phet commented on #77
The plan is to discuss this on Thursday's status meeting.

[2015-03-10 20:08] amanda-phet commented on #77
Also, it seems that there is already a mouseover description for gold-star activities and PhET-created activities.

[2015-03-10 22:08] ycarpenterphet commented on #79
We certainly do have a variety of images of PhET in use at the college/university level (someone lecturing with a sim demo on the big screen, or a lecture hall with students working in groups at laptops, or students using sims in labs).

I only have cropped or lower-resolution images that I've used in presentations. @schasteen will probably be the best resource for knowing the media images we have

[2015-03-11 18:38] schasteen commented on #79
If you tell me which images you want and, most importantly, what folder you got them out of in the PhET Backup 2 drive, I can tell you if I have information on releases.  Some of them (not many) have release information in the folder.  Some I was not involved with and may not know anything.

[2015-03-11 19:31] ariel-phet opened #82 "Navigation from mini banner to all HTML5 sims"
@aaronsamuel137, now that we are setting up the HTML5 sim pages, if you click on HTML5 sims in the mini banner, we should change the behavior on the page a bit.

The page with all HTML5 sims should now still have the Mini banner, and I think we still want to keep the youtube video.

However, now when you click one of the sims, it should take you to the inidividual sim page, so that the action is c

[2015-03-11 19:32] ariel-phet commented on #82
Obviously, I mean for this action take place of phet-dev first, until everything is settled.

[2015-03-11 20:27] amanda-phet opened #83 "expanding categories tweak"
Right now, when you click on a category like "For Teachers", the section expands and jumps to the top of the webpage. This jump happens very quickly and is a little jarring. It is not obvious what happened. When you close the section, though, it has a very natural scrolling feel.

Can these categories expand with some of that same natural feel? Maybe we should just animate the expansion and not sc

[2015-03-11 20:31] oliver-phet commented on #83
Here is an example of the "expandable animation": http://www.labor.ny.gov/ux/code-expandable-content.html

[2015-03-11 21:38] amanda-phet opened #84 "initial pixel polishing list"
- [x] The blue section titles like "Description" and "Sample learning goals" should be #00A6D3 and right now they look closer to #3298A6
- [x] The first section under About should be "Topics" not "Content"
- [x] The badges we are using vary a lot in size and color, and in particular the flash logo is really distracting. We have a new set of badges we'd like to use instead:

![flash-sim](https://cl

[2015-03-11 21:50] amanda-phet opened #85 "Change "For Teachers" page to "Teacher Resources""
We have a new "For Teachers" section on the newest sim pages with materials like activities, tips, and video primers. Our main "For Teachers" page is really a set of resources, so I think the name of that page should be changed to "Teaching Resources", and if possible the url should also change to http://phet.colorado.edu/en/teaching-resources.

[2015-03-11 21:53] aaronsamuel137 commented on #83
I initially had it like this, but then there was a request that the page scroll down to right above the section header. I am happy to bring it back to how it was if that is better.

What are your thoughts @ariel-phet? I think you mentioned wanting it to jump down to the section that is clicked on.

[2015-03-11 22:25] ariel-phet commented on #83
@aaronsamuel137

Yeah, we thought the auto-scrolling might be good, but once we saw it in action, it seemed a bit disorienting. So yes, it seems like the way you had it was better.

[2015-03-11 22:25] ariel-phet commented on #85
And the sidebar navigation should change as well.

[2015-03-11 22:29] ariel-phet opened #86 "Search functionality when in a non-English locale"
Until we get the translation utility up and running we had planned for when viewing the website in a non-English local that searching would only show java sims in the search bar (unless only an HTML5 version exists, such as for Area Builder).

I know this is probably a bit tricky and an intermediate change that will go away, but it seems like something we will need to do.

[2015-03-11 22:31] ariel-phet commented on #86
In addition, screenshot and sim should be the java version when looking a specific category. For instance, if looking at physics sims when viewing the website in French, only the Java sims should appear for all sims that have both a Java and HTML5 version.

[2015-03-11 22:51] aaronsamuel137 commented on #85
Should this be a change to master, or should this get deployed with the new sim pages?

[2015-03-12 00:17] amanda-phet commented on #79
@schasteen I can email you the photo information to find out if there are releases. However, I found that phetbackup2 just didn't have many to choose from, and definitely not any undergraduate lectures. Are there more photos somewhere that haven't made it to phetbackup2? In particular, I think I've seen some floating around of CU faculty that were not on the server (so perhaps they didn't have rel

[2015-03-12 00:25] amanda-phet opened #87 "Subscribe to newsletter while on the newsletter page"
Based on discussions with @schasteen and @ycarpenterphet, we would like to suggest the following change:

Currently, the only place we can find a link to sign up for the newsletter is in two different places on the home page and no where else on the website. I am sure this will change when we implement a new universal footer on the website, but for now, we think it would make sense to have a link

[2015-03-12 00:28] amanda-phet commented on #87
Is it also possible to include the newsletter in the keyword search? (For example- I search for newsletter and it auto-completes with the newsletter page and takes me there.)

Or is that something we will get to when searching as a whole is tackled?

[2015-03-12 00:29] amanda-phet opened #88 "Create a redirect link to newsletter page"
Can we make the URL phet.colorado.edu/en/newsletter exist and just redirect to the current phet.colorado.edu/en/about/news page?

[2015-03-12 01:05] patricialoeblein commented on #87
I am very glad some consideration is being spend on the newsletter. I realize that the goal is to emphasize more things like facebook etc, but many teachers still appreciate newsletters. I know I subscribe to several.

Trish

From: Amanda McGarry [mailto:notifications@github.com]
Sent: Wednesday, March 11, 2015 7:25 PM
To: phetsims/website
Subject: [website] Include link to sign up for newsletter

[2015-03-12 01:06] patricialoeblein commented on #87
Great idea

Trish

From: Amanda McGarry [mailto:notifications@github.com]
Sent: Wednesday, March 11, 2015 7:28 PM
To: phetsims/website
Subject: Re: [website] Include link to subscribe to newsletter on newsletter page (#87)

Is it also possible to include the newsletter in the keyword search? (For example- I search for newsletter and it auto-completes with the newsletter page and takes me there.)

[2015-03-12 16:26] aaronsamuel137 commented on #76
At status meeting on 3/12/15 we agreed to have a student worker manually remove these from the database, since there are not that many of them. We are purging all of the symbols from the legend page, not just the under-construction.

Assigning to @oliver-phet to coordinate with the student workers.

[2015-03-12 16:43] aaronsamuel137 commented on #77
We've agreed to take down the legend page at status meeting on 3/12/15.

Assigning to @BrianNewsom. Let me know if you have questions about this. Don't worry about touching the database, but make sure there are no links anywhere to the legend page.

[2015-03-12 16:43] oliver-phet commented on #76
@kathy-phet Can you provide the metadata sheet that identifies the sims with legend symbols (called "Ratings" on the website administration)?

[2015-03-12 17:06] amanda-phet commented on #75
Here is the latest mockup of this dialog box. At status, we decided that this should probably roll out around the same time as the new sim pages if @aaronsamuel137 can get it up and running, since it is relevant to accessing content on sim pages.

![screen shot 2015-03-12 at 11 05 23 am](https://cloud.githubusercontent.com/assets/7852916/6623313/c1b57b8e-c8a7-11e4-85f4-44a0a1468292.png)

[2015-03-12 17:57] schasteen commented on #79
PBU2 has all the still images that we have; I know there are some really nice ones with Carl Wieman in UG, and some good ones in K12 (especially in the "students with sims" folder).  . If you're having trouble finding ones of college, the best might be if you took a screenshot from the video footage.  All the more recent stuff (say, after 2010) is in HD, and so a screenshot will look very good.  W

[2015-03-12 17:58] aaronsamuel137 commented on #80
We decided at status meeting on 3/12/15 that we are going to change the page at: http://phet.colorado.edu/en/about/licensing, to basically have three links: one to the java license page, one the html5 license page, and one to the phet trademark license page (a new page that requires some input from @kathy-phet).

We could model the look of this page after the source code page at: http://phet.color

[2015-03-12 18:16] amanda-phet opened #90 "New universal footer"
We need a universal footer for the website that has languages as well as social media. I propose that this footer also include links to other pages that are commonly found in footers such as About and Support.

The motivation is also to remove this table from the front page:
![screen shot 2015-03-12 at 12 15 32 pm](https://cloud.githubusercontent.com/assets/7852916/6624838/85c9b842-c8b1-11e4-9f73-

[2015-03-12 18:28] amanda-phet opened #91 "Update download page?"
We currently have a page that describes the three ways to run simulations: https://phet.colorado.edu/en/get-phet

The third method of downloading one sim at a time takes you to a page that lists every sim:
https://phet.colorado.edu/en/get-phet/one-at-a-time. I noticed that all of the links seem to be .jar files, even flash sims. The only exception seemed to be Area Builder.

Should we update these

[2015-03-12 19:38] BrianNewsom commented on #68
Fixed with https://github.com/phetsims/website/pull/89.  Let me know what you think!

[2015-03-12 19:39] BrianNewsom commented on #74
Fixed with https://github.com/phetsims/website/pull/89.  Let me know what you think!

[2015-03-12 21:31] aaronsamuel137 commented on #80
Also, we'll need to make the url phet.colorado.edu/en/html-terms-privacy-and-licensing redirect to phet.colorado.edu/en/about/licensing/html-terms-privacy-and-licensing and update the link in joist to point to phet.colorado.edu/en/about/licensing/html-terms-privacy-and-licensing.

[2015-03-12 22:20] oliver-phet commented on #68
I'm not seeing a change on the live website or phet-dev?

[2015-03-12 22:28] aaronsamuel137 commented on #68
The change isn't live yet - I am reviewing it and making some changes. I'll let you know when it's live. I'll probably put it on phet-dev first so you can review.

[2015-03-12 22:45] aaronsamuel137 commented on #74
There are a few issues with the troubleshooting pages where the triangles do not switch when clicked.

I have updated TroubleshootingMacPanel to fix this and show the correct pattern to use. We also need the a tag hrefs to point to the headers here, so @oliver-phet has a link he can give people to specific issues. Following the pattern in TroubleshootingMacPanel should take care of this.

Follow t

[2015-03-12 22:50] aaronsamuel137 commented on #74
Also - pull from svn and the build tools should now minify the expandable text with the rest of the js. Now we can get rid of the script imports.

[2015-03-12 22:51] aaronsamuel137 commented on #68
Assigning to @BrianNewsom  - see my comments in #74

[2015-03-12 23:11] schasteen opened #92 "Change YouTube video on Interactive Lecture Demos"
We needed to make a small change to one of our YouTube videos, and so we need to update the page with the new link.

It is the first video at http://phet.colorado.edu/en/for-teachers/lectureDemo

The new link is https://www.youtube.com/watch?v=933XYfUZGUo

[2015-03-13 06:46] BrianNewsom commented on #74
Updated both of these as I think you want.  Let me know if anything is weird.  Sorry I didn't quite get it the first time, I was trying to follow your example but I think a few things changed!

[2015-03-13 16:19] aaronsamuel137 commented on #74
Nice work Brian, thanks! Sorry for changing things on you a little bit.

@oliver-phet, take a look on phet-dev and see if this is doing what you need. The page doesn't automatically scroll to the question when you click a link - since this looked weird when we tried it on the new sim pages - but you can still link to questions like so: http://phet-dev.colorado.edu/en/troubleshooting#q5-header

The

[2015-03-13 16:19] aaronsamuel137 commented on #74
Assigning to @oliver-phet for review.

[2015-03-13 16:27] aaronsamuel137 commented on #68
Nice work on the expandable text updates Brian, thanks!

I've sent you a link to a google doc that has some updates for this page and the troubleshooting page. Can you make these updates (including updating the strings in the database). Thanks!

Also there are a few hrefs that need '#' before them, for instance ```href="mobileDevices-header"``` should be ```href="#mobileDevices-header"```

Assigni

[2015-03-13 16:43] ariel-phet commented on #76
@aaronsamuel137 I went through and unchecked everything. Can you do a query and make sure I didn't miss anything?

Can we also now remove the "ratings" category from the admin page so that the 3 items (classroom tested, guidance, and under construction) cannot be inadvertently checked again?

[2015-03-13 20:15] ariel-phet commented on #87
:+1:  to @amanda-phet suggestion

[2015-03-13 20:30] amanda-phet commented on #87
Here is the mockup for adding a subscribe link right on the newsletter page. Once this is added, we can purge the subscribe page.

![screen shot 2015-03-13 at 2 27 28 pm](https://cloud.githubusercontent.com/assets/7852916/6646718/6820530a-c98d-11e4-9e75-c0f0dfd4a319.png)

[2015-03-13 20:46] amanda-phet opened #93 "Tweaks to mini-banner"
Mockups will be emailed to Aaron to work on implementing before pixel-polishing.

[2015-03-13 21:04] ariel-phet opened #94 "Changes to registration page"
In conjunction with the rollout of HTML5 pages, and the ability to view sim primer videos, we will want to update the registration page to include more information. The exact list will need to be discussed with @kathy-phet but some ideas include:

grade level taught
institution
if the person is also a translator

Also we may want to add a field that suggests we might verify their teacher status

@

[2015-03-13 21:15] ariel-phet opened #95 "When submitting an activity using the link from sim page, autofill sim selection"
@aaronsamuel137 we will want a functionality on the new sim pages where if you choose to share an activity using the "submit an activity" link on the sim page, we will want the sim selection to be autofilled. This should help avoid errors of choosing between the Java sim and the HTML5 sim.

Also if you go to the share an activity section of the website from the link under "For Teachers" you will n

[2015-03-14 01:27] ariel-phet commented on #85
It should get deployed with the new sim pages

[2015-03-14 01:33] ariel-phet opened #96 "Add "Toubleshooting Issues with Linux Installer" in troubleshooting section"
@oliver-phet has been getting requests for troubleshooting for linux users

We should add to our troubleshooting steps something under the heading of "Troubleshooting Issues with the Linux Installer" - we should also probably in that section add some disclaimer about HTML5 sims and that although Linux is not an officially supported platform, these sims should run well in Chrome/Firefox on Linux (i

[2015-03-16 15:14] aaronsamuel137 commented on #92
I'll plan on making this change the next time I deploy the website, which should be sometime this week. If it's urgent for some reason and needs an immediate deploy, let me know, but it will be easier for me if it can wait a few days.

[2015-03-16 15:18] aaronsamuel137 commented on #83
This has been updated on phet-dev. Assigning to @amanda-phet for review.

[2015-03-16 15:54] aaronsamuel137 commented on #85
A few concerns with this:

1. Around 20 urls will be changed if we change the "for-teachers" url to "teaching-resources", since there are about 20 pages that use this prefix (contribution pages, tips pages, workshops pages, etc.). Should we look into redirecting the old urls to the new ones?

2. I assume that the correct title is "Teaching Resources", not "Teacher Resources", but correct me if I'm

[2015-03-16 15:59] aaronsamuel137 commented on #76
Everything looks good on the database end. Thanks!

We should probably also disable these icons from appearing on the new sim pages. I will take care of this we deploying the new sim pages.

[2015-03-16 16:00] amanda-phet commented on #83
Looks really good. @ariel-phet can you confirm that you like it as well and close the issue?

[2015-03-16 16:27] aaronsamuel137 commented on #86
A question about this: when on the sim page in a non-english locale, should the "Back to HTML version" be present? Should they be able to access the HTML5 sim page at all when browsing in non english versions?

[2015-03-16 17:19] ariel-phet commented on #86
Good question. We definitely want them to be able to access the HTML version. So I think the "back to HTML5 version" should be present, and obviously if they click the HTML5 sims in the mini banner they will see all the sims.

[2015-03-16 17:19] ariel-phet commented on #83
Looks good, closing.

[2015-03-16 17:19] #83 closed

[2015-03-16 17:37] ariel-phet opened #97 "Tweaks to HTML5 category page"
@aaronsamuel137 a few more tweaks to the HTML5 sims category page:

http://phet-dev.colorado.edu/en/simulations/category/html

I think we want this page to be consistent with the rest of the site. So we should have:

1. The mini banner
2. The sidebar navigation (this will make the page wide, but not really wider than the teacher resources page -- so be it for the moment)
3. In the sidebar navigati

[2015-03-16 18:02] ariel-phet commented on #85
@amanda-phet - can you comment on the title (Teaching Resources vs. Teacher Resources)

@aaronsamuel137 - I think it will be OK to change the urls...these pages are not widely used yet ( I think if you look at the analytics you will see a small number of hits), so I think it will be a very small usecase of people who have book marked them.

[2015-03-16 18:03] ariel-phet commented on #85
And I see the confusion on the title, since there is conflict between the title in the issue name and the title suggested in the comments

[2015-03-16 18:15] amanda-phet commented on #85
I meant "Teaching Resources" but I don't actually have a preference either way.

[2015-03-16 19:36] ariel-phet commented on #85
Lets go with "Teaching Resources" it has better contrast to the "For Teachers" section title that will be on the sim pages

[2015-03-16 22:25] amanda-phet commented on #79
We have picked some images, so I will email them to @aaronsamuel137 to upload at some point.

[2015-03-16 23:19] aaronsamuel137 commented on #95
OK I've addressed this on phet-dev. Currently sims are double listed, and HTML5 sims have a " (HTML5)" suffix.

Assigning to @ariel-phet for review.

[2015-03-16 23:21] aaronsamuel137 commented on #86
OK this is deployed to phet-dev. Assigning to @ariel-phet for review. You may need to force refresh before this will work.

[2015-03-16 23:23] aaronsamuel137 commented on #85
OK I've gone with Teacher Resources. Assigning to @amanda-phet for review.

[2015-03-16 23:25] aaronsamuel137 commented on #84
OK I've taken a stab at this. Assigning to @amanda-phet for review. Let me know what you think about the hover behavior for the buttons.

[2015-03-17 00:09] ariel-phet commented on #84
Nice first stab. A couple of quick comments:

1. Hover behavior looks really good for the download and embed button (to my eye). Not really digging it for the donate button, since it gets darker not "brighter"

2. Seeing the hover behavior also makes me want to have a hover behavior for the big play button.

3. Font in the Donate, Embed and Download buttons should all be bold

4. The Donate button

[2015-03-17 00:13] ariel-phet commented on #86
Search functionality is working properly.

However, if I am in a locale and go to for instance "new sims" I will see for instance Graphing Lines appear as the Java screenshot, with the Java badge, if I click the screenshot, it takes me to the HTML5 version.

[2015-03-17 00:22] ariel-phet commented on #95
The double listing looks good, however a couple of tweaks:

1. We should make sure the drop down menu is wide enough to accommodate sim names with the (HTML5) suffix

2. If you are on the HTML5 sim it should autofill just the HTML5 version right now I see this behavior:

![capture](https://cloud.githubusercontent.com/assets/4051174/6679115/2c449250-cc09-11e4-94d9-eb8f3f6049c8.PNG)

When I get ther

[2015-03-17 00:23] ariel-phet commented on #88
@amanda-phet and I discussed this possibility and she is working on a mockup.

[2015-03-17 04:43] amanda-phet commented on #88
This is just requesting a redirect link so that we can have a cleaner URL to share.

The mockup for this page is available in issue #87.

[2015-03-17 05:00] amanda-phet commented on #84
It's looking great! The new badges look nice and uniform and the new buttons look really great. @ariel-phet some of my comments below are in response to yours, but I mostly agree with what you said.

Button highlight: I agree that the donate button should have a brighter highlight. Is this something that is a designated color? Should I find the right color for the highlight? Also, I noticed that t

[2015-03-17 06:20] ariel-phet commented on #84
@amanda-phet fair point about the play button. Let's leave it as is in that case.

[2015-03-17 15:09] aaronsamuel137 commented on #84
Sounds good, I'll work on these changes. @amanda-phet, if you have particular highlight colors in mind feel free to send them my way. Currently, I have just left the old highlight colors.

[2015-03-17 15:33] oliver-phet commented on #74
I can't seem to expand the text of a link... is it functional yet? I would like to be able to send a user a link to the troubleshooting issue and have the text expanded for that issue. Is that possible?

[2015-03-17 15:37] amanda-phet commented on #84
@ariel-phet How about this for highlights? (I also changed the orange in the donate button.)

![screen shot 2015-03-17 at 9 36 12 am](https://cloud.githubusercontent.com/assets/7852916/6690955/1df45408-cc89-11e4-8cf0-c3f3253698fb.png)

[2015-03-17 15:44] aaronsamuel137 commented on #84
That looks good to me. If you know the exact color codes, it would save me a step to just post them here - otherwise I have to download the image and go into photoshop to figure it out. But feel free to wait until we get the go-ahead from @ariel-phet

[2015-03-17 16:20] ariel-phet commented on #74
Try doing a "hard refresh" on your browser @oliver-phet

[2015-03-17 16:34] oliver-phet opened #98 "Add 'Linux' troubleshooting page"
We might add more, but for now the first entry should be:
"I'm trying to install the Linux installation of the PhET Offline Website Installer, but running into trouble."

 1. Open the console/terminal.
 2. Navigate to the folder where the download is.
 3. Run the following two commands:
     1. <strong>chmod 777 PhET-Installer_linux.bin</strong>
         - This will give your system permissions to

[2015-03-17 16:35] oliver-phet commented on #96
We might add more, but for now the first entry should be:
"I'm trying to install the Linux installation of the PhET Offline Website Installer, but running into trouble."

Open the console/terminal.
Navigate to the folder where the download is.
Run the following two commands:
chmod 777 PhET-Installer_linux.bin
This will give your system permissions to execute the file.
./PhET-Installer_linux.bin.
T

[2015-03-17 16:35] oliver-phet commented on #98
Closing. Duplicate of #96

[2015-03-17 16:35] #98 closed

[2015-03-17 16:37] oliver-phet commented on #96
Also, please just add a "Linux" link/navigation to the Troubleshooting page (not "Troubleshooting Issues with the Linux Installer") so that we can add other Linux fixes, if necessary.

[2015-03-17 16:44] oliver-phet commented on #74
Yep that did the trick. Thanks @ariel-phet
@aaronsamuel137 and @BrianNewsom This is looking awesome. Unless there is something else that needs added, I think this is ready.

[2015-03-17 17:00] ariel-phet commented on #84
Works for me

[2015-03-17 17:30] aaronsamuel137 commented on #84
@amanda-phet or @ariel-phet, also let me know if you have preferences about the "active" color or style of the button (how it looks when it is being clicked - you can click and hold to see this behavior)

[2015-03-17 18:51] amanda-phet commented on #84
Here are the colors:
![screen shot 2015-03-17 at 12 51 09 pm](https://cloud.githubusercontent.com/assets/7852916/6695106/4f998e5e-cca4-11e4-91a5-8c6d75011d4f.png)

[2015-03-17 20:41] oliver-phet opened #99 ""Share your activity" page: HTML5 version listed first"
@aaronsamuel137 Would it be possible to change the ordering of the 'Simulation(s)' field to keep the sims alphabetized, but order the HTML5 version before the legacy version? Currently, if you start typing the name of a sim that has both versions it will highlight the legacy because it is first in the list.

[2015-03-17 21:25] amanda-phet commented on #85
Looks good to me!

[2015-03-17 21:25] #85 closed

[2015-03-17 21:36] ariel-phet commented on #81
@arouinfar suggested that we make these categories separate and additionally at the top of the Mac category have a link to the troubleshooting (since many people have difficulty opening our java sims on a mac)

[2015-03-17 21:36] arouinfar commented on #82
As decided in today's website design meeting, the "Play with Simulations" button on the home page and the "HTML5 Sims" link in the banner will have the same target -- New Sims. This page will be populated with the HTML5 sims and contain the "Next Generation PhET Sims" YouTube video like the current HTML5 sims page.

We may want to move the YouTube video to the top of the page to reduce the page wi

[2015-03-17 21:40] amanda-phet opened #100 "To Do list for HTML5 sim pages design team"
- [x] redesign tables of activities
  - [x] update default sorting behavior
- [x] redesign tables of translated sims
- [x] design link to legacy activities if no html5 activities available
- [x] improve teacher tips discoverability
- [x] new registration page (#94)
- [x] "new sims" should be all html5 sims (#82)
- [x] clean up activity submission page (https://github.com/phetsims/website/issues/10

[2015-03-17 21:40] amanda-phet opened #101 "To do list for HTML5 sim pages"
- [x] Screenshots with HTML5 aspect ratio (https://github.com/phetsims/tasks/issues/132)
- [x] QA testing
 - [x] make sure website works in different locale
- [x] user/teacher testing
- [x] platform for video primers (https://github.com/phetsims/tasks/issues/181)
- [x] sort through activities and tag compatible ones (https://github.com/phetsims/tasks/issues/194)
 - [ ] get in touch with activity a

[2015-03-17 21:48] arouinfar commented on #81
This could be alleviated by the creation of a YouTube video describing how to run Java sims on a Mac (see https://github.com/phetsims/tasks/issues/195)

[2015-03-17 21:52] aaronsamuel137 commented on #82
In #97, there is a suggestion to make a category "HTML5 Sims" under "New Sims".

Should this new category not be created, and instead just make "New Sims" contain only the html5 sims?

[2015-03-17 22:04] oliver-phet opened #102 "Refinements to Activity Submission page"
- [x] Add 'Licensing Agreement' checkbox and textbox with License to the submission page
- [x] Move Language drop down to "Required" section and autofill with English
- [x] Type and Grade Level checkboxes<br>
~~Sim field -- gray shadow of screenshot with plus sign to add a sim~~
      - [x] choose from a list of sim names with checkboxes in a scrolling dialogue
      - [x] allow to select multiple

[2015-03-17 22:23] arouinfar commented on #97
The 3rd point is no longer necessary because website design team has decided to populate the "New Sims" category with the HTML5 sims (see #82)

[2015-03-17 22:24] arouinfar commented on #82
Good catch, @aaronsamuel137. Having a "HTML5 Sims" category separate from the "New Sims" category would be redundant, as we have decided that the only sims listed under "New Sims" would be our HTML5 sims.

[2015-03-17 23:09] ariel-phet commented on #82
@aaronsamuel137 yes, we discussed this today, see @arouinfar comment above

[2015-03-18 17:01] aaronsamuel137 commented on #84
I've made these changes, assigning to @amanda-phet for review.

[2015-03-18 17:02] aaronsamuel137 commented on #99
I've made this change on phet-dev. Assigning to @oliver-phet for review.

[2015-03-18 17:18] aaronsamuel137 commented on #97
I've made these changes. Assigning to @ariel-phet for review.

[2015-03-18 17:19] ariel-phet commented on #82
To keep the page layout not too wide, we had also considered a possible layout as below, which would highlight the "Future of PhET" video if people wish to watch it

![new sims](https://cloud.githubusercontent.com/assets/4051174/6714913/96c64b5c-cd60-11e4-8f69-7816c2dbe0cb.PNG)

[2015-03-18 17:19] ariel-phet commented on #82
Thoughts on the mockup above @oliver-phet, @amanda-phet, @aaronsamuel137, @arouinfar ?

[2015-03-18 17:23] aaronsamuel137 commented on #82
I like it, though it really highlights the video, which I doubt will be watched on most hits that this page gets.

Take a look at the current phet-dev to see how it currently looks for a comparison. I added the banner and nav locations.

[2015-03-18 17:25] ariel-phet commented on #97
Hey @aaronsamuel137 - nice prompt changes!

One thing I see that is missing is the "switch to index" link that is on other category pages.

Let's fix that.

[2015-03-18 18:05] amanda-phet commented on #84
It looks really good to me. However, before I close the issue... some really minute pixel issues I see:
![screen shot 2015-03-18 at 12 01 59 pm](https://cloud.githubusercontent.com/assets/7852916/6715800/9ec1c11e-cd66-11e4-8bbb-20f5eaf47763.png)

1. The height of the buttons appears to be different. The download/embed seem about 26 px tall and donate 28 px tall. Are these based on the contents or

[2015-03-18 19:51] amanda-phet commented on #82
I hesitate to make the page really wide (like Teacher Resources) because it makes our site look so inconsistent. I would like to see the mockup above where the video is above the list of sims.

[2015-03-18 19:54] ariel-phet commented on #82
Hey @aaronsamuel137, we also discussed with @arouinfar - lets try the centered video version, seems a bit cleaner.

[2015-03-18 20:32] oliver-phet commented on #99
@aaronsamuel137 It looks like if you open the drop down and start typing the name of a sim, the Java/Flash version still gets selected first, even though the HTML5 version is listed first. Is there a way to change this so that the HTML5 version is selected first?

[2015-03-19 00:23] ariel-phet commented on #99
@oliver-phet and @aaronsamuel137 the behavior oliver describes is currently working for me?

[2015-03-19 02:38] aaronsamuel137 commented on #92
OK I've deployed this to figaro. Assigning to @schasteen for review.

[2015-03-19 02:39] aaronsamuel137 commented on #74
Sounds good. I have deployed to figaro. Closing.

[2015-03-19 02:39] #74 closed

[2015-03-19 02:41] aaronsamuel137 commented on #68
@BrianNewsom - I have started updating this from the document I sent you and fixed the hrefs, but there is still more to do.

[2015-03-19 18:56] amanda-phet commented on #99
When I tried to jump to Under Pressure and typed "U", the first one listed (the HTML5 version) was selected, so it seems to be working for me.

[2015-03-19 19:12] amanda-phet commented on #100
Here is our mockup for addressing three of the above checklist items.
To improve discoverability of Teacher Tips, we've separated it from the Video Primer section, changed the text, and added a PDF icon. Clicking the PDF icon should behave the same as clicking the PDF text (opens the PDF in a new tab).

![screen shot 2015-03-19 at 1 01 09 pm](https://cloud.githubusercontent.com/assets/7852916/6738

[2015-03-19 19:16] oliver-phet commented on #99
It looks like the behavior is inconsistent on different machines/browsers. @aaronsamuel137 's and my machine both select the non-html5 version first, even though it is first in the list.
@aaronsamuel137 is going to investigate if it is possible to make the list behavior more consistent.

[2015-03-19 19:52] aaronsamuel137 commented on #99
At a first glance, this issue is not going to be easy to address - most of the dropdown behavior seems to be handled by wicket and/or the browser.

[2015-03-19 20:19] amanda-phet commented on #100
The sorting for activities will be similar to the original with one slight change:
1. Locale
2. Gold Star
3. Date *updated*

[2015-03-19 20:35] amanda-phet opened #103 "English strings for a few languages are inconsistent"
The following languages need to be changed to appear as follows:

- [x] Arabic (Saudi Arabia)
- [x] Chinese (Simplified)
- [x] Chinese (Traditional)
- [ ] Norwegian (Bokmal)
- [ ] Norwegian (Nynorsk)
- [x] Portuguese (Brazil)

[2015-03-20 03:27] amanda-phet commented on #103
After going through these languages it seems like the two Norwegian languages don't need to be changed. There are four different Norwegian strings and these two just don't seem like they are mis-labeled.

[2015-03-20 15:25] ariel-phet commented on #87
@aaronsamuel137 if you feel this is a task @BrianNewsom could handle, feel free to assign it to him.

[2015-03-20 15:31] ariel-phet commented on #91
I agree these links should default to HTML5 sims when available and we should adjust the instructions a bit.

@amanda-phet, why don't you and I take a look a the wording, and @aaronsamuel137 will handle the implementation

[2015-03-20 17:29] schasteen commented on #92
Looks great, thanks!

[2015-03-20 17:29] #92 closed

[2015-03-20 19:38] oliver-phet commented on #99
Let's revisit this once we have a mockup of the new "+" icon to add a sim. To me, the current behavior is acceptable since the HTML5 version is listed first.

[2015-03-20 20:44] #103 closed

[2015-03-21 16:56] ariel-phet opened #104 "Update software requirements for HTML5 sims to read Internet Explorer 10+"
@aaronsamuel137, please update the wording in the windows category to say Internet Explorer 10+ (instead of 9+). Should be a quick change, and we will want to do it before we publish Molecule Shapes.

![capture](https://cloud.githubusercontent.com/assets/4051174/6765920/cf6db3c8-cfb8-11e4-84a5-43379ab36533.PNG)

[2015-03-23 16:44] aaronsamuel137 commented on #93
Do you have a mockup for how you'd like the banner to look when a user is logged in? Right now when a user is logged in it has a link to log out, edit profile, and their email address. For phet team members there is a admin link too.

[2015-03-23 17:38] aaronsamuel137 commented on #93
Also, could you send me the new CU logo image that you want to use if you have it. I can't find it with the white text anywhere. Thanks

[2015-03-23 18:37] amanda-phet commented on #94
@kathy-phet and I met to discuss what information we would like to collect from users and will meet again to look at my mockup.

[2015-03-23 18:39] amanda-phet commented on #93
I sent an email with responses to your questions.

[2015-03-24 03:41] ariel-phet commented on #90
@amanda-phet - assigning this issue back to you. Since you have discussed it with Kathy, feel free to close this issue and perhaps wrap it into the larger front page project.

[2015-03-24 15:25] aaronsamuel137 commented on #95
Assigning to @ariel-phet for review.

[2015-03-24 15:42] ariel-phet commented on #95
Looking good, closing.

[2015-03-24 15:42] #95 closed

[2015-03-24 16:15] amanda-phet commented on #90
It makes sense to wrap it into the front page project now that we have an idea of what will go in the footer.

[2015-03-24 16:15] #90 closed

[2015-03-25 14:58] aaronsamuel137 commented on #104
I've updated this on the html5 sim pages - though right now that is just area builder and ph-scale-basics. I've also updated the requirements section on the FAQ page. Assigning to @ariel-phet for review.

[2015-03-25 15:59] ariel-phet commented on #104
Looks good! Closing

[2015-03-25 15:59] #104 closed

[2015-03-25 16:16] aaronsamuel137 commented on #97
Added switch to index. Assigning to @ariel-phet for review.

[2015-03-25 16:18] aaronsamuel137 commented on #82
Centered version is deployed, assigning to @ariel-phet for review

[2015-03-25 16:20] aaronsamuel137 commented on #84
I've adjusted the text height and made all  of the new buttons have the same padding. @ariel-phet or @amanda-phet, feel free to comment or close the issue.

[2015-03-25 16:22] aaronsamuel137 commented on #93
I've taken a first shot at this. Assigning to @amanda-phet for review.

[2015-03-25 16:23] ariel-phet commented on #82
Looking good, lets close this issue for the moment (we will want @kathy-phet to take a look) but we will have her look over the whole flow of things with the new sim pages, and that review may or may not generate some polishing issues.

[2015-03-25 16:23] #82 closed

[2015-03-25 16:31] aaronsamuel137 commented on #75
I've made a first attempt at this. I expect there may be bugs since this touches a fair amount of the code. Let me know what you think so far.

It seems like we will need to keep our old login page as well. What if somebody has a direct link to a page that requires login? We won't be able to do a popup in this case, so right now it keeps the old behavior of redirecting to the login page.

Assignin

[2015-03-25 16:32] ariel-phet commented on #84
@aaronsamuel137 I think it will be easiest to adjust badge sizes and such in person on Thursday, but overall everything is looking really nice.

@amanda-phet I think we had also considered a couple of tweaks to the "Original Sim and Translations" navigation.

[2015-03-25 16:34] aaronsamuel137 commented on #86
I think this is working properly now. Assigning to @ariel-phet for review.

[2015-03-25 16:35] ariel-phet commented on #97
Looks good, I like the placement of the "Switch to Index". Thanks!

[2015-03-25 16:35] #97 closed

[2015-03-25 16:38] ariel-phet commented on #86
This is all working well. However it does raise a concern we should address. There is now a message that we should adjust on the "new sims" page if you are in a different locale. I will create a new issue and discuss with the team.

[2015-03-25 16:38] #86 closed

[2015-03-25 16:41] ariel-phet opened #105 "New verbiage for message on "New Sims" page when viewing in a locale"
Currently on phet-dev going to "new sims" brings you to our HTML5 sims as we have discussed. If you are viewing the site in a non-english locale you get a message as shown below. We should adjust this message to give an easy link to translated sims or such:

![capture](https://cloud.githubusercontent.com/assets/4051174/6829819/8af3a542-d2db-11e4-8471-f3d52c422731.PNG)

[2015-03-25 16:47] ariel-phet commented on #75
@aaronsamuel137 can you give more detail as to why you wouldn't be able to do a popup in the case you are suggesting? For instance, if I am not logged in, and I click on "Share your Activities" the Sign in dialog appears (which is great behavior).Couldn't it just take you to the page with the Sign in dialog overlayed?

If not it does not seems like a big deal, but maybe we adjust the look of the s

[2015-03-25 16:50] ariel-phet commented on #75
Oh, and two "pixel polish" comments

1. Remover the underlines from the "Forgot password" and "Register" links....just looks cleaner and more modern in the mockup.

2. The "Sign in" button should have a slight round on the corners to match the style of the other flat buttons.

[2015-03-25 17:00] amanda-phet commented on #93
I feel good about the changes. The only strange thing (which I'm not sure I had considered) is if the browser is really narrow and the sign in button goes behind the CU logo. We could make the logo smaller, or perhaps go with the shorter&wider logo.

@ariel-phet what do you think?

[2015-03-25 17:11] amanda-phet commented on #84
The buttons all look consistent now. Before I close this issue, can we make another tweak to the buttons? There seems to be more padding on the left/right sides than on the top/bottom. I'd like to define our button style to have the same padding all around.

![screen shot 2015-03-25 at 11 06 10 am](https://cloud.githubusercontent.com/assets/7852916/6830497/a7b95e34-d2df-11e4-873d-9ae9ded950e0.png)

[2015-03-25 17:15] amanda-phet commented on #75
I am also wondering about why the popup wouldn't work in the scenario above.

I agree with @ariel-phet 's pixel-polish issues above. We are getting rid of underlined links and the button should match the style of our other buttons.

[2015-03-25 17:29] aaronsamuel137 commented on #75
OK so it sounds you want to be redirected to the correct page first, and then have the popup come up. I think this can be done, but there are a few complications because the popup is triggered by javascript and I'm not sure what we'd want to happen if they have javascript disabled.

I'll look into it and let you know what I come up with.

[2015-03-25 17:38] amanda-phet commented on #105
I agree. Can we direct them to the translations section of the legacy page? I notice this URL (http://phet-dev.colorado.edu/en/simulation/legacy/acid-base-solutions#translations) takes me to that section but does not expand it. (Probably because we asked Aaron to change the behavior of these).

[2015-03-25 17:39] aaronsamuel137 commented on #75
Also, doing it this way will require much more changes to the code base, since most of the pages that require login will break if you go to them before a user is logged in.

I think it can be done, but it will be more of a major restructuring of the code. I'l have to spend some time architecting a bit to figure out the best way to go about this. It might be useful to discuss pros and cons in perso

[2015-03-25 17:43] ariel-phet commented on #75
@aaronsamuel137 - I think your original suggestion is fine for now. Basically send them to the login page (other sites that follow this convention, such as banks, or email programs), and it is not worth it to restructure the code.

However, it would be good to make the Sign in page look a bit more like the dialog box.

@amanda-phet - can you make a mockup of an improved look sign in page?

[2015-03-25 17:43] amanda-phet commented on #75
I agree, this is a major change that I didn't anticipate. It might be more appropriate to make this kind of change at a later point.

[2015-03-25 17:44] ariel-phet commented on #75
Plus...as @aaronsamuel137 pointed out, it will only be if someone has a direct link to a page bookmarked

[2015-03-25 17:49] amanda-phet commented on #75
I was just thinking that we should update the look of the sign in page. Since we're doing the activity submission and register pages, I think we should stick with a consistent look.

[2015-03-25 17:59] amanda-phet commented on #75
![screen shot 2015-03-25 at 11 58 57 am](https://cloud.githubusercontent.com/assets/7852916/6831523/6727f3ba-d2e6-11e4-9e71-18ff858e8b7d.png)

[2015-03-25 18:02] ariel-phet commented on #75
I have to say...I really like the dialog when I use it currently. It feels very natural when you click the sign in button, or when you are not signed in and click on one of the side bar navigation links that require sign in.

[2015-03-25 18:07] amanda-phet commented on #75
I didn't actually experience that behavior! When I'm on a sim page and want to share an activity, it takes me to the sign in page. But if I go to Teacher Resources > Share Activity, I get the dialog. It IS nice!

[2015-03-25 18:30] arouinfar commented on #93
The banner is looking nice! I've noticed that the text within the search button is not vertically centered. The search button is also not the same height as the text box, nor are the aligned properly.

![image](https://cloud.githubusercontent.com/assets/8419308/6832101/e55e83cc-d2e9-11e4-85dc-f5dc5a20b5b4.png)

[2015-03-25 19:12] aaronsamuel137 commented on #93
@arouinfar, try refreshing your browser cache (on Mac you can do this with cmd-shift-r). This won't be necessary when we deploy the page to figaro, but whenever you are testing a dev version it is good practice to force refresh just to be sure you are seeing the latest changes.

[2015-03-25 20:39] arouinfar commented on #93
Thanks, @aaronsamuel137 that fixed the issue.

[2015-03-25 20:39] amanda-phet commented on #93
Actually, now that it's looking better, I think a magnifying glass might work even better, as well as using the more CU horizontal logo. @aaronsamuel137 I'll email you the files.

[2015-03-25 20:50] arouinfar commented on #102
After meeting with @amanda-phet and @ariel-phet, there are some further refinements to make:
- [ ] All sections will be required, re-organize the sections to be grouped more logically
   - [ ] Try grouping Type, Grade Level, Subject side-by-side
   - [ ] File selection should be directly after sim selection
   - [ ] Organization should match what is planned for updated activity pages
- [ ] Make Ph

[2015-03-25 21:42] aaronsamuel137 commented on #75
The link on the sim page should make popup instead of redirecting. I'll fix this. Let me know if you know of any other internal links that still redirect to the sign in page.

[2015-03-26 14:14] aaronsamuel137 commented on #105
Directing to that link should expand the text. (It does for me currently). Try refreshing the page and then try the link again.

[2015-03-26 14:21] aaronsamuel137 commented on #87
Assigning to @BrianNewsom. Let me know if you want to discuss this further before you get started on it.

[2015-03-26 16:00] amanda-phet commented on #105
Thanks, it works for me now.

I just realized that link wouldn't make sense in this message because it is sim-specific. I'll keep thinking of a solution.

[2015-03-26 18:37] amanda-phet commented on #87
Also, once this is done, any links that take you to the subscribe page should be changed to take you to the newsletter page (or redirected).

I know that on the home page, there are two links: the social media icons on the right and the link in the footer.

[2015-03-26 20:30] arouinfar opened #106 "Administration utilities not accessible at smaller window sizes"
The Administration, Edit Profile, and Sign Out links at the top of the banner are not clickable if the browser width is too narrow. @aaronsamuel137 has suggested that this issue is due to the layering.

[2015-03-26 21:45] amanda-phet opened #107 "Links to simulations on an activity page"
Background: If an activity can be applied to both the HTML5 version and the legacy version of the sim, both sims will be listed on the activity page.

Issue: At the moment, both sims are named the same and link to the HTML5 page.
- We should identify the HTML5 sim to distinguish the two (eg., Graphing Lines (HTML5), Graphing Lines).
- We also need to change all links to non HTML5 sim pages to go t

[2015-03-26 21:51] amanda-phet opened #108 "More tweaks"
- [x] Remove green arrow decoration from table on home page
- [x] Remove green arrow decoration from principal sponsors banner
- [x] try white outlines for focus elements in banner
- [x] modify search button to connect to entry box, similar to google maps
![screen shot 2015-03-26 at 2 03 08 pm](https://cloud.githubusercontent.com/assets/7852916/6855862/782550dc-d3c1-11e4-8d40-4c649d7e2d9f.png)
- [

[2015-03-30 00:25] aaronsamuel137 commented on #106
This should be fixed now. Assigning to @arouinfar for review.

[2015-03-30 23:15] arouinfar commented on #106
I'm still experiencing the issue. I first tested it in Chrome (my usual browser), and made sure to refresh the page a few times. Then I switched to Firefox. The dev site was not in my Firefox history, but I still refreshed.  The links are only clickable to the right of the red line. For example, if I hover over the A in Administration the link is not clickable, but if I hover over the n, I can cli

[2015-03-31 04:03] aaronsamuel137 commented on #106
Sorry, I forgot to mention that I fixed this on the main website, but not yet on phet-dev. It'll be fixed on phet-dev soon when I merge master back into the new sim branch. Let me know if it works on the main website for you.

[2015-03-31 16:24] arouinfar commented on #106
Sorry for the misunderstanding! I've tested it out on the main site, and things appear to be working properly. I'll leave the issue open until the changes make their way to phet dev too.

[2015-03-31 18:06] oliver-phet commented on #102
@arouinfar .esp and .cck are Energy Skate Park and Circuit Construction Kit save files. I would think we would want to continue to support users uploading those.

[2015-03-31 18:31] patricialoeblein commented on #102
Yes, please continue to support the sim saved files.

Trish

From: oliver-phet [mailto:notifications@github.com]
Sent: Tuesday, March 31, 2015 12:06 PM
To: phetsims/website
Subject: Re: [website] Refinements to Activity Submission page (#102)

@arouinfar<https://github.com/arouinfar> .esp and .cck are Energy Skate Park and Circuit Construction Kit save files. I would think we would want to continu

[2015-03-31 18:46] arouinfar commented on #102
Thanks for your input @oliver-phet and @patricialoeblein. I was not aware that these were sim save files (nor were some others on the team). I had found some obscure chemistry software that uses the .esp extension and a clip art format for the .cck extension, so it was not clear to us why would support these file types. Given that they are sim save files, we will continue to support them.

[2015-03-31 21:01] arouinfar opened #109 "Mac/PC Differences in File Selection on Activity Submission Page"
When uploading an activity file on a Mac, the filename includes a fake path (see below). When uploading a file on a PC, the activity submission page simply lists the file name without the path. Is there a reason the fake path exists for Mac users?

![image](https://cloud.githubusercontent.com/assets/8419308/6929172/0022fd0c-d7b6-11e4-8d1b-3c69948c57fa.png)

[2015-03-31 21:22] amanda-phet commented on #105
This issue is addressed in #108.

[2015-03-31 21:25] amanda-phet commented on #84
Everything looks good now. Closing this issue!

[2015-03-31 21:25] #84 closed

[2015-04-01 21:30] amanda-phet opened #110 "Questions for Trish"
Hey Trish, We have a number of questions that have come up when looking at activities. Would you mind answering them here so we can keep track of your responses?

1. The "approved" checkbox. Do you manually approve all activities before they are posted to the site? Do you remember the reasoning behind having this checkbox?
2. "Answers included" checkbox. Can you tell us about this checkbox and how

[2015-04-01 21:40] arouinfar commented on #102
Further refinements suggested during the website design meeting with @oliver-phet, @amanda-phet, and @ariel-phet

- [ ] Make button padding match the buttons on the main site
- [ ] Decide on the number of sims to display in the scrolling window
- [ ] Change "Submit" to "Submit Activity"
- [ ] Refine text beneath Answers Included checkbox
- [ ] Mock up what happens when a user tries to submit an ac

[2015-04-02 00:11] patricialoeblein commented on #110
Amanda,
See below

Trish Loeblein
Patricia.Loeblein@colorado.edu<mailto:Patricia.Loeblein@colorado.edu>
PhET K12 Specialist http://phet.colorado.edu/
Conifer HS Chemistry teacher conifer-hs.jeffco.k12.co.us/conifer/html/science/ploeblei/
UNC Mines Co-STEM Liaison Specialist   www.unco.edu/nhs/science/MinesUNC_home.html<http://www.unco.edu/nhs/science/MinesUNC_home.html>

From: Amanda McGarry [mail

[2015-04-02 15:20] aaronsamuel137 commented on #106
OK changes should be on phet-dev now. Assigning to @arouinfar for review.

[2015-04-02 15:20] aaronsamuel137 commented on #108
I've addressed these changes. Feel free to uncheck those that you want to tweak some more. Assigning to @amanda-phet for review.

[2015-04-02 16:38] aaronsamuel137 commented on #107
I think this is fixed now, but I am not sure which activity to test on that has both and html5 and legacy sim listed. Assigning to @amanda-phet for review

[2015-04-02 19:23] amanda-phet commented on #107
The activities for Graphing Lines are where I came across this issue. It seems to be fixed! I also checked and the links to the sims go to the correct pages.
![screen shot 2015-04-02 at 1 22 25 pm](https://cloud.githubusercontent.com/assets/7852916/6971675/593da078-d93b-11e4-847a-4662c2318bc0.png)

[2015-04-02 19:24] #107 closed

[2015-04-02 19:36] amanda-phet commented on #108
The search bar looks a little funky in Firefox, but fine in Chrome. Also, the white focus for the search bar doesn't work, but I think we also talked about trying the standard light blue so I'll want to compare different colors for that.

I unchecked two items because I'm not sure if we should revisit them here or not.
* The message for different locales didn't seem updated for all locales- is thi

[2015-04-02 20:58] aaronsamuel137 commented on #108
The reason the message is different in different locales is that I have used the same key for the new message. This way, it will default to the old message translated instead of the new message in English untranslated. If you'd like, we can just delete the key and start over, so all translations will be English until they are retranslated.

Also, I am hesitant to try the native blue focus for the

[2015-04-02 21:38] amanda-phet commented on #108
Since people like the orange focus indicator we can stick with that. I just wanted to try white.

I was planning to make a new issue for the tables so I'll do that now!

[2015-04-02 21:42] amanda-phet opened #111 "Update tables of activities and translations"
Tweaks in #108 included a change to the tables for activities and translations. We updated the appearance and the default sorting for activities. It will be similar to the original with one slight change:
1. Locale
2. Gold Star
3. Date *updated* rather than date *submitted*

[2015-04-02 21:50] amanda-phet commented on #111
My thoughts on the first pass:
* The tables look really good with the new row height standard!
* An HTML5 sim page with no activities should show this message above the submit button: Check out **activities for the original sim** for ideas.
* The top (purple) row of the activities table has clickable titles to sort- they are working really well and I love it. The only tweak is that the titles shou

[2015-04-02 22:05] patricialoeblein commented on #111
I like your solution to the “no activities” – “Check out activities for the original sim for ideas”. I wonder if you might be able to encourage contributions of activities also? Something like “Want to be one of the first to add an activity? Click here” then the click would go to the submission page. Just an idea..

Trish

From: Amanda McGarry [mailto:notifications@github.com]
Sent: Thursday, Apri

[2015-04-02 22:33] amanda-phet opened #112 "Update activity info pages"
Here is an example of an activity page: https://phet.colorado.edu/en/contributions/view/4015

We would like to take the existing information and rearrange it slightly, while also adding a few design elements to organize the information. I will email you mockups and artwork files.

We are also removing the "nominate for a gold star" section based on conversations in #110.

[2015-04-02 22:39] amanda-phet commented on #110
Thank you! After discussing in person it was decided to
1. Remove the "approved" checkbox from activity submission page. If we see an activity that should not be posted, we will delete it.
2. Keep the "answers included" checkbox since some activities do include them.
3. Remove the "nominate for a gold star" option since it doesn't operate well as it is.

[2015-04-02 22:39] #110 closed

[2015-04-02 23:38] arouinfar commented on #108
I've noticed that the tables don't seem to be properly sorting by the Gold Star or PhET columns. For example, if I click on the PhET logo once to bring the PhET-contributed activities to the top, the table will be sorted like:
![image](https://cloud.githubusercontent.com/assets/8419308/6975823/ac11d648-d95e-11e4-8cbf-89b1e007f829.png)

[2015-04-02 23:39] arouinfar commented on #111
I've noticed that the activity table doesn't seem to be properly sorting by the Gold Star or PhET columns. For example, if I click on the PhET logo once to bring the PhET-contributed activities to the top, the table will be sorted like:
![image](https://cloud.githubusercontent.com/assets/8419308/6975823/ac11d648-d95e-11e4-8cbf-89b1e007f829.png)

[2015-04-03 15:42] aaronsamuel137 commented on #111
@amanda-phet, where do you want the "Check out activities for the original sim for ideas" link to go to?

[2015-04-03 16:17] aaronsamuel137 opened #113 "Navigation links are too close to links on new sim pages"
The navigation link click area should be smaller so it doesn't interfere with links on the main content of the page. This is especially noticeable on the new sim pages with the "ABOUT" expandable text.

[2015-04-03 17:03] amanda-phet commented on #111
If it was ESPB, the link would go to http://phet-dev.colorado.edu/en/simulation/legacy/energy-skate-park-basics#for-teachers-header. The link would be unique to each sim.

If this is difficult, maybe we can wait until we've looked at the activities for each sim. Many of the HTML5 sims will have at least one activity so this might be irrelevant. However, in interviews (yes- I've conducted some!), u

[2015-04-03 17:19] aaronsamuel137 commented on #111
Sounds good, that's what I figured it should be. It's not difficult. Let me know if you want the link on every HTML5 page for sure.

[2015-04-04 01:50] aaronsamuel137 commented on #113
I've put some padding between the navigation links and the page content. Assigning to @ariel-phet for review.

[2015-04-04 18:52] ariel-phet opened #114 "Layout/visual improvements to PhET Design Guidelines Page"
This was issue https://github.com/phetsims/tasks/issues/209 but really belongs in the website repo

We thought this page could use some pixel polishing:
http://phet-dev.colorado.edu/en/teaching-resources/activity-guide

@oliver-phet will do a mockup

[2015-04-04 19:11] ariel-phet commented on #113
Looking good... there is definitely not interference with the sidebar navigation now.

I would make one small tweak which is to extend the active area for the expandable heading a little on the left (I think 20-30 or pixels or so would do it), just so you don't have to be super precise if you are clicking on the arrows (for some reason my instinct is to click near the left edge of the grey arrows

[2015-04-05 17:52] aaronsamuel137 commented on #91
These links are now defaulting to html5 sims when available. Do we want to have an option to download the legacy version too?

[2015-04-05 18:15] aaronsamuel137 commented on #113
OK I've extended the clickable area to the left a little bit (20px). Assigning to @ariel-phet for review.

[2015-04-05 18:27] ariel-phet commented on #113
Looks great! Closing

[2015-04-05 18:27] #113 closed

[2015-04-06 15:07] aaronsamuel137 commented on #111
I've made the changes and fixes. HTML sims that have activities will have a link to "browse more activities". Assigning to @amanda-phet for review.

@arouinfar, I think I fixed the bug you mentioned, but let me know if it is working for you.

[2015-04-06 15:32] ariel-phet opened #115 "Teacher Primer Screenshot"
@aaronsamuel137 said

If this is an issue, I see two ways around it:

 1.   Don't show the video at all unless someone is logged in.
 2.  Just show a screenshot of the video instead when they are not logged in. (This option is more work since we'll have to take screenshots of every video and host them somewhere ourselves).

[2015-04-06 15:33] ariel-phet commented on #115
@amanda-phet can you give your thoughts on this issue and also perhaps plan to bring it up at the next status meeting?

[2015-04-06 15:53] amanda-phet commented on #91
That probably makes sense, and since we're using Sim Name (HTML5) to distinguish from the legacy sim, we'll probably want to do the same here.

We/I should still spend some more time thinking about this page in general and if we want to make updates after the current HTML5 sim page rollout.

[2015-04-06 15:54] arouinfar commented on #111
The sorting issue appears to have been fixed. Thanks, @aaronsamuel137!

[2015-04-06 15:58] amanda-phet commented on #115
This is a similar issue that we had with YouTube, but again I don't think teachers will go through that kind of trouble to access the video.

Just for clarification, how could you view the page source when not logged in?

[2015-04-06 16:02] amanda-phet commented on #115
I get it- right-click and view page source, then you can find the vimeo URL. Yeah, that is definitely possibly if someone is truly looking for the URL! Again, I don't think this is a serious concern.

Will there be a public Vimeo page?

[2015-04-06 16:09] ariel-phet commented on #115
@amanda-phet and @aaronsamuel137 - another option to consider might be to have some very "generic" sim primer screenshot when you are not logged in. That seems like it would be an easy compromise, and mean we would not need a separate screen shot for each primer, and keep everything nice and private.

[2015-04-06 16:11] aaronsamuel137 commented on #115
That sounds like a nice solution to me.

[2015-04-06 18:00] aaronsamuel137 commented on #108
@amanda-phet, a few questions about the unchecked items:

1. Should we delete all translations and start from scratch for the new message on the html5 sim page, or default to the old translation until somebody makes a new translation?

2. Regarding the video alignment, I am not sure what you are wanting. It looks fairly aligned to me. Maybe we should discuss in person to adjust it more?

[2015-04-06 18:05] aaronsamuel137 commented on #75
I've added the new login page layout. Assigning to @amanda-phet for review. Should I redo the register page with a similar style for the input boxes too?

Also, are there any other thoughts about the login dialog in general?

[2015-04-06 18:29] amanda-phet commented on #75
Can you suggest a route to get to the new login page? I keep getting the dialog box (which is awesome!).

Don't do the register page yet- I still have to meet with Kathy about the changes to that page.

[2015-04-06 18:32] aaronsamuel137 commented on #75
Try phet-dev.colorado.edu/en/teaching-resources/submit-activity

[2015-04-06 18:48] aaronsamuel137 commented on #79
New photos are up: http://phet-dev.colorado.edu/en/simulations/category/by-level

Assigning to @amanda-phet for review

[2015-04-06 18:50] aaronsamuel137 commented on #91
I've updated this page to display both sim version and have a (HTML5) suffix for the html ones: https://phet-dev.colorado.edu/en/get-phet/one-at-a-time

Assigning to @amanda-phet for review and next steps.

[2015-04-06 18:53] amanda-phet commented on #79
Looks perfect to me. Assigning to @ariel-phet to confirm and close this issue.

[2015-04-06 18:56] amanda-phet commented on #75
That worked. It looks good to me, and that is definitely the same style we will want to use on the registration and activity submission pages. Just two tweaks:
* The "Remember me" checkbox doesn't seem aligned with the text
* Let's make the SIGN IN button (for the page and the dialog) match our other buttons in size and with bold text
![screen shot 2015-04-06 at 12 54 28 pm](https://cloud.githubus

[2015-04-06 19:06] ariel-phet commented on #79
Yeah, I think these look great!

@aaronsamuel137 please push to the main website when you get a chance, please close the issue once deployed

[2015-04-06 19:20] amanda-phet commented on #91
That looks good to me. I am wondering if we can make flash download files as well, or if those also need to be .jar when downloaded?

While I want to make major changes to these pages, I think just a few small ones will make me happy for now.

1. Is this accurate to say (in the first column) that flash sims can not be saved to the computer when using the website while connected to the web? and tha

[2015-04-06 20:02] amanda-phet commented on #108
1. Defer to @ariel-phet because I'm not sure what the best way to go is. I didn't realize until your comment that it was intentional.
2. I thought the width of the video would match the width of the text. They are definitely left-aligned just right, but the right alignment is off. Is there a good solution for this?
![screen shot 2015-04-06 at 2 00 31 pm](https://cloud.githubusercontent.com/assets/

[2015-04-07 02:29] aaronsamuel137 commented on #108
OK the video is right aligned with the text now. It's hard to tell for sure, since the text doesn't always end up exactly at the edge of it's container, but it's the best I can do.

[2015-04-07 05:55] BrianNewsom commented on #68
Updated in #116, assigning to Aaron for review.

[2015-04-07 18:47] aaronsamuel137 commented on #75
Checkbox and submit button are updated. Assigning to @amanda-phet for review

[2015-04-07 18:51] aaronsamuel137 commented on #102
I have some bandwidth to start on this if need be, but I want to check if the mockups in the sim pages doc are generally good to work from or if I should wait until things are more finalized. Thoughts @ariel-phet and @arouinfar?

[2015-04-07 18:56] arouinfar commented on #102
We have generally settled on the look for the activity submission page, but it's a bit different from what's currently in the design doc. The only outstanding issues are the remaining unchecked items in my previous comment. I will go ahead and update the screenshots in the doc and email a higher res version to @aaronsamuel13.

[2015-04-08 00:25] arouinfar opened #117 "Handling empty fields on the activity submission page"
We have talked about redesigning the way the activity submission page warns users about empty fields. Ideally, the empty fields would be highlighted to make it more immediately noticeable what information is missing.

There would be a new warning at the top of the page accompanied by the text already generated by the website:
![image](https://cloud.githubusercontent.com/assets/8419308/7036480/b886

[2015-04-08 16:16] amanda-phet commented on #75
Looks good on Chrome, but Firefox always seems to have issues.
Firefox button:
![screen shot 2015-04-08 at 9 14 24 am](https://cloud.githubusercontent.com/assets/7852916/7049624/ca021170-ddcf-11e4-9706-b70afe9aca69.png)

Chrome button:
![screen shot 2015-04-08 at 9 15 44 am](https://cloud.githubusercontent.com/assets/7852916/7049631/db102fec-ddcf-11e4-958b-460b6ae530ef.png)

I assume this will get

[2015-04-08 16:17] #75 closed

[2015-04-08 19:50] amanda-phet commented on #108
It seems fine on the Area Builder page but I couldn’t find another page with a video to compare. I’d say it looks good to me!

---
Amanda McGarry
PhET Interactive Simulations
http://phet.colorado.edu

On Apr 6, 2015, at 7:29 PM, Aaron Davis <notifications@github.com<mailto:notifications@github.com>> wrote:

OK the video is right aligned with the text now. It's hard to tell for sure, since the text

[2015-04-08 20:15] oliver-phet commented on #99
This is acceptable in the current version.

[2015-04-08 20:15] #99 closed

[2015-04-09 04:59] aaronsamuel137 commented on #79
Deployed. Closing

[2015-04-09 04:59] #79 closed

[2015-04-09 05:00] aaronsamuel137 commented on #68
These changes have been deployed to figaro. Assigning to @oliver-phet for review.

[2015-04-09 16:16] oliver-phet commented on #68
It looks like the system requirements (faq#q2), but the google doc had updates for others as well (screen resolution, iPad/tablet) Can these be updated too?

[2015-04-09 18:24] aaronsamuel137 opened #118 "Allow requirements to be updated via admin page"
We discussed in 4/9/15 dev meeting that we want to stay on top of updating our system requirements for the website.

To make this easier for the team, I will make a way to update the system requirements via the admin interface.

[2015-04-09 19:23] aaronsamuel137 opened #119 "Add column to user table for "trusted translator""

[2015-04-09 21:15] aaronsamuel137 commented on #68
They look like the document to me. Are you looking at phet-dev or the main site? I have updated this only on the main site for now.

When I address #118 I will make a way for you to edit these FAQ and troubleshooting entries directly. This will make future changes like this much easier.

[2015-04-09 21:26] oliver-phet commented on #68
Yep looks good. I was looking at dev.

[2015-04-09 21:31] aaronsamuel137 commented on #68
OK great. I am closing this issue.

[2015-04-09 21:31] #68 closed

[2015-04-13 14:49] aaronsamuel137 commented on #119
I've added this column to phet-dev. Assigning to @oliver-phet to review the admin interface for adding a trusted translator. To mark a user as a trusted translator, you just need to look them up by email and check the "trusted translator" box.

If it looks good, I'll make this change on figaro too.

[2015-04-13 18:22] phet-steele opened #120 "Embed link layering"
Clicking on "Embed" underneath each sim screenshot on each sim page opens a menu that is layered behind the text for the drop down menus ( "About", "For Teachers", etc.).

![embed layerz](https://cloud.githubusercontent.com/assets/5863899/7122272/9bab90d8-e1d7-11e4-9ea9-deb6329f80a2.png)

Tested on each Win 8.1 browser.

[2015-04-13 20:06] phet-steele opened #121 "Right to left languages layering"
Languages that read right to left encounter layering issues below sim screenshots:

![r2l layerz](https://cloud.githubusercontent.com/assets/5863899/7124455/359561ca-e1e6-11e4-8efc-aeaffaa06713.png)

Tested on Win 8.1

[2015-04-13 20:15] phet-steele opened #122 "Right to left languages search bar"
Languages reading right to left have a magnifying glass that is improperly placed:

![r2l layerz2](https://cloud.githubusercontent.com/assets/5863899/7124576/680895ea-e1e7-11e4-960c-356665b27645.png)

Tested on Win 8.1

[2015-04-13 20:22] phet-steele commented on #122
Also, if I understand right to left languages at all, the cursor in the search bar should be moving to the left while typing, not the right.

[2015-04-15 15:03] aaronsamuel137 opened #123 "Reformat html code to match sim code"
HTML files should match the 2 space indent used elsewhere in PhET code. Since auto-formatting HTML can possibly break things, I will do this gradually when I happen to work on HTML files that need reformatting.

This issue is just for tracking the commits incase anything breaks.

[2015-04-15 16:53] aaronsamuel137 commented on #117
I'm working on this now - I think it will be feasible and not delay the launch, but I will let you know if I run into any unexpected difficulties.

[2015-04-15 17:48] phet-steele opened #124 "Orange "Share" button on Teacher Resources page links incorrectly to a sign in page"
The ideal behavior is that the button links to the new sign in pop up, instead of being redirected to the old sign in page.
Tested on Win 8.1 browsers.

[2015-04-15 18:01] aaronsamuel137 commented on #102
@arouinfar, are we going to stop keeping track of the standards? I don't see these on the new mockup.

![screen shot 2015-04-15 at 11 59 28 am](https://cloud.githubusercontent.com/assets/3193912/7165769/f1574d66-e366-11e4-8656-fafaf0a36b80.png)

[2015-04-15 18:04] arouinfar commented on #102
@aaronsamuel137, we will be removing these particular standards, as they are now outdated. We will be addressing NGSS and CCSS-M standards alignment in the future, but that will be a more complicated project.

[2015-04-15 18:05] aaronsamuel137 commented on #122
I've moved the magnifying glass (you might need to force refresh to see this change take place). The cursor seems to be moving to the left for me.

[2015-04-15 18:06] aaronsamuel137 commented on #121
This should be fixed. @phet-steele, will you take a look and see if it works for you? (You might need to force refresh).

[2015-04-15 18:08] aaronsamuel137 commented on #120
Fixed. Closing

[2015-04-15 18:08] #120 closed

[2015-04-15 18:20] phet-steele commented on #121
Yup :+1:

[2015-04-15 18:20] #121 closed

[2015-04-15 18:29] phet-steele commented on #122
Both Chrome and IE11 look fixed, but FF it's still too far to the right. I did make sure to clear the FF cache.

[2015-04-15 18:37] phet-steele opened #125 "Scrolling video player blanks out"
Similar to #38, the video player on the front page is still having issues on Win 8.1 browsers.

![lonely wave](https://cloud.githubusercontent.com/assets/5863899/7165775/f852ffac-e366-11e4-94ed-59e9c5f54ca5.png)

I didn't have issues on Monday (4/13) but am seeing them now (4/15). I notice it most often when I start on a page other than the home page, then click the PhET logo to return home.
This

[2015-04-15 18:39] aaronsamuel137 commented on #125
Can you open the javascript console next time you see this and let me know if there are any errors?

[2015-04-15 19:36] phet-steele commented on #125
I don't see any errors in the console, across all browsers.

[2015-04-15 20:07] phet-steele opened #126 "Large sponsor images on sim pages"
My judgement on whether the image for a sponsor was too large or not was based on if the image forced the orange line under the screenshot to be shifted downward.
The ones I encountered:
AACT
Royal Society of Chemistry
ECS
Science 4 Us
JCESC
Norton

[2015-04-15 22:04] aaronsamuel137 commented on #125
A few more questions for you:

1. Does this happen only on phet-dev or on the main site too?
2. Did you get the video into a state where the player was not advancing and the names not displaying and then look at the console? I think the weird video playback is a different issue than the videos themselves getting funky.
3. What browsers does are these bugs reproducible on? I have never come across

[2015-04-16 17:27] orejolaphet opened #127 "Colon appears before "Support PhET" on 3 translated home pages."
Tested on 10.9.4, Chrome 41
The following pages have the Colon before "Support PhET".
http://phet-dev.colorado.edu/fa/
http://phet-dev.colorado.edu/ar_SA/
http://phet-dev.colorado.edu/ku/
That is, it appears as
![screen shot 2015-04-16 at 11 18 53 am](https://cloud.githubusercontent.com/assets/5631059/7187041/348129e4-e42b-11e4-958a-f018734b3f4e.png)
On the english page and all others
![screen sho

[2015-04-16 17:33] orejolaphet opened #128 "The arrangement of the home screen is in the opposite order for 3 translated home pages"
Tested on 10.9.4, Chrome 41
For the following translated home pages, the home screen is arranged in an opposite order
http://phet-dev.colorado.edu/fa/
http://phet-dev.colorado.edu/ar_SA/
http://phet-dev.colorado.edu/ku/
The 3 translated home pages have the following order:
![screen shot 2015-04-16 at 11 33 11 am](https://cloud.githubusercontent.com/assets/5631059/7187225/5dafcde2-e42c-11e4-82fe-de

[2015-04-16 17:38] orejolaphet commented on #128
Ordering of the translated links at the bottom of the screen are also in reversed for the same 3 translated pages.
On the 3 translated pages:
![screen shot 2015-04-16 at 11 36 20 am](https://cloud.githubusercontent.com/assets/5631059/7187326/03eb3a70-e42d-11e4-966a-2cf816ea091c.png)
On the english page and all other pages:
![screen shot 2015-04-16 at 11 36 37 am](https://cloud.githubusercontent.co

[2015-04-16 17:55] orejolaphet opened #129 "Arrows Overlap Text on "FAQ" and "Troubleshooting" pages."
Tested on 10.9.4, Chrome 41
The arrows over lap the text for each bullet point on the FAQs and Troubleshooting pages:
https://phet-dev.colorado.edu/en/faqs
https://phet-dev.colorado.edu/en/troubleshooting

![screen shot 2015-04-16 at 11 54 50 am](https://cloud.githubusercontent.com/assets/5631059/7187669/6d305748-e42f-11e4-8a0f-6d4be1a5bf01.png)
![screen shot 2015-04-16 at 11 55 03 am](https://clo

[2015-04-16 18:04] orejolaphet commented on #129
Also includes sub pages of "Troubleshooting".
Troubleshooting>mac https://phet-dev.colorado.edu/en/troubleshooting/mac
Troubleshooting>windows https://phet-dev.colorado.edu/en/troubleshooting/windows

![screen shot 2015-04-16 at 12 04 06 pm](https://cloud.githubusercontent.com/assets/5631059/7187835/be78b360-e430-11e4-8d43-857aae14b53a.png)
![screen shot 2015-04-16 at 12 04 11 pm](https://cloud.gi

[2015-04-17 17:31] phet-steele commented on #125
1. Yes I see it on the main site.
2. No I haven't checked the console in the case of the player not advancing , I'll get on that.
3. Chrome 42.0.2311.90 m
    FF 37.0.1
    IE 11.0.9600.17690

What is working well for me to get it to be reproduced is to first click on the donate link in the banner, then click the PhET logo on that page (but it also just happens sometimes when first loading the pag

[2015-04-17 17:37] phet-steele commented on #129
Also seeing this on Win 8.1 today (4/17), but again don't remember seeing them on 4/13.

[2015-04-17 17:41] phet-steele commented on #128
@orejolaphet this is because these languages are written and read from right to left, so this is intentional albeit weird, I know.

[2015-04-17 17:41] #128 closed

[2015-04-17 17:45] phet-steele commented on #127
@orejolaphet this is because these languages are read from right to left, but I do agree it looks strange. @aaronsamuel137 I do believe there might be a way to move the colon to the other side? From what I've read about RTL languages it seems like in some cases the colon being to the right of PhET is okay. But if all else fails what if we move the "Donate Today" button to the left of the words or

[2015-04-17 19:29] aaronsamuel137 commented on #125
I can't reproduce this, and I have no idea how I would address it even if I could. I assume it has something to do with how the HTML5 video player interoperates with your particular setup. It might be a Win8.1 issue. Have you experienced this on other OS versions? Does it happen often for you or rarely?

The player not advancing is possibly a bug in our code - so let me know for sure about this if

[2015-04-17 19:31] aaronsamuel137 commented on #127
I'm inclined to ignore this - it will go away when the page is properly translated. This is just what happens when an english string with a colon is rendered in a rtl page. There could be work arounds, but it would be a little clunky.

@ariel-phet - let me know if you'd like me to fix this or not.

[2015-04-17 19:32] aaronsamuel137 commented on #129
This is a new bug caused by updating the expandable text arrows to work with rtl languages. I'll work on fixing it.

[2015-04-18 03:20] amanda-phet commented on #111
Everything here looks good so I'm closing this issue.

[2015-04-18 03:20] #111 closed

[2015-04-18 03:24] amanda-phet commented on #108
As for the translation issue, I think your solutions makes sense. Closing.

[2015-04-18 03:24] #108 closed

[2015-04-19 17:34] ariel-phet commented on #127
@orejolaphet and @phet-steele - great attention to detail, however, I think @aaronsamuel137 has the correct approach in this case - allow translators to fix the oddness. Although it looks funny, only someone viewing the site in these locales will see it that way (and they likely do not speak english, so it will have little meaning until translated)

[2015-04-19 17:34] #127 closed

[2015-04-21 15:10] aaronsamuel137 commented on #122
I think magnifying glass should be fixed in FF now. (You'll probably need to refresh your browser cache).

Assigning to @phet-steele for review.

[2015-04-21 15:17] aaronsamuel137 commented on #124
This should be fixed now. Assigning to @phet-steele for review.

[2015-04-21 17:15] orejolaphet commented on #129
This issue is no-longer present on osx 10.9.5 Chrome, FF, and Safari

[2015-04-21 17:18] aaronsamuel137 commented on #129
Sounds good. I'm closing the issue in that case.

[2015-04-21 17:18] #129 closed

[2015-04-21 17:27] ariel-phet opened #130 "On Java sims "Translate This Sim" button should go to translation utility page"
Currently, on phet-dev clicking the "translate this sim" does not work properly

Clicking this button should take you to the PhET Translation Utility page

http://phet-dev.colorado.edu/en/for-translators/translation-utility

[2015-04-21 17:29] arouinfar opened #131 "Update the gold star tool tip"
The tool tip for gold stars refers to a PDF, implying it contains a clickable link. The text should be updated to remove this reference.

![image](https://cloud.githubusercontent.com/assets/8419308/7258193/2a8fedda-e818-11e4-9268-aced921d78b2.png)

[2015-04-21 17:29] oliver-phet opened #132 "'University of Colorado' logo changes"
Smaller, aligned, greyscale

Currently on phet-dev, the logo is horizontally oriented. We want to keep that logo, but would like a smaller version. The logo also needs to be aligned properly so that when the window is at 768 horizontal pixels, the logo and Sign In/Register buttons are fully visible and right aligned.

Here are screenshots at 768 horizontal:
Mockup:
![screen shot 2015-04-21 at 11 2

[2015-04-21 18:11] oliver-phet commented on #102
At a design meeting on 4/21 these outstanding issues were identified that need to be completed:
- [ ] Add 'Want a Gold Star' panel with tooltip, and remove "Please check the PhET Design Guidelines (PDF)"
- [ ] If coming from a sim page, check that sim by default
- [ ] Language is pulling from locale the website is being viewed in
- [ ] Add period to the sentence "Please be aware that all users can

[2015-04-21 18:19] #100 closed

[2015-04-21 18:29] amanda-phet commented on #124
Looks good. Closing.

[2015-04-21 18:29] #124 closed

[2015-04-21 18:35] amanda-phet commented on #115
That's fine. Let's use a generic sim primer screenshot for when you're not logged in. When you are logged in, it will be a thumbnail from the video.

I will look in to finding a generic screenshot, but for now none of the sims will have a primer so this is low priority.

[2015-04-21 18:38] ariel-phet commented on #40
None of these solutions worked...closing

[2015-04-21 18:38] #40 closed

[2015-04-21 18:40] amanda-phet opened #133 "Final pixel polishing"
- [x] Remove the "find more information for translators" text/link under the translations table
- [x] Remember what sections on a sim page are open if you navigate away and then back (ex: click activity, click back, "For Teachers" should still be expanded)
- [x] Move "Sample Learning Goals" section up to "About"

[2015-04-21 18:44] amanda-phet commented on #93
#132 addresses tweaks to the CU logo. Closing this issue.

[2015-04-21 18:44] #93 closed

[2015-04-21 18:46] amanda-phet commented on #109
This appears to be fixed on phet-dev right now.

[2015-04-21 18:46] #109 closed

[2015-04-21 18:52] amanda-phet commented on #122
Looked at by @ariel-phet @arouinfar and myself. Looks good.

[2015-04-21 18:52] #122 closed

[2015-04-21 19:02] amanda-phet opened #134 "Reciprocal Related Sims"
It looks like @patricialoeblein had @phet-steele  working on a spreadsheet identifying sims that linked to related sims (but that didn't link back). I suppose this was created so that we could manually add these related sims.

Ideally, @aaronsamuel137 could come up with a way for this to be automatically done whenever someone adds a related sim for one sim page, that sim gets added to the other si

[2015-04-21 19:10] #105 closed

[2015-04-21 19:37] aaronsamuel137 commented on #102
What should the gold star panel tool tip say?

[2015-04-21 19:53] aaronsamuel137 commented on #102
It uses the new screenshot if it exists. There are still some sims that don't have new screenshots, most notably many of the legacy versions of sims that have HTML5 versions.

We could also look into scaling these thumbnails in the browser if we don't want to worry about new screenshots.

[2015-04-21 20:09] patricialoeblein commented on #134
One reason we made a spreadsheet was to enable the metadata review. It would be a good idea to decide how many sims should ideally be linked - at one time there was a discussion of having a maximum. This summer we hope to have a thorough review including keywords, links to NDSL, etc. As part of that plan it would be helpful it the spreadsheet were maintained.

[2015-04-21 20:56] arouinfar commented on #131
Because the gold star logo is not always attached to a specific activity (e.g. the activity submission page) the text should not read as though it is referring to a specific contribution.

@ariel-phet, @amanda-phet, what about this:

A gold star is used to indicate high quality, inquiry-based activities that follow the PhET design guidelines and that teachers have found to be useful.

[2015-04-21 20:56] arouinfar commented on #102
@aaronsamuel137 the gold star panel tool tip text should match the current gold star tool tip, but that language will be updated (see #131)

[2015-04-21 21:52] aaronsamuel137 commented on #102
Just to confirm - we are no longer wanting any approval process from contributions? This means that any user can submit a contribution and it will immediately appear on the website.

Also, I am assuming the fromPhet and goldStar checkboxes should only appear if you are a phet team member, as is happening now.

[2015-04-21 22:25] ariel-phet commented on #102
@aaronsamuel137 - that is correct. Currently, all submissions are approved anyhow, so it is a historical control that is now unnecessary.

And yes, fromPhet and goldStar should only appear if you have admin privileges

[2015-04-21 22:25] arouinfar commented on #102
@aaronsamuel137, we do not manually approve activities -- they are all approved by default. I created a dummy account to see if the box appears on non-admin accounts, and it doesn't.

The PhET and Gold Star checkboxes should only appear on admin accounts, as they do now.

[2015-04-23 02:36] ariel-phet commented on #131
I am all for minimal text.... maybe just go with:

A gold star indicates high quality, inquiry-based activities that follow the PhET design guidelines.

(I feel like the "high quality" implies that teachers have found them to be useful)

[2015-04-23 02:44] ariel-phet commented on #94
@amanda-phet and @aaronsamuel137 - should we also perhaps have a CAPTCHA step for this page?

[2015-04-23 03:31] kathy-phet commented on #94
Seems like good option to me too. Although I think this is partially what the email confirmation process does too for creating an account... So we know we have a good email? It's been so long I cannot quite remember all the steps that we currently require.

Kathy

Sent from my iPhone

On Apr 22, 2015, at 8:43 PM, Ariel Paul <notifications@github.com<mailto:notifications@github.com>> wrote:

@amand

[2015-04-23 03:43] ariel-phet commented on #94
I don't think we necessarily need to have this step immediately, but it seems like many websites that verify emails (such as facebook) also have CAPTCHA...I think there are some pretty sophisticated bots out there these days.

[2015-04-23 15:56] bryo5363 opened #135 "Registration page not fully working"
I was not able to select a country on the registration page and received the following error

![screen shot 2015-04-23 at 9 55 05 am](https://cloud.githubusercontent.com/assets/7717368/7301297/0d664082-e99f-11e4-9061-4f14e4353450.png)

[2015-04-23 16:01] bryo5363 opened #136 "Should LTR languages display the whole page LTR?"
I noticed when using a left-to-right reading language that the whole front page was altered to left-to-right

Dutch
![screen shot 2015-04-23 at 9 58 12 am](https://cloud.githubusercontent.com/assets/7717368/7301378/9ad1dcce-e99f-11e4-9fb2-b8eb36cd61db.png)

Arabic
![screen shot 2015-04-23 at 9 58 25 am](https://cloud.githubusercontent.com/assets/7717368/7301383/a2df794e-e99f-11e4-862c-b0d8cd235058

[2015-04-23 16:06] aaronsamuel137 commented on #135
This page isn't finished yet. I'll let you know when it's ready for testing.

[2015-04-23 16:08] aaronsamuel137 commented on #136
I'm inclined to not do anything about this. Assigning to @ariel-phet to comment or close.

[2015-04-23 16:22] ariel-phet commented on #136
This is the correct behavior (since in a RTL language, viewers will tend to see the play with sims button first in their visual scan)

[2015-04-23 16:22] #136 closed

[2015-04-23 16:51] bryo5363 opened #137 "Flash and HTML5 icons not positioned correctly on Windows 7"
When opening the sim page in Arabic on Windows 7 IE 11 I observed the following

![screenshot1](https://cloud.githubusercontent.com/assets/7717368/7302441/afba8120-e9a6-11e4-9590-1233370a14de.png)

[2015-04-23 17:59] arouinfar commented on #131
I agree @ariel-phet. I'll go ahead and close this issue and provide @aaronsamuel137 with the updated text.

[2015-04-23 17:59] #131 closed

[2015-04-23 18:01] arouinfar commented on #102
@aaronsamuel137, we have updated the gold star tool tip text to read:

A gold star indicates high quality, inquiry-based activities that follow the PhET design guidelines.

[2015-04-23 18:06] amanda-phet commented on #102
I request that we use a hyphen in "high quality" (so that it would be "high-quality" instead) since we are using the phrase as an adjective.

[2015-04-23 18:33] arouinfar commented on #102
Great point, @amanda-phet. Please use the hyphen as @amanda-phet has requested, @aaronsamuel137.

[2015-04-24 00:02] patricialoeblein commented on #131
Actually we give Gold stars before anyone says that the activity is useful. I don’t mind the addition, I just thought I would clarify. There are many activities that other teachers like and find useful, but we don’t think they leverage the sims’ ability for students to drive their own learning.

Trish

From: Ariel Paul [mailto:notifications@github.com]
Sent: Wednesday, April 22, 2015 8:37 PM
To: p

[2015-04-24 12:28] patricialoeblein commented on #131
Sorry for the last comment. As I read the thread more carefully, I see that no one is suggesting adding the  anything that implies that teachers find this  particular activity useful. I do like the "high quality" .  I would like to remove my previous comment.

[2015-04-24 16:20] arouinfar commented on #131
No problem! Thanks for your input, @patricialoeblein.

[2015-04-24 16:32] BrianNewsom commented on #112
@aaronsamuel137 Included a pull request #138 with some styling updates to this page.

A few things:
* The table is more spaced out.  I used the phet table class.  I can override this and make it more compact, but I didn't want to make it inconsistent styling wise. Let me know and I can fix that pretty quickly.
* I'm not sure if I have to style the breadcrumbs, if they are already updated on phet-d

[2015-04-24 16:49] amanda-phet commented on #131
For clarification, the original tooltip reads:

This activity has received a gold star because it is a high quality inquiry-based activity that follows the PhET design guidelines (PDF) and teachers have found it useful.

[2015-04-24 17:12] patricialoeblein commented on #131
Thanks Amanda,
I made the mistake of just reading the email notification instead of going directly to GitHub to read the entire thread. Lesson 1M learned.

Trish

From: Amanda McGarry [mailto:notifications@github.com]
Sent: Friday, April 24, 2015 10:50 AM
To: phetsims/website
Cc: Patricia J Loeblein
Subject: Re: [website] Update the gold star tool tip (#131)

For clarification, the original toolti

[2015-04-24 18:31] phet-steele commented on #125
Alright @aaronsamuel137 you might finally have something to go on. I encountered this in the console while running FF:

TypeError: boxes.filter(...)[0] is undefined

The video player wasn't advancing and I couldn't click the arrows in either direction. The video was NOT having the blanking out issue during this.

[2015-04-24 18:32] phet-steele commented on #125
Error: Permission denied to access property "toString"

Just black screens during this one.

[2015-04-24 18:47] phet-steele opened #139 "Resizing issues with the top of the page"
When the browser is about half the size of the screen, some of the top of the page gets cut off. For instance the words "University of Colorado Boulder" are missing:

![resized banner](https://cloud.githubusercontent.com/assets/5863899/7326024/84bf02a0-ea7f-11e4-99de-bde73d54515e.png)

Tested on FF 37.0.2, IE11, Chrome 42.0.2311.90 m with Win 8.1 as well as OSX 10.10.2 Chrome 42.

[2015-04-25 20:35] aaronsamuel137 commented on #94
I've noticed that there is no longer a checkbox for receiving the newsletter. Are we just having everyone receive the newsletter unless they unsubscribe?

[2015-04-26 01:47] amanda-phet commented on #94
I'm so glad you noticed! There should definitely be a pre-checked box at the end, before clicking Register, that signs users up for the newsletter.

[2015-04-26 16:17] aaronsamuel137 commented on #94
Sounds good, I'll add it.

What kind of validation do we want on this form? Which fields should be required? Do they need to check at least one checkbox under each category, or can they leave them all empty?

[2015-04-26 17:14] ariel-phet commented on #94
@aaronsamuel137 - I believe we want *all* fields required

[2015-04-26 17:29] aaronsamuel137 commented on #94
What about teaching experience? Should we force them to enter 0 here if they have no experience or just default to 0 if they enter nothing?

[2015-04-26 17:55] ariel-phet commented on #94
Good question, and will need to be answered by @amanda-phet - I personally think teaching experience should be a a set of ranges (and radio buttons). Something like Preservice Teacher, 1-5 years, 5-10 years, 10+ years

[2015-04-26 22:28] aaronsamuel137 commented on #117
@arouinfar, can you send me the warning icon with the exclamation mark when you get a chance?

[2015-04-27 04:39] ariel-phet opened #140 "Searching returns duplicate sim names"
For example, if you type "acid" in the search bar "Acid-Base Solutions" will be returned twice in the search results. Both of these link to the same (HTML5) sim.

![acid](https://cloud.githubusercontent.com/assets/4051174/7341756/09886602-ec65-11e4-9a11-5f9c05eea59d.PNG)

[2015-04-27 04:53] ariel-phet opened #141 "Autoscroll to selected simulation on submission page after pressing "share an activity""
I noticed then when I press "Share an Activity" from a sim page and go to the activity submission page it is pretty clear that I have selected a particular sim by the screenshot, but it would also be nice if the list of sim checkboxes also was autoscrolled to the sim from which I had navigated to the activity submission page.

I think this is would be a nice enhancement but not necessarily for com

[2015-04-27 05:00] ariel-phet commented on #112
@amanda-phet - when we review this page I was realizing that if you get here from the sim page it is the breadcrumbs are nonobvious (on the original page they take you to "Teaching Resources" which seems a bit disorienting), Not sure if we changed this behavior in the new mockups or not.

[2015-04-27 16:35] aaronsamuel137 commented on #133
This issue is a little tricky. I have a solution that works for the most recently expanded area on modern browsers. To do more than this will require a more complicated solution. How important is this?

[2015-04-27 16:39] amanda-phet commented on #112
@ariel-phet I did not touch the breadcrumb behavior... it has always appeared odd to me, but I bet most users would click "back" to navigate back to the previous page anyway.

[2015-04-27 16:43] ariel-phet commented on #112
OK, can you make a note of this somewhere for our larger (future) activity project

[2015-04-27 17:30] amanda-phet commented on #112
Yes. Done.

[2015-04-27 17:43] aaronsamuel137 commented on #112
@BrianNewsom, see my comments in the pull request.

[2015-04-27 20:54] BrianNewsom commented on #112
@aaronsamuel137 thanks, will fix those issues when I get a chance - hopefully tonight!

[2015-04-27 21:47] aaronsamuel137 commented on #137
Good catch. This issue is on the live site too: http://phet.colorado.edu/ar_SA/simulations/category/html

[2015-04-27 22:52] amanda-phet commented on #133
What do you mean by "modern browsers"?

It is fairly important. I noticed that sometimes it seemed to remember and other times it would return to the same *position* on the page but not have the section expanded, so I would need to scroll up to find the section and click it again (that is pretty undesirable behavior). So it seems to me that the back button should either go back to the expanded sec

[2015-04-28 01:00] aaronsamuel137 commented on #133
OK I figured out an pretty nice way of doing this. I'll let you know when it's deployed.

[2015-04-28 20:51] oliver-phet commented on #119
This looks good to me @aaronsamuel137.

One slightly related question I have - in the past I've noticed an issue where if the email address is not entered with correct capitalization, it will not find the user. (I tried entering "H.alhadlaq@gmail.com" instead of "h.alhadlaq@gmail.com" and the website gives an error. Is it possible to not require proper capitalization for user emails?

[2015-04-28 20:52] oliver-phet commented on #114
The mockup for this can be seen here: https://drive.google.com/open?id=0B5JSfRAuRHDzeWVCV2xtR3RXeXc&authuser=0

[2015-04-28 21:32] aaronsamuel137 commented on #119
I ran into this issue once too and found it very annoying. I'll look into a solution.

[2015-04-28 21:34] aaronsamuel137 commented on #114
Is this supposed to be deployed with the new sim pages?

Also, is the text identical? I don't want to have to read through everything unless necessary.

[2015-04-28 21:43] amanda-phet commented on #94
A few tweaks to make based on discussion with Kathy.

- [ ] Under **Grades**, add a checkbox for “Adult Education” and a textbook next to “Other”.
- [ ] Under **I am a…**, add a checkbox for “Teacher educator / Coach”
- [ ] Make **Teaching Experience** a selection of radio buttons:
* None / Not applicable
* 1-2 years
* 3-5 years
* 6-10 years
* 11-20 years
* 21+ years

[2015-04-28 21:47] oliver-phet commented on #114
This isn't in the "must have" list for the new sim pages. The design team haven't looked at this yet either. Let us do a bit more polish on it then we'll get it to you.

[2015-04-29 16:54] oliver-phet opened #142 "Deploying Java translations could be better"
Currently, the website is running into a problem when the 'publish now’ button on the translation screen (https://phet.colorado.edu/admin/deploy-translation?dir=%2Fdata%2Fweb%2Fhtdocs%2Fphetsims%2Fstaging%2Ftranslations%2F4-28-2015_4-44PM) no feedback is given - the button just disappears, and I still don’t know if/when the translations actually get published to the site. If I try refreshing the p

[2015-04-29 18:38] amanda-phet commented on #94
![registration-01](https://cloud.githubusercontent.com/assets/7852916/7398477/83251358-ee6c-11e4-8471-6f8dbd5b00ca.png)

[2015-04-29 20:09] arouinfar commented on #117
Icon has been sent to @aaronsamuel137 -- sorry for the delay!

[2015-04-29 21:26] amanda-phet opened #143 "Have returning users update their profile"
If a user who has not completed the latest registration page comes to the site and signs in, we would like to automatically redirect them to the Edit Profile page so that they can update the new registration fields. Once they have done this, it should not happen again.

The Edit Profile page will also have a message that reads:
We are working to improve the usability of our site. To support this e

[2015-04-29 21:30] ariel-phet commented on #133
@aaronsamuel137 one other little tweak:

Can we also change the label "Activities" to "Teacher Submitted Activities"

[2015-04-29 21:37] amanda-phet opened #144 "Latest sims not on phet-dev"
We noticed that Molecule Shapes (HTML5), Molecule Shapes Basics (HTML5), and Least-Squares Regression (HTML5) are currently not listed anywhere on phet-dev.

Is this because when you last pushed phet-dev, they weren't yet published? Will they be there the next time you push to phet-dev?

[2015-04-29 21:43] amanda-phet opened #145 "Activity information on phet-dev"
We went through all of the activities that we determined should have an HTML5 sim listed and modified the information on phet-dev. When you eventually push all of the phet-dev changes to the live site, will these changes to the activities also transfer? We don't want to overwrite any changes that individual teachers may have made to their activities in the meantime, but if you could "sync" just th

[2015-04-29 21:45] amanda-phet commented on #94
![registration-01](https://cloud.githubusercontent.com/assets/7852916/7402129/c136654c-ee86-11e4-8555-4c12646dbcb4.png)

[2015-04-30 02:42] aaronsamuel137 commented on #145
Unfortunately that will not be possible. The two databases have gotten very out of sync since this work has begun and trying to sync some changes but not others wouldn't be easy.

[2015-04-30 02:45] aaronsamuel137 commented on #144
They should show up next deploy, once I merge in master. LSR regression might not show up since it is HTML5 only and there were some database changes to figaro that won't propagate over automatically. I can manually do on phet-dev if you think it's important, but once the new sim pages are deployed the two sites will be back in sync anyway.

[2015-04-30 16:49] amanda-phet commented on #144
I don't think it needs to manually be added on phet-dev, we were just wondering why we didn't see the latest sims. Thanks!

[2015-04-30 16:50] amanda-phet commented on #145
Makes sense. We were prepared for the possibility that these changes would be temporary.

[2015-04-30 18:09] aaronsamuel137 commented on #143
Currently, "name" is one field in the database where users can enter first and last name with a space between, or whatever else they want. Switching to first and last name as separate columns will introduce some complications.

Do we want to totally ignore the name column and force users to enter their first and last name again as separate fields when they first log in?

[2015-05-02 16:41] ariel-phet commented on #29
This appears to show all the changes made on the phet-dev site (when I get the second email). Besides, at worst you just get two emails. Not worth worrying about, closing.

[2015-05-02 16:41] #29 closed

[2015-05-04 17:02] aaronsamuel137 commented on #140
This should be fixed. Assigning to @ariel-phet for review.

[2015-05-04 17:08] aaronsamuel137 commented on #139
There are numerous issues on the site related to resizing as the site as a whole is not responsive. I have moved over the CU logo so it at least it start getting cut off at the same time as the rest of the page content.

@ariel-phet, is there anything I should do for this issue for now?

[2015-05-04 17:10] aaronsamuel137 commented on #137
This should be fixed now. Assigning to @bryo5363 for review (you may need to refresh your browser cache to see the fix)

[2015-05-04 17:13] aaronsamuel137 commented on #94
This is done I think. Assigning to @amanda-phet for review. Let me know if you think it is ready for testing.

[2015-05-04 17:14] aaronsamuel137 commented on #143
Assigning to @amanda-phet for review.

[2015-05-04 17:18] aaronsamuel137 commented on #133
These issues should be addressed. Assigning to @amanda-phet for review.

[2015-05-04 17:20] aaronsamuel137 commented on #135
Closing - this page will need testing, but it will be tracked in another issue.

[2015-05-04 17:20] #135 closed

[2015-05-04 17:30] aaronsamuel137 commented on #130
Link updated. Assigning to @ariel-phet for review.

[2015-05-04 17:31] aaronsamuel137 commented on #126
Thanks @phet-steele. I've limited the sponsor height so that none of these should extend beyond the line. Assigning to @phet-steele for review.

[2015-05-04 17:32] aaronsamuel137 commented on #102
Assigning to @arouinfar for review. Let me know if you think it is ready for testing.

[2015-05-04 17:43] ariel-phet commented on #130
Looks good, closing

[2015-05-04 17:43] #130 closed

[2015-05-04 17:50] arouinfar commented on #102
It's looking good, @aaronsamuel137! There are a few changes need to be made before it's ready for testing.

- [ ] The PhET Design Guidelines link in the blue box appears to be broken. The link should take the user to https://phet.colorado.edu/en/for-teachers/activity-guide. Instead, it redirects to a page with this error:

![image](https://cloud.githubusercontent.com/assets/8419308/7458554/83f65fd

[2015-05-04 17:54] ariel-phet commented on #139
No...let's close for the moment...this will wrapped into the front page redesign, navigation, and moving towards more responsive design.

[2015-05-04 17:54] #139 closed

[2015-05-04 17:57] amanda-phet commented on #94
It looks great to me! I think we just need to resolve the First/Last name issue. I'll try to catch Kathy as soon as possible to ask about it.

[2015-05-04 17:57] ariel-phet commented on #140
Looks good, closing!

[2015-05-04 17:57] #140 closed

[2015-05-04 18:00] amanda-phet commented on #133
It should be "Teacher-Submitted Activities", with a hyphen.

The only odd behavior I noticed is that once I expand a section, say "About" on the Area Builder sim page, it is always expanded on future sim pages I visit, like Acid-Base Solutions. It's not necessarily a bad thing, because once I expand a section I probably want to view it on other pages, but I think it's worth seeing what other peopl

[2015-05-04 18:00] ariel-phet commented on #143
Pixel polish: I think we might want the text in the "we are working to improve usability" be Bold

[2015-05-04 18:05] amanda-phet commented on #143
This is working. To address the comment about separate first and last names... I noticed that when I was prompted to edit my profile it had already split up my name into respective first and last names. Is this what will happen for other users?

[2015-05-04 18:11] ariel-phet commented on #133
Oh, I think we definitely we it to be a conscious choice to expand a heading each time. My guess is @aaronsamuel137 was working on things so that when you go back to a particular page where you have expanded, that heading stays expanded (ie you go to the activities, click on an activity and then go back) and then this bug crept in.

[2015-05-04 18:15] amanda-phet commented on #133
Right, this is referring to the second item in the original list above.

[2015-05-04 18:18] arouinfar commented on #133
I agree with @ariel-phet. I think users should expand the sections each time they visit a <i>new</i> sim page (but not when navigating back to a page they just visited).

I've noticed the credits don't seem to be accurate on HTML5 sim pages. pH Scale's credits seem to be the for the Java version of the sim -- Yuen-ying isn't credited on the sim page, though she lead the redesign. Molecules & Light

[2015-05-04 18:20] ariel-phet commented on #94
Two things:

1. Lets add the Terms of use link to this page (don't we have that link now to the general university website terms of use?)

2. If I view in a non-english local, we decided that if you click on a grade level (say elementary) that the dialog to check various grades should not appear. I am not sure if we ever communicated that or not. The idea was that in countries in Europe, our grade

[2015-05-04 18:20] amanda-phet commented on #133
The sections should stay expanded when navigating back! That was the whole point. But if you go to the Simulations page, then click the same sim page you visited earlier in the day, it would be refreshed.

I suspect that the metadata for HTML5 sim pages needs to be manually updated when the pages are published.

[2015-05-04 18:27] arouinfar commented on #133
That's what I meant -- if a user expands the "For Teachers" section on a sim page, clicks on an activity, and then navigates back to the <i>same</i> sim page, For Teachers should still be open. However, if the user navigates to a <i>different</i> sim page, the For Teachers section should not be open until they manually expand it.

[2015-05-04 18:50] oliver-phet opened #146 "Remove 3 old entries from Mac Troubleshooting"
@BrianNewsom @aaronsamuel137 Can one of you please remove the top 3 entries from the Mac Troubleshooting page: http://phet.colorado.edu/en/troubleshooting/mac
(seeing dialog, run now text file, 3d graphics)

These are old entries that no longer need to be there.

[2015-05-04 18:52] oliver-phet opened #147 "Remove old Windows 2000 issue from Windows Troubleshooting"
Can you also remove the entry about Windows 2000 - we don't support.

[2015-05-04 21:03] amanda-phet commented on #94
1. The link is: http://www.cu.edu/privacy-policy. How about this?
![screen shot 2015-05-04 at 3 01 21 pm](https://cloud.githubusercontent.com/assets/7852916/7462407/7a18a3c8-f26e-11e4-9389-4050c96fe55d.png)
2. I think we said this would happen if you select a non-USA country (because the UK is not a different locale, for example), but have this vary by locale makes sense too.

[2015-05-05 01:44] aaronsamuel137 commented on #133
Good catch. The code currently treats all sim pages as the same page. I will fix this.

The expected behavior is that the expanded texts will be remembered for every page as long as the tab is open. It won't persist across tabs - but it will remember even after some time if you go back to a page in the same tab.

@arouinfar - as far as the credits are concerned this is something that will need to

[2015-05-05 01:51] ariel-phet commented on #94
Sorry, yes, the correct approach is if you select a non-USA country

[2015-05-05 16:19] aaronsamuel137 commented on #94
I've made these changes. Assigning to @amanda-phet for review.

[2015-05-05 16:39] aaronsamuel137 commented on #143
The first and last name issue has been discussed over email. Regarding the bold text, here is a screen shot of what it looks like:

![screen shot 2015-05-05 at 10 37 36 am](https://cloud.githubusercontent.com/assets/3193912/7477702/ca5b4094-f312-11e4-89c5-c294051f88fa.png)

Feel free to close if it looks good @ariel-phet or @amanda-phet

[2015-05-05 16:39] aaronsamuel137 commented on #102
I've added the inner stroke. It is subtle, but there. On dropdown elements only the outer stroke will appear because over-riding the border on these elements has weird side-effects.

The other issues are addressed too. Assigning to @arouinfar for review.

[2015-05-05 16:47] aaronsamuel137 commented on #133
I think this should be fixed. You may need to force refresh all of the sim pages you are testing with. Assigning to @amanda-phet

[2015-05-05 17:06] aaronsamuel137 commented on #134
@amanda-phet, what should be the behavior when a related sim is removed? Should its reciprocal also be removed?

[2015-05-05 17:29] aaronsamuel137 commented on #117
This is being tracked in the main issue for the activity submit page now #102, so closing here.

[2015-05-05 17:29] #117 closed

[2015-05-05 17:42] arouinfar commented on #102
Thanks for adding the inner stroke, @aaronsamuel137! I think it's fine to leave it off of the dropdown elements, especially if it causes complication.

Just a few more changes:

- [ ] The Duration dropdown menu should have a N/A option added.

- [ ] The text in the Keywords and Description fields is formatted differently when in Firefox. This issue does not exist in Chrome or Safari. Is this somet

[2015-05-05 18:50] aaronsamuel137 commented on #102
I've made these changes - assigning to @arouinfar to verify

[2015-05-05 21:30] arouinfar commented on #102
Looks great, @aaronsamuel137! One last thing -- the "Choose One" option appears twice in the Duration dropdown.

[2015-05-05 21:43] amanda-phet commented on #133
Looks like it's working well. Closing!

[2015-05-05 21:43] #133 closed

[2015-05-05 21:44] amanda-phet commented on #143
Looks good. Closing.

[2015-05-05 21:44] #143 closed

[2015-05-05 21:45] amanda-phet commented on #134
That sounds reasonable to me. Perhaps @patricialoeblein can weigh in again.

[2015-05-06 01:07] aaronsamuel137 commented on #102
Good catch! I've fixed this. I'm going to close the issue since it seems like the last thing, but feel free to reopen if you notice anything else.

[2015-05-06 01:07] #102 closed

[2015-05-06 01:08] aaronsamuel137 commented on #94
Typo fixed. Closing. Feel free to reopen if something else comes up.

[2015-05-06 01:08] #94 closed

[2015-05-06 02:22] ariel-phet commented on #132
@aaronsamuel137 - since this is one of the final "pixel polishes" and it was important to @kathy-phet to have the CU logo not compete too strongly with PhET logo it would be good to do before we deploy (as we are waiting on the activity licensing info).

You will also notice in the mockup above that the black and white version of the "CU" is being used.
@amanda-phet can get you this image but it i

[2015-05-06 02:23] ariel-phet commented on #137
This is working now, closing

[2015-05-06 02:23] #137 closed

[2015-05-06 04:21] aaronsamuel137 commented on #132
Sounds good - I can work on this tomorrow. @amanda-phet - will send me the correct logo? It seems easier than filling out that form that CU asks you to fill out.

[2015-05-06 16:03] patricialoeblein commented on #134
Sounds reasonable to me too.

[2015-05-06 17:17] aaronsamuel137 commented on #132
I've updated the CU logo. Assigning to @ariel-phet for review.

[2015-05-06 17:20] aaronsamuel137 commented on #134
I've made this change. Now, whenever a related sim is added or removed through the sim admin page, the, both the sim and the related sim will add each other or remove each other.

I also fixed a bug where you can't tell which sims are HTML and which are legacy in the admin interface.

Existing asymmetrical related sim relationships will not be changed by this fix.

Assigning to @amanda-phet for re

[2015-05-06 17:25] aaronsamuel137 opened #148 "Create service for synchronization of a project"
This was discussed during translation meeting on 4/30/15. For deploying sims to the website in an automated way, we'll need a way to trigger a project synchronization after the sims are uploaded to the server.

The service should take a query parameter that is the project name, and should only work with local traffic (i.e. our build server that is also running on the same machine).

This will be n

[2015-05-06 17:35] aaronsamuel137 commented on #115
I think we have determined that this in no longer necessary. Even though you can access the video URL by viewing the page source, Vimeo privacy settings won't allow you to watch the video unless you are actually on the phet site. For instance, this is the link to the video currently on the area-builder page on phet-dev: https://player.vimeo.com/video/123764106

However, technically there is still

[2015-05-06 18:59] amanda-phet commented on #134
This seems to be working. I added Gas Properties as a related sim to Area Builder and they are reciprocal. When I deleted it as a related sim, they were both deleted.

And to clarify, adding a related sim to an HTML5 version of a sim does not also add it for the legacy version. I'm not sure I understand the bug you fixed but everything seems to be working fine.

[2015-05-06 19:09] aaronsamuel137 commented on #134
Yes that's correct. It wasn't really bug I fixed, I just added that (HTML5) suffix so you can distinguish which ones are which. Feel free to close if this looks good to you.

[2015-05-06 19:28] amanda-phet commented on #134
Great! Closing.

[2015-05-06 19:38] amanda-phet commented on #88
Hey @aaronsamuel137 do you know what the status is here? Can this possibly be done within the next couple weeks?

[2015-05-06 19:40] amanda-phet commented on #87
@aaronsamuel137 Since @BrianNewsom will not be working with us this summer, can you tackle this at some point this summer?

[2015-05-06 20:08] #144 closed

[2015-05-06 20:08] #145 closed

[2015-05-06 20:36] amanda-phet opened #149 "Update PhET logo and donate button with accurate colors"
Rather than have two different yellows in the PhET logo, we will just always use the one yellow that looks good on white (because it also looks good on black).

This means:
- [x] The PhET logo needs to be updated
- [ ] The Donate Now button color will change
- [ ] The airplane on the Play with sims button will change

[2015-05-06 21:03] amanda-phet opened #150 "Change "All Sims" page to thumbnail view by default"
When viewing "all sims", the default is to currently see an indexed list and not thumbnails.

We made a change to the site when viewing in a different locale... If you view the site in French, and click the big play with sims button, you are directed to the All Sims page instead of New Sims (because HTML5 sims aren't translated yet!).

However, we are realizing now that this is a little odd, becau

[2015-05-06 22:20] aaronsamuel137 commented on #150
I've updated this link. Assigning to @amanda-phet for review.

[2015-05-06 22:23] amanda-phet commented on #150
It seems like you updated the link for the Play with sims button and it's working well, but clicking on All Sims (in any locale) still directs me to the index view. Is it possible to change that link to be the thumbnail view as well?

[2015-05-06 22:25] aaronsamuel137 commented on #150
Sorry, missed that bit. I'll do that now

[2015-05-06 23:02] amanda-phet commented on #132
The svg logo looks great. Closing.

[2015-05-06 23:02] #132 closed

[2015-05-06 23:03] aaronsamuel137 commented on #150
OK should be good to go now. Assigning to @amanda-phet

[2015-05-06 23:05] aaronsamuel137 commented on #141
This should work now. Assigning to @ariel-phet

[2015-05-06 23:05] amanda-phet commented on #150
Looks great. Closing.

[2015-05-06 23:05] #150 closed

[2015-05-07 16:09] amanda-phet opened #151 "Email me PhET's newsletter - should be checked by default"
When I am prompted to update my profile, this box should be checked by default.

I checked it myself, and submitted my update. Then, I clicked on "Edit profile" and the box is unchecked!

When I made a new profile, it *was* checked by default, but when I clicked on "Edit profile" the box is unchecked again.

[2015-05-07 16:12] amanda-phet commented on #141
This isn't working for me.

[2015-05-07 16:14] amanda-phet opened #152 "Stay logged in longer"
We made a change to stay logged in while the tab is still open. However, this often times out and I have to log in again! Is there a time limit for staying logged in? I thought it was supposed to stay logged in while the tab was open. Is it a problem if I open the site in another tab?

[2015-05-07 16:30] aaronsamuel137 opened #153 "Validation for other checkboxes"
The red outline should go over the checkbox and text input

[2015-05-07 16:32] aaronsamuel137 commented on #141
Try it after refreshing and let me know if it still isn't working - seems to work for me.

[2015-05-07 16:37] aaronsamuel137 opened #154 "teacher educator and adult education checkboxes need to be added to database"
Right now these checkboxes exist but aren't hooked up to the DB yet. I will take care of this today. Just wanted to create an issue so people know that I am aware of it.

[2015-05-07 16:42] amanda-phet commented on #141
Sorry, you're right I hadn't refreshed. Looks good to me!

[2015-05-07 16:46] amanda-phet commented on #112
What is the status of the activity pages?

[2015-05-07 17:02] aaronsamuel137 commented on #112
@BrianNewsom, I may end up taking this over. Have you made any progress since the last pull request? I can either take over from where you are now or from the last pull request, or if you expect to be done in the next few days you can just finish it.

[2015-05-07 19:18] BrianNewsom commented on #112
@aaronsamuel137 Sorry, with finals I just had no time and then I managed to get pretty sick the last few days.  I should be able to wrap this up today or tomorrow - my biggest problem spot is making the bullet icons clickable. The other stylistic changes aren't bad, but I think to do that I'll have to redo the way I handled the icons.

[2015-05-07 19:51] aaronsamuel137 commented on #112
@amanda-phet or @arouinfar - do you think it is important that the icons for each file are also clickable to download the file, or is it okay to have just the text link clickable? I've told @BrianNewsom to make the icon clickable too, but maybe it is not worth the extra work?

[2015-05-07 20:48] aaronsamuel137 commented on #151
I think this is fixed. Assigning to @amanda-phet for review.

[2015-05-07 20:48] aaronsamuel137 commented on #153
I've updated this, as discussed today in status meeting. Closing

[2015-05-07 20:48] #153 closed

[2015-05-07 20:50] aaronsamuel137 commented on #154
Fixed. Closing

[2015-05-07 20:50] #154 closed

[2015-05-07 20:51] aaronsamuel137 commented on #148
This will probably need adjusting when the build server is created, but the basic service is done. Closing for now

[2015-05-07 20:51] #148 closed

[2015-05-07 20:52] aaronsamuel137 commented on #119
I'm going to close this issue and track the email issue in another issue.

[2015-05-07 20:52] #119 closed

[2015-05-07 20:53] aaronsamuel137 opened #155 "Enable looking up a user by email without case-sensitivity"
From #119:

[2015-05-07 20:54] aaronsamuel137 commented on #88
Yep, I'll look at this next week, or possibly this week if I get to it.

[2015-05-07 21:21] amanda-phet commented on #151
I'm having trouble checking- every time I try to register I get the error page. Not sure why.

![screen shot 2015-05-07 at 3 21 15 pm](https://cloud.githubusercontent.com/assets/7852916/7526164/bc42dfc4-f4cc-11e4-91a4-ce50a01fb9f9.png)

[2015-05-07 21:22] amanda-phet commented on #112
I thought it would be nice, but I'm not sure if it's necessary. I'll probably know once we do an interview and after playing with it myself.

If it's complete otherwise, I'd say we can leave that feature out.

[2015-05-07 21:25] amanda-phet commented on #151
actually, I can't log in at all right now.

[2015-05-07 21:31] amanda-phet commented on #115
I agree- this is resolved. Closing.

[2015-05-07 21:31] #115 closed

[2015-05-07 21:57] aaronsamuel137 commented on #151
Hmm I am seeing log messages:

```User amanda.mcgarry@colorado.edu has not confirmed their email```

Is this a new email you are using to test, or the email you have been using before?

[2015-05-07 21:58] amanda-phet commented on #151
the email I was using before. It works on the live site but not phet-dev.

[2015-05-07 21:59] aaronsamuel137 commented on #151
yeah looks like there are some backend issues happening with registration, I'll let you know when I have resolved some of them.

[2015-05-07 22:30] aaronsamuel137 commented on #151
OK I've fixed at least one of the errors that was happening. Now you should be able to register for a new account without getting an internal server error.

I still am not sure why your email got unconfirmed @amanda-phet. For now I have manually reconfirmed you, but we will definitely want to watch out for this happening again, and if possible figure out how to reproduce it. I didn't run into this

[2015-05-07 22:33] amanda-phet commented on #151
Is there a verification process for emails that checks to see if a user is already registered? I may have tried to register with an email that was already registered.

[2015-05-07 22:34] amanda-phet commented on #151
I'm pretty sure that is what happened... I registered with an email I was already using. My profile is now the new one that you manually confirmed.

[2015-05-07 22:36] aaronsamuel137 commented on #151
Good point. Looks like this email check broke at some point along the way, though it was working before. I'll work on that next.

[2015-05-07 22:37] amanda-phet commented on #151
The original issue posted here is addressed, to be clear.

I'll leave it open while we address the email verification step.

[2015-05-07 22:49] amanda-phet opened #156 "error message when uploading activity"
When I uploaded two different files, one of which was not allowed, I got an error message. Two issues I see.
1. The message take up a lot of width and doesn't look good behind the blue panel.
2. Both of my files are gone! Not just the bad one. Now I have to upload the good one again, and I might not be 100% sure which one that even was, because the error message might be behind the blue panel. Or

[2015-05-07 22:50] amanda-phet opened #157 "error message when using an invalid email"
When I use an invalid email I get a really long error message... can it just say "enter a valid email address"?
![screen shot 2015-05-07 at 4 40 56 pm](https://cloud.githubusercontent.com/assets/7852916/7527514/22bd4198-f4d9-11e4-999e-6f673edad24f.png)

[2015-05-08 05:46] BrianNewsom commented on #112
@aaronsamuel137 I believe I fixed everything you suggested - let me know if anything doesn't look right still.  If you'd like me to make the icons clickable let me know and I can put some time in and do it!

[2015-05-08 18:07] oliver-phet opened #158 "Add ability to sign in to the site by clicking the "lock" on a Teacher Primer Video"
Currently the teacher primer is locked unless you are signed in (as requested). Can we add the ability to sign in to the site by clicking the lock on a Teacher primer video - rather than scrolling to the top of the page and clicking the "sign in" button?
So the user could either click the lock or the video and get the prompt to sign in (similar how they click the screenshot/play button to launch a

[2015-05-08 20:02] amanda-phet opened #159 "Activity Types"
@ycarpenterphet and I were discussing the changes to the website, including the activity submission page. The activity types (Lab, Homework, CQs, Demonstration, Other) could be improved if we make a few tweaks. Right now, we are missing a critical type that describes an inquiry-based activity that is not a Lab, Homework or really any of the types! While we are at it, perhaps these could all be imp

[2015-05-08 20:08] ycarpenterphet commented on #159
With regards to the "In-Class Activity" type, I thought I'd share this reflection.

When we uploaded many of the activities produced by the college faculty partners as part of the faculty working group in chemistry last fall, we had to mark guided-inquiry activities as "Other". While we know that faculty could potentially use them as homework instead, we wanted a category that reflected that we ha

[2015-05-08 21:08] amanda-phet opened #160 "uploading teacher tips via administration not working"
I am trying to update/delete/add a Teacher Tips document when logged in, using the administration tools. However, nothing seems to change when I update/delete/add a document. It might appear deleted when viewing the simulation info, but it does not get updated on the actual sim page. When I upload a file, then view the file within administration or from a sim page, it only shows the old one.

To b

[2015-05-08 23:36] patricialoeblein commented on #159
I am glad we are reflecting on the types because I agree that the categories are unclear. I know we had a discussion about the categories in a meeting recently, but I don't remember any  consensus,

 Personally, I seldom use the homework category anymore because many of my labs can be done for homework. I do have a few that I wrote specifically for homework and then compared the results of having

[2015-05-11 14:24] aaronsamuel137 commented on #158
I can add this. I already added a feature where you can log in by clicking the "Please sign in to watch the video primer" text for the same reason.

[2015-05-11 15:11] aaronsamuel137 commented on #156
Fixing the error message width will be an easy fix, but having the correct files remain uploaded will significantly complicate the implementation. I would recommend against this because it doesn't seem too unreasonable to have them select the files again. It will most likely be only one or two files, and it will be clear what the problem is when the blue panel issue is fixed.

[2015-05-11 15:27] aaronsamuel137 commented on #156
The first issue has been fixed. Assigning to @amanda-phet for review. Feel free to close if the 2nd issue seems non-essential, or let me know if you think it is really important.

[2015-05-11 15:28] aaronsamuel137 commented on #157
Turns out this is an issue on figaro too. Should be fixed now on phet-dev. Assigning to @amanda-phet

[2015-05-11 15:30] aaronsamuel137 commented on #158
This was a quick change. Should be working now. Assigning to @oliver-phet for review.

[2015-05-11 15:34] aaronsamuel137 commented on #112
Looks great! Thanks @BrianNewsom.

I have deployed these changes to phet-dev. Assigning to @amanda-phet for review. Feel free to assign to me for any remaining tweaks you might want.

[2015-05-11 15:35] arouinfar commented on #156
Given that keeping the correct files uploaded is significantly difficult to implement, I think it's fine to have users reselect all of their activity files. I agree with @aaronsamuel137, authors typically only upload a small number of files, so this should only be a minor inconvenience to them.

[2015-05-11 15:38] aaronsamuel137 commented on #151
Trying to register with an existing email address should validate now. Feel free to close if this looks good to you @amanda-phet

[2015-05-11 15:41] aaronsamuel137 commented on #160
It might be that the data was cached somewhere and there was a delay before it showed up on the sim page. Can you check the page now and see if it has been updated? If not, I will look into this some more. I would be surprised if this broke somehow on the main site when it used to be working since I haven't touched this code.

[2015-05-11 17:18] aaronsamuel137 commented on #88
This is implemented on phet-dev. I think we might as well deploy this with the sim pages since some of the css used in #87 is added in the new sim pages checklist

[2015-05-11 17:18] aaronsamuel137 commented on #88
Assigning to @amanda-phet for review.

[2015-05-11 17:20] aaronsamuel137 commented on #87
Implemented on phet-dev. It doesn't quite match the mockup - but it uses the same css as is used for the new buttons, and I thought it would be good to stay consistent.

Assigning to @amanda-phet for review.

[2015-05-11 17:53] amanda-phet commented on #112
Just two tweaks, if possible.
1. I'd like to use our new gold-star everywhere there is a gold star on the website. For example:
![screen shot 2015-05-11 at 11 46 45 am](https://cloud.githubusercontent.com/assets/7852916/7571300/f954bf68-f7d3-11e4-9680-89ac217194ca.png)
2. Can the text here be left-aligned rather than right-aligned? Also, I didn't think about the resizing of the comment box, so I t

[2015-05-11 17:58] amanda-phet commented on #160
I never checked that it worked before now, unfortunately, so I don't think it's related to any of the recent changes.

[2015-05-11 18:51] amanda-phet commented on #151
Perfect. Closing.

[2015-05-11 18:52] #151 closed

[2015-05-11 18:56] amanda-phet commented on #156
The error message looks good to me.

I disagree, though, that authors upload a small number of files- they often have at least 4 files (at least internal authors do!). However, since it is complicated to implement, we can skip it.

[2015-05-11 18:56] #156 closed

[2015-05-11 19:35] amanda-phet commented on #88
Looks great! Closing.

[2015-05-11 19:35] #88 closed

[2015-05-11 19:37] amanda-phet commented on #157
Looks good. Closing.

[2015-05-11 19:37] #157 closed

[2015-05-11 19:45] amanda-phet opened #161 "Activity Submission - language selection"
Right now the language dropdown is working as we hoped- it automatically selects the language based on the locale you are viewing the site in. For example, I am viewing in Danish:

![screen shot 2015-05-11 at 1 41 02 pm](https://cloud.githubusercontent.com/assets/7852916/7573545/ba45177c-f7e3-11e4-9fe1-119419c2d23e.png)

Would it be possible to view the languages in this dropdown in the language o

[2015-05-11 21:30] oliver-phet opened #162 "Add iPad/Tablet category and Chromebook category by default to new sim publications"
Can we have the iPad/Tablet category and Chromebook categories assigned by default for all new sim publications? Currently it has to be manually added like the others (Physics, Chemistry, Math... etc)

[2015-05-12 01:18] aaronsamuel137 commented on #112
I've made these changes. Assigning to @amanda-phet for review.

[2015-05-12 01:56] amanda-phet commented on #87
Looks good, and it's good that it matches the rest of the site.

[2015-05-12 01:56] #87 closed

[2015-05-12 01:57] amanda-phet commented on #112
Looks great!

[2015-05-12 01:57] #112 closed

[2015-05-12 02:48] jonathanolson opened #163 "Build and deployment server"
Input: a list of repo dependencies and the SHAs that they should be at, and list of locales to build
Probably should include where to publish (dev? production?)

Step 1: Checkout repos with SHAs (if necessary), npm install (if necessary)
Step 2: Build the specified locales
Step 3: Upload the built files to the desired server(s)
Step 4: Notify said servers (websites) that they were deployed

The re

[2015-05-12 07:09] jonathanolson commented on #142
Noted verbally, but this type of behavior used to work. I'm not sure when the regression happened. @aaronsamuel137, any ideas?

[2015-05-12 15:16] ariel-phet opened #164 "Update sim information on HTML5 sim pages after deploy to live site"
We will want to update information on the HTML5 sim pages after we deploy to the live site. This information will be copied over from the legacy sims, but some information will be incorrect/incomplete, most notably the credits.

[2015-05-12 15:18] phet-steele opened #165 "K-5 check boxes do not appear"
When registering for an account and one checks they are in "Elementary" under the Grade(s) section, the options to further choose if you are in K-5 don't immediately appear. They appeared after I entered something wrong and the page was reloaded with error messages, or when after creating my account I went to edit my profile.

Mac OSX 10.10.1, Chrome 42

[2015-05-12 15:27] aaronsamuel137 commented on #163
I thought we discussed putting this in chipper (or possibly a new repo). Is there a reason you have created the issue in the website repo?

[2015-05-12 15:28] aaronsamuel137 commented on #142
No ideas off the top of my head. The only code I've changed that I am aware is related to translation deploy is in Project.java. Though I don't see how the changes here could've broken this.

I can look into it at some point if that would be helpful.

[2015-05-12 15:32] phet-steele opened #166 "Error message order"
I noticed that the error messages aren't listed in the order the page is filled out (screenshot taken with no information entered):
![screen shot 2015-05-12 at 9 21 30 am](https://cloud.githubusercontent.com/assets/5863899/7590987/7319d9f0-f888-11e4-9b99-df27b76af796.png)

Wouldn't it make more sense to have "Please enter a valid email address" come first, etc., since it would be the first require

[2015-05-12 15:36] ariel-phet commented on #165
@phet-steele - had you marked your country as "USA"?

The checkboxes will only appear if you are in the USA (since these grade levels do not make sense in most other countries)

[2015-05-12 15:38] phet-steele commented on #165
No, I was in Latvia. But even then they DID show up after the profile was made.

[2015-05-12 15:38] ariel-phet commented on #166
Agreed, these error messages should be ordered to match the ordering on the form.

As for the city option - that makes sense - is that easy logic to add @aaronsamuel137?

[2015-05-12 15:38] ariel-phet commented on #165
Yeah, that is a bug

[2015-05-12 15:53] phet-steele opened #167 "Can't change email associated with an account"
So I'm trying to change the email I have on an account I already registered, and the only clear way for me to do this is to edit my profile, then type in the new email, and click "Update". But alas, this does not work, and going back to my profile it still has my old email address. Is it currently not a feature to switch emails? Making a whole new account seems laborious.

Mac OSX 10.10.1, Chrome

[2015-05-12 15:55] jonathanolson commented on #163
My mistake, see https://github.com/phetsims/chipper/issues/141. Closing here.

[2015-05-12 15:55] #163 closed

[2015-05-12 15:58] ariel-phet commented on #167
@aaronsamuel137 - this seem likes a good question

[2015-05-12 16:02] bryo5363 opened #168 "Confusion with University option when registering"
When clicking the university option for grades, year 1 year 2+ and graduate are all checked at the same time. I believe this is somewhat confusing; the options for selecting university should all initially be blank.

There should only be one option to select rather than all three automatically selected for this will cause
confusion for the users

![screen shot 2015-05-12 at 10 01 28 am](https://cl

[2015-05-12 16:09] patricialoeblein commented on #167
This would be helpful for teachers and faculty because when they change positions, they often change email. Many like me,  use a professional email for work related sites like education ones.

[2015-05-12 16:19] aaronsamuel137 commented on #167
This is currently not possible on either the main site or phet-dev. I can look into adding this functionality if that seems important.

[2015-05-12 16:25] phet-steele opened #169 "Activity Error 404"
I uploaded an activity to Color Vision (HTML5), then trying to access it (clicking on the pdf link) I get an error 404, "The requested URL /files/activities/4052/thermo_hw1.pdf was not found on this server."

Mac OSX 10.10.1, Chrome 42.

[2015-05-12 16:28] aaronsamuel137 commented on #168
I agree - does this sound good to you @amanda-phet @ariel-phet?

[2015-05-12 16:28] orejolaphet commented on #169
I too have noticed this issue on OSX 10.10.2 Chrome 42

[2015-05-12 16:31] bryo5363 opened #170 "Password reset does not work"
I tried selecting the "forgot password" option when logging in to see if I could reset my password. I got the email pertaining to the password change but when I clicked the link I received the following message

![screen shot 2015-05-12 at 10 31 15 am](https://cloud.githubusercontent.com/assets/7717368/7592707/10eec3c6-f892-11e4-9abe-28eceae72e86.png)

Note that I was initially on the dev page and

[2015-05-12 16:33] amanda-phet commented on #168
The other grade levels auto-check, so I'm not convinced yet that we'd want a different behavior just for University. Can't a professor teach all three levels?

[2015-05-12 16:36] bryo5363 commented on #168
@amanda-phet  this is a good point; I just thought it would be confusing for college students registering for the site.

[2015-05-12 16:37] phet-steele commented on #165
Same with the "University" option.

[2015-05-12 16:38] orejolaphet opened #171 "Optional Text Search does not find activity by title."
The Optional Text Search on the  Browse Activities page
https://phet-dev.colorado.edu/en/teaching-resources/browse-activities
does not find the activity by its title.

I created the Activity "Test1" which should exist for all simulations
https://phet-dev.colorado.edu/en/contributions/view/4054

When I search " Test1 " no options load.
Only the default text " Please select simulations, types, level

[2015-05-12 16:40] bryo5363 opened #172 "RTL log in needs work"
When using an RTL language, I accessed the log in tab and noticed the display needed some work

![screen shot 2015-05-12 at 10 35 27 am](https://cloud.githubusercontent.com/assets/7717368/7592814/e8555532-f892-11e4-88bb-de918e43c34a.png)

[2015-05-12 16:41] amanda-phet commented on #168
In general we probably have fewer students than teachers who register, so my instinct is to favor the needs of teachers a bit more. I think @ariel-phet and @kathy-phet should weigh in, though.

[2015-05-12 16:44] orejolaphet commented on #171
Also if I search the related " Keywords", for my activity "Test Activity", no results show.

[2015-05-12 16:47] phet-steele commented on #168
Can't we make it conditional, where if the user had clicked "Student" versus "Teacher" in the I am a... section, then the behavior of the auto-check is different? If I say I'm a teacher, then have everything auto-checked. If I say I'm a student, don't have everything auto-checked.

[2015-05-12 16:50] amanda-phet commented on #169
I also noticed this on OSX 10.10.2 Firefox 37.0.1

[2015-05-12 17:11] orejolaphet opened #173 "Issue clicking arrows for pages with drop down menus (Trouble Shooting & FAQ)"
On the following pages:
https://phet-dev.colorado.edu/en/faqs
https://phet-dev.colorado.edu/en/troubleshooting
    https://phet-dev.colorado.edu/en/troubleshooting/mac
    https://phet-dev.colorado.edu/en/troubleshooting/windows

If you click to the slight to the left of the arrows, not the arrows themselves, the page scrolls down and changes its URL extension
For example:
Open FAQ
https://phet-de

[2015-05-12 17:12] orejolaphet commented on #173
Note that clicking the left of the arrows does not expand the header.

[2015-05-12 17:12] bryo5363 opened #174 "Clicking videos about PhET links to full screen video"
I am not sure if this was intentional or not but clicking the video links in the About PhET main page will take the user to a full screen video rather than keeping the user on the page.

Personally I think this is distracting for the user; the user should not be diverted from the PhET page; these videos can be accessed via the YouTube links on the side. If the videos rather played on the same page

[2015-05-12 17:14] bryo5363 commented on #174
Instead of linking to the full screen, the videos should appear where the " What is PhET? A short introduction to the PhET simulations" video appears.

![screen shot 2015-05-12 at 11 13 44 am](https://cloud.githubusercontent.com/assets/7717368/7593521/12b8cdf4-f898-11e4-88df-5dddd8c4b14a.png)

[2015-05-12 17:17] orejolaphet opened #175 "Add a "Your changes will not be saved, would you like to continue?""
I was thinking the addition of a "Your changes will not be saved, would you like to continue?" pop-up would be appropriate when leaving the edit pages? Namely, edit profile and edit activity.

[2015-05-12 17:18] phet-steele opened #176 "Activity author auto-update"
Here is a proposed change probably for far into the future, already discussed with @aaronsamuel137 and @amanda-phet. This ticket is made to reference back to later on, and is copied from a Skype conversation:

"I uploaded an activity under the author name "Steele Dalton" since that was the name associated with my account. But then let's say I get married or something, and I edit my profile to chan

[2015-05-12 17:24] orejolaphet opened #177 "Expand Columns in "How to Run Simulations" Page"
On the "How to Run Simulations" page https://phet-dev.colorado.edu/en/get-phet
The "click here" links for the last two columns are partitioned between lines.
![screen shot 2015-05-12 at 11 23 56 am](https://cloud.githubusercontent.com/assets/5631059/7593723/61ecf3cc-f899-11e4-9258-64bfc3faa654.png)

[2015-05-12 17:30] phet-steele commented on #158
Working for me on OSX 10.10.1, Chrome 42.

[2015-05-12 17:30] bryo5363 opened #178 "Suggestions about sidebar navigation"
When opening the page initially, the user does not get to see the sidebar information

![screen shot 2015-05-12 at 11 26 54 am](https://cloud.githubusercontent.com/assets/7717368/7593789/d313c8b4-f899-11e4-87ee-7632192bb4be.png)

Only after accessing anything on the page does the user have the option to truly navigate through the site. I personally think that the sidebar navigation should be prese

[2015-05-12 17:42] phet-steele commented on #170
Maybe unrelated, but changing your password by means of "Edit Profile" --> "Change Password" at the bottom of the page DOES work.

[2015-05-12 18:07] phet-steele opened #179 "Submitting activities via a sim page requires the activity to reference that sim"
1. I began on the Color Vision HTML5 page.
2. I clicked on the "For Teachers" arrow and clicked "Share an activity!"
3. I noticed in the URL for this activity page the query "?simulation=color-vision&isHTML=true" was there.
4. I then unchecked Color Vision HTML5 from the simulations (it was checked by default) and chose a random other sim.
5. Every time I went to submit the activity, the website r

[2015-05-12 18:22] amanda-phet commented on #178
This is something we plan to address in the next website project!

[2015-05-12 18:22] #178 closed

[2015-05-12 18:33] amanda-phet opened #180 "Order of activity info randomized?"
I've noticed that if I go to an activity page at different times (or refresh the page), the order of keywords and sims listed seems to randomly change. It would make more sense to me if these were always listed alphabetically.
![screen shot 2015-05-12 at 12 31 16 pm](https://cloud.githubusercontent.com/assets/7852916/7595234/01cfc992-f8a3-11e4-90b8-07e29c2004b5.png)
![screen shot 2015-05-12 at 12

[2015-05-12 18:34] amanda-phet commented on #141
@ariel-phet hasn't responded but this is working so I'll close the issue.

[2015-05-12 18:34] #141 closed

[2015-05-12 18:38] ariel-phet commented on #178
Thoughtful suggestion @bryo5363 - but as @amanda-phet said redoing the navigation sitewide (and having persistent nav on the front page) is the next planned step for the site.

[2015-05-12 18:42] ariel-phet commented on #167
It would be good to investigate this functionality, but it can wait until after the sim pages rollout

[2015-05-12 18:45] amanda-phet commented on #159
Based on what you wrote, @patricialoeblein , it sounds like you don't write many guided-inquiry activities that are in need of a new type.

The label In-Class Activity is not so much about the location- it is a guided-inquiry activity that is done in class (so, not for homework). However, "guided-inquiry activity" is pretty general and might overlap too much with Lab, Homework, or Demonstration, s

[2015-05-12 18:47] ariel-phet commented on #168
@amanda-phet & @aaronsamuel137 - I think this question can wait until after deployment, I am sure we will refine this page slightly, but the behavior seems acceptable at the moment

@bryo5363 and @phet-steele - good suggestions, we will look at them after the initial deploy

[2015-05-12 18:48] ariel-phet commented on #168
Oh and I think @phet-steele had a good suggestion about the conditional, for a student, we probably only care about their general level.

[2015-05-12 18:53] ariel-phet commented on #171
@orejolaphet - I am not quite sure how this search works (I think activity title is not included). We plan on refining this search in the future, and this will likely be one of the improvements

@aaronsamuel137 - am I correct that activity title is not a searchable item?

[2015-05-12 18:56] ariel-phet commented on #172
Good catch @bryo5363

[2015-05-12 18:59] ariel-phet commented on #173
@aaronsamuel137 - this seems similar to the issue you and I worked on for the sim pages themselves. I have marked this issue with the "Soon after sim pages deployed" milestone. Would be nice to take care of, but not a top priority

[2015-05-12 19:00] ariel-phet commented on #174
@amanda-phet - I think this question can be your call

[2015-05-12 19:46] ariel-phet commented on #175
@amanda-phet - seems like a reasonable suggestion...I don't think it is necessary for the initial deployment, but might be useful. What do you think?

[2015-05-12 19:47] ariel-phet commented on #177
I know the "How to Run simulations" is scheduled for refinements after the sim pages deploy

[2015-05-12 19:51] ariel-phet commented on #179
Nice catch @phet-steele - this seems like a consequence of autoselecting the sim when sharing an activity directly from the sim page, but it does seem like a use case for someone to click this button but actually want to share an activity for a different sim, so we should allow them to uncheck the auto selected sim.

[2015-05-12 20:06] amanda-phet commented on #177
That table can't go wider with the current webpage layout. This is definitely in the queue for improvements soon (#91). For now, we might be able to make the first (heading) column narrower, and evenly distribute the other three columns. Here I made the heading column 15% smaller and evenly distributed the other columns, making them all a bit wider:
Before:
![screen shot 2015-05-12 at 1 50 59 pm](

[2015-05-12 20:06] amanda-phet commented on #177
@aaronsamuel137 How complicated would this change be? If it's really easy we can do it when you have time. If it is complicated, we can wait until I redesign this entire page.

[2015-05-12 20:22] amanda-phet commented on #175
I'd like to find out how complicated it is to implement. @aaronsamuel137 what would you say?

[2015-05-12 20:26] amanda-phet commented on #174
Having the videos open up a full-screen page does seem unnecessary. However, I am inclined to ignore this for now since this is a page that we did not touch in the sim-page redesign. I will add it to our list of future site improvements.

[2015-05-12 20:35] patricialoeblein commented on #159
I have been thinking about this and have a proposal. How about:
Lab, Formative assessment (which covers clicker questions and homework like the ones KP and Carl wrote), Tutorial (for UG class guided inquiry), Demonstration

I lean away from "Guided Inquiry" as a label because the language of NGSS moves strongly  away from using "inquiry" . I have some concern that explicitly using Guided Inquiry m

[2015-05-12 20:38] amanda-phet commented on #159
I like the Formative Assessment type!

However, this still doesn't address the need for a new category for K-12 guided-inquiry activities.

[2015-05-12 20:47] ycarpenterphet commented on #159
I'm not a fan of the word 'Tutorial' for this purpose, even though it is popular in UG physics.

The word Tutorial in the UG community specifically brings to mind activities that are (a) facilitated by TAs (not the instructor), and often (b) are meant to support students AFTER content delivery, typically in addition to and after the material is covered in lecture. This conveys a sense of 'extra-pr

[2015-05-12 20:50] patricialoeblein commented on #159
"Tutorial " in the physics community is a guided inquiry activity usually done in groups in class with some facilitation by someone like a TA, LA, or prof. I don't have a strong opinion about that word choice. However,  I am not sure how I would chose ""lab or "guided inquiry" if I were adding a new activity. All my labs by definition of the Gold star guidelines are guided or full inquiry. Are the

[2015-05-12 20:57] patricialoeblein commented on #159
I was typing at the same time as YY. I can see tutorial doesn't fit the need she has when she uses "Other". Is there a proposal for something other than guided inquiry since it covers more of a strategy than a descriptor of activity. Many people would say their demos and clicker questions use guided inquiry in K12 community. In the old science standards, using Inquiry was the first standard and wa

[2015-05-12 21:26] amanda-phet commented on #159
The original proposal was "In-Class Activity," so we could avoid "Guided-Inquiry Activity."

Another option I came up with was "Guided Activity."

[2015-05-12 21:54] patricialoeblein commented on #159
I like guided activity if YY thinks it would fit the needs of the UG.

[2015-05-13 15:23] phet-steele commented on #179
Realized now that when doing this I unknowingly created this activity page with no activity or referenced sims.
https://phet-dev.colorado.edu/en/contributions/view/4055

[2015-05-13 15:31] aaronsamuel137 commented on #172
I've fixed this. It still looks a little weird because there are english strings in rtl, but it should be good once it is translated.

Assigning to @ariel-phet for review.

[2015-05-13 15:36] aaronsamuel137 commented on #179
This should be working now. Assigning to @phet-steele for review.

[2015-05-13 15:39] aaronsamuel137 commented on #165
I think this is fixed now. At least the issue of the checkboxes appear when you submit and get an error should be fixed. You'll need to hard refresh to see the fix.

Assigning to @phet-steele for review.

[2015-05-13 15:50] bryo5363 opened #181 "Carousel videos do not initially play on iPad"
Using iPad 3 w/ iOS 8

When initially loading the site, the videos in the carousel do not play. Once the user scrolls through the videos, then they will initiate.

[2015-05-13 15:52] phet-steele commented on #165
Both instances of check boxes appearing are fixed.

[2015-05-13 15:52] #165 closed

[2015-05-13 15:52] aaronsamuel137 commented on #170
This is fixed now. It was just the link that was broken - it should point to phet-dev not phet when on the phet-dev site.

Assigning to @bryo5363 for review.

[2015-05-13 15:54] bryo5363 opened #182 "Why are there two links to HTML5 sims?"
I noticed on the front page that there are two links to the HTML5 sims; in fact these links are right next to each other.

![screen shot 2015-05-13 at 9 53 21 am](https://cloud.githubusercontent.com/assets/7717368/7614731/f323d114-f955-11e4-9b48-7a98df51461f.png)

[2015-05-13 15:54] #181 closed

[2015-05-13 15:55] aaronsamuel137 commented on #169
I think this is an issue that will only affect phet-dev. Still, it would be good to discuss with @jonathanolson at some point so we can have this working on phet-dev like it would on figaro.

[2015-05-13 16:16] amanda-phet commented on #182
We are planning to "wean" users off of accessing HTML5 sims from that location. Eventually the button will be gone, and then the logo.

[2015-05-13 16:30] aaronsamuel137 commented on #171
The search code is a little bit complex. As far as I can tell, it looks like title is one of the factors in searching, but it doesn't seem to directly find things by title.

My guess is that strings in the search box are split into individual words that each have some weight in the search results. Therefore searching by a multi-word title won't necessarily bring that title to the top of the search

[2015-05-13 16:41] aaronsamuel137 commented on #175
It's pretty simple, at least for a basic implementation. I can put something on phet-dev for you to look at if you'd like

[2015-05-13 16:48] ariel-phet commented on #182
Hey @bryo5363 - the idea is that we eventually want to migrate away from this link, since now we are going to be forefronting the HTML5 sims with the new HTML5 sim pages.

In this case, we wanted something that was clearly clickable (the "HTML5 SIMS" button) and the HTML5 logo for the eye-catching factor. I agree it is slightly odd that they feel like to separate clickable links, we plan to get ri

[2015-05-13 16:48] #182 closed

[2015-05-13 17:03] phet-steele opened #183 "Non-optimal activity sorting while browsing activities"
A couple things here I noticed while going through different sorting options and activities. I feel that as is, the hierarchy of sorting and the functionality of re-sorting can be improved. The re-sorting issue might actually be a bug, so even if the design team has exhaustively discussed the sorting order, still please read through to the second point. Take this search result for example (the top

[2015-05-13 17:13] orejolaphet opened #184 "Computer crashes after logging in IE 11 Win7"
Pretty strange issue, both @bryo5363 and I observed this on two different computers.
We were testing on the computers in Norlin Library and attempted to sign in to https://phet-dev.colorado.edu/ on Windows 7 IE 11.0.9600.17420. After signing in the computers crashes and restarts.
I attempted to sign in again, but this time input the incorrect password, and the program IE froze and I had to use the