[2015-05-13 17:14] orejolaphet commented on #184
I can sign in without any issues on Chrome 42 on the same computer in Norlin.

[2015-05-13 17:27] phet-steele commented on #184
Well before I even start to try Win 7, I'm trying Win 8.1 and have noticed two severe things.

On IE11, when signing in (incorrect information was handled fine) then trying to sign out or edit profile the user gets sent to a sign in page. This sign in page is infinite and will continue to ask the user to sign in.

On FF, after signing in and going to edit profile, if I decide to navigate away from

[2015-05-13 17:28] phet-steele commented on #184
Chrome is totally fine.

[2015-05-13 17:36] orejolaphet commented on #184
@phet-steele I think those two issues deserve their own tickets, but it seems windows isn't handling phet-dev very well with the exception of Chrome.

[2015-05-13 17:42] aaronsamuel137 commented on #184
Can you guys test and see if any of these issues are on the phet.colorado.edu too?

[2015-05-13 17:43] phet-steele commented on #184
@orejolaphet you're probably right, unless @aaronsamuel137 thinks they are related.

But this has brought something else to my attention. @ariel-phet, looking at the PhET inventory spreadsheet, we do not have a Win 7 IE11 device in the office (hence why Norlin is the place to test). We should discuss taking one of our many Win 7 devices and update one of their IEs.

[2015-05-13 18:03] phet-steele opened #185 "Signing in/out and editing profile troubles"
I saw some issues while testing on Win 8.1, but did not have these issues yesterday (5/12).

**IE11**
Signing in then trying to edit profile I get sent to a sign in page. Occasionally this sign in page was infinite and would continue to ask me to sign in. When it didn't, I was brought to the profile page with entry boxes that are too small along the bottom:

![profile boxes](https://cloud.githubus

[2015-05-13 18:07] orejolaphet commented on #184
@aaronsamuel137 this may be a hard but to track because after recreating it doesn't seem completely consistent.
@bryo5363 signed into phet.colorado.edu on Win 7 IE 11 with out any issues.
I signed into phet.colorado.edu and my computer crashed, but after my computer restarted I signed in again and there was no issue.

Also now @bryo5363 and I just both signed into phet-dev on Win 7 IE 11 and we en

[2015-05-13 18:13] orejolaphet commented on #184
I should also mention that the first time I signed in to phet-dev on Win 7 FF 38 the computer crashed, but the second time I signed in there were no issues.

[2015-05-13 19:23] bryo5363 opened #186 "Trouble uploading activity w/ iPad"
I am not sure how serious of an issue this is but when I tried to upload an activity on the iPad I was only given permission to upload photos or videos which is NOT consistent with the allowed "upload-able" files.

[2015-05-13 19:29] bryo5363 opened #187 "iPad keyboard should be formatted to email when logging in"
I noticed when logging in on the iPad that the keyboard is not converted to the standard email keyboard "Including @ on the main keyboard, including .com, etc). I think that this should probably be consistent with the standard email template so the user does not get confused between a typical username and an email address

[2015-05-13 19:55] orejolaphet opened #188 "Signing out when in a different language returns you to the English home page."
Signing out when in a different language returns you to the English home page.
1) Pick any non-English Language
2) Sign in
3) Sign out and you will return to the English home page.

[2015-05-13 20:18] phet-steele commented on #185
Looks like for the FF crashing issue, it can still happen after clicking the update info button

[2015-05-13 20:40] phet-steele commented on #179
Nope. It's allowing me to uncheck the sim and choose another one before submitting (good), but the sim you started on automatically becomes referenced by the activity after submission. Even though I unchecked it I'm still forced to reference it.

[2015-05-13 21:20] phet-steele opened #189 "Activities with missing fields"
Any sim page that contains activities with a missing field (ie. States of Matter or Resistance in a Wire there are plenty) breaks when the activities are sorted by the missing fields.

https://drive.google.com/file/d/0B3HJopSo_QqLSEN0UVViWU1aR1E/view?usp=sharing

Tested on Win 8.1 Browsers

[2015-05-13 21:25] phet-steele opened #190 "Sorting by level puts the For Teachers drop down menu into limbo"
On a sim page, click on the For Teachers arrow to display all the activities. Then, sort by "Level" and afterwards click on the For Teachers arrow again to close the menu:

![teacher limbo](https://cloud.githubusercontent.com/assets/5863899/7621445/2c398a24-f984-11e4-871f-aba284415d85.png)

For Teachers can no longer be clicked either. Tested on Win 8.1 browsers.

[2015-05-13 21:47] jonathanolson commented on #169
Did anything show up in the error logs when the upload was attempted?

[2015-05-13 22:00] phet-steele commented on #189
Frankly, there are many activities (30-50?) on the website that have missing fields. Those that are missing the level and type fields break the sim pages as described above, while there are still plenty of activities that are missing a sim in the simulation field (and don't break sorting). Some certain courses of action to take care these activities have been discussed by @arouinfar and @ycarpente

[2015-05-13 22:04] phet-steele commented on #169
Do you mean the upload of when I browsed through my computer and selected the pdf, or when I tried to access the file from the activity page as is this issue?

[2015-05-13 22:06] aaronsamuel137 commented on #169
The upload actually works fine. However the url that shows up is "phet.colorado.edu/file/activities/XXXX" even on phet-dev. This url seems to be coming from a WebsiteProperties file, but I can't figure out where the properties are actually coming from.

Also, both "phet.colorado.edu/file/activities/XXXX" and "phet-dev.colorado.edu/file/activities/XXXX" appear to redirect to phet-downloads.edu, whi

[2015-05-13 22:11] aaronsamuel137 commented on #179
Good catch, I'll look into why this might be happening

[2015-05-13 22:23] jonathanolson commented on #169
Maybe in context.xml:
[code]
?

[2015-05-13 23:10] aaronsamuel137 commented on #189
I'll fix this so that even if there are missing fields for an activity, those activities will appear in their own "Uncategorized" section.

[2015-05-13 23:16] aaronsamuel137 commented on #169
I've fixed this issue on phet-dev. To be clear, this wouldn't have been an issue on the main site - it had to do with setting on simian and not with the actual website code.

In fact, we'll have to make a note to change these back if we ever start running phet.colorado.edu off of simian.

[2015-05-14 01:09] aaronsamuel137 commented on #185
@ariel-phet, you have Windows 8 right? Can you reproduce any of these issues?

[2015-05-14 01:12] aaronsamuel137 commented on #177
It's not too complicated - though I think I'll wait until after the sim page stuff is resolved since it seems unrelated.

[2015-05-14 02:29] aaronsamuel137 commented on #185
Seems like the IE11 sign-in issue was due to cookies not being enabled. The layout issue with the input boxes will be fixed in the next deploy.

[2015-05-14 04:39] ariel-phet commented on #172
Looks good, closingg

[2015-05-14 04:43] ariel-phet commented on #185
IE11 seems to be working fine on my Win 8, not experiencing any of these sign in issues

[2015-05-14 15:09] aaronsamuel137 commented on #166
It is easy to match the order in the register form. However, due to the way the contribution form is implemented, changing the order will require using different kind of form components in the Java code, which will take a little bit longer. I can do this if it seems important.

As far as the city goes, it will be pretty easy to not have that validate unless there is a state selected. But then it w

[2015-05-14 15:29] orejolaphet commented on #184
Today I signed onto phet-dev on two different windows 7 computers with IE 11 and encountered no issues. First on a Dell computer, the other a Dual Booted IMac.

[2015-05-14 16:04] phet-steele commented on #185
@ariel-phet how about FF? IE11 problems were figured out.

[2015-05-14 16:10] orejolaphet opened #191 "Support Phet Page inconsistencies"
I know this isn't necessarily related to phet-dev, but there are a few (minor) issues I noticed when testing.

1) If you sign into phet & phet-dev then click the "Donate Today" link, you are no longer signed in

2) All links on https://donatenow.networkforgood.org/1437859 link to phet not necessarily phet-dev

3) After Selecting "Log in to edit a recurring donation" there are two log in buttons di

[2015-05-14 16:12] ariel-phet commented on #185
FF appears to be working fine for me if I sign in, edit, and navigate away from the edit page.

[2015-05-14 16:19] phet-steele opened #192 "Ambiguity of translated sims"
The translated sims page does not distinguish between HTML5 and legacy versions.

![entrans](https://cloud.githubusercontent.com/assets/5863899/7636022/7f770da4-fa21-11e4-89b7-8d9d0c256278.png)

This causes initial confusion, for example, on the Turkish translation page where Acid-Base Solutions is listed as both translated and untranslated.

![tutrans1](https://cloud.githubusercontent.com/assets/

[2015-05-14 16:28] phet-steele commented on #191
I believe I can answer some of these more generally, but this page is not maintained by PhET, nor does it use PhET accounts (hence why you aren't logged in). I think this webpage is owned by a separate group that just made their own site look like ours. @aaronsamuel137 correct me if I'm wrong, just trying to remember something from awhile ago. But in any case, I don't feel it would be a terrible i

[2015-05-14 16:51] amanda-phet commented on #192
Good catch @phet-steele . That is confusing. @aaronsamuel137 can we use the same naming convention in other places on the site where the HTML5 version of the sim is named Acid-Base Solutions (HTML5)?

Also, on a less related note, why does only one of the sims have the hyphen? It seems like it should be consistent.

[2015-05-14 17:11] phet-steele opened #193 "Software Requirements Confusion"
Looking at the software requirements on the new sim pages I became confused:

![soft is required](https://cloud.githubusercontent.com/assets/5863899/7636999/1079d542-fa28-11e4-8356-b755c8160049.png)

I'll admit I first read the plus sign as an "and" which led me to wonder why we were listing Windows 7 and PCs at the same time (quite redundant) and why we were listing Macs and PCs in the second col

[2015-05-14 17:25] phet-steele opened #194 "About PhET team problem"
The current list of PhET team members on the about page (in phet-dev) has quite a few errors and people missing. Are there plans to correct these in the future? I read in an older, closed issue about this page that these change dynamically from the database. So is this not going to be a problem once we move to figaro, or is the database wrong?

[2015-05-14 17:27] aaronsamuel137 commented on #191
This page isn't maintained by phet. I am not sure what the process for updating this page would be. Perhaps @jonathanolson knows.

[2015-05-14 17:27] ariel-phet commented on #193
@amanda-phet perhaps discuss with @oliver-phet

I agree consistency would be good. I might also be comfortable with just saying "Windows 7 +" and remove the "PCs" altogether. I mean, I know Windows 8 runs on things like a Surface tablet, but this seems like a fine distinction that probably only matters to a very small percentage (likely negligible) of our users.

[2015-05-14 17:47] bryo5363 commented on #194
This is also present in the credits for the simulations. The credits on the webpage for the simulation is not consistent with the credits in the actual simulation

[2015-05-14 17:53] aaronsamuel137 commented on #194
Yes it is dynamically loaded from the database. So this will match what is on the live site when it is deployed.

The credits will need to be manually updated in the admin interface - I think that the right people are aware that this needs to be taken care of after the redeploy.

[2015-05-14 17:59] phet-steele commented on #173
Clicking slightly above the title of each menu has the same effect.

[2015-05-14 19:20] jonathanolson commented on #191
Talking to KP or Kathy Dessau would be the way to get these changed. I believe each session of changes includes a fee?

But yes, these are maintained by Network for Good.

[2015-05-14 19:37] aaronsamuel137 commented on #190
This should be fixed. Assigning to @phet-steele for verification.

[2015-05-14 19:38] aaronsamuel137 commented on #173
Should be fixed. Assigning to @phet-steele or @orejolaphet for verification. Close if it looks good to you.

[2015-05-14 19:39] aaronsamuel137 commented on #166
Assigning to @ariel-phet. Please reassign to me if you think the order is really important in the contribution submit page or if you'd like the city behavior to be changed again. Right now the city doesn't validate unless a state is selected.

[2015-05-14 19:40] aaronsamuel137 commented on #179
OK I think this is fixed now. Assigning to @phet-steele for verification.

[2015-05-14 19:41] aaronsamuel137 commented on #192
Should be good to go. Assigning to @phet-steele for verification.

[2015-05-14 19:42] aaronsamuel137 commented on #188
Currently true on the live site too. Fixed now on phet-dev. Closing.

[2015-05-14 19:42] #188 closed

[2015-05-14 19:46] aaronsamuel137 commented on #189
The sorting should work now even if there are missing fields. Should this be closed or do we want to go and update all of these activities too?

[2015-05-14 19:47] aaronsamuel137 commented on #187
Good call. I have made these inputs type="email", which should make the email keyboard appear on iPad.

Also fixed a formatting issue on iPad while I was at it - the search bar was bigger than the magnifying glass.

Assigning to @orejolaphet for verification.

[2015-05-14 19:50] aaronsamuel137 commented on #185
The look of the input boxes should be fixed. Does it look good to you now @phet-steele?

[2015-05-14 20:41] oliver-phet commented on #193
@arnabp and I discussed this a bit. I think just removing "PCs" from both Windows and Mac would make the requirements clear.

[2015-05-14 21:34] ariel-phet commented on #166
Not a big priority, it seems like a nice touch, but not necessary for the initial deploy

[2015-05-14 21:45] amanda-phet commented on #193
I agree that including "PCs" is unnecessary and potentially confusing for all. Let's go ahead and remove it.

[2015-05-14 21:52] amanda-phet commented on #189
I am surprised these fields are missing at all. If I try to submit an activity on the main site- Title, Type, Author, and Level are all required fields. I'm curious how these activities made it though. The example above was submitted less than a year ago.

BTW, this breaks the table on the live site as well.

[2015-05-14 22:02] arouinfar commented on #189
@phet-steele and I found roughly 30 activities that are not associated with any sim. There were some from PhET authors, and others had a sim title in the name of the activity. The best way that we found to find these activities is from the Browse Activities page by viewing all activit
ies and looking for entries with with an empty cell in the simulation column. These activities seem to disappear w

[2015-05-14 22:10] arouinfar commented on #189
Here are a few examples of activities that do not have any sims tagged, though it is fairly obvious which sims these activities were written for.
http://phet.colorado.edu/en/contributions/view/3291
http://phet.colorado.edu/en/contributions/view/3599
http://phet.colorado.edu/en/contributions/view/2832
http://phet.colorado.edu/en/contributions/view/3350

[2015-05-14 22:27] oliver-phet opened #195 "Add a top-level troubleshooting entry"
http://phet.colorado.edu/en/troubleshooting

Can we add the following to the "Common Troubleshooting Issues" (first)
Where do I start if the simulations do not run on my computer?

First, update to the latest version of Java: http://java.com/en/
Run the latest version of the sim directly from phet.colorado.edu by clicking the 'Run Now' button on the sim page. e.g.: http://phet.colorado.edu/sims/en

[2015-05-14 23:28] phet-steele commented on #179
Yup!

[2015-05-14 23:28] #179 closed

[2015-05-15 00:03] phet-steele commented on #185
Okay, the words aren't cut off anymore in the input boxes so it looks good. However being as nit-picky as I am, the box for the last name MAY be about one pixel shorter on the bottom than the first name box. It's barely noticeable, but what IS noticeable is the city box is smaller than the menu boxes next to it:

![small jeka](https://cloud.githubusercontent.com/assets/5863899/7644545/6fa46f4c-fa6

[2015-05-15 00:14] phet-steele commented on #190
:+1:

[2015-05-15 00:14] #190 closed

[2015-05-15 00:31] phet-steele commented on #192
Looks good, however perhaps we should have both columns use this distinction? After your fix only the left column distinguishes between HTML5 and legacy. I don't see why the middle column shouldn't.

[2015-05-15 00:41] phet-steele commented on #194
Sounds like there won't be a problem, and there's already a ticket tracking the update of the credits. I'll close this now and open it later if the page has mistakes once this goes live.

[2015-05-15 00:41] #194 closed

[2015-05-15 01:06] phet-steele commented on #173
Good to go.

[2015-05-15 01:06] #173 closed

[2015-05-15 15:06] phet-steele commented on #189
Btw, the sorting isn't broken anymore :+1:

[2015-05-15 15:59] phet-steele opened #196 "Language link splitting"
On the wider pages, like Teaching Resources and its subsequent sub menus, the link to the Japanese language gets split between two lines:

![half jap](https://cloud.githubusercontent.com/assets/5863899/7656368/4e58633c-fae7-11e4-92d0-2d011d60fc71.PNG)

In RTL it's more clear the link actually gets split into two links:

![2 jap](https://cloud.githubusercontent.com/assets/5863899/7656440/c01ee13a-f

[2015-05-15 16:40] phet-steele opened #197 "Double Clicking Buttons on FF"
Double clicking "Update" on the edit profile page or double clicking "Submit Activity" while creating an activity causes an internal error for me.

Tested on Win 8.1, FF 37.0.2

[2015-05-15 17:15] phet-steele opened #198 "Language switch while editing a profile"
Similar to #188, if you sign in then go to edit your profile and switch the language while on the profile page, you'll go back to your first language after clicking update.

Tested on Win 8.1 browsers

[2015-05-15 17:30] bryo5363 commented on #198
observed on OSX as well

[2015-05-15 17:33] phet-steele opened #199 "Newsletter subscription email"
I'm really just curious here about how the email confirming my newsletter subscription gets sent to me. I've been editing my profile back and forth between being subscribed and unsubscribed to the newsletter, waiting hopefully adequate time between switching (5 min?). Not once have I got an email from phethelp when doing this. The only time I ever received one was the first day I registered and ha

[2015-05-15 17:35] bryo5363 commented on #197
I did not observe this behavior on OSX 10.9.5 FF 38

[2015-05-15 17:40] phet-steele commented on #197
Try having a field blank first, where normally the site wouldn't let you proceed and give you an error message. See if anything is different.

[2015-05-15 17:41] bryo5363 commented on #170
@aaronsamuel137 I observed some strange behavior when changing my password. I got the PhET password change email and successfully changed my password; after I changed the password I signed out and was taken to a page requesting me to sign in. Once I entered my information and pressed submit, I was taken to the homepage but I was signed out of my profile

[2015-05-15 17:45] bryo5363 commented on #197
The issue is still not present

[2015-05-15 17:50] phet-steele commented on #197
I updated FF, still happens. Maybe not as consistently.

[2015-05-15 18:24] aaronsamuel137 commented on #161
This will require totally redoing the current implementation of these dropdowns. It's actually a bit of a project, so I'm not sure we want to have this as part of the the first deployment. What are your thoughts @ariel-phet?

[2015-05-15 18:27] amanda-phet commented on #161
I think it's fine the way it is since it automatically selects the locale you're viewing the site in. Just wanted to find out how difficult it might be to change.

[2015-05-15 20:15] ariel-phet commented on #161
Seems like this would fall in the "nice touch" category, certainly not priority for the moment

[2015-05-15 21:24] aaronsamuel137 commented on #169
Is this working for you now @phet-steele? Feel free to close if so.

[2015-05-15 21:55] aaronsamuel137 commented on #198
Once you edit your profile you are redirected back to the page you were on before going to the edit profile page. I'm inclined to leave this behavior as it is.

Assigning to @ariel-phet to either close or assign back to me.

[2015-05-15 22:01] aaronsamuel137 commented on #199
Currently that is the expected behavior. An email is sent only when you first register, and not when you subscribe or unsubscribe.

[2015-05-15 22:22] aaronsamuel137 commented on #193
PCs has been removed. Closing.

[2015-05-15 22:22] #193 closed

[2015-05-15 22:23] aaronsamuel137 commented on #76
All of these symbols have been removed. They are still in the database, but there is no way to see them on the site now. Closing

[2015-05-15 22:23] #76 closed

[2015-05-15 22:24] aaronsamuel137 commented on #77
Removed this page when taking care of #76. Closing

[2015-05-15 22:24] #77 closed

[2015-05-15 22:25] aaronsamuel137 commented on #192
Added (HTML5) suffix to middle column. Closing

[2015-05-15 22:25] #192 closed

[2015-05-15 22:25] aaronsamuel137 commented on #185
Should be better now. Assigning to @phet-steele for verification.

[2015-05-15 22:54] aaronsamuel137 commented on #170
Good catch! Please verify and close the issue if it's working for you @bryo5363

[2015-05-15 23:01] phet-steele commented on #185
It is indeed better. I'm going to say all the FF crashes were my computer having a bad day, it hasn't happened since.

[2015-05-15 23:01] #185 closed

[2015-05-15 23:01] phet-steele commented on #169
It's good!

[2015-05-15 23:01] #169 closed

[2015-05-15 23:09] phet-steele commented on #126
The sponsors can still push the line down.

Normal page:
![normal line](https://cloud.githubusercontent.com/assets/5863899/7663275/063a1198-fb25-11e4-9ac1-23c651ad431d.PNG)

Page with large sponsor:
![low line](https://cloud.githubusercontent.com/assets/5863899/7663273/fac0cae6-fb24-11e4-9c01-5c9b3b2dacab.PNG)

[2015-05-15 23:24] phet-steele commented on #199
Well then what I can say is it seems the check box on the profile page being checked or unchecked is completely independent of whether or not I am actually subscribed, or at the least it can't be trusted. I decided to uncheck the box, then go to the news page under About PhET and put in my email to subscribe to the newsletter. The email was sent and it says I have been confirmed to have a subscrip

[2015-05-16 17:32] aaronsamuel137 commented on #126
Good catch. I set a max-height of 95px to all of these images, but some of them have padding that cause them to extend farther. This will be fixed on the next deploy.

[2015-05-16 17:42] aaronsamuel137 commented on #199
This seems like a bug. And when I tried to reproduce it, there was an Internal Server Error. Assigning to myself to investigate.

[2015-05-18 16:14] ariel-phet commented on #198
I think I am with you @aaronsamuel137 - it seems like an odd use case to choose a new locale while on the edit profile page instead of beforehand. Even so, if someone does actually follow this scenario, they will be able to easily switch locale again when returned to the original page. Perhaps a minor inconvenience, but will only happen in this very specific use case. I am OK with leaving as is, c

[2015-05-18 16:14] #198 closed

[2015-05-18 16:17] ariel-phet commented on #196
This bug exists on the current site. We should fix it, but currently our teacher resources are primarily in English.

[2015-05-18 17:12] aaronsamuel137 opened #200 "Website changes optimizations and code review"
It would be good at some point to have someone look over all of the recent website changes with an eye for both speed optimizations and code review of some of the changes to registration and activity submission.

In particular, @kathy-phet noted the double resolution screenshots on the sim pages and was wondering if there would be any performance implications for the pages.

[2015-05-18 22:38] aaronsamuel137 commented on #199
I think the correct behavior should be that if you already have a phet account, you shouldn't be able to subscribe to the newsletter from this page. You should have to go through the edit profile page.

I have added a check to make sure the email address is not already in use. For example:

![screen shot 2015-05-18 at 4 38 01 pm](https://cloud.githubusercontent.com/assets/3193912/7691980/49dcebec-

[2015-05-18 22:40] aaronsamuel137 commented on #126
Fixed. Closing

[2015-05-18 22:40] #126 closed

[2015-05-18 23:20] aaronsamuel137 commented on #200
The files that would be the most useful to review are:

RegisterPanel
ContributionEditPanel
SimulationMainPanel
HTML5Panel (there is a bit a of complicated query for selecting HTML5 sims in here that could be perhaps be optimized)

all changes are on branch html5-sim-pages

[2015-05-18 23:22] aaronsamuel137 commented on #197
I can't reproduce this, though I have once or twice seen an internal error here that I haven't fully understood. I'd say for now there is nothing I can do unless I can figure out a way to reproduce it and see what is going on.

[2015-05-18 23:24] aaronsamuel137 commented on #184
I'm going to close this for now. I have no idea where to start with this, and it may have just been a fluke. Feel free to reopen if issues persist.

[2015-05-18 23:24] #184 closed

[2015-05-19 00:35] aaronsamuel137 opened #201 "Front page video resolution should match video files exactly"
Currently, the video resolution and css determined video size don't exactly match, which could cause the videos to be fuzzy. I will address this.

[2015-05-19 00:52] ariel-phet commented on #199
@aaronsamuel137 - I think the ideal move is that if you put in an email address already in use, that the database (and your profile) is automatically updated. That would be the most seamless user experience in my opinion

[2015-05-19 00:53] ariel-phet commented on #199
If the behavior I suggest will take sometime to implement, for now I would have it say

"That email address is already in use, please edit your profile to subscribe to the newsletter" and perhaps have "edit your profile" be a link in that message to the edit profile page?

[2015-05-19 00:57] ariel-phet commented on #189
@phet-steele can you deal with these activities...ie delete duplicate activities with no associated files, tag activities that are not associated with a sim (if there is an obvious sim), and fill in missing fields if there is an obvious correct answer?

This work should be done on the main site, so that it changes the main database

[2015-05-19 01:00] ariel-phet commented on #186
@aaronsamuel137 - it seems we should investigate this a bit...but perhaps iPad's do not support PDF or basic document editing software (such as word/pages etc)

[2015-05-19 01:04] ariel-phet commented on #197
@phet-steele - please hammer on this for awhile and see if you can figure out a consistent way to reproduce. Perhaps have the browser console opened and when you get the error see if the console is reporting anything that you can give to @aaronsamuel137 for more information?

[2015-05-19 01:14] aaronsamuel137 commented on #186
I can't get anything to upload with my iPad mini - it just hangs after I press upload. This issue exists on phet-dev and the main site currently.

@bryo5363, what browser are you using on iPad? Did you actually get something to upload? Can you give me a link to the activity? I imagine that whatever issue you are running into here exists on the main site too.

[2015-05-19 01:14] aaronsamuel137 commented on #186
The server eventually returns a "400 bad request error"

[2015-05-19 01:22] aaronsamuel137 commented on #186
Also, it looks like iPad only allows you to upload photos and no other type of file, at least in Safari and Chrome. I think this is true in general on iPad. If this is the case, then it it probably not worth investigating this issue further.

[2015-05-19 01:23] aaronsamuel137 commented on #197
The browser console won't help here, since it is a server side issue and not something that happens in the browser.

[2015-05-19 15:32] orejolaphet commented on #187
@aaronsamuel137 Verified fixed on iPad Air 2 iOS 8.3 and iPad 2 iOS 8.3. Closing

[2015-05-19 15:32] #187 closed

[2015-05-19 17:24] aaronsamuel137 commented on #199
I can do that. What should be the behavior when you click subscribe and you already have a profile?

Right now, the behavior is that you are sent a confirmation email and redirected to a page that tells you to confirm by checking your email and clicking the link. This seems unnecessary if you already have a profile and have confirmed your email address already.

[2015-05-19 17:43] aaronsamuel137 commented on #196
I can't reproduce this, perhaps is it screen resolution dependent?

Either way, I think it should be fixed now. I made the footer width match the header width regardless of the page width.

[2015-05-19 17:43] aaronsamuel137 commented on #196
Assigned to @phet-steele for verification.

[2015-05-19 17:43] aaronsamuel137 commented on #201
Fixed. Closing.

[2015-05-19 17:43] #201 closed

[2015-05-19 17:45] ariel-phet commented on #199
I think just a confirmation message on the site that says something like "Your profile preferences have been updated. If you wish to change these preferences in the future, edit your profile"

Or something to that effect.

[2015-05-19 17:46] ariel-phet commented on #199
@amanda-phet - have thoughts on the wording?

[2015-05-19 17:46] aaronsamuel137 commented on #199
Should this be on a new page, or just a message that appears on the same page?

[2015-05-19 17:47] ariel-phet commented on #196
Fixed for me now...closing

[2015-05-19 17:47] #196 closed

[2015-05-19 17:49] aaronsamuel137 commented on #158
Seems to be working fine, so I'm closing the issue.

[2015-05-19 17:49] #158 closed

[2015-05-19 17:49] phet-steele commented on #189
I have assured the quality of activities! I hope the deleting didn't create broken links for teachers.

[2015-05-19 17:52] ariel-phet commented on #189
Thanks! Closing

[2015-05-19 17:52] #189 closed

[2015-05-19 19:25] aaronsamuel137 commented on #197
This is partially fixed. Now you will no longer get an internal server error when clicking fast like this. However, in cases where the server error would have happened, the navigation links will disappear.

I am really stumped as to why this is happening. At least it's a little better than it was.

@phet-steele, can you verify the server error is no longer happening for you?

[2015-05-20 04:02] phet-steele commented on #197
Yup, no more error but missing the navigation links.

[2015-05-20 14:40] aaronsamuel137 commented on #197
By the way - this issue also seems to be present on the main website, and it doesn't seem browser specific. I have reproduced it in Chrome.

I also don't think it is too big a deal, since a typical user would not be clicking many times so quickly.

[2015-05-20 16:10] amanda-phet commented on #199
I like the message you wrote above: "Your profile preferences have been updated. If you wish to change these preferences in the future, edit your profile." If it can be on the same page that seems like it would be nice and clean, but a new page wouldn't be bad either.

[2015-05-20 16:15] amanda-phet commented on #186
I don't think file uploading is ever supported on iPads, for most websites like this, and I would not expect it to function.

[2015-05-20 16:29] ariel-phet commented on #186
Sounds like we can just close the issue...closing.

[2015-05-20 16:29] #186 closed

[2015-05-20 18:25] amanda-phet opened #202 "tab navigation on new sim pages"
I noticed that the tab navigation is working really well now as I move through the content on a page. However, the one big issue I am seeing is that I don't see a focus rectangle around these headings:
![screen shot 2015-05-20 at 12 23 26 pm](https://cloud.githubusercontent.com/assets/7852916/7733235/0c64add4-feeb-11e4-96b1-6dd6e6d3822d.png)

If I continue to hit tab, I end up going through the co

[2015-05-20 20:27] aaronsamuel137 commented on #202
I'm not sure how I could force a user to hit enter - but we could just automatically expand the texts when they get tabbed to. Does that sound good?

[2015-05-20 20:34] aaronsamuel137 commented on #199
The other complication here is whether or not the user is logged in. It seems like we shouldn't modify a user's profile unless they are logged in. What do you think we should do in the case where a non-logged in user is trying to subscribe?

[2015-05-20 21:06] amanda-phet commented on #202
That makes sense. That way the user will be able to see what they are navigating through.

[2015-05-21 15:00] aaronsamuel137 commented on #202
I've added tab navigation and auto-expanding on the sim pages. Assigning to @amanda-phet for review.

[2015-05-21 15:49] amanda-phet commented on #202
I think that's a lot better. Thanks!

[2015-05-21 15:49] #202 closed

[2015-05-21 21:33] jonathanolson commented on #200
RegisterPanel includes a lot of code duplication for checkboxes, etc. If this could be collapsed to a list of checkbox string names (with code to iterate over), and a "checkbox name => checkbox" map, it would probably be much easier to modify in the future (removing or adding a single item), and probably a bit more readable.

[2015-05-21 21:39] jonathanolson commented on #200
It's fairly minor, but usually StaticImage should have alt-text, e.g. missing on:
[code]

If the image doesn't really have "alt text" like this icon, I'd typically use CSS to display the image (background-image) so that a DOM image element isn't used.

This type of thing usually shows up as a big red flag for accessibility scans of pages.

[2015-05-21 21:40] jonathanolson commented on #200
I'd encourage running a tool to check for major accessibility issues and fix the low-hanging fruit.

[2015-05-21 21:43] jonathanolson commented on #200
Instead of:
[code]
(from SimulationMainPanel, line 210)
I'd use:
[code]

unless you specifically want to strip "es_MX" down to "es".

[2015-05-22 01:19] aaronsamuel137 commented on #199
Since I have run into a few complications here, I am going to leave this issue unaddressed until after the new sim pages deploy.

[2015-05-22 18:38] jonathanolson commented on #200
Everything else is looking good. One last checklist item would be to ensure that it works well with the installer rip, has that been tested?

[2015-05-22 18:40] jonathanolson commented on #200
(Best way is to use a user-agent changer in your browser, and browse with 'httrack-web-offline-en' as your user-agent).

[2015-05-22 19:16] aaronsamuel137 commented on #200
@jonathanolson, can you look at the add checkBoxMap commit above and confirm that this is the kind of change you were anticipating? I wanted to try it on a subset of the checkboxes and make sure it looks good to you before doing it to all of them.

[2015-05-22 19:26] aaronsamuel137 commented on #200
Other fixes have been made as well. I used the webaim accessibility tool to address some issues, such as adding alt attributes and the lang attribute.

[2015-05-22 19:41] jonathanolson commented on #200
Yes, looks good. Thanks.

[2015-05-22 22:00] aaronsamuel137 commented on #200
OK all these changes have been made. Probably at some point we'll want to create another issue just about accessibility, but I've gotten some of the low hanging fruit. Assigning to @jonathanolson for review.

[2015-05-22 22:23] jonathanolson commented on #200
Looks good! I didn't see anything else sticking out, looking very good overall. Closing the issue, feel free to proceed with prep for deployment.

[2015-05-22 22:23] #200 closed

[2015-05-26 16:00] aaronsamuel137 commented on #17
New sim pages are deployed! Closing

[2015-05-26 16:00] #17 closed

[2015-05-26 16:36] amanda-phet commented on #159
@aaronsamuel137 Can you please add "Guided Activity" as an activity type to the database? While we're updating other activity information, this would be very helpful to have.

[2015-05-26 16:54] aaronsamuel137 commented on #159
I haven't read through all the comments on this issue. Just to confirm: the one thing I need to do is add a "Guided Activity" type?

[2015-05-26 16:58] patricialoeblein commented on #159
Amanda, would this be a good time to consider also changing Concept questions to Formative Assessment?

[2015-05-26 17:14] amanda-phet commented on #159
Yes @aaronsamuel137 that is correct. Just add the "Guided Activity" type.

[2015-05-26 17:14] amanda-phet commented on #159
@ycarpenterphet can you comment on the Formative Assessment type since you did not comment earlier? You and Trish both write a lot of Concept Questions.

[2015-05-26 17:31] arouinfar opened #203 "Unable to upload teacher tips"
It seems that I am unable to upload a teacher tips document to a HTML5 sim page.

On the administration page for the sim, there is a field to upload the file. After selecting the file:
![image](https://cloud.githubusercontent.com/assets/8419308/7818545/ba9bfd5a-0399-11e5-90a9-c79878bb1104.png)

After clicking submit, the chosen file disappears and no changes appear to have been made:
![image](http

[2015-05-26 17:38] arouinfar commented on #160
@aaronsamuel137, this issue still persists after the launch of new sim pages. I am unable to upload a teacher tips document to a HTML5 sim page.

On the administration page for the sim, there is a field to upload the file. After selecting the file:
![image](https://cloud.githubusercontent.com/assets/8419308/7818545/ba9bfd5a-0399-11e5-90a9-c79878bb1104.png)

After clicking submit, the chosen file d

[2015-05-26 17:39] arouinfar commented on #203
Duplicate of #160, so closing.

[2015-05-26 17:39] #203 closed

[2015-05-27 00:07] ariel-phet opened #204 "Licensing for interoperable sims"
@kathy-phet says that she has the approved text for this licensing and will need @aaronsamuel137 to post it on the website.

I will follow up with her to make sure the text available soon.

[2015-05-27 00:12] ariel-phet commented on #164
https://github.com/phetsims/tasks/issues/253 will be handling the credits

[2015-05-27 15:30] aaronsamuel137 opened #205 "Sim credits limited to 255 characters"
@phet-steele has reported issues submitting credits for sims in the admin interface. Right now the database type for credits is varchar(255), which means it can only hold 255 characters. Either we'll need to accept this limitation and shorten some of the credits for HTML5 sims, or we'll have to make some changes to the database and code here.

Either way, it might be good to add a check and warnin

[2015-05-27 17:12] phet-steele commented on #205
Build an Atom, Friction,  and Molecules & Light. Here is exactly how I am trying to list the credits for each:

Build an Atom:
Kelly Lancaster (lead)
John Blanco (developer)
Sam Reid (developer)
Jack Barbera
Suzanne Brahmia
Julia Chamberlain
Yuen-ying Carpenter
Patricia Loeblein
Emily B. Moore
Robert Parson
Ariel Paul
Kathy Perkins
Sharon Siman-Tov

Friction:
Noah Podolefsky (lead)
Michael Dubson

[2015-05-27 18:11] phet-steele commented on #205
If you just copy paste these into a word document, they are all under 255 characters. Characters must be added afterward, maybe from the bullet point formatting?

[2015-05-27 21:47] amanda-phet opened #206 "Administrator user profiles missing fields"
I noticed that the People page (https://phet.colorado.edu/en/about/team) has some new issues. Before the recent profile changes, PhET team members had additional profile fields that are now missing, and thus not editable. Also, the split name field is causing a problem with displaying full names.

Can you fix the names so that they show both first and last, and add a field for users to edit our ti

[2015-05-27 22:33] aaronsamuel137 commented on #205
Most likely the problem is that line breaks get expanded to 4 character <br> tags or possibly 5 (<br/>).

This should be an easy fix, but I'll want to run the database change commands in the evening when there is less traffic

[2015-05-27 22:50] aaronsamuel137 commented on #160
Sorry about the delay in working on this. I'm guessing this should be fairly high priority with the new sim pages deployed. I'll start looking at it today.

[2015-05-27 23:31] aaronsamuel137 commented on #160
@arouinfar, after you press submit, are you redirected back to the admin page with all of the sims listed, or do you stay on the same page?

[2015-05-28 01:11] aaronsamuel137 commented on #159
Guided Activity added. Assigning to @amanda-phet for review. This should be live on the main site (and phet-dev)

[2015-05-28 01:13] aaronsamuel137 commented on #206
Team page should display first and last name now. Team members can now edit their job title. Assigning to @amanda-phet for review.

[2015-05-28 01:21] aaronsamuel137 commented on #160
I have attempted a fix for this that seems to work on the test cases I have tried so far. (I removed area builder guide and re-uploaded it).

Note: the expected behavior for adding/removing a guide is that you will be redirected back to the admin page with all of the simulations. If this does not happen, there was probably an error.

Even if there is a guide uploaded, you will see "No file chosen"

[2015-05-28 01:29] aaronsamuel137 commented on #205
I've updated the database and updated the credits for these 3 sims. Closing

[2015-05-28 01:29] #205 closed

[2015-05-28 01:50] arouinfar commented on #160
Thanks, @aaronsamuel137! It seems like everything is working now. Previously, I would remain on the same page after attempting to upload the file. I'm now successfully redirected to the main simulations page in the administration section.

I've uploaded a teacher tips document for Energy Skate Park: Basics. I caught a broken link in the original document I uploaded, but was able to successfully re

[2015-05-28 01:59] aaronsamuel137 commented on #170
This was fixed awhile ago. Closing

[2015-05-28 01:59] #170 closed

[2015-05-28 02:11] amanda-phet commented on #159
I see Guided Activity as an option, but when I check it and uncheck Lab, Lab still remains on the activity. Also, there is a strange bug:
![screen shot 2015-05-27 at 8 09 53 pm](https://cloud.githubusercontent.com/assets/7852916/7851407/83526bb8-04ac-11e5-9a9a-1ab657d3d6c7.png)

[2015-05-28 02:19] amanda-phet commented on #160
I am only noticing this now that we are uploading tips, but these seem to be visible only when logged in. Can you make the teacher tips always visible? Currently, only the primer video is hidden until logged in (and there is a note when applicable).

[2015-05-28 02:21] amanda-phet commented on #160
I logged out and now I'm still seeing them. Do you know why I couldn't see them before? I refreshed a bunch of times and it was only after logging in that I saw @arouinfar 's ESPB tips. Now I am still seeing them all...

[2015-05-28 02:22] amanda-phet commented on #160
Maybe it was a fluke?

[2015-05-28 02:25] amanda-phet commented on #206
Looks good!

[2015-05-28 02:25] #206 closed

[2015-05-28 05:51] aaronsamuel137 commented on #159
Looks like each activity has an abbreviated name that shows up in the table. I have added the string "Guided" as the abbreviation for "Guided Activity" - but I can change it if you'd like. Just let me know.

I'll look into the issue where the Lab is still showing up tomorrow.

[2015-05-28 06:03] arouinfar commented on #160
Strange! After uploading the file, the teacher tips became immediately visible to me on the sim page. I used my personal laptop to check if the teacher tips for ESPB were visible without signing in, and I was still able to see the file.

[2015-05-28 14:21] amanda-phet commented on #160
Maybe it was just a temporary glitch. I'll close the issue.

[2015-05-28 14:21] #160 closed

[2015-05-28 16:28] aaronsamuel137 opened #207 "Expandable text should close faster"
Over email:

KP:

AP:

[2015-05-28 17:50] aaronsamuel137 opened #208 "New page needed for third-party-libraries"
http://phet.colorado.edu/third-party-libraries should redirect to https://github.com/phetsims/sherpa/blob/master/info.md once https://github.com/phetsims/sherpa/issues/22 is taken care of. For now it should redirect to to google doc:  https://docs.google.com/spreadsheets/d/1XWlHFidztUT6ARb7yHQ1Naepd6L0x9LF94AAoKHGaWg/edit#gid=0

[2015-05-28 18:02] aaronsamuel137 commented on #159
This is a bug. Currently you can't remove any subjects, levels, types in contribution edit. This is leftover from the old implementation before the redesign and never got tested until now.

[2015-05-28 18:19] bryo5363 commented on #172
I noticed the RTL login screen still needs some adjustment

![screen shot 2015-05-28 at 12 18 47 pm](https://cloud.githubusercontent.com/assets/7717368/7867505/bd89d17c-0533-11e5-9755-b21d77936175.png)

[2015-05-28 18:39] aaronsamuel137 commented on #172
There's not an easy way to fix these issues - basically it just has to do with displaying left to right text inside of a right to left container. So the punctuation placement gets messed up. Once it is translated, these issues will not be here anymore.

Do you see other issues aside from punctuation being on the wrong side?

[2015-05-28 20:52] aaronsamuel137 opened #209 "Expandable text doesn't work in Safari private browsing mode"
The expandable text on the sim pages and troubleshooting pages breaks if the sessionStorage.setItem fails. It appears that it will fail on Safari when on private browsing mode with the following error:

[code]

[2015-05-28 22:01] bryo5363 commented on #172
Nope, nothing besides that. Everything else looks good

On Thu, May 28, 2015 at 12:39 PM, Aaron Davis <notifications@github.com>
wrote:

[2015-05-28 22:39] aaronsamuel137 commented on #172
OK in that case I am closing this. It will have to be addressed by the translator.

[2015-05-28 22:39] #172 closed

[2015-05-29 03:18] aaronsamuel137 commented on #208
http://phet.colorado.edu/third-party-libraries now redirects to the google doc. Once the md file is ready on github I will change it to redirect there.

[2015-05-29 04:23] aaronsamuel137 commented on #209
Fixed. Closing

[2015-05-29 04:23] #209 closed

[2015-05-29 07:02] jonathanolson opened #210 "Make sure Wordpress (for the blog) is up to date"
Ideally, our Wordpress should be updated automatically to ensure we don't have vulnerabilities, as older versions can be a common target.

Website had a hiccup tonight (~12:42) when a remote server heavily scanned "http://phet.colorado.edu/blog//xmlrpc.php".

@ariel-phet, can you tag for appropriate priority / asignee?

[2015-05-29 15:33] aaronsamuel137 commented on #210
It looks like Wordpress is up to date and auto updating already. If you log in as a the blog admin and go to updates it says:

[2015-05-29 16:18] ariel-phet commented on #210
@jonathanolson - I am closing this issue as per @aaronsamuel137 comments above. Please reopen if you feel further action is appropriate

[2015-05-29 16:18] #210 closed

[2015-05-29 16:44] aaronsamuel137 commented on #177
Assigning to @zepumph.

[2015-05-29 16:52] aaronsamuel137 commented on #177
The file to look at here is RunOurSimulationsPanel.html

[2015-05-29 18:12] zepumph commented on #177
I made each of the table columns 25%, and the whole table just a bit wider, I don't think it's too close to the social media buttons on the right though. Thoughts before I push?
![getphet_table_screenshot](https://cloud.githubusercontent.com/assets/6856943/7889274/beb726b2-05fb-11e5-859a-1d8cd52d6964.png)

[2015-05-29 18:17] aaronsamuel137 commented on #177
Feel free to push - just reference #177 in your commit message so the commit shows up here. I will take a look before I actually deploy to the main site.

If you committed already and didn't reference #177 you can always just copy the sha in a comment.

[2015-05-29 20:33] aaronsamuel137 opened #211 "Can't remove types from contributions"
From #159:

AM:

AD:

[2015-05-29 20:36] aaronsamuel137 commented on #159
I'm tracking the bug where you can't remove types, etc. in #211. As far is this issue goes, assigning back to @amanda-phet for review or next steps.

[2015-05-29 20:40] aaronsamuel137 commented on #211
This should be fixed now. @amanda-phet can you verify that it is working for you on phet-dev before I deploy to the main site?

[2015-05-29 21:32] ycarpenterphet commented on #159
@amanda-phet @patricialoeblein I took a look at both of your comments on replacing 'Concept Questions' (CQs), with 'Formative Assessment' and I took a look at activities submitted by non-PhETteam members in the existing CQ category.

From community members, there are only one or two activities under CQ that are multiple-choice questions that might be used with personal response systems or class vo

[2015-05-29 22:01] amanda-phet commented on #177
The mockup above looks good to me. I don't see it live or on phet-dev, though.

[2015-05-29 22:04] amanda-phet commented on #177
Actually, It appears that changing the column widths to be evenly distributed did not fix the problem of making the really long text take up less vertical space. The right three columns should be evenly distributed, but the left column should be even narrower to give the right three more space. Hopefully that solves the problem a bit better.

[2015-05-29 22:17] amanda-phet opened #212 "Delay when uploading teacher tips"
This is in reference to an issue I noticed with #160. After uploading teacher tips, I'll see them automatically, but only while signed in. If I sign out, they are no longer visible. Eventually I'll see them, as I did with Amy's ESPB or the ones I uploaded, but there is definitely a delay (I'm not sure how long). Do you know why this is happening, and how long we should expect the delay to last?

[2015-05-29 22:19] amanda-phet commented on #211
This is working on phet-dev. I'll reassign this to you to close after it's deployed.

[2015-05-29 22:26] amanda-phet commented on #159
Thank you for taking the time to look through activities and providing us with this insight. I am not surprised teachers selected CQ incorrectly since we didn't have the Guided Activity option until now.

When I personally see CQ I immediately think Clicker Question, then have to remember that it means Concept Question on our site, so it seems like a good idea to make a change. I do not have a pre

[2015-05-29 22:27] amanda-phet commented on #212
It looks like the delay was about 30 minutes. If we can rely on it consistently taking about 30 minutes to appear on the site, that's fine with me, but it would be helpful to know why this is happening so it does not feel like something is broken!

[2015-05-29 22:50] amanda-phet opened #213 "RPAL name on website"
When uploading an activity, I noticed that RPAL was the only sim that listed the (HTML5) version after the original version. Then I noticed that the two sims have different names on the website, which is causing this to happen. The java version is called "Reactants, Products and Leftovers" and the HTML5 version is called "Reactants Products and Leftovers". (I'd like to leave it as a challenge to f

[2015-05-29 22:59] ycarpenterphet commented on #213
Hah. I never noticed!

The official name should include a comma and should read 'Reactants, Products and Leftovers.'

This then matches the sim title as displayed in the actual HTML5 (and Java!) simulation and About dialog text.

@aaronsamuel137 Could you update the sim page title accordingly? Thanks!

[2015-05-29 23:22] zepumph commented on #177
So I did a few things, perhaps not what we want. I moved the whole div tag over, offset from 'How to Run Simulations' but giving us a bit more space. I also narrowed the left column, allowing a wider body. Perhaps its a bit too cramped, but I think it helps with the verticality of the text. What do you think?
![getphet_table_screenshot](https://cloud.githubusercontent.com/assets/6856943/7894451/06

[2015-05-29 23:23] zepumph commented on #177
I could push the blue heading right if we want them to line up, and keep the table more left also.

[2015-05-30 16:22] aaronsamuel137 commented on #213
Should be updated now. Assigning to @amanda-phet for review.

[2015-05-30 16:59] aaronsamuel137 commented on #195
Assigning to @zepumph. Let me know if you have questions. Once you get your identitkey set up I'll show you how to deploy to phet-dev so your changes can be easily reviewed by others.

[2015-05-30 17:12] aaronsamuel137 commented on #167
Any thoughts about the UI for this? Should it just be another field on the edit profile page? Or we could have another link next to "Change password" - something like "Change email address", which goes to a simple form similar to the change password form. Whatever we decide, we'll need an extra step to send a confirmation email.

Another complication here is the "contact email" field for activitie

[2015-05-30 17:15] aaronsamuel137 commented on #168
Has a decision been made about the exact behavior we want here? Assigning to @ariel-phet to specify and prioritize or close the issue.

[2015-05-30 17:34] aaronsamuel137 commented on #207
The downside of a a fixed time to close is that the speed looks inconsistent across different sized texts.

You can see the difference between instantaneously closing vs fixed time by copying this code into the browser console on one of the pages with expandable text.

To see instantly closing copy this:

[code]

To see a fixed closing length copy this:

[code]

You can change the length of time i

[2015-05-30 17:34] aaronsamuel137 commented on #207
Assigning to @ariel-phet.

[2015-05-30 17:40] aaronsamuel137 commented on #152
Right now sessions are set to timeout after 30 minutes of inactivity. I can change this number if you'd like.  What do you have in mind?

Also - you will only be signed in if you are browsing using https. So if you are logged in on one tab and you open another tab using http, it will appear as though you are not logged in. But if you open another tab using https, you will be logged in on both tabs

[2015-05-30 17:54] aaronsamuel137 commented on #212
My guess is that the page is just being cached by your browser. Try doing a hard refresh when you see the outdated guide and see if it updates. (Or try in another browser where you haven't loaded that page recently)

If that doesn't work, try going to the page with https instead. It might be that it is cached in varnish or somewhere else and loading it over https will cause the correct page to loa

[2015-05-30 18:45] ariel-phet commented on #212
@aaronsamuel137 - I was with @amanda-phet when she was seeing this issue. A hard refresh was not helping the issue, but going to the page via https was working. For instance, I could login and see the teacher tips, but if I was logged out and did a hard refresh nothing was visible. I was assuming this issue had something to do with some varnish weirdness.

[2015-05-30 18:50] ariel-phet commented on #168
@aaronsamuel137 - I think the best behavior would be to follow the conditional you have already written for how these levels work when you have a non-US country.

Basically if you check the "Teacher" option you get the expanded checklist with specific grades. If the teacher option is not checked (Student, Researcher...etc), you only see the general levels but with no grade breakdown. And of course

[2015-05-30 18:59] ariel-phet commented on #207
@aaronsamuel137 - I looked at both, I do not find the instantaneous close jarring or disorienting. I also know that when I had played on an iPad the animation had seemed laggy on closing, so it seems that the timing could get funky across browsers/platforms to choose the best timing.

Lets go with an instantaneous close, that seems like the most straightforward and robust solution.

[2015-05-30 19:35] aaronsamuel137 commented on #168
Seems like a good task for @zepumph. Let me know if you have questions.

[2015-05-30 19:45] aaronsamuel137 commented on #212
If you are looking at the sim page, it is definitely cached by varnish and other internal caching mechanisms. It's nothing to worry about.

I was testing the case of updating a PDF and still seeing the old version. In that case, I think the old pdf is just cached by the browser, and hard refreshing on the pdf page will refresh it.

[2015-05-31 22:31] patricialoeblein commented on #159
I still like "Formative Assessment"  partly because mine questions are not all multiple choice. how does that sound?

[2015-05-31 23:27] ycarpenterphet commented on #159
@amanda-phet I agree that if we were to just convert the category, it would not work well, since the category currently contains two very different types of activities: [1] heavily [although not entirely] MC questions, typically on powerpoint slides, and [2] student hands-on activity worksheets. We would likely have to reach out to users to retag their activities (and perhaps grandfather out the C

[2015-06-01 06:08] ariel-phet commented on #162
@aaronsamuel137 - it looks like you have added this functionality in a commit. Is it working? If so please feel free to close this issue.

[2015-06-01 06:11] ariel-phet commented on #213
Fixed, closing

[2015-06-01 06:11] #213 closed

[2015-06-01 06:19] ariel-phet opened #214 "Place cursor in email text field for sign in"
@aaronsamuel137 - this is not a high priority enhancement, but it would be a nice touch

When you click the "Sign in" button, my instinct is to begin immediately typing my email address, but I first need to click the email box. It seems the standard for most sign in (such as gmail and such) is to have the cursor already active in the appropriate text entry field. It seems the ideal interaction wou

[2015-06-01 13:58] aaronsamuel137 commented on #162
I'm pretty sure this is working. @oliver-phet if it isn't working for you feel free to re-open.

[2015-06-01 13:58] #162 closed

[2015-06-01 14:07] aaronsamuel137 commented on #214
This behavior actually was implemented at some point, but one of my changes must have accidentally broken it.

[2015-06-01 14:17] aaronsamuel137 commented on #214
This should be working on the next deploy.

[2015-06-01 14:40] aaronsamuel137 opened #215 "Activity license agreement should stay checked"
Currently, the activity license agreement checkbox is not stored in the database and must be re-checked every time an activity is updated. We should store this in the database and make sure it stays saved after it is checked for the first time.

I am assuming that existing activities that have never checked this agreement before should still need to check it the first time they go to update the ac

[2015-06-01 15:15] amanda-phet commented on #215
That's correct. All existing activities will have false for the license agreement until they check the "I agree..." checkbox. Moving forward, it will remain true, even with edits.

[2015-06-01 15:28] amanda-phet commented on #177
I think either this option or the previous one is fine. This is a short-term solution so I am fine with either one!

[2015-06-01 15:49] amanda-phet commented on #152
I think the issue for me was the http vs. https, so it seemed like I was logged out each time I clicked a new PhET link. 30 minutes seems fine to me. I'll go ahead and close this issue.

[2015-06-01 15:49] #152 closed

[2015-06-01 15:51] amanda-phet commented on #212
Thanks for answering. As long as the delay is expected I think it's fine.

[2015-06-01 15:51] #212 closed

[2015-06-01 16:08] aaronsamuel137 commented on #177
Assigning to @amanda-phet for review. Changes are on phet-dev - you may need to hard refresh to see them.

[2015-06-01 16:10] aaronsamuel137 commented on #177
Actually wait a moment before reviewing - there is a more recent change that needs to be deployed.

[2015-06-01 16:26] amanda-phet commented on #159
@ycarpenterphet I'm not sure I understand your final opinion on this matter- if you like Formative Assessment or not. Can you clarify what you mean here? What tags would you use in this case?

[2015-06-01 16:29] amanda-phet commented on #167
I like the idea of adding a "Change email address" link above or next to the "change password" link.

I would ignore the contact email field for activities, since teacher may intentionally use a different email there.

[2015-06-01 16:31] amanda-phet commented on #214
If the cursor is automatically there, we just need to be sure the "Email address" text is still visible before typing.

[2015-06-01 17:11] amanda-phet commented on #177
The table looks good to me. Feel free to close this issue after it is deployed. I'd like to revisit some questions from the original issue #91 so I'll keep that one open. Thanks!

[2015-06-01 17:12] amanda-phet commented on #91
@aaronsamuel137 Would you please respond to questions 1 and 3 above, and let me know if we can address 2 as well.

[2015-06-01 18:26] ycarpenterphet commented on #159
Ah, sorry. To clarify, I don't like Formative Assessment, because it doesn't tell me what types of questions I'm likely to find in the activity (forcing me to open each activity individually).

I would prefer Multiple-choice concept question (MC), and, if this does not cover other types of questions, then some other tag like (brainstorming these, so they might not work right) "Discussion prompts"

[2015-06-01 19:22] amanda-phet commented on #159
Yes! So you're saying you'd prefer two new categories to replace Concept Questions. We can wait to see what @patricialoeblein thinks. In the mean-time, let's re-tag activities that are guided with the new type "guided activity", and wait on this particular type?

[2015-06-01 20:04] patricialoeblein commented on #159
I like the idea of the categories suggested and that I would multiple tag MC and discussion prompts.  Are the categories - MC, Guided , discussion prompts going to replace to replace CQ and HW ? could someone please give me the full list just so I can check. I am working  outside a library for a few minutes to have wifi.

[2015-06-01 20:14] amanda-phet commented on #159
Multiple-choice concept question (MC) and Open-response concept question/Discussion prompt/? (Open/Prompt/?) would be added as types, while Concept Questions (CQ) would be deleted as a type.
*If we do it this way, we can make the change immediately and no one's activities will be incorrectly re-classified. They will simply not have the CQ type associated with them, and when the author goes in to e

[2015-06-01 20:20] amanda-phet commented on #215
When will this be deployed? I didn't notice it working on phet-dev or the live site.

[2015-06-01 20:29] patricialoeblein commented on #159
The discussion has been a little piece wise, so I think we need to decide if this is the final list or if there are still discussion issues.  I think I understand the types will be :Lab, HW, MC, Discussion Prompts, Demo,Guided, Other ? [ I think open response is not the same as a discussion prompt; my slides and some other MS ones are definitely for group discussion. Open response implies assessme

[2015-06-01 21:15] aaronsamuel137 commented on #215
@zepumph and I have fixed this, but only deployed it locally. I will let you know when I deploy it the the main site.

@zepumph - in the future it is generally good to leave website issues open until they are fully deployed, just so we are in sync with the rest of the team.

[2015-06-01 22:44] pixelzoom opened #216 "bookmark to HTML5 sims no longer works"
I had a bookmark to http://phet.colorado.edu/en/simulations/category/html, for quickly getting to the HTML5 sims on the PhET website.  After the website upgrade, that URL no longer works.  Figured I'd mention it in case it was an oversight.

[2015-06-01 22:46] pixelzoom commented on #216
Is the "New" category now equivalent to "all HTML5 sims", or will this category be just the most recent HTML5 sims.  I'm looking for an equivalent link that will show all HTML5 sims published on the PhET website.

[2015-06-01 22:51] aaronsamuel137 commented on #216
Yes, "new" is equivalent to all html5 sim at this point. As of now it is expected that category/html will not work.

However, the figaro logs get a lot of messages indicating that people are trying to access category/html, so perhaps we should make this go to the same page as category/new. What do you think @ariel-phet?

[2015-06-01 23:04] pixelzoom commented on #216
PhET policy in the past has been to put in redirect, rather than orphaning URLs.

[2015-06-01 23:09] aaronsamuel137 commented on #215
Should be working now on the live site. Assigning to @amanda-phet for review.

[2015-06-01 23:10] aaronsamuel137 commented on #211
Deployed on the live site. Closing

[2015-06-01 23:10] #211 closed

[2015-06-02 01:11] ariel-phet commented on #216
@aaronsamuel137 - yes we should put in redirects. Many people will have bookmarked "category/html"

[2015-06-02 01:13] ariel-phet commented on #216
@pixelzoom for the forseeable future this will be only HTML 5 sims

http://phet.colorado.edu/en/simulations/category/by-device/ipad-tablet

@aaronsamuel137 - I think the longterm goal is to have "new sims" really be the latest sims, but for at least the next year or so having the "HTML5" link going to the new sims is the correct behavior.

[2015-06-02 01:20] pixelzoom commented on #216
@ariel-phet wrote:

But it will not be the complete set of HTML5 sims. I doubt that we plan to show all HTML5 sims in the "New" category several years from now.  So I guess the answer to my question is "no, there will not be a link to all published HTML5 sims".

[2015-06-02 01:22] ariel-phet commented on #216
@pixelzoom - yes the link I shared will be exactly what you are looking for since it is the "iPad" category and only HTML5 sims run on iPad

[2015-06-02 01:55] pixelzoom commented on #216
Awesome, thanks.

[2015-06-02 13:28] amanda-phet commented on #215
It is working for me!

[2015-06-02 13:28] #215 closed

[2015-06-02 15:37] aaronsamuel137 opened #217 "Admin edit profile page can't set team member"
A bug was introduced into the admin edit a user page during the new sim page release. Currently, you can't make people team members through the admin interface.

In the mean time, people can be set as admins by executing SQL commands in the database directly.

[2015-06-02 16:06] aaronsamuel137 commented on #216
Should we redirect to http://phet.colorado.edu/en/simulations/category/by-device/ipad-tablet or to http://phet.colorado.edu/en/simulations/category/new?

[2015-06-02 16:19] aaronsamuel137 commented on #180
Assigning to @zepumph.

[2015-06-02 16:25] ariel-phet commented on #216
Hey Aaron, for the moment redirect the HTML sims link to "category/new" - when we fix the nav on the site the plan is to remove the "HTML Sims" button. We may well make an "HTML5" category for sims at some point, but all that is TBD. At some point (probably a year from now) we will have the "new sims" really just be the latest sims. But before we did the recent changes to the website, our "new sim

[2015-06-02 20:43] schasteen opened #218 ""for-teachers" URLs are broken; create redirect"
The links to http://phet.colorado.edu/en/for-teachers no longer work with the renaming of this section.  Please create a redirect so that URLs in for-teachers redirect to teaching-resources.

I know we have several printed resources that have been given at conferences with the for-teachers URL, and we also have the for-teachers link in many of our videos.

For example, http://phet.colorado.edu/en/

[2015-06-02 21:00] ariel-phet commented on #218
@aaronsamuel137 we will want redirects for these links and probably should do this soon

[2015-06-02 21:44] aaronsamuel137 commented on #218
I will deploy this tonight.

[2015-06-02 22:01] aaronsamuel137 commented on #167
I have attempted an implementation of this on phet-dev. @ariel-phet and @amanda-phet, please review when you have time. You'll find a link to change email at the bottom of the profile edit page.

Once the UX details of this are fleshed out, we'll want to do some pretty thorough testing before deploying - including testing of creating new accounts and editing accounts. This change has touched a fai

[2015-06-02 22:12] aaronsamuel137 commented on #167
There is a known issue right now where the once you click the confirm link you'll still see the old email address you go to another page.

For now, it would be good to get feedback about the layout of the pages, the wording of the confirm emails, etc.

[2015-06-02 22:26] ariel-phet commented on #167
One things we were wondering looking at this flow is once you click "edit email" could your current email address just be filled in? You are already signed into the site at this point and your email address is displayed in the top right of the banner, so was there a rationale for having you fill in your email address?

[2015-06-02 22:30] amanda-phet opened #219 "Design of Change Password page"
The Change Email Address page looks like our newer forms with the entry boxes and button. Can we do the same to the Change Password page?

Current appearance and Desired appearance:
![screen shot 2015-06-02 at 4 30 43 pm](https://cloud.githubusercontent.com/assets/7852916/7948800/b4847c98-0944-11e5-980e-a3dc4153592d.png)

[2015-06-02 22:36] aaronsamuel137 commented on #167
I thought about that. It seems reasonable to me. I did it this way based on a vague memory of other sites doing something similar.

But if we are going to pre-fill it in, we might as well just get rid of that top field all together and just have one field for new email? Or do you see some reason to keep it even if it is pre-filled? Right now you can't access that page unless you are signed in.

[2015-06-03 04:29] aaronsamuel137 commented on #218
This should be working now. Let me know if the bookmarked links are working for you now @schasteen. Feel free to close if everything looks good.

[2015-06-03 04:30] aaronsamuel137 commented on #216
Redirect added. Closing

[2015-06-03 04:30] #216 closed

[2015-06-03 04:31] aaronsamuel137 commented on #177
Deployed. Closing

[2015-06-03 04:31] #177 closed

[2015-06-03 04:32] aaronsamuel137 commented on #214
The text should still be visible even with the cursor there. This should be working now. Assigning to @ariel-phet for review.

[2015-06-03 04:35] aaronsamuel137 commented on #146
Assigning to @zepumph

[2015-06-03 04:36] aaronsamuel137 commented on #147
Assigning to @zepumph

[2015-06-03 05:17] ariel-phet commented on #214
Awesome! Looks great on FF and Chrome on windows, but text is not visible on IE

Can you check into that?

[2015-06-03 15:19] aaronsamuel137 commented on #217
This appears to be working now. Closing.

[2015-06-03 15:19] #217 closed

[2015-06-03 15:31] aaronsamuel137 commented on #207
Text now closes instantly. Closing.

[2015-06-03 15:31] #207 closed

[2015-06-03 16:28] ariel-phet opened #220 "Improving website stability after sim pages depoloy (Tomcat)"
Apparently tomcat has been having some stability issues since the latest website deploy.

@kathy-phet has requested some investigation as the top priority. @aaronsamuel137 please do what you can here and ideally if @jonathanolson can make some suggestions until he gets back in town.

[2015-06-03 16:34] aaronsamuel137 commented on #220
New Relic warnings from last night:

Today, 5:08	Close: 'Memory > 90%' on 'figaro.colorado.edu'
Today, 4:58	Open warning: 'Memory > 70%' on 'figaro.colorado.edu'
Today, 4:55	Open warning: 'Fullest disk > 70%' on 'figaro-dev.colorado.edu'
Today, 4:55	Open warning: 'Fullest disk > 70%' on 'figaro.colorado.edu'
Today, 4:55	Open critical: 'Memory > 90%' on 'figaro.colorado.edu'
Today, 4:55	Incident op

[2015-06-03 16:42] aaronsamuel137 commented on #220
The memory trends from last night are not too unusual:

![screen shot 2015-06-03 at 10 39 47 am](https://cloud.githubusercontent.com/assets/3193912/7965779/f5b959f2-09dc-11e5-9670-9d0591ceb311.png)

But it looks like something happened that delayed the garbage collection process, and hence gave rise to the memory issues:

![screen shot 2015-06-03 at 10 39 56 am](https://cloud.githubusercontent.com

[2015-06-03 16:56] aaronsamuel137 commented on #220
Tomcat was sick last night 3 times for a period of about 2 minutes each over a 15 minute window, at the same time as these memory issues were occurring.

Sick times:

4:55 - 4:56 AM
4:58 - 5:00 AM

It seemed to re-stabilize by itself after the garbage collection happened.

[2015-06-03 17:08] ariel-phet commented on #220
@aaronsamuel137 - I wonder if there are some interactions with Varnish occurring? I recall vaguely that Varnishes caching strategy depends on which pages get hit lots, and that there is some advantage to "preloading" which pages should be cached. In many ways pretty much every page on the website changed, and if I recall Varnish gets more stable as these pages get hit more.

[2015-06-03 17:13] Berge17 opened #221 "Hayden Phet Statistics Independent Study"
# Initial findings

After becoming familiar with the basic structure of the server and reviewing the readme of the third party tool, here is what I have concluded so far in layman's terms:

1) Logs for each month must be combined into a single file before the script is run to create the sql commands

2) Logs (that are used in the readme) are located in data/web/htdocs/phetsims/statistics/month_sor

[2015-06-03 17:13] aaronsamuel137 commented on #220
I think Varnish is helping out a lot here. Most of the website should be cached by Varnish, so most pages will still work even when tomcat is sick. It's just that pages that require logging in will not work so well when tomcat is sick - though they may still work very slowly.

Anyway, I don't think interactions with Varnish are causing these issues - but Varnish is definitely helping out a lot her

[2015-06-03 17:16] aaronsamuel137 commented on #220
Based on the garbage collection CPU chart above, it looks like tomcat is still up and running, but any requests that come in are competing for CPU resources that are mostly being used up doing the garbage collection.

[2015-06-03 21:19] oliver-phet opened #222 "Add 'Linux' as a category to Troubleshooting"
Can we add a troubleshooting page (and navigation link) for 'Linux'?

The new page will have a single issue (at least for now):

1. Open the console/terminal.
2. Navigate to the folder where the download is.
3. Run the following two commands:
    1. chmod 777 PhET-Installer_linux.bin
        1. This will give your system permissions to execute the file.
    2. --mode text ./PhET-Installer_linux.bi

[2015-06-03 21:22] oliver-phet commented on #222
@arnabp Can you do a run through of the steps above to double-check for accuracy before assigning to the web team?

[2015-06-03 21:31] amanda-phet commented on #167
If we can get rid of it then I think that would make the most sense. We weren't sure if it was there for verification or some other reason that you had in mind.

[2015-06-03 22:11] Berge17 commented on #221
# Update 6/3

# Steps to obtain data

In order for the tool to be used to create statements for the data to be entered into the DB, it must first be in the proper form. Here is a summary of the steps taken to prepare the data.

- data2/figaro-logs/apache has the logs in zipped form.

1) Copy the relevant files (files for that month) to another directory /data2/spot-check-analysis is an example of

[2015-06-03 22:18] aaronsamuel137 commented on #220
Tomcat went sick again for about 1 minute this afternoon at 2:05. I don't see any memory issues this time, and no indication of a traffic spike. Total mystery as to what happened here. Might not be related to the previous issues.

In any case, unlikely this short sick time had much of an impact on users with Varnish still up and running.

[2015-06-03 22:20] zepumph commented on #147
Removed the entry

[2015-06-03 22:29] zepumph commented on #180
assigning to @aaronsamuel137 for inspection.

[2015-06-03 22:29] zepumph commented on #195
assigning to @aaronsamuel137 for inspection.

[2015-06-03 22:29] zepumph commented on #146
Removed the top three entries from mac troubleshooting. assigning to @aaronsamuel137 for inspection.

[2015-06-03 22:29] zepumph commented on #147
assigning to @aaronsamuel137 for inspection.

[2015-06-03 22:35] oliver-phet commented on #195
Do I need to do a "hard reset' of Chrome or something? I'm seeing this:
![screen shot 2015-06-03 at 4 34 57 pm](https://cloud.githubusercontent.com/assets/5090275/7973024/8f0d983a-0a0e-11e5-9edc-854ec2a4325f.png)

[2015-06-03 22:37] aaronsamuel137 commented on #180
Nice work @zepumph! Code changes look perfect. Assigning to @amanda-phet to review on phet-dev before I deploy.

[2015-06-03 22:40] aaronsamuel137 commented on #146
Looks good to me. @oliver-phet can you review this on phet-dev and make sure the troubleshooting and FAQ pages look up to date to you?

[2015-06-03 22:41] aaronsamuel137 commented on #147
Closing this, but @oliver-phet please review all FAQ/troubleshooting changes when you review #146

[2015-06-03 22:41] #147 closed

[2015-06-03 22:44] oliver-phet commented on #146
Yep. Looks good.

[2015-06-03 22:44] aaronsamuel137 commented on #195
@oliver-phet - no a hard refresh won't fix this. The string is not found in the database. I need to go over how the translation and string keys work with @zepumph, so this issue is not yet ready for you to review.

Feel free to review #146 and #147 though.

[2015-06-03 22:47] oliver-phet commented on #147
Looks good to me!

[2015-06-03 22:58] amanda-phet commented on #180
It looks like the sim names are always alphabetical now! However, they alternate showing HTML5 first and second- I'm ok with that, but if it's not too difficult I think we should always list the HTML5 sim first.

[2015-06-04 02:57] aaronsamuel137 commented on #214
So far I am not seeing an easy way to do fix this for IE. Looks like @amanda-phet was right to have some concern about this problem. Leave it to IE to be inconsistent with other browsers.

However, this issue brings up a whole other concern around our use of placeholders in the UX of our site. The main concern seems to be accessibility, and the HTML5 spec strongly warns against using placeholders

[2015-06-04 03:01] aaronsamuel137 commented on #214
There are probably some ways to work around the IE limitation if that seems like the way we want to go, but before I spend a bunch of time on that it would be good to discuss the accessibility points and decide if adding labels here might be a good idea.

[2015-06-04 08:47] jonathanolson commented on #220
Can you look at memory usage, or identify and memory leaks? Tomcat will use CPU like crazy when almost full of memory, trying to aggressively garbage collect.

If memory looks like the issue and we can't find any issues, it is possible to take a heap dump of Tomcat while running (although it can't serve requests during that time). That may help identify the issue.

[2015-06-04 14:32] aaronsamuel137 commented on #220
I'll see if I can identify any memory leaks. Looks like the daily memory usage patterns are different after the sim page deploy. Before they were more even:

![screen shot 2015-06-04 at 8 29 11 am](https://cloud.githubusercontent.com/assets/3193912/7986293/f8ffde62-0a93-11e5-9443-af9d5530102b.png)

After the deploy, most days seem to have more of a sawtooth pattern:

![screen shot 2015-06-04 at 8

[2015-06-04 15:47] aaronsamuel137 commented on #91
1. I don't really understand this cell of the chart. If you are running the sims from the website the question of where to save the files seems irrelevant.

2. Changing the wording as you suggest sounds good to me.

3. It should be possible to fix the sorting issue. I will deploy a fix to this soon.

[2015-06-04 15:48] aaronsamuel137 commented on #219
Do you want to take a shot at this @zepumph? I can point you in the direction of some relevant css classes.

[2015-06-04 15:49] amanda-phet commented on #214
I think the accessibility points you mention about very good- and after we made some of these design choices I had read about them myself. I think that for a "sign in" dialog, it's standard to have email and password as the two entry boxes, so I am not too concerned about the usability there. However, it is something we should not use in the future, and we may want to even modify the registration

[2015-06-04 15:54] amanda-phet commented on #91
Once 2 and 3 have been addressed I think we can close this issue. Thanks!

[2015-06-04 17:06] zepumph commented on #168
Now the extra grades will not show up unless you are in the USA, and the 'Teacher' checkbox is checked. Assigning to @aaronsamuel137 to take a look.

[2015-06-04 17:12] phet-steele opened #223 "New Sim Notifications"
It would be helpful to add a feature to user profiles where users may opt into receiving notifications (probably through email?) when new simulations are published. This would serve the purpose of automatically notifying activity authors and making them aware of the possibility of updating their activities for the new sim version.

[2015-06-04 18:09] schasteen commented on #218
There is one problematic redirect that I found

http://phet.colorado.edu/en/for-teachers/activitiesDesign
Redirects to
http://phet.colorado.edu/en/teaching-resources/activitiesDesign (which doesn't exist)
The correct URL to redirect to would be
http://phet.colorado.edu/en/teaching-resources/activitesDesign

"Activities" is misspelled in the correct URL.  I think that just changing the URL to be pr

[2015-06-04 18:32] aaronsamuel137 opened #224 "Add HTML5 sim translator credits page"
Discussed in 6/4/15 dev meeting.

Each sim will be an expandable text with a list of locale, translator, translator info

This page will be linked to from the about dialog on the sim page.

We'll keep track of userId, locale, simId in a table in the db to know who to list on this page.

[2015-06-04 21:53] zepumph commented on #195
@oliver-phet how does that look on phet-dev now?

[2015-06-04 22:01] oliver-phet commented on #195
@zepumph Can you put returns after the lines? Like the text in the original issue:
(before "Run the latest..." and "If you are using a Mac...") and an extra before "If you are using a mac..."

[2015-06-04 22:08] aaronsamuel137 commented on #195
@zepumph - you can edit the string without actually deploying. Login and go to the admin interface. Under "Manually enter an English string" you can enter the key for that string and give it the new value with ```<br>``` tags or whatever you want

[2015-06-04 22:19] zepumph commented on #195
@oliver-phet how does that look?

[2015-06-04 22:29] oliver-phet commented on #195
Perfect. Thanks!

[2015-06-04 22:31] #195 closed

[2015-06-04 23:41] zepumph commented on #180
@amanda-phet how does that look, HTML5 sims will always be first.

[2015-06-04 23:43] arouinfar opened #225 "Links in FAQ unclickable"
I am unable to open the links provided in the FAQ. For example, if I click on the link to the Source Code or Licensing pages, the questions will collapse instead of directing me to the linked page. Actually, it looks like clicking anywhere within the response will collapse the question. This problem exists in both Chrome and Firefox.

![image](https://cloud.githubusercontent.com/assets/8419308/799

[2015-06-05 00:17] amanda-phet commented on #180
Looks great!

[2015-06-05 00:26] #180 closed

[2015-06-05 03:05] aaronsamuel137 commented on #225
Feel free to work on this if you want @zepumph. I won't have time until Monday at the earliest.

[2015-06-05 03:10] aaronsamuel137 commented on #218
Activities is indeed misspelled. It looks like it has been misspelled all along, must have been a spelling error introduced when Mike was working on the new for-teachers pages. The link http://phet.colorado.edu/en/for-teachers/activitiesDesign never would have worked at any point in the past - so I doubt anyone has it bookmarked.

Would still be good to fix though. I guess we should change it to t

[2015-06-05 03:12] aaronsamuel137 commented on #218
I am going to create a new issue for the typo, since the redirect from for-teachers to teaching-resources is working as expected.

[2015-06-05 03:12] #218 closed

[2015-06-05 03:16] aaronsamuel137 opened #226 "Typo in activitiesDesign url"
The link http://phet.colorado.edu/en/teaching-resources/activitesDesign has a typo. It should be http://phet.colorado.edu/en/teaching-resources/activitiesDesign.

http://phet.colorado.edu/en/teaching-resources/activitesDesign should redirect to http://phet.colorado.edu/en/teaching-resources/activitiesDesign so that existing bookmarks work.

This was discovered when addressing #218.

Assigning to @

[2015-06-05 03:28] aaronsamuel137 commented on #167
I've updated the from to just have the one input.

The issue of having the wrong email show up initially when you click on the confirm link is difficult to fix. Because going to the link is what actually changes your email, when the page is first constructed the old email is still in the database. The next page you visit will show the updated email. Does this seem like an issue or can we leave it

[2015-06-05 03:34] aaronsamuel137 commented on #91
Addressed. Closing

[2015-06-05 03:34] #91 closed

[2015-06-05 16:30] zepumph commented on #219
@aaronsamuel137  I pushed it to change-email this morning, so take a look when you get a change. You may still see colons, because I manually changed them in the admin tools, but I also put them in stringChanges, so keep me posted.

[2015-06-05 17:32] zepumph commented on #225
Should be fixed, I just manually changed strings on the main and dev sites. You can click the links now. @arouinfar does that look good to you?

[2015-06-05 18:23] oliver-phet commented on #146
This is done. Closing.

[2015-06-05 18:23] #146 closed

[2015-06-05 19:57] kathy-phet commented on #220
Thanks for looking into this comparison -- that was exactly what I was hoping might help you track down the issues. Hopefully you can figure out what might have caused this change. It would be nice to keep it close to that 50% of max heap, as it was before.

[2015-06-05 20:57] patricialoeblein commented on #223
. This would be a great feature in my opinion, and since we are working on the profile stuff, this seems timely. I think it not only would decrease the overhead for contacting Gold star authors, I think it would encourage people who write activities to continue to add to the database.

[2015-06-05 21:17] arouinfar commented on #225
Looks good! Closing.

[2015-06-08 15:06] amanda-phet commented on #167
What you are saying makes perfect sense. The email isn't changed until I click the link in the confirmation email. After I log in after that point, the email address in the top banner should be updated.

After I change my email I am having trouble logging in with the new email. It's saying an invalid username and/or password has been entered.

[2015-06-08 15:10] amanda-phet opened #227 "Change wording in error message"
The current error message is "An invalid username and/or password has been entered." We do not have *usernames* on our site, so it should say *email address* instead: "An invalid email address and/or password has been entered."

![screen shot 2015-06-08 at 9 08 04 am](https://cloud.githubusercontent.com/assets/7852916/8038006/2ed314d2-0dbe-11e5-917c-415b38665d4a.png)

[2015-06-08 15:24] aaronsamuel137 commented on #167
Hmm not sure what is going on here. It seems to be working for me when I test it. Does your old email still work or neither of them?

[2015-06-08 15:33] aaronsamuel137 commented on #227
Wording updated. Assigning to @amanda-phet for review.

[2015-06-08 15:36] aaronsamuel137 commented on #225
@zepumph, what change did you make to the strings? I am just concerned that translators may or may not realize they need to make similar changes. It might be better to address this at the css level instead if possible.

[2015-06-08 15:40] aaronsamuel137 commented on #225
After discussing with @zepumph, everything seems to look good. Closing.

[2015-06-08 15:40] #225 closed

[2015-06-08 16:03] aaronsamuel137 commented on #226
Reassigning to myself.

[2015-06-08 16:11] aaronsamuel137 commented on #226
Will be fixed on the next deploy. Closing

[2015-06-08 16:11] #226 closed

[2015-06-08 16:14] aaronsamuel137 commented on #168
Seems to be working well. One thing I forgot to mention clearly - js files are aggressively cached so that changes could be cached in varnish or in some intermediary cache that we have no control over (the same is true for css). Therefore, whenever we make changes to js or css files we'll need to bump their version number.

In this case, you'll need to change the name of register-page.js to regist

[2015-06-08 16:14] aaronsamuel137 commented on #168
Assigning to @zepumph

[2015-06-08 16:23] amanda-phet commented on #227
Looks good. Closing.

[2015-06-08 16:23] #227 closed

[2015-06-08 16:24] amanda-phet commented on #167
Neither email is working. I've also tried another browser.

[2015-06-08 16:29] aaronsamuel137 commented on #167
Does the new email work if you try and reset your password? Also, can you send me the new email address so I can check if it is in the database? Feel free to email me if you don't want it on github.

Are you up for testing this too @ariel-phet or @phet-steele? I can't reproduce a case where this doesn't work for me, so it would be good to do some more testing

[2015-06-08 16:46] amanda-phet commented on #167
Resetting my password worked, but I shouldn't have to do that to make my new email work. I have changed the email back, and the new one does not work, but the old one still does (which is different from last time). I'll keep trying and see if it just has a delay before it works.

[2015-06-08 16:49] aaronsamuel137 commented on #219
Looks like an accidental import of:

[code]

in StringChanges.java

[2015-06-08 16:55] aaronsamuel137 commented on #167
Ah I think there is a bug when trying with an admin email. I was testing with non team member emails before.

[2015-06-08 17:03] aaronsamuel137 commented on #167
Looks like there are a few bugs here, I'll let you know when I have addressed them.

[2015-06-08 17:29] aaronsamuel137 commented on #220
It looks like the first week after the deploy the memory usage patterns were more typical of before the deploy but starting last Monday, June 1, then sawtooth pattern has began to emerge.

I've looked for memory leaks in the code, but this issue is very hard to track down. This is one of the downsides about making so many changes at once, it is hard to identify what change is causing the issue.

A

[2015-06-08 18:00] aaronsamuel137 commented on #168
Looks like you changed the file name, but not the reference to it in the code. See line 106 in RegisterPanel.html:

[code]

Also, the was a major reformatting done in your commit above in phetpage-v10.css. I am in favor of reformatting all of our html and css to use 2 spaces for indents to be consistent with our current github code, but it is better practice to do reformatting changes in separate

[2015-06-08 18:02] aaronsamuel137 commented on #167
OK see if it works for you now @amanda-phet. Thanks!

[2015-06-08 18:25] zepumph commented on #168
Sorry about just closing it, I refactored looking through comments and strings, but I guess it didn't pick it up. I'll go through and fix it.

[2015-06-08 18:36] zepumph commented on #168
I think that should do it, thoughts @aaronsamuel137?

[2015-06-08 18:41] aaronsamuel137 commented on #168
Looks great, thanks! Closing

[2015-06-08 18:44] aaronsamuel137 commented on #168
Actually I'll leave this open until it is deployed and reviewed. I'll let @ariel-phet know when it is deployed.

[2015-06-08 19:04] aaronsamuel137 commented on #219
Also, you'll need to use overwriteString() instead of addString() in String changes. You can see the colons are still present on phet-dev. overwriteString takes the current string value and the new string value as arguments. addString does nothing if there is already a string with that key, even if you are trying to add a different value.

You'll want to overwrite the string for the submit button

[2015-06-08 19:38] amanda-phet commented on #167
It still seems to only work if I also click "forgot password."

[2015-06-08 20:57] Berge17 commented on #221
# Update

Connected to sql database using following command: /usr/local/mysql/bin/mysql -u phet_sims phet_sims -p

password is found in config.php

below is a picture of the tables

![screen shot 2015-06-08 at 2 54 42 pm](https://cloud.githubusercontent.com/assets/5994594/8045112/532abac6-0dee-11e5-9ede-e9acd3a4ad40.png)

I have looked around at these and the next step will be to learn about how t

[2015-06-09 02:14] aaronsamuel137 commented on #167
What do you mean also click forgot password? Are you talking about the "forgot password" link on the sign in popup? I am unclear of what you mean by this.

[2015-06-09 15:09] amanda-phet commented on #167
Yes, I must click the "forgot password" link on the sign in dialog in order to reset my password. I thought that was what you suggested, but I realize now you probably intended for me to click the link on the edit profile page instead.

[2015-06-09 15:13] aaronsamuel137 commented on #167
I've addressed some issues and just want you to see if the "change email" link and process works for you now. You shouldn't need to reset your password at this point - if you do that is a bug.

[2015-06-09 21:32] ariel-phet commented on #164
Credits, Topics, and learning goals have been updated. Closing

[2015-06-09 21:32] #164 closed

[2015-06-10 19:07] aaronsamuel137 commented on #167
Can you review this on phet-dev @ariel-phet? See if the bugs are fixed and if the general UX and wording of emails seems good.

Assigning to @ariel-phet.

[2015-06-10 19:18] amanda-phet commented on #167
Sorry for not responding yesterday. It works perfectly for me now.

[2015-06-10 20:15] zepumph commented on #214
I don't mind changing the register panel to labels, I'll use the activity submission page as a base.

[2015-06-10 21:24] aaronsamuel137 commented on #214
@zepumph, I would check with @ariel-phet before we go ahead with this - there might be some redesign work that needs to happen first.

[2015-06-10 21:26] aaronsamuel137 commented on #214
@zepumph - a good thing to look into here would be a workaround so that the words "Email address" appear in IE in the log in form even when the cursor is there - like it does in other browsers. It'll probably take some CSS and JS hacks to accomplish this.

[2015-06-10 21:41] amanda-phet opened #228 "Search functionality"
We are wondering if it is a quick project to update one aspect of our current functionality... Right now, if you start typing a sim name into the search bar, it will auto-complete with the sim(s) that match the search:
![screen shot 2015-06-10 at 3 38 06 pm](https://cloud.githubusercontent.com/assets/7852916/8094880/20760082-0f87-11e5-93f4-387650bd7678.png)

However, the search much match the sim

[2015-06-10 22:15] Berge17 commented on #221
# Update

In the perl script create_sims_insert.pl, which is the script used to create insert statements, the insert statements are inserted into the sim_counts table. I am not familiar with perl but I am familiarizing myself with it and can understand enough to know what the script is doing.

This is an example of what the combined  log file should look like

![screen shot 2015-06-10 at 4 07 45 p

[2015-06-10 22:16] aaronsamuel137 commented on #167
Great! Do you think it's ready to deploy to the live site? If so, I think we should have @phet-steele do some more testing beforehand - including testing of creating new accounts, editing, profiles in general, etc. Want to be sure no other errors crept in since this touches a fair amount of code.

[2015-06-11 16:20] aaronsamuel137 commented on #80
We decided on 6/11/15 status meeting to make licensing a top level navigation, with three links for "java", "html" and "activities" - and also a short blurb about the licensing. about/licensing should redirect to the java licensing page.

Assigning to @amanda-phet for a mockup.

[2015-06-11 17:46] Berge17 commented on #221
# Update

Trying to get php to work on command line. Have to edit -./bashrc as Brian stated in other issue. Will document this once I get it working.

[2015-06-11 20:03] aaronsamuel137 opened #229 "null pointer exception in edit profile for admins"
When you try to edit your profile as an admin, you get a server error unless Job Title is filled in. We should fix this, and make job title a required field that validates for admins.

[2015-06-11 20:08] aaronsamuel137 commented on #228
It's possible to do this, but it doesn't look like it would be simple. I'd guess at least a couple of hours, possibly more depending on what I find as I start looking into it.

[2015-06-11 20:09] amanda-phet commented on #228
It is something Michael could work on?

[2015-06-11 20:14] aaronsamuel137 commented on #228
Yep. Feel free to look into this @zepumph.

You'll want to look at Autocomplete.java. You can test what is being returned by looking at:

view-source:http://phet.colorado.edu/autocomplete?q=fraction&l=en

which currently outputs:
[code]

As noted by @amanda-phet, we'd want this to have fraction matcher in the results too.

[2015-06-11 20:17] amanda-phet commented on #228
Correction: we'll want this to have *Build a fraction* in the results!

[2015-06-11 20:21] aaronsamuel137 commented on #219
Assigning to @amanda-phet to review. This is currently only on phet-dev, and will be deployed with the new change email work.

[2015-06-11 20:26] aaronsamuel137 commented on #80
Feel free to start on this @zepumph. Even without a mockup we can get a simple page up with the three links. Work on a branch for this one, and let me know if you run into difficulties. The nav links can sometimes cause unexpected errors.

You'll want to make this a static page following the same pattern as other StaticPages added with StaticPage.addPanel() in PhetWicketApplication.java. Note the

[2015-06-12 15:51] aaronsamuel137 commented on #168
Assigning to @ariel-phet for review

[2015-06-12 16:37] ariel-phet commented on #168
Looks good, closing!

[2015-06-12 16:37] #168 closed

[2015-06-12 17:02] amanda-phet commented on #219
It looks good to me. I'm not sure it's necessary to duplicate the labels for each entry box, but it certainly is clear.

Not sure if I should close the issue or not, so feel free to close it when you prefer.

[2015-06-12 17:02] amanda-phet commented on #167
Yes please have @phet-steele test it!

[2015-06-12 17:06] jonathanolson commented on #220
It definitely looks very different from the original memory issues - there memory only went up. It looks like this could be totally not threatening, if those dips are just garbage collections. Due to the website changes, we could be creating more intermediate objects that get collected.

There's a chance there's some process that is leaking memory and somehow every few hours is resolving the leak,

[2015-06-12 18:25] phet-steele commented on #167
Well here's whats happening with regards to email changing, step by step.
1. I registered using one email, let's call it email A.
2. Signed in with email A, went to edit my profile, scrolled down and clicked the link the change my email.
3. Typed in email B. Clicked the link in the sent email to confirm the change and it directed me to a new tab of phet-dev.
4. I disregarded the new tab and went b

[2015-06-12 18:48] phet-steele commented on #167
As another thing, the old email is still shown on this page after following the link to change the email:
![wrong email](https://cloud.githubusercontent.com/assets/5863899/8137519/35f1260a-1101-11e5-8e8f-97172f2d4b9f.PNG)

steele.phet@gmail.com was the old email

[2015-06-12 18:50] amanda-phet commented on #167
It is known that the old email still appears in the banner until you sign out and sign back in again.

[2015-06-12 18:51] phet-steele commented on #167
Okay. @aaronsamuel137 also confirmed I do in fact have multiple accounts now.

[2015-06-12 18:52] zepumph commented on #229
Assigned back to @aaronsamuel137 for review.

[2015-06-12 19:34] phet-steele opened #230 "Admin "Users" page internal errors"
While in the administration page and going to "Users", entering an email into the fields for editing, disabling, or deleting a users account that doesn't actually exist returns an internal error as opposed to just saying "email does not exist".
Also, entering an email that doesn't have an account into the subscribe or unsubscribe fields then clicking their submit buttons just returns you to the sa

[2015-06-13 01:06] aaronsamuel137 commented on #229
Looks pretty good. However, I get a null pointer exception when I try to update my profile with a non admin account. Even the usual validation won't work.

You can create another account to test this with on the VM. You may have to log into the VPN on your VM to get the confirm emails to work though.

[2015-06-13 01:06] aaronsamuel137 commented on #229
Assigning to @zepumph.

[2015-06-13 01:25] aaronsamuel137 commented on #229
This should be pretty high priority at this point, because master is broken until this gets resolved.

[2015-06-13 14:48] ariel-phet commented on #220
@aaronsamuel137 and @jonathanolson - would having some larger hard drives make some of these things less of a concern? Hard drives are pretty darn cheap these days, so it seems like if having big drives would give us more of a comfort zone with some of these issues it would be a relatively easy investment.

[2015-06-13 14:58] ariel-phet opened #231 "Require users to be logged in in order to download activity files"
@aaronsamuel137, the following request has come from @kathy-phet and she would like it implemented as soon as is possible

She would like to require users to be logged in to download activity files on the site, much like the current requirement for sim primers. So the use case would go something like this:

If not signed in to the site and going to a sim page:
1. Go to sim page as normal
2. Click

[2015-06-14 13:49] ariel-phet commented on #221
@Berge17 - once you feel you have a pretty good understanding of the system (and you might already be at that point) - it might be productive to have you meet with one of our developers that was the liaison to the 3rd party which created this code ( @jonathanolson ). Let me know and we will set up a meeting with him.

[2015-06-14 14:04] kathy-phet commented on #220
Do we have any control over how frequently garbage collection occurs and how much CPU is allotted to it  during this time? You also mention creation of intermediate objects. Would a heap dump show what these are?

[2015-06-14 17:23] jonathanolson commented on #220
Hard drive space seems unrelated to this issue.

Heap dumps would show intermediate objects generally, and it's possible to set something up so that we can manually trigger garbage collection.

Using this, we would probably be able to determine whether those spikes are garbage collection, or some other freeing of memory.

[2015-06-15 05:53] Berge17 commented on #221
@ariel-phet A meeting sounds like a great idea. I am familiar with the system and feel ready for the next step. I can meet almost any time during the week.

[2015-06-15 17:12] aaronsamuel137 commented on #231
Sounds good. I'll be working on this today.

What should be the behavior when the user clicks submit on the sign in form? It is difficult to both sign the user in AND download the file the way things are currently done. The easiest thing would be to sign the user in when they submit the sign in form, and then they will need to click the download link again to download the file.

[2015-06-15 17:14] zepumph commented on #229
@aaronsamuel137 for review.

[2015-06-15 17:46] phet-steele opened #232 "WebGL disabled page"
This page needs some help:
http://phet.colorado.edu/en/webgl-disabled-page

It's missing quite a few things seen elsewhere on the site, and the little arrows are pretty far to the left.

[2015-06-15 17:59] oliver-phet commented on #232
@aaronsamuel137 Can you clean this page up? Add the normal side navigation, footer, etc. When we update the troubleshooting/faq pages, we'll migrate this page in. But for now I think you can only access this page from Molecule Shapes.

[2015-06-15 20:56] ariel-phet commented on #231
@aaronsamuel137 - I think that will be fine...since the sign in dialog appears over the webpage, I think it will be natural once you sign in to then have to click the file to complete the action.

[2015-06-15 22:01] aaronsamuel137 commented on #231
This is implemented on phet-dev. Assigning to @ariel-phet for review.

Technically, you can still download the files directly from apache even if you are not logged in if you know what the old links to them are, but those links are not live on the site anywhere after making this change. If you think this is an issue I can look into writing an .htaccess file that will prevent users from downloading

[2015-06-15 22:07] aaronsamuel137 commented on #229
Looks great! The only change I made was to run in the IntelliJ auto-formatter. It's good to get in the habit of doing this before committing, but not a big deal. Closing

[2015-06-15 22:07] #229 closed

[2015-06-15 22:10] aaronsamuel137 commented on #219
Closing the issue. This won't go live on the main site until the change email changes do, since they are on the same branch.

[2015-06-15 22:10] #219 closed

[2015-06-15 22:25] zepumph commented on #214
Assigning to @ariel-phet  to see about a design changes in the register panel.

[2015-06-15 22:30] aaronsamuel137 commented on #232
Assigning to @zepumph. You can fix the arrows by looking at an example of how the expandable text works on the faq pages.

To make it have the normal side navigation, etc., make WebglDisabledPage extend PhetMenuPage.

[2015-06-16 02:07] ariel-phet commented on #214
Let me talk to @amanda-phet

[2015-06-16 02:11] ariel-phet commented on #231
@aaronsamuel137 - looks good to me on phet-dev.

I don't think we need to worry about people getting the files off apache...if that are that savy and sort of super inclined to not be logged in, more power to them.

If you feel like some testing should be done on phet-dev first, please make a testing task with a description, and assign it to me.

[2015-06-16 15:25] aaronsamuel137 commented on #231
Since there are only a few things to test, it will probably be faster for me to just do the testing myself.

[2015-06-16 15:36] aaronsamuel137 commented on #231
I've finished testing and fixed some bugs. This will be deployed tonight.

[2015-06-16 17:00] ariel-phet commented on #231
Excellent, thanks!

[2015-06-16 18:21] amanda-phet commented on #167
I just tested this again and it appears to be broken again... after changing my email, neither the new or old email will work until I click "forgot password" and reset my password. Then I can sign in.

[2015-06-16 18:21] arouinfar commented on #167
I also experienced the same issue described by @amanda-phet.

[2015-06-16 21:01] aaronsamuel137 commented on #167
OK thanks for testing. This is a mysterious issue that I do not understand yet. It still always works whenever I try it, so there must be something inconsistent happening. I'll add some more log statements to see if it gives any clues.

[2015-06-16 22:56] ariel-phet commented on #221
@Berge17 - can you summarize your meeting with @jonathanolson here and comment on next steps? Thanks!

[2015-06-16 23:12] Berge17 commented on #221
# Summary of Meeting 6/16

- Overview/High level documentation a good idea (Directories).
- Stats are pulled from 3 main sources: apache logs (java), offline use database, and google analytics (html5).
- Most important is to insert new statistics. Specifically access logs and downloads from apache logs. Error logs not so much.
- Use what is written in issue 235 tasks to check and see if data is ac

[2015-06-17 00:12] ariel-phet commented on #221
Thanks @Berge17 - for the next steps can you put in some estimates/milestones? It would be good to know where you think you can be by the end of the week.

[2015-06-17 00:36] Berge17 commented on #221
# Update

Important Files

# WeeklyLoad.php
- Function loadWeekly uses Loader class (Loader.php). Creates new loader with ('~/tmp-logs') as an argument.
- uses function loadall from Loader.php

# Loader.php
- This file contains the loader class and lots of functions. Most importantly the writeall and loadall functions.
-  $logfile variable comes from config.php file
- parser functions are also use

[2015-06-17 00:42] aaronsamuel137 commented on #231
Deployed. Feel free to review or close @ariel-phet.

[2015-06-17 00:57] ariel-phet commented on #231
Just did some quick testing, accessing activity pages from several places (sim page and browse activities). All seems to be working well. Nice work!

[2015-06-17 00:59] zepumph commented on #232
@aaronsamuel137 how does that look?

[2015-06-17 01:05] aaronsamuel137 commented on #232
Looks good to me. Next time I deploy I will assign to @oliver-phet to review.

[2015-06-17 15:20] aaronsamuel137 commented on #232
@zepumph - one more thing. You'll need to either bump the version number of the main css file or move the css changes to the webgl html file.

[2015-06-17 16:04] zepumph commented on #232
Version number is fixed.

[2015-06-17 16:08] aaronsamuel137 commented on #232
Actually, you'll need to change the version number of phet-v29-min.css, not the individual css file, because this is the only file that actually ends up cached. You can do a search for v29 to find all places where this needs to change.

[2015-06-17 16:20] zepumph commented on #232
Other version number fixed.

[2015-06-17 19:06] zepumph opened #233 "Broken Link from our supporter 'Panco'"
I was just clicking around on a sim page and went to the panco website: http://www.pancopty.com/
which you can see is a broken link. Panco is one of our supporters. I don't know what we should do with this, just thought I would bring it to someones attention.

![screenshot-panco](https://cloud.githubusercontent.com/assets/6856943/8216104/b3d2a8f2-14f1-11e5-8013-25f02a400179.png)

[2015-06-17 20:34] jonathanolson opened #234 "Metadata requests for some simulations fail"
http://phet.colorado.edu/services/metadata/simulation?simulation=build-an-atom&format=phet-master returns:
[code]
Possibly since there is an older and newer (HTML5) version, and we're using HIbernate's .uniqueResult()?

If you replace build-an-atom with a sim with just an older version (density/CCK) or just a newer version (area-builder) it works.

[2015-06-17 20:50] jonathanolson commented on #234
It's also somewhat likely that this may have broken phet-info requests (PhetInfoServicePage) for older Flash/Java simulations. We'll want to test and make sure that is working for sims that have new and legacy versions.

[2015-06-17 20:52] jonathanolson commented on #234
For reference, they send requests to services/phet-info with the following construction for post-data (pulled from the Flash common code):
[code]

[2015-06-17 21:45] amanda-phet opened #235 "General style of web pages, including licensing"
The style we came up with for headings on the sim pages seems to be working well as we noticed a similar one is used on the HTML5 licensing page: http://phet.colorado.edu/en/html-terms-privacy-and-licensing

I would just like to point out that the blue headings (2nd level?) should be 00A6D3 to be consistent with the sim pages. Moving forward, we would like to continue to use this theme heading on

[2015-06-17 21:58] Berge17 commented on #221
# Update

# Loader.php
- loadall function.
-- for each file in directory (directory is specified in config.php) file is loaded and parsed. This does not create an sql statement of load anything into db. Simply parses file and returns an array of all parsed lines ( will test later tonight).

- writeLines is a function that actually writes the sql statements. I believe writeLines can be executed onc

[2015-06-17 22:23] aaronsamuel137 commented on #234
It's almost certain the unique result is throwing a NonUniqueResultException here and causing the error. However, I am not sure what the correct behavior should be here. Should we just return the html5 sim? Or should there be another parameter for project, or for isHTML? I am not clear enough about how this metadata is used to know what is best here.

[2015-06-17 22:36] aaronsamuel137 commented on #166
Feel free to take a look at the @zepumph - though it is low priority.

[2015-06-17 22:38] aaronsamuel137 commented on #155
Assigning to @zepumph. Not high priority. You might have to look into searching case-insensitively in postgres. We'll want to find a way to do this, but that doesn't slow look ups down too much.

[2015-06-17 22:46] aaronsamuel137 commented on #235
I've updated the color on phet-dev. Take a look around phet-dev and let me know if you'd like me to deploy this. It effects a lot of pages.

[2015-06-18 00:32] aaronsamuel137 commented on #232
Assigning to @oliver-phet for review.

[2015-06-18 04:56] jonathanolson commented on #234
We've given those URLs out to be used to make sure repositories that point to our sims are up-to-date and can get information for all of our sims. Presumably, they would expect the Java/Flash versions from those URLs.

It might be preferable for us to show the HTML5 sims for those requests, however, as we want people to move towards that.

@kathy-phet, any opinion on whether metadata requests for

[2015-06-18 16:52] amanda-phet commented on #235
You're right, it affects a lot. Oddly, I didn't see the change on the HTML licensing page.

Also, some PhET pages *weren't* affected, which concerns me a bit that those aren't linked in to the CSS the same way (like [troubleshooting](http://phet-dev.colorado.edu/en/troubleshooting) and [research](http://phet-dev.colorado.edu/en/research)).

For now, let's not make the change, but instead work on a

[2015-06-18 17:05] ariel-phet opened #236 "Turn java/flash licensing full software agreement text into webpage"
@zepumph please turn this page into a webpage with a style that matches the HTML licensing page

http://phet.colorado.edu/about/software-agreement_v7.htm

@aaronsamuel137 will help as needed

At status meeting 06/18/2015 it was decided this page does not need to be translatable.

[2015-06-18 17:19] aaronsamuel137 commented on #235
Research looks updated to me. But troubleshooting is not. I can do an easy fix for troubleshooting, looks like it is just overridden somewhere else.

Should I go ahead and deploy this to the live site after I fix troubleshooting?

[2015-06-18 18:13] amanda-phet commented on #235
I'm not sure I like this new look, so rather than deploying the light blue color change I think we should stick with the navy color that is currently used (but fix the overwriting on the troubleshooting page), and use it in the html5 licensing page for consistency (so, that page will change, but will be consistent with the navy that is elsewhere in the site).

[2015-06-18 21:17] aaronsamuel137 commented on #167
I think I have figured out the issue here. Basically, the password hashes in the database use the email as a salt - which makes changing emails much more complicated than it would have been otherwise.

[2015-06-18 22:27] zepumph commented on #236
The licensing software agreement is now in similar format to the html5 licensing page (http://phet.colorado.edu/en/html-terms-privacy-and-licensing), you will see it next deploy. See #80 for any other questions about this page

[2015-06-18 22:27] #236 closed

[2015-06-19 00:00] zepumph commented on #80
I just pushed the licensing branch to github if you want to take a look at it. There are probably some bugs, but for a rough outline it's pretty good. It includes a main licensing page, with sidebar navigation to it, and then 4 links from there: HTML5, Java, Activities, and Faq. The java page is the old 'software-agreement_v7' revamped in the HTML5 style, and the previous licensing page located at

[2015-06-19 15:12] aaronsamuel137 commented on #167
I think I have fixed this. Now you are required to enter your password when you change your email as well as the new email. This is necessary because the way passwords are hashed and stored in the database depends on the email address.

The reason is was working for me before is that the hashing only depends on the first 5 characters of the email address, which is the same in all of my email addre

[2015-06-19 18:42] amanda-phet commented on #80
@zepumph How do I look at this page? I tried phet-dev.../en/licensing and that didn't work.

[2015-06-19 18:49] aaronsamuel137 commented on #80
I think he was commenting to me that I can look at it locally. I don't see any need for you to see it yet @amanda-phet until we get your mockup and implement that. Unless you think that would be useful.

[2015-06-19 18:51] amanda-phet commented on #80
Sorry, that sounds good to me!

[2015-06-19 19:04] aaronsamuel137 opened #237 "Error translating Users section in PhET Website Translation #114 (vi)"
Log message:

[code]

[2015-06-19 19:16] phet-steele commented on #167
If everything is done normally, it all works great for me! There's a strange use case of me using a computer in conjunction with my phone (or possibly just any second device) where I can continue to use the website on my computer with my old email, until I sign out. Aside from that, this works as intended for me now.

[2015-06-19 19:19] amanda-phet commented on #167
It is working for me and @arouinfar just fine now!

[2015-06-19 19:59] phet-steele commented on #167
@ariel-phet, I'm never one to say testing is done, but if you don't think the use case I described in my previous comment needs to be addressed, then go ahead and close this.

[2015-06-19 20:12] aaronsamuel137 commented on #167
I am planning on deploying this to the main site on the next (probably early next week) unless I hear otherwise. I will close when it is deployed.

[2015-06-19 20:38] ariel-phet commented on #167
@phet-steele - Thanks for testing and finding that usecase, I don't think we need to address that case, but good to have it identified.

@aaronsamuel137 - yes, please close when deployed.

[2015-06-19 20:47] zepumph commented on #80
Yeah sorry for the confusion, I'll tag better next time @amanda-phet. @aaronsamuel137 did you get a chance to look at it?

[2015-06-19 21:26] oliver-phet commented on #232
Looks great @zepumph and @aaronsamuel137. It is even translatable! Closing.

[2015-06-19 21:26] #232 closed

[2015-06-19 21:44] amanda-phet commented on #231
I found a file that gave me an error when trying to download it. @aaronsamuel137 Do you know why the word doc in this activity gave an error? Is something wrong with the file?

https://phet.colorado.edu/en/contributions/view/3908

[2015-06-19 22:05] aaronsamuel137 commented on #231
Yeah it's unrelated to sign-in, that's just the page that displays if it doesn't work as expected, which will usually be due to not being signed in.

My best guess is that the encoding and decoding of the plus sign is messing it up somehow, though I am not sure why. Short, term you can look at change the file names (replace "+" with "and" or something) and see if that fixes it.

The correct files

[2015-06-19 22:08] amanda-phet commented on #231
Thanks @aaronsamuel137. I will email the author and ask if she can update the file names because I'd need to download them first in order to do it myself, and I can't!

[2015-06-19 22:08] #231 closed

[2015-06-19 22:55] aaronsamuel137 opened #238 "Issues with installer and new website changes"
There are a few issues with the installer now that we have a login popup. To facilitate downloading activities in the installer, we need to prevent the code that checks if a user is logged in.

[2015-06-19 22:57] aaronsamuel137 commented on #80
Looks good so far. Let's just leave it as is for now until we get the mockup from @amanda-phet.

[2015-06-20 00:52] Berge17 commented on #221
#WriteLines

Works and parses file correctly. Returns last element of the parsed Array. I believe this is correctly entering data into database. I will test this tomorrow and write a few output statements. I have changed LoadWeekly.php to now use writeLines instead of Loadall.

[2015-06-22 03:32] Berge17 commented on #221
# Update

Over this weekend I made some significant progress. I found that writelines writes the correct sql lines to a file (sims.sql) in the tmp directory. However this data is not automatically loaded into the sql sims table. I will double check but as of now the sql statements seem to be correct. The next step is to find a way to update the table's contents with the new data.

There is a funct

[2015-06-22 14:23] ariel-phet commented on #221
@Berge17 - thanks for the weekend update!

Can you put some milestones for the week, and also remind me of the end date for your independent study? I think it would be good to get the new data loaded into the data base this week and it sounds like you are almost there.

[2015-06-22 22:00] jbphet opened #239 "installer ripper is picking up a big and probably unnecessary file in pendulum-lab"
There is a file under sim/pendulum-lab named pendulum-lab.swd that is 30M in size and, as far as I can tell, isn't used anywhere.  It's being pulled down as part of the rip.  Can this file be removed?  I discussed with @jonathanolson and he thought it would be safe to remove this.  Assigning to @aaronsamuel137 to verify that it can go and, if so, remove it.

[2015-06-22 22:51] Berge17 commented on #221
# Goals for week of 6/22

1) Write a script to import sql file into database
2) Test script on larger log file
3) Double check writeLines function is writing proper statements

After I finish these I will import all the new data and write a comprehensive report about how the system works, what I learned about it, and where the process can likely be improved.

The end date for the independent study

[2015-06-22 23:54] Berge17 commented on #221
# importHelper.php

For some reason, the given function the tool uses to import an sql file into the database does not work. I have added a php file importHelper.php that imports the file tmp/sims.sql into the database. sims.sql is the file that the tool writes sql statements to.

[2015-06-23 01:44] aaronsamuel137 commented on #167
Deployed. Closing

[2015-06-23 01:46] aaronsamuel137 commented on #239
Removed from simian and figaro. Closing

[2015-06-23 01:46] #239 closed

[2015-06-23 01:48] aaronsamuel137 commented on #238
I've disabled the server from adding the onclick="makeLoginPopup" code when it is the installer user-agent. I think this will address installer issues, and hopefully not create any complications for normal usage.

[2015-06-23 17:49] aaronsamuel137 commented on #224
Feel free to start on this @zepumph. This should be higher priority than other website issues.

[2015-06-23 17:49] aaronsamuel137 commented on #224
I can help with this too, but it would be good for you to get a start while I am finishing up some other things.

[2015-06-23 19:24] zepumph commented on #224
What were you thinking for a URL for this page, I think it makes sense to put it in about/translationCredit,  because it's one large file.

[2015-06-23 19:28] zepumph commented on #224
Then there would also be a way to access the entire list without going through the individual sim through the about section?

[2015-06-23 20:39] zepumph commented on #224
@ariel-phet does that seem like good placement, in about. You can see here that you can get to it from a link in the sim page, and in the about navigation:
![translationcredit through about navigation](https://cloud.githubusercontent.com/assets/6856943/8316618/82b3dd7c-19b5-11e5-9b99-21e30e9b6f5a.png)
![about-sim](https://cloud.githubusercontent.com/assets/6856943/8316621/84ef3f1e-19b5-11e5-89bd-6

[2015-06-23 22:45] aaronsamuel137 commented on #220
Tomcat has "gone sick" twice today for around a minute each. I suspect it is related to the installer rip, as this was running during the period when the "going sick" happened. It is the main variable that is different than usual.

New relic shows nothing unusual. The memory usage was not at a particularly high point in the cycle, just somewhere in the middle.

Apache logs don't show a traffic spi

[2015-06-24 00:25] ariel-phet commented on #224
Hmm, @zempumph - think there was confusion in the way that this issue was written.

I believe the idea was that in the "about dialog" contained *within* the sim there would be a link to translation credits. We had not discussed a link for translation credit on the "sim page" only within the sim itself. Although we might conisider having such a link on the sim page, the proper place would be in the

[2015-06-24 02:24] ycarpenterphet commented on #159
Sorry for not commenting sooner, team.

I like this new scheme, with Lab, HW, Demo, MC concept Q, Discussion prompt, Guided Activity, and Other, as well as @amanda-phet's suggestion that we delete the old CQ category which contains a mixture of things. We likely will want to notify the activity writers and encourage them to re-classify their activity.

What will be the shortform (shown in the tabl

[2015-06-24 17:25] amanda-phet commented on #159
I think "Discuss" is the only short form that would work for Discussion Prompts, so let's go with that!

@aaronsamuel137 Will you please *add* two activity types:
Multiple-Choice Concept Questions (MC)
Discussion Prompts (Discuss)

and *delete* the current type:
Concept Questions (CQ)

Then we can close this issue.

[2015-06-25 14:52] patricialoeblein commented on #159
I like the new categories:)

[2015-06-25 20:19] kathy-phet opened #240 "Add Registered Trademark to Logo on Website"
We need to add the R with circle to the Logo on the header of the website. Amanda and I were working on this some, and thinking it could be the color of the Blue R.

Assigning to @amanda-phet  to work with @aaronsamuel137 and @zepumph

[2015-06-26 18:23] ariel-phet commented on #221
@Berge17 - please make an update at the end of today. Glad to see almost all of this week's goals are almost complete!

[2015-06-26 21:03] Berge17 commented on #221
# Update 6/26

As of right now, everything is ready to import data into the database. The last step is to make sure the data that is being entered into the system is the correct data. I am meeting with Jonathan on Tuesday to make sure it is all correct and after that I will update the database.

This is the process right now.

1) Input file to be loaded in WeeklyLoad.php, which writes correspondin

[2015-06-26 21:39] ariel-phet opened #241 "Investigate database backup using PetaLibrary Service"
@aaronsamuel137 - making an issue to track progress on this investigation

Looks like some basic info is here:

https://www-test.rc.colorado.edu/resources/storage/petalibrary

Would be good to know what the route would be for transfering the data and such (could we have a chornjob type script that would regularly send the data over)

Seems like a reasonable priority (not super high, but worth gett

[2015-06-26 21:42] ariel-phet opened #242 "Asking OIT about what it would take to put in a larger server hard drive"
@aaronsamuel137 - when you get a chance please email OIT (and cc me) about if they would be able to move onto a new hard drive for us, and what that would entail.

Seems like it would be good to know the answer to this question anyhow in case of a catastrophic failure, as well as knowing what sort of downtime would be involved.

I know this was discussed at dev meeting, just seems worth having an

[2015-06-29 02:18] Berge17 commented on #221
# Weekend Update

1) I do believe the sql statements are correct to the best of my knowledge.

2) Most recent logs in database are from 8/14. Earliest ID's are from 06/23. I haven't found any holes yet but I may.

3) I believe this can be done using the COUNT function in sql, however when I tried to use it the query also took a very long time.

[2015-06-30 14:00] aaronsamuel137 commented on #242
Email sent to OIT on 6/30/15

[2015-06-30 15:10] aaronsamuel137 commented on #235
I'll make these minor changes. Closing

[2015-06-30 15:10] #235 closed

[2015-06-30 15:27] aaronsamuel137 commented on #159
I can make this change. What should I do about activities that are already marked as CQ in the database? Are there any of these left?

Also, the Multiple Choice name is a bit long. It looks a little out of place:

![screen shot 2015-06-30 at 9 25 00 am](https://cloud.githubusercontent.com/assets/3193912/8434698/242bf7ee-1f0a-11e5-802f-64abb2a64693.png)

Maybe not a big deal, just wanted to point i

[2015-06-30 17:26] oliver-phet opened #243 "Odd redirect to Danish CCK page after signing in"
I’ve tested on quite a few pages, none prompting a login - just pressing the ’Sign In' button and all get redirected to https://phet.colorado.edu/da/simulation/circuit-construction-kit-dc
For instance, I go to the homepage http://phet.colorado.edu/
Press the ‘Sign In’ button > oliver.nix@colorado.edu
![screen shot 2015-06-25 at 5 01 32 pm](https://cloud.githubusercontent.com/assets/5090275/8437199

[2015-06-30 19:01] aaronsamuel137 commented on #159
Assigning to @amanda-phet to answer these last questions.

[2015-06-30 19:04] amanda-phet commented on #159
That is confusing. Can the text wrap around under the words only, and not under the box?
![screen shot 2015-06-30 at 1 03 27 pm](https://cloud.githubusercontent.com/assets/7852916/8439315/7326c91e-1f28-11e5-95d3-2d7bd243e451.png)

We decided that the few activities that have the "concept question" type will need to be manually updated with an appropriate type- either by the original author or a Ph

[2015-06-30 20:32] aaronsamuel137 commented on #242
Here's the response:

Probably a good idea to discuss this in conjunction with the next version of the website.

[2015-06-30 21:44] amanda-phet commented on #240
Here is a mockup of what it could look like using the logo we already worked on together. @kathy-phet if you like the way it looks, I will give the registered .png to @aaronsamuel137 to put on the website.

![screen shot 2015-06-30 at 3 42 34 pm](https://cloud.githubusercontent.com/assets/7852916/8442852/d52a8f5e-1f3e-11e5-929d-7ac010010f26.png)

[2015-07-01 02:39] patricialoeblein commented on #159
I thought the Concept Question category would be replaced by Multiple Choice and Discussion Prompts. I believe this decision is documented in this ticket. For my activities, it would be ok to make them all MC and then I could add Discussion prompts. If we do this for all CQ activities, I could review them and make changes. I start work sometime soon. Oliver is working on the paperwork.

[2015-07-01 14:39] aaronsamuel137 commented on #159
@amanda-phet, I have deployed this to phet-dev. Let me know if it looks good to you.

[2015-07-01 15:58] amanda-phet commented on #159
@aaronsamuel137 Is it possible to have the text wrap around so that it is not under the checkbox? I worry that it will look like we are describing the following checkboxes as concept questions.

[2015-07-01 16:12] aaronsamuel137 commented on #159
I think it is doing that, if I understand what you mean. Here is what it looks like on my screen:

![screen shot 2015-07-01 at 10 10 22 am](https://cloud.githubusercontent.com/assets/3193912/8459305/75979528-1fd9-11e5-9409-876809f83ebc.png)

If that looks right to you, try a hard refresh (on phet-dev) and see if it turns up. Otherwise, let me know what else needs to change.

[2015-07-01 17:15] amanda-phet commented on #159
Sorry, when I saw the updated types I assumed I didn't need a hard refresh. That fixed it! Looks great.

There are some activities that *only* have the current CQ type (ex: http://phet-dev.colorado.edu/en/contributions/view/3032). Will the activities still display CQs until edited? That is what I am seeing on phet-dev. Works for me.

From Steele's testing on the new sim pages, I know an issue was

[2015-07-01 17:41] aaronsamuel137 commented on #159
Yep activities will still display CQs, just like on phet-dev. You just won't be able to create new CQs or search by CQ.

[2015-07-01 18:41] amanda-phet commented on #159
That looks like a good option to me. Thanks for making this change!

[2015-07-01 18:49] Berge17 commented on #221
# Update 7/1

I have begun entering data. Right now I am doing the access logs and if I have time I will also do ssl and downloads. I am using the php tool to insert into the sims table. I ran into a few issue due to memory being full but have worked around it for now. I have commented this in the code in WeeklyLoad.php and Loader.php. I will update again later this afternoon

[2015-07-01 23:11] aaronsamuel137 commented on #241
Sent out an investigatory email on 7/1.

[2015-07-01 23:35] aaronsamuel137 commented on #159
Deployed to figaro. Feel free to close the issue @amanda-phet if it looks good to you.

[2015-07-02 02:59] Berge17 commented on #221
# Update 2 7/1

Trying to write statements in bulk did not work. After 3 hours I was kicked off of ssh broken (pipe error) apparently there isn't much to do about that.  Tried to write the statements that were written during that time to database and got a sql is gone error. This can be remedied by changing some sql settings but I do not have permission to do so. I will try doing each log individu

[2015-07-02 17:48] #159 closed

[2015-07-02 18:17] Berge17 commented on #221
# Update 7/2

This is the last day of my independent study, I have tried numerous ways to deal with the large size of these logs and have been unsuccessful in each. I did find a way to insert each file individually however and this is documented in my final report. Basically, each file takes about 2 hours insert but I tried a few different ways of bulk inserting and these did not work (kicked of o

[2015-07-02 21:22] amanda-phet commented on #240
@aaronsamuel137 I am going to email you the new logo for the main header of our website. Does that file touch any other instances on the website? If it is isolated to the header, I think it's safe to say just put it on the live site.

[2015-07-06 15:16] aaronsamuel137 commented on #220
I am starting to get suspicious of some data we are getting from new-relic. The saw-tooth memory pattern that seemed to occur after the new sim pages deploy may have been happening before too.

For instance, when I look back at June 2 in New Relic now, the saw tooth pattern is not there:

<img width="737" alt="screen shot 2015-07-06 at 9 12 28 am" src="https://cloud.githubusercontent.com/assets/31

[2015-07-06 16:09] aaronsamuel137 commented on #240
I've deployed the new image to phet-dev. Does it look ok to you @amanda-phet? (You may need to hard refresh to see it)

[2015-07-06 16:13] amanda-phet commented on #240
It looks great.

[2015-07-06 16:41] aaronsamuel137 commented on #220
On Friday 7/3, figaro "went sick" for about an hour and a half until I restarted it. The site appeared to be up and running with Varnish, but logging in, etc. was not working.

New Relic shows that the old gen memory space was full, but the GC wasn't able to collect anything.

Discussed with @jonathanolson on 7/6/15. We suspect the cause might lie with the custom caches that the website uses. I wi

[2015-07-07 03:17] aaronsamuel137 commented on #220
As suspected by @jonathanolson and I, clearing the website caches and then triggering a GC frees up memory very quickly. I cleared the caches and triggered a GC around 9:05pm:

<img width="712" alt="screen shot 2015-07-06 at 9 11 17 pm" src="https://cloud.githubusercontent.com/assets/3193912/8538010/b1053c20-2423-11e5-9f7c-74373dc90ded.png">

This strongly suggests that one or more of the website

[2015-07-07 03:26] jonathanolson commented on #220
Any thoughts on which cache is the culprit? We can clear each one individually to test, if the numbers from the memory report don't reveal what's going on.

[2015-07-07 03:27] aaronsamuel137 commented on #240
Deployed to figaro. Closing

[2015-07-07 03:27] #240 closed

[2015-07-07 03:41] aaronsamuel137 commented on #220
Not sure, I had the same thought that we could clear each one individually to find out. Perhaps we can talk tomorrow so I can get a clear sense from you which caches correlate with the numbers on the memory stats page.

Here are the numbers right before the cache clearing and GC:

[code]

[2015-07-07 15:23] aaronsamuel137 commented on #220
I tried just clearing the panel cache and running the GC and found similar behavior:

<img width="733" alt="screen shot 2015-07-07 at 9 22 32 am" src="https://cloud.githubusercontent.com/assets/3193912/8549754/bf002e28-2489-11e5-8fb3-59ccb5d26d08.png">

The seems like a good place to start. I do want to run another test just trying GC by itself to verify that the same thing won't happen. Last time

[2015-07-07 20:27] zepumph commented on #155
Assigning to @aaronsamuel137 for review

[2015-07-07 20:40] zepumph commented on #224
assigning to @aaronsamuel137  to see if there is anything to be done before Thursday status meeting.

[2015-07-07 20:55] aaronsamuel137 commented on #155
Commit looks pretty good. We might want to consider creating an index on lowercase email since currently we have one one email. Does this sound like a good idea to you @jonathanolson?

Something like:
[code]

Are you up for trying this on phet-dev and testing? Assigning to @zepumph

[2015-07-08 05:12] jonathanolson commented on #155
Seems presumably safe enough, and an index would help the lookups. The part before '@' is technically case-sensitive, but de-facto case-insensitive (see http://programmers.stackexchange.com/questions/128297/programming-around-email-address-case-sensitivity or other notes).

[2015-07-08 22:17] zepumph commented on #166
@aaronsamuel137 want to take a look at this, I think It's ready to close.

[2015-07-08 22:41] zepumph commented on #81
I can start working on creating a Mac/PC page, or two separate ones. @ariel-phet  do you want to hash out a more concrete to do list for this enhancement?

[2015-07-08 22:58] zepumph commented on #96
I can do this if there are no objections, @jbphet is a busy guy.

[2015-07-08 23:28] zepumph commented on #96
@oliver-phet how does that look on phet-dev.  Also during this I saw a vast difference between the style of tablets/mobiledevices and all the other troubleshooting pages. Do we perhaps want to fix that? see: https://phet.colorado.edu/en/troubleshooting/mobile
vs
https://phet.colorado.edu/en/troubleshooting/windows which is more of a FAQ style. Thoughts?

[2015-07-09 15:30] aaronsamuel137 commented on #166
Looks good to me. Tested on phet-dev and appears to be working well. The only changes I have made are formatting and removing commented code.

[2015-07-09 15:30] aaronsamuel137 commented on #166
Closing

[2015-07-09 15:30] #166 closed

[2015-07-09 16:59] zepumph commented on #224
As discussed at 7/9 status meeting:
One table per sim, adding locale as a column, repeating it for every translator of a specific locale.
Add an about column for unique translator information.
Look At java sims to see the string translation.credits, to be filled out by the translator. Use something similar.

[2015-07-09 17:08] kathy-phet opened #244 "Next Generation Server Investigation for Figaro Replacement"
KP will set up a meeting with OIT, Aaron, Jonathan, and Ariel to discuss and plan for transition from Figaro to next steps.

[2015-07-09 17:27] aaronsamuel137 commented on #224
Looks good so far. I'll add the Rosetta integration, which will get more users added to the database to show up. Reassigning to @zepumph.

[2015-07-09 17:52] schasteen opened #245 "Incorrect link on Research page"
On http://phet.colorado.edu/en/research

when you click on the link to this reference:
Creating effective interactive tools for learning: Insights from the PhET Interactive Simulations Project, Perkins, K. K., Podolefsky, N. S., Lancaster, K., & Moore, E., B. Wilson & T. Amiel (Eds.), pp. 436-441, 2012 .

It takes you to the link for the reference above it, which is incorrect.  I don't know the co

[2015-07-09 18:40] aaronsamuel137 commented on #237
Not sure what is going on here, and not sure when I'll have time to look at this. Feel free to take a look if you want @zepumph.

[2015-07-09 18:44] aaronsamuel137 commented on #237
To reproduce, go to "translate the website" and click on translation 114. Then click on the "Users" tab to translate the Users section. You'll get an Internal Server Error.

[2015-07-10 22:15] jbphet opened #246 "remove links to download zipped versions of activities for installer-builder rip"
The size of the activities-included installers could be reduced by eliminating the links on the activities pages to the zipped version of the activities.  It's redundant to have these links anyways when running from a local mirror, since the activities are already on the local disk.  @aaronsamuel137 and I discussed this already, but I thought I'd log an issue to track.

Screenshot of link as curre

[2015-07-10 22:16] jbphet commented on #246
Related Unfuddle issue here: https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/3697

[2015-07-10 22:24] jbphet opened #247 "Can links to activities use https so that installer doesn't have to log in every time?"
Currently, if a user installs a non-activities version of the local mirror using one of the installers, and then uses it while internet connectivity is present, and follows an activities link, they have to sign in every time they want to download an activity.  This is admittedly a bit of a weird use case - why run a local version if you've got decent Internet access?  But, if it's not too much has

[2015-07-11 04:44] ariel-phet commented on #242
Since the next step is discussing options for the next version of the website and server architecture I am closing as those issues are being tracked in #244

[2015-07-11 04:44] #242 closed

[2015-07-11 04:46] ariel-phet commented on #245
@emily-phet please provide the correct link and I can then reassign to one of the web devs to fix

[2015-07-11 04:52] ariel-phet opened #248 "Prompt users to considering donating after finishing the registration (or profile update) process"
At ISTE, I talked to a social media/nonprofit expert that mentioned it might be good to prompt our users to donate right after finishing registration. She mentioned such a strategy has been effective for things like "adblock" on chrome...right after you install it prompts you for a donation.

I mentioned the idea to @kathy-phet and she really liked it...especially since it will help reiterate to o

[2015-07-11 15:05] patricialoeblein commented on #248
My 2 cents. I think this is ok and if carefully written will not seem negative to teachers. I have thought about it and I recall other teacher resource websites that require a login having similar messages. My typical response is to ignore the request if I have not used enough resources to know if the site is worthy of a donation. Right now, many users who will be registering will be PhET resource

[2015-07-11 16:16] emily-phet commented on #245
This is the best I could find: http://www.editlib.org/p/40781/

[2015-07-11 19:36] zepumph commented on #224
There is currently a version of this page on phet-dev, with limited data, but there is now a link in the aboutDialog of sims that point to this page, and will take you to the specific sim header. See joist issue 163. https://github.com/phetsims/joist/issues/163.

[2015-07-11 20:20] zepumph commented on #171
I just did a decent amount of poking around, and for all the testing I did, the sims I expected to showed up. The searcher takes into account pretty much every possible field in a contribution:
                 "contribution_title",
                "contribution_authors",
                "contribution_organization",
                "contribution_keywords",
                "contribution_description

[2015-07-11 20:24] zepumph commented on #175
Can this issue be closed @aaronsamuel137?  Or is there something I can do to fix it? Why was your commit reverted?

[2015-07-12 14:43] zepumph commented on #183
@ariel-phet I can add the 'phet-made' into the sort by chain, if you think that's best. Thoughts?

[2015-07-12 14:49] zepumph commented on #197
Can this issue be closed @aaronsamuel137?

[2015-07-12 14:54] zepumph commented on #204
I have added interoperable licensing to the html5 licensing page that Kathy gave me, see
http://phet.colorado.edu/en/html-terms-privacy-and-licensing, and http://phet.colorado.edu/licensing/html once the new licensing pages go live.
I think this issue can be closed, assigning to @ariel-phet just to make sure.

[2015-07-12 14:56] zepumph commented on #204
I also think that phetsims/together#127 can be closed as well.

[2015-07-12 15:23] zepumph commented on #222
@arnabp will you use #96 from here, because this is pretty much a repeat. A version of this page is on phet-dev. see: https://phet-dev.colorado.edu/en/troubleshooting/linux
I didn't see this issue when I added the page, but for now I'm closing this and assigning #96 to @arnabp to run through the linux steps. Sorry for any confusion on my part.

[2015-07-12 15:23] #222 closed

[2015-07-12 15:27] zepumph commented on #230
#155 Covers these errors, and they are now handled, closing

[2015-07-12 15:27] #230 closed

[2015-07-12 15:54] zepumph commented on #243
I can't seem to recreate this problem, can you be more specific @oliver-phet. I go to a page, and try to sign in, and it works fine, can you still recreate it? Did you try any other usernames?

[2015-07-12 16:04] zepumph commented on #245
I changed the link to the one that emily found. It will be on phet-dev next deploy. I can change it to something else really easily if needed.

[2015-07-12 17:12] ariel-phet commented on #245
@zepumph - thanks for taking care of that. Once this is live on main website, please close the issue.

[2015-07-12 17:16] ariel-phet commented on #183
Let me discuss with @amanda-phet and get back to you. In general it seems like a good idea.

@amanda-phet - did we already decide something like this, or should we bring it up at the next website meeting?

[2015-07-13 03:57] kathy-phet commented on #245
@zepumph - did you mean that it will be on phet-figaro next deploy? or phet-dev then phet-figaro after that?

[2015-07-13 14:13] aaronsamuel137 commented on #175
I don't remember the exact reason for reverting, but I know I ran into some corner cases and/or complications. Also, I never heard back from @amanda-phet and wasn't sure if we wanted to go ahead with this or not. Feel free to work on this @zepumph if @amanda-phet thinks it is worth implementing.

[2015-07-13 14:18] aaronsamuel137 commented on #197
The issue is only partially fixed so I think we should leave this open as a reminder? Although it is very low priority since it is such a minor issue.

If you can reproduce and fix it, that would be great @zepumph, but don't spend too much time if you get stuck. I had a really hard time when I was trying to track this down.

[2015-07-13 14:20] aaronsamuel137 commented on #155
We decided we want to make the main login non-case-sensitive too.

[2015-07-13 16:58] zepumph commented on #245
phet-dev sorry for the miscommunication @kathy-phet. I will post here when it is up on any server, and which one it is.

[2015-07-13 17:10] amanda-phet commented on #175
I think it would be a nice user interface feature. Do you need a mockup or do you have an idea already for how it should look?

[2015-07-13 17:25] aaronsamuel137 commented on #175
It will be easiest to just use the default function designed for this use case. It looks like the following on Chrome:

<img width="472" alt="screen shot 2015-07-13 at 11 23 27 am" src="https://cloud.githubusercontent.com/assets/3193912/8655934/b3884ac2-2951-11e5-90c7-4ace57974619.png">

Though we can adjust the wording if needed.

[2015-07-13 18:02] amanda-phet commented on #175
I think that would work perfectly.

[2015-07-13 18:09] amanda-phet commented on #183
Let's discuss it Wednesday.

[2015-07-13 18:13] arnabp commented on #96
1 - Download package.
2 - Open the console/terminal.
3 - Navigate to the folder where the download is.
4 - Give your system permissions to execute the file:
<a>&#160;&#160;&#160;&#160;&#160;</a>>> chmod 777 PhET-Installer_linux.bin
5 - Run the installer:
<a>&#160;&#160;&#160;&#160;&#160;</a>>> ./PhET-Installer_linux.bin
5.1 - If you still do not have permissions use:
<a>&#160;&#160;&#160;&#160;&#1

[2015-07-13 18:16] arnabp commented on #96
This is an updated list of instructions that's been tested. The formatting and indentation might use some work, but otherwise everything else should be fine.

[2015-07-13 18:17] oliver-phet commented on #96
@zepumph Can you change the instructions on http://phet-dev.colorado.edu/en/troubleshooting/linux#q1-header to use the list above?

[2015-07-13 18:46] amanda-phet commented on #224
Minor request: Can you match the style that is used in the Translated Sims table, to be consistent? Basically, not bold (since we reserve bold for links/sorting) and left-aligned.

![screen shot 2015-07-13 at 12 45 04 pm](https://cloud.githubusercontent.com/assets/7852916/8657830/30f6b024-295d-11e5-8c39-01ede5ea535d.png)

[2015-07-14 00:39] aaronsamuel137 commented on #247
I've update these links to use https. Assigning to @jbphet to verify they work properly in the installer.

[2015-07-14 13:47] zepumph commented on #245
correct link is now up on the actual phet site:
https://phet.colorado.edu/en/research#sims
closing

[2015-07-14 13:47] #245 closed

[2015-07-14 13:49] zepumph commented on #96
have a look on the live site, I can change minor formatting really easily, but the content is what @arnabp posted. http://phet.colorado.edu/en/troubleshooting/linux#q1-header

[2015-07-14 13:49] zepumph commented on #96
Assigning to @oliver-phet for changes/closing

[2015-07-14 15:45] aaronsamuel137 commented on #238
These issues seem resolved. Closing

[2015-07-14 15:45] #238 closed

[2015-07-14 17:14] kathy-phet commented on #248
I am excited about this, and am also looping @kdessau-PhET to this discussions.

@ariel-phet , @amanda-phet - I think it would be great if Kathy D could participate in the design thinking process about donor flow and such, as we will have a number of such design needs and generating ideas and messages together would be a good foundation to build.

It will be great to get this going - as Trish says

[2015-07-14 18:12] zepumph commented on #155
Added changes to master so that you can now login with a non-case-sensitive email. I'll now work on creating an index for lower-case email lookups. @aaronsamuel137 can we skype soon about doing that, thanks.

[2015-07-14 21:54] aaronsamuel137 commented on #155
Discussed over Skype. Code changes look good to me. We'll want to do a little testing on phet-dev to make sure logging in is working correctly, then deploy and add the index to figaro.

[2015-07-14 21:54] zepumph commented on #237
From discussion with @aaronsamuel137

The null pointer is probably happening because of entity keys without entries in the database and vise vera. After doing some investigating VI#114 was getting a null pointer when querying register.gradeHeader, where register.gradesHeader is the key in the database, probably a typo.

After talking about these errors and looking into orphaned strings, we decided

[2015-07-14 22:56] aaronsamuel137 commented on #220
After limited this size of the panel cache, the memory trends on figaro seem to have changed dramatically:

<img width="725" alt="screen shot 2015-07-14 at 4 53 36 pm" src="https://cloud.githubusercontent.com/assets/3193912/8687014/03a634d6-2a49-11e5-8e1d-6d5f45f28303.png">

Overall, it seems like less memory usage in general, and not as much of a sawtooth pattern. This could potentially solve our

[2015-07-15 16:24] aaronsamuel137 commented on #208
Looks like @samreid's work on https://github.com/phetsims/sherpa/blob/master/third-party-licenses.md is finished. I have updated the redirect on the website to point there. This will go live on the next deploy.

[2015-07-15 16:24] #208 closed

[2015-07-15 17:22] samreid commented on #208
Just to clarify, I am still refinish the output.  But the link should be permanent.

[2015-07-15 19:55] kathy-phet commented on #244
Meeting set up for Aug 17, 2pm.
@aaronsamuel137
@jonathanolson
@ariel-phet
All coming to this meeting at Orrie's place.

[2015-07-15 20:41] zepumph commented on #155
After testing case insensitive emails for user login, I realized there was a really weird error based on incredibly unexpected behavior, dependent on which elements of the email were capitalized.  After researching further it turns out that the salted password was at fault, and as a result. The login email in non case sensitive for the entire string save the first 6 characters.

Going forward, we

[2015-07-15 20:44] amanda-phet opened #249 "Add "parent" field on registration page"
In a 7/15 discussion with Kathy D. we realized there are plenty of parents who might register for the site (particularly home-school parents).

Can you add a parent field to the "I am a..." section of the registration page?

[2015-07-15 21:52] zepumph commented on #155
Moving forward: two topics of discussion::
New users are entered based on lower case email.
    Do it high enough up such that we don't need LOWER() in any hibernate queries or to salt the pw
Go back and change the 3000 ish users with capitalizations in their email.
    write a script much like newSimPagesMerger.java. To be run once in phetWicketApp.java then removed.

[2015-07-15 21:56] zepumph commented on #155
When going back, we will update emails to lower case, and change salted pwds.

NOTE: we no longer will need a lower case index, as it will be the same as the normal email index

[2015-07-15 21:58] aaronsamuel137 commented on #155
Also, you'll want to make a test email with some capitalizations before running the code to update the old emails, just to make sure it works as expected.

[2015-07-15 22:13] amanda-phet commented on #183
At the 7/15 website meeting we decided to implement @phet-steele 's suggestion to add phet-made into the sorting chain.

We considered his second suggestion and decided that the current click-sort behavior is pretty standard, so we will not make a change there.

[2015-07-15 22:23] aaronsamuel137 commented on #249
I've added this - it will appear on the next deploy. I'll let you know then and assign to you for review.

[2015-07-15 22:32] oliver-phet opened #250 "Embed Mac troubleshooting video in Mac troubleshooting l"
@zepumph Can you embed this video: https://drive.google.com/file/d/0BxerAx_XXHB2M1ByQ2pVTXJNcnc/view

Into this troubleshooting link (above the answer text) http://phet.colorado.edu/en/troubleshooting/mac#q5-header

[2015-07-15 22:49] zepumph commented on #237
I forgot the issue number in this commit sorry. I fixed most if not all of the orphaned strings in this commit: 059c67f7199e34fd042a77a97ea3c58cc117c8a9.

The users section is no longer giving a null pointer now, and although I did only limited testing. I believe this problem is solved.

[2015-07-16 15:13] zepumph commented on #183
assigning to @amanda-phet for a final look over and to close if good.

[2015-07-16 15:14] zepumph commented on #183
changes were made on this commit: 6a1ed7b0ec8f6b8a55d53a889ecbcf1010fff63d

[2015-07-16 15:44] aaronsamuel137 commented on #183
@zepumph, is this deployed on simian or figaro? It's always good to specify.

[2015-07-16 16:27] amanda-phet opened #251 "Create a donation splash page after registering for site"
At the 7/15 website meeting with @ariel-phet @arouinfar @oliver-phet and @kdessau-PhET, we decided on a design for a donation splash page at the request of @kathy-phet .

We would like a dialog box to pop up that has the same theme as the login dialog- background, fonts, etc. I can send you some temporary artwork but we will need Mariah to fix it up a little. Here is the basic look:
If a user sele

[2015-07-16 16:28] amanda-phet commented on #251
This is in response to #248. Sorry for the duplication.

[2015-07-16 16:31] ariel-phet commented on #248
Let's go ahead and close this issue, since this was really to track discussion of the idea and if we all agreed.

[2015-07-16 16:31] #248 closed

[2015-07-16 16:53] oliver-phet commented on #237
Email from translator received yesterday:
Hi Oliver,
The "user page" error is not fixed! I can't translate this page. Please review it.
Best,

[2015-07-16 17:25] aaronsamuel137 commented on #251
We will also look into getting a count of how many people press "Donate Now", whether using Google Analytics or something custom made.

[2015-07-16 17:35] aaronsamuel137 commented on #251
Should the user be able to press escape or click outside of the dialog to exit, or do we want to require them to press "Maybe later"?

[2015-07-16 17:41] zepumph commented on #234
@kathy-phet says at 7/16 dev meeting: only html5 meta data is good.

[2015-07-16 18:06] aaronsamuel137 commented on #250
Typically, we host videos on figaro if we want users to be able to download them. If we want to embed the video, then we use youtube. Can this video be posted on youtube in the phet account?

[2015-07-16 18:07] aaronsamuel137 commented on #250
Assigning to @oliver-phet or somebody else who has access to the phet youtube account. Reassign to @zepumph when you have a youtube link for us.

[2015-07-16 18:08] aaronsamuel137 commented on #250
Actually, I take that back, we might be able to embed with Google Drive directly. I will look into this first.

[2015-07-16 18:12] aaronsamuel137 commented on #250
@zepumph, you can embed the video directly from google with something like this:

[code]

I would say we don't need to bother hosting it on figaro.

[2015-07-16 18:24] amanda-phet commented on #251
Yes, users should be able to click outside or press escape in addition to clicking "maybe later".

[2015-07-16 18:54] aaronsamuel137 commented on #246
Removed. Assigning to @jbphet to test with the installer.

[2015-07-16 21:01] zepumph commented on #237
This is fixed on master, and will be on phet production when deployed by @aaronsamuel137 tonight.

[2015-07-16 21:45] zepumph commented on #250
I just deployed this feature to phet-dev, @oliver-phet if you can look at it and give me any feedback this afternoon, then we can push it to master and onto phet tonight. Not that this is pressing or anything.

[2015-07-16 21:48] oliver-phet commented on #250
Looks good, but can you align the left side of the video to the left side of the text? (Not the arrow)
--
Oliver Nix
PhET Interactive Simulations
University of Colorado
oliver.nix@colorado.edu<mailto:oliver.nix@colorado.edu>

On Jul 16, 2015, at 3:45 PM, Michael Kauzmann <notifications@github.com<mailto:notifications@github.com>> wrote:

I just deployed this feature to phet-dev, @oliver-phet<https

[2015-07-16 21:58] zepumph commented on #250
Alright, I just got the formatting that was already there working, which is offset a bit to look more centered. Do you like this, or would you rather have it flush.

[2015-07-16 22:18] oliver-phet commented on #250
That looks best. Ready to push!
--
Oliver Nix
PhET Interactive Simulations
University of Colorado
oliver.nix@colorado.edu<mailto:oliver.nix@colorado.edu>

On Jul 16, 2015, at 3:58 PM, Michael Kauzmann <notifications@github.com<mailto:notifications@github.com>> wrote:

Alright, I just got the formatting that was already there working, which is offset a bit to look more centered. Do you like this, o

[2015-07-17 15:40] zepumph commented on #250
It's up on phet now, I don't know why the style didn't update to the main site, I'll look into it.

[2015-07-17 17:34] oliver-phet commented on #250
It looks like the top mac entry (Molecule Shapes) has a left aligned screenshot instead of center also.
--
Oliver Nix
PhET Interactive Simulations
University of Colorado
oliver.nix@colorado.edu<mailto:oliver.nix@colorado.edu>

On Jul 17, 2015, at 9:40 AM, Michael Kauzmann <notifications@github.com<mailto:notifications@github.com>> wrote:

It's up on phet now, I don't know why the style didn't upda

[2015-07-17 18:34] zepumph commented on #250
Yeah I changed those to match the video indent. I'm having a problem with varnish I think. It works on phet-dev, as you can see on https://phet-dev.colorado.edu/en/troubleshooting/mac  but the same code is having trouble on phet, I think it is because of varnish. We aren't supposed to restart it, to force of reload of the code that I changed on phet, But I was able to restart varnish on phet-dev,

[2015-07-17 18:38] oliver-phet commented on #250
No rush on getting it fixed - we definitely want images and videos to be centered eventually, but it is more important that the content is up.

[2015-07-18 02:05] jonathanolson commented on #250
The JS and CSS is bundled into one JS file and one CSS file, which are versioned and set to be cached permanently (for many performance gains). Whenever JS/CSS changes are made that will change those files, the versions should be updated (so that they will have a new URL). These names will need to be updated everywhere, e.g. "phet-v31-min.css" => "phet-v32-min.css" in all code and other files.

Se

[2015-07-20 15:13] zepumph commented on #250
Great thanks so much, I was changing the css versions on individual pages,
but not the whole minified one, I'll do that, and it will be up next
deploy. I'll keep you posted @oliver-phet, thanks for the patience.

On Fri, Jul 17, 2015 at 8:05 PM, Jonathan Olson <notifications@github.com>
wrote:

--
Michael Kauzmann
PhET Interactive Simulations
michael.phet@gmail.com

[2015-07-20 16:16] zepumph commented on #237
Fixed on the main website: see https://phet.colorado.edu/?wicket:bookmarkablePage=:edu.colorado.phet.website.translation.TranslationEditPage&translationId=114&translationLocale=vi

Closing

[2015-07-20 16:16] #237 closed

[2015-07-20 16:17] zepumph commented on #183
This is now one figaro, @amanda-phet  if you want to take a look to make sure you like the ordering.

[2015-07-20 16:23] zepumph commented on #175
Assigning to @amanda-phet to make sure that everything works as expected (it should) on the register and create activity pages.

[2015-07-20 17:47] amanda-phet commented on #183
It looks good to me! Closing.

[2015-07-20 17:47] #183 closed

[2015-07-20 17:49] amanda-phet commented on #175
Is this on phet-dev? I'm getting an error any time I click on "browse activities" or "share your activities". Actually, I'm even getting an error if I try to click on "simulations".

[2015-07-20 18:10] zepumph commented on #175
I'm not sure what's going on there, I'll look into it, but it's up on figaro, and not giving the error there, if you want to look it there.

[2015-07-20 18:20] zepumph commented on #175
I'm not sure what's going on there, I'll look into it, but it's up on
figaro, and not giving the error there, if you want to look it there.

On Mon, Jul 20, 2015 at 11:49 AM, Amanda McGarry <notifications@github.com>
wrote:

--
Michael Kauzmann
PhET Interactive Simulations
michael.phet@gmail.com

[2015-07-20 18:41] zepumph commented on #155
I started to work on a script to manually change all the database entries to lower case emails. This part is easy, but then to recalculate the salted passwords, we need the password, not the previously salted and hashed password, which is the only thing stored in the database. I believe to fully implement this the way talked about above, we will need to create a dialog, where these users with uppe

[2015-07-20 18:42] amanda-phet commented on #175
I see it now on figaro. Looks good to me. @ariel-phet Do you want to give it a final look as well? Then close the issue if it looks good to you.

[2015-07-20 21:52] zepumph commented on #224
This page is now on figaro, because it is currently empty, it shows a coming soon message, but will populate as more and more translators work on sims.

[2015-07-20 21:54] amanda-phet commented on #224
@zepumph were you able to match the style of the Translated Sims table? It doesn't appear updated on phet-dev, but I won't know for sure on figaro until a translator enters information!

[2015-07-20 22:02] zepumph commented on #197
I can't seem to reproduce this, as much as I try. I'm on Windows 8.1 and Chrome Version 43.0.2357.134  and FF 39.0. If you could be a little more specific about what your doing, and perhaps try to see if you can still recreate it @phet-steele, that would be great thanks.

[2015-07-20 22:13] zepumph commented on #249
@amanda-phet,  you can go ahead and take a look at this on figaro.

[2015-07-20 22:15] zepumph commented on #101
@amanda-phet this looks like it can be closed, is that correct?

[2015-07-20 22:24] zepumph commented on #73
I'll get going on this if there are no objections.

[2015-07-20 22:34] zepumph commented on #224
It's updated now on phet-dev @amanda-phet. I matched the greying out, and the locale formatting. I'm also not using bold. Would you mind being more specific about the exact changed you would like to see for the tables. Thanks!

[2015-07-20 23:40] amanda-phet commented on #224
I was referring to the blue title bar for the header

The center alignment looks funny when we don't see edges.

[2015-07-20 23:42] amanda-phet commented on #249
Looks great. Thanks.

[2015-07-20 23:42] #249 closed

[2015-07-21 16:44] jonathanolson commented on #221
Thanks! Closing.

[2015-07-21 16:44] #221 closed

[2015-07-21 18:35] zepumph commented on #224
Any other thoughts about the formatting @amanda-phet? https://phet-dev.colorado.edu/en/for-translators/translation-credit

[2015-07-21 19:11] zepumph commented on #221
@ariel-phet it might be good to put a copy of the final report on this issue, if that's appropriate, just to have everything in one place.

[2015-07-21 19:23] amanda-phet commented on #224
Is it my imagination, or is still bold? You said you weren't using bold but it still seems bold to me.

Otherwise, the alignment is looking good so I don't think I have any other suggestions!

[2015-07-21 19:54] zepumph commented on #224
Turns out the table headers are auto bolded, sorry about that. You have a much better eye than I! All fixed now and on phet dev if you want to glance @amanda-phet. I'll keep this issue open until the tables begin to get populated by translators. Also we haven't yet decided what to do with the about section of the table.

[2015-07-21 19:59] amanda-phet commented on #224
Thanks for handling my minor pixel-polishing requests! It looks great.

The "about" section is optional. If a translator has a website they want to link to, it would go there. I believe it would have the text "More Info" if they choose to include a URL. It might've actually been an "Info" section, and the link was "About", but I'm not sure it matters too much. If we find that no translators even w

[2015-07-21 21:07] zepumph commented on #73
@ariel-phet, what are your thoughts about this page still going up, here is a skype conversation from this afternoon with @samreid  and @jonathanolson that discusses some good points around maintaining this page on the website.

I was going to tackle an old issue, https://github.com/phetsims/website/issues/73, but had a question about it
[1:13:38 PM] Michael Kauzmann: Assuming we still want to do

[2015-07-21 22:20] ariel-phet commented on #73
Seems like a good topic for dev meeting.

[2015-07-21 22:21] zepumph commented on #73
I'm on it.

On Tue, Jul 21, 2015 at 4:21 PM, Ariel Paul <notifications@github.com>
wrote:

--
Michael Kauzmann
PhET Interactive Simulations
michael.phet@gmail.com

[2015-07-22 13:40] patricialoeblein commented on #251
I was on Wikipedia today. They have a funding raising that suggests $3 per user. It might be interesting to check out the phrasing.
![image](https://cloud.githubusercontent.com/assets/5091205/8826600/e8f1784c-3044-11e5-9452-80dae54a0458.png)

[2015-07-22 15:52] aaronsamuel137 commented on #197
@phet-steele is gone for the summer (I think). I had a hard time reproducing this at first, but eventually did it by literally clicking as fast as I possibly could.

[2015-07-22 16:58] zepumph commented on #197
Oh yeah I think he is thanks. I attacked this on the front end, because I thought it would be easier, and (assuming it's actually fixed from my testing) it was very easy. You can take a look at it on phet-dev @aaronsamuel137.

[2015-07-22 17:22] kathy-phet commented on #251
Here are my word-smithed suggestions for the various parts of the text ...

For all users -- use this text to describe project:
PhET is a small nonprofit project with a dedicated team of designers, researchers, educators, and developers. We rely upon our users to keep PhET free for everyone.

For "new users" or "occasional user", have the following ...
Text on the sign: ... (original is good)

Ask

[2015-07-22 18:40] amanda-phet commented on #251
Thanks @kathy-phet . I emailed an updated mockup to @aaronsamuel137 . As for the line spacing, it might be possible, but we'll have to see it after it is coded.

[2015-07-22 18:43] aaronsamuel137 commented on #251
I haven't gotten an email, can you try resending?

[2015-07-22 18:48] aaronsamuel137 commented on #197
Looks good @zepumph. It doesn't actually address whatever strange error is happening on the server side, but at least it prevents double clicking too fast.

One minor bug, looks like you accidentally added a "\" to the beginning of ContributionEditPanel.html. After you remove this, feel free to close.

[2015-07-22 19:17] aaronsamuel137 commented on #251
I have deployed an incomplete version of this to phet-dev. Please take a look @amanda-phet and @kathy-phet.

For now, ignore the image since I still haven't gotten the final versions from @mariahmaephet. The final images will obvious have a transparent background and the text in the sign.

What should be the behavior when you click donate? Right now, it both opens the donate page in a new tab and

[2015-07-22 20:35] aaronsamuel137 commented on #155
Because of the nature of password salting, we have decided not to update old users in the database who used capital letters in email addresses. For these users (~3000 out of ~70000), they will need to use their original capitalization to log in. For new users and existing users who didn't use capital letters, email addresses will no longer be case sensitive.

Feel free to close this issue when you

[2015-07-22 20:36] #155 closed

[2015-07-22 20:43] aaronsamuel137 commented on #197
OK looks good now. Closing.

[2015-07-22 20:43] #197 closed

[2015-07-22 21:07] kathy-phet commented on #251
Looking good in my tests. I think the behavior on click donate works well now.

I like the superhero image for the power user, but there is a different image for the new user - correct? - not the super hero image.

[2015-07-22 21:11] kathy-phet opened #252 "Deleting Account?"
I was just working on testing registration, and realized that I think we offer no way to remove your own account. I know this has complexities around it ... like how do we manage submitted activities that are no longer associated with an account.

But if it is not already on the to-be-discussed list, we should add it as it seems like we should provide users with ways to remove their accounts.

[2015-07-22 21:15] oliver-phet commented on #251
In my opinion, the popup should only occur with a successful registration (ie: if there are fields that need completed, it should wait to show the "Please correct the fields marked in red.") Then, once the user corrects everything and presses 'Register', they will see the popup.

For 'Donate' behavior, I would opt for opening the donation page in a new tab.

[2015-07-22 21:35] kdessau-PhET commented on #251
I agree with Oliver that the popup should only open on a successful registration. There are two messages for the PhET girl for the two conditions. I didn't see any message in this version though. (I guess that's the incomplete part.)

[2015-07-22 22:45] patricialoeblein commented on #252
This is an interesting discussion. One thing we did with the recent emails to Gold star authors (about 75 people)  was find out if the contact email actually still worked. I was happy to see that few  bounced back. I imagine that the larger population of contributing teachers will have deadend contact information.  I have been glad that the activities are still available. In the cases where there

[2015-07-23 15:38] aaronsamuel137 commented on #251
Yes this is correct, I just haven't gotten the final images yet.

I agree that the popup should only occur with successful registration. This will require implementing form validation on the client side too, since previously this was done on the server side with wicket. I will add this.

[2015-07-23 15:42] kathy-phet commented on #251
I have been thinking about this feature. We are likely to evolve places we put "asks" and when we do them over the course of this year.

Could you add a field in the database for the user that keeps track of any asks that they encounter? So it just is a mini-array associated with their entry that has "date-time" and "ask-type". And then give each of these asks a type name ... e.g. "NewRegistration

[2015-07-23 16:24] aaronsamuel137 commented on #167
Discussed at 7/23/15 status meeting. We eventually want to make all emails case insensitive, and right not there are ~3000 users whose emails are not all lowercase already.

The best solution seems to be to update users' emails when they log in. That way, we will have their password in plain text. We will either need to try both versions of the email or add another column to the the database. I'm

[2015-07-23 16:48] zepumph commented on #214
As discussed in the 7/23 status meeting. Regarding the redesign of the register panel, there should be a note that all fields are required, or perhaps a * next to every field.

[2015-07-23 16:49] amanda-phet commented on #214
@zepumph I think this is the wrong issue.

[2015-07-23 17:51] aaronsamuel137 commented on #224
During status meeting on 7/23/15, @kathy-phet recommended we create 2 views for this page, the first one by sim (like it currently is), and another "by-locale" view.

[2015-07-23 17:54] aaronsamuel137 commented on #251
I will look into a JSON column of "asks" in the database, with a structure like so:

[code]

[2015-07-23 18:22] zepumph commented on #73
As discussed in status 7/23 status: We should not create a webpage for these credits just yet, but should set ourselves up, with the S2015R to make these a possibility in the future. So there will be another link in the about dialog that reads "Third-party Credits" that will link to phet.colorado.edu/third-party-credits that redirects to the md found on github: https://github.com/phetsims/sherpa/b

[2015-07-23 20:25] ariel-phet opened #253 "Augment "Research" page with a "by outside researchers" category"
@emily-phet would appreciate the following-

@zepumph on our research page http://phet.colorado.edu/en/research in the section "Publications and Presentations" lets add a subsection called "Work on PhET by outside Researchers"

Under that section will be a list of papers from researchers outside of the PhET organization.

I will forward you a set of emails from @emily-phet that include the relevan

[2015-07-23 22:13] kathy-phet commented on #251
Aaron, Just a comment about how I think about this column. I am thinking about it as a sorted column by datetime, so there could be multiple entries for askType: "ProfileUpdated", but each would have a unique datetime. And I think about potentially checking users last "datetime" before presenting a ask.

So I wonder if "datetime" should come first in the JSON format?

I don't know much about struc

[2015-07-23 23:09] zepumph opened #254 "Internal Sever error related to giving an invalid url with query parameters."
As found during the 7/23 developers meeting, here is part of the stack trace when going to: http://phet.colorado.edu/translation-credits?simName=example-sim&locale=en

23 Jul 2015 17:06:21,249 ERROR              RequestCycle - Can't instantiate page using constructor public edu.colorado.phet.websi
te.content.NotFoundPage(org.apache.wicket.PageParameters) and argument simName = "[example-sim]" loca

[2015-07-23 23:52] zepumph commented on #253
A few questions.
1) I just want to get all of the data recognized so I don't miss anything. There is the spread sheet, with 32 or something entries, the email, with 18 entries, some may be overlaps, and then on the email I got, there were two other attachments, one was the Rohmah abstract, would you like that document put up on the website in the "publications" folder? Then I got a strange file ca

[2015-07-24 02:17] ariel-phet commented on #253
ignore ATTblahblah.html

Links would be best if available, if no link is available leave plain text and we will get a student worker to track down links in the future.

[2015-07-24 02:21] aaronsamuel137 commented on #254
Thanks @zepumph. I believe I have fixed this problem when addressing https://github.com/phetsims/joist/issues/163

[2015-07-24 13:11] samreid opened #255 "Redirect for third-party-credits may need to be redeployed"
Yesterday's meeting notes say:

* KP: The URL text should read “Third-party Credits”
  * KP: Were making a new link: http://phet.colorado.edu/third-party-credits
    * AD: redirect added to website

However, when I navigate to http://phet.colorado.edu/third-party-credits I see **The requested page could not be found.** and when I navigate to http://phet.colorado.edu/third-party-credits?simName=aci

[2015-07-24 14:47] aaronsamuel137 commented on #255
This hasn't been deployed yet, but the changes have been made to the website code and tested locally.
See commit 958e465d53666a17aa24107c12ed21971549b5bb (also referenced in https://github.com/phetsims/joist/issues/163)

[2015-07-24 20:10] aaronsamuel137 commented on #251
I've added an "asks" column to the database. Using Postgres's JSON datatype seemed too complicated, so I used a TEXT datatype that holds a JSON string and do the conversion manually.

Users will have something like this after registering and seeing this donation dialog:

[code]

[2015-07-24 20:13] aaronsamuel137 commented on #251
This is up on phet-dev now. @amanda-phet or @kathy-phet, feel free to review if you want. You may need to force refresh the register page to see the most recent updates. I am planning on deploying this too figaro tonight.

If you want an easy way to see the dialog without filling out the form, you can open the browser console and paste this code in (when on the register page). The correct version

[2015-07-24 20:53] kdessau-PhET commented on #251
This looks great. I hope that we get a lot of donations!

On Jul 24, 2015, at 2:13 PM, Aaron Davis <notifications@github.com<mailto:notifications@github.com>> wrote:

This is up on phet-dev now. @amanda-phet<https://github.com/amanda-phet> or @kathy-phet<https://github.com/kathy-phet>, feel free to review if you want. You may need to force refresh the register page to see the most recent updates.

[2015-07-24 20:59] amanda-phet commented on #251
This looks great!

I practiced registering and when I clicked "maybe later" or outside of the dialog, I was still on the registration page. I had to click Register a second time to get the typical "an email was sent to..." page. You can sort of see it in the screenshot below.. the dialog is in front of checkboxes.

Also, in my email to you I fixed a typo but it looks like you used the text from Ka

[2015-07-24 21:00] amanda-phet commented on #251
Also, can you make the font size for the "Thanks for registering" text the same as the "Sign In" text on the sign in dialog? I think it would be nice if they were the same size.

[2015-07-24 21:54] kathy-phet commented on #251
When I tried this out, I got 2 images in my dialog box?

![image](https://cloud.githubusercontent.com/assets/5096804/8885395/3c6f0b50-321c-11e5-8212-eb7d92f1b3cf.png)

[2015-07-24 21:57] amanda-phet commented on #251
You should do a hard browser refresh, then try again. I got that at first, too.

[2015-07-24 22:04] kathy-phet commented on #251
OK - got it working now. Thanks.

Still need to fix the last word should be "conversions" not "conversations".

Otherwise looking good!

[2015-07-24 22:40] kathy-phet opened #256 "New "Team" Page for PhET"
I'd like to work on improving the team page on PhET website to be more modern and polished.

I like the titles "Our Team" or "The Team", as opposed to staff.

Some models to check out are here:
https://openstaxcollege.org/about (scroll down to team section)
http://concord.org/about/staff
https://www.khanacademy.org/about/the-team
https://www.desmos.com/team
http://strategyplusdesign.com/
http://ww

[2015-07-25 01:44] aaronsamuel137 commented on #251
This has been deployed! I believe all issues were addressed. Now, when the user exits the dialog in any way, the form will automatically be submitted.

[2015-07-25 01:47] aaronsamuel137 commented on #255
Deployed and tested. Closing.

[2015-07-25 01:47] #255 closed

[2015-07-25 05:44] kathy-phet commented on #251
I checked out the deployed version, and it looks like great!

However, the "ask" isn't appearing in the "Profile Update" mode. It should appear whether its for an profile update or a new registration. It was working that way earlier, so I'm not sure what changed.

I'll re-open.

@zepumph can you take a look and see if you can get this working when "Update" is pressed on the edit profile page since

[2015-07-25 06:51] kathy-phet opened #257 "Website translations broken!"
It looks like the website translations are completely broken right now. I click on any of the language links at the bottom of the website page, and it remains as English at all times. This is also true on phet-dev.

This is a high priority to fix.
@zepumph @ariel-phet @jonathanolson @aaronsamuel137 - thoughts?

I'm assigning to Michael since Aaron just left for vacation, but if anyone else is arou

[2015-07-25 13:27] aaronsamuel137 commented on #257
I have a little time to work on this this morning before I leave. I have an idea of what change might have caused this.

[2015-07-25 13:35] aaronsamuel137 commented on #251
Sorry, that was a misunderstanding on my part. I thought it was only supposed to appear on the register page. I can add it back to the edit profile page too.

[2015-07-25 14:06] aaronsamuel137 commented on #257
Translations are working again! Closing.

Feel free to reopen if something still looks off to you @kathy-phet.

[2015-07-25 14:06] #257 closed

[2015-07-25 14:09] kathy-phet commented on #257
Awesome! Thanks for the quick fix!!

[2015-07-25 14:11] kathy-phet commented on #257
Aaron, Do you know why when I click on the translation, I get a seemingly random query parameter in my URL?
http://phet.colorado.edu/nb/?sim=BatteryResistor_Circuit
(and this just keeps shifting to wierd names after the ?)

[2015-07-25 14:13] aaronsamuel137 commented on #251
This now appears on the edit profile page too.

[2015-07-25 14:14] aaronsamuel137 commented on #257
I have no idea... I'll create an issue for that. I probably won't have to look into it until after I get back though.

[2015-07-25 14:16] aaronsamuel137 opened #258 "translation links give seemingly random query parameter in my URL"
Example: clicking on the "nb" link might go to: ```http://phet.colorado.edu/nb/?sim=BatteryResistor_Circuit```

Feel free to take a look at this if you want @zepumph. I won't be able to until I get back.

[2015-07-25 14:16] aaronsamuel137 commented on #257
Tracked here: https://github.com/phetsims/website/issues/258

[2015-07-25 14:20] kathy-phet commented on #251
Thanks, Aaron!

Does this log to the users' "ask history" column with a "NewRegistration" tag or a "ProfileUpdate" tag?

It would be great if it could be labeled "ProfileUpdate" in the ask history. But no rush, this can wait until you get back. Just logging to make a note of it.

[2015-07-25 14:23] kathy-phet commented on #258
A bit more information. The random added text is only there when I am *not* logged in. If I am logged in, it seems to work correctly.

[2015-07-25 14:27] kathy-phet commented on #258
I am now thinking that this was possibly fixed when Aaron fixed #257 . I had seen it when the website translations were broken. It seems to be improving now, and I am wondering if was a varnish history thing that is slowly fixing itself as some hits go back to tomcat and retreive the correct link info or something.

I will check again in a bit. and close if it seems fully fixed.

[2015-07-25 14:33] kathy-phet commented on #258
Nevermind - still broken.

It looks like if you are at https:// you get the right behavior, if you are at http:// you get the random query parameters.

http://phet.colorado.edu/in/?levels=all&types=all&sims=98
But should just be http://phet.colorado.edu/in

These look to be related to some sort of search that I did not perform.

[2015-07-25 14:58] kathy-phet commented on #258
But on the plus side, the translations all still work, and once you get past the home page all seems well -- no query parameters.

I think I had seen these random query parameters on all sorts of pages before Aaron's #257 fix -- so there may be some relation. Not completely sure here.

[2015-07-25 20:10] aaronsamuel137 commented on #251
It doesn't yet use a ProfileUpdate tag. I will add this when I get back.

[2015-07-25 20:12] aaronsamuel137 commented on #258
I think this problem existed before #257 and is probably unrelated. I'll look at it when I get back.

[2015-07-27 14:16] zepumph commented on #250
Changes are  up at https://phet.colorado.edu/en/troubleshooting/mac, closing.

[2015-07-27 14:16] #250 closed

[2015-07-27 14:29] zepumph commented on #214
@amanda-phet This was the one I was thinking of because there is talk of a redesign for the register page, I can put it in a new issue also though.

[2015-07-27 21:03] zepumph commented on #253
@ariel-phet  Take a look at it on phetDev and see what you think. https://phet-dev.colorado.edu/en/research
There was a lot of missing data that you may want to go out and search for on the internet. I found links for many of the ones missing them, but not all. It is a comprehensive list of pretty much all the information given to me. Tell me if it's too much, or anything should be changed. Thanks

[2015-07-28 02:52] emily-phet commented on #253
Here's a couple of thoughts - probably for an undergraduate student to work through:
- We'll need to make sure there's a link to this new category of papers at the top
- We'll need to make sure we're linking directly to the publisher's site for papers we can find links to - we don't want to be linking to 3rd party sites.
- If we're not going to categorize the papers by topic, it would probably be

[2015-07-28 04:26] ariel-phet commented on #253
@zepumph - as @emily-phet said, right under the heading where it says " Publications and Presentations" there should be a link that says **Work on PhET by outside Researchers**

@emily-phet - do you want to make a task for @elisemorgan to perhaps organize this list and follow through on the pieces you outline above?

[2015-07-28 13:56] ariel-phet commented on #256
@amanda-phet - we should discuss this project at website meeting at some point soon.

[2015-07-28 15:17] zepumph commented on #253
I just pushed to master a few changes:
     There is now a link at the top of the page
      I organized the list by date (the best I can because there are some that had no dates)
     I added a parenthetical at the end of the foreign translations saying the language.

See what you think, it will be on phet-dev within the hour.

[2015-07-28 15:18] zepumph commented on #253
By that I mean it's on phet-dev now.

[2015-07-28 17:25] jonathanolson opened #259 "Safari requires additional CORS header for CheckHTMLUpdates"
Fails with:
[code]

http://stackoverflow.com/questions/12409600/error-request-header-field-content-type-is-not-allowed-by-access-control-allow suggests sending the header:
[code]

The update feature will not work on Safari for HTML sims without this change.

@ariel-phet, who should take care of website changes like this right now? Me?

[2015-07-28 17:33] jonathanolson commented on #259
Assigning to myself for the change, will wait on others to deploy (verified master is OK to commit to).

[2015-07-28 18:18] ariel-phet commented on #214
@amanda-phet - this point still seems to warrant some discussion. Perhaps at an upcoming website meeting?

[2015-07-28 18:41] amanda-phet commented on #214
Is there much to discuss? I thought we had decided that it is a better practice to not put the label inside of the entry box, and we are going to change that on the registration page. @aaronsamuel137 said above that he does not need a new design:

I think @zepumph can move forward with this on the registration page. If you want to discuss the sign-in dialog, though, that is fine with me.

I commen

[2015-07-28 19:00] ariel-phet commented on #214
@amanda-phet I meant the sign in dialog (since it still has odd behavior on IE)

[2015-07-28 19:08] amanda-phet commented on #175
Since this has been deployed and there are no complaints, I'm closing this issue.

[2015-07-28 19:08] #175 closed

[2015-07-28 21:30] jonathanolson commented on #259
Safari 7.1 happens to have cached previous CORS preflight requests, and is not sending new preflight requests (even after clearing every cache I can clear), making this very hard to test.

I'll try doing this with a newer Safari version to see if it still has these issues.

[2015-07-29 14:05] zepumph commented on #214
There is a version of the label register panel on phet-dev right now, @amanda-phet whatcha think?

[2015-07-29 15:00] amanda-phet commented on #214
Looks good to me! Do you think we should keep the text inside the boxes, too? It is redundant, but I don't know if it's distracting or helpful.

[2015-07-29 15:05] zepumph commented on #214
Yeah, i'm not totally sure either. It just seems like it takes away from the page a little bit. What we can do is put a few hints in, like on the activity submission page, I'm not sure anything really warrants it, just a thought though. Dumb example :
First Name
(in the text box) --> The name your mother gave you

I also just noticed I'm saying username instead of email, so I'll fix that as well.

[2015-07-29 19:07] emily-phet commented on #253
Hi folks, I'll be traveling until the 10th starting tomorrow, so I won't be able to do anything with this until after I return.

[2015-07-29 21:18] amanda-phet commented on #256
Discussion at 7/29 meeting:
* We think it is important that the pictures have some consistency. Either all shot at the same time, or a standard for resolution, framing, lighting, etc.
* Large name, bullets for title, education
* optional blurb for longer bio that can be expanded
* organized with Carl and Kathy at the top, then the team members, collaborators?, undergrads w/o bios, affiliates?

Que

[2015-07-30 16:51] amanda-phet commented on #214
@zepumph Can you go ahead and make the same changes to the sign in dialog?

[2015-07-30 17:24] jonathanolson commented on #259
Fails also on Safari 8.0.3, screenshot from @samreid:

![aicafcbj](https://cloud.githubusercontent.com/assets/480878/8990127/975b1cbc-36ad-11e5-86b5-16c9c643385a.png)

[2015-07-30 18:11] jonathanolson commented on #259
Tested the phet-dev changes to headers on a new computer, and it works on Safari 8. I believe this will be fixed by a production deploy.

[2015-07-30 18:11] #259 closed

[2015-07-30 22:35] zepumph commented on #214
The labels are added on the sign in pop up as well. On phet-dev, what do you think @amanda-phet.

[2015-07-30 22:37] zepumph commented on #214
There are two different places this change is implemented, so you know. One is the top right on the home screen, and the other is whenever you have to login to access somewhere on the site, like myActivities. You can look at both. They look the same to me, but gosh knows I'm not an authority in that regard.

[2015-07-31 15:23] kathy-phet commented on #256
Just a quick update - more next week. There is a grant proposal due Sept 4 that will be reviewed quickly, and this team page would be quite valuable to have up for it.

[2015-07-31 16:08] ariel-phet commented on #256
@amanda-phet - it seems given that sort of time constraint, we should probably up the priority of this project.

[2015-07-31 16:09] amanda-phet commented on #214
There are a few other places (which clicking on an activity document or translate the website, for example) and they all look good to me.

[2015-07-31 16:10] amanda-phet commented on #256
@ariel-phet Of course. It would be good to get some answers to our questions, but we can start working on a mockup.

[2015-07-31 22:17] oliver-phet commented on #96
This has been completed for a while. Closing.

[2015-07-31 22:17] #96 closed

[2015-08-03 22:56] zepumph commented on #214
Closing issue unless anyone has anything else to report. It will be up on production the next deploy.

[2015-08-04 19:50] aaronsamuel137 commented on #214
Two more issues I notice here:

1. Labels on sign in popup are not bold like everywhere else
2. Edit profile page still shows labels for email and password even though the form inputs don't show up:

<img width="502" alt="screen shot 2015-08-04 at 1 50 07 pm" src="https://cloud.githubusercontent.com/assets/3193912/9070979/c16d867e-3aaf-11e5-9bf3-63c777d49764.png">

If you don't have time to fix th

[2015-08-04 19:55] aaronsamuel137 commented on #251
Ok I've added the ProfileUpdate tag. @kathy-phet, do you want to show this on every profile update, or not ask again once they've seen it once?

[2015-08-04 22:22] zepumph commented on #224
This was a big project, so I'm assigning to @aaronsamuel137 for a bit of a code review.

[2015-08-04 22:42] zepumph commented on #224
If you want to see the work in progress and say any feedback @amanda-phet go for it, it's on phet-dev.

[2015-08-04 22:55] amanda-phet commented on #224
Looks really nice! I like the options to sort by sim or locale.

The only funny thing is that the tables vary in width- I imagine the table widths are based on the contents and creates some variation. It's not a huge deal, but if you think they could all be the same width then it might be worth playing around with it. If I'm the only one who finds it funny then don't worry about it!

[2015-08-05 16:24] aaronsamuel137 opened #260 "Some users get Internal Server Error when editing profile"
I've gotten a few emails from @oliver-phet about this. I have found the log errors, but they don't give a very clear idea of where the problem is coming from.

[code]

[2015-08-05 16:25] aaronsamuel137 commented on #260
It looks like the "name" field in the database might be null for these users. I'll see if addressing this fixes the issue.

[2015-08-05 17:14] aaronsamuel137 commented on #224
Code review comments
1. TODO in on line 89: ```// TODO Eventually needs to be if the 'By Sim' button is pressed (also will probably be default)```. Has this been taken care of or not? I'm not totally clear on what is meant here.
2. Another TODO: ```// TODO make this an some sort of ajax update when the 'By Locale' button is pressed.```. I think you decided not to use the ajax approach, correct?
3.

[2015-08-05 17:19] amanda-phet commented on #224
I think that's a good idea, @aaronsamuel137 . So there is text that reads "by locale" and if you click it, the text changes to "by simulation"? That feels really normal to me!

[2015-08-05 17:49] zepumph commented on #224
Sorry both of those TODO's were for me, and I forgot to delete them. @aaronsamuel137 I will change the button as well.

[2015-08-05 18:40] zepumph commented on #214
Any other thoughts @aaronsamuel137?

[2015-08-05 18:41] zepumph commented on #224
This commit as well. 185aaf252f5262e738c004f457dd0bfcdada8204 changed 'bylocale' to 'By language'

[2015-08-05 19:08] aaronsamuel137 commented on #214
I just made one more commit for this, looking good now, thanks!

I am planning on doing a deploy tonight, any concerns with this?

[2015-08-05 19:47] schasteen opened #261 "Activities are not searchable by discipline"
I have had trouble locating activities lately since you can only filter by a particular sim, not by discipline.  Since all Activities have "discipline" metadata, it seems that it would be helpful to be able to choose "discipline" as one of the filters in Browse Activities.  Amanda suggested that I log this here as a question to look into, whether we might want to have an undergraduate take on such

[2015-08-05 21:50] aaronsamuel137 commented on #224
Looks good to me. The last commit doesn't actually seem to do anything, just deletes some empty space as far as I can tell.

[2015-08-05 22:18] amanda-phet commented on #256
Question for @aaronsamuel137: Is it possible to create an interface for someone to edit information about their profile, either on their PhET edit profile page or for one team member to access and edit everyone's? Will discuss at Status 8/6.

[2015-08-05 22:29] zepumph commented on #224
Hmm you're right, I didn't pull your commits before adding some stuff, so there were some merge conflicts that I resolved weirdly I guess. But that feature is changed, and I think that this is good to be deployed.

[2015-08-05 22:41] aaronsamuel137 commented on #256
I'm not sure I understand your question, but it is already possible to edit another users profile via the admin interface under users.

It wouldn't be possible to edit everybody's in one go, but I could probably write a SQL query to do that directly in the database.

We can discuss more tomorrow.

[2015-08-06 00:39] aaronsamuel137 commented on #224
For some reason, logs on figaro are getting spammed with errors now:

[code]

Must be that we didn't test the case where these is no translator data in the database. Not a big deal, the translation-credits page just shows up as blank instead of having the coming soon message. But we should fix this soon if we can, if nothing else so the logs don't get spammed.

[2015-08-06 15:05] zepumph commented on #224
Yeah I'm sorry I forgot to add the new button as an invisible component in the edge case. Master is now good.

[2015-08-06 15:29] aaronsamuel137 commented on #261
I am assuming by discipline you mean what is labeled as "subject" on the activity page. If this is the case, then it is certainly possible to add another filter to the browse activities page for subject.

Would you want another column for subject in the browse activities table too? This way you could sort by subject as well. The downside of this is that it adds another column to a table that is al