[2015-08-06 16:43] schasteen commented on #261
Yes, by "subject".
By the "browse activities table," I assume you mean the results table (has a purple header row) after you do your filter?  I don't think it's necessary here, if it's one of the filter possibilities, then it would provide the functionality that I was needing.  Eventually, if the page is redesigned, it could be nice to have the results table be sortable by subject, but that's less

[2015-08-06 16:48] aaronsamuel137 commented on #261
Sounds good. Assigning to @ariel-phet to decide if we should do this and what the priority is.

[2015-08-06 16:50] aaronsamuel137 commented on #251
Discussed in 8/6/15 status meeting. We want to not ask again for an update profile if they have already been asked in the last 3 months. Also, update the header to say "Thanks for Updating" instead of "Thanks for Registering".

[2015-08-06 16:52] aaronsamuel137 commented on #224
Thanks @zepumph!

The last remaining task here is to add a column for the translators website link. Assigning to myself since @zepumph is leaving today.

[2015-08-06 16:58] ariel-phet commented on #261
@amanda-phet and I have agreed in the past that we want to redo the way activities are interacted with on the site, but this is a very large project and not a current priority. We will eventually tackle it, but no current priority. Unassigning

[2015-08-06 16:58] ariel-phet commented on #261
Assigning to @amanda-phet to add any comments to mine above.

[2015-08-06 17:09] aaronsamuel137 opened #262 "RTL languages render oddly in LTR pages"
<img width="636" alt="screen shot 2015-08-06 at 11 08 42 am" src="https://cloud.githubusercontent.com/assets/3193912/9118091/889b5bd2-3c2b-11e5-82df-ca8b1b7c0d72.png">

We can probably fix this by adding dir="rtl" on these fields.

[2015-08-06 19:42] aaronsamuel137 commented on #252
Discussed on 8/6/15. We will add the ability to delete an account with the following behavior:

- If there are no associated activities just delete it from the database.
- If there are associated activities, just disable the account by adding a "disabled" boolean column, and make sure user gets no more emails.

Assigning to myself. @ariel-phet, please comment on the priority of this.

[2015-08-06 19:46] aaronsamuel137 commented on #256
Discussed at dev meeting on 8/6. I will make it so team members can add their own info through the edit profile page.

[2015-08-06 20:14] amanda-phet commented on #261
@ariel-phet is correct that we are not making any updates to the Teaching Resources part of the website. However, this seems like a minor request to add a "subject" filter when browsing activities. I do not think we should add it to the table of activities on sim pages, though, because as you said @aaronsamuel137 it is already tight on space.

[2015-08-07 15:42] aaronsamuel137 commented on #262
Fixed for translation table on the sim page. There might be other places this fix needs to be applied as well.

[2015-08-10 20:22] jbphet commented on #247
The new links appear to work, thanks @aaronsamuel137.  Closing.

[2015-08-10 20:22] #247 closed

[2015-08-10 22:29] aaronsamuel137 commented on #224
I've added the column for "about" and a new section in edit profile for trusted translators to add a link if they want. See https://phet-dev.colorado.edu/en/for-translators/translation-credits/by-locale and go to the Thai section to see an example of how it might look.

Anything more that needs to be done here? Assigning to @ariel-phet for review. You might want to make yourself a trusted translat

[2015-08-10 22:32] amanda-phet commented on #224
What would we do if the URL is long? Can we use some general text and make it a link? I think "Info" was thrown around.

[2015-08-10 22:33] aaronsamuel137 commented on #224
That's easy to do. So it would be empty of there was no link, and the text would be "Info" for every link?

[2015-08-10 22:35] amanda-phet commented on #224
Correct. Unless there is another idea? I'm just throwing it out there because not all URLs are the perfect length. They can also have a "..." at the end where they get cut off.

[2015-08-11 15:24] aaronsamuel137 commented on #224
"Info" sounds good to me. Currently the urls just get cut off like so:

<img width="536" alt="screen shot 2015-08-11 at 9 23 35 am" src="https://cloud.githubusercontent.com/assets/3193912/9201500/afcffe3c-400a-11e5-980a-aa88b151df1f.png">

Thoughts on this @ariel-phet?

[2015-08-11 22:16] aaronsamuel137 commented on #224
Updated on phet dev. Anything else to do here, or can I close?

[2015-08-11 23:45] ariel-phet commented on #224
I would be in favor of displaying a link up to a certain length and then having a "..." at the end. My issue with "info" is that different people are going to put different things in this spot (personal website, institution website, etc).

Would a defined displayed link length work @aaronsamuel137?

[2015-08-12 15:56] aaronsamuel137 commented on #224
I've added the truncated link text and "..."

[2015-08-12 15:56] aaronsamuel137 commented on #224
Let me know if it looks good to you @amanda-phet or @ariel-phet

[2015-08-12 16:10] ariel-phet commented on #224
Yes, the truncated looks good, but it seems like the "simulation" column width is not fixed. In some places it is going on two lines, and some places it is not. Seems we want a fixed width on that column so the other columns don't get shrunk too much.

![capture](https://cloud.githubusercontent.com/assets/4051174/9229439/54666a56-40da-11e5-988d-35b8d2139fb5.PNG)

[2015-08-12 16:18] aaronsamuel137 commented on #224
That's correct. Column aren't a fixed width in HTML tables. There is a built an algorithm that adjusts the widths to accommodate all of the columns according to their content. We could override this behavior if you think it is necessary, but I'm not sure it is worth it as it is likely to introduce other complications.

[2015-08-13 05:12] ariel-phet commented on #224
ah... @aaronsamuel137 that makes sense. So if we have the truncated web address it will always fit.

In that case, looking good to me. Feel free to close this issue unless there is anything left to do.

[2015-08-13 05:14] ariel-phet commented on #204
Agreed, can be closed.

[2015-08-13 05:14] #204 closed

[2015-08-13 14:32] #224 closed

[2015-08-13 16:48] aaronsamuel137 commented on #256
Noted in 8/13 status meeting: we want an admin interface for adding collaborators. Depending on how this interface goes, it may be easier to use this interface for all team members too, instead of modifying the team member profiles to have new fields.

[2015-08-13 17:15] aaronsamuel137 commented on #220
Haven't seen any issues since shrinking the panel cache. Closing this for now. We can reopen if anything else needs attention.

[2015-08-13 17:15] #220 closed

[2015-08-13 17:15] aaronsamuel137 commented on #262
Will be fixed on next deploy. Closing

[2015-08-13 17:15] #262 closed

[2015-08-13 18:54] aaronsamuel137 opened #263 "Add resend confirmation button on login"
Many users report not getting confirmation emails. When an unconfirmed user tries to log in, we should notify them that they need to confirm and give them a button to resend confirmation email button.

[2015-08-13 19:24] amanda-phet opened #264 "Remove breadcrumbs from some pages"
After a discussion on 8/12, we are noticing that many sites don't use breadcrumbs anymore. On our site, they are redundant of the navigation highlights on the left-hand side. As an incremental improvement to the site, we would like to remove them.

We are thinking of just starting with removing them from all pages under "About". A concern about removing them all at once is that there may be some p

[2015-08-14 05:09] kathy-phet commented on #263
Just curious what "many users" means? Are these coming to phethelp?

[2015-08-14 15:13] aaronsamuel137 commented on #263
Yes these are emails to phet-help. I actually don't know what the numbers are, you'll have to ask @oliver-phet - he is the one who reported this to me.

[2015-08-14 15:28] oliver-phet commented on #263
Probably 5-10 users over the past 2 weeks. It would just make it easier for both us and the users if they could log in and easily resend the confirmation email.

[2015-08-14 17:15] aaronsamuel137 commented on #264
It's much easier to remove them all at once. I don't see much use for them personally, I always use the side navigation, but I am not sure about our users.

Is there a way to see how often those links are clicked with our analytics (maybe @ariel-phet would know this). If they are not used much, I would recommend getting rid of all of them in one go.

[2015-08-14 17:51] ariel-phet commented on #264
@aaronsamuel137 and @amanda-phet - a couple of places have been pointed out where these "might" be useful (such as on the teacher resources page). But I think I would be OK with removing them all. The small possible benefit does not seem to outweigh the clutter anywhere.

@amanda-phet can make the call, if she is comfortable with just removing them everywhere, I will be fine with that decision. Un

[2015-08-14 18:58] jbphet opened #265 "possible issue with an activity's file name"
There is an issue with the installer builder where the version that includes activities is not building reliably.  After some extensive investigation (see https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/3697), it seems like there may be a single activity file with a name that includes Latin and Greek characters, as well as spaces, that is causing issues for the InstallBuilder utility.

[2015-08-17 20:46] jbphet commented on #265
@aaronsamuel137 renamed the file, and I set up the auto-builder to run on Sat morn, Aug 15 2015.  From an analysis of the logs, it appears to have succeeded.

[2015-08-18 14:42] amanda-phet commented on #264
I think it might be useful to comb the site for pages that will need a title if the breadcrumbs are removed. Can I make an undergrad task for this?

The Teaching Resources pages do not have useful breadcrumbs and for them to be useful would require a reorganization of those pages. Since we've decided not to touch that part of the site yet, and the breadcrumbs are not currently useful, I don't see

[2015-08-19 19:43] amanda-phet commented on #264
After discussing this with @oliver-phet I realized that the breadcrumbs are actually serving as page titles for 2nd-level pages. For example, a top-level page like For Translators has a title (which is a link...):
![screen shot 2015-08-19 at 1 39 03 pm](https://cloud.githubusercontent.com/assets/7852916/9366984/ceb4724c-4677-11e5-9e25-bd2e7bad7480.png)

The 2nd-level page adds on to that title/lin

[2015-08-20 18:26] amanda-phet opened #266 "Remove "home" from left-hand navigation"
Discussed in 8/19 meeting. @oliver-phet pointed out that there is a Home link in the left-hand navigation. This is extremely outdated and unnecessary. Everyone knows to click on the logo in the banner!

<img width="133" alt="screen shot 2015-08-20 at 12 26 30 pm" src="https://cloud.githubusercontent.com/assets/7852916/9391874/b5fc571e-4736-11e5-83ac-5413f38509f6.png">

[2015-08-21 22:20] amanda-phet commented on #80
We have the licensing page text! I am sending you an email now.

[2015-08-21 22:30] amanda-phet commented on #251
Can this be closed?

[2015-08-24 14:16] aaronsamuel137 commented on #251
I haven't finished the last touches on this, but it has been delayed due to higher priority issues.

[2015-08-24 16:55] amanda-phet opened #267 "Remove "principal sponsors" from left-hand side of every page"
The Principal Sponsors section on the left-hand side of every page is outdated.
<img width="228" alt="screen shot 2015-08-24 at 10 48 28 am" src="https://cloud.githubusercontent.com/assets/7852916/9446230/ac3624f2-4a4d-11e5-8246-0d17a09cb335.png">

Instead, we would like the 4 main sponsors that are listed on the homepage to be listed at the *bottom* of every page. To make things simple, we would

[2015-08-24 17:02] ariel-phet commented on #267
@aaronsamuel137 - if this is an easy change to make it would really clean up lots of the pages and would be nice to wrap up in the Team Page work. Thoughts? Basically remove the side bar principal sponsors completely, and show the basic home page footer gets shown on every page.

[2015-08-24 23:29] aaronsamuel137 commented on #267
My understanding is that the team page is first priority, and then the licensing stuff. If I get all of that done with time to spare, I'll do this. Not sure if it'll get done before the Kathy's conference or not. What was the exact date for that again?

[2015-08-25 15:54] oliver-phet opened #268 "Update text on Full Install page"
We would like to update the text on the full install page once @jbphet has created separate OS versions of the installer with activities: http://phet.colorado.edu/en/get-phet/full-install

Text mockup here: https://docs.google.com/document/d/1314Ew34EmuVD6vYpNOoWs9Q1r8BtRGtv85NmckdHvMc/edit

[2015-08-25 22:51] jbphet commented on #268
The installer-builder can now create the separate files.  Assigning to @aaronsamuel137 for the next steps.

[2015-08-26 19:30] aaronsamuel137 commented on #267
Deployed to phet-dev. It would be great to have someone take a quick glance through all of the pages, since this touches a lot of code.

Social media has been moved to the bottom, and only remains on the side in the sim pages.

Assigning to @amanda-phet for review.

[2015-08-26 19:32] aaronsamuel137 commented on #80
New licensing page is up on phet-dev. Assigning to @amanda-phet for review.

The main final question I have is around the activities licensing. It is a different form than the others. Do we want a different header here?

Assigning to @amanda-phet for review.

[2015-08-26 19:44] aaronsamuel137 commented on #256
New team page is ready to review. You'll need to upload the new photos to make them look right because I have changed the aspect ration to 10x8. Also probably a good idea to add some more team members to see how it looks with more people.

Assigning to @amanda-phet for review.

[2015-08-26 20:44] amanda-phet commented on #267
I think it looks really good. Not sure what I need to look for in terms of touching a lot of code- should we have an undergrad test for bugs?

The only weirdness was on a few short pages it came really close to the navigation. Perhaps there should be a slightly larger buffer above the line.

![screen shot 2015-08-26 at 2 41 18 pm](https://cloud.githubusercontent.com/assets/7852916/9505652/dfe6b5c8

[2015-08-26 20:46] amanda-phet commented on #80
I think the format for the Activity licensing looks fine. It is a short license. I don't think we need the header, though- when the breadcrumbs eventually get removed, the page will have the title "Activity Licensing" so it would be redundant.

[2015-08-26 21:00] amanda-phet commented on #256
It looks really great. Just a few tweaks!

- [ ] Can we make the team and undergrad photos a little larger?
- [ ] Kathy's MORE is really large. Can you make it the same font size as her bio, just like we did with the team members?
- [ ] Consultant and Collaborators should not have bold titles/roles. Just plain text is good. Mockup below.
- [ ] We need to add one more section at the bottom for Univ

[2015-08-26 21:35] aaronsamuel137 commented on #267
I'll extend the margin above the footer.

I was imagining just having an undergrad go through all of the pages and make sure the layout doesn't look weird anywhere, and make sure the social icons are on the right pages, and make sure the right to left views still look right everywhere. I'll make a task for this.

[2015-08-27 20:10] aaronsamuel137 commented on #256
New adjustments are deployed to phet-dev. Assigning to @amanda-phet for review.

[2015-08-28 14:45] aaronsamuel137 commented on #267
I ended up testing this myself since I know what to look for and it seemed easier than making a task. I think it's all good to go. It will be deployed with the new team page. Closing

[2015-08-28 14:45] #267 closed

[2015-08-28 15:02] amanda-phet commented on #256
I'm really happy with it. Everything looks good to me!

[2015-08-28 15:14] aaronsamuel137 commented on #256
Great! I guess the last step is to coordinate a time to deploy when @phet-steele or whoever will be uploading all the info is available shortly after.

[2015-08-28 15:39] ariel-phet commented on #256
Looking good!

[2015-08-28 15:59] ariel-phet commented on #73
This feature is working in the newly deployed Molecule Shapes.

@samreid - remind me is that third party github markdown page automatically generated and kept up to date? If so please feel free to close this issue.

[2015-08-28 16:49] samreid commented on #73
The markdown is not automatically generated.  It requires building all of the simulations which can take 30+ minutes.  The markdown currently reports for "‪Molecule Shapes‬ 1.0.1-dev.1" which uses 'three-r71'.  Someone should take the time to regenerate it and make sure anchors are working properly now that it is appearing in a published sim.

[2015-08-28 16:50] samreid commented on #73
@aaronsamuel137 said:

I don't see the anchors passing through now, is that something we are doing now/soon?

[2015-08-28 16:50] samreid commented on #73
not sure whether to reassign to @ariel-phet or @aaronsamuel137.  I'll go with @ariel-phet and he can decide where to go from here.

[2015-08-28 18:05] ariel-phet commented on #73
@aaronsamuel137 I am not sure I understand the comment above about anchors. Can you clarify/comment?

@samreid - perhaps we should add a step to dev steps for pulbishing a simulation to build all sims and generate this markdown everytime a sim is deployed to the website?

[2015-08-29 00:50] samreid commented on #73
I created an issue for me to add a step to the dev steps for publishing.

[2015-08-31 02:04] aaronsamuel137 commented on #73
The url hash is getting passed, but since this hits our server and redirects, it doesn't end up on the github page. If we ever decide to implement this page ourselves, we'll have the url hash to work with.

Does that clarify the issue for you @samreid?

[2015-08-31 02:05] samreid commented on #73
Is there a straightforward way that the hashes can be passed through to the github redirect?  We discussed it but I forgot if that is technically feasible.

[2015-08-31 14:39] aaronsamuel137 commented on #73
Now that I take a closer look, I am remembering that we decided to pass the simName as a query parameter and not a url hash. The reasoning behind this decision was so that in the future if this page did live on our website we could take query parameters for both the sim and locale and redirected appropriately.

If you want something like ```#area-builder``` passed as a url hash to github, it can b

[2015-08-31 15:04] pixelzoom commented on #73
Is this Brand fix something that needs to be picked up for S2015R?

[2015-08-31 15:18] aaronsamuel137 commented on #73
I am not sure if @samreid has plans to use this url hash in the github page or not, or even if that is possible since it would require giving elements ids which may not be possible in markdown. If it isn't possible or necessary to do this in github, then we don't need this fix at all, S2015R or not.

[2015-08-31 15:57] samreid commented on #73
It is indeed possible to create anchors in markdown.  Any reason not to make the change described above in https://github.com/phetsims/website/issues/73#issuecomment-136392790 ?

[2015-08-31 16:05] aaronsamuel137 commented on #73
No reason not to that I can think of. Might as well do it now when we have other common code patches to make. I can go ahead and make this change unless anyone objects.

[2015-08-31 17:11] aaronsamuel137 commented on #73
Made these changes. Assigning to @samreid for review.

[2015-08-31 20:25] aaronsamuel137 opened #269 "social icons should be removed from side of contribution pages"
In #267 I removed social icons from the side of all pages except sim pages, however, I didn't notice that they are still showing up on contribution pages.

[2015-08-31 21:24] amanda-phet commented on #269
good catch! they look really funny on that page.

[2015-08-31 21:45] samreid commented on #73
Do we need to encodeURIComponent here?  It looks like all other occurrences of vars in the Brand.js files use encodeURIComponent.

[2015-08-31 22:43] aaronsamuel137 commented on #73
I guess we could add it for consistency, but it isn't really necessary. Probably overkill to have it in the other places too since we're not dealing with anything that needs special encodings.

I've seen it used frequently as a good practice for query parameters, but I don't think it matters for the url hash since that is never sent to the server.

[2015-08-31 23:45] aaronsamuel137 commented on #269
I've made a fix for this. It will show up on the next deploy.

[2015-09-01 01:10] samreid commented on #73
The code change looks good and I can't think of any reason we would need to URIencode this string (though @jonathanolson often suggests good reasons to encode!).  I tested clicking through the about dialog and it brought me to https://github.com/phetsims/sherpa/blob/master/third-party-licenses.md#bending-light so this is perfect.  I'll create a chipper issue to add the anchors to the page.  @aaron

[2015-09-01 14:10] aaronsamuel137 commented on #73
I think it's good to go. Closing.

[2015-09-01 14:10] #73 closed

[2015-09-01 15:51] aaronsamuel137 commented on #251
Finished the last touches here. Will be updated on next deploy. Closing.

[2015-09-01 15:51] #251 closed

[2015-09-01 16:29] aaronsamuel137 commented on #264
I've made this change and deployed to phet-dev. Assigning to @amanda-phet for review.

[2015-09-01 17:07] amanda-phet commented on #264
Looks great to me. There are a few pages where we may need to customize... like the Translation Credits page.. it had a custom title so it now has two titles. Otherwise I think it looks great.

Should I list the individual pages that need to be slightly modified?

[2015-09-01 17:09] aaronsamuel137 commented on #264
Yes, that would be very useful for me. Thanks!

[2015-09-01 17:25] amanda-phet commented on #264
These pages have custom titles that are duplicates of the new orange title.

Full Install (Remove "-Full Install")
Translation Credits (Remove "Translation Credits")
Activity Licensing (Remove "Activity Licensing Information")
Source Code (Remove "Where can I get the source code for the PhET simulations?")

Also, I think this change radially improves the Teaching Resources pages! The breadcrumbs n

[2015-09-02 15:32] aaronsamuel137 commented on #264
I've made these changes, assigning to @amanda-phet for review. You might want to force refresh on the first page you look at to make sure your browser is using the updated css file.

[2015-09-02 18:47] amanda-phet commented on #264
The only one that looks strange to me is the Activity Licensing page. It is missing the spacing after the title that every other page has. Otherwise, they look great to me!

[2015-09-02 20:13] ariel-phet commented on #256
Project complete, closing

[2015-09-02 20:13] #256 closed

[2015-09-03 05:02] aaronsamuel137 commented on #264
Fixed this last issue and deployed to figaro. Closing

[2015-09-03 05:02] #264 closed

[2015-09-04 04:56] kathy-phet opened #270 "Update cumulative sims delivered to 275 million"
I ran the numbers and with Yotta stats we are now up to 275 million sims delivered from 6/2004-7/2015.

[2015-09-04 18:56] ariel-phet opened #271 "Team page minor tweak"
@aaronsamuel137 Dave Underwood pointed out one minor tweak to the Team page. I asked @amanda-phet and she agreed.

The spacing for the text to the right of Kathy's photo is a little tight. Here is more what it should look like:

![team page](https://cloud.githubusercontent.com/assets/4051174/9692141/48c9191e-5304-11e5-830e-d2cb391568e8.PNG)

Please adjust when time allows (should be a quick fix).

[2015-09-04 19:15] amanda-phet commented on #269
Looks like this can be closed now.

[2015-09-04 19:15] #269 closed

[2015-09-04 19:18] amanda-phet commented on #101
yes Trish/Steele emailed the gold-star authors so I think that is good enough. Closing.

[2015-09-04 19:18] #101 closed

[2015-09-04 20:06] amanda-phet commented on #80
This has been deployed. Closing.

[2015-09-04 20:06] #80 closed

[2015-09-04 20:49] ariel-phet commented on #254
Looks fixed when I try the link above, Closing

[2015-09-04 20:49] #254 closed

[2015-09-05 15:53] aaronsamuel137 commented on #270
I've updated the number in the code, it will show up on the next production deploy. Let me know you want it deployed by a certain date.

[2015-09-08 02:03] aaronsamuel137 commented on #271
I've made this tweak. Assigning to @ariel-phet for review.

[2015-09-08 02:04] aaronsamuel137 commented on #270
Deployed to figaro. Closing

[2015-09-08 02:04] #270 closed

[2015-09-08 15:03] aaronsamuel137 commented on #265
Looks like this has been resolved. Closing

[2015-09-08 15:03] #265 closed

[2015-09-08 15:04] aaronsamuel137 commented on #246
I've talked to @jbphet and it appears that most recent tests of the installer are working. Closing

[2015-09-08 15:04] #246 closed

[2015-09-08 15:08] aaronsamuel137 commented on #241
I've gotten this set up, and figuring out last details over email. Anything else you want to track in this issue @ariel-phet?

[2015-09-08 15:17] aaronsamuel137 commented on #266
I've removed this in the code, it will disappear from the website on the next deploy.

[2015-09-08 15:24] aaronsamuel137 commented on #263
As part of this effort, we've also discussed adding a "Confirm email" box on the register page to help the user not type an invalid email, which apparently we have been getting a lot of.

[2015-09-08 16:54] amanda-phet commented on #271
This is looking good to me.

[2015-09-08 19:58] aaronsamuel137 commented on #263
I've addressed this and created a testing task.

[2015-09-09 03:08] ariel-phet commented on #271
Looks good, closing!

[2015-09-09 03:08] #271 closed

[2015-09-10 16:26] aaronsamuel137 commented on #268
@jbphet, where are these files stored on figaro? I don't see them under phet.colorado.edu/installer. I just see the zip files. Shouldn't there be files for the installer with and without activities now?

[2015-09-10 16:27] aaronsamuel137 commented on #260
I haven't heard about any more errors like this for awhile, so I'm going to close this.

[2015-09-10 16:27] #260 closed

[2015-09-10 16:29] aaronsamuel137 commented on #214
Deployed. Closing

[2015-09-10 16:29] #214 closed

[2015-09-10 16:31] aaronsamuel137 commented on #123
Un-assigning since this is an ongoing issue that shouldn't be on my issue todo list.

[2015-09-10 21:06] aaronsamuel137 commented on #118
I've taken a first stab at this by creating an admin page that looks something like the translation pages that translators see.

[2015-09-10 23:01] patricialoeblein commented on #268
I am glad this page is being revised because I know teachers get confused. Is there a separate issue for editing this page: http://phet.colorado.edu/en/get-phet  since this page is often selected from the homepage? The "Where can I save them.." row needs work based on comments from teachers and  For example, using "them" for "individual sims" is odd, but more importantly the text under the online

[2015-09-11 03:13] aaronsamuel137 commented on #268
I've updated this page.

AND, I've added a new feature to the admin page "Edit Content Page". Just click on this link, and then you will see a list of all of our translatable pages. Now any admin can go in and edit the English text on pages if anything needs adjusting. See #118.

So, if anything else needs adjusting on the Installer page, try to do it here first before assigning to me. Some things

[2015-09-11 03:18] aaronsamuel137 commented on #266
Deployed. Closing

[2015-09-11 03:18] #266 closed

[2015-09-11 03:19] aaronsamuel137 commented on #263
Deployed and tested on phet-dev. Closing for now. Feel free to reopen if you notice any issues with it @oliver-phet.

[2015-09-11 03:19] #263 closed

[2015-09-11 03:20] aaronsamuel137 commented on #118
Finally added an interface for this. See this comment for more details: https://github.com/phetsims/website/issues/268#issuecomment-139437950. Closing

[2015-09-11 03:20] #118 closed

[2015-09-11 03:27] patricialoeblein commented on #268
Enabling editing is huge, thanks. I am sure Oliver will be able to improve the statements on http://phet.colorado.edu/en/get-phet  to which I referred.

[2015-09-12 04:08] ariel-phet commented on #241
I don't think so. Thanks for getting this done! Closing.

[2015-09-12 04:08] #241 closed

[2015-09-14 17:27] aaronsamuel137 commented on #234
Fixed. Closing

[2015-09-14 17:27] #234 closed

[2015-09-14 18:34] aaronsamuel137 commented on #258
I've addressed this locally. Should be fixed now. Will test on phet-dev and deploy.

[2015-09-15 17:45] kathy-phet opened #272 "Modify bold text in the "registration" and "profile update" donation asks"
Our individual giving consultant would like us to try an experiment to see how it impacts the amount of giving we get from our asks. View this as an experiment.

Please make the following change to our ask splash screens:

Keep the images and top text as is.

Replace the bold text with the following. Keep the spacing from the top text, but make the text regular (not bold) text and space the bullet

[2015-09-15 17:54] kathy-phet opened #273 "Statistics on number of profile/registration asks so far"
Aaron,
Can you please pull some data on the total number for profile and registration pop-up "asks" seen so far since deployment to the website? Please include the start and end dates, so Kathy can cross check with the donations and see what the "conversion rate" is from viewing the ask to donating.

Also, would we have google analytics on the number of clicks on the "Donate Now!" button in the po

[2015-09-15 19:39] aaronsamuel137 commented on #273
We have 14289 asks since we have added this to the site on June 1st (June 1 - Sep 14).

I don't have access to the google analytics account, so I am not sure if these clicks are being tracked there. Perhaps we can ask @ariel-phet?

[2015-09-15 19:48] aaronsamuel137 commented on #273
I'll add a page at /services/asks that gives some of these stats so you guys can look whenever you want. I'll let you know when it's deployed.

[2015-09-15 20:01] aaronsamuel137 commented on #272
This will be deployed tonight.

[2015-09-15 20:20] kathy-phet commented on #272
Hi Aaron, Can you deploy it to phet-dev first so that we can review what it looks like before going to the main site? Thx

[2015-09-15 20:24] kathy-phet commented on #273
Aaron, we deployed the ask on July 24 --- so do you mean between July 24 - Sept 14?

[2015-09-15 20:40] aaronsamuel137 commented on #272
I've deployed to phet-dev. I've also put a screenshot here incase you don't want to go through the trouble of getting the register page to validate.

<img width="726" alt="screen shot 2015-09-15 at 2 39 27 pm" src="https://cloud.githubusercontent.com/assets/3193912/9889440/adf4d894-5bb7-11e5-9d19-7626444be86c.png">

[2015-09-15 20:44] aaronsamuel137 commented on #273
Sorry about that, you're correct. Somehow there is a few wrong dates that got in there... not sure exactly how or why. I'll look into it.

[2015-09-15 20:49] kdessau-PhET commented on #272
Also, we need to do it on the Power User version?

KD

On Sep 15, 2015, at 2:40 PM, Aaron Davis <notifications@github.com<mailto:notifications@github.com>> wrote:

I've deployed to phet-dev. I've also put a screenshot here incase you don't want to go through the trouble of getting the register page to validate.

[screen shot 2015-09-15 at 2 39 27 pm]<https://cloud.githubusercontent.com/assets/3193

[2015-09-15 20:51] aaronsamuel137 commented on #272
Right now, I've set it to be the same message for both versions, power and new users. Is that correct?

[2015-09-15 20:53] kdessau-PhET commented on #272
Yes. Thanks!

On Sep 15, 2015, at 2:51 PM, Aaron Davis <notifications@github.com<mailto:notifications@github.com>> wrote:

Right now, I've set it to be the same message for both versions, power and new users. Is that correct?

—
Reply to this email directly or view it on GitHub<https://github.com/phetsims/website/issues/272#issuecomment-140535290>.

[2015-09-15 21:11] kathy-phet commented on #272
Looks good. Thanks! We'll see how this first experiment goes!

[2015-09-15 21:13] kathy-phet commented on #273
@kdessau-PhET -- Can you take Aaron's number of 14289 asks between July 24 - Sept 14, and record here the number of donations, and the conversion rate.... so we have that recorded and then we can compare with this change in wording we just added. Thanks!

[2015-09-15 21:28] kdessau-PhET commented on #273
I’ve added a Google Spreadsheet but here’s the data:

Type of Campaign        Dates   # of Opportunities      Closed Opportunities    Closure Rate (in %)     Total Donation  Avg. Donation
PhET Girl Teacher Registration Ask      July 24-Sept. 14, 2015  14289   123     0.8608020155    $2,965  $24

On Sep 15, 2015, at 3:13 PM, kathy-phet <notifications@github.com<mailto:notifications@github.com>> wro

[2015-09-15 22:17] amanda-phet commented on #273
@kathy-phet wrote:

Google analytics tracks number of visits to a page, not number of clicks on specific links. The "donate now" button takes you to the donate page, but so does the "donate today" button in our permanent banner. It is unlikely that many of the visits to the donate page came from a source other than the new popup, but I just wanted to remind you of this!

[2015-09-15 23:20] kathy-phet commented on #273
@jonathanolson - Do you know if Google Analytics will tell us how many times users exited PhET by clicking our button that leads to https://donatenow.networkforgood.org/1437859?

Or would we need to add an event tracker to those buttons?

[2015-09-16 05:32] jonathanolson commented on #273
I don't see anything that tracks that. If it opens in a new tab, it would be pretty feasible to add a Google Analytics event that records that they clicked.

[2015-09-16 14:20] aaronsamuel137 commented on #272
Alright, this is live! Hope this experiment goes great! Feel free to close @kathy-phet unless there is anything else to do here.

[2015-09-16 19:52] oliver-phet opened #274 "Some strings aren't available in the 'Edit Content Page'"
Hey @aaronsamuel137 we noticed that at least one string isn't "translatable" in the new Edit Content Page - 'For Teachers'. The string "Welcome. In these pages, ..." doesn't appear to be translated.
We actually would like to remove this string instead of "retranslating" it... could you just remove it?

But we wanted to let you know that there might be other strings that aren't editable. When we fi

[2015-09-17 18:05] aaronsamuel137 opened #275 "Activity file names should be ASCII"
Discussed during 9/17 dev meeting. Bitrock has issues with non-ascii file names. In the windows activities with activities, internal links to files don't work in non-english versions.

We discussed giving all activity files a unique ascii name, but maintaining the original name for the link text.

[2015-09-18 15:37] aaronsamuel137 commented on #258
Fixed on the lives site. Closing.

[2015-09-18 15:37] #258 closed

[2015-09-18 15:57] aaronsamuel137 commented on #275
@jonathanolson mentioned he had some thoughts about this issue. Want to comment here?

[2015-09-18 18:29] jonathanolson commented on #275
It's probably possible to have the upload edit an .htaccess file that sends HTTP headers noting what filename will be used for the "Save As" dialog to save the file. In combination with showing that filename for the link, it could hide most of the negative effects of having the actual filename be something like 'activity-3660-1.pdf'

[2015-09-21 20:29] phet-steele commented on #223
@ariel-phet long overdue poke!

[2015-09-21 20:40] ariel-phet commented on #223
@phet-steele, I will ask @aaronsamuel137 to look into it.

@aaronsamuel137 - what would this sort of notification take? I know sending mass emails is a bit tricky currently

[2015-09-22 17:09] aaronsamuel137 opened #276 "User getting multiple confirmation emails"
@oliver-phet mentioned that one user keeps getting several confirmation emails per day. Here is my email response:

[2015-09-23 15:00] aaronsamuel137 commented on #223
Currently, there is a rate limit on how fast we can send emails. I know we are soon switching over to a new system for our newsletters, so perhaps it would be best to wait until then to implement this incase things change?

Email sending aside, this feature would be somewhat complex to implement because build server and the website would need to talk to each other, we'd need to keep track of which

[2015-09-23 16:54] aaronsamuel137 opened #277 ""PhET Homepage..." link should open in the same locale as the sim"
See https://github.com/phetsims/joist/issues/97

The only thing left to do here is implement the fallback to a less specific locale.

[2015-09-23 19:43] amanda-phet opened #278 "Internal Error when editing strings in the Edit Content Page"
When we try to edit a string and click submit, we get an internal error:

https://phet.colorado.edu/?wicket:interface=:14:stringsForm::IFormSubmitListener::

[2015-09-23 20:21] oliver-phet opened #279 "Update wording on translation page"
http://phet.colorado.edu/en/for-translators
*Translating HTML5 Simulations*

*The translation process for HTML5 sims is currently being tested. To request access to the HTML5 translation utilty, please email phethelp@colorado.edu*

Translating *Java and Flash* Simulations

PhET *Java and Flash* simulations have been written so that they are easily translated to languages other than English. The pr

[2015-09-23 22:47] aaronsamuel137 commented on #278
Can you tell me which page you were trying to submit? The one's I have tested seem to work, it's probably something peculiar with the particular page.

[2015-09-23 22:49] amanda-phet commented on #278
It was the For Translators page.

[2015-09-23 23:00] aaronsamuel137 commented on #278
OK should be fixed now

[2015-09-23 23:00] aaronsamuel137 commented on #278
Assigning to @amanda-phet for review.

[2015-09-23 23:04] amanda-phet commented on #278
It works! Thanks for fixing that!

@oliver-phet note that you can make some changes now... I already changed some to test that it's working but not everything that you wanted.

[2015-09-23 23:04] #278 closed

[2015-09-23 23:06] amanda-phet commented on #279
Looks like you can change more than one string at a time. You should double-check the changes I made and make sure it is exactly how you want it above!

[2015-09-24 17:02] oliver-phet commented on #268
This is completed. Closing.

[2015-09-24 17:02] #268 closed

[2015-09-26 16:10] aaronsamuel137 commented on #276
I have manually fixed this users account by changing his confirmation code. His old confirm email link will now no long work, and probably what happened was that some search engine bot got ahold of his confirm email link and kept reconfirming it.

After looking into this some more, it appears that the reason we allow multiple confirmation emails to be sent is in case someone already registered tri

[2015-09-30 19:31] aaronsamuel137 opened #280 "Track registration date"
Add a new field to the database for date registered.

This will be helpful for expiring unconfirmed users, as well as other things.

[2015-09-30 19:43] aaronsamuel137 commented on #280
We can add today's date for all users to start, and then expire users in one month.

[2015-09-30 20:28] aaronsamuel137 commented on #273
9/30 website meeting

@kathy-phet asked me to coordinate with @jonathanolson to get this happening.

[2015-09-30 21:02] aaronsamuel137 opened #281 "Redirect non-logged in users who Google activities back to activities page"
Probably could be done with .htaccess.

[2015-10-01 17:03] amanda-phet opened #282 "New 404 error page"
Mariah designed a new image for our "error: page not found" page. This might be a fun thing for Matt to work on as an initial project.

See https://github.com/phetsims/tasks/issues/319 for more details.

[2015-10-02 20:35] aaronsamuel137 opened #283 "Track user logins"
We decided on 9/30 website design meeting to track user sign ins.

[2015-10-02 21:53] aaronsamuel137 commented on #281
This is done now. Assigning to @oliver-phet to verify. If you find an activity file on google it will now redirect you to the activity page.

[2015-10-02 22:09] oliver-phet commented on #281
Excellent! I just tested a few and it works perfect!

[2015-10-02 22:09] #281 closed

[2015-10-02 22:17] aaronsamuel137 commented on #283
This has been completed. Each sign-in gets a timestamp. We may have to re-evaluate how we are doing this at some point if the table get too large.

[2015-10-02 22:25] aaronsamuel137 commented on #280
Registration date is now tracked. Unconfirmed users will be deleted after a month. Everyone has a registration date of 10/2/15 (today) if they registered before today.

Not sure who can review this, so closing.

[2015-10-02 22:26] #280 closed

[2015-10-05 21:18] amanda-phet opened #284 "restrict teacher tips to signed in users"
When a user (who has also checked anything except "student" or "other" when they registered) tries to view a teacher tips document, they should be prompted to sign in, and after they have signed in they will be able to view the PDF.

[2015-10-05 22:22] amanda-phet opened #285 "Use updated table layouts when browsing all translated sims or by language"
I noticed that we are still using the old style of table on the Translated Sims page as well as the sims by language pages. In the 9/23 website design meeting we decided that we'd like to use the newer tables that are currently being used on sim pages that list translated sims as well as translation credits.

Here is what those tables could look like. If you have an idea for how the layout could b

[2015-10-05 23:17] kathy-phet commented on #284
I think "other" could also be allowed to view. Did you have a sense of who other is?
Kathy

Sent from my iPhone

On Oct 5, 2015, at 3:18 PM, Amanda McGarry <notifications@github.com<mailto:notifications@github.com>> wrote:

When a user (who has also checked anything except "student" or "other" when they registered) tries to view a teacher tips document, they should be prompted to sign in, and afte

[2015-10-06 01:20] ariel-phet commented on #284
I am a bit confused by the first comment...how will you know what the user has checked if they are not signed in? I assume you mean all users will be prompted to sign in if not already, and those who are not student or other will be allowed to view the teacher tips once signed in?

[2015-10-06 14:49] aaronsamuel137 commented on #284
What should be the behavior for student and other when they click this link?

The easiest thing to do here would be to just mimic the behavior of the activity downloads.

[2015-10-06 18:25] amanda-phet commented on #284
@aaronsamuel137 that's correct that it should basically mimic the behavior of the activity downloads or viewing the primer video. I just wanted to clarify that any of the non-student users (and not just teachers) should be able to view the tips after logging in, and assumed we wanted to exclude users like students and other (but I'm fine allowing other... I'm not sure who that includes!).

What ha

[2015-10-06 18:27] aaronsamuel137 commented on #284
There is no check for student or teacher, anyone who is singed in can view any of these. It would add a bit of complication to add the check, but I can do it if we think it is necessary.

[2015-10-06 18:28] amanda-phet commented on #284
I see. I was definitely under the impression that only teachers were able to view primer videos.

If everyone is fine with that then let's just move forward with the same interaction for teacher tips, and later revisit the check.

[2015-10-06 21:32] kathy-phet commented on #284
I was also under the impression that students should not be able to view the primers - even if they were logged in.

[2015-10-06 21:44] aaronsamuel137 commented on #284
It is possible to add that check, I'm just not sure what the behavior should be when a student tries to click the link... should it just do nothing? display a message? something else?

[2015-10-07 04:07] aaronsamuel137 commented on #284
I've deployed this on phet-dev. Assigning to @amanda-phet for review to make sure the behavior looks right.

[2015-10-07 16:20] amanda-phet commented on #284
Seems to work fine. The first time I tried the "for teachers" section was collapsed after signing in, but it must've been a fluke because every time after that it stayed expanded. Looks good to me.

[2015-10-07 20:07] aaronsamuel137 commented on #284
Actually, it wasn't a fluke, the first time it is changing from http to https, so browser thinks it's a different page and doesn't save the fact that the text was expanded.

I made a change where this should work on the first try now, but it requires using the url hash. It will look almost the same, except it will scroll down to for teachers header in addition to reopening it.

The fix is applied

[2015-10-07 22:30] arouinfar opened #286 "Is there any way to allow .pdfs to open in the browser?"
Before users were required to login to access teacher tips and activities, .pdf files would simply open in the browser. This allowed teachers to very conveniently access the tips/activities as they browsed the site. However, in addition to logging in, there is now the added barrier of downloading the .pdf before being able to view it. This could be an off-putting interaction for some users, which

[2015-10-07 22:31] amanda-phet commented on #284
It's working. However, we may want to wait on this because of #286.

[2015-10-07 22:32] amanda-phet commented on #286
:+1:

[2015-10-08 14:59] aaronsamuel137 commented on #286
Looking into this. So far haven't found a good solution the still prevents these pdfs from being accessed through google, but I'll try a few more things.

[2015-10-09 14:54] aaronsamuel137 commented on #286
OK I've got this working now on phet-dev. @arouinfar or @amanda-phet, can you test?

For some reason, I can't get it to open in a new tab, but it does open in the browser instead of downloading.

[2015-10-09 16:59] arouinfar commented on #286
It looks good @aaronsamuel137! I'd much rather have to hit the back button to return to the sim page than be forced to download .pdf's. Do you want to take a look @amanda-phet?

[2015-10-09 17:04] amanda-phet commented on #286
Definitely better than downloading the file. I notice that pdf activities also open in the browser now! That's great! Thanks @aaronsamuel137 .

[2015-10-09 17:07] arouinfar commented on #286
Thanks @aaronsamuel137! I'll go ahead and reassign this issue to you until the changes have been migrated to the main site.

[2015-10-09 17:10] amanda-phet commented on #284
Looks like the pdf issue is addressed so we can go ahead with this change. We can address the users that are allowed to access it at a later time.

[2015-10-13 02:36] aaronsamuel137 commented on #286
Changes have been migrated. Closing

[2015-10-13 02:36] #286 closed

[2015-10-13 02:37] aaronsamuel137 commented on #284
This is live now. Closing

[2015-10-13 02:37] #284 closed

[2015-10-13 15:42] aaronsamuel137 commented on #283
Reopening. Currently the login_timestamps table has 4 columns, (id, timestamp, user_id, idx). Ideally we could get rid of both id and idx to space space.

At the very least, it is straightforward to get rid of the idx column by using a hibernate set instead of a list (idx keeps track of the list index).

[2015-10-13 15:44] aaronsamuel137 commented on #283
Changed to use a set instead of a list, not sure if there is a way to get rid of the "id" column and still use hibernate.

[2015-10-13 17:50] emily-phet opened #287 "Quick update to Accessibility page"
@aaronsamuel137 - I'd like provide a link to the accessibility page during some talks I'm giving over the next two days. It would be wonderful to have two things added:

- A new row in the top table that provides a link and information about a new version of Forces and Motion:Basics (the most recent version implemented w/ parallel DOM)
- A link to a video demonstration of accessibility features us

[2015-10-13 17:57] aaronsamuel137 commented on #287
I can do this if I get the description from @jessegreenberg today. If I get it early enough I can put a dev version on phet-dev for you to review before this evening.

[2015-10-13 18:57] jessegreenberg commented on #287
Sure, I will get this to you shortly @aaronsamuel137.

[2015-10-13 21:43] aaronsamuel137 commented on #287
@emily-phet, here is the new accessibility page on phet-dev: http://phet-dev.colorado.edu/en/about/accessibility

Let me know if you want to change anything. If I don't hear from you I will deploy this to the live site tonight.

[2015-10-14 02:26] emily-phet commented on #287
@aaronsamuel137 and @jessegreenberg - everything looks great. Deploy away!

[2015-10-14 02:26] #287 closed

[2015-10-14 20:32] aaronsamuel137 commented on #282
Commit: 02507b774172c0b5f8c1965f7bcf5e55c037a67f

[2015-10-14 23:31] aaronsamuel137 commented on #283
@jonathanolson suggested using a log file instead of the database for this data. I am looking into this now.

[2015-10-14 23:40] aaronsamuel137 commented on #282
@mattpen and I worked on this. Take a look on phet-dev and let me know how it looks to you @amanda-phet.

[2015-10-15 00:06] ariel-phet commented on #282
@aaronsamuel137 @mattpen I think this is looking good! Out of curiosity, I think one pretty fun improvement (but not a priority at all) would be do have a sign post with different directions such as the example below (but labels like "sims" "math" or such)

If we had Mariah draw that up, would it be touch to make certain regions clickable, so that if you clicked on "sims" say, it would take you to

[2015-10-15 14:10] aaronsamuel137 commented on #285
This looks like a good one for you to tackle, @mattpen. Let me know if you have questions.

[2015-10-15 14:11] aaronsamuel137 commented on #276
Unassigning for now, assuming it was a rare fluke.

[2015-10-15 14:13] aaronsamuel137 commented on #274
The main issue here is that the for-teachers pages aren't currently translatable. We could give this task to @mattpen, but I am not sure it is worth the tedious work to do this if these pages are changing soon anyway. What do you think @ariel-phet?

Assigning to @ariel-phet for input.

[2015-10-15 14:21] aaronsamuel137 commented on #273
This is being tracked in Google Analytics now (as of 10/12). Since then we have had 88 clicks on the donate button.

To see this is GA, go under events and find "Event Category" Donation and "Event Action" Ask.

[2015-10-15 14:22] aaronsamuel137 commented on #273
Closing this issue, feel free to reopen if there is anything left to do here.

[2015-10-15 14:22] #273 closed

[2015-10-15 14:22] #272 closed

[2015-10-15 14:26] aaronsamuel137 commented on #243
Is this still happening for you @oliver-phet? Can you close if not?

[2015-10-15 14:26] ariel-phet commented on #274
I think we would much rather have @mattpen's time on the help center. The help center is going to be the main priority.

[2015-10-15 14:27] oliver-phet commented on #243
Yes, still occurs every time I log in.

[2015-10-15 16:23] mattpen commented on #282
@ariel-phet This should be relatively easy to accomplish with an HTML image map.  If Mariah sends me an image I can add links to it.

[2015-10-15 17:16] ariel-phet commented on #282
@mattpen sounds good...won't be done soon, but we will keep it in mind, what you have up now is a nice improvement!

[2015-10-15 19:47] aaronsamuel137 opened #288 "New Help Center"
Here's the screenshots for the new help center:

![help-center-with-icons](https://cloud.githubusercontent.com/assets/3193912/10525670/3af05f6e-7343-11e5-8231-018cc1a71def.png)

[2015-10-15 20:14] oliver-phet commented on #288
Requirements for admin interface:
Ability to add/delete a new questions
Ability to edit questions
Ability to write HTML into the interface

[2015-10-16 01:03] aaronsamuel137 opened #289 "Use https for sim file links on website"
During 10/15 dev meeting @jonathanolson mentioned that Chrome may deprecate full-screen for non-https pages. To avoid any complications here, it might be better to use https for links to sim files on the website.

See https://www.chromium.org/Home/chromium-security/deprecating-powerful-features-on-insecure-origins for more info.

Anything else to do here @jonathanolson? If not feel free to assign

[2015-10-16 16:01] kathy-phet opened #290 "Breakdown of users in the database"
Aaron, Can you please report on the following measures from the PhET database?

- Number of registered users for who we do not have updated profile information - that people who only have the old fields and not the new fields.
- Number of registered users for whom we have the new profile fields complete
- Number of additional email contacts we have for "newletter only" - that are not really full r

[2015-10-16 16:29] aaronsamuel137 commented on #290
The results below are for confirmed users only. It is likely most of the non-confirmed users are spam accounts that will be deleted a month after not confirming.

Number of users who have only the old fields: 57167 (out of 89700)
Number of users who have the new fields complete: 32535 (out of 89700)
Number of newsletter only accounts: 3439

Let me know if you need any additional info.

[2015-10-16 16:41] kathy-phet commented on #290
Can you also look at each group of users and tell us how many are listed as "students"? for old field users and then for new field users?

[2015-10-16 17:01] aaronsamuel137 commented on #290
Old users who are students: 16151 (description is 'I am a student interested in using PhET in the future' or 'I am a student who uses PhET')

New users who are students: 6627

[2015-10-16 19:30] jonathanolson commented on #289
I think for now, just changing the links is the plan, thanks.

[2015-10-19 15:06] aaronsamuel137 opened #291 "Website VM improvements"
There are a few things that could be improved with the website VM. This is not a high priority issue, but could be a nice thing to work on if you have time @mattpen.

1. Currently the VM runs in "software rendering mode", which is really annoying. If you can figure out a way to get this to render using the GPU, that would be awesome.
2. The VM is out of date from the live site. We could write a sc

[2015-10-19 15:58] mattpen commented on #285
@amanda-phet The tables for the translated sims should be updated on phet-dev.  Can you take a look and let me know if its ok to publish them?

[2015-10-19 16:08] ariel-phet commented on #285
@mattpen - just a note that @amanda-phet is currently on vacation, so it might be a little while before you hear back.

[2015-10-19 17:22] mattpen commented on #285
Thanks @ariel-phet

@amanda-phet You might notice that "Simulation Name" is missing for languages where it hasn't been translated yet.  Would you prefer it to remain this way, or is it better to show it in English in this case?

[2015-10-20 17:11] mattpen commented on #291
@aaronsamuel137 It looks like the VBox Guest Additions are not installed on the VM, which could be causing this issue.  I'll let you know if this fixes it.  https://forums.virtualbox.org/viewtopic.php?f=6&t=66834

[2015-10-20 17:37] mattpen commented on #291
OK, this solution worked for me. I'm not getting the popup error about "software rendering mode" anymore.

1. Start VM
2. Devices > Insert Guest Additions CD Image
Run the following commands in the terminal
3. cd /media/phet/VBOXADDITIONS_4.3.30_101610
4. sudo rm -vf /var/lib/apt/lists/*
5. sudo apt-get update
6. sudo apt-get purge virtualbox*
7. sudo bash ./VBoxLinuxAdditions.run
8. Shut Down the

[2015-10-21 14:44] amanda-phet commented on #282
This looks great to me!

[2015-10-21 14:49] amanda-phet commented on #285
Looking good! I'm not sure exactly how translations work, but I imagine that the string would show up in English until it is translated (probably by one of our sim translators, @ariel-phet ?).

[2015-10-21 15:54] amanda-phet commented on #288
The screenshots you included above have two that should not be there. Only the first three are accurate- not sure how the last two got included.

[2015-10-21 15:55] aaronsamuel137 commented on #288
They were all in the same file, but we are aware that it is only the top three that we should go by. Thanks for making sure!

[2015-10-21 15:59] aaronsamuel137 commented on #285
Typically the English string would show up if it is not translated. However, I thought it looked a little weird with two columns with the same name, so thought in this case we might want to just leave it off entirely until it gets translated. But I am okay with falling back to the English too. Do you have a preference @amanda-phet?

[2015-10-21 16:02] amanda-phet commented on #285
I don't have a preference and I think it would be fine if the column is empty. I am just wondering when it will get translated, since it is in the language of the translated sims- would that happen when someone translates a sim?

[2015-10-21 16:06] ariel-phet commented on #282
self-assigning to work with Mariah on the road sign idea at some point.

[2015-10-21 16:07] ariel-phet commented on #282
@mattpen feel free to push the current version to the main website!

[2015-10-21 16:11] aaronsamuel137 commented on #285
No it would happen when someone translates the website in the language of the sim. It is the same string key for both columns, simulations.translated.simulationName, but the right column takes the translation from the language of the current locale, and then left takes it from the locale of the sim.

This is the only case I know of on the website of wanting a translation for a string that is from

[2015-10-21 16:19] amanda-phet commented on #285
Sounds good. Let's leave the column empty then.

The current page for sims in a local has an odd "subtitle" that states the language + the language in the site locale...
All sims in French while viewing the site in Spanish:
<img width="581" alt="screen shot 2015-10-21 at 10 17 42 am" src="https://cloud.githubusercontent.com/assets/7852916/10642834/00ca2470-77dd-11e5-8665-a85bd86b7191.png">

I thou

[2015-10-21 17:00] aaronsamuel137 commented on #291
Awesome! That seemed to fix it, thanks @mattpen!

[2015-10-21 17:00] aaronsamuel137 commented on #291
Assigning to myself to address number 2.

[2015-10-21 20:53] oliver-phet commented on #288
Hey @aaronsamuel137 and @mattpen, we will likely be changing the color of the icons I sent you to match an overall website color scheme. Is there a way to program the icons so that the colors could be easily changed on your end?

[2015-10-21 20:58] amanda-phet opened #292 "Dialog box language"
In response to a teacher email to phethelp we would like to change the text on the sign in dialog from “sign in” to “please sign in to access”. This will ensure that users know why they are seeing a dialog to sign in. However, this should not be the text when a user clicks the sign in button directly.

[2015-10-21 22:12] aaronsamuel137 commented on #288
There might be a way to do this. I know with font-awesome images you can change the css color and the icon color will change. We'll look into it.

[2015-10-21 22:14] aaronsamuel137 commented on #292
Got it, so in every case except clicking the login button directly the text should change?

[2015-10-21 22:16] amanda-phet commented on #292
Yes. We tried to think of all the instances where the user gets the prompt to sign in and they all seem to be accessing something (video, document, upload a lesson, translate, etc.) except for clicking the sign in button directly.

[2015-10-22 01:53] ariel-phet opened #293 "Suggestion: Changing labeling ordering of search results when HTML5 sim version exists"
From @emily-phet

[2015-10-22 01:54] ariel-phet commented on #293
@amanda-phet -- this might be worth discussing at a website meeting

[2015-10-22 16:08] aaronsamuel137 commented on #285
I think the design is definitely a step up from the old one, so let's go with this for now. It will be live on the next deploy.

[2015-10-22 16:10] amanda-phet commented on #285
Great! I'll let you close this when it's deployed.

[2015-10-22 16:10] amanda-phet commented on #285
Great! I'll let you close this when it's deployed.

[2015-10-22 16:10] amanda-phet commented on #285
Great! I'll let you close this when it's deployed.

[2015-10-22 16:18] amanda-phet commented on #285
Great! I'll let you close this when it's deployed.

[2015-10-22 16:27] aaronsamuel137 commented on #283
Discussed with @jonathanolson and decided to leave the database approach for now. Closing

[2015-10-22 16:27] #283 closed

[2015-10-22 17:00] amanda-phet commented on #293
I think it's pretty straightforward. We've had to request this for the one-at-a-time page (http://phet.colorado.edu/en/get-phet/one-at-a-time) and for the list of sims when submitting an activity. We just need to ask Aaron to do the same for search results.

[2015-10-22 18:14] oliver-phet commented on #288
It is low priority - we can always recreate the .svg images with the new color.

[2015-10-22 19:08] mattpen commented on #288
@oliver-phet, if you send the html color code or RGB value we can make this change relatively quickly.

[2015-10-22 19:50] oliver-phet commented on #288
Ok, once we have the colors figured out, I’ll let you know.
--
Oliver Nix
PhET Interactive Simulations
University of Colorado
oliver.nix@colorado.edu<mailto:oliver.nix@colorado.edu>

On Oct 22, 2015, at 1:08 PM, Matt Pennington <notifications@github.com<mailto:notifications@github.com>> wrote:

@oliver-phet<https://github.com/oliver-phet>, if you send the html color code or RGB value we can make t

[2015-10-22 22:39] aaronsamuel137 commented on #291
I've made a script for syncing the VM to figaro and emailed to @mattpen.

[2015-10-22 22:40] aaronsamuel137 commented on #291
One more thing to look into here. It looks like apache in the VM is configured in such as way as to not serve files over https. If you try to load a file over https, it says not found.

Can you look into fixing this if you have spare time @mattpen? Low priority.

[2015-10-22 22:43] aaronsamuel137 commented on #289
localizedSimulation.getRunUrl() now returns an https link. Is there anywhere else this should be done that you can think of @jonathanolson?

[2015-10-23 17:26] aaronsamuel137 opened #294 "Wicket Closing the Buffer Error"
Since the new sim pages deploy there has been an strange Wicket error appearing in the figaro tomcat logs:

23 Oct 2015 11:19:30,526 ERROR              WicketFilter - closing the buffer error
java.lang.IllegalArgumentException
	at org.apache.catalina.connector.Response.normalize(Response.java:1794)
	at org.apache.catalina.connector.Response.toAbsolute(Response.java:1714)
	at org.apache.catalina.co

[2015-10-23 17:32] aaronsamuel137 commented on #292
I've made this change. It will be live on the next deploy.

[2015-10-23 17:34] aaronsamuel137 commented on #290
Anything left to do here @kathy-phet, or is it okay to close this issue?

[2015-10-23 17:35] aaronsamuel137 commented on #285
Deployed! Closing

[2015-10-23 17:35] #285 closed

[2015-10-23 17:54] aaronsamuel137 commented on #282
Deployed. Unassigning for now since it doesn't seem like the sign suggestion will be implemented soon.

[2015-10-23 17:55] aaronsamuel137 commented on #279
Can this be closed @oliver-phet?

[2015-10-23 17:56] aaronsamuel137 commented on #223
I have no plans to work on this unless until @ariel-phet or @kathy-phet prioritize it. Unassigning.

[2015-10-23 17:58] aaronsamuel137 commented on #171
Unassigning until this gets prioritized.

[2015-10-23 18:03] aaronsamuel137 commented on #233
This link is indeed broken. It looks like there a multiple cases of outdated sponsor links being tracked in https://github.com/phetsims/tasks/issues/347 so I'll close the issue here.

[2015-10-23 18:03] #233 closed

[2015-10-23 18:15] oliver-phet commented on #279
Can you or @mattpen add the following text to the top of this page: http://phet.colorado.edu/en/for-translators
*Translating HTML5 Simulations

The translation process for HTML5 sims is currently being tested. To request access to the HTML5 translation utilty, please email phethelp@colorado.edu*

[2015-10-23 19:11] mattpen commented on #279
@oliver-phet I can try to get this done on Monday.

[2015-10-23 22:59] amanda-phet opened #295 "Change section on Our Team page"
Ariel suggested that we change "Undergraduate Assistants" to "Student Assistants" since we will want to add Matt to the Our Team page.

[2015-10-26 14:18] aaronsamuel137 commented on #295
I've updated this string. Actually, it was in the AdminEditContent section, but the team page was mislabelled licensing due to a copy paste error, which is probably why you didn't see it. This labelling error will be fixed on the next deploy.

Feel free to add Matt whenever. I guess the next step is to get a black and white headshot for him?

[2015-10-26 15:52] amanda-phet commented on #295
Thank you!

[2015-10-26 15:52] #295 closed

[2015-10-26 16:45] mattpen commented on #279
@oliver-phet The changes have been deployed to the dev site.  Can you check and make sure it looks ok now? http://phet-dev.colorado.edu/en/for-translators

[2015-10-26 17:50] oliver-phet commented on #279
@ariel-phet With the new HTML5 utility, this could read:

Thoughts?

[2015-10-26 18:02] ariel-phet commented on #279
@oliver-phet I think that sounds good. Obviously we will need to come up with a policy if multiple people in some locale email you (such as putting them in touch and letting them know that things can be overwritten and such). But for now, that seems like a good simple clear statement.

[2015-10-26 18:13] oliver-phet commented on #279
@mattpen Can you update the wording as follows:

[2015-10-26 19:56] aaronsamuel137 opened #296 "Remove job title from edit profile page"
The old version of the team page had the job title for team members come from the job_title field in the phet_user table of the database. The new team page doesn't use this.

The job title field is still marked as required for team members to edit their profile, or another users profile. We should get rid of this.

Assigning to @mattpen. Let me know if you have questions.

[2015-10-27 05:45] jonathanolson opened #297 "JSON Metadata API"
For the phet-app and other internal sources (e.g. things that want lists of simulations, or details about simulations, potentially rosetta/build-server/installer/etc.), it would be helpful to have a way of downloading a more closer-to-the-database version of metadata for simulations, and preferably in one (or a few) requests. My current thought is supporting a request that can grab all relevant da

[2015-10-27 06:59] kathy-phet commented on #296
I think this field may contain what we know about our users who have not updated their profiles yet?? E.g. if they are a student or what not? If that is the case, we will want to keep the field itself and just remove from the team member pages.

[2015-10-27 15:46] aaronsamuel137 commented on #296
That is correct @kathy-phet. I mean only to remove the field from the edit profile page, not to delete it from the database. Definitely a good thing to make clear for @mattpen.

[2015-10-27 16:25] aaronsamuel137 commented on #297
I like approach 1 as well (inlining the simulations and localized simulations).

Some other things to think about:

1. Do we want to implement some kind of API key here, or is it okay to make this public? I personally think public is fine, especially if it is heavily cached to reduce the load on tomcat.
2. There are probably other third parties who would want to use this API. Should we get input f

[2015-10-27 16:34] kathy-phet commented on #297
The metadata is part of our licensing discussions with some clients, so best not to make public. We can handle access via a password of some sort?

Sent from my iPhone

On Oct 27, 2015, at 10:25 AM, Aaron Davis <notifications@github.com<mailto:notifications@github.com>> wrote:

I like approach 1 as well (inlining the simulations and localized simulations).

Some other things to think about:

  1.

[2015-10-27 17:05] jonathanolson commented on #297
Could you clarify? We've had public metadata in other formats for a while (which includes the data we would be making available here), and if the PhET App uses the API, it would be fairly trivial for someone to use the PhET App credentials for it. Would we want to remove our current metadata APIs/exports?

[2015-10-27 17:39] jonathanolson commented on #289
I can't think of anything else off the top of my head. We can always fix anything we miss as we notice later.

Thanks!

[2015-10-27 17:39] #289 closed

[2015-10-27 17:49] mattpen commented on #279
@oliver-phet This change is now showing up on the Dev site.  Can you take a look?

[2015-10-27 18:37] mattpen commented on #296
@aaronsamuel137 I removed the title field on simian.  Can you check and make sure it looks ok?

[2015-10-27 18:59] oliver-phet commented on #279
Looks good @mattpen!

[2015-10-28 15:32] aaronsamuel137 commented on #296
Looks good, and seems to work when I test. The only thing I would say is just remove all of the code entirely, don't leave commented out code there.

[2015-10-28 16:49] mattpen commented on #296
I removed the code that I had previously commented out.

[2015-10-28 17:20] aaronsamuel137 commented on #296
Great thanks! I'll test this and close on the next deploy.

[2015-10-28 19:46] oliver-phet commented on #288
@mattpen Would it be possible for you to put what you have done on this on phet-dev? That way we can take a look!

[2015-10-28 21:01] mattpen commented on #288
@oliver-phet Sure thing, I'll push it to phet-dev later tonight.

[2015-10-28 23:37] aaronsamuel137 commented on #297
Sounds like the phet-app team might need something to work with soon. Adding developer meeting label to get more feedback before doing any more work on this.

[2015-10-28 23:46] aaronsamuel137 commented on #279
This has been deployed to figaro. Closing

[2015-10-28 23:46] #279 closed

[2015-10-28 23:47] aaronsamuel137 commented on #296
Deployed. Closing

[2015-10-28 23:47] #296 closed

[2015-10-28 23:51] amanda-phet opened #298 "Sponsors page"
At the 10/28 website meeting we decided to move forward with a new design for the sponsors page (http://phet.colorado.edu/en/about/sponsors). This may be something that @mattpen could tackle, but it is not a top priority.

The design will be based off of Dave's design in https://github.com/phetsims/tasks/issues/345. We also will have @elisemorgan working to find updated logos and links for sponsor

[2015-10-29 03:06] mattpen commented on #288
@oliver-phet I've deployed what I have done so far.
This includes:
* The main HelpCenter page.
* Individual HelpCenter pages will show questions/answers.
* In the Administration section, there is now a HelpCenter link.  On this page you can add new questions, edit questions or answers, or change the category of a question.  You may enter html tags here.

Still to do:
* Adding images to the specifi

[2015-10-29 14:30] aaronsamuel137 commented on #298
Looks great! Between @mattpen and I, we should be able to get to this fairly soon. We'll just need to get the updated logos after https://github.com/phetsims/tasks/issues/347 is completed. Perhaps we should store these in a drive folder?

[2015-10-29 14:32] amanda-phet commented on #298
Awesome! Elise should be putting them in a drive folder as well as making a spreadsheet with links. I'll update you when we have the logos and correct links.

[2015-10-29 14:37] kdessau-PhET commented on #298
And we should update the list as some have not sponsored recently. Maybe we can have a list of "honor roll" sponsors or something like "Past Donors." If you need updated links, let me know and I can help.

[2015-10-29 14:40] aaronsamuel137 commented on #292
This is live now. Closing.

[2015-10-29 14:40] #292 closed

[2015-10-29 14:42] aaronsamuel137 commented on #290
Closing for now. We can always reopen if you need more metrics, but I am trying to get to the point of ```assigned issues = to do list```.

[2015-10-29 14:42] #290 closed

[2015-10-29 14:48] aaronsamuel137 commented on #277
I think this would be a good one for you to work on @mattpen to help understand how the website handles different locales.

Let's have a call before you start so I can fill you in on some things.

[2015-10-29 14:56] aaronsamuel137 commented on #81
We'll need a new icon on the "by-device" page (http://phet.colorado.edu/en/simulations/category/by-device) to complete this issue. After that, it shouldn't take long to complete.

Also, would this category include all of our sims, or are there ones that should be left out?

Assigning to @ariel-phet to address these two concerns before I can work on this.

[2015-10-29 16:34] ariel-phet commented on #81
@arouinfar @oliver-phet @amanda-phet what is the feeling here about mac/pc category or splitting those? With the upcoming help center are most of the troubleshooting concerns alleviated?

[2015-10-29 16:36] arouinfar commented on #81
@ariel-phet, I don't really have a preference. Now that Molecule Shapes is in HTML5, the only non-Mac sim is Plate Tectonics, so the PC and Mac categories would be virtually identical.

[2015-10-29 18:25] amanda-phet commented on #81
The fact that they would be identical is why I've always thought it was unnecessary. Once we have true filtering this may be a more useful category so that mac users don't accidentally find Plate Tectonics, but I'm not sure how this is beneficial right now.

[2015-10-29 18:27] oliver-phet commented on #81
I think it would be nice to clear up the Plate Tectonics Mac issue. We still get a lot of phethelp emails about this and there is no way for a user to know that the sim won't work on a Mac (unless a user reads troubleshooting info before trying to run a sim... I'm sure that happens)
I think it would be best to do a single 'PC/Mac' category, but add something to the sim page to notify Mac users abo

[2015-10-29 18:32] pixelzoom commented on #297
I don't have experience with the use cases for this, so don't have an feedback. Hopefully this doesn't need to be private, since that sounds like a huge pain.

[2015-10-29 18:36] amanda-phet commented on #81
I think a notice of some kind on the Plate Tectonics sim page itself is the best way to communicate that it does not run on a Mac. Using the by device category won't fix that issue.

@oliver-phet Can you please explain the reasoning for a PC/Mac category? I'm still not sure I see a use-case for it, since it will be a list identical to All Sims (http://phet.colorado.edu/en/simulations).

[2015-10-29 18:48] oliver-phet commented on #81
I agree about the Plate Tectonics notice.

I remember thinking this wasn't a huge priority and I think that's why we didn't add this category at the same time as the others. In my opinion it just makes it perfectly clear to users which sims work on which devices. Since 'By Device' isn't currently a filter and is rather a category, I thought it might be good to have a PC/Mac category, which also ma

[2015-10-29 21:31] arnopoulos commented on #297
@jonathanolson I think I know where you're getting at with the API proposal. However is there a time, next week, where we can meet up in person to talk about some of the intricacies of your proposal? Just so I can make sure that I'm on the same page that your on.

[2015-10-29 22:13] arnopoulos commented on #297
@aaronsamuel137 @ariel-phet Could you also guys also join the meeting?

[2015-10-29 22:16] aaronsamuel137 commented on #297
Yep I can come to the meeting, or you can email or Skype me if you have questions.

I'll be the primary implementer of the API, so I can iterate with you if you need things to change as we go or unanticipated needs arise.

[2015-10-29 22:20] aaronsamuel137 commented on #297
Also, if you want something to work with ASAP, I can deploy the incomplete version of the API to our dev site at any time. It probably has most of what you will need already if you are just looking to get the sim names and links.

[2015-10-29 23:14] ariel-phet commented on #297
@arnopoulos yes happy to attend, please email me when you know the time.

[2015-10-30 01:18] jonathanolson commented on #297
I should be free Monday/Tuesday/Wednesday all before 1pm. What works for everyone else?

[2015-10-30 01:28] ariel-phet commented on #297
I should be fairly flexible before 1 pm those days

[2015-10-30 01:39] aaronsamuel137 commented on #297
Any of those times works for me except after 11:30 on Wednesday.

[2015-10-30 14:47] aaronsamuel137 commented on #298
Feel free to start on this any time @mattpen. I would work on a branch instead of master in case there are things with the sponsors that delay us in getting this deployed.

[2015-10-30 15:13] aaronsamuel137 opened #299 "NavLocation is null errors in logs"
Another one of the most common errors in the logs:

30 Oct 2015 08:37:01,241 ERROR               NavLocation - NavLocation linker == null on getLink. key=teacherIdeas, id=link, context=PageContext{en,/en/,register}
30 Oct 2015 08:37:01,242 ERROR               NavLocation - NavLocation linker == null on getLink. key=get-phet, id=link, context=PageContext{en,/en/,register}
30 Oct 2015 08:37:01,242 E

[2015-11-01 18:10] arnopoulos commented on #297
I can meet up on Tuesday at that time. Does that work for everyone?

[2015-11-02 19:41] arnopoulos commented on #297
Sorry for this but something for work came up tomorrow and I can't get out of it. I might be able to meet up on Wednesday but I have to make sure first.

[2015-11-02 20:14] jonathanolson commented on #297
I'm personally sick right now, and probably won't be able to meet in person through Wednesday. Will be available on Skype, so let me know what is convenient.

[2015-11-02 20:14] ariel-phet opened #300 "Some changes to the front page/banner"
@aaronsamuel137 and @mattpen we would like to make some changes to the front page and sitewide banner to continue making the site more cleanly. Obviously this work should first be done on phet-dev and then migrated to the main site once all polishes are complete.

This work should be a fairly high priority as the main point of this change is to encourage more teachers to register for the site (so

[2015-11-02 20:20] ariel-phet commented on #300
This checklist might prove useful in making the various changes:

- [ ] remove "mini banner" this may mean increasing the vertical size of the navy blue banner to give the correct padding
- [ ] move the "over 200 million simulations delivered" text out of the banner on under the "Interactive Simulations for Science and Math"
- [ ] Remove social media icons to the right of the video player
- [ ] Ch

[2015-11-02 20:21] ariel-phet commented on #300
@amanda-phet and @amyh-phet should be able to provide any assets you needs (such as the play with sims and the Teacher icon)

[2015-11-02 21:08] mattpen commented on #298
I updated the table format to match the screenshot from above.  I can push it to phet-dev if anyone wants to see the changes.

[2015-11-02 21:10] amanda-phet commented on #298
Yes please!

[2015-11-02 21:52] mattpen commented on #288
@oliver-phet Can you send the icons for the different systems that will go on the Running Sims page?  So far I just have the blue box that they will sit in.

[2015-11-03 06:56] arnopoulos commented on #297
@jonathanolson I'm sorry to here about that and I hope you get better soon. However some of the questions I had could be answered here.
1. What is the difference between Projects and Simulations?
2. Why are the categories, alignments and keywords outside of the projects scope?

[2015-11-03 16:01] aaronsamuel137 commented on #297
I can probably answer these questions, @jonathanolson feel free to clarify or add things to my answer.

1. Projects are basically wrappers around simulations that contain information about versioning and timestamps. In the Java sims, a single project could have more than one simulation associated with it, such as circuit construction kit, which has many variations. In the html5 simulations, there

[2015-11-03 16:23] aaronsamuel137 commented on #300
I can work on this today. @amanda-phet or @amyh-phet can you email me these new icons? Thanks!

[2015-11-03 16:56] mattpen commented on #288
I'm taking this down from phet-dev to demonstrate some changes from #298.  I'll republish again on request or when I get the running-sims box working.

[2015-11-03 16:59] amyh-phet commented on #300
@aaronsamuel137    Emailing AI file to you now.

[2015-11-03 17:06] amanda-phet commented on #300
I will be emailing you the official CU logo as well.

[2015-11-03 17:14] oliver-phet commented on #288
All of those icons are font awesome. I was under the impression you could just load those in since font awesome is already apart of the website?

[2015-11-03 17:23] mattpen commented on #288
OK, thanks @oliver-phet. I'll see if I can find them.

[2015-11-03 17:50] aaronsamuel137 commented on #300
Sorry I wasn't clear. Can you just send 2 svg files with the icons only (the play with sims button icon and the teachers register icon)? I don't need the ai mockup of the whole page. Thanks!

[2015-11-03 17:52] aaronsamuel137 commented on #288
I can help with this if you can't find them @mattpen.

[2015-11-03 18:17] amyh-phet commented on #300
Sorry - first time I got to send artwork to a developer.  Thanks for your patience.

[2015-11-03 19:25] amanda-phet opened #301 "Small edits to New Sims page"
https://phet.colorado.edu/en/simulations/category/new

We'd like to change the layout in a few ways:
1. Left-align the video player with the page content
2. Move the link for "The Future of PhET" to the right and add the first chunk of that pages text in a paragraph below.
3. Replace the current "switch to index"/"switch to thumbnails" text with an iconic representation. The active view is the one

[2015-11-03 20:17] amanda-phet opened #302 "Translated sims should indicate if HTML5"
I noticed that if you click on all sims in a language (such as brazillian portuguese), the translated HTML5 sim name does not say (HTML5) at the end. In the long-term it seems like it would be a good idea to have this extension on the title.

![screen shot 2015-11-03 at 1 12 46 pm](https://cloud.githubusercontent.com/assets/7852916/10920428/32e512b2-822d-11e5-8935-fa25e32e101d.png)

[2015-11-03 20:36] kathy-phet commented on #302
What about a small icon?

Sent from my iPhone

On Nov 3, 2015, at 1:18 PM, Amanda McGarry <notifications@github.com<mailto:notifications@github.com>> wrote:

I noticed that if you click on all sims in a language (such as brazillian portuguese), the translated HTML5 sim name does not say (HTML5) at the end. In the long-term it seems like it would be a good idea to have this extension on the title.

[2015-11-03 20:41] amanda-phet commented on #302
@kathy-phet I've been thinking about icons too... there are many places on the site where we could implement this.

[2015-11-03 21:25] mattpen commented on #288
@oliver-phet or @aaronsamuel137 Do either of you know which icon the chromebook image is using? I can't find this one. Would the plain [chrome icon](http://fortawesome.github.io/Font-Awesome/icon/chrome/) work?

[2015-11-03 21:29] oliver-phet commented on #288
Yes, let's use the plain chrome icon for now. Thanks!

[2015-11-03 21:30] amanda-phet commented on #288
It is supposed to be the chrome icon, so yes use that.

[2015-11-03 22:04] aaronsamuel137 commented on #301
Are the icons here in font-awesome? I don't see a list icon like the one shown, though there is the icon with the boxes and an icon with three bars.

It would be easier to use font-awesome if possible, but if not that is fine too. Can you take a look and see if the font-awesome icons will work for you? If not, can you send svgs of the 2 icons in both colors?

[2015-11-03 23:01] amanda-phet commented on #301
Thank you for pointing that out... I had not thought to check fontawsome. Yes, please use the following:

Thumbnail: http://fontawesome.io/icon/th/
List: http://fontawesome.io/icon/list/

The blue was chosen because it is the current link "theme" color. Now that I think about it, let's go with black for active (#000000) and still gray for inactive (#B3B3B3 unless you have another inactive gray col

[2015-11-04 17:47] aaronsamuel137 commented on #300
OK I've deployed iteration 1 to phet-dev. Some things that will probably need to be addressed:

1. We might need a new graphic for teachers register button. As you can see when you highlight over it, it is inconsistently white and transparent background.
2. We'll probably need new images for the right facing triangles since these look crappy and have a different background color.

Let me know abou

[2015-11-04 17:53] amanda-phet commented on #300
1. @amyh-phet can update the graphic. We probably didn't realize there was a white stroke there!
2. Can we get rid of the triangles?

[2015-11-04 18:13] ariel-phet commented on #300
We may have to do something different than grey for the Play with simulations button, but overall this is look SO MUCH cleaner. @amanda-phet - maybe one of the other quilting bee colors for the background of that button?

@aaronsamuel137 on the "Donate Today" button the font looks a bit different than on the "Sign In" button...looks maybe larger and not bold to my eye?

[2015-11-04 18:16] ariel-phet opened #303 "Get a Hooke's Law video for scrolling video player"
@arouinfar I think it might be nice to record a short clip for Hooke's Law to put on the front page video player, that seems like a place where we should start having new sims highlighted when they come out.

Not a huge priority, but seems like something that could be done with ease in the nearish future

[2015-11-04 18:54] amanda-phet commented on #300
@ariel-phet I agree, I'm not a huge fan of the gray. There is also a lot of gray on the homepage now... @amyh-phet suggested we look at this in today's website meeting, so we will bring some different options to compare.

[2015-11-04 18:58] amyh-phet commented on #300
@aaronsamuel137   With the arrows, it looks to me like the blue background color from the original table is showing on the top and bottom of the arrow, almost like the color is filling in a space around the arrow.   If we have to leave the arrow, is there a way to fix this?
![arrow_issue](https://cloud.githubusercontent.com/assets/13650180/10948559/65e5dbf6-82eb-11e5-9784-854023f5f8b9.png)

[2015-11-04 20:44] amanda-phet commented on #300
We decided to go with raspberry colors... @amyh-phet or I can send you artwork for the icons.

![screen shot 2015-11-04 at 1 43 07 pm](https://cloud.githubusercontent.com/assets/7852916/10951316/11bebb2e-82fa-11e5-8f7f-4c98bff089b4.png)

[2015-11-04 20:49] mattpen commented on #288
The help center is mostly finished, with the exception of adding the actual q-and-a's.  This will have to wait until deployment.  @aaronsamuel137 currently has the new front-page pushed to phet-dev.  I'll work with him to get the branches merged.

[2015-11-04 20:56] oliver-phet commented on #288
Sounds great. Thanks @mattpen

[2015-11-04 21:01] mattpen commented on #288
@oliver-phet I had one question.  In the edit-question function, the current behavior is when the Category or System is changed ( for example if you change an offline question to an account question), all associated translations will be deleted.  Is this acceptable?  If not, is it ok if we just don't allow the category to be changed?
The reasoning is that we have setup the string keys to contain t

[2015-11-04 21:49] oliver-phet commented on #288
Just discussed - ok to wipe out translations if things move. We don't anticipate category/system changes too frequently.

[2015-11-04 21:58] amanda-phet commented on #301
I just realized that switch to index/thumbnail text is on all of the pages that list sims. We should make sure the fontawesome icons replace the text in all instances.

[2015-11-04 22:10] amanda-phet commented on #301
At the 11/4 meeting we decided to make a few more changes, so I'll send another mockup when we have all updates finalized.

[2015-11-04 22:36] amanda-phet commented on #293
@aaronsamuel137 does this seem like an easy change to make?

[2015-11-04 23:18] aaronsamuel137 commented on #300
Raspberry sounds good. Feel free to send the icons any time. Also, try to get make so there is not extra empty space around the icons if you can.

If you know the color hex value, and values for the highlight colors, that would be helpful too.

Thanks!

[2015-11-04 23:59] aaronsamuel137 commented on #293
This is definitely easy. I've made the change and it will be live on the next deploy.

[2015-11-05 15:24] aaronsamuel137 commented on #302
Should I go ahead with this or wait on the icons? Also, given that this is part of the translated title, should this string be translatable?

[2015-11-05 15:32] aaronsamuel137 opened #304 "Some translation page links don't work"
We got an email from a website translator that two links on the following page don't seem to work:

https://phet.colorado.edu/?wicket:bookmarkablePage=:edu.colorado.phet.website.translation.TranslationEditPage&translationId=114&translationLocale=vi

The links that seem to be broken are: Simulation strings and Translation

[2015-11-05 15:44] aaronsamuel137 commented on #304
After investigating this, I have determined that

1. The "Simulations strings" link seems to work, but take a very long time to load.

2. The "Translation" link causes an error in the logs:

[code]

I am not sure why Wicket is trying to serialize this page to begin with... none of the other TranslationEntity panels are serializable either it seems.

[2015-11-05 16:08] aaronsamuel137 commented on #304
I've solved the issue of the "Translation" link by simply removing the preview for the translator credits page. For some reason, that page doesn't play nice with the preview feature, probably due to all of the inner classes. Since it only has two strings, it seems like the easiest solution here is just to not preview that page. I added a note for the translator to preview this page live if they wa

[2015-11-05 16:09] aaronsamuel137 commented on #304
Regarding the "Simulation strings" issue, the best solution here is probably to create a new link for HTML5 simulation strings. The issue is caused by more and more simulations being on the site, which slows the loading of this page down significantly.

[2015-11-05 16:39] aaronsamuel137 commented on #304
Assigning to @mattpen to take care of this last part, let me know if you have questions.

[2015-11-05 16:42] aaronsamuel137 commented on #297
@arnopoulos, I have implemented this and deployed to phet-dev so you guys can test and we can iterate on the design if necessary.

You'll probably want this address for the app: http://phet-dev.colorado.edu/services/metadata-api?format=json&type=html

Let me know how it works for you and if you have questions or suggestions.

[2015-11-05 16:43] aaronsamuel137 commented on #297
Still left to do here:

1. Varnish configuration. We need to worry about timeouts for large requests and caching and cache invalidation.
2. Authentication. Still haven't heard from @kathy-phet as to whether or not this can be public.
3. Design improvement. Let's try this and see if we want to make any changes.

[2015-11-05 17:03] arouinfar commented on #303
Great idea, @ariel-phet! Is there any particular file format or aspect ratio I need to use? I was planning on  doing a QuickTime recording (.mov) at the regular dev ratio.

[2015-11-05 17:12] ariel-phet commented on #303
@aaronsamuel137 can you give @arouinfar specs?

[2015-11-05 17:50] aaronsamuel137 commented on #303
Ideally we want 326 × 214 .mp4 files.

[2015-11-05 17:54] arouinfar commented on #303
@aaronsamuel137 Thanks! I can use Camtasia to make an .mp4 recording at that resolution.

[2015-11-05 18:01] aaronsamuel137 commented on #303
If you can export as a .ogv too at the same resolution that would be useful. Firefox needs ogv as a fallback. I have a script that can do this if you can't, but probably better to find a solution that doesn't rely on my script, so we should see if camtasia can do this.

We also need a .jpg of the same resolution for a fallback if video is not supported. Any frame of the video will do.

[2015-11-05 18:03] arouinfar commented on #303
Thanks for this info @aaronsamuel137. Not sure if I can create an .ogv, but I'll look into it.

[2015-11-05 18:55] aaronsamuel137 opened #305 "Website VM needs a place to live"
Now that I am leaving PhET, we'll want to have a copy of the website VM stored somewhere.

Perhaps a hard drive in the office? Or online somewhere? Both?

Any thoughts @jonathanolson ?

[2015-11-05 23:18] amanda-phet commented on #293
Thank you!

[2015-11-05 23:56] amanda-phet commented on #302
Go ahead with (HTML5). Icons may come later but for now that is the paradigm we are using.

@ariel-phet should the string be translatable? I don't know for sure where this would fall.

[2015-11-06 04:28] ariel-phet commented on #302
Yes, I think the string should be translatable

[2015-11-06 19:22] ariel-phet commented on #167
Reassigning to @mattpen - this will likely take some direction from @jonathanolson or @aaronsamuel137 if he has some time.

[2015-11-06 19:25] ariel-phet commented on #161
Reassigning to @mattpen - this is not at all a high priority, but might make a nice project at some point down the road.

[2015-11-06 19:30] ariel-phet commented on #275
Seems like discussing at dev meeting to figure out priority and such for installer

[2015-11-06 19:33] aaronsamuel137 commented on #167
Might be a good one to tackle together before I leave. Give me a call about this next week @mattpen.

[2015-11-06 19:34] ariel-phet commented on #252
@mattpen again low priority. We have the ability to delete an account if someone emails phethelp through the admin interface, so not a huge deal, but it will be good to give users this ability at some point.

[2015-11-06 19:36] ariel-phet commented on #302
@aaronsamuel137 please comment on how involved this would be, seems like a pretty easy change?

[2015-11-06 19:57] ariel-phet commented on #71
This could use some investigation, but not high priority. Perhaps get some details from @aaronsamuel137 next time you meet

[2015-11-06 20:05] aaronsamuel137 commented on #302
This is easy. I've implemented it and will deploy soon.

[2015-11-06 22:39] amanda-phet commented on #300
![screen shot 2015-11-06 at 3 34 37 pm](https://cloud.githubusercontent.com/assets/7852916/11010447/1f124806-849c-11e5-933f-be587ed0298a.png)

When the cursor hovers:
![screen shot 2015-11-06 at 3 35 29 pm](https://cloud.githubusercontent.com/assets/7852916/11010451/23c48666-849c-11e5-88a0-c6f04d91beb1.png)

Since this button is a little different, @amyh-phet and I decided the highlight color can

[2015-11-09 16:14] aaronsamuel137 commented on #300
The latest design changes are up on phet-dev now. Let me know what you think @amanda-phet.

[2015-11-09 16:16] aaronsamuel137 commented on #71
We can close this issue. Doesn't cause any problems and I don't think it's worth investigating further at this point.

[2015-11-09 16:16] #71 closed

[2015-11-09 17:37] amanda-phet commented on #300
Looks good to me, and I think everything on the checklist was addressed. @ariel-phet ?

[2015-11-09 18:03] aaronsamuel137 commented on #300
One detail to consider is the tab focus color for the table headers. Previously, the browser defaults were overridden to use a white focus. Does this still look good to you guys? Should we consider going back to browser defaults?

[2015-11-09 18:18] ariel-phet commented on #300
The white focus looks very clear to me...I say deploy.

[2015-11-09 18:23] amanda-phet commented on #300
I like the white. I might keep white around the Donate Today button as well.

[2015-11-09 18:58] arouinfar commented on #303
@aaronsamuel137 I was not able to resize my browser to 326 × 214. The minimum resolution I was able to use was 798 x 524, which has the same aspect ratio.

I also couldn't find a way to export to .ogv, so I only have an .mp4 for you, which I'll send via email.

Here's a .gif so you can see what the video shows:
![hookes_law_scrolling_video](https://cloud.githubusercontent.com/assets/8419308/110432

[2015-11-09 19:04] jonathanolson commented on #305
I'm curious how large the image is?

Maybe storing it on simian (master copy, for when there are server changes needed), and then on developer devices would work?

[2015-11-09 19:06] mattpen commented on #305
The image is about 23GB on my machine

[2015-11-09 21:23] aaronsamuel137 commented on #300
Sounds good. I'll add it to the donate button and deploy tonight.

[2015-11-09 21:54] amanda-phet opened #306 "New Offline Access page to replace current How to Run Simulations page(s)"
As part of the new help center sub-project, we would like one page for offline sim access (instead of the current page that has a table and three sub-pages). The URL can be the same (https://phet.colorado.edu/en/get-phet), but there will be no sub-pages. Instead, we'd like three expandable sections for content.
![screen shot 2015-11-09 at 2 50 22 pm](https://cloud.githubusercontent.com/assets/7852

[2015-11-09 23:57] ariel-phet opened #307 "Updates to Research List"
requested by @emily-phet

Here are some updates to the PhET research page list.

In "Important features for effective simulation design":

Designing accessible interactive chemistry simulations. Moore, E. B.  Spring 2015 ConfChem: Interactive Visualizations for Chemistry Teaching and Learning. (2015)
Link: http://confchem.ccce.divched.org/2015SpringConfChemP8

Tilting the Tablet: The Effect of Tab

[2015-11-10 01:16] aaronsamuel137 commented on #300
This is live! Closing

[2015-11-10 01:16] #300 closed

[2015-11-10 01:16] aaronsamuel137 commented on #302
This is live. Closing

[2015-11-10 01:16] #302 closed

[2015-11-10 01:18] aaronsamuel137 commented on #293
Deployed. Closing

[2015-11-10 01:18] #293 closed

[2015-11-10 15:54] ariel-phet commented on #303
BTW @aaronsamuel137 it would be best if this video were first in the order. Part of the idea would be to highlight new sims.

[2015-11-10 15:56] aaronsamuel137 commented on #303
OK sounds good. I have this up on phet-dev. I'll plan on changing the order so it comes up first.

[2015-11-10 16:59] arouinfar commented on #303
Looks good @aaronsamuel137!

[2015-11-10 17:43] mattpen commented on #306
@amanda-phet As part of the new help center task #288 we are already adding an offline page.  However it is not currently separated by system type.  Would you like to have the systems separated like the accordion pictured here, or would it be better to use the additional navigation bar, like the screenshots for the RunningSims page (the image on the top right)? ![help-center-with-icons](https://cl

[2015-11-10 17:57] samreid commented on #275
@jbphet found the filenames that were the problem.  The installer has been working OK since then.

@jbphet is wondering: can we just close this issue and fix non-ascii filenames if/when we see them again?

@samreid that would be OK with me as long as you completely document (a) how you detect this problem (b) how you solve this problem (c) how you verify the problem has been solved.

[2015-11-10 17:58] samreid commented on #275
@jbphet An alternative would be to reject filenames that are non-ascii in the website UI.  If we did that, we would also want to revisit old filenames.  Possibly with redirects?

[2015-11-10 17:59] samreid commented on #275
@aaronsamuel137 said: what we discussed last time was automatically renaming the filenames but keeping the full non-ascii filename in the database.  That would take some significant effort.

[2015-11-10 18:01] samreid commented on #275
@jbphet said: it would be better to allow customers to use non-ascii.

@samreid can you detect whether a file has a problem before getting to the full build?

@jbphet said it may be possible.

[2015-11-10 18:02] samreid commented on #275
@samreid suggests: add into the installer builder script to check the size.  If it is below the threshold, then don't publish it.

[2015-11-10 18:06] jbphet commented on #275
For reference, this is the Unfuddle issue that documents the original problem and the current solution.  Look at the original issue description for information about how to recognize the problem. https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/3697

[2015-11-10 18:20] amanda-phet commented on #306
The page for this issue should replace the current "How to Run Simulations" page found here: https://phet.colorado.edu/en/get-phet. The *Offline* page in the *Help Center* is for help questions relating to offline use.

We considered using icons but since there are just three platforms I think the mockups above will work best.

[2015-11-10 18:22] amanda-phet commented on #306
I can see why this was confusing, so I added some details to the original issue above.

[2015-11-10 19:45] kathy-phet opened #308 "Increase size of CU branding"
Overall I like the new front page design. I think it will work nicely.

However, I have considered the upcoming requests and meetings with several University officials I have set up, and the new size of the CU branding is too small. I know it makes for a visually cleaner site, but it doesn't support the messages I hope to send to CU in terms of their backing our project, so I need that one part to

[2015-11-10 20:04] ariel-phet commented on #308
@aaronsamuel137, I imagine this should be an easy change

If you need a new asset or such, @amanda-phet should be able to provide or you can go to http://www.colorado.edu/brand/downloads

[2015-11-10 20:59] aaronsamuel137 commented on #308
I've made this change and deployed to phet-dev. @ariel-phet, @amanda-phet, or @kathy-phet, can you verify it looks good to you?

[2015-11-10 20:59] aaronsamuel137 commented on #303
Moved hookes-law first. Will deploy this soon (probably tonight)

[2015-11-10 21:01] aaronsamuel137 commented on #306
Feel free to work on this @mattpen. Not sure if I'll get to it or not before I leave.

[2015-11-10 22:06] mattpen commented on #298
@amanda-phet The new sponsors page is up on phet-dev. Can you take a look and let me know if you have any feedback?

[2015-11-10 22:07] mattpen commented on #288
@oliver-phet The [HelpCenter](https://phet-dev.colorado.edu/en/help-center) is now up on phet-dev.  Can you take a look and let me know if there are any changes needed?

[2015-11-10 22:16] amanda-phet commented on #298
It looks great! It came out really nicely.

Just one question- the "platinum level" title seems larger than the usual 3rd-level heading. It's important to me that we use the site's standard css so that down the road when we make changes to it we do not need to go to individual pages to change it.

Otherwise I think it looks very good.

[2015-11-10 22:19] oliver-phet commented on #288
Some things that need tweaked:
* Each question should be initially visible, but only the first line of the answer (followed by "..."). When a user clicks the question or answer, the entire answer expands.
* The top level page (http://phet-dev.colorado.edu/en/help-center) is showing a "_" in the bottom-right corner of the icon when the category is hovered over
* 'Troubleshooting' and 'FAQ' sections

[2015-11-10 23:52] amanda-phet commented on #308
It looks fine to me.

Should we also move the search bar up so that it is more centered vertically?

[2015-11-11 00:02] ariel-phet commented on #308
@amanda-phet I would mock that up before we make any further changes. I get the feeling it might look odd.

[2015-11-11 16:34] mattpen commented on #298
@amanda-phet - These headings were just tagged as bold text, not 3rd level headers.  I'll change them to h3 on the next deploy to phet-dev.  Thanks!

[2015-11-11 16:41] mattpen commented on #288
@oliver-phet
A couple of questions.
1. Do you want to remove Troubleshooting and FAQ in the same deploy to production as when we add the helpcenter?  Currently the helpcenter doesn't have any content so there would be a period of time where the info is not available on the site.  If this is a problem we could either post the helpcenter in one deploy and remove Troubleshooting/FAQ on the next, or f

[2015-11-11 17:08] aaronsamuel137 commented on #305
The VM is on simian under /data2/phet-vm/.

Assigning to @jonathanolson to review. Feel free to test the VM if you'd like before I leave.

[2015-11-11 17:10] oliver-phet commented on #288
1. Can we add the content on phet-dev then publish all to the live site? If so, we can remove Troubleshooting/FAQ at the same time.
2. The underline on the platforms in the Running Sims page is fine. I think it looks odd on the main categories - unless it is there for accessibility reasons.

[2015-11-11 17:26] amanda-phet commented on #298
Perfect!

[2015-11-11 18:09] mattpen commented on #288
There is currently no method in place to transfer database content from phet-dev to the main site. Any content you add on phet-dev will not automatically transfer to the live site.  Its certainly possible to make this happen, but it requires additional development time.

It shouldn't be a problem to remove the underlines. I'm not an expert on accessibility issues, but I don't think it would be a p

[2015-11-11 18:13] amanda-phet commented on #288
I see a tiny underline on the main categories to the right of the icon in Chrome but not in Firefox.

Please keep the underlines on the platforms under Running Sims. They don't need to be under the icons, but definitely under the text (for accessibility).

[2015-11-11 18:25] oliver-phet commented on #288
I'm not seeing the main category underline on Firefox, either. Seems to be partially present on Safari, but seems to mostly be a Chrome issue.

Can we keep the underlines as @amanda-phet described above? Under text, but not icons?

Also - we can get the help center populated on the live site quickly. Maybe leave Troubleshooting/FAQ then once we have help center populated, we can take those 2 down.

[2015-11-11 18:49] mattpen commented on #288
I've removed the underline from the images on the initial navigation page (its not deployed yet).  Removing them from the font awesome icons will take a little more work but I can get that done today.

Would you like to coordinate a time so we can deploy the helpcenter, upload the content, and remove the troubleshooting/faq in the same night?

[2015-11-11 19:01] oliver-phet commented on #288
We will likely want to have an undergrad do all of the new content. I can ask around to see if any of them are available in the evening to do this. Would it be tonight?
--
Oliver Nix
PhET Interactive Simulations
University of Colorado
oliver.nix@colorado.edu<mailto:oliver.nix@colorado.edu>

On Nov 11, 2015, at 11:49 AM, Matt Pennington <notifications@github.com<mailto:notifications@github.com>> wr

[2015-11-11 19:04] mattpen commented on #288
@oliver-phet I'm not available tonight, I could do it tomorrow (Thurs) night or Sunday night.  I'd also like to coordinate with @aaronsamuel137 as this would be my first deploy to the production site.

[2015-11-11 19:10] amanda-phet commented on #288
Do we need to do some testing on this before deploying?

Also, there is still one tweak left that was requested by @oliver-phet :

[2015-11-11 19:12] jessegreenberg commented on #288
This would have been my suggestion as well.

[2015-11-11 19:17] ariel-phet commented on #288
Minor...but I think we want to have the "iO" icon more inline with the "iO" logo

[2015-11-11 19:25] amanda-phet commented on #288
@ariel-phet should we ask Dave to redesign that icon? He designed it to fit the look of the other icons but we could make it a "capital" O ourselves if that works for you.

[2015-11-11 19:35] oliver-phet commented on #288
I'm going to create a mockup using the iO logo.

[2015-11-11 20:19] oliver-phet commented on #288
@mattpen Can you do a little testing of this once you think it is ready? (Enter/edit a new question/answer) On a couple platforms and 3 major browsers (IE, Firefox, Chrome)

[2015-11-11 20:44] oliver-phet commented on #288
@mattpen To consolidate here some changes we would like you to make. You can reference the attached screenshot. I will email the new translation icon.
![screen shot 2015-11-11 at 1 37 15 pm](https://cloud.githubusercontent.com/assets/5090275/11102500/29b8a91c-887a-11e5-805e-4f7273c93d01.png)

- [ ] Getting Started category seems to be higher than other categories
- [ ] Include tooltips for categor

[2015-11-11 20:51] amanda-phet commented on #298
@arouinfar pointed out a mistake in the CU logo. I will upload the correct version to the folder now. Also, there is a typo in "William" in the first listed sponsor.

[2015-11-11 21:07] jonathanolson opened #309 "Hooke's Law video issue"
@ariel-phet noticed on 2 laptops that the homepage was freezing across multiple browsers on Windows 8, but most noticeably on Firefox.

I helped trace this down to the hookes-law.mp4, which playing that freezes both laptops.

It may be a GPU-specific issue or more of a Windows 8 issue, but we should try re-encoding the video and playing it on those laptops (coordinate with @ariel-phet).

I tested

[2015-11-11 21:26] kathy-phet commented on #305
@jonathanolson  - My 2 cents -- seems like definitely a priority to test this before Aaron leaves. Yes?

[2015-11-11 21:54] kdessau-PhET commented on #298
One question...did Amplify donate? I don't have anything on my records. Also, do we want to update them. Some of the people haven't donated in a while. We could remove them or move them to an previous donors list?

[2015-11-11 22:10] amanda-phet commented on #298
@kdessau-PhET There was a note from @elisemorgan : Wireless Generation **has been renamed Amplify** Does that seem accurate to you?

We are not reviewing the list for current or past... It would be great if you and @kathy-phet reviewed the list and suggested changes. However, we will not be changing it for the purposes of redesigning this page, but the content can always be changed in the future!

[2015-11-11 22:16] kdessau-PhET commented on #298
I hadn't heard that but Wireless Generation did give once. Kathy P., I know that we've revisited as to how deal with sponsors who have given in the past, but have stopped. Do we want to hold off on this until after we get some "partners"?

[2015-11-11 22:54] aaronsamuel137 commented on #309
I assume you are talking about the homepage on phet-dev, since this has not been deployed to the main site yet.

I am not sure what to do with regard to re-encoding this video. I used ffmpeg to resize it, which is what I did with all of the other videos. I know that the videos provided to me by @phet-steele for the other sims didn't have this issue, so perhaps we could ask him what he did?

For no

[2015-11-11 23:04] jonathanolson commented on #309
Yup, sorry.

[2015-11-12 18:46] oliver-phet commented on #288
Another issue that needs fixed: when a English help center string is edited, the associated website string should be changed to 'out-of-date' rather than 'up to date' or 'not-translated'.

[2015-11-12 19:22] ariel-phet commented on #309
@aaronsamuel137  do not include this video on the website deploy

Going to rerecord this video

[2015-11-12 19:22] #309 closed

[2015-11-12 20:50] mattpen commented on #288
@oliver-phet I have these items done and I will push to phet-dev tonight:

 Getting Started category seems to be higher than other categories
 Include tooltips for category icons
 Remove IO
 Realign 2 bottom icons
 New translation icon
 Expandable questions

[2015-11-12 21:10] mattpen commented on #288
@oliver-phet The updates are up on phet-dev now.  I'm still working on the issue of having to double-click to get the question to expand.

[2015-11-12 21:12] mattpen commented on #298
@amanda-phet I updated the third level headers on phet-dev.  Do they look ok now?

[2015-11-12 21:20] amanda-phet commented on #298
Thank you!

I'm not as concerned about the look, just the consistency. One day I will ask you to change h1, h2, and h3, and am hoping every page will change together :)

[2015-11-12 21:28] amanda-phet commented on #298
Three changes that still need to be made:
- CU logo (in drive) needs updating
- W.W. Norton logo (in drive) needs updating
- Amplify needs to go back to Wireless Generation (updated on drive spreadsheet)

[2015-11-13 07:51] arouinfar opened #310 "Native name for "fa" locale missing in "en" (but is present in "fa")"
After submitting the the Persian translation of Hooke's Law, I noticed the native name of the locale (فارسی) is not being properly recorded in the Translations table.
<img width="612" alt="screen shot 2015-11-13 at 12 25 48 am" src="https://cloud.githubusercontent.com/assets/8419308/11140937/553dd5de-899d-11e5-8dea-8d08981b16d9.png">

This is inconsistent with other places on the site. For example

[2015-11-13 20:28] jonathanolson opened #311 "Update Hewlett Google Analytics code"
We'll (I'll?) need to update the main Google Analytics code AND the blog.

See https://github.com/phetsims/yotta/issues/17

@aaronsamuel137, are you aware of any other places on the website (or other web services) we have GA code? Do I need to open up a rosetta issue?

[2015-11-16 15:22] aaronsamuel137 commented on #311
I have not added GA code anywhere expect the donate button in the ask dialog that pops up for new registrations.

The only place I know of where _gaq is defined is in PhetPage.html, so no need to open a rosetta issue unless we want to add GA code there.

[2015-11-16 17:00] aaronsamuel137 commented on #310
This issue is caused by using the default Java Locale display name, which apparently doesn't exist for Persian.

The fix involves falling back to our translation for the string if it is not found in the Java code.

I've implemented this, but I think we should spot check on phet-dev a bit to make sure that everything else still looks correct.

Assigning to @arouinfar for review. (Take a look at som

[2015-11-16 17:44] mattpen commented on #288
FYI - If you're wondering where the questions went, there was a database sync with the production site over the weekend and the questions were removed.  This is not an issue that will happen once it goes live.

[2015-11-16 18:15] mattpen commented on #288
@oliver-phet I fixed the problem with expandable questions this morning and pushed it to phet-dev.  I think the page is ready for testing.

[2015-11-16 18:16] mattpen commented on #298
@amanda-phet These changes have been completed and pushed to phet-dev.

[2015-11-16 18:32] amanda-phet commented on #298
Logos look good. Wireless Generation currently links to phet-dev, so we should remove that and just leave it with no link.

Once that is done I think you can deploy it to figaro!

[2015-11-16 18:51] arouinfar commented on #310
Thanks for looking into this issue @aaronsamuel137.

I found two other places that could use the fallback solution. Other than that, everything else looks good.

http://phet-dev.colorado.edu/en/simulations/translated/fa
The title of the table should read: فارسی (Persian)
![image](https://cloud.githubusercontent.com/assets/8419308/11190224/c5bded74-8c51-11e5-9651-7cd2cc7655e3.png)

http://phet-dev.

[2015-11-16 18:55] phet-steele opened #312 "Different spacing between admin help center questions"
@mattpen Can you fix the spacing between questions on the admin panel of the help center? The 'Edit'/'Delete' button should be adjacent to the q/a they control. It might be best if they were to the left of the q/a they control (rather than above). See the screenshot below (disregard these awesome, bogus test questions):

Here's what it is now:

![help center spacing](https://cloud.githubuserconten

[2015-11-16 19:17] oliver-phet commented on #288
I just tested: http://phet-dev.colorado.edu/en/help-center/getting-started

It took me 2 clicks to expand a question. We also will need to cursor to change to a "hand" when hovering over an expandable question.

Also, the alignment of the icons once you are into a category page, seems off. See the original .png for alignment. They need to be shifted to the right so that, for instance, 'Getting Sta

[2015-11-16 19:19] phet-steele commented on #288
Side note: took me 2 clicks to expand a question after each page refresh, but only one click to open and close after the original two.

[2015-11-16 21:03] kathy-phet commented on #311
JO, Aaron - Given extent of changes required. Please hold off on making any changes here until we speak with Lunametrics.
Kathy

[2015-11-16 21:20] mattpen commented on #288
* Which browsers are you using @oliver-phet and @phet-steele?  I'm using Chrome and it only takes one click.
* I've updated the hover cursor to a pointer.
* Oliver, I'm not exactly sure whats out of alignment.  Can you take a screenshot and highlight it?

[2015-11-16 22:03] ariel-phet opened #313 "CCK Donation Ask"
@mattpen this will be a high priority project for you and will trump most other work (except critical fixes) in terms of priority

Originally, we had thought about putting this "ask" within the sim itself, but we have decided to try it out directly on the website itself. Details on the look of the ask are here:

https://github.com/phetsims/tasks/issues/395

The basic behavior should go something l

[2015-11-16 22:04] ariel-phet commented on #313
@jonathanolson please make a list of bullet points as to why dealing with the "direct link" to the jnlp would be problematic.

[2015-11-16 22:05] ariel-phet commented on #313
@jonathanolson and then reassign issue to @mattpen -- thanks!

[2015-11-16 22:09] phet-steele commented on #288
Windows 8.1 on both FF and Chrome. Again, it only takes one click after the initial two.

[2015-11-16 22:11] aaronsamuel137 commented on #313
@mattpen, talk to me before you start this. There are already ways of handling dialogs like this in the website code, so I can save you a lot of time showing you how the previous ask dialog was set up.

[2015-11-16 22:16] ariel-phet commented on #313
Thanks @aaronsamuel137!

[2015-11-16 22:30] ariel-phet commented on #313
Artwork avaiable in this folder (cckask2.ai)

https://drive.google.com/drive/folders/0B-YvjkIIcS_aRVFvZ2NDYlZ6Qkk

[2015-11-16 22:45] aaronsamuel137 commented on #310
I've made these changes, anything else to do here?

Assigning to @arouinfar for review.

[2015-11-16 22:57] kathy-phet commented on #313
Just to give some data on how the number of asks will change by taking this website based approach:
GA has number of hits to the CCK simulation pages (all flavors) in April 2015 as: 316,000
Yotta shows the number of .jnlp runs for CCK simulations (all flavors) in April 2015 as: 1,225,787

So assuming that when someone lands on CCK simulation page, they do actually try to run the sim in some way, w

[2015-11-16 23:03] aaronsamuel137 commented on #308
This has been completed and deployed. Closing

[2015-11-16 23:03] #308 closed

[2015-11-16 23:04] ariel-phet commented on #313
@kathy-phet - however I would say that a numerous percentage of those jnlp launches may well be students (quite likely in fact) so yes, you might be missing asks, but that may not be a bad thing, since the ask is not going in front of students as much.

[2015-11-16 23:05] aaronsamuel137 commented on #307
@emily-phet, take a look here if you want to verify all looks good before we deploy: http://phet-dev.colorado.edu/en/research

We'll probably deploy this on Wednesday evening.

[2015-11-16 23:08] kathy-phet commented on #313
True, that could be. At any rate, we will see what we get. GA says we get about 1,300 landing on the registration page per day right now. About 8,000 landing on CCK page per day right now. M-F at least.

[2015-11-16 23:15] aaronsamuel137 commented on #303
These changes were reverted because the hookes-law video we had seemed to be causing issues. Unassigning for now.

[2015-11-16 23:16] arouinfar commented on #310
@aaronsamuel137, the Translated Sims page and the sim pages look good. However, it looks like something on the /simulations/translated/[locale] pages is broken. (e.g. http://phet.colorado.edu/en/simulations/translated/es)

The pages that lists all of the sims in a given locale should be titled: Native name of locale (Name of language in website's locale)

For example, the list of sims in Spanish s

[2015-11-16 23:37] jonathanolson commented on #313
1. When a JNLP is saved and run, it will attempt to download the JNLP location (expecting a JNLP). If this isn't a JNLP file for those users, this will break and the sim won't run. This can be worked around somewhat by trying to detect the user-agent string.
2. If we do detect the user-agent string for ALL Java Web Start versions we'd support (complicated testing procedure for ~3+ versions), Googl

[2015-11-16 23:53] emily-phet commented on #307
A few tweaks:
- Please remove the periods after the titles. (Many have a period, and then a comma. There should just be a comma).
- All references should end with a period (some have no punctuation after the year at the end).
- The very first reference "Designing accessible interactive chemistry simulations., Moore, E. B., ConfChem: Interactive Visualizations for Chemistry Teaching and Learning. ,

[2015-11-17 00:14] aaronsamuel137 commented on #310
Good catch, I did swap the pattern. Should be fixed now on phet-dev (you might need to hard refresh). I'll plan on deploying this on Wednesday unless you see any other issues.

[2015-11-17 00:31] arouinfar commented on #310
Looks good on my end! Thanks @aaronsamuel137.

[2015-11-17 18:36] kdessau-PhET commented on #313
Here's the donate now URL for this Ask: https://donatenow.networkforgood.org/html5cckdonatenow

[2015-11-17 18:43] oliver-phet commented on #288
Just did a hard refresh and behavior is fixed.
--
Oliver Nix
PhET Interactive Simulations
University of Colorado
oliver.nix@colorado.edu<mailto:oliver.nix@colorado.edu>

On Nov 16, 2015, at 3:09 PM, phet-steele <notifications@github.com<mailto:notifications@github.com>> wrote:

Windows 8.1 on both FF and Chrome. Again, it only takes one click after the initial two.

—
Reply to this email directly

[2015-11-17 18:45] oliver-phet commented on #288
@mattpen Regarding alignment, notice the alignment of the blue 'Getting Started' text:
Currently on phet-dev:
<img width="1280" alt="screen shot 2015-11-17 at 11 43 23 am" src="https://cloud.githubusercontent.com/assets/5090275/11221111/98f40754-8d20-11e5-9da3-d739fad41a01.png">

Design/requested alignment:
<img width="1280" alt="screen shot 2015-11-16 at 12 14 53 pm" src="https://cloud.githubuser

[2015-11-17 19:14] kdessau-PhET commented on #313
Changed the donate now URL for this to:  https://donatenow.networkforgood.org/html5donatenow

[2015-11-17 19:24] ariel-phet opened #314 "By device category not displaying correctly for other locales"
@aaronsamuel137 on the by device category, sims are not showing up properly for non-english locales. For instance, many java versions in the iPad category

I think I see what the problem is. It appears there is some competing website logic. If you are viewing the site in a particular locale, If a translated version exists, it is populating the sim list with that version. So for instance, if balloo

[2015-11-17 19:25] mattpen commented on #288
OK, I see what you mean.  I caught this and corrected it in the code yesterday.  It will show up on phet-dev on the next push.

[2015-11-17 22:02] aaronsamuel137 commented on #314
I'll probably have time to do this, and I'll reassign to @mattpen if not. Planning on looking into it next.

[2015-11-18 16:23] aaronsamuel137 commented on #314
There are other things to think about here too. For instance, http://phet.colorado.edu/da/simulations/category/physics/heat-and-thermodynamics shows the flash version of friction, not the HTML5.

Also, going to the html5 friction sim page (http://phet.colorado.edu/da/simulation/friction) you see a message that the sim is not translated, though it actually is, and the link still links to the Englis

[2015-11-18 17:04] ariel-phet commented on #314
@aaronsamuel137 please start making such a list. We can also have someone like @phet-steele go through the site in a different locale and identify inconsistencies we may not have considered.

[2015-11-18 17:16] aaronsamuel137 commented on #314
- Links in the sim display panel should go to HTML5 pages in translations if there is an HTML5 translation
- Sim page should link to translated sim when it exists
- Related sim section for translations should link to translated sim when it exists
- There might be some other things, we should probably have someone browse through and check that everything looks right.

In general, I think we should

[2015-11-18 17:17] ariel-phet commented on #314
Excellent

[2015-11-18 17:19] jonathanolson opened #315 "Discussion for alternative fallback solutions and stability"
Could include a static fallback site.

[2015-11-18 18:18] oliver-phet opened #316 "Add HTML5 Translation Utility User Guide link to HTML5 translation page"
We should add a link to the user guide to the HTML5 translation page: https://phet.colorado.edu/translate/

Basically, add a line for 'User Guide' and put a line break after.
The guide is located at https://docs.google.com/document/d/11BLxC7eDct6eifH1-nR6tWaxlnGeNEn2SPquT-lIUgY/edit#heading=h.cthiox7kfgfc

Here is a mockup: [Translate_Screen.pdf](https://github.com/phetsims/website/files/38174/Tra

[2015-11-18 18:36] phet-steele opened #317 "Strings being updated as "up to date" without the string changing"
When going through the translation admin page, the strings that are not translated have their box outlined in red. They change to blue once they have been translated, however, they change to blue regardless of if the string text has changed at all. You can simply click on the text then click away and it will be considered translated. Is this desired? I can see it being helpful if the original stri

[2015-11-18 18:47] arouinfar commented on #310
Reassigning to @aaronsamuel137 for redeploy.

[2015-11-18 19:05] phet-steele opened #318 "Help Center should use default strings if they are empty"
Same thing as https://github.com/phetsims/rosetta/issues/46
Make sense @mattpen ?

[2015-11-18 19:21] aaronsamuel137 commented on #314
OK this is deployed to phet-dev. @ariel-phet can you take a look or assign to someone else?

One other question here. The "Play with sims" button on the home page currently takes you to all sims instead of new sims if you are not browsing in English. Should we change this now that there are some HTML5 translations?

[2015-11-18 19:30] aaronsamuel137 commented on #297
The new API file has been merged into master (MetadataAPI.java), but it is commented out as a route in PhetWicketApplication because the three remaining items in the above comment are not yet taken care of.

Assigning to @jonathanolson since he will be taking this issue over after I leave.

[2015-11-18 19:54] phet-steele commented on #318
I realize now that when I made the original issue in Rosetta that the change had a pretty small scope. I'm guessing that if this is something we were trying to address for the help center, it would probably be in the scope of the entire website. So maybe this isn't as straightforward an issue as I thought but warrants more time and discussion.

[2015-11-18 20:15] oliver-phet opened #319 "'Translate Simulation' from homepage should go to For Translators page"
This link on the home page: https://phet.colorado.edu/en/for-translators/translation-utility
Should direct to https://phet.colorado.edu/en/for-translators

Currently, it takes you to the Java/Flash utility.

[2015-11-18 20:21] arouinfar opened #320 "Remove translation warning string at the top of HTML5 sim pages"
When viewing a HTML5 sim page in a non-en locale (e.g. es_PE) there is a warning at the top of the page that tells users that the sim is not available in that locale. This is problematic, as some sims are now translatable and are actually available in that locale (as in the example below). As discussed in today's website design meeting, we've decided to remove this string from the top of all HTML5

[2015-11-18 20:23] aaronsamuel137 commented on #320
This will be covered as part of #314.

[2015-11-18 20:25] aaronsamuel137 commented on #320
Actually, what I have done is have it display only if there is no translation in that locale. See phet-dev for the current behavior.

Should I remove it in all cases?

[2015-11-18 20:31] arouinfar commented on #320
Great! Thanks @aaronsamuel137. The behavior now on phet-dev is ideal. We had suggested killing the string altogether because we thought it would be quicker to implement. I'll go ahead and close this issue.

[2015-11-18 20:31] #320 closed

[2015-11-18 20:40] mattpen commented on #313
@ariel-phet When a user clicks the DonateNow button, the page will open in a new tab.  Can you clarify what should happen on the original page after clicking the Donate button?  Options are 1. nothing, the CCKask popup remains 2. Sim launches or prompts to download in the background, 3. The CCKask popup disappears with no other action.

[2015-11-18 20:43] mattpen commented on #313
Regarding requirement 5, do we want to skip the ask using tracking with a cookie if the user has simply
visited the DonateNow link (easy to implement), or actually donated (not so easy)?

[2015-11-18 20:48] mattpen opened #321 "Remove auto button from Admin Translate page"
As noticed by @phet-steele, there is a link for automatic translation on the Admin Edit Translation page that does not work.  The button replaces the current text with an ellipsis.  The problem is due to a change in version of Google Translate API, which is now a paid service.  @jonathanolson suggested that this was simply used for testing, is not compatible with html, and can be removed.

I'm ass

[2015-11-18 21:07] ariel-phet opened #322 "Change "Translation Credits" to "HTML5 Translation Credits""
@mattpen when you get a chance can you change the sidebar navigation under For Translator from "Translation Credits" to "HTML5 Translation Credits"  (this should also change the title of the page)

[2015-11-18 22:30] aaronsamuel137 commented on #322
I'll take care of this. It's just changing the string key nav.forTranslators.translationCredits in the admin interface.

[2015-11-18 22:31] aaronsamuel137 commented on #322
Done, assigning to @ariel-phet for review. If you review within the next 15 minutes you might need to login to bypass varnish.

[2015-11-18 22:33] aaronsamuel137 commented on #314
Has anyone had time to review this? It would be nice to deploy live tonight since this change is on master with some other changes we have made. Not sure who should do it, probably one of @ariel-phet, @amanda-phet, @arouinfar, @phet-steele

[2015-11-18 22:58] amanda-phet commented on #314
I looked it over and things looked good to me, but some more people should probably also look!

[2015-11-18 23:52] amanda-phet commented on #314
Sorry, looking again and have a question: When browsing All Sims, the non-translated sims should be at the bottom, right? It seems like they are for http://phet-dev.colorado.edu/da/simulations but not for http://phet-dev.colorado.edu/pt/simulations (I'm not sure I even understand the order here... it seems like HTML5 are all at the bottom but java and flash are still sprinkled in there).

[2015-11-19 00:11] ariel-phet commented on #322
Looking good.

@aaronsamuel137 we figured we could change this in the admin interface, but @oliver-phet was a little unsure of exactly which string. thanks for handling it!

[2015-11-19 00:11] #322 closed

[2015-11-19 03:10] aaronsamuel137 commented on #314
I've looked into this a little bit, and I think I've figured out why it's happening. For one thing, this happens already on phet.colorado.edu. I think the reason is that there actually is a Portuguese translation, it's just Brazilian Portuguese (pt_BR vs pt). The site is smart enough to realize that there is a Portuguese translation for the given sim, so it isn't marked as untranslated (grey text)

[2015-11-19 03:45] amanda-phet commented on #314
Ah, so I just happened to click on a locale that has a unique way to sort!

Otherwise it seemed to look ok to me but maybe some others should take a peek too.

Sent by Outlook<http://taps.io/outlookmobile> for Android

On Wed, Nov 18, 2015 at 7:10 PM -0800, "Aaron Davis" <notifications@github.com<mailto:notifications@github.com>> wrote:

I've looked into this a little bit, and I think I've figured

[2015-11-19 06:14] ariel-phet commented on #314
Here is one odd thing I see. If you view the site in danish, and look at the ipad category:
http://phet-dev.colorado.edu/da/simulations/category/by-device/ipad-tablet

Beer's Law Lab shows up at the top of the list but as "Beer's Law Lab" not as the translated name of the sim. Yet, if you open the sim, it opens in the Danish language. Seems odd since all the other translated HTML5 sims show the tr

[2015-11-19 06:16] ariel-phet commented on #314
Otherwise things are generally looking good to me.

[2015-11-19 06:21] ariel-phet commented on #319
@mattpen has this change been pushed to the live site yet?

[2015-11-19 06:36] ariel-phet commented on #316
Going to move this to a rosetta issue since it really belongs there

[2015-11-19 06:39] ariel-phet commented on #316
moved to https://github.com/phetsims/rosetta/issues/104

Closing

[2015-11-19 06:39] #316 closed

[2015-11-19 06:53] kathy-phet commented on #314
Seems likely that the website has these two fields - the Java sim name and the html sim name - as different strings so the translator would need to have both strings in the website code translated. In this case the sim is translated but the website string is not yet? Could that explain?
K

Sent from my iPhone

On Nov 18, 2015, at 11:16 PM, Ariel Paul <notifications@github.com<mailto:notifications@

[2015-11-19 14:37] aaronsamuel137 commented on #314
This is actually due to the fact that the translator didn't translate the title, and therefore it is defaulting back to English. You can see it here in rosetta: https://phet.colorado.edu/translate/sim/beers-law-lab/da, the field for beers-law-lab.title is not translated. Looks like there are quite a few other fields left untranslated too, not sure why.

[2015-11-19 14:39] aaronsamuel137 commented on #314
Any thoughts on my question from https://github.com/phetsims/website/issues/314#issuecomment-157829209?

[2015-11-19 14:41] aaronsamuel137 commented on #319
We didn't end up deploying last night because I wasn't sure if all of the changes for #314 were tested and verified correct. I'll plan on deploying tonight if everything is good to go and all of these changes will go live at once.

[2015-11-19 14:56] ariel-phet commented on #314
@aaronsamuel137 would it be possible to have some sort of threshold in the locale? For instance, I would feel comfortable sending someone viewing in Brazilian Portuguese to the new sims page, but in a locale that has no translations that might not be so useful.I am not sure if that is worth the additional logic on the website right now...maybe we should make an issue that once we have deployed 20

[2015-11-19 15:01] ariel-phet commented on #314
and @aaronsamuel137 thanks for the beers law lab explanation. Just wanted to make sure it wasn't something anomalous. Overall I would say deploy, and we will have someone like Steele go through and look for any other issues, nothing else was obvious to me.

[2015-11-19 15:31] aaronsamuel137 commented on #314
Sounds like a good plan. I'll create the issue.

I'll deploy tonight.

[2015-11-19 15:33] aaronsamuel137 opened #323 "Change behavior of Play with Sims button after more HTML5 sims are translatable"
Discussed in #314.

Currently the play with sims button in non-English locales goes to all sims instead of new sims like it does in English. This issue servers as a reminder that we want to change this behavior after we have 20 or so translatable HTML5 sims.

[2015-11-19 16:00] aaronsamuel137 commented on #313
I've reviewed changes so far. Here's a few issues I've noticed:

In sim-page.js:

[code]

This won't work in a non English locale since the og:title will be translated. Better to use the URL instead, or something else that won't change in different locales.

Also, there are 2 occurrences of `dialogOpened = true;` in sim-page.js. Are these needed? dialogOpened is never declared as a var, and doesn'

[2015-11-19 17:17] mattpen commented on #313
This popup is not translatable because the text is part of the image, should it be popping up in a non-english locale?

[2015-11-19 17:31] aaronsamuel137 commented on #313
Good question, I would think so, but I think @ariel-phet or @kathy-phet should answer this to be sure.

[2015-11-19 18:20] mattpen commented on #313
@ariel-phet Can you please send an image without text so we can make the ask translatable?

[2015-11-19 19:17] oliver-phet opened #324 "Update to translation table, addition of 'Teacher Tips' column"
@mattpen Here is the mockup of the new translation table.
Note the changes to the 'Language' column of the table: the new 'All [locale]' replacing 'All sims in [locale]'

<img width="904" alt="screen shot 2015-11-19 at 12 12 07 pm" src="https://cloud.githubusercontent.com/assets/5090275/11281210/dcd6570a-8eb6-11e5-910d-393cac1865ed.png">

[2015-11-20 04:57] ariel-phet commented on #313
Image sent back to @mattpen

[2015-11-20 05:10] aaronsamuel137 commented on #319
Deployed. Closing

[2015-11-20 05:10] #319 closed

[2015-11-20 05:15] aaronsamuel137 commented on #314
Deployed. Anything else to do here @ariel-phet?

[2015-11-20 05:16] aaronsamuel137 commented on #310
Deployed to figaro. Closing

[2015-11-20 05:16] #310 closed

[2015-11-20 05:42] ariel-phet commented on #314
Nope, looking great, thanks!

[2015-11-20 05:42] #314 closed

[2015-11-20 05:58] ariel-phet commented on #282
I think I am just going to go ahead and close this issue. Bigger fish to fry.

[2015-11-20 05:58] #282 closed

[2015-11-20 06:06] ariel-phet opened #325 "Donation page should be updated to match current banner and sidebar navigation"
@kdessau-PhET we would like to update the network for good pages

both the main donation page:
https://donatenow.networkforgood.org/1437859

And the one for the new CCK ask.

We would like to update both the banner and the sidebar navigation to match the current main website.

[2015-11-20 16:58] phet-steele opened #326 "Help Center translations shoud be "out of date" after a string is edited"
@mattpen When editing existing questions in the Help Center that have been translated in the past, the translation admin page is supposed to outline the now out of date translations in yellow. Instead they are outlined in red signifying they haven't been translated before. Discovered on 11-16, verified as still not working on 11-20.

[2015-11-20 17:07] phet-steele opened #327 "Question and answer strings on the translation admin page updating simultaneously"
When editing a question in the Help Center admin page, even if only the question string is edited (the answer string is left untouched) both strings will appear on the translation admin page with a red box like they were both updated (side note, they should be yellow. see #326). @mattpen I think it would behave better in this case if only the question string's box changed outline color since the c

[2015-11-20 17:53] mattpen commented on #313
@kathy-phet @ariel-phet After discussing the problem of tracking the number of times a user is asked, @aaronsamuel137 and I determined that it is easier to track this in GA because these links will often be clicked when a user is not logged in.  If the user is not logged in, we currently have no place to store the ask data.

In addition, do we want to track the specific page where the ask is shown

[2015-11-20 17:55] kathy-phet commented on #313
Hi Matt, I agree - track even if not logged in so GA seems like the best approach. I don't need to know the page from which the CCKAsk was launched - just the total number viewed. Thx!

[2015-11-20 18:02] mattpen commented on #313
Excellent, thanks Kathy.  I'll make the strings translatable on Monday and push it to phet-dev to test.

[2015-11-23 20:52] amanda-phet commented on #324
Just so the "All..." links are clear, I made an updated mockup.

Also, a teacher tips PDF icon will only be there if applicable for that locale, and the icon should be the same image used for teacher tips under For Teachers.

<img width="694" alt="screen shot 2015-11-23 at 1 49 55 pm" src="https://cloud.githubusercontent.com/assets/7852916/11349394/475cb972-91e9-11e5-830b-030566a83f2f.png">

[2015-11-24 03:55] emily-phet opened #328 "Update to "Work on PhET by Outside Researchers" Section of Research page"
Please add to the top of the "Work on PhET by Outside Researchers" section this reference:

Effectiveness of an inquiry-based learning using interactive simulations for enhancing students’ conceptual understanding in physics, Fan, Xinxin (2015). PhD Thesis, School of Education, The University of Queensland.
Link: http://espace.library.uq.edu.au/view/UQ:372336

Also, please change the heading of th

[2015-11-24 16:08] ariel-phet commented on #328
@mattpen - this is not currently a high priority change, but it is an easy one, so if you feel like knocking off something simple, it would be good to fit in.

[2015-11-25 17:39] oliver-phet opened #329 "Some users report not receiving account confirmation email"
@jonathanolson Some users have emailed phethelp in the past few weeks reporting that they are not receiving an account confirmation email. Most of the affected users have school accounts (eg: @k12.sd.us)

I suspect the emails are being flagged by the school email server and are not delivered.

Is there a way to check that these emails were successfully sent from us (to ensure it is not a problem o

[2015-11-25 18:34] jonathanolson commented on #329
Sign ups and confirmations are logged in the main website log. I presume an actual email failure would show up there. We can also potentially check the email account to see if we got a "rejected" reply back.

I can send you the log, filtered to display that information for whatever period we need to check over, or I can filter it for individual email addresses.

[2015-11-25 18:47] oliver-phet commented on #329
Can you send me the log for 11/18-11/25?

[2015-11-30 17:36] jonathanolson commented on #329
Sent the log file information, let me know if I can help further.

[2015-11-30 18:00] phet-steele opened #330 "Most locale links break when viewed in RTL"
On the live site, viewing an RTL locale makes it difficult if not impossible to change back to other locales via the links at the bottom of the website (except English, nn, ko, vi, and other RTL locales are easy to click on). Noticed on Win 8.1 Chrome (personal device), and @arouinfar noticed it on her computer, too. Didn't see this on FF or IE11 as of 11/30.

[2015-11-30 18:12] phet-steele opened #331 "Extra line by "ar_SA" and "ku" locale links"
On the live site, there is a second line that appears next to the "ar_SA" and "ku" locales along the bottom of the website when viewed in RTL:

![double line](https://cloud.githubusercontent.com/assets/5863899/11480125/ec729134-9752-11e5-998f-e2517b334763.PNG)

Seen on Win 8.1 browsers (personal device).

[2015-11-30 18:12] kdessau-PhET commented on #325
I've made the request to Network for Good $99 fee but it may take awhile.

KD

[2015-11-30 18:23] oliver-phet commented on #329
Just checked the account associated with the first account help email today... the following is the log info "Could not find email for resend confirmation attempt. Email: [EMAILREMOVED]@talbot.k12.ga.us client: 168"

Does this mean the user entered a different email for resending the confirmation than the email originally used for registering? Does capitalization factor in?

[2015-11-30 18:40] jonathanolson commented on #329
Just refreshed myself with some changes to the login/confirmations. Looks like they went to the sign-in, hit "Resend email confirmation", and then typed an email that the system did not recognize.

If I'm reading things correctly, it looks like capitalization does not factor in.

[2015-11-30 18:45] jonathanolson commented on #329
Just checked for the matching email across logs. Looks like I only see attempts of resending the confirmation, and for resetting password. Don't see any capitalization changes (I searched for relevant entries in the DB also).

Probably have them sign up as normal?

[2015-11-30 18:52] oliver-phet opened #332 "Add ability to easily re-order questions"
We would like the ability to easily reorder the questions in the help center. Once the help center is up and running we'll visit adding this.
@phet-steele

[2015-11-30 19:01] phet-steele opened #333 "Question/answer order needs to be retained after editing"
Currently if I have a certain order of questions, say:

-Question 1
-Question 2
-Question 3

and I go to edit Question 1 for some reason, maybe a typo, the website will place the most recently updated question and answer at the bottom of the list so now the order appears as such:

-Question 2
-Question 3
-Question 1

This is not desired behaviour, it would be better to maintain the order while edi

[2015-11-30 19:16] mattpen commented on #313
@kathy-phet @ariel-phet , the cckAsk dialog box is now up on **[phet-dev](https://phet-dev.colorado.edu/en/simulation/circuit-construction-kit-dc)**.  Let me know if you see anything that needs to be improved.

[2015-11-30 19:35] phet-steele commented on #313
The text at the top looks decent on IE11, but not FF or Chrome (Win 8.1). All of them have the text slightly too high compared to the nearby colon.
IE11:
![ie ed](https://cloud.githubusercontent.com/assets/5863899/11482084/156b2afa-975e-11e5-9b0e-38524533311a.PNG)

FF:
![ff ed](https://cloud.githubusercontent.com/assets/5863899/11482091/1f8fedcc-975e-11e5-9246-e4d6261baa78.PNG)

Chrome:
![chrome e

[2015-11-30 19:36] mattpen commented on #313
I put the translatable strings under the "Simulation" section of the website utility.  If they should be somewhere else, please let me know.

[2015-11-30 19:38] kathy-phet commented on #313
For the yellow button - looks like you can just move the whole button up a tad.

[2015-11-30 19:41] mattpen commented on #313
@ariel-phet - is it possible to get an image without text where the yellow button does not overlap the yardstick?

[2015-11-30 19:46] kathy-phet commented on #313
Two suggestions:

It looks like making the whole scene just slightly wider, so the black board could be wider would help keep the text legible and within the blackboard.

Also, is there a way for the FF text to be less pixelated?

But overall -  its looking great and exciting to see it close!
K

[2015-11-30 19:54] ariel-phet commented on #313
@mattpen pretty much anything possible...are you available on skype at some point for pixel polishing?

[2015-11-30 19:57] mattpen commented on #313
@ariel-phet I'm available until 3PM today

[2015-11-30 20:21] kdessau-PhET commented on #313
Also FYI, I've requested the CCK donation page to be updated to match the website. It will take up to 10 days for complete.

[2015-11-30 21:57] mattpen commented on #313
@kathy-phet @ariel-phet I've polished up the appearance and pushed the changes to phet-dev.  Please let me know what you think.

[2015-11-30 22:02] ariel-phet commented on #313
Looking pretty good to me!

[2015-12-01 04:48] kdessau-PhET commented on #313
Looks good to me too!

[2015-12-01 07:17] kathy-phet commented on #313
Looks good to me too! I don't think we need to wait until Network for Good look is updated. It will be nice when it is, but it doesn't seem like a show stopper to me.

Thanks, Matt! Nice work everyone!

[2015-12-01 13:36] mattpen commented on #313
Thanks everyone.  I'll push this to the main site one evening this week.

[2015-12-01 13:42] mattpen commented on #307
This was deployed to the main site on 11/19. Closing.

[2015-12-01 13:42] #307 closed

[2015-12-01 14:02] mattpen commented on #328
@emily-phet, I'm pushing this to phet-dev now.  If it looks ok I'll push to the main site later this week.

[2015-12-01 15:45] mattpen commented on #327
I'll have to add some additional logic, but this shouldn't be to hard to do.  I'll make this change within the next week.

[2015-12-01 15:48] mattpen commented on #332
I'm going to move this over to #333 and close this as a duplicate.

[2015-12-01 15:48] #332 closed

[2015-12-01 15:48] mattpen commented on #333
@oliver-phet wrote: "We would like the ability to easily reorder the questions in the help center. Once the help center is up and running we'll visit adding this."

I'll try to implement this behavior in the next week.

[2015-12-01 16:36] mattpen commented on #312
@phet-steele This should be up on phet-dev now

[2015-12-01 16:41] mattpen commented on #288
@oliver-phet - I fixed the alignment of the category icons and published it on phet-dev.

[2015-12-01 19:52] oliver-phet commented on #288
Looks good, Matt!

[2015-12-01 20:05] mattpen commented on #326
@oliver-phet @phet-steele I *think* this issue should be fixed now.  I found a problem where the edit function was just creating a new Translated String every time you edit instead of only when you change the system name.  Can you test it out?  I'll take a look, but I'm not an expert with the translations yet.

[2015-12-01 20:05] mattpen commented on #327
@phet-steele I separated this behavior.  Can you please test?

[2015-12-01 20:09] mattpen commented on #333
@phet-steele - The questions are now ordered by id, which is roughly by creation date.  If you delete a question, the next new question will get its id, so its easy to break the ordering.  I'm going to make this more robust when I add the option to reorder them arbitrarily.

[2015-12-02 17:04] amanda-phet commented on #298
Hey @mattpen . It seems like there is not much left to do on this page. Is there anything left to do other than change the Wireless Generation link?

[2015-12-02 17:14] phet-steele opened #334 "Help Center and Website Translation Utility out of sync?"
At the moment these two question/answer strings are available to translate in the website utility:

![linux 16](https://cloud.githubusercontent.com/assets/5863899/11537827/2d2cef3c-98dc-11e5-9aeb-84311325be62.PNG)

![chromebook 14](https://cloud.githubusercontent.com/assets/5863899/11537843/4a790544-98dc-11e5-81cc-bdadd34462a7.PNG)

However! These questions do not exist on the Help Center admin pa

[2015-12-02 17:16] phet-steele commented on #326
Working for me!

[2015-12-02 17:16] #326 closed

[2015-12-02 17:22] phet-steele commented on #327
Good to go!

[2015-12-02 17:22] #327 closed

[2015-12-02 17:32] mattpen commented on #298
@amanda-phet That's the only thing left that I can think of.  I'll fix that today.  The changes to this page got intertwined with the new help-center, so I'm waiting to deploy to the main site until the help-center's initial roll out, but it should be ready to go soon.

[2015-12-02 17:38] mattpen commented on #306
@amanda-phet The first section, "Desktop/Laptop Computer", is up on phet-dev now.  http://phet-dev.colorado.edu/en/offline-access

[2015-12-02 17:46] amanda-phet commented on #306
It looks really great!

I will work on the text for the iPad section since that sentence was just filler.

[2015-12-02 17:52] mattpen commented on #306
Ok, thanks!
I'll start work on the Chromebook section next.

[2015-12-02 19:11] mattpen commented on #324
@oliver-phet What is your current process for uploading the teacher tips?  As of today, the teacher tips do not have a locale associated.  I can update the database so it has a locale column, but I want to make sure that when they are uploaded that we can specify the locale.

[2015-12-02 19:17] oliver-phet commented on #324
@mattpen The sim designer uploads the tips, I've never actually done it before. Perhaps @arouinfar or @amanda-phet can comment. I think it would be fine to add a 'locale' column that is required - so the original tips are uploaded as "_en".

[2015-12-02 19:23] amanda-phet commented on #324
@oliver-phet that's correct. We upload them under administration. I agree that a locale selection is a good idea since they go to different places.

[2015-12-02 19:23] arouinfar commented on #324
@oliver-phet I also think it'd be good to add a locale section.

[2015-12-02 19:54] mattpen commented on #324
Are we keeping the Teacher Tips section as it currently exists on the main site (in the "For Teachers" section)?

If so, if an end user views the simulation page in a locale that is not English and a teacher tips file exists for that sim in that locale, should this link go to the English guide or the guide for the locale?

[2015-12-02 20:14] oliver-phet commented on #324
Existing Teacher Tips section will not be changing... except if an end user views the simulation page in a locale that is not English and a teacher tips file exists for that sim in that locale, it will open the guide in that locale.

[2015-12-03 00:27] amanda-phet commented on #301
OK, here is the final mockup:

<img width="567" alt="screen shot 2015-12-02 at 5 17 55 pm" src="https://cloud.githubusercontent.com/assets/7852916/11548357/aa4fefe6-9918-11e5-9880-7c530f612c84.png">

The changes to the *current* page are:
- [ ] Remove the New Sims page title and slide up the video player so that it is top-aligned and left-aligned with the page content
- [ ] Move the link for "The

[2015-12-03 00:27] amanda-phet commented on #301
@ariel-phet can you prioritize? I imagine this should come after the other things like help center, etc.

[2015-12-03 03:13] ariel-phet commented on #301
@mattpen, this is certainly lower priority, but if you need a break from the help center, this would be a nice small improvement to the website. Feel free to chip away as time allows.

[2015-12-03 17:02] mattpen commented on #324
I think I've got this working, but I can't test the file uploads with my VM due to a separate issue.  I'll deploy to phet-dev once help-center testing is complete.

[2015-12-03 18:12] mattpen commented on #334
I jumbled a few things up on the back end when removing the IO category.  This should be fixed now.  @phet-steele can you please test it again?

[2015-12-03 18:16] kathy-phet commented on #313
Hi Matt, Just wondering what day you might expect this to get posted. It would be great to see it up on the main site and start seeing how effective it is. Thanks! K

[2015-12-03 18:21] mattpen commented on #288
@oliver-phet - I think I've addressed all of the concerns for the help-center, with the exception of the ability to reorder questions.  This will take a little thought to automate, we can do it manually in the meantime.

Is there anything I've missed? Anything else we need to test before moving it to the main site?

[2015-12-03 18:24] oliver-phet commented on #288
Thanks for the update. We are going to play around with the icon spacing and text a bit before we move to the main site. I'd also like the student testers to play around with adding more questions before deploy.

One other question for you - should we plan on adding questions once the help center is on the main site? Or can we move the question content over from dev to main?

[2015-12-03 18:25] jonathanolson opened #335 "Investigate PHP upgrade"
Should be done by February/March, to see what the difficulty of upgrading PHP would be when moving to ox.

[2015-12-03 18:31] mattpen commented on #313
Hi Kathy, I plan on publishing it later tonight.

[2015-12-03 18:39] mattpen commented on #318
@phet-steele Is there an example I can see of where this happens in the help-center?  Is this a blocking issue for the help-center going live, or can it be fixed later?

[2015-12-03 20:18] mattpen commented on #288
@oliver-phet Moving the questions from the dev site to production doesn't have a straight forward solution.  It's probably easier to just copy/paste everything manually than write a script for this.  Here's my proposal for getting the questions up.
1. Once testing is complete we do the initial deploy where only the Admin utility goes live and we keep the links to the HelpCenter pages hidden.  We c

[2015-12-03 20:29] oliver-phet commented on #288
That sounds perfect. I hadn't thought of keeping the pages hidden.

[2015-12-03 22:43] jessegreenberg opened #336 "Update to PhET's Accessibility Page"
We would like to add a link to PhET's accessibility page (http://phet.colorado.edu/en/about/accessibility) that links to implementation notes about the recent Parallel DOM approach.  It would be great if we could get this in for the next deploy of the live site.

html document is here, though I am not sure if @emily-phet would prefer this be exported to pdf:
http://www.colorado.edu/physics/phet/de

[2015-12-03 23:09] kathy-phet commented on #313
Great. Thanks!

[2015-12-04 02:38] mattpen commented on #328
This was deployed tonight. Closing.

[2015-12-04 02:38] #328 closed

[2015-12-04 03:17] mattpen commented on #313
This is now published to the main site.  There appears to be an error in the logic for the GA code which I'm sorting out now.

[2015-12-04 03:44] mattpen commented on #313
Ok, I think I've sorted out the GA behavior.  You can find it in GA under Event Category = Donation and Aciton = CCKAskShow (meaning the popup was displayed) and Action = CCKAskClickDonate (meaning they went to the network for good site).  If that's not clear please let me know.

[2015-12-04 15:57] mattpen commented on #306
@amanda-phet, the chromebook and ipad one-at-a-time tables are now up on phet-dev.

[2015-12-04 17:05] phet-steele commented on #312
It has been looking good to me. @oliver-phet have you checked out the spacing?

[2015-12-04 17:16] phet-steele opened #337 ""Offline" subject displays the System Name"
"Offline" subject displays the System Name box instead of the "Running Sims" subject displaying it:

It's here
![offline general](https://cloud.githubusercontent.com/assets/5863899/11596016/da737212-9a6f-11e5-83dc-f660ba477798.PNG)

Instead of here
![no system](https://cloud.githubusercontent.com/assets/5863899/11596030/ed119606-9a6f-11e5-82b8-0a79c4d98275.PNG)

[2015-12-04 17:20] oliver-phet commented on #312
Yep, looks good. Closing.

[2015-12-04 17:20] #312 closed

[2015-12-04 17:41] phet-steele commented on #318
This happens whenever a translator deletes his translation and leaves the string field empty.
Video:
https://drive.google.com/file/d/0B3HJopSo_QqLLTJRbl9KQVNJamM/view?usp=sharing

Here the "Some Dutch Question" and "Some Dutch Answer" strings get deleted from the translation admin page, and after refreshing the website the question/answer was blank in the Help Center. They are still there, hence t

[2015-12-04 17:43] phet-steele commented on #334
:+1: I'll keep a lookout for if I can manage to make this happen myself (probably can't).

[2015-12-04 17:43] #334 closed

[2015-12-04 20:28] kathy-phet commented on #313
Thanks, Matt!

[2015-12-07 16:24] mattpen commented on #337
I'll deploy the fix to phet-dev later today.

[2015-12-07 23:05] kdessau-PhET opened #338 "Add URL Redirect for CCK Donate Ask"

[2015-12-07 23:15] kdessau-PhET commented on #338
Can we make a redirect page for the CCK Ask. Call it: http://phet.colorado.ed/CCKHTML5Donate
Thanks! We will want to do this fairly soon as we want to sent out an e-mail using this URL on Monday.

[2015-12-07 23:15] kdessau-PhET commented on #338
This is for the current https://donatenow.networkforgood.org/html5donatenow
Thanks!

[2015-12-07 23:16] kdessau-PhET commented on #338
Sorry make sure that it's (of course http://phet.colorado.edu/CCKHTML5Donate)

[2015-12-08 15:34] mattpen commented on #337
This has been fixed and is live on phet-dev. Closing

[2015-12-08 15:34] #337 closed

[2015-12-08 18:41] mattpen commented on #333
Helpcenter questions are now able to be reordered in the admin page.  @phet-steele can you please test this out if you have a chance?

[2015-12-08 19:23] kathy-phet commented on #313
Hi Matt,
The GA tag seems to not be working properly. Under CCKAskShow it shows over 400,000 since Friday, but when I look at the source URLs associated with the Ask it lists all the individual sim pages (not just CCK). It is quite a bit different than if I look at the tag that is "Ask" right now (which is really the RegistrationAsk). The CCKAskClickDonate seems more reasonable at 500 since Friday

[2015-12-08 19:49] mattpen commented on #313
Kathy,
The fix I applied didn't appear because the old javascript file was cached in varnish.  Yesterday, Jonathon helped me figure out how to force the file to update.  I'm testing it out on phet-dev today and I will push the changes to the main site tomorrow night.

[2015-12-08 19:53] kathy-phet commented on #313
OK - thanks for the update. K

[2015-12-08 21:36] amanda-phet opened #339 "Change directions for comments on activity pages"
Currently, on any activity page, users can add a comment. The text next to the entry box says:

"What do you think about this activity? How did you use it or change it for your class? Professionally constructive comments welcome."

We would like to change it to say:

"How did you use this activity or change it for your class? Answer keys are often not available because the activities are inquiry b

[2015-12-08 21:51] jonathanolson opened #340 "Remove Aaron from newsletter testers email list"
In https://github.com/phetsims/website/blob/8332f4dda2c265f0eb5a61ee5fcaa6d809d140a4/src/java/edu/colorado/phet/website/admin/AdminMainPage.java, he should be removed from the list under the debug-newsletter-to-team.

[2015-12-08 23:01] jonathanolson commented on #340
Also, Ariel (Ariel.Paul@colorado.edu) should be added to the list where Aaron is removed.

[2015-12-08 23:49] oliver-phet commented on #288
@mattpen Here are a few tweaks to the look of the help center:

- Realign the icons so that they are right-aligned with CU logo
- Add text below icons
- Add hover-over color for icons (same blue)
- Remove orange 'Help Center' header

New mockup:
![new-help-center-with-icons](https://cloud.githubusercontent.com/assets/5090275/11672183/852677dc-9dcb-11e5-9236-f459e1a1f9d1.png)

[2015-12-09 18:22] mattpen commented on #338
This should be working now on phet-dev, I'm going to deploy to the main site tonight.

[2015-12-09 18:23] mattpen commented on #340
I made this change and I'll deploy it to the main site tonight.

[2015-12-09 19:19] kdessau-PhET commented on #338
Thanks Matt!

[2015-12-09 20:01] mattpen commented on #288
Is this requirement critical?  It would require making a major change to the website as its currently created by the main Wicket application, not the HelpCenter pages.  I noticed in the #301 New Sims mockup its missing as well.  Is this a change we are going to make to the entire site?  It would be easier to take it down from the entire site than just one page.

The CU Logo moves as the page is re

[2015-12-09 20:02] mattpen commented on #339
@amanda-phet  This is up on phet-dev now.  I can deploy to the main site tonight if it looks ok.

[2015-12-09 23:16] amanda-phet commented on #339
Something changed with the layout and I have already tried doing a hard refresh...
<img width="598" alt="screen shot 2015-12-09 at 4 11 45 pm" src="https://cloud.githubusercontent.com/assets/7852916/11701881/8bbbedd8-9e8f-11e5-92d2-7eb4fed03fec.png">

However, maybe we should go ahead and make a change since the text is longer?
Current
<img width="604" alt="screen shot 2015-12-09 at 4 12 36 pm" sr

[2015-12-10 00:29] mattpen commented on #339
@amanda-phet - I didn't refresh the css on the server side.  Can you try another hard refresh in your browser?  It should look like the attached screen shot now (close to the same as the current), but I can easily change it to your new suggestion.
![image](https://cloud.githubusercontent.com/assets/11747676/11703121/9844a93c-9e99-11e5-9a3d-02fc03b2ba5d.png)

[2015-12-10 00:35] amanda-phet commented on #339
It seemed to work that time! However the comment button is still too close to the box, but if this is an issue that will eventually disappear can we just not worry about it?

<img width="464" alt="screen shot 2015-12-09 at 5 34 07 pm" src="https://cloud.githubusercontent.com/assets/7852916/11703283/0b712f38-9e9b-11e5-8251-0cbe9a581b24.png">

[2015-12-10 02:32] mattpen commented on #339
I'll add a margin and push it to the site tonight.

[2015-12-10 03:34] mattpen commented on #339
Deployed to the main site.  Closing.  Please reopen if the format needs to be altered.

[2015-12-10 03:34] #339 closed

[2015-12-10 03:35] mattpen commented on #338
Deployed to the main site.  Closing.

[2015-12-10 03:35] #338 closed

[2015-12-10 03:35] mattpen commented on #340
Deployed to figaro.  Closing.

[2015-12-10 03:35] #340 closed

[2015-12-10 03:58] mattpen commented on #313
Kathy,  the javascript on figaro should have the correct logic for GA now. In the next day or so, we should stop seeing CCKAskShow events from non-CCK pages.

FWIW, I did a search on the source URL's for "circuit-construction-kit" for the CCKAskShow event since 12/3.  It shows approx 49,000 total and 23,000 unique events.  These numbers are slightly less than the total Run and Download events for

[2015-12-10 04:04] kathy-phet commented on #313
Thx!

Sent from my iPhone

On Dec 9, 2015, at 8:58 PM, Matt Pennington <notifications@github.com<mailto:notifications@github.com>> wrote:

Kathy, the javascript on figaro should have the correct logic for GA now. In the next day or so, we should stop seeing CCKAskShow events from non-CCK pages.

FWIW, I did a search on the source URL's for "circuit-construction-kit" for the CCKAskShow event since

[2015-12-10 16:29] jonathanolson opened #341 "Improve Tomcat request logging"
To help debug the times when there are stability issues, I'd like to have a separate log of all requests that Tomcat receives. Collaborating with @mattpen on this would be great.

Things I'd like:

1. A log line should be added (with a timestamp) when a request is received. This should include the URL/path, and a request ID. Probably easiest to do in PreFilter.
2. Another log line should be added

[2015-12-11 04:18] mattpen commented on #288
@oliver-phet I found an easy way to remove the orange title.  This change, along with the others, are now up on phet-dev.

[2015-12-11 04:24] mattpen commented on #288
@oliver-phet A few questions.
* Do you still want the orange title on the main page (the one with just the five icons)?
* Should the text of the category names on the main page change to cyan (or whatever you call that blue)?
* Do we need hover highlighting on the system icons?

[2015-12-11 14:59] oliver-phet commented on #288
We can keep the title on the main page (in orange, like the rest of the site). Can you make black hover highlighting for the system icons?

[2015-12-11 15:00] oliver-phet commented on #288
Also - I think the fix to remove the orange title won't work - definitely noticeable that it is there for a second.

[2015-12-11 18:55] mattpen commented on #288
I found a different fix for the orange title, and the system icons now have hover highlighting.  This has been pushed to phet-dev.

[2015-12-16 20:57] amanda-phet opened #342 "Further tweaks to front page"
After some feedback from team members we'd like to change the color of the Play with Simulations and Teachers Register Here buttons. Instead of the raspberry color, they should both be the same navy as the banner. The play icon will also change to "PhET blue" instead of white. (This is the same as the help center icon.)

<img width="336" alt="screen shot 2015-12-16 at 1 53 51 pm" src="https://clou

[2015-12-17 01:03] amanda-phet commented on #306
This is looking great. However, we want to make a change to the Desktop/Laptop table. Since it's a long table, users might appreciate being able to sort by technology type. So, we are thinking we should use the sortable table (the purple one that is on sim pages with activities listed) and make a column for each code base.

This would be simple if you were using the purple table as it is, but some

[2015-12-17 02:12] mattpen commented on #301
@amanda-phet Can you send a mock-up of how the index page should look as well?  Should there be a separate "Newest Sims" section on that view also, or just leave it as is?

Can you send the colors (hex, rgb, or names) for the background and text of the "NEW" ribbon?  I can make the banner with HTML/CSS so no artwork needed. ( There might be some issues with rendering, I'll ask for artwork if the C

[2015-12-17 02:59] jonathanolson opened #343 "Check December 16th installer"
Lots of errors in sim pages, looks like a component wasn't added if the installer user-agent was present. Might be missing every sim page.

[2015-12-17 03:18] jonathanolson commented on #343
Confirmed that the installer is buggy, showing no main content for every sim page:

![bad-installer](https://cloud.githubusercontent.com/assets/480878/11860434/1059d274-a432-11e5-868f-30ec6ac22087.PNG)

@jbphet, can we roll back the installer? @oliver-phet, any complaints about the installer during this period are probably related to this bug.

[2015-12-17 16:46] jbphet commented on #343
When was this problem introduced (so that I can figure out what version to roll back to)?

[2015-12-17 16:48] jonathanolson commented on #343
Looks like https://github.com/phetsims/website/commit/e285545d4c25562b340d14c99fe819cc8b608f9b?

[2015-12-17 21:09] jbphet commented on #343
I tested and then put up the installers built on Dec 2 2015, since they don't have this issue.  @oliver-phet tested after downloading directly from the web site, and will inform the one user who contacted us about the issue.

[2015-12-18 00:56] jonathanolson opened #344 "Consider setting project visibility to true if a sim's visibility is changed to true"
Assigned to developer meeting for discussion/feedback.

[2015-12-18 05:01] mattpen commented on #341
@jonathanolson I added a new logger to capture this information and deployed it to figaro tonight.  The new log resides at /usr/local/tomcat/logs/request.log

[2015-12-18 05:04] mattpen commented on #343
The fix for the website/installer was pushed to figaro tonight.  [Commit is here](https://github.com/phetsims/website/commit/0edf7b95492db9ff5b509cd4fdf94dea1fb701ca)

[2015-12-18 05:07] mattpen commented on #342
@amanda-phet What is the light blue color behind the "play" triangle?  Is it the same color as the register button?

[2015-12-18 08:42] jonathanolson commented on #341
Thanks! Assigning to myself to investigate once there's a stability event.

[2015-12-18 15:56] amanda-phet commented on #342
The play triangle is just the play icon that is used in the help center. Right now, this icon is white on a raspberry button but we'd like it to the "PhET blue" on a navy button. PhET blue is from the logo and is #6ACEF5; navy is from the banner and is #2A326A. I can email you a .svg image of the play icon needed.

[2015-12-18 16:06] mattpen commented on #342
Thanks Amanda.  I'll put this up on phet-dev later today for review.

[2015-12-18 18:59] mattpen commented on #306
@amanda-phet - I've made these changes and posted them to phet-dev.  I left the chromebook/ipad tables as-is because they are smaller, but I can apply the same style/sortability pretty easily.

[2015-12-18 19:03] mattpen commented on #321
@phet-steele I removed these buttons on phet-dev.  Anything left to do?

[2015-12-18 19:04] mattpen commented on #342
@amanda-phet Can you check the buttons on phet-dev and let me know if they look ok?

[2015-12-18 19:09] amanda-phet commented on #306
That came together really quickly! I don't think the other tables need to be sortable since they only contain HTML5 sims.

One small tweak- can the double arrows show a down or up when being sorted? In the mockup, simulation name only has a down arrow because that is the default sort. It would change to up if clicked again, or another column would change to down if clicked.

[2015-12-18 19:14] amanda-phet commented on #342
Just one minor issue: it seems like there is an extra space to the left of the text in the buttons. This is problematic when I hover and see an extended underline to the left of the text.

Otherwise, the look great!

[2015-12-18 19:44] mattpen commented on #342
Thanks,  I'll remove the extra space and push to the main site next week.

[2015-12-18 20:00] amanda-phet commented on #342
Awesome, thank you.

[2015-12-21 18:25] jbphet commented on #343
I ran an installer over the weekend and it looks good, so it appears that the fix referenced in the previous comment worked.  I will leave the auto build in place, and the installers should be checked after that finished, which should be by 6 am MST on Wed Dec 23rd.

[2015-12-21 21:32] amanda-phet commented on #301
The index view can look the same as it currently does. There will not be a "newest sims" section.

The "NEW" ribbon is #FDAE38.

[2015-12-22 04:07] mattpen commented on #324
@oliver-phet - I've adjusted the translations table and added the option to upload translations by locale.  There is a new section in the Simulations admin page.  This is now up on phet-dev if you want to take a look or test it out.

[2015-12-22 04:10] mattpen commented on #306
@amanda-phet The tables now have dynamic sort icons.  This has been posted to phet-dev.

[2015-12-22 05:08] mattpen commented on #301
Thanks @amanda-phet. I've added these changes to phet-dev.  As we don't have the "newest" category added yet, I just added the first three sims in the list to the Newest section.  Let me know once that category is added, or if there needs to be any adjustments.

[2015-12-22 05:09] mattpen commented on #324
I added a couple of empty pdf's to alpha decay to test it out.

[2015-12-22 17:24] samreid commented on #344
**Consensus from meeting: go for it**

@mattpen will look into it.

[2015-12-22 18:37] mattpen commented on #344
@jonathanolson I've published the change to simian.  If you have a moment, can you check the commit above?

[2015-12-22 18:38] amanda-phet commented on #301
So if we add a "newest" category, it will also show up in the left-hand navigation. Is it possible to make "newest" a keyword or something that is more hidden from navigation?

[2015-12-22 18:45] amanda-phet commented on #324
I'm finding these tables to be a bit problematic. Different sims seem to show different column widths, and in this extreme case the "Download or Run" title doesn't line up at all with the column. I also worry that the translated sims are not getting enough room when that is probably the most important content in this table. Is it because the first few columns can get too wide? can we put a max wid

[2015-12-22 18:48] jonathanolson commented on #344
Looks great to me.

[2015-12-22 18:48] amanda-phet commented on #306
These seem to be working great! My only tweak would be to add some space between the word and the arrows. I'll see what the team thinks at tomorrow's meeting!

[2015-12-22 19:41] mattpen commented on #344
Ok, I'll push this to figaro on the next deploy.

[2015-12-22 19:49] mattpen commented on #324
@amanda-phet We can put a max width on the first two columns, but then they will wrap around to a second line.  There's just not enough room in the main-content section of the page to format the table like Oliver posted.  Is the third column necessary?  Other than the word "All" it seems to be a duplicate of the first column.  I could eliminate the third column and make the second column link to t

[2015-12-22 19:51] amanda-phet commented on #324
That's a good idea. I will bring that up to the team tomorrow. Thanks!

[2015-12-22 20:12] ariel-phet commented on #306
:+1: No question that more negative space is needed between the words and sort arrows, please increase it @mattpen

[2015-12-22 21:29] mattpen commented on #306
I added spacing before the icons.  This is now up on phet-dev.

[2015-12-22 21:35] mattpen commented on #301
@amanda-phet That's a great suggestion.  I added a newest keyword on phet-dev and added a few sims.  The Newest panel will now only display the first three sims (alphabetically) that have the newest keyword.

Can you comment on the "new" ribbon that is overlaying the HTML5 sims?  I've noticed that if you zoom in on Chrome there are small (< 1 pixel) breaks in the orange background.  If you want th

[2015-12-22 23:32] amanda-phet commented on #301
I hadn't noticed it but now that you mention it, I see it slightly in Chrome and Safari, but in FF I see a lot more pixel breaks. It looks like the shape is composed of small triangles and an overlaying rectangle. However I did need to look pretty carefully to notice this.

[2015-12-23 21:39] oliver-phet opened #345 "Terminate the translation utility image on 'For Translators' page"
<img width="1014" alt="screen shot 2015-12-23 at 2 33 09 pm" src="https://cloud.githubusercontent.com/assets/5090275/11985533/f32d3690-a982-11e5-82a2-c85c58659c0f.png">

[2015-12-23 21:58] mattpen commented on #345
@oliver-phet I've already removed this, it was pretty trivial.  Do you want me to post it on phet-dev?

[2015-12-23 22:06] oliver-phet commented on #345
Sure. Post to phew-dev
--
Oliver Nix
PhET Interactive Simulations
University of Colorado
oliver.nix@colorado.edu<mailto:oliver.nix@colorado.edu>

On Dec 23, 2015, at 2:58 PM, Matt Pennington <notifications@github.com<mailto:notifications@github.com>> wrote:

@oliver-phet<https://github.com/oliver-phet> I've already removed this, it was pretty trivial. Do you want me to post it on phet-dev?

—
Repl

[2015-12-24 02:32] mattpen commented on #345
@oliver-phet This is up on phet-dev now.

[2015-12-24 20:19] mattpen opened #346 "Changes to the New Sims page"
As discussed in a skype conversation with @amanda-phet, we are planning to change the New Sims page back to a "Category" style page.  It is currently an "HTML5" page not dependent on the category of the sims.  The HTML5 page in its current state will be separated and linked in the nav menu under Simulations.

I'm assigning this to myself.  I'll start work on it as soon as the design changes in #30

[2015-12-24 20:24] mattpen opened #347 "Standardize table format"
As discussed with @amanda-phet, the tables across the site currently do not have a standard style.  The row heights and font styles should be the same for all tables.  The colors will be dependent on whether the table is sortable (purple) or static (blue).  Sortable tables should have sort-icons appended.  Column widths will not be standard as they depend on the content of each table.

Assigning t

[2015-12-24 20:31] mattpen commented on #345
As there was some confusion, I'm clarifying which of the in-progress website changes are dependent on each other.
This change is not dependent on any others.  It is currently staged for the next deploy to the main site (early next week).

[2015-12-24 20:32] mattpen commented on #342
As there was some confusion, I'm clarifying which of the in-progress website changes are dependent on each other.
This change is not dependent on any others.  It is currently staged for the next deploy to the main site (early next week - delayed due to newsletter).

[2015-12-24 20:33] mattpen commented on #330
@phet-steele - this should be fixed on phet-dev.  Its currently staged for deployment next week.  I tested it on FF, Chrome, and IE on Win 7.

[2015-12-24 20:35] mattpen commented on #324
As there was some confusion, I'm clarifying which of the in-progress website changes are dependent on each other.
This change is not dependent on any others.

[2015-12-24 20:36] mattpen commented on #306
As there was some confusion, I'm clarifying which of the in-progress website changes are dependent on each other.
This change is dependent on the help-center being deployed.  It can be deployed after or at the same time as the help-center, but not before.

[2015-12-24 20:38] mattpen commented on #298
As there was some confusion, I'm clarifying which of the in-progress website changes are dependent on each other.
This change is dependent on the help-center.  It will be deployed at the same time as the help-center.

[2015-12-24 20:39] mattpen commented on #288
As there was some confusion, I'm clarifying which of the in-progress website changes are dependent on each other.
This change is dependent on the sponsor-page.  It will be deployed at the same time.

[2015-12-29 06:08] jbphet commented on #343
I tested the Windows version of the installers built on Wed Dec 23rd, and it looked fine - no problems with the sim pages.  Looks like this is fixed, closing.

[2015-12-29 06:08] #343 closed

[2015-12-29 06:30] mattpen commented on #161
@amanda-phet - I took a stab at this tonight.  This dropdown selector is used in several places across the site (the website translation page for example).  Is it ok to go ahead and implement this behavior across the entire site?  If so this change is pretty trivial.

[2015-12-29 16:55] oliver-phet commented on #343
I just tested this on my Mac and all worked fine.

[2015-12-30 20:22] mattpen commented on #167
@jonathanolson - Do we need to convert all the emails to lowercase before making the sign-on case insensitive?  It looks like Aaron's fix earlier just made all emails lowercase, not case-insensitive.  Wouldn't it be easier to handle this through the salt rather than at the email prompt?

I tested the above commit on the VM and it seems to be working with a handful of accounts I created.  Can you p

[2015-12-31 20:27] mattpen commented on #277
@jonathanolson - I implemented this in a feature branch - see translation-fallback.  The change will cause any page displayed in a locale that is not visible to first try dropping the country code and then revert to English.  (The fallback to English is not currently working on figaro).

The only thing I couldn't figure out was the actual redirection of the URL.  For example, on the branch if you

[2016-01-02 17:21] kathy-phet opened #348 "Statistics on registered teachers"
Matt, Can you look at the number of registered users - both those with updated profiles, and those still with the older profiles - and identify the number of teachers from the total users? Right now total users seems to be 118913 from admin stats.

Here is the query that Aaron used for this previously .. where the older profiles are the "description" query.
select count(*) from phet_user where tea

[2016-01-02 17:29] kathy-phet opened #349 "Add flag to profiles with bad or unconfirmed emails"
JO, Matt,

Can we add a flag to each user in our database that represents whether it is a good/active email or not?

We need this flag in order to work on integration with Salesforce in mid-Jan, and only sending salesforce good emails/users.

Two steps I see are:
1) Flag anyone who never confirmed their email (after the confirmation was required) .... assuming they cannot actually login without co

[2016-01-02 17:32] kathy-phet opened #350 "Number of activity comments 12/1/2014-11/30/2015"
Is it possible to determine the number of activity comments posted in this timeframe? I need it for a grant report. Thx

[2016-01-02 17:34] ariel-phet commented on #350
@mattpen if this is a bit tricky to do, the website does automatically generate an email with all the activity comments. If we amalgamate those emails we could have someone like Steele manually go through them - it would be tedious, but not particularly difficult.

[2016-01-02 18:15] kathy-phet opened #351 "Add new reporting to Admin/Statistics page"
Rework "General Statistics" (found under Admin/Statistics) from OLD:
Total visible simulations: 160
Total activities: 1238
PhET activities: 227
Number of languages (including English) that sims are translated into: 82
Number of sim translations (including English): 5665

Number of users: 118918
Users subscribed to receive our newsletter: 86495
Users subscribed to receive simulation notifications:

[2016-01-02 19:47] kathy-phet opened #352 "Update Total sims served"
Hi Matt, I updated the statistics. Can you change the value on the front page of the website to read over 315 million simulations delivered.  k

[2016-01-03 15:06] kathy-phet opened #353 "Post warning for downtime for Figaro"
@jonathanolson - Might you have time today (Sunday) to post a warning for scheduled downtime onto Figaro?

Warning: PhET's server will be down for maintenance on Monday, January 4 from 11:00-11:45 pm (MST).

Assuming 45 min is certainly enough time for a reboot and spinning everything back up.

Thanks!

[2016-01-03 17:09] kdessau-PhET commented on #353
@ariel-phet do you want me to twitter this? Or will you? I will blog and FB today.

[2016-01-03 17:33] kdessau-PhET commented on #353
I will also blog/FB about this.

On Jan 3, 2016, at 8:06 AM, kathy-phet <notifications@github.com<mailto:notifications@github.com>> wrote:

@jonathanolson<https://github.com/jonathanolson> - Might you have time today (Sunday) to post a warning for scheduled downtime onto Figaro?

Warning: PhET's server will be down for maintenance on Monday, January 4 from 11:00-11:45 pm (MST).

Assuming 45 min is

[2016-01-03 21:31] kathy-phet commented on #353
Done! I did not know I had the power, but I do. Under "English" in translation, just add the maintenance text and you are done.

[2016-01-03 21:31] #353 closed

[2016-01-04 15:08] mattpen commented on #348
@kathy-phet - as of this morning the count for this query is 76357.  Do you want to add this query to the Statistics page?

[2016-01-04 15:23] mattpen commented on #350
By activity comments, I'm assuming you mean the comments posted on pages like this: http://phet-dev.colorado.edu/en/contributions/view/3320?

If so, there were 135 new comments posted during this period.

[2016-01-04 15:26] mattpen commented on #348
Disregard the question, I just realized this is requested in a different issue - #351.  Is it ok to close this one?

[2016-01-04 15:43] mattpen commented on #352
@kathy-phet - I've updated the website with the new number.  I'll deploy this change Tuesday night.

[2016-01-04 15:47] mattpen commented on #349
@kathy-phet - we are already flagging users who have not yet confirmed their email.  There are 4114 of these users.  Flagging users when their emails bounce will take a little more effort, as I don't think this is currently recorded in the log.  I'll check on it.

[2016-01-04 16:01] mattpen commented on #351
@kathy-phet - do we need statistics on Flash sims here too, or just Java and HTML?

[2016-01-04 16:15] ariel-phet commented on #353
Tweeted

[2016-01-04 16:36] phet-steele commented on #321
Nope, thanks!

[2016-01-04 16:36] #321 closed

[2016-01-04 16:58] mattpen commented on #351
Website: Number of languages that website is translated into:

I'm assuming this should be the number of visible translations as opposed to all translated languages or supported locales.  If I'm wrong please correct.

[2016-01-04 16:58] mattpen commented on #321
Thanks, I'll deploy this to figaro tomorrow.

[2016-01-04 17:03] phet-steele commented on #333
It works well, but I have two gripes about this:

The ordering gets slightly difficult when ordering the "Running Sims" questions. Currently the admin page lists all the subcategories in one list so the list could appear like this:

A Windows Question
A Mac Question
A Second Windows Question

Moving the second windows question up doesn't actually change the order of questions since it is still aft

[2016-01-04 17:46] phet-steele commented on #333
@oliver-phet reordering has not been affecting translations. If something was translated, it did not become "not translated" or "out of date".

[2016-01-04 17:50] oliver-phet commented on #333
Thanks @phet-steele.

@mattpen Can you comment on the ability to have the admin page for Running Sims separate the subcategories into different, reorder-able lists? Once that is resolved, we are ready to publish to the site (hidden at first)

[2016-01-04 18:02] mattpen commented on #333
@oliver-phet @phet-steele I should be able to separate the running sims sub categories today.  I'll try to get it up on phet-dev by tonight and if it looks good we can do the silent deploy to the main site tomorrow.

To clarify the question from @phet-steele, I added a new column to the helpcenter database to track the order.  When hitting move up or down, it looks for the next item in the list an

[2016-01-04 18:02] oliver-phet commented on #333
Thanks @mattpen that all sounds good.

[2016-01-04 18:26] amanda-phet commented on #161
@ariel-phet is it ok to implement across the site? I'm not aware of any other instances of it, so it might be good to know all of them before moving ahead with this.

[2016-01-04 19:06] ariel-phet commented on #161
@mattpen @amanda-phet - I think it would be OK to implement across the site. If you are viewing the website in a particular locale, there seems to be no downside to displaying the dropdown with languages in that locale.

[2016-01-04 19:37] amanda-phet commented on #301
Based on a skype call with @mattpen we decided to make the following final tweaks to the current phet-dev page. @mattpen please check these off as they are completed.

- [ ] Replace the main sim page title ("New Sims") and remove the sub-titles ("Newest Sims" and "All New Sims").
- [ ] Fix the grid/list icons so that the *active* one is black, and the inactive one is gray. When the user hovers ove

[2016-01-04 21:09] mattpen commented on #349
@jonathanolson and I discussed this earlier today. We currently don't have a method for doing this automatically.  I am going to write a utility to parse through the undeliverable reports in the phetmail@colorado.edu inbox and flag the affected users in the database.

@kathy-phet Should we indicate to the user somehow that we are no longer able to send them email?  For instance on their Edit Profi

[2016-01-05 00:19] amanda-phet commented on #306
It would be nice to address #347 first, but if that is not possible then the minor tweaks for this page include:
- [ ] remove the space after the icons in the chromebook and iPad tables
- [ ] make the row heights for the chromebook and iPad tables the same as the laptop table
- [ ] make the column titles for chromebook and iPad tables *not* bold
- [ ] Add the following text under the iPad heading

[2016-01-05 00:27] amanda-phet opened #354 "Remove "updated" column from activity tables"
The activity tables are currently very crowded, and with the addition of the sorting arrows we decided at a 12/23 design meeting to remove the Updated column. The information is still available on the activity page, and when we eventually tackle the teaching resources we will revisit the information in the tables with a more holistic vision.

This change is independent of other website changes and

[2016-01-05 17:35] oliver-phet commented on #345
@mattpen Can you add an extra line break at the end of each section so that the 3 sections are more spaced out.

[2016-01-05 17:42] oliver-phet opened #355 "Clean up email notifications for website translations"
@jonathanolson In an email mentioned:
"Looked into it, and it seems that this is probably going on for other translators (at least for creating a copy of a translation, as a form of publishing). It basically notifies on translation creation in a locale, BUT doesn’t send email to phet team members."

Currently, when a new copy of a translation is made visible, the translator is getting an email not

[2016-01-05 21:20] mattpen commented on #333
@oliver-phet @phet-steele - I wasn't able to get this up on phet-dev today, the internet connection where I'm working is terrible.  I'll get it posted on phet-dev tonight and we can push it to the main site later this week.

[2016-01-05 21:58] mattpen commented on #345
Sure thing.  Was everything else ok?  I can deploy this to the main site tonight.

[2016-01-05 22:01] oliver-phet commented on #345
Yep, all good.

[2016-01-05 22:16] mattpen commented on #351
@kathy-phet - I'll publish these revisions to phet-dev tonight.  The only thing missing will be "Number of user accounts with good/confirmed emails:" which is dependent on #349

[2016-01-05 22:17] oliver-phet opened #356 "ar_SA not included in top website translation list to update"
@kathy-phet Noticed a discrepancy in our website translation numbers. There appear to be 36 website translations (37 including English).

ar_SA (#9) is not included in the top 'Update a translation table', which is an easy table to use to count translations. It may be nice to have the total number of published website translations available under Administration>Statistics

[2016-01-05 22:22] kathy-phet commented on #356
I would actually like to know why ar_SA isn't included in the Table, and go ahead and fix that.

[2016-01-05 22:34] oliver-phet commented on #356
I believe the update table was created by @jonathanolson Was there a restriction on the ar_SA translation to not have it updatable?

[2016-01-05 22:47] oliver-phet opened #357 "Add blurb to 'For Translators' page about translating Tips"
This blurb can go below the 'Translating the Website' section:

**Translating Teacher Tips**

*The Teacher Tips associated with every sim can be translated by editing the original .pdf document. Translated Teacher Tips can be emailed to phethelp@colorado.edu for publication on the website. Please send .pdf documents only.*

[2016-01-06 03:56] mattpen commented on #356
@oliver-phet - The total count of visible translations will be added to the website as part of #351.

It appears that the actual published translation for ar_SA is the 'parent' rather than a 'child', which is why it is not showing up in the update table list.  English is the only other translation where the parent is published and not a child.  This explains why it is not in the list, but I'm not

[2016-01-06 06:20] mattpen commented on #288
@oliver-phet - I commited the changes for #333 tonight and it was working.  It was a minor change, so I went ahead and pushed the helpcenter to the main site.  It is only accessible for now in the admin page and in the translation utility.  It is safe to go ahead and start adding the Q/A strings.

As its structured, there is no way to make the actual pages live without publishing links in the navi

[2016-01-06 06:22] mattpen commented on #342
@amanda-phet - I deployed this change tonight on the main site.  There is currently an issue with the color of the teacher icon, but it should be fixed by the morning.

[2016-01-06 06:23] mattpen commented on #298
This was deployed to the main site tonight (finally!).

[2016-01-06 06:24] mattpen commented on #344
Deployed to figaro. Closing.

[2016-01-06 06:24] #344 closed

[2016-01-06 06:26] mattpen commented on #351
@kathy-phet The new statistics page is up on the main site now.  I'm still working on flagging users whose emails have bounced, but that statistic should be fixed soon.

[2016-01-06 06:28] mattpen commented on #345
Deployed to the main site tonight.  Closing.

[2016-01-06 06:28] #345 closed

[2016-01-06 06:38] mattpen commented on #313
The GA metrics have been reporting less than 3 CCKAskShow events/day for non-CCK pages for ~3 weeks.  Closing as it appears to be working correctly.

[2016-01-06 06:38] #313 closed

[2016-01-06 06:39] mattpen commented on #357
@oliver-phet - should we wait until #324 is complete to implement this, or is it ok to go ahead and post it?

[2016-01-06 06:58] mattpen commented on #342
The colors are fixed now.  Closing.

[2016-01-06 06:58] #342 closed

[2016-01-06 07:03] mattpen opened #358 "Notify user if emails are bouncing"
As mentioned in #349, we are going to start flagging user accounts when we determine that they are not receiving automated email from us.  While discussing the issue with @jonathanolson, it was decided that we would like to notify the user and request they check and/or update their address while they are logged into the website.  Perhaps either via a popup when they logon (this might be too annoyi

[2016-01-06 07:13] kathy-phet commented on #358
Amanda,

Just to elaborate some about this issue. With teachers moving schools and such, we are getting a lot of obsolete email address and the goal is to fix that so that at least for most teachers/contacts we have good contact information.

So this would only apply to users who try to log in, who have been identified as having a bad email address (basically 2 or more failures in a row). So only

[2016-01-06 07:19] kathy-phet commented on #298
Sponsor page looks much improved! But I noticed that some of the images took a very long time to load.

Can we resize these images so that they are just a bit higher resolution than what we need at 100%, and so suit most zoomed in levels. This would ensure they load fast and do not use too much unnecessary bandwidth? The KSU one for instance is huge.

Perhaps one of the undergrads, or Steel could

[2016-01-06 07:46] kathy-phet commented on #351
Hi Matt, This is looking great. I realized that it would be good to also have the intersection of the translations - since I cannot just add these to get the total number of languages that sims are translated into.

So can you modify to be:

Total Sim Translation Languages (including English): (this will be less than 79+17, but should be larger than 79 because I had 80 in my DRK12 report)
Total Nu

[2016-01-06 15:17] oliver-phet commented on #357
Yes, please wait until #324 is complete.

[2016-01-06 15:41] ariel-phet commented on #352
Looks good, closing

[2016-01-06 15:41] #352 closed

[2016-01-06 15:43] ariel-phet opened #359 "Odd/unneccesary character preceding copyright in footer"
There is an unnecessary character preceding the copyright statement in the footer

![footer](https://cloud.githubusercontent.com/assets/4051174/12146556/7daf8f88-b451-11e5-80fe-183e34dca194.PNG)

[2016-01-06 17:12] kathy-phet commented on #348
Thanks, closing!

[2016-01-06 17:12] #348 closed

[2016-01-06 17:13] kathy-phet commented on #351
Sorry Matt - the "Java Sims" line should really be Jave/Flash Sims"

Java/Flash Sims: Number of languages (including English) that sims are translated into: 82
Java/Flash Sims: Number of sim translations (including English): 5665

[2016-01-06 18:28] mattpen commented on #306
@amanda-phet -- Regarding "make the row heights for the chromebook and iPad tables the same as the laptop table", do you prefer the taller height or shorter?

[2016-01-06 18:31] amanda-phet commented on #306
The shorter height seems to be working well in the laptop table, so let's go with that.

[2016-01-06 18:59] mattpen commented on #347
List of tables that need to be standardized:

- [ ] simulations/sim-name: Teacher-Submitted Activities table
- [ ] simulations/sim-name:  Translations table
- [ ] simulations/translated: main table
- [ ] simulations/translated/locale: main table
- [ ] offline-access: one-at-a-time
- [ ] offline-access: ipad and chromebook
- [ ] for-translators/translation-credits: all tables